[2018-05-31 08:26] atondwal commented on #1324
Minimizing: the following is marked SAFE, but removing ANY line except line 10 makes it unsafe.

[code]

[2018-05-31 08:34] atondwal commented on #1324
Minimized (no, I'm not sure why  lines 7 or 11 are necessary yet either...):

[code]

[2018-05-31 08:52] atondwal commented on #1324
oh, this is the same issue as mentioned in https://github.com/ucsd-progsys/liquid-fixpoint/pull/367

[2018-05-31 08:59] atondwal commented on #953
You can now do the thing you wanted using the new feature: Implicit Paramters!

Check it out:

[code]

(It's still being worked on, so let me know if you run into any strangeness with it)

[2018-05-31 09:28] atondwal commented on #1324
This is fixed by https://github.com/ucsd-progsys/liquid-fixpoint/pull/369

[2018-05-31 10:58] atondwal opened #1325 "Crash with Implicits"
[code]

gives

[code]

[2018-05-31 13:50] nikivazou opened #1326 "Import issues + reflection"
Consider file [`A.hs`](https://github.com/ucsd-progsys/liquidhaskell/blob/ec68ad1e80eeacfe2f1fc09d976c44162994668b/tests/todo/T1326A.hs) that uses reflection and defines a data type `Term` with a measure and an invariant.

File [`B.hs`](https://github.com/ucsd-progsys/liquidhaskell/blob/cdc6349668292448e7a1ff6f0342aa5cee267a08/tests/todo/T1326B.hs) defines a data type that is using `Term`: `data P

[2018-05-31 15:13] ranjitjhala commented on #1325
Looks like you aren’t generating the constraints properly for implicits?
Some fq related invariant is not being met.

On Thu, May 31, 2018 at 3:58 AM Anish Tondwalkar <notifications@github.com>
wrote:

[2018-05-31 15:17] ranjitjhala commented on #1326
Yes this is a “known” issue in that I think Ryan Scott also hit it at some
point. Thanks for bumping it; should be fixed maybe when we properly solve
the import issue using ghc annotations.

For now this issue can serve to document the workaround!

On Thu, May 31, 2018 at 7:02 AM Niki Vazou <notifications@github.com> wrote:

[2018-05-31 15:31] nikivazou commented on #1326
@ranjitjhala, what do you mean "solve the import issue using ghc annotations"?
Is this plan documented somewhere or is anyone working on it?

[2018-06-06 16:49] nikivazou opened #1328 "Error in the encoding of Bags"
Currently we cannot prove the following property

[code]

Because it does not hold!
The SMT query is the following
[code]
Which is SAT with a model that maps in `ys` `x` to `-1` :)

Solution: set values in the bags to natural numbers:

[code]

Thanks to @CodePeters

[2018-06-06 17:03] ranjitjhala commented on #1328
Interesting! Could probably implement it quite easily!

[2018-06-06 17:07] nikivazou commented on #1328
I am about to implement it. [ @ranjitjhala reminder, can you update the liquid server? ]

I will create a new SMT type for bags, since otherwise I will break the following

[code]

since we will not be able to e.g., insert on arbitrary keys that currently are mapped to SMT ints.

[2018-06-06 17:22] ranjitjhala commented on #1328
Ok good idea.

I believe I updated the demo server last night can you check?

On Wed, Jun 6, 2018 at 10:08 AM Niki Vazou <notifications@github.com> wrote:

[2018-06-06 17:26] nikivazou commented on #1328
Great! It works thanks!

Well, if I encode the values to bags as user defined/inductive natural numbers, then we are loosing all the linear arithmetic automatic reasoning....
Properties like the following will be hard to prove:

[code]

[2018-06-06 17:29] ranjitjhala commented on #1328
Is this property easy to prove now?

On Wed, Jun 6, 2018 at 10:27 AM Niki Vazou <notifications@github.com> wrote:

[2018-06-06 17:32] nikivazou commented on #1328
Yes! The following is SAFE:

[code]

On Wed, Jun 6, 2018 at 1:29 PM, Ranjit Jhala <notifications@github.com>
wrote:

--
Niki Vazou

[2018-06-06 17:33] ranjitjhala commented on #1328
Ah I see with plain Int union uses plain + (as opposed to peano plus) so
its all easy for SMT...

On Wed, Jun 6, 2018 at 10:29 AM Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

[2018-06-06 17:36] nikivazou commented on #1328
Worse, if the peano plus is at the SMT level, the user have to way to actually do the reasoning in Haskell level.

So better if we just add the following assumption at the Bag definition and leave everything else as is...

[code]

[2018-06-06 17:43] ranjitjhala commented on #1328
It may be simpler to stick with Int and prove your thing as a theorem? (Use
the usual refined Nat as the domain of the bag?)

On Wed, Jun 6, 2018 at 10:32 AM Niki Vazou <notifications@github.com> wrote:

[2018-06-06 18:01] nikivazou commented on #1328
There is no domain of `Bags` that Haskell is aware of.
The encoding of Bags are Maps is only known to the SMT solver, in Haskell no Int appears, so there is no way to refine it to Nat.

e.g., in the type of `put` there is no int: https://github.com/ucsd-progsys/liquidhaskell/blob/develop/include/Language/Haskell/Liquid/Bag.hs#L22

[2018-06-06 18:01] nikivazou commented on #1328
In short, I do not think I can prove my theorem

[2018-06-06 18:11] ranjitjhala commented on #1328
Sure leave it as an assume for now; I think I know how to “prove” it...

On Wed, Jun 6, 2018 at 11:01 AM Niki Vazou <notifications@github.com> wrote:

[2018-06-06 18:13] nikivazou commented on #1328
I am very curious on how you can "prove" it. Let me know if you do :)

I mean the theorem does not hold, SMT gave a model to disprove it (with the -1 value)

[2018-06-06 19:44] ranjitjhala commented on #1328
Well, in the Haskell code, we write:

  type Bag a = Map a Int

My plan is simply to refine the above to

  type Bag a = Map a Nat

where Nat is our usual `{v:Int | 0 <= v}`

at which point it should be possible to prove the fact?

On Wed, Jun 6, 2018 at 12:10 PM Niki Vazou <notifications@github.com> wrote:

[2018-06-07 04:04] nikivazou commented on #1328
@ranjitjhala, you are correct!

To prove that `empty /= put x xs` you need to tell to the SMT that the mapping of `x` on the map `xs` is not negative, which is true, since `put x xs :: Nat`. So, the following is safe

[code]

[2018-06-07 04:04] #1328 closed, assigned to nobody

[2018-06-07 04:16] ranjitjhala commented on #1328
Nice! Can you put that `thm_bags_emp` in someplace permanent in the repo so we can refer to it?

[2018-06-11 19:57] CodePeters opened #1331 "crash: SMTLIB2 respSat: unknown function/constant smt_map_sel""
This is the minimal example that produces the error:

[code]
The above produces the error:
[code]

I'm using the latest version of liquid Haskell. Also, I would just mention that the error is produced only if we import  Language.Haskell.Liquid.Bag	(or Data.Set).

[2018-06-13 03:54] formrre opened #1332 "Diverging program proclaimed safe"
Playing around with examples from:
https://mail.haskell.org/pipermail/haskell-cafe/2010-January/072600.html

I came up with this minimal modification of the example, which Liquid Haskell proclaims safe, yet it doesn't terminate.

[code]

[2018-06-13 04:11] ranjitjhala commented on #1332
Yes, this is a _longstanding_ issue, c.f. https://github.com/ucsd-progsys/liquidhaskell/issues/159

@nikivazou perhaps we should button down and fix it :)

[2018-06-13 04:11] #1332 closed, assigned to nobody

[2018-06-13 04:11] ranjitjhala commented on #1332
PS: thanks @formrre for bumping it up!

[2018-06-13 17:29] snap9 opened #1333 "Termination - unsafe?"
Liquid Haskell is marking the following clearly safe code as unsafe:

    foo :: Int -> Int -> Bool
    foo i1 i2
        | i1 < i2 = foo i2 i1
        | otherwise = True

Are there plans to remedy this?

[2018-06-13 17:39] nikivazou commented on #1333
This is not clearly SAFE, since it might diverge (as you observe).
You can turn termination checking of using the `--no-termination` flag when you call liquid or add the following pragma in your code `{-@ LIQUID "--no-termination" @-}`

[2018-06-13 18:17] ranjitjhala commented on #1333
@nikivazou I think @snap9 means this code _cannot_ diverge,
and is wondering how to get LH to prove this fact.

In fact, you can -- it requires a tricky termination metric,
essentially the `max (i2 - i1) 0`. So the following works:

[code]

You can [play with it here](http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1528913759_26542.hs)

[2018-06-13 18:17] #1333 closed, assigned to nobody

[2018-06-13 18:18] ranjitjhala commented on #1333
PS: @snap9 thanks for the interesting example :)
Do let us know -- i.e. reopen -- if the above doesn't make sense...

[2018-06-13 20:30] snap9 commented on #1333
@ranjitjhala Thanks for that! Is it possible to prove this for similar examples that are only Ord but not numbers? Example that fails: http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1528921727_26549.hs

[2018-06-13 21:57] ranjitjhala commented on #1333
Sure, you just modify the `i2 - i1 >= 0` to be `i2 > i1` and use `1` instead of `i2 - i1` so the following works:

[code]

http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1528926939_26552.hs

[2018-06-14 17:31] snap9 commented on #1333
@ranjitjhala Thank you, this works, but what are 1 and 0 here? Is 1 just a synonym for "it decreases during next recursive call" and 0 for "it terminates right now"? I don't see this termination feature documented anywhere...

[2018-06-14 18:13] ranjitjhala commented on #1333
@snap9 they are simply the integers (or rather, natural numbers) `0` and `1`.

The expression in `[...]` is a "termination metric", which is
some expression mapping the function inputs to an integer
that is:

1. _Strictly decreasing_ and
2. _Non-negative_

at each recursive call. LH checks the above facts (1, 2) are true,
and if so, verifies that the function is terminating.

Hmm, you are right --

[2018-06-14 21:22] snap9 opened #1334 "FEATURE: Pattern Synonyms"
Either a sequence is empty or it isn't. Both cases are covered in

    import Data.Sequence (Seq((:<|), Empty))
    foo :: Seq a -> Bool
    foo Empty = True
    foo (_ :<| _) = True

yet LiquidHaskell doesn't like it.

Demo: http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1529011239_26561.hs

[2018-06-14 21:50] buggymcbugfix commented on #770
We would be interested in using Liquid Haskell at work but are using Protolude, so this would be a deal-breaker for us. But, I may be able to convince my colleagues that it is worth for me to spend some time on this.

@ranjitjhala Could you give me a rough breakdown of the work needed to fix this?

[2018-06-14 22:02] buggymcbugfix commented on #1334
@snap9 Maybe this is to do with pattern synonyms? (I can't check right now.)

[2018-06-14 22:18] ranjitjhala commented on #1334
Thanks @vimuel -- yes indeed this _does_ have to do with pattern synonyms. These are not supported right now in LH. It would be interesting to think about how to support them, since
AFAICT they don't even show up in the GHC "Core" that LH uses...

[2018-06-14 22:27] ranjitjhala commented on #770
At the highest level, there are a bunch of "hardwired"
paths (roughly, the stuff in `include/*.spec`) that are
parsed in and used to give types to primitive operations
like `+`, `-` etc. The "names" in these paths (e.g. `+`,
`-`, `map` etc.) are all "resolved" by querying GHC.

Currently, these paths are "hardwired" and (foolishly) LH
_always_ tries to resolve all those names. Consequently if
`Pre

[2018-06-15 06:23] lucaciciriello opened #1335 "Build fail with GHC 8.4.3"
Using Haskell Platform 8.4.3, the cabal install command fails

[2018-06-16 09:06] snap9 commented on #1334
@ranjitjhala @vimuel Here's an idea. For now, just hardcode in the commonly used pattern synonyms. Data.Sequence is one of the common ones, and creating one's own pattern synonyms is AFAIK rare in practice.

When one day LH has general support for pattern synonyms, delete the hardcoded ones.

[2018-06-18 08:52] buggymcbugfix commented on #1334
Hard-coding patterns seems like a bad idea to me.

There is the `--no-totality` flag for enabling totality checking, although that seems like a bit of a sledgehammer to me. Unfortunately I couldn't find a way of disabling totality on a per-function basis (like `lazy` for termination.). @ranjitjhala ?

[2018-06-18 20:18] philderbeast opened #1336 "The sort (GHC.Real.Ratio int) is not numeric"
Does liquid haskell work with rational numbers? With this single @-marked comment refinement type annotation;

[code]

I have a small test case in which it works with `RESULT: SAFE` but putting the same refinement type annotation in a larger project fails. These are the reproduction steps for the failure;

[code]

That shake build rule is equivalent to;

[code]

[2018-06-18 20:25] philderbeast commented on #1336
Note that I needed to use the `-XPackageImports` to resolve the ambiguity for module `Control.Newtype`. This ambiguity only appears when running `liquid`, not when building with `stack`;

[code]

[2018-06-18 20:50] philderbeast commented on #1336
I made an attempt to reproduce the error with a [smaller setup](https://github.com/BlockScope/liquid-sort-ratio-not-numeric) but this passes with `RESULT: SAFE`.

[2018-06-19 03:24] ranjitjhala commented on #1336
Hi sorry for the delay — am traveling.

Does this happen if you use “data” inst as of “new type”?

On Mon, Jun 18, 2018 at 1:50 PM Phil de Joux <notifications@github.com>
wrote:

[2018-06-19 06:27] sooryan opened #1337 "Incorrect UNSAFE result when using where"
Not sure if this is a known limitation of lh, but the following works

[code]
while this fails

[code]
[code]

[2018-06-19 09:19] philderbeast commented on #1336
Safe travels.

I made the switch from `newtype` to `data` but this made no change with the smaller setup still passing and the larger setup failing with the same error.

[2018-06-19 12:03] ranjitjhala commented on #1337
Ah yes this is a known issue; I believe @gridaphobe had some way of marking
such “lazy” binders so they would be treated specially?

On Tue, Jun 19, 2018 at 2:27 AM J.M. Soorya Narayan <
notifications@github.com> wrote:

[2018-06-19 18:32] CodePeters opened #1338 "Not reflecting a function doesn't yield a proper error message"
I copy the following code from slack:

[code]
The problem with the code above was that the simple theorem empty_foo couldn't be proved because foo function was not properly reflected (symbol @ was missing before and after word foo inside the specification) .So shouldn't a proper error message be produced in order to give some warning that the function is not reflected ??

[2018-06-21 22:49] jprider63 commented on #1273
For future reference, [here's](https://github.com/nikivazou/noninterference-lh/blob/a6ee6d43e1ad94dcc3424c33ada8a769bdfe3942/code/db/Simulations/TInsert0.hs#L32) a slow example (unfortunately the repository is currently private). We have a guard that looks something like:

    | Just t <- f n d

Switching the guard from an ADT pattern match to a boolean check sped things up.

[2018-06-22 02:13] ranjitjhala commented on #1273
thanks! hoping to get some cycles to look at this soon!

On Thu, Jun 21, 2018 at 6:49 PM JP <notifications@github.com> wrote:

[2018-06-22 02:48] jprider63 commented on #1305
Are annotations available across module/packages? I've seen [some documentation](https://ghc.haskell.org/trac/ghc/wiki/Plugins/Annotations#OtherConsiderations) that implies they aren't (although this might be out of date).

Instead of storing a `String` in the annotation, is it possible for a LH compiler plugin to save its internal representation of the refinement in the annotation? It [looks like

[2018-06-22 05:20] rachel960122 opened #1339 "Unsoundly Proving 1 = 2 and false"
I was playing with the infinite list data structure described in the ICFP '14 paper (section 5.2) in order to  explore how Liquid Haskell handles non-termination. I've got the following definition for infinite list (based on the original definition from the paper):
[code]

Then @goldfirere and I wrote the following proof, which was successfully verified:
[code]

Consequently, we could use `thmStre

[2018-06-22 18:15] ranjitjhala commented on #1305
Yes I believe they are — my summer project was going to be to move all the
LH stuff into annotations to allow inter package imports... (still
traveling but hope to get to this soon)

The tricky bit has been that somehow GHCs “Binary” class is different than
the usual “Binary” class; IIRC the former is what you need for annotations
(if we want to store the LH representation) but maybe you’re right

[2018-06-22 18:43] jprider63 commented on #1305
Could you expand on how you plan to move LH into annotations? Is there a repository or branch I can look at? I'm interested in this and maybe can find some time to contribute. Does it make sense to split into three separate packages? Packages for liquidhaskell-core, the liquid executable, and a liquidhaskell GHC plugin.

Interesting. Maybe this has to do with GHC's stages. I'd have to play around

[2018-06-22 20:19] ranjitjhala commented on #1339
Thanks @rachel960122 and @goldfirere

Yes, `lazy` is an _unsafe_ escape hatch for locally disabling the termination checker and here's a simplified variant of your code that is still accepted by LH.

[code]

@niki I think either @goldfirere or @nomeata (or both!) suggested we should try to make a list of known sources of unsoundness like the above, the negative datatype and so on. Do you know if w

[2018-06-22 20:32] nikivazou commented on #1339
There exists an issue on how to break the termination checker. Other than that, there is no list of unsoundness. But, to be sound you need to have the termination checker on. Are there more sources of unsoundness other than divergence?

[2018-06-22 20:46] ranjitjhala commented on #1339
Maybe we can just generalize the other issue to be "known unsoundness" ?

On Fri, Jun 22, 2018 at 1:33 PM Niki Vazou <notifications@github.com> wrote:

[2018-06-22 21:01] jprider63 commented on #1339
I have a feature request related to this: Provide a flag to give a warning whenever a function is potentially unsound (when assume is used, when a function is marked lazy, when a proof uses undefined, etc).

[2018-06-22 21:12] nikivazou commented on #1339
That is a good point!

Following Safe Haskell we can have a `SAFE` flag that checks you have not used `undefined` or any of the unsound flags (e.g., `no-termination`, `lazy`, `no-totality`). Or we can go the other way and allow these unsafe flags only when you also enable the `UNSOUND` flag.

[2018-06-22 21:22] nikivazou commented on #1337
You can fix this using `lazyvar`:

[code]
This basically says check the `lazyvar` `help` only under the environment it is used.

[2018-06-22 21:22] #1337 closed, assigned to nobody

[2018-06-22 21:32] goldfirere commented on #1339
So it sounds like the ideas from the "Refinement Types for Haskell" paper around stratification is unimplemented. Is that right? We were working from Sec. 5.2 of that paper which introduces `lazy` but does not declare that doing so is unsafe. Have I missed something?

[2018-06-22 21:36] nikivazou commented on #1339
The stratification is deprecated. (There was an implementation back then, but since it was not actually used for other than this paper's benchmarks, it did not survive all the refactoring.)

As described in this paper, to soundly reason about lazy expressions (e.g., expressions that do not provably terminate assuming CBV) you need strata, which does not exist in the current LH branch.

[2018-06-22 21:42] nikivazou commented on #1339
@goldfirere also, I have a claim that, you can use all these strata to do strictness analysis.
Let me know if you want to discuss it!

[2018-06-22 23:41] ranjitjhala commented on #1337
Thanks @niki! I knew @gridaphobe hit this issue and one of you solved it
but I couldn’t remember the name!

(Can you check if this is in the README? If not we should add this as a
canonical example...)

On Fri, Jun 22, 2018 at 2:23 PM Niki Vazou <notifications@github.com> wrote:

[2018-06-23 02:59] goldfirere commented on #1339
It's a shame LH no longer supports infinite structures, but I suppose there hasn't been a demand from your users. And, I'm not surprised that the strata and strictness are closely linked -- it would seem you essentially have to do strictness analysis to calculate the strata.

As @ranjitjhala suggested above, perhaps this is really a documentation bug. If we know that `lazy` means "I promise this t

[2018-06-23 03:37] ranjitjhala commented on #1339
@nikivazou do you mean that instead of `lazy` one should use the strata mechanism for code like `repeat` ?

[2018-06-25 07:05] buggymcbugfix commented on #1339
@nikivazou I think your suggestion to have an `UNSOUND` (or maybe `--prove-bottom`?) flag would make a lot of sense. This would make explicit that you are potentially proving nonsense.

[2018-06-25 18:57] ranjitjhala commented on #1336
Hmm. Can you point me to where `GHC.Real.Ratio` is being defined?

Aha -- its from here: http://hackage.haskell.org/package/base-4.11.1.0/docs/Data-Ratio.html

[2018-06-25 19:04] ranjitjhala commented on #1336
Also, are you writing a refinement containing `/= 0` somewhere? If so, can you show me where?

(Am trying to first make a tiny program that replicates the issue...)

[2018-06-26 04:25] ranjitjhala commented on #1336
@philderbeast -- I think I have a minimal version of your problem; namely:

[code]

[2018-06-26 04:33] ranjitjhala commented on #1326
I need to page this back in (I *think* I made an issue of it, IIRC @gridaphobe and maybe @jprider63 commented on it...)

Long story short: the key idea is to use GHC annotations instead of the `.bspec` files to save all spec related information, but I *really* should write this down somewhere before proceeding.

[2018-06-26 13:31] jprider63 commented on #1326
Are you thinking of #1305?

[2018-06-26 14:00] jprider63 commented on #1326
If we make a compiler plugin/extension, this is the workflow I was thinking about:

- GHC does an initial parse.
- GHC passes LH the AST. LH parses the refinements, inserts the GHC annotations, and sends GHC back an updated AST.
- GHC does normal type checking, transitions to core, etc.
- LH does refinement type checking. In addition, it can send GHC back information like if there are dead code pa

[2018-06-26 14:42] ranjitjhala commented on #1326
Ah yes thanks!!!

On Tue, Jun 26, 2018 at 6:31 AM JP <notifications@github.com> wrote:

[2018-06-26 20:20] ranjitjhala commented on #1336
Hi @philderbeast -- there is a fix in the works for this -- will merge into `develop` if/when tests pass. The fix is to tell LH to treat `Ratio` values as numeric (in the refinements) so they can be compared against 0 etc., by writing:

`{-@ embed Ratio * as int @-}`

[2018-06-26 20:53] ranjitjhala commented on #1338
This is somehow tickled by the edits to `ghcSpecEnv` done in

   https://github.com/ucsd-progsys/liquidhaskell/pull/1223

which, for some reason that I am currently investigating, just dumps _all_ Haskell definitions into the refinement environment...

[2018-06-27 15:12] #1336 closed, assigned to nobody

[2018-06-27 15:12] #1338 closed, assigned to ranjitjhala

[2018-06-27 15:13] ranjitjhala commented on #1338
Fixed by PR #1341

[2018-06-27 15:14] ranjitjhala commented on #1336
Hi @philderbeast this is fixed in develop by PR #1341 -- you should be able to write

[code]

in the relevant file [you should _also_ get a proper line number reporting where the elaborate fails; put the above line in that file].

Let me know if it doesn't work. Thanks!

[2018-06-27 15:16] ranjitjhala commented on #1300
Oops -- sorry I missed this! Can you work around using an alias? Will take a look ASAP.

[2018-06-27 15:22] ranjitjhala commented on #1335
this should work _once_ we finish with https://github.com/ucsd-progsys/liquidhaskell/pull/1330

[2018-06-27 17:40] #1293 closed, assigned to nobody

[2018-06-27 20:46] snap9 opened #1342 "Record names conflicting when they shouldn't"
Create these two files:

A1.hs

    module A1(Asdf1()) where

    {-@ data Asdf1 = Asdf1 { foo :: Int } @-}
    data Asdf1 = Asdf1 { foo :: Int }

A2.hs

    module A2 where

    import A1

    {-@ data Asdf2 = Asdf2 { foo :: Int, asdf :: Asdf1 } @-}
    data Asdf2 = Asdf2 { foo :: Int, asdf :: Asdf1 }

Running "liquid A2.hs" fails:

     5 | {-@ data Asdf2 = Asdf2 { foo :: Int, asdf :: Asdf1 } @-

[2018-06-27 22:06] ranjitjhala commented on #1342
In the short term, I suggest just using different field names -- this is
quite non-trivial to fix otherwise, as it requires a significant re-jiggering
of how modules are handled... :(

[2018-06-28 16:56] snap9 commented on #1342
@ranjitjhala This is a common use case. The example I showed was silly but imagine "foo" being called "length", "count", "context", etc. Now I'd have to call one of them "context2", "contextSomeDescription", etc. to make LiquidHaskell happy?

Is there some way to change a record name in only LiquidHaskell and leave the rest of my Haskell code clean? Thanks.

[2018-06-28 18:32] ranjitjhala commented on #1342
Hmm, good point. Let me think about it!

On Thu, Jun 28, 2018 at 9:58 AM snap9 <notifications@github.com> wrote:

[2018-06-28 18:42] philderbeast commented on #1336
Thanks @ranjitjhala. I will give it a go to see if this fix works in place.

The module I chose to add the one liquid haskell refinement comment to imports a lot of other modules and a GHC plugin that itself pulls in some GHC types.

Each time I got an error like the following, I've known how to find the module `liquid` is missing and so have kept adding files for `liquid` to check.

[code]

This

[2018-06-28 19:01] ranjitjhala commented on #1336
That's odd, you shouldn't have to do that as it should just use the same
modules that GHC is using, though I guess we've never really tried this
with plugins like "UnitsOfMeasure" so I'm not sure how those modules get
pulled into the compilation process...

On Thu, Jun 28, 2018 at 11:42 AM Phil de Joux <notifications@github.com>
wrote:

[2018-06-29 04:02] #817 closed

[2018-06-29 13:58] philderbeast commented on #1336
I also got the error with the minimal reproduction test case and have added that to [liquid-sort-ratio-not-numeric](https://github.com/BlockScope/liquid-sort-ratio-not-numeric).

I applied the `{-@ embed Ratio * as int @-}` fix and tested with `liquid` by referencing the latest commits to the `develop` branches of `liquidhaskell` and `liquid-fixpoint`.

[code]

I can confirm the fix works for the

[2018-06-29 16:24] philderbeast commented on #1336
Using the `develop` branch of `liquidhaskell` and `liquid-fixpoint` I no longer need to pull in `ghc` sources separately.

[2018-06-29 17:17] ranjitjhala commented on #1305
Adding this link since I *also* want to use core-plugins

https://ghc.haskell.org/trac/ghc/ticket/14476#ticket

http://eric.seidel.io/posts/abusing-compiler-plugins/

https://ghc.haskell.org/trac/ghc/ticket/10506#no1

[2018-06-29 21:23] philderbeast opened #1343 "A type synonym to a unit using the [u|...|] quasiquoter fails to parse"
Adding a type synonym to a unit using the [u|...|] quasiquoter fails to parse.

[code]

This [liquid test suite](https://github.com/BlockScope/uom-plugin/tree/fix/liquid-49/uom-plugin/liquid#readme) shows the problem;

[code]

[2018-06-29 21:31] ranjitjhala commented on #1343
Hi @philderbeast -- yes we don't have quotations inside refinement types. Not sure what the use case for this is? You can just delete `{-@ type Qs = ... @-}` as the type definition is already in the haskell source?

[2018-06-29 21:31] #1343 closed, assigned to nobody

[2018-06-29 21:42] philderbeast commented on #1343
Thanks @ranjitjhala. I'll try again without the quasiquotes. My use case is;

[code]

That I was trying as a workaround for;

[code]

[2018-06-30 01:10] philderbeast opened #1344 "RefType.toType cannot handle: _"
[code]

The source is nearly the same as for #1343;

[code]

I tried the `_` because with the "s" symbol, I was getting;

[code]

I could have also added `{-# LANGUAGE PartialTypeSignatures #-}` but GHC doesn't allow a wildcard for the symbol in this type synonym anyway.

[2018-06-30 01:13] ranjitjhala commented on #1344
Hmm I think we haven’t implemented support for parsing strIng literals in
types. That said — it looks like the refined and non refined types are
identical so it should be ok to just remove the refined copy of the Qs type?

On Fri, Jun 29, 2018 at 6:10 PM Phil de Joux <notifications@github.com>
wrote:

[2018-06-30 01:35] philderbeast commented on #1344
I don't yet have any type synonyms for `Quantity a u` in [flare-timing](https://github.com/BlockScope/flare-timing), preferring instead to see the explicit unit such as `Quantity _ [u| s |]`.

I'll try to keep any use of quasiquoting and symbols out of the refinement types as you suggest. Thanks for the advice.

[2018-06-30 03:33] ranjitjhala commented on #1305
Copying @jprider63 comments from the above thread:

[code]

[2018-06-30 04:00] ranjitjhala commented on #1305
@jprider63 -- you may be right, it could be that annotations are, in fact, _not_ available across modules and packages, in which case we will have to stick with the `.bspec` approach :(

[2018-06-30 04:49] ranjitjhala commented on #1305
Hooray! thanks to @nomeata for jogging my memory about this thread on loading annotations from interface files (of other modules) -- am assuming this will also work across packages..

https://mail.haskell.org/pipermail/glasgow-haskell-users/2018-April/026727.html

[2018-06-30 15:24] nomeata commented on #1305
For inspection-testing, I don't let the user write the ANN, but provide a top-level splice that does that for him. Nicer syntax, and I can do stuff (parsing, sanity checking, creating multiple annotations). Strongly recommend that.

More details on that approach in the self-contained appendix of http://arxiv.org/abs/1803.07130

[2018-06-30 19:18] alanz commented on #1305
FYI @wz1000 is doing a GSOC project around getting GHC to save extra information for later (IDE) processing.

So it might be possible to request that some of the ANN information go in there too.

[2018-07-12 21:29] ranjitjhala commented on #1305
@nomeata thanks again for pointing out this link about source-plugins!

  https://github.com/ghc-proposals/ghc-proposals/pull/107

Do you know if this is already available to play with (couldn't quite tell the status from that thread?)

[2018-07-12 22:08] nomeata commented on #1305
It got merged into `master`: https://github.com/ghc/ghc/commit/c2783ccf545faabd21a234a4dfc569cd856082b9 so you should be able to play with it if you use GHC HEAD, e.g. from https://launchpad.net/~hvr/+archive/ubuntu/ghc. It will be part of GHC-8.6.

[2018-07-17 06:14] jessebrennan opened #1345 "Variable ==> not in scope"
While plugging in examples from the tutorial I got this error

[code]

The contents of `tutorial.hs`:

[code]

ALSO

[code]
I'm new to this, not really sure what is going wrong or what other info I can provide. What am I doing wrong? Thanks

[2018-07-17 14:22] ranjitjhala commented on #1345
Hi, this is because there are some “hidden” definitions that are in the lhs
file that are not rendered in the html or pdf. You can grab those
definitions from the repo. (Apologies about this — it’s a design flaw in
the tutuorial that I haven’t gotten around to fixing yet!)

On Mon, Jul 16, 2018 at 11:14 PM jessebrennan <notifications@github.com>
wrote:

[2018-07-17 14:23] ranjitjhala commented on #1345
Each chapter in the tutorial is generated from the corresponding LHs file
that is in the tutorial repo: you can get all the definitions from that
file...

On Tue, Jul 17, 2018 at 7:21 AM Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

[2018-07-17 15:24] jessebrennan commented on #1345
I wouldn't mind doing a PR to clear up the docs here. As for the approach, do you think a better warning is sufficient or it would be worth while to add all of the 'hidden' bits to the docs? I haven't gotten very far into the tutorial (as you can tell) so I'm not completely sure what that would entail.

[2018-07-17 16:37] ranjitjhala commented on #1345
Hmm, good question -- are you reading the docs online or on the PDF?

The _easiest_ would be to just remove the `\begin{comment}` and `\end{comment}` lines, e.g.

* https://github.com/ucsd-progsys/liquidhaskell-tutorial/blob/master/src/02-logic.lhs#L5
* https://github.com/ucsd-progsys/liquidhaskell-tutorial/blob/master/src/02-logic.lhs#L34

so everything gets rendered...

[2018-07-17 17:23] jessebrennan commented on #1345
I was reading online. As a side note, the online notes weren't working for me at home so I was using the PDF there.

[2018-07-17 17:24] jessebrennan commented on #1345
That makes sense to me. I would add some context / instructions too. Just give me the OK.

[2018-07-18 19:39] woehr opened #1346 "Add some material to the tutorial about how measures strengthen constructors."
jmw [10:02 AM]
So I have a question about boolean measures. I'm wondering how (or whether) boolean measures automatically strengthen constructors of data types. Let's consider an example (please excuse my pseudo syntax):

[code]

In this example, the goal is to restrict what values Bar and Baz are constructed with. So what do the constructors look like with this measure defined?

Is it:
[code]

or

[2018-07-18 19:41] ranjitjhala commented on #1346
Super, thanks @woehr !!!

[2018-07-19 00:33] jessebrennan commented on #1345
@ranjitjhala let me know if a PR to fix this would be appreciated.

[2018-07-19 00:37] ranjitjhala commented on #1345
Yes it would be most appreciated!

On Wed, Jul 18, 2018 at 5:33 PM jessebrennan <notifications@github.com>
wrote:

[2018-07-19 16:16] joom commented on #1309
@nikivazou Is that proof public yet? I'd really like to take a look if possible.

[2018-07-19 16:26] nikivazou commented on #1309
Yes, it is here: https://github.com/plum-umd/lmonad-meta/blob/master/src/NonInterference.hs#L12-L19

[2018-07-19 16:29] ranjitjhala commented on #1309
If you're looking for a plain STLC type soundness proof, btw, then there's
this:

https://github.com/ucsd-progsys/liquidhaskell/blob/develop/tests/ple/pos/STLC2.hs#L388-L392

On Thu, Jul 19, 2018 at 9:26 AM Niki Vazou <notifications@github.com> wrote:

[2018-07-19 17:24] joom commented on #1309
I was, actually. Thank you!

[2018-07-22 14:33] CodePeters opened #1347 "Can't reflect higher-order function"
I have these definitions:
[code]
The above reports safe in Liquid Haskell, but if I define the high-order function below:
[code]
I get the error:

[code]

[2018-07-22 15:33] CodePeters opened #1348 "Liquid Haskell runs forever..."
I have the following definnition for Positive numbers (binary representation) and the addc function that adds two Positive numbers with carry.

[code]
Now trying to prove the following theorem:
[code]
Does not terminates in over one hour !! I have tried to use no totality flag in order to try to prove just one case of the theorem (addc has 18 cases) as follows:
[code]
But this **doesn't terminates

[2018-07-22 17:08] atondwal commented on #1347
ooh, good catch!

Workaround is to fully-apply it:
[code]

[2018-07-22 17:42] CodePeters commented on #1347
Yes I know but the whole concept here was to reflect the high-order function :(

[2018-07-23 16:20] ranjitjhala commented on #1348
Wow, very surprising — Thanks for posting this. Wonder if it has to do with
case expand, or are you using PLE?
On Sun, Jul 22, 2018 at 8:33 AM George Petrou <notifications@github.com>
wrote:

[2018-07-23 16:31] CodePeters commented on #1348
Yes I am using ple flag but the proof is equational I haven't used it explicitly for this proof. Also I should mention that I used {-@ max-case-expand=0 @-} flag but it didn't worked, still does not terminate !!

[2018-07-23 17:32] ranjitjhala commented on #1347
This is definitely a bug of some sort in the CoreToLogic code... /cc @niki
vazou <nikivazou@gmail.com>

<https://inboxwhenready.org/>  I'm using Inbox When Ready
<https://inboxwhenready.org/?utm_campaign=signature&utm_medium=email&utm_source=signature>
to protect my focus.

On Sun, Jul 22, 2018 at 10:42 AM George Petrou <notifications@github.com>
wrote:

[2018-07-29 15:36] stelleg opened #1351 "alpha-equivalent terms not subtypeable"
Getting the following error:

[code]

Seems like there is an issue with alpha-equivalence checking, or maybe shadowing?

[2018-07-29 15:50] ranjitjhala commented on #1351
Yikes!

1. Can you share the code that triggers this?

2. Are there any bindings named “v” in scope at the error? (Maybe in the
type spec for the function being checked?)

On Sun, Jul 29, 2018 at 8:36 AM George Stelle <notifications@github.com>
wrote:

[2018-07-29 16:01] stelleg commented on #1351
1. Here's the code: https://gist.github.com/stelleg/241f0671a1d7cb413c07f0d9ec9a32bb

Run with `liquid --alphaequivalence --prune-unsorted`

2. Doesn't look like there should be any other variables named `v` in scope, though maybe the way I'm using the type alias is problematic?

[2018-07-29 16:17] stelleg commented on #1351
Whoops! My alias had single `=` when it should have had `==`. Replacing `PtrLen` with the bundled `PtrN` fixes the issue.

Edit: Upon closer inspection the single `=` doesn't seem to be the issue, but using `PtrN` does fix the issue, though I'm not sure why.

[2018-07-31 11:28] alanz opened #1352 "POC haskell-ide-engine integration"
I am experimenting with an initial proof of concept integration of LH into hie.

My first intention is to run the `liquid` executable externally, and to present the contents of the `.liquid` directory via the hie UI, as a combination of hover annotations and diagnostics.

This avoids the issue of getting LH to compile with all the versions of GHC that hie supports.

It seems I have a choice of fil

[2018-07-31 15:02] ranjitjhala commented on #1352
Wow, that’s terrific! Yes, using the .liquid folder is indeed easiest.

The hover information is also there in the .json file, see this description
of the format

   https://github.com/ucsd-progsys/liquid-server#json-format

(We use the json output for the web based demo which essentially returns
the
generated json file to the js browser client)

On Tue, Jul 31, 2018 at 4:28 AM Alan Zimmerman <not

[2018-07-31 15:19] alanz commented on #1352
My problem is that the types in the .json file only give the starting point, not the end as well. Which is why I plan on using the vim annotations, which has both.

[2018-07-31 16:27] ranjitjhala commented on #1352
Did you mean the start and end of the source-spans, or something else?

Rather than parse the custom vim format, it may be easier for me to extend

the JSON file with whatever extra information you want?

On Tue, Jul 31, 2018 at 8:21 AM Alan Zimmerman <notifications@github.com>
wrote:

[2018-07-31 16:29] ranjitjhala commented on #1352
It looks like the action happens here:

https://github.com/ucsd-progsys/liquidhaskell/blob/develop/src/Language/Haskell/Liquid/UX/Annotate.hs#L91-L120

[2018-07-31 18:34] alanz commented on #1352
Yes, I have been looking at that code.

Having the JSON emit the end point of the span, not just the start for the types is the missing bit, that is pushing me to the vim side.

And I can see in future managing synchronisation by running liquid under control of hie, using the `--json` option.  But at the moment that only returns the errors, not the types as well. So having an additional flag to sp

[2018-07-31 19:41] ranjitjhala commented on #1352
Ok, I'll add an "end" field that looks like:

[code]

?

[2018-07-31 19:55] alanz commented on #1352
That sounds fine. The errors do

[code]
so maybe use the same position format?

[2018-07-31 21:08] alanz commented on #1352
This is using the .json file in the .liquid directory, if it exists

![screenshot from 2018-07-31 23-06-00](https://user-images.githubusercontent.com/409607/43487319-95320110-9516-11e8-96bc-04afc1851f1a.png)

You will notice the error in the pane at the bottom, as well as the red squiggle on line 9.

[2018-08-03 20:19] #1352 closed, assigned to nobody

[2018-08-04 13:20] alanz commented on #1352
I just merged https://github.com/haskell/haskell-ide-engine/pull/732 which means `haskell-ide-engine` current master can now show errors and types for liquid haskell projects.

It only looks for them when the file is saved though.

And it currently uses the json file and the vim annotations.

[2018-08-04 15:39] ranjitjhala commented on #1352
Awesome thanks!!!! will try this out ASAP!!

On Sat, Aug 4, 2018 at 6:20 AM Alan Zimmerman <notifications@github.com>
wrote:

[2018-08-14 13:16] bno1 opened #1355 "No decreasing parameter for length :: List a -> Int"
I'm following the tutorial pages (more specifically: http://ucsd-progsys.github.io/lh-workshop/03-datatypes.html) and I'm working on the examples in an environment with ghc 8.2.2 and liquidhaskell 0.8.2.4. When verifying the following code I get the error below it.

[code]

[code]

Does it need help figuring out the decreasing parameter?

[2018-08-14 14:05] ranjitjhala commented on #1355
Apologies, unfortunately we need to update the tutorial to account for the termination checks that have been added after the last version of the tutorial!

You can either:

1. Disable termination checking with `{-@ LIQUID "--no-termination" @-}`

OR

2. Tell LH that the  `lengthx` function _is_ the default metric for the `List` type as described
[here](https://github.com/ucsd-progsys/liquidhaskell

[2018-08-14 14:38] bno1 commented on #1355
@ranjitjhala I've noticed that and I started following the tutorial from the book. I tried the second option and I get the following.
[code]
[code]

[2018-08-14 15:14] ranjitjhala commented on #1355
If you use the second option, you can just write:

[code]

leave the fields out.

You will later in the tutorial see why you may need fields, but in that case the syntax is different, something like:
[code]

(Basically, you need to name the fields...)

[2018-08-14 16:39] bno1 commented on #1355
@ranjitjhala It seems that it's expecting something after `a`. I also tried downgrading my stack environment to lts-10.10 and compile liquedhaskell from source but it didn't have any effect.

[code]
[code]

[2018-08-14 16:54] ranjitjhala commented on #1355
Oops that should be just

   {-@ data List [lengthx] @-}

(No type parameters...) for example see

   http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1534265472_329.hs

On Tue, Aug 14, 2018 at 10:10 PM bno1 <notifications@github.com> wrote:

[2018-08-14 16:58] bno1 commented on #1355
@ranjitjhala awesome, thanks for all the help!

[2018-08-14 16:58] #1355 closed, assigned to nobody

[2018-08-16 23:15] MatthijsBlom commented on #1210
I, too, am curious what could possibly be done to debug this.

@ranjitjhala I have built liquid several times, using both cabal-install and stack, with the exact same result each time. Therefore I do not think this is the result of an interaction with stack.

When I use stack to invoke liquid, the error message changes;

[code]

[code]

[2018-08-17 01:53] ranjitjhala commented on #1210
Very puzzling ... do you know if others have seen this “realgcc” problem
before? Maybe using GHC on windows?

Let me do some googling...

On Fri, Aug 17, 2018 at 4:45 AM Matthijs Blom <notifications@github.com>
wrote:

[2018-08-23 15:24] bno1 opened #1356 "malformed constraint when applying <$> twice"
Here is a minimal example:

[code]

Causes this error:
[code]

Changing it to one of the following solves the error:
[code]

[2018-08-23 15:37] bno1 opened #1357 "measure on [[a]]"
This:
[code]

Causes:
[code]

[2018-09-05 18:35] alanz commented on #1352
haskell-ide-engine from https://github.com/haskell/haskell-ide-engine/pull/802 supports running the `liquid` exe when a file is saved, and then returning the diagnostics from it.

Version 0.0.22 of the vscode "Haskell Language Server" plugin has a configuration item to enable this feature. It is disabled by default.

[2018-09-05 18:40] alanz commented on #1352
It only runs liquid on save, as it is potentially a long-running process.

And it makes sure there is only one running at a time, if a new save happens, any existing process is killed.

Is that safe?

[2018-09-05 18:58] ranjitjhala commented on #1352
Yup that should be safe!

On Wed, Sep 5, 2018 at 11:41 AM Alan Zimmerman <notifications@github.com>
wrote:

[2018-09-14 07:55] mkf opened #1358 "Pattern match failure at Language/Haskell/Liquid/Constraint/Generate.hs:816:8-23"
## Steps to reproduce:

[code]

Sorry that you would have to see my eye-hurting code which is in the process of being refactored currently, after I dove into doing some type stuff *really* wrong a few months ago — that is, until I sit down to try to investigate and isolate the issue and manage to do so.

I just hope it's OK that I submit the issue already, as I guess `liquid` crashing with a patte

[2018-09-14 21:19] ranjitjhala commented on #1358
Many thanks for submitting it!

Yes pattern match failures are always bugs we need to fix :)

Will get to it as soon as I finish with a current refactoring,

unless @nikivazou can look at it sooner.

At the very least some source-position information so the user

knows what part of their code is tickling the bug!

On Fri, Sep 14, 2018 at 12:55 AM Michał Krzysztof Feiler <
notifications@github.com>

[2018-09-22 16:09] superfunc commented on #613
Current behavior is:

[code]

So I think this one can be closed out @ranjitjhala

[2018-09-23 02:44] ranjitjhala commented on #613
Thanks for catching this @superfunc !

[2018-09-23 02:44] #613 closed

[2018-09-26 19:25] superfunc commented on #781
@ranjitjhala Looks like this one got fixed at some point:

[code]

[2018-09-28 12:26] stelleg commented on #1351
So I noticed that changing type variable from `n` to `N` (as defined in Ptr.spec) fixes the issue. Is there some kind of case sensitivity for type alias arguments?

[2018-09-28 13:46] ranjitjhala commented on #1351
Ah yes! We use lower case for “type” variables and upper case for “values”
(the latter of which can appear in refinements)

On Fri, Sep 28, 2018 at 5:26 AM George Stelle <notifications@github.com>
wrote:

[2018-10-08 23:14] varosi commented on #920
https://github.com/ucsd-progsys/liquidhaskell/pull/1360

[2018-10-08 23:15] varosi commented on #808
https://github.com/ucsd-progsys/liquidhaskell/pull/1360

[2018-10-13 22:35] phadej opened #1363 "Cannot reflect functions using (strict) Integer"
[code]

errors with

[code]

Is there a way to "pretend" that reflected `mySum'` is the same as `mySum` (which reflects fine?)

[2018-10-16 16:03] ranjitjhala commented on #1363
Interesting -- thanks for pointing this out. Should be easy to fix! @nikivazou can you get to this soon?

[2018-10-18 12:22] nikivazou commented on #1358
Hi @ArchieT, thanks for the report!

The bug is still there, but with all these extensions in your file it is very difficult for me to understand what exactly is triggering it...

Is it possible for you to minimize `ThreeManChess/Engine/Possibilities.hs` so that it only contains the source code that triggers the bug in liquid?

[2018-10-18 12:25] nikivazou commented on #1357
To allow measures that are defined on datatypes of datatypes you need to use the `prune-unsorted` flag. The following is ok:

[code]

[2018-10-18 12:25] #1357 closed, assigned to nobody

[2018-10-18 12:48] nikivazou commented on #1356
Not sure if this is a bug in liquidhaskell or ghc.

@goldfirere, can you help?
When you write

[code]

ghc infers the following type for `id <$> id`:

[code]

instead of just `Maybe Int -> Maybe Int`.

Is this expected?

[2018-10-18 12:49] #1351 closed, assigned to nobody

[2018-10-18 14:09] goldfirere commented on #1356
`Maybe Int -> Maybe Int` is simply shorthand for that longer type you wrote out. So they're both right. :)

The full kind of `(->)` is `forall (r1 :: RuntimeRep) (r2 :: RuntimeRep). TYPE r1 -> TYPE r2 -> Type`. We often leave out the `RuntimeRep` arguments, but they're there.

[2018-10-18 14:40] ranjitjhala commented on #1357
Can we keep this open and tag it “error message”  so we can try to indicate
that prune unsorter is needed?

On Thu, Oct 18, 2018 at 5:26 AM Niki Vazou <notifications@github.com> wrote:

[2018-10-18 17:43] mkf commented on #1358
@nikivazou

I don't really have time to tamper with that project at the moment, I'm rather busy with my studies and exams and one scientific project; I also couldn't find time for that back then — as I said in my first comment, I chose to post it here without isolating the issue as I knew it will be long before I can find time for that. Sorry.

[2018-10-22 16:49] #1363 closed, assigned to nobody

[2018-10-22 18:09] phadej commented on #1363
Thanks!

[2018-10-26 21:47] nikivazou opened #1365 "Mutually recursive data types are not encoded properly in SMT"
e.g.,

[code]

crashed with

[code]
and in the .fq file the definitions are

[code]
Note that the mutual dependencies keep their type variables.

[2018-10-26 21:49] nikivazou opened #1366 "Nested data types are not encoded well"
e.g.,

[code]

crashed with the following elaboration error:

[code]

The type of the predicate selector is **wrong** since the type variable is removed.

[2018-10-26 22:48] nikivazou commented on #1366
Worse: after the fix for #1365 the error is

[code]

[2018-10-27 00:48] #1365 closed, assigned to nobody

[2018-10-27 03:07] ranjitjhala commented on #1366
I really don’t think types like this can be encoded using SMTLIB ... (we can ask/confirm with the experts ...) imo the solution is to just use the old LH encoding for types like these.

[2018-10-27 03:48] nikivazou commented on #1366
They can, but we need to use the new encoding....
https://github.com/Z3Prover/z3/issues/1903#issuecomment-433569496

On Fri, Oct 26, 2018, 11:07 PM Ranjit Jhala <notifications@github.com>
wrote:

[2018-10-27 19:58] nikivazou opened #1368 "Name resolution error"
The following

[code]

errors with

[code]

Workaround: replace `isJust` in the refinement with `Foo.isJust`.

[2018-10-27 20:54] ranjitjhala commented on #1368
It may be a good thing for you to try to Fix it to get familiarity with the
new name resolution code (Bare.Resolve)

On Sat, Oct 27, 2018 at 12:58 PM Niki Vazou <notifications@github.com>
wrote:

[2018-10-27 21:05] nikivazou commented on #1368
I want to first fix the adts so it will take a while for me to go there :(

[2018-10-27 21:11] ranjitjhala commented on #1368
Sounds good. Maybe there is some new SMT stuff that will make the adts
easier, but otherwise this one may be easier to solve. But either way works!

On Sat, Oct 27, 2018 at 2:05 PM Niki Vazou <notifications@github.com> wrote:

[2018-10-31 21:24] ranjitjhala opened #1369 "GMP problem with GHC 8.4 on MacOS"
With GHC 8.4 on the Mac OS folks might run into this problem:

[code]

To fix it, simply do:

[code]

i.e. hide that weird `HSinteger-gmp-1.0.2.0.o` file...

[2018-10-31 21:25] ranjitjhala commented on #1369
Am "closing it" but keeping around for reference.

[2018-10-31 21:25] #1369 closed, assigned to nobody

[2018-11-01 16:41] remysucre opened #1370 "Cannot define `pos` from reflection paper"
I was trying to run the `pos` example from the POPL 18 paper that differentiates LH from Dafny:

[code]
But I'm getting a type error:
[code]
Why should `n - 1` be required to be non-negative?

[2018-11-01 17:51] ranjitjhala commented on #1370
This is an error reported by the termination checker.

By default LH checks that `pos` is only invoked on decreasing `Nat` values, i.e. at the recursive call, it checks that the `n-1` parameter is a `VV` that iss

* `0 <= VV` (non-negative i.e. `Nat`)  and
* `V < n`.

The first condition fails when the `n == 0`.

You can appease the checker either by LH either by adding a case for the `n==0` case,

[2018-11-01 17:51] #1370 closed, assigned to nobody

[2018-11-08 03:51] ranjitjhala opened #1371 "Wierd PLE divergence?"
On an example due to  @PiotrJander

https://gist.github.com/PiotrJander/14c94f4ba401d8af75841eb96afca12c

(related to #1192?)

I _think_ it may be tickled by the odd (non-structural) recursion inside the nnf conversion.

[2018-11-09 00:12] ranjitjhala commented on #1371
Here's a "minimal" variant:

[code]

@atondwal if you get a chance, can you switch on the debug flags
in `fixpoint` to see why PLE is diverging here, if you use
the `-- PLE-DIVERGES` lines instead of the `OK` ones
of course...

[2018-11-09 00:22] ranjitjhala commented on #1371
Here's a simpler function to demonstrate the same issue (I think):

[code]

[2018-11-19 11:50] nikivazou opened #1373 "Infixed Curried Operators not allowed in logic."
E.g. the following cannot get parsed:

[code]

But the below is totally fine:

[code]

The complete example is:
[code]

[2018-11-19 11:56] nikivazou opened #1374 "List `(:)` is by default parsed as type casting"
e.g., the below

[code]

errors with
[code]

The fix is to uncomment the infix annotation.

I suggest
- we add by default the infix annotation of (:), and then
- we need a different notation for type casts, is these are exposed to the user.

[2018-11-19 16:15] ranjitjhala commented on #1373
TBH I don’t think that the best use of
Our time is to reimplement all these tricky things from the GHC parser.

Better to just use “cons” as you suggest below?

On Mon, Nov 19, 2018 at 3:51 AM Niki Vazou <notifications@github.com> wrote:

[2018-11-19 17:47] nikivazou commented on #1373
`cons` works. You mean because there is an intention to use ghc's parser at some point?

I do not plan to currently hack the parser either, but this issue is a report of a current limitation!

[2018-11-19 17:50] ranjitjhala commented on #1373
I just meant lets mark it as a "wontfix".

Ideally want some way of marking
*limitations-with-workarounds-that-we-wonfix-but-want-to-leave-around-as-google-able-documentation*
that does not also get mixed in with *issues-that-we-really-will-fix* :)

<https://inboxwhenready.org/?utm_campaign=signature&utm_medium=email&utm_source=signature>
I'm using Inbox When Ready
<https://inboxwhenready.org/?utm

[2018-11-19 18:07] nikivazou commented on #1373
Totally! :)
But this one should be fixed: https://github.com/ucsd-progsys/liquidhaskell/issues/1374

[2018-11-30 16:27] asvarga opened #1378 "Error with Proof Combinators and Types Refined by Predicates"
As a minimal example of the problem I'm having, here's a definition of natural numbers, a doubling function, and a type refined by an even-ness predicate:

    data Nat' = Z | S Nat' deriving Show

    {-@ reflect double' @-}
    double' :: Nat' -> Nat'
    double' Z = Z
    double' (S x) = (S (S (double' x)))

    {-@ type Even' = {v:Nat' | even' v} @-}

    {-@ reflect even' @-}
    even' :: Nat

[2018-11-30 16:39] ranjitjhala commented on #1378
Hi @asvarga --

apologies for this; can you post your entire file.

Are you importing `NewProofCombinators`?

We should deprecate the `==.` combinator as it tickles some odd new constructs in GHC 8.6 ...

So you should instead use `===` as shown here:

http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1543595949_5844.hs

[2018-11-30 17:08] asvarga commented on #1378
Thank you! That fix works for me. I was using `ProofCombinators` and wasn't aware of `NewProofCombinators`. Are there any examples/documentation of the combinators? I've been referring to

- https://arxiv.org/pdf/1806.03541.pdf
- http://ucsd-progsys.github.io/liquidhaskell-tutorial/
- https://ucsd-progsys.github.io/liquidhaskell-blog/2016/09/18/refinement-reflection.lhs/.

Also, is this the correc

[2018-11-30 18:12] ranjitjhala commented on #1378
Yes, that's the main documentation ATM (and am currently working on a bunch more.)
(Un)fortunately, we keep simplifying the combinators...

Yes, this is the simplest. Once you get a little more experience, you may want to "skip"
all the intermediate steps of the proof, by switching on something called "--ple"; when
you switch it on, your proofs are simplified to:

http://goto.ucsd.edu:8090/index.h

[2018-11-30 21:23] ranjitjhala commented on #1378
@asvarga I just merged a new `ProofCombinators` module into `develop` -- you should be able to use it on your original file too!

[2018-11-30 21:23] #1378 closed, assigned to nobody

[2018-11-30 23:26] ranjitjhala opened #1380 "Cannot reflect functions that return functions"
LH barfs when given the below:

[code]

The complaint:

[code]

Essentially it is strengthening the `Int` not the `() -> Int`

Not clear how to fix this, since our heuristic is to strengthen the "rightmost" type...

One can "box" the function in a new datatype but that is a bit clunky.

[2018-12-01 08:42] nikivazou commented on #1380
Yes.... LH does not like partially applied functions... You can edit the definition of `barf` to be fully applied

[code]

Also, do not box functions!!!
By experience, if you hide functions is data types, the LH performance gets terrible....
I did not have the chance to look into why, but the hack I have been using is instead of defining

[code]

to fake it as
[code]

[2018-12-01 15:07] ranjitjhala commented on #1380
Hmm good to know about boxing. I did do it and everything DID get very
slow. Puzzling! Let me try your “fully applied” approach.

On Sat, Dec 1, 2018 at 12:42 AM Niki Vazou <notifications@github.com> wrote:

[2018-12-01 22:58] ranjitjhala commented on #1380
@nikivazou your approach is indeed *much* faster, wonder why boxing functions is so terrible.

On the other hand, you get tedious stuff like this where you have to use "function-equality" to prove trivial things that PLE _should_ do otherwise...

[code]

[2018-12-02 05:16] ranjitjhala opened #1381 "Extend Structural Termination"
The new structural checker by @nomeata is awesome. Would be great to extend it to handle things like:

[code]

[2018-12-02 09:25] nomeata commented on #1381
It doesn't? Why not? Seems like a bug to me.

Oh, you mean because it needs to guess the order of arguments more cleverly?

[2018-12-02 15:22] ranjitjhala commented on #1381
Yes, I thought it was doing something about guessing the arguments but
apparently not.

On Sun, Dec 2, 2018 at 1:26 AM Joachim Breitner <notifications@github.com>
wrote:

[2018-12-02 16:16] nomeata commented on #1381
No, it still assumes lexicographic order. Maybe it skips arguments that are not algebraic, don't remember.

[2018-12-02 21:16] nomeata commented on #1381
No, it does not, but it skips non-algebraic arguments that stay the same (important for `map f (x:xs) = f x : map f xs`), see this code: https://github.com/ucsd-progsys/liquidhaskell/blob/3f21e54310f1e385a2111fc04922e88fa5ff2371/src/Language/Haskell/Liquid/Termination/Structural.hs#L161

In Isabelle, it collects for each function call which arguments are decreasing, strictly decreasing, or possibl

[2018-12-02 21:17] nomeata commented on #1381
Also, not sure this is “easy” ;-)

[2018-12-02 21:37] ranjitjhala commented on #1381
Ah both of those - the Isabelle approach and specifying the args - sound
great.

Maybe will look into the latter first!

On Sun, Dec 2, 2018 at 1:17 PM Joachim Breitner <notifications@github.com>
wrote:

[2018-12-03 17:08] ranjitjhala opened #1382 "Performance with PLE on (full) equational proofs"
... is quite terrible, as shown by the file `Lists.hs` below:

[code]

[2018-12-05 21:04] jprider63 opened #1384 "Refinements for field selectors"
We discussed this yesterday, but I'm opening an issue to elaborate and so we don't forget. We want LH to automatically generate refinements for field selectors. In addition, users currently can specify their own refinements that are unchecked, which is [unsound](https://github.com/ucsd-progsys/liquidhaskell/blob/2820b7530ddd09e289c60df4ce085faa7c507231/tests/refined-classes/semigroup_unsound.hs#L1

[2018-12-11 03:24] spacekitteh commented on #827
Isn't this the entire point of the distinction between `Int` and `Integer`, though? The efficiency increase of (usually, modulo boxing) using machine words comes at the expense of having to deal with overflow/underflow.

At the very least, there should be an option to treat Ints, etc as actual bitvectors (and IMO should be the default, but probably not straight away)

[2018-12-17 08:47] nikivazou commented on #827
You are correct. In LH we just made the choice few years back to ignore overflows/underflows so that you have more precise functional correctness.

There is an option to use type classes to encode machine ints (https://ucsd-progsys.github.io/liquidhaskell-blog/2017/03/20/arithmetic-overflows.lhs/). Using bitvectors to encode machine ints is an interesting idea that we have not yet explored.

[2018-12-17 17:19] ranjitjhala commented on #827
It would be nice to allow users to easily “override” the default specs in
the LH prelude with different ones. We could then easily switch in overflow
checking for example.

This is possible with the “assume” mechanism but would be nice to have it
streamlined somehow...

On Mon, Dec 17, 2018 at 12:47 AM Niki Vazou <notifications@github.com>
wrote:

[2018-12-17 21:59] ranjitjhala commented on #1384
@nikivazou should this be closed by your recent PR #1385

[2018-12-17 22:00] ranjitjhala commented on #1382
This is "fixed" (i.e. improved) by PR #1386

[2018-12-17 22:00] #1382 closed, assigned to ranjitjhala

[2018-12-18 12:20] carliros opened #1389 "Compilation error with stack"
Hello guys,

I see a compilation error while building with stack haskell and the latest changes of this repo, here is the error:

[code]

Bests,
Carlos

[2018-12-18 14:40] nikivazou commented on #1389
Seems that you have a bad version of fixpont. Can you try

git submodule update

To make sure you have the synched version of fixpont?

Best, Niki

On Tue, Dec 18, 2018, 1:20 PM Carlos Gómez <notifications@github.com wrote:

[2018-12-18 15:06] nikivazou commented on #1384
No,that pr was only for the unsound example... Still working on that

On Mon, Dec 17, 2018, 10:59 PM Ranjit Jhala <notifications@github.com wrote:

[2018-12-18 15:18] carliros commented on #1389
It is using version 0.8.0.1 of liquid-fixpoint, is that the correct one?
anyway, doing `git submodule update` does not fix the compilation error.

[2018-12-18 15:21] atondwal commented on #1389
Can you show us the contents of your .gitmodules file (in the root of the repo)?

[2018-12-18 15:25] carliros commented on #1389
Sure, here it is:
[code]

JIC, I am following the INSTALL.md of this repo to install it, I cloned the repo recursively and then `stack build`, and I got the error there.

[2018-12-18 15:31] ranjitjhala commented on #1044
Closed by #1388

[2018-12-18 15:31] #1044 closed

[2018-12-18 15:32] ranjitjhala commented on #1389
Sorry my fault that was a bad git merge — can you erase and do a fresh clone? Should be fine now!

[2018-12-18 15:44] carliros commented on #1389
Great, it is compiling successfully now.
Thx

[2018-12-18 15:44] #1389 closed, assigned to nobody

[2018-12-21 17:03] ranjitjhala opened #1390 "Odd behavior with tuples"
LH refuses to check `fails` even though various simple variants work fine. (Most mysterious is when we change the definition of `State`.) My hunch is it has to do with some combination of:

- Abstract refinements
- Core translation
- Gremlins

[code]

[2018-12-21 17:04] ranjitjhala commented on #1390
@nikivazou have you ever run across the above issue? Its most puzzling.

[2018-12-28 19:51] mhwombat opened #1391 "Z3 required"
[Installation instructions](https://github.com/ucsd-progsys/liquidhaskell/blob/develop/INSTALL.md) say that at least _one of_ `Z3`, `CVC4` or `MathSat` is required.

However, according to issue #1314, `Z3` is required. Like the reporter of that issue, I had `CVC4` installed, and it was findable on my path, but when I tried to run `liquid` I got an error message. Installing `Z3` solved the problem.

[2018-12-28 19:59] mhwombat commented on #1391
In case the information is useful, here's what I got when I had `CVC4` installed, but not `Z3`.

[code]

[code]

[code]

[2018-12-29 16:29] ranjitjhala commented on #1391
Thanks for pointing this out @mhwombat ! Will fix either the code or docs. More likely the former, looks like some "hard" Z3 dependency has crept in...

[2019-01-11 11:17] nikivazou opened #1393 "well formedness confusion on imported modules"
Consider the following three modules:

[code]

[code]

[code]

`liquid` is SAFE on modules `B` and `C`, but running liquid on module `A` returns

[code]

This is very confusing, since module `B` is safe (but `cProp` is out of scope in module `A`).
I do not think checking module `A` should check the specifications of `B` on `A`'s module environment.

[2019-01-11 16:04] ranjitjhala commented on #1393
This, unfortunately is a  hard problem, that I’ve seen before. The problem is this: how do you hide parts of a refinement of a constructor for example because those parts are no longer in scope? Right now the simplest workaround is just to transitively import all the modules. This is a bit silly I agree but honestly I don’t know what a good solution is.

[2019-01-11 17:26] nikivazou commented on #1393
There are other potential "silly" solutions, like
- prune from A all predicates not in scope or
- make B reexport all the refinements that appear on the data constructors.

I too do not know which one is better. But if we keep it as is, we should change the error message, when checking the imported modules.

[2019-01-16 20:29] ranjitjhala opened #1394 "Need to explicitly import data constructor"
[Related to #1393]

When you have a "library" module

[code]

and you then import it thus:

[code]

LH complains with

[code]

(Probably) because of the `REBARE` refactor is such that the data-constructor
name `Foo` is no longer anywhere in scope. The "workaround" is to just force GHC
to actually put the name `Foo` (or more generally, the data constructor) into the
scope for the client module by e

[2019-01-16 20:48] ranjitjhala commented on #1162
High time we fixed this. @rosekunkel you want to take a crack at it :)

[2019-01-18 18:25] ranjitjhala opened #1395 "PLE doesn't unfold "equal" functions"
It would be nice if in the following `fail` type checked automatically (?)

[code]

[2019-01-19 01:29] rosekunkel commented on #1381
I have a working implementation of an order-independent termination checker, but it still can't check the example in this issue. I think LH is assuming the first Int argument is the decreasing parameter before it attempts to run the structural termination checker. @ranjitjhala do you know where I should look to change that?

[2019-01-19 02:01] ranjitjhala commented on #1381
Hmm pretty sure the structural checker is run first and
only things it fails on are handed off to the metric checker.

See this:

https://github.com/ucsd-progsys/liquidhaskell/blob/develop/src/Language/Haskell/Liquid/Liquid.hs#L184

the `generateConstraints` (which is where the metric based checking
happens,
together with other refinement-typing constraints) is only called on
`info3`
where we have

[2019-01-19 02:17] rosekunkel commented on #1381
Well I went to double check and I can no longer reproduce the problem. I'm not sure what I changed...

[2019-01-19 02:48] rosekunkel opened #1396 "Totality checking of lazy functions depends on argument order"
Given the following definitions:
[code]
Liquid Haskell fails to prove `ackFlipped` is total, but it has no trouble with `ack`:
[code]
If you give `ackFlipped` an explicit termination metric, it succeeds:
[code]
This is also a problem for the new structural termination checker: even if `ackFlipped` passes it, it fails the totality check.

[2019-01-19 03:18] ranjitjhala commented on #1396
Interesting; I wonder what the core for ackFlipped looks like. In
particular why does GHC not think it total?

On Fri, Jan 18, 2019 at 6:49 PM Rose Kunkel <notifications@github.com>
wrote:

[2019-01-19 03:50] rosekunkel commented on #1396
This is the core:
[code]

[2019-01-19 03:51] rosekunkel commented on #1396
For reference this is the core for `ack`:
[code]

[2019-01-19 04:09] ranjitjhala commented on #1396
Note no patError in the second one (ack) ie even GHC knows it’s ok, but for
some reason not so in the first one ... bit late in the day to decipher the
JOIN stuff but I wonder why the metrics should make a difference. Any clue
@nikivazou?

On Fri, Jan 18, 2019 at 7:52 PM Rose Kunkel <notifications@github.com>
wrote:

[2019-01-23 04:48] ranjitjhala commented on #1381
@rosekunkel (due to @morteako) I came across this odd error, is it related to / fixed by the above?

[code]

It seems like the structural checker does not check `lem_add`, and then LH complains with:

[code]

but if you flip the arguments to `lem_add` and put the `FingerTree` first then its ok.

This seems odd? Any clue?

[2019-01-23 05:54] rosekunkel commented on #1381
The code seems to be missing some definitions, so I can't say for sure, but I would expect this to be fixed by this change. In particular, the termination checker currently assumes that unchanging arguments come first, followed by decreasing arguments. Since e.g. `(nodeS f)` is neither, it gives up before reaching the `FingerTree` parameter.

[2019-01-24 14:24] ranjitjhala commented on #1381
Great! Was there a PR already that we can merge?

On Tue, Jan 22, 2019 at 9:54 PM Rose Kunkel <notifications@github.com>
wrote:

[2019-01-24 18:21] rosekunkel commented on #1381
Not yet; I'll get one up today. I wanted to make a few more tests.

On Thu, Jan 24, 2019, 06:24 Ranjit Jhala <notifications@github.com wrote:

[2019-01-24 18:30] ranjitjhala commented on #1381
awesome thanks!!

On Thu, Jan 24, 2019 at 10:21 AM Rose Kunkel <notifications@github.com>
wrote:

[2019-01-25 00:30] rosekunkel commented on #1396
Interestingly, if I add a case
[code]
GHC complains about redundant patterns. The core still has failure cases when I do this, but LH can somehow prove it's total with this extra case. This is the new core:
[code]
It looks like the main difference is just where the `join` happens.

[2019-01-25 00:46] ranjitjhala commented on #1396
so to be clear, if you do:

[code]

GHC adds a `patError` BUT if you then add

[code]

it says "redundant patterns" ?!!

<https://inboxwhenready.org/?utm_campaign=signature&utm_medium=email&utm_source=signature>
I'm using Inbox When Ready
<https://inboxwhenready.org/?utm_campaign=signature&utm_medium=email&utm_source=signature>
to protect my focus.

On Thu, Jan 24, 2019 at 4:30 PM Rose Kunkel <not

[2019-01-25 00:52] rosekunkel commented on #1396
That's correct.

[2019-01-25 01:41] ranjitjhala commented on #1396
Can you replicate this just by compiling with GHC and using the flag
—ddump-core (I think that’s what it’s called) to make sure it’s not some LH
oddness?

On Thu, Jan 24, 2019 at 4:53 PM Rose Kunkel <notifications@github.com>
wrote:

[2019-01-25 01:44] rosekunkel commented on #1396
That's how I've been getting the core (with `--ddump-ds`). Is there a way to ask LH to dump the core directly?

[2019-01-25 01:50] rosekunkel commented on #1396
Oh I guess running with `-v` does that.

[2019-01-25 02:29] gridaphobe commented on #1396
Interesting example! If you write out the cases manually for `ackFlipped` you get

[code]

which GHC desugars into

[code]

(If you swap the order of the `Z` and `S` alts, you get something similar, ie still no `patError`.)

Also, notice that the desugared `ackFlipped` does a complete case on `ds_d2b6` twice, which is clearly redundant. And indeed, if you add `-dverbose-core2core` and `-O`, you'll

[2019-01-25 02:45] rosekunkel opened #1398 "Structural termination can't check destructed-then-reconstructed arguments."
The following fails the structural termination checker:
[code]
This is because the termination checker can't determine that the `(S m)` in the recursive call to `ack` is the same as the `(S m)` which appears as a parameter. As a workaround, we can just name the whole parameter:
[code]
The reason this fails is that the notion of "the same expression" or "subexpression" in the termination checker is

[2019-01-25 17:48] #1381 closed, assigned to nobody

[2019-01-25 18:03] ranjitjhala commented on #1393
[For the record] I like @nikivazou 's suggestion that the saved `.bspec` files should be "closed", i.e. should pull in transitive dependencies. I do worry whether the GHC names are in scope though, but that's another issue...

[2019-01-28 18:06] rosekunkel commented on #1396
@nikivazou pointed out that the problem goes away with `--exactdc`. It seems because we don't define a measure, LH doesn't know enough about `Peano`'s constructors to prove `ackFlipped` is total when GHC fails to eliminate the error cases.

Maybe we should be turning `--exactdc` on by default? Structural termination eliminates the need to write a lot of measures, so it seems like we will run into

[2019-01-29 04:35] ranjitjhala commented on #1398
Was this fixed by #1397?

[2019-01-29 04:36] ranjitjhala opened #1401 "Apply-polymorphism error"
The below program fails with:

[code]

[code]

[2019-01-29 06:19] rosekunkel commented on #1398
No, this is still an issue.

On Mon, Jan 28, 2019, 20:35 Ranjit Jhala <notifications@github.com wrote:

[2019-02-01 17:13] ranjitjhala commented on #547
This is issue remains, except that the structural checker can now verify the code on its own... 👍

[2019-02-01 17:13] #547 closed

[2019-02-01 17:14] ranjitjhala opened #1403 "Unexpected termination error"
The following program yields a weird termination error about no metric (when you leave the `undefined` in. Any idea what's going on @rosekunkel ?

[code]

[2019-02-01 17:37] rosekunkel commented on #1403
Wow, weird. I'll take a look at it.

On a related note, it would be nice if instead of just "no decreasing parameter" we printed out the error that the structural checker produced. As far as I know those errors just go nowhere right now.

[2019-02-01 17:54] rosekunkel commented on #1403
I've narrowed down the problem. Without `undefined`, the core looks something like this:
[code]
whereas with `undefined`, the core becomes something like
[code]
The structural checker seems to only look at top-level lambdas, so in the second case, it thinks that `thm_mirror_contents` has no parameters at all. Not sure yet how easy this will be to fix, though.

[2019-02-01 18:01] rosekunkel commented on #1403
The structural checker does this because it's what `CoreSyn.collectTyAndValBinders` does (which is unfortunate).

[2019-02-03 06:40] rosekunkel opened #1404 "Structural termination checking is unsound"
The following passes the strucutral termination checker and is deemed safe:
[code]
Running with `--no-structural` correctly returns "unsafe". Unfortunately, reverting the recent changes I made to the checker does not fix the problem, the old checker still deemed this code safe.

[2019-02-03 06:49] rosekunkel commented on #1404
More generally, functions defined in recursive let-bindings are not checked for termination.

[2019-02-03 07:09] rosekunkel commented on #1404
More unsoundness:
[code]

[2019-02-03 07:20] rosekunkel commented on #1404
Interestingly, these are actually examples of the same bug. For some reason GHC compiles the above to a recursive let-binding, something like
[code]
Adding a parameter to each function causes it to compile them to mutually-recursive top-level bindings, which are correctly rejected:
[code]

[2019-02-03 15:17] ranjitjhala commented on #1404
Whoa. Good catch! Do you mean non toplevel Rec binders are not checked (ie
only top level RecBinders are checked?)

On Sat, Feb 2, 2019 at 11:20 PM Rose Kunkel <notifications@github.com>
wrote:

[2019-02-03 22:02] rosekunkel commented on #1404
Yes, essentially.

[2019-02-04 10:12] nikivazou commented on #1404
Interesting! @rosekunkel are you trying to fix it? (If not maybe we should switch to semantic termination by default, thought I do prefer the automation of structural :) )

[2019-02-04 10:14] nikivazou opened #1405 "Another failure to prove structural termination"
The following cannot be proved to terminate structurally:

[code]

http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1549275297_15704.hs

[2019-02-04 17:09] ranjitjhala commented on #1405
Why should the structural checker get this?

On Mon, Feb 4, 2019 at 2:15 AM Niki Vazou <notifications@github.com> wrote:

[2019-02-04 19:09] racherb opened #1406 "Value of a tuple not evaluated when the type is Data.Text"
The following refinement works well for Int, Char and String data types but not for the Text type.

[code]

It is expected that the output of Liquid will be SAFE, however, it seems that it is not enough to evaluate the value of the tuple for the Data.Text type.

[code]

[2019-02-04 19:19] ranjitjhala commented on #1406
Hmm, this _should_ be easy to fix, essentially:

1. Figure out how the literal is represented in the Core,

2. Extend the current handling of string literals as below, to the corresponding functions in the `Text` library.

[code]

[2019-02-04 19:20] ranjitjhala commented on #1406
Thanks for filing this issue @racherb !

[2019-02-04 20:44] racherb commented on #1406
Hello **@ranjitjhala**, thank you for the contribution of your project to the Haskel community. I've tried to execute the specifications as indicated and my code still doesn't work.

For example:

`$ liquid -i include/GHC/CString.spec target.hs -v`

Am I making incorrect use? or do I need to specify something else?

Best regards,

[2019-02-04 20:53] ranjitjhala commented on #1406
Hi @racherb -- LH already includes those files so that doesn't help. Instead, what is needed is to refine the type of  `Data.String.fromString` to say that the value returned is equal to the input string.
The easiest way for you to make progress is to add that signature as an `assume` to your file, e.g.

[code]

LH says "safe" on the above file :-)

The _ideal_ situation is to add that signature t

[2019-02-04 21:24] rosekunkel commented on #1404
@nikivazou I am, but it's a pretty busy week for me so I might not have a fix up for a little while. Conceptually the fix isn't hard but we'll need to re-architect the checker a little bit.

[2019-02-04 22:02] racherb commented on #1406
Thank you very much, it worked excellently just by adding the **assume** sentence.

I think this kind of specifications should be solved on the LH side, so the programmer focuses only on the specification. We understand that this is only the beginning of LH and that in the future LH will resolve these details internally, at least for Haskell's most popular code libraries.

We are very excited to f

[2019-02-05 00:14] rosekunkel commented on #1404
More unsoundness:
[code]

This time the unsoundness comes from the handling of mutually-recursive definitions, not the fact that `let` expressions aren't checked. The logic for mutually-recursive definitions was already kind of broken, but I think it probably could not be turned into unsoundness before my changes.

[2019-02-05 00:36] rosekunkel commented on #1404
I wonder whether going forward if we should have the structural checker emit termination metrics for functions, instead of just blindly trusting its output.

It seems like that could reduce the amount of code we have to trust.

[2019-02-05 08:48] nikivazou commented on #1404
Or, we can reject all mutual recursive function as non-terminating and require semantic metrics?

[2019-02-05 08:51] nikivazou commented on #1405
`snoc (QOneOne y1 ys y2) x` calls  `snoc ys (Pair y2 x)`, one element is removed, so I thought it would accept it. No?

[2019-02-05 16:30] ranjitjhala commented on #1405
There’s some funky polymorphic recursion going on so not clear ... I guess
it should but this is not a plain ADT. Maybe @nomeata or @rosekunkel can
comment?

On Tue, Feb 5, 2019 at 12:51 AM Niki Vazou <notifications@github.com> wrote:

[2019-02-05 16:35] nomeata commented on #1405
This is not generally considered structural recursion; it does not follow the *structure* of the ADT. Instead, you are arguing about the size of the expression, but once you talk about size, you need something to solve linear inequalities … like an SMT.

[2019-02-05 16:36] rosekunkel commented on #1405
Why is this not structural recursion? It looks like ys is a subterm of the
first argument.

On Tue, Feb 5, 2019, 08:35 Joachim Breitner <notifications@github.com wrote:

[2019-02-05 16:51] nomeata commented on #1405
So, I misread the code. Ignore what I said. This should be structurally recursive

[2019-02-05 18:46] rosekunkel commented on #1405
This example works for me (locally and on the demo). What error were you seeing @nikivazou?

[2019-02-05 18:47] rosekunkel commented on #1404
That's a good stopgap measure at least.

[2019-02-06 02:26] racherb commented on #1406
Ranjit, the PR has been generated.

[2019-02-06 04:06] racherb opened #1407 "LH ends abruptly with "Killed" message"
By running LH on a recursive function that internally contains a list of 15 elements with different types of refinement, the system ends abruptly with the message "**Killed**". I had hoped that my machine would have run out of resources but that was not the case, so I would like to understand the reason behind the "**Killed**" message.

**LH Output**:
[code]

[2019-02-06 04:18] ranjitjhala commented on #1407
Wow! That’s a new one. Any chance you can share the code so we can try to reproduce?

[2019-02-06 04:18] ranjitjhala commented on #1407
(I wonder if there is something about the input that tickles a space or similar leak in LH?)

[2019-02-06 05:02] racherb commented on #1407
I'll be preparing a code that's simple to reproduce. I hope to publish it tomorrow.
At the moment I'm advancing the function that causes the problem:

[code]

[2019-02-06 16:08] nikivazou commented on #1405
True, I oversimplified... Here is the whole (failing) function:

http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1549469245_15764.hs

[2019-02-06 16:10] nomeata commented on #1405
Well, this is not structural recursive:
[code]
Note that `ys'` is not a subterm of the argument to `snoc`.

[2019-02-06 18:02] ranjitjhala commented on #1406
Thanks a bunch! merged!

On Tue, Feb 5, 2019 at 6:26 PM Racherb <notifications@github.com> wrote:

[2019-02-06 18:20] racherb commented on #1407
I enclose the code I've been testing with the idea that you can reproduce the "Killed" problem. I was able to verify that, indeed, the problem is related to the memory consumption on the LH side. If you look closely, the volumetry of the test input data is very low, so I didn't expect this problem to occur at this level.

[code]

[2019-02-06 18:31] ranjitjhala commented on #1407
wow, this is *very* surprising (as its not a "big" program),
and hence *very* helpful.

Many thanks for filing this will try to take a look soon!

On Wed, Feb 6, 2019 at 10:22 AM Racherb <notifications@github.com> wrote:

[2019-02-06 22:23] ranjitjhala opened #1409 "PLE fails to verify precondition"
Why does this program fail to verify?

[code]

[2019-02-07 11:38] nikivazou commented on #1407
Thanks for this!

A solution is to make `pwL` a global definition. Can you let me know if it works for you too?

Intuitively, `pwL` is using many constants, for each of which LH is defining a new variable that are in scope for the verification environment in which `pwL` is defined. So if `pwL` is global these constants are not used outside of its definition.

[2019-02-07 11:39] nikivazou commented on #1405
Correct, I did miss that (and got spoiled with everything getting accepted by structural checker with zero annotations) Thanks!

[2019-02-07 11:39] #1405 closed, assigned to nobody

[2019-02-07 14:26] ranjitjhala commented on #1409
Update: the following test in fixpoint shows the problem `tests/proof/ple3.fq` -- a bug in the "incremental PLE" code that removes partially unfolded candidates from the "pool".

[code]

The solution is to either:

1. don't remove candidates (price: have to keep unfolding candidates) or
2. add new terms from partial unfoldings to the set of candidates.

[2019-02-07 15:04] racherb commented on #1407
Thanks to you

I have made the suggested change and it continues to fail for the same reason. I also raised the scope of the sL function and LH was able to advance to 78%, at this point the operating system consume all swap space and makes Kill to the process.

Tell me how I can help you move forward on this issue.

[2019-02-07 16:00] nikivazou commented on #1407
You mean it continues to throw Kill?

With putting the last two functions in global scope liquid quickly returns with unsafe for me.
Check this: http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1549555162_15884.hs

[2019-02-07 17:34] #1409 closed, assigned to nobody

[2019-02-07 17:52] ranjitjhala commented on #1371
Here's another occurrence of PLE diverging (TBD if its the _same_ bug or not) -- via @mossaka -- and wonder if the issues found by @rosekunkel are also related.

[code]

[2019-02-08 13:42] racherb commented on #1407
nikivazou, thank you so much for your time.

The modified code works perfect. With the two functions declared globally, LH ends with good execution time.

However, in my real code this solution still doesn't work. It works well if I eliminate two refinements.

[2019-02-08 21:54] racherb commented on #1407
@nikivazou, I finally chose to omit the recursion from the `fmap (\(c, l, d, (s, t))`. I understand this is a memory usage problem. I'm just concerned about the fact that this is an LH learning exercise where I've used little data, so I wonder if you have any **small guide to good practices** and limitations that one should consider in design. On the other hand, what are the minimum requirements o

[2019-02-09 13:49] nikivazou commented on #1407
We do not currently have exactly what you are looking for.
The liquid haskell tutorial is the closest we have: http://ucsd-progsys.github.io/lh-workshop/ and then our issues are the only current document of the limitations.

From experience it makes sense that omitting your `fmap` makes sense, since you are asking LH to **infer** the types, as opposed to check user specified types.

[2019-02-09 15:25] ranjitjhala commented on #1407
I don’t follow why a single fmap should make such a
big difference frankly. Is there any way we can look
at the code Or reproduce the error because clearly
this is some strange LH problem that should be fixed...

On Sat, Feb 9, 2019 at 5:49 AM Niki Vazou <notifications@github.com> wrote:

[2019-02-11 13:54] racherb commented on #1407
Thanks @nikivazou, that documentation is great and it's the same one I've been using only I'm having unexpected performance difficulties of which I can't find information.

@ranjitjhala, I will be sending an extract of the exact code with the intention that they can reproduce the problem.

[2019-02-11 19:08] racherb commented on #1407
I have uploaded the real code so that they can reproduce the problem at the following address: "[https://github.com/racherb/wells/tree/master/Wells/Internal/StateMachine](https://github.com/racherb/wells/tree/master/Wells/Internal/StateMachine)". Please feel free to modify it if you need. This code on my machine with 3GB of free memory ends with the following error.

LiquidHaskell Version 0.8.4.0,

[2019-02-11 19:13] ranjitjhala commented on #1407
Thanks @racherb ! this is very helpful! @nikivazou is it likely that this problem is caused by the top-level lists that introduce a bunch of constants in the global namespace?

[2019-02-19 22:13] Mossaka commented on #1380
I have encountered the same issue as discussed here. The following code gives an illegal type specification error.

[code]

The reason for that is empty_map returns a `Total_Map`, which is a partial function. Rose showed me to rewrite the `empty_map` function to the following works.

[code]

Posting here because this might be a motivating example.

[2019-02-20 03:48] ranjitjhala commented on #1371
The above issues (PLE divergences) have been fixed by #1411 as described above, I've now added tests that check this in `tests/ple/{pos, neg}`.

[2019-02-20 03:48] #1371 closed, assigned to ranjitjhala

[2019-02-26 10:50] nikivazou opened #1414 "Functions inside datatypes lead to imprecision"
The following is unsafe:

[code]

[2019-02-26 15:42] ranjitjhala commented on #1414
Why should this be safe? You’re comparing two functions?

On Tue, Feb 26, 2019 at 2:51 AM Niki Vazou <notifications@github.com> wrote:

[2019-02-26 16:26] nikivazou commented on #1414
It is syntactic equality, thought. e.g., the following IS safe

[code]

I expected it to be safe from the theory of data types.

[2019-02-26 16:32] ranjitjhala commented on #1414
No there is a big difference between the two... the example below works
because it is literally the same binder. In the other case it’s not the
same binder so  all bets are off .

On Tue, Feb 26, 2019 at 8:26 AM Niki Vazou <notifications@github.com> wrote:

[2019-02-26 16:39] nikivazou commented on #1414
It is the same binder, but gets wrapped in a data type.

[2019-02-26 16:50] nikivazou commented on #1414
So, the following fails too (and I expected it would not)

[code]

[2019-02-26 17:29] ranjitjhala commented on #1414
Good point re: syntactic equality.

This has nothing to do with data constructors as such,
but something to do with how the pattern matching code works.

For example, the following modification of your code (which you may think is identical to the original!)
checks out fine:

[code]

[2019-02-26 17:33] ranjitjhala commented on #1414
The reason is something like: this particular form of pattern matching, e.g.

[code]

creates some particular Core code, for which we end up requiring
qualifiers. (Something odd like that, the details escape me now...)

Related to this issue:

https://github.com/ucsd-progsys/liquidhaskell/issues/670

in theory eliminate should have fixed this, but in practice I
think  doing eliminate across this p

[2019-02-26 17:51] nikivazou commented on #1414
The intuition makes sense. I looked at the smt query and there was some existential shadowing that rendered the query sat.

But how does function equality relates to that? If the `ff` field was not a function but any value (even a polymorphic `a` value) the code is SAFE.
Is this a bug (that is triggered by functions) or the expected behavior? I suspect it is a bug.

[2019-02-26 19:04] ranjitjhala commented on #1414
I think for non function values the qualifier “v=x” does the trick but we
don’t instantiate qualifiers for function typed values?

On Tue, Feb 26, 2019 at 10:00 AM Niki Vazou <notifications@github.com>
wrote:

[2019-02-26 21:31] sarahzrf commented on #1142
This seems to be a problem with tuples in specific—the following is accepted:

[code]

[2019-02-26 21:45] ranjitjhala commented on #1142
Yes, the issue has to do with "abstract refinements", so for example if you modify the above to the following (which adds abstract refinements for the `Pair` type, then the same crash occurs :(

http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1551217450_16588.hs

[code]

[2019-02-27 22:54] spacekitteh opened #1415 "Does this compile with GHC 8.6?"

[2019-02-27 23:15] ranjitjhala commented on #1415
Not yet, but I think I'll try to put that next on my TODO list!

[2019-02-27 23:15] ranjitjhala commented on #1415
@nikivazou did we ever start a branch to move to GHC 8.6 I can't recall?

[2019-02-28 09:27] nikivazou commented on #1415
I didn't :(

[2019-03-02 11:48] josejuan opened #1417 "UndecidableSuperClasses memory overflow"
I'm playing with LH (trying to check Paper/Rock/Scissors rules consistency at compile time) but I fall into memory overflow:

    -- LiquidHaskell Version 0.8.4.0, Git revision dfb317e4f9300da4c6d84c7ef72325897e9910dd

    {-# LANGUAGE MultiParamTypeClasses #-}
    {-# LANGUAGE DeriveAnyClass #-}
    {-# LANGUAGE TypeOperators #-}
    {-# LANGUAGE UndecidableSuperClasses #-}

    class Shape a

[2019-03-02 17:14] ranjitjhala commented on #1417
Wow this is new! Thanks for posting will look ASAP!

On Sat, Mar 2, 2019 at 3:48 AM josejuan <notifications@github.com> wrote:

[2019-03-04 11:33] nikivazou commented on #1417
Nice example!

@josejuan what exactly do you plan to check? Since you are using LH you could define `versus` as a function and define properties on it using refinements: you do not need to define it as a type class.

At any case we should look into the memory overflow...
I suspect that it happens because (in general) the ghc auto-genereted code is huge and not verification friendly and this exampl

[2019-03-04 15:41] ranjitjhala commented on #1417
Niki,  that flag disappeared, because I needed the default behavior. I
think with the move to GHC84. For the auto generated code was causing all
kinds of problems and so I disabled  checking it. I doubt that’s the
problem here but who knows?

On Mon, Mar 4, 2019 at 3:34 AM Niki Vazou <notifications@github.com> wrote:

[2019-03-04 15:58] nikivazou commented on #1417
Most of the code here looks auto generated but apparently it gets checked.
Maybe our checking on what it autogenerated should be updated after ghc-8.4

[2019-03-04 16:35] ranjitjhala commented on #1417
You mean we need to change the LH code that determines what is a generated
binder right?

On Mon, Mar 4, 2019 at 7:58 AM Niki Vazou <notifications@github.com> wrote:

[2019-03-04 17:33] nikivazou commented on #1417
right.

[2019-03-04 18:39] josejuan commented on #1417
@nikivazou that's my very first LH expression. Yes, I could define `versus` as one function but then it would be closed, I was trying to enforce invariant here (class) to the future (instances). Anyway without any concrete direction :smile: Thank you!

[2019-03-06 04:12] spacekitteh commented on #1415
What would have to be done to do this? Although it might be worth going straight to 8.8, as it's due to be released in less than two weeks.

[2019-03-06 04:45] ranjitjhala commented on #1415
Yikes is 8.8 on the horizon :-)

My sense is it _shouldn't_ be too difficult; the GHC API has
likely changed a bit so various things will have to be updated
to support it.

The biggest things are:

1. Update the "Desugar" directory

https://github.com/ucsd-progsys/liquidhaskell/blob/develop/README.md#updating-ghc

   which is basically just ripped from GHC, (because we have to tweak it in
one
   l

[2019-03-06 06:35] spacekitteh commented on #1415
It seems that ghc-lib doesn't have a runtime, so you can't execute any code at compile time (e.g. template haskell).

I'll look into submitting it as a patch to GHC, but I doubt it'd make 8.8 in time.

[2019-03-07 01:58] spacekitteh commented on #1415
Actually, is the patch still even needed?

[2019-03-07 15:25] ranjitjhala commented on #1415
Well for ghc 843 it was needed: I recall putting it in myself to get the
right source spans for errors. However, iirc @nomeata had started the ball
rolling on basically getting that incorporated in ghc so maybe it’s merged
into ghc 864? Let me find the relevant link from slack...

On Wed, Mar 6, 2019 at 5:58 PM Sophie Taylor <notifications@github.com>
wrote:

[2019-03-07 21:26] spacekitteh commented on #1415
Relevant: https://gitlab.haskell.org/ghc/ghc/merge_requests/505

[2019-03-11 00:45] jprider63 commented on #1168
I think this has regressed. I'm getting the same error with a recent version from develop. Should we add this to the test suite?

[code]

[2019-03-11 02:39] ranjitjhala commented on #1168
Wow - sorry, thanks for reopening - pretty surprised we don’t already have
a test for this. Better late than never!

On Sun, Mar 10, 2019 at 5:46 PM JP <notifications@github.com> wrote:

[2019-03-11 03:03] ranjitjhala commented on #1168
@jprider63 can you give a failing test case? The one at the top that @rosekunkel posted seems to be working fine: http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1552273359_17374.hs

[code]

[2019-03-11 04:33] jprider63 commented on #1168
Maybe this is a slightly different bug then. I haven't tried to minimize it yet, but here's a failing [case](http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1552278301_17377.hs).

[code]

This is a separate issue, but I also noticed I've sometimes had to add redundant liquid type annotations to functions like `sendMsg`. If I omit the liquid types, LH ignores the refinements on `ThreadId`. [

[2019-03-11 06:38] nikivazou commented on #1168
As a hack around this, I had to explicitly present the `Just` constructor in Haskell code, so that `Maybe` is allowed to be reflected (e.g., https://github.com/ucsd-progsys/liquidhaskell/blob/b0216fad35e700b0fc23331a08a4dff54b32e77e/tests/class-laws/Monoid.hs#L53-L56)

[2019-03-12 08:51] nikivazou opened #1420 "PLE breaks equational steps"
The following is SAFE

[code]

But if I activate ple (`{-@ ple distributivityP @-}`) I get two errors (one for the undefined and one for the equational step noted above). Check it here: http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1552380552_17443.hs

[2019-03-13 15:48] ranjitjhala commented on #1420
@nikivazou -- this is not a PLE bug, but "feature" :-)

Specifically, if you replace the import

[code]

with

[code]

then the code is SAFE. The reason is that:

(1) I have _disabled_ polymorphic instantiation for refinements in "reflection/ple" mode,
     which greatly speeds up verification, however,
(2) For the cases where you _do_ need it, e.g. when using the `?` combinator, you can recover

[2019-03-13 16:22] ranjitjhala commented on #1168
@jprider63 the issue here appears (?) to be more to do with error reporting -- in your code you had not `reflect`-ed the functions `pop` and `<$>` etc.

Consider the following minimized version:

[code]

This _still_ gives the *undesirable*  error about cannot find `is$Just` etc. but oddly when the `pop` is `reflect`-ed, LH then changes its tune and *correctly* complains about the other functions

[2019-03-14 11:38] nikivazou commented on #1420
Oh! Smart :)

I assume you can add these abstract refinements to the `==.` operator as well?

[2019-03-14 11:38] #1420 closed, assigned to ranjitjhala

[2019-03-14 17:27] adrwes opened #1421 "Reflected infix append function causes "Error: Cannot parse specification""
The code below should be accepted by Liquid Haskell but is not. Removing the function `nilAppendId` or using an prefix append function instead, results in the code being accepted.

[code]

### Error message

[code]

[2019-03-14 18:35] rosekunkel commented on #1421
As a workaround, if you change `[]` to `nil` then it parses:
[code]

[2019-03-14 18:38] adrwes commented on #1421
Ok interesting, is nil a synonym for [] in the logic?
Still strange that the specification for appendNilId is parsed just fine with []!

[2019-03-14 18:47] rosekunkel commented on #1421
Yes, `nil` is a synonym for `[]`. The parser does not handle list literals well in general, unfortunately.

[2019-03-14 19:07] ranjitjhala commented on #1421
Thanks @rosekunkel!

This is a recurring issue, I think I'll try to fix the parser to accept `[]` ...

[2019-03-14 19:29] adrwes commented on #1421
Another workaround seems to be to wrap the [] in parentheses:
[code]

[2019-03-14 23:04] ranjitjhala commented on #1421
Wow! Thanks Adrian I didn’t know about this workaround!

On Thu, Mar 14, 2019 at 12:29 PM Adrian Westerberg <notifications@github.com>
wrote:

[2019-03-14 23:24] rosekunkel opened #1422 "Reflected function on GADT needs explicit type annotation"
The following triggers an LH error:
[code]
The error is
[code]

However, if we explicitly annotate the type of `123`, it passes:
[code]

[2019-03-15 00:02] ranjitjhala commented on #1422
Grr that’s a bit odd that GHC puts in the unnecessary “fromInteger” ...

Still would be nice to somehow use the typesig to generate a term to use in
the reflected body... hmm.

On Thu, Mar 14, 2019 at 4:25 PM Rose Kunkel <notifications@github.com>
wrote:

[2019-03-15 00:03] rosekunkel opened #1423 "Abstract refinements + reflection + GADTs causes fixpoint crash"
The following file causes a crash:
[code]
The output is
[code]

[2019-03-15 00:18] ranjitjhala commented on #1423
Oh no. Regrettably this has touched the dark corners of the abstract
refinement implementation that only @nikivazou (if anyone) understands ...

On Thu, Mar 14, 2019 at 5:04 PM Rose Kunkel <notifications@github.com>
wrote:

[2019-03-15 02:09] rosekunkel opened #1424 "Can't inline functions from GADTs"
The following code causes a sort error:
[code]
The error is
[code]
This cast ought to be safe.

[2019-03-15 03:35] ranjitjhala commented on #1424
What happens if you

1 reflect f?
2 reflect f’ (and remove the signature?)

On Thu, Mar 14, 2019 at 7:10 PM Rose Kunkel <notifications@github.com>
wrote:

[2019-03-15 03:44] rosekunkel commented on #1424
Then it's safe. But in the context I actually want to use this, I don't think reflecting is a good solution: it seems to make LH unable to automatically verify things (and turning on PLE causes a bunch of errors).

[2019-03-15 03:48] rosekunkel commented on #1424
More context:
[code]

I think if `policy` and `project` were inlined here, then LH would be able to check something like
`UserName ==. "alice"` against `RefinedFilter<{\row -> userName row == "alice"}, {\row v -> userId v == userFriend row}> User` automatically (but I could be mistaken).

[2019-03-15 04:41] ranjitjhala commented on #1424
Looks like the issue is that we aren't substituting
*type variables* at places where `inline` and `reflect`
are then "applied" within refinements. Not entirely
surprising, since there aren't supposed to be type variables
in refinements in the first place -- these were bolted on
later to support GADTs but I guess that needs more work!

This would be a good thing for you to try to fix @rosekunkel

T

[2019-03-15 04:43] ranjitjhala commented on #1424
(Anyways, while I can do this, it may be a good exercise for you @rosekunkel
in exploring a bit some different parts as this code should be reasonable to follow.)

[2019-03-15 15:03] nikivazou commented on #1424
Oh, this seems to be specially tricky since `Int` and `Bool` are both interpreted by SMT.
If we are to reflect the GADT `Foo`, then what would its SMT representation look like?

[2019-03-15 15:10] nikivazou commented on #1423
Well, I have no idea how are GADTs represented in core and how they are different than ADTs.
Will take a look next week.

[2019-03-15 15:17] nikivazou commented on #1421
It also works if you put the parenthesis around the append ` ([] ++ xs)  == xs`, in case it is a bit less ugly...

[2019-03-15 15:31] ranjitjhala commented on #1424
Niki That is a separate and orthogonal issue to the problem Rose has which
has to do with the coercion’s not getting appropriately substituted

On Fri, Mar 15, 2019 at 8:05 AM Niki Vazou <notifications@github.com> wrote:

[2019-03-15 15:56] ranjitjhala commented on #1423
Yes it’s quite likely that the GADTs you some different kind of
representation and that the code for abstract refinements need to to be
updated to account for that...

On Fri, Mar 15, 2019 at 8:10 AM Niki Vazou <notifications@github.com> wrote:

[2019-03-15 16:22] nikivazou commented on #1424
I guess you are correct, but if we do not also address this issue, we cannot go far with GADTS.

[2019-03-15 16:28] ranjitjhala commented on #1424
Not sure what you are referring to. It is true that we cannot directly
include JDs in SMT lab, but for those situations we can just encode them as
we were before as an opaque integer.

On Fri, Mar 15, 2019 at 9:23 AM Niki Vazou <notifications@github.com> wrote:

[2019-03-18 01:33] ranjitjhala commented on #1415
@spacekitteh I made a branch #1426 that (surprisingly!) is *mostly*
working with ghc 8.6.3.

[2019-03-22 17:22] ulysses4ever opened #1430 "Demo does not compile"
Take the simplest example: [Basics/Evens.hs](http://goto.ucsd.edu:8090/index.html#?demo=evens.hs). Clicking on "Check" gives the error, which I can reproduce locally on a fresh `master` checkout.:
[code]

[2019-03-22 21:11] ranjitjhala commented on #1430
Oh dear, `master` is _super_ old (thanks for the reminder, will update!)
please use `develop` which is kept upto date. (sorry for the confusion!)

On Fri, Mar 22, 2019 at 11:02 AM Artem Pelenitsyn <notifications@github.com>
wrote:

[2019-03-22 22:02] ulysses4ever commented on #1430
Gotcha, thanks!

[2019-03-22 22:02] #1430 closed, assigned to nobody

[2019-03-22 22:21] ulysses4ever commented on #1430
Just noting that online availability is an important feature.

[2019-03-22 22:31] ranjitjhala commented on #1430
Oh sorry, I didn't realize you were referring to the demo!

Notice that response in the online demo is the *correct*
and *desired* one: note that `7` is not an even number :-)

[2019-03-22 22:45] ulysses4ever commented on #1430
Ouch, silly me, thanks!

[2019-03-23 17:03] #1415 closed, assigned to nobody

[2019-03-27 13:38] peti opened #1435 "Error: Illegal type specification for `GHC.List.splitAt`"
The current `develop` version of LH won't cope with `Control.Lens`. I'll paste the (longish) error message below. Note that LH succeeds if I replace `Control.Lens` by `Control.Lens.TH`, so it's apparently not the derived lens instances that cause trouble; it's something else. Anyway, here is the error case I ran into:

[code]

[code]

I'm using LH from 254e77da9cd36e95b72c526bfb9eec50d3447050 with

[2019-03-27 14:09] nikivazou commented on #1435
Looks like a name resolution error...

Could you please inline the definition of `Min` (i.e., `Min V X Y = if X < Y then V = X else V = Y`) in the illegal type (https://github.com/ucsd-progsys/liquidhaskell/blob/develop/include/GHC/List.spec#L38) and send another PR?

Thanks!!!

[2019-03-27 15:27] peti commented on #1435
Is there maybe a way to refer explicitly to the `Min` predicate that's defined in `include/Prelude.spec`? Using `Prelude.Min` won't work -- I have found out so much. Anyway, it feels like a shame to inline the definition of `Min` into that type, which is rather long'ish already.

[2019-03-27 17:55] #1435 closed, assigned to nobody

[2019-03-28 06:58] nikivazou commented on #1423
Fixed, but check my comment in #1439

[2019-03-28 06:58] #1423 closed, assigned to nikivazou

[2019-03-28 07:20] nikivazou commented on #1396
This flippedAck is creating another problem.
Structural termination fails when I turned on the `-fdefer-typed-holes` flag (in #1440).
The only difference that I can see in core is that the `GHC.Stack.Types.HasCallStack` let binding is generated inside the `flippedAck` definition and globally with the `-fdefer-typed-holes` flag. Is that a reason for the structural termination checker to get confuse

[2019-04-03 07:32] lippirk opened #1445 "Parsing include/Data/ByteString/Lazy.spec fails"
I've spent a while trying to get liquidhaskell working with nix, but finally hit this blocker.

I've compiled `liquidhaskell` with v0.8.0.1 of `liquid-fixpoint` and v0.8.4.0 of `liquidhaskell` (I borrowed the exact commits to use from the following overlays https://github.com/mhwombat/dotWombat/tree/master/nix-overlays). I compiled with ghc-8.4.3 (specifically nixos-18.09 ghc843).

Running `liquid

[2019-04-03 10:12] nikivazou commented on #1445
This version of LH is indeed quite old. Can you pull the develop branch?
We use`stack` to synch `ghc` with the `liquidhaskell` version and `submodules` to synch with `liquid-fixpoint`. So if you follows these steps, it should work https://github.com/ucsd-progsys/liquidhaskell/blob/develop/INSTALL.md#step-2-install-liquid-from-source

[2019-04-03 20:35] lippirk commented on #1445
Yes, compiling LH (in isolation) works :+1: and the spec error has gone!

Unfortunately `stack` refuses to compile LH alongside the other packages in a project where I want to use LH. The next thing to try is to install LH globally. I gave this a go, but then calling `liquid` falls over, presumably because it can't see the local packages I have installed:

[code]
^ here GDP is a module from the `g

[2019-04-03 20:52] lippirk commented on #1445
It seems that my question above was answered here:

https://github.com/ucsd-progsys/liquidhaskell/issues/1099

you can do it with:

`liquid examples/search.hs --ghc-option='-package-db=/nix/store/hy1ihz6ngllvfzyif6b5gf2qgcx54ygz-ghc-8.0.2-with-packages/lib/ghc-8.0.2/package.conf.d'`

Now I have a ghc linker error, but I guess that's my own fault.

Thanks for your help!

[2019-04-03 20:52] #1445 closed, assigned to nobody

[2019-04-03 21:41] rosekunkel commented on #1396
@nikivazou Yes, if the let binding appears above one of the lambdas, it will get confused. I.E., this works fine:
[code]
But this fails:
[code]

[2019-04-03 22:36] ranjitjhala opened #1446 "GADTs and Abstract Refinements"
maybe related to #1424

Due to @rosekunkel, this causes:

1. some wierd sort errors,
2. the dreaded `Constraint.instantiatePvs` (if you run with `--prune`)

[code]

[2019-04-04 08:23] nikivazou commented on #1446
Did you see this: https://github.com/ucsd-progsys/liquidhaskell/pull/1439

In short, GADTs generate different worker and wrapper constructors. Not sure how to translate user defined abstract refinement types under this difference.

[2019-04-04 08:26] nikivazou commented on #1396
@rosekunkel if there a reason for this restriction? doesn't seem like too difficult to fix it.

[2019-04-04 23:53] rosekunkel commented on #1396
@nikivazou There isn't a good reason. It was while attempting to fix this that I found all the other soundness bugs in the structural checker, though. I have a patch for it that's 90% complete, I just haven't had a chance to get it to 100%.

[2019-04-06 00:08] rosekunkel opened #1447 "`div` and `mod` have interpretations in SMT, but `quot` and `rem` do not"
You can't reflect functions which use `quot` and `rem`, but using `div` and `mod` works fine:
[code]

I'd fix this myself but I don't know z3 well enough to know which functions to use: `quot` and `rem` differ from `div` and `mod` only in that they round towards 0, rather than towards -infty.

[2019-04-06 00:27] rosekunkel opened #1448 "Can't reflect functions with recursive helpers."
A function with a recursive helper like this:
[code]
can't be reflected at all currently. The error message is:
[code]
It would be nice if it could be reflected, although it's not clear how we would reference `go` in proofs; maybe we could do something like this:
[code]

[2019-04-06 00:30] rosekunkel commented on #1448
This should probably still be changed even if we don't come up with a way to reference `go` in proofs, since PLE can remove the need to in a lot of cases.

[2019-04-06 01:03] ranjitjhala commented on #1448
This is tricky but doable; I guess it’s always been easier to just rewrite
to hoist the inner function out?

On Fri, Apr 5, 2019 at 5:31 PM Rose Kunkel <notifications@github.com> wrote:

[2019-04-06 01:31] rosekunkel commented on #1448
Yes, the way I encountered it was trying to reflect Prelude's definition of `gcd`: if we're going to make people copy library functions in order to reflect them, it would be nice if they didn't have to rewrite them as well.

[2019-04-06 12:22] lippirk opened #1449 "Adding spec for `Vector.head` doesn't work as expected"
I expected liquid haskell to point out that `myHead` is unsafe here:

[code]
with the following addition to the Vector spec file:

[code]

however, it thinks that `myHead` is safe.

Furthermore, it also thinks that the following is safe:

[code]

I expected ls to definitely tell me that this is 'UNSAFE'?

NB:

I've added a working example here https://github.com/lippirk/liquidhaskell/commit/5847f2

[2019-04-06 14:10] ranjitjhala commented on #1449
@lippirk did you rebuild LH after updating `Data/Vector.spec` -- this puts the .spec file in the right path. When I do so, I get the following error:

[code]

Also, note that the `undefined` is *not* considered unsafe -- we chose to treat it as such
in the LH prelude (since `undefined` is often used as a placeholder.) If you instead want
to flag those are actual errors, use `error`, e.g.

[code]

[2019-04-06 14:34] lippirk commented on #1449
Okay, that's pretty silly of me, rebuilding fixed it. Thanks for pointing that out!

[2019-04-06 14:34] #1449 closed, assigned to nobody

[2019-04-07 04:18] ranjitjhala opened #1450 "Alpha rename function binders in aliases"
The following fails, but an alpha-renamed variant succeeds.

The comment in the code below explains the problem and the fix,
which is to uniquely alpha-rename the function binders in
type-aliases to avoid capture. Sigh.

[code]

[2019-04-07 17:52] ranjitjhala opened #1451 "Equivalent definitions giving different results"
Here are two definitions of a `reflect`-ed function -- one works and the other does not. Why?

[code]

[2019-04-08 19:59] lippirk opened #1452 "Adding assumptions to variables to satisfy LH"
**tldr;** Is there a way to tell LH to make an assumption about a variable?

---------------------------------------------------
For example:
[code]
LH quite rightly rejects this because it doesn't know that `0 <= idx < vlen xs`.

If we try to write a spec for this:

[code]
then it doesn't work; I assume this is because of currying, because rearranging the arguments _does_ work:

[code]

I'd rathe

[2019-04-08 20:25] ranjitjhala commented on #1452
Hi @lippirk -- great question! You can either use `liquidAssume` defined as below:

[code]

or there is a more fancy way of writing a signature for `iscanl'` that
allows you to NOT have to flip the arguments, will post that in a little bit
after my lecture...

[2019-04-08 21:15] lippirk commented on #1452
Cool! That looks like exactly what I need. Thank you.

Please do, I'd be really interested seeing how you manage to refine `iscanl'` like that.

I haven't been looking at the haddocks for LH - only googling - but it looks like I ought to be. Hopefully this will be the last time I bother you

[2019-04-09 17:30] ranjitjhala commented on #1318
Closing, as this is technically _not_ structural termination, in that

   `Alts as`

is not a sub-term of

   `Alts ((_,t):as)`

Note that the following modification does pass the structural checker:

[code]

[2019-04-09 17:30] #1318 closed, assigned to nobody

[2019-04-09 17:44] ranjitjhala commented on #1396
Here's another silly example of a "let" appearing above the lambda: the below FAILS the structural termination checker,

[code]

but if I replace `Ord` with `Eq` it passes!

The reason is that GHC converts the version with `Ord` into something like:

[code]

in short, would be nice to resolve this :-)

[2019-04-09 21:44] ranjitjhala commented on #1396
RELATED: https://github.com/ucsd-progsys/liquidhaskell/issues/1403

[2019-04-09 21:44] ranjitjhala commented on #1403
https://github.com/ucsd-progsys/liquidhaskell/issues/1396

[2019-04-11 04:57] ranjitjhala commented on #1448
True, but PLE won't always work, esp. if the internal functions are recursive, and require some sort of induction. Given that its unclear how to then "call" the internal functions, in a "proof term", I can't think of a reasonable way around this (without rewriting code to expose helpers at the top level...)

[2019-04-11 04:57] #1448 closed, assigned to nobody

[2019-04-11 05:33] ranjitjhala commented on #1424
haha -- as usual @nikivazou  is right; once the coercion-substitution issue is fixed, this hits a real road block because GADTs seem pretty incompatible with SMT-Sorts.

## Example

[code]

## The Problem

The problem is you cannot encode the body of `proj` as a well-sorted refinement.
The body looks like:

[code]

where `x` is now being treated both as `Int` and as a `Bool`. Now GHC has all sorts

[2019-04-11 16:54] abakst opened #1454 "`is$...` measures not generated for imported types"
Error of the sort:

`Unbound symbol is$Foo.Bar.A1 --- perhaps you meant: is$Foo.Bar.D1 ?`

To reproduce:
  1. clone https://github.com/abakst/scratch
  2. run `make proof`

The `is$...` measures are not available in `Foo.Baz` despite the refined data in `Foo.Bar`.

Possibly related to #1284.

[2019-04-11 16:57] ranjitjhala commented on #1424
## Example

[code]

## The Problem

The problem is you cannot encode the body of `proj` as a well-sorted refinement.
The body looks like:

[code]

where `x` is now being treated both as `Int` and as a `Bool`. Now GHC has all sorts
of machinery to deal with the above; in Core the above is represented as:

[code]

But of course there is no such thing in SMTLIB, so Z3 rejects formulas like the above.

[2019-04-11 17:10] ranjitjhala commented on #1454
You're missing a `-i lib` to tell LH to use the `lib/` to search for the source files, and generated intermediate stuff.

For example, tweak your Makefile to:

[code]

[2019-04-11 17:10] #1454 closed, assigned to nobody

[2019-04-11 17:11] ranjitjhala commented on #1454
Of course, please reopen if the above doesn't work :-)

[2019-04-11 17:23] abakst commented on #1454
Aha, thanks.

Now, if I *remove* the data refinements, then the error reappears (note that `--exact-data-cons` is provided in the Makefile).

[2019-04-11 17:45] abakst commented on #1454
(I should add that I am not sure if this is expected behavior or not, hence not re-opening)

[2019-04-11 19:07] abakst commented on #1454
On second second thought, re-opening since the issue title seems relevant still :)

[2019-04-11 19:10] abakst opened #1455 "`is$...` measures not generated for imported types without data decl"
Error of the sort:

`Unbound symbol is$Foo.Bar.A1 --- perhaps you meant: is$Foo.Bar.D1 ?`

To reproduce:
  1. clone https://github.com/abakst/scratch
  2. run `make proof`

The `is$...` measures are not available in `Foo.Baz` despite running `liquid` with `--exact-data-cons`

Is this expected behavior?

Possibly related to #1284.

[2019-04-11 19:11] abakst commented on #1455
Note that w.r.t. #1454, in this case the data types are not refined, so it's not clear if `--exact-data-cons` is expected to produce the `is$...` measures.

[2019-04-11 19:23] ranjitjhala commented on #1454
Is your repo upto date? (i.e. can still reproduce with current repo?)

btw,

1. You don't need the `data` refinements unless there are actual
refinements,
2. `exact-data-con` is subsumed by `reflection` and not needed...

On Thu, Apr 11, 2019 at 12:08 PM Alexander Bakst <notifications@github.com>
wrote:

[2019-04-11 19:30] ranjitjhala commented on #1454
Looks like this has to do with the command line params;
putting `{-@ LIQUID "--reflection" @-}` in the files
solves it. Can you confirm?

On Thu, Apr 11, 2019 at 12:23 PM Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

[2019-04-11 19:33] ranjitjhala commented on #1455
See note:

* Don't use `exact-data-con` (should be deprecated...!)
* Do put `--reflection` in the source.

IIRC there was a reason I wanted it to be in the file and not passed in the command line...

[2019-04-11 21:08] abakst commented on #1455
Adding `--reflection` to the source does solve the issue, thanks.

[2019-04-11 21:08] #1455 closed, assigned to nobody

[2019-04-11 21:08] abakst commented on #1454
Yep that does it, thanks

[2019-04-11 22:46] ranjitjhala commented on #1424
@rosekunkel can you make the example in

   https://github.com/ucsd-progsys/liquidhaskell/issues/1424#issuecomment-473148952

self contained so I can try out the recent edits? Currently `RefinedFilter` is not defined...

The following tests work in the `ple2` branch:

https://github.com/ucsd-progsys/liquidhaskell/blob/ple2/tests/ple/pos/T1424.hs

https://github.com/ucsd-progsys/liquidhaskell/blob/

[2019-04-12 00:11] abakst opened #1457 "PBE fails with let-bound function"
[code]

Running `liquid` on this module results in:

`crash: SMTLIB2 respSat = Error "line 303 column 23: unknown constant ds_d2oN"`

The crash goes away if I pull the definition of `go` out to the top level (and reflect it). Possibly related to #1204, but the failure is different.

[2019-04-12 01:19] ranjitjhala commented on #1457
Thanks for filing! As a general thing I think the reflect stuff doesn’t
like local functions so hoist to top level; am surprised this doesn’t
complain earlier ...

On Thu, Apr 11, 2019 at 5:11 PM Alexander Bakst <notifications@github.com>
wrote:

[2019-04-12 02:29] rosekunkel opened #1458 "PartialTypeSignatures causes parameter number mismatch"
The following code has a type mismatch, even though the Haskell and LH signatures are identical:
[code]
The error is:
[code]
The reason for the type mismatch is that the core for `baz` has an additional parameter not appearing in the source, the first parameter of type `[a]`. It seems like `baz` has gained `foo`'s argument for some reason. This is the most minimal example I could produce, changing

[2019-04-12 02:52] ranjitjhala commented on #1458
Seems like GHC is trolling LH ...

Does deleting the GHC sig for baz help?

On Thu, Apr 11, 2019 at 7:30 PM Rose Kunkel <notifications@github.com>
wrote:

[2019-04-12 03:51] rosekunkel commented on #1458
Yes, if you delete the GHC signature for baz you get
[code]
which can be fixed by annotating the `0`s as having type `Int`.

[2019-04-12 04:06] ranjitjhala commented on #1458
Wow. Well, pretty unclear what to do here, if GHC starts fiddling around
with the binders in this fashion, beyond adding a link to this issue in the
error message?

[2019-04-12 18:59] #1424 closed, assigned to nobody

[2019-04-12 19:48] abakst commented on #1457
Is there a reason this can’t be mechanized besides a shortage of person-hours?

[2019-04-12 20:24] ranjitjhala commented on #1457
see https://github.com/ucsd-progsys/liquidhaskell/issues/1448

[2019-04-13 14:52] ranjitjhala commented on #1448
Not sure whether to keep closed or open; definitely an interesting problem to think about! /cc @abakst

[2019-04-16 17:17] ranjitjhala commented on #1446
Here's a simplified version:

[code]

The issue is that in LH, the function `txRefSort` converts

[code]

which is fine, but also converts

[code]

which is NOT ok, because `q` expects a different arg.

The above happens because, thanks to instance-family stuff,
LH *doesn't realize* that `q` is actually an ARG of `Field Blob`
Note that `Field` itself has no args, but `Field Blob` does...

[2019-04-16 18:30] Shimuuar opened #1459 "Parsing include/Data/ByteString/Lazy.spec fails with head"
I have exactly same issue as #1445 except I'm building against develop branch (580aef36671058c9f8a28bf5900acf41d70b4f89)

[code]

Example file triggering problem is:

[code]

I tried to build current head using nix, cabal and stack with identical results

[2019-04-16 19:08] ranjitjhala commented on #1459
Hi @Shimuuar,

Thanks for posting this! I have fixed it in the above branch, which I'll merge in to `develop` soon.

If you are in a hurry, you can copy over the file

https://github.com/ucsd-progsys/liquidhaskell/blob/f54e903a6e8068dbae103a74136888b8895bfa83/include/Data/ByteString/Lazy.spec

into your `include/Data/ByteString/Lazy.spec` -- or just wait a bit till I finish and merge!

[2019-04-17 03:21] ranjitjhala commented on #1458
Closing since totally unclear what to do! :'(

[2019-04-17 03:21] #1458 closed, assigned to nobody

[2019-04-17 04:15] ranjitjhala commented on #1452
Hi @lippirk -- sorry for the delay, but here's a worked out example that illustrates how to use
[bounded refinement types](https://ranjitjhala.github.io/static/bounded_refinement_types.pdf) to -- allow you to write a suitable signature for `iscanl'`. Its a bit tricky
I admit :-( but still its possible!

PS: Please don't hesitate to ask us Qs on github or slack or mail -- we _welcome_ it, as its th

[2019-04-17 04:15] #1452 closed, assigned to nobody

[2019-04-17 04:25] ranjitjhala commented on #1446
This _should_ be fixed by the above commit; see the PR for the detailed explanation of what's happening. Given that this is essentially a previously unsupported GHC feature, quite likely there
are other things we'll have to add to LH, but this should get @rosekunkel unstuck for the moment.

[2019-04-17 09:25] Shimuuar commented on #1459
Thanks!

I think it would be nice to have tests checking that *.spec files shipped with liquidhaskell could be parsed. It will allow to catch regressions like these immediately. Also who knows how many other spec files bitrotted. I could try to write such test over weekend

[2019-04-17 09:35] nikivazou commented on #1459
That would be great! Thanks!

[2019-04-17 12:07] dmalkr opened #1461 "liquid mess with 'Data.List' and 'Data.List.NonEmpty'"
In our project we used common haskell lists together with `NonEmpty`. But liquid mess with it.

See this example:

[code]

checking it with `liquid` got this:

[code]

But, when I comment out `Data.List`:

[code]

Check passed:

[code]

So, please fix it!

[2019-04-17 12:23] nikivazou commented on #1461
Thanks! This patch https://github.com/ucsd-progsys/liquidhaskell/commit/b142e54cdefabf9ca01416097fe318bbbf079e8e fixes your test but waiting to see if anything breaks before I integrate it. Meanwhile, you could apply the above edit locally

[2019-04-17 13:17] dmalkr commented on #1461
Thank you! So, waiting for integration...

[2019-04-17 14:02] nikivazou commented on #1461
Done!

[2019-04-17 14:02] #1461 closed, assigned to nobody

[2019-04-17 15:01] #1446 closed, assigned to nobody

[2019-04-17 15:01] #1459 closed, assigned to nobody

[2019-04-18 21:49] lippirk commented on #1452
Definitely would not have come up with that! But seems to make sense after staring at it for a while. Thank you!

Out of interest is there a reason why there aren't many vector specs (compared to the number of functions exported by `Data.Vector`)? I added a few refinements type for the functions that I wanted to use - it would be nice to merge these in eventually when I get round to testing them a

[2019-04-19 03:06] ranjitjhala opened #1465 "Error reported for non-holes"
@nikivazou I think you added this "holes" feature? The following code:

[code]

returns the peculiar "error"

[code]

which is puzzling because `_x` is just a plain binder and not, in fact, a hole.

Can you fix this please? I suspect you need to use some better test from
the GHC API for whether a binder is a hole or not -- than just whether it starts with `_` ?

[2019-04-19 03:38] ranjitjhala commented on #1396
Argh, and yet another failing case (I guess, really the same as the above...)

[code]

[2019-04-19 03:38] ranjitjhala commented on #1396
@rosekunkel any headway on this? were you stuck on those last three failing regressions or something else?

[2019-04-19 03:41] rosekunkel commented on #1396
I'm stuck on those 3 regressions, although more accurately I've been stuck
on classwork. I'll try to get those fixed tomorrow.

On Thu, Apr 18, 2019, 20:38 Ranjit Jhala <notifications@github.com> wrote:

[2019-04-19 03:45] ranjitjhala commented on #1396
No worries, can you list those three here -- I can take a look if I get a moment.

[2019-04-19 04:03] rosekunkel commented on #1396
https://github.com/ucsd-progsys/liquidhaskell/blob/develop/tests/pos/MutualRec.hs
https://github.com/ucsd-progsys/liquidhaskell/blob/develop/tests/pos/GhcSort1.hs
https://github.com/ucsd-progsys/liquidhaskell/blob/develop/tests/pos/malformed0.hs
And possibly this one, although that might be caused by something I changed:
https://github.com/ucsd-progsys/liquidhaskell/blob/develop/tests/neg/LocalSpe

[2019-04-19 09:39] nikivazou commented on #1465
Good point!

@Tritlo do you know if I can get the hole variables from `ModGuts` or a similar ghc environment?

I did some searching and could not find that info.  Worst case we can reproduce it by checking what generates a "Hole found" ghc error.

[2019-04-19 11:26] dmalkr opened #1466 "Error while parse Data/Set.spec"
I try fresh `develop` version; when applying to my source code, it output:

[code]

Please, fix it :)

[2019-04-19 12:25] Tritlo commented on #1465
I think the check is simply to see whether the identifier `_x` is in scope, and treat it as a hole if not.

[2019-04-19 13:44] nikivazou commented on #1465
Sadly this does not work, because we are analyzing Corebinds, where the `_x` is defined (i.e., it is in scope) to throw an error at runtime.

[2019-04-19 14:14] ranjitjhala commented on #1466
On what source is it? Ie can you give a minimal example? Are you using a
custom prelude?

On Fri, Apr 19, 2019 at 4:26 AM Dmitry Krylov <notifications@github.com>
wrote:

[2019-04-19 14:33] Tritlo commented on #1465
Right. Should it be doing that? I might be misunderstanding, but I'd think that the right behaviour in this case, if it is in scope, is to *not* throw an error.

[2019-04-19 14:36] ranjitjhala commented on #1465
I think he means only treat unbound vars as holes?

On Fri, Apr 19, 2019 at 6:44 AM Niki Vazou <notifications@github.com> wrote:

[2019-04-19 14:47] nikivazou commented on #1465
There are no unbound variables in the desugared module (we get the module after type checking).

Consider this hole:

[code]

After desugaring we will get something like this in core
[code]
But this `_incr` was *initially* a hole, for while valid instances are generated.

The question is goes ghc keep track of the variables that were holes at user level?

[2019-04-19 15:08] ranjitjhala commented on #1465
Got it thanks!  Would it help to ping Simon? Maybe after digging a bit...
On Fri, Apr 19, 2019 at 7:47 AM Niki Vazou <notifications@github.com> wrote:

[2019-04-19 15:18] nikivazou commented on #1465
If Matti does not know, we can first ask whoever merged the holes PR, because Simon.

I did some digging and did not find anything :(

[2019-04-19 15:44] ranjitjhala commented on #1466
This commit 9276aa82d41259e11f4a0d180d2db126365b8583 is a possible fix (but I can't know for sure ...)

[2019-04-19 16:01] ranjitjhala commented on #1396
Of these, I suggest:

1. For `MutualRec`, `GhcSort1` and `malformed0`, just add `{-@ LIQUID "--no-termination" @-}` because it seems like those files were being marked safe because of some bug. (It's possible that the "decrease" annotations were working, but those have long been superseded by the metric stuff, so we should probably just open a *separate issue* on extending the metric stuff to work

[2019-04-20 01:41] #1466 closed, assigned to nobody

[2019-04-20 02:47] dmalkr commented on #1466
It's need to fix other specs, such as `share/include/Data/ByteString.spec`. Because I got errors:

[code]

But when change `Bool` to `GHC.Types.Bool` check passed.

[2019-04-20 02:48] dmalkr commented on #1466
@ranjitjhala Please, see my previous comment

[2019-04-20 03:01] ranjitjhala commented on #1466
Got it will fix!

On Fri, Apr 19, 2019 at 7:48 PM Dmitry Krylov <notifications@github.com>
wrote:

[2019-04-20 03:14] dmalkr opened #1467 "Crash SMTLIB2: Sorts Int and (Array Int Bool) are incompatible"
When processing my file, `liquid` got this:

[code]

Can you fix it?

And sorry, I can't get simple code for reproduce this error :( So, If this ticket useless, please, close it, I try other versions of LiquidHaskell

[2019-04-20 03:37] ranjitjhala commented on #1467
hmm sorry! This is definitely an LH bug, but cannot fix without code. I'll close but if you come across it on a shorter program please let me know. [Are you somehow using `Data.Set`?]

[2019-04-20 03:38] #1467 closed, assigned to nobody

[2019-04-20 05:13] dmalkr opened #1469 "Bytestring: Bad Invariant Specification"
I have next error while checking my project:

[code]

P.S. Do you need small code example for reproduce this error?

[2019-04-20 14:05] ranjitjhala commented on #1469
Thanks for posting these and my apologies — it looks like we have a huge
gap in our regression tests so as another issue noted, the specs have
“bitrotted”.

If you have a small example that would be good, but I think I should be
able to reproduce and fix this regardless.

On Fri, Apr 19, 2019 at 10:13 PM Dmitry Krylov <notifications@github.com>
wrote:

[2019-04-20 17:44] ranjitjhala commented on #1469
Ok I take that back -- I am unable to reproduce this with the few tests I wrote :(

Can you let me know if you have a test to reproduce?

[2019-04-20 18:47] ranjitjhala opened #1470 "PLE failure"
Why does PLE fail to prove this? (ghci confirms the code is correct...)

[code]

[2019-04-20 22:14] dmalkr commented on #1469
Ok, I will make example tomorrow!

[2019-04-20 22:21] ranjitjhala commented on #1469
Thanks, much appreciated!!!

<https://inboxwhenready.org/?utm_campaign=signature&utm_medium=email&utm_source=signature>
I'm using Inbox When Ready
<https://inboxwhenready.org/?utm_campaign=signature&utm_medium=email&utm_source=signature>
to protect my focus.

On Sat, Apr 20, 2019 at 3:14 PM Dmitry Krylov <notifications@github.com>
wrote:

[2019-04-21 04:21] #1396 closed, assigned to nobody

[2019-04-22 05:56] dmalkr commented on #1469
Heh, it's a very tricky error.

First, it does not occur in module, which uses ByteString, but in module, that import it!

AND it is need to import `Data.Aeson`.

Look, `SomeByteStrings.hs`:
[code]

and `MyImport.hs`:

[code]

Now, let's check `MyImport.hs`:

[code]

[2019-04-22 05:58] dmalkr commented on #1469
`Data.Aeson` is from `aeson`: https://hackage.haskell.org/package/aeson-1.4.2.0.

Liquid Haskell is fresh, and from `develop` branch.

[2019-04-22 09:25] nikivazou commented on #1465
@bgamari could you maybe help us with this issue?

LH is analyzing Core and at that point it cannot tell while (value) variables were introduced as holes.
Is there some ghc environment (maybe `ModGuts`, `ModIface`, etc) that stores the variables produced by user-defined holes?

Thanks!

[2019-04-22 20:18] rosekunkel opened #1472 "Mutually recursive binders are not always resolved correctly"
These 3 tests have to run with `--no-termination`, because annotations for the mutually-recursive functions are not resolved correctly, so there's no way to write a termination metric:
https://github.com/ucsd-progsys/liquidhaskell/blob/develop/tests/pos/Malformed0.hs
https://github.com/ucsd-progsys/liquidhaskell/blob/develop/tests/pos/MutualRec.hs
https://github.com/ucsd-progsys/liquidhaskell/blob

[2019-04-22 23:18] rosekunkel opened #1473 "Constraint.instantiatePvs crash"
This file causes liquid to crash with `Constraint.instantiatePvs`. The issue seems to be triggered by the `Projectable` class; removing it fixes the issue.
[code]

[2019-04-22 23:31] rosekunkel commented on #1473
It seems that it's not a typeclass issue; writing `project` as a plain function still triggers the crash:
[code]

[2019-04-22 23:41] ranjitjhala commented on #1473
Super, on it!

On Mon, Apr 22, 2019 at 4:31 PM Rose Kunkel <notifications@github.com>
wrote:

[2019-04-23 04:40] dmalkr opened #1474 "Error 'addC: malformed constraint'"
I try to check my project, and meet with other problem:

[code]

Minimal example:

[code]

I'm using Katip library: https://hackage.haskell.org/package/katip-0.7.0.0 (yes, 0.7.0.0 version).

Please fix this error :)

[2019-04-23 13:36] ranjitjhala commented on #1474
Hmm does it help to replace “new type” with “data”?

On Mon, Apr 22, 2019 at 9:41 PM Dmitry Krylov <notifications@github.com>
wrote:

[2019-04-23 22:23] ranjitjhala commented on #1473
@rosekunkel -- lets see if the tests pass on the above PR. Happily (?) the `instantiatePvs` error was because you were missing the `UserId` constructor in your refined data definition. When I added that,
it tickled the real issue which is addressed by the PR.

Ofc, lets see what CI thinks.

[2019-04-24 00:26] dmalkr commented on #1474
Still the same error :(

Change `newtype` to `data`, and add `{-# LANGUAGE DeriveAnyClass #-}`

[code]

error:

[code]

[2019-04-24 00:40] ranjitjhala commented on #1474
Interesting seems to be related to coercion’s/casts. I will take a look!

On Tue, Apr 23, 2019 at 5:27 PM Dmitry Krylov <notifications@github.com>
wrote:

[2019-04-24 03:01] ranjitjhala commented on #1474
Shrinking the test further: both `local` and `second` are essential.

[code]

[2019-04-24 03:05] #1473 closed, assigned to nobody

[2019-04-24 03:57] ranjitjhala commented on #1474
Or even simpler

[code]

@dmalkr - this bug has exposed some gaps in my understanding of how GHC works; have asked Simon and others for help but I suggest commenting out the code or something to make progress while I figure out how `GHC.Types.LiftedRep` work!

[2019-04-24 07:40] nikivazou commented on #1474
Same here, `GHC.Type.LiftedRep` does not appear in the core when debugging your example, so cannot understand the crash.

An alternative to commenting out your code, is to locally silent your error, by replacing the crashing with `return ()`, here: https://github.com/ucsd-progsys/liquidhaskell/blob/develop/src/Language/Haskell/Liquid/Constraint/Monad.hs#L53

[2019-04-24 08:28] dmalkr commented on #1474
@ranjitjhala Ok, temporary comment out that code, try to check my project futher...

[2019-04-24 08:31] dmalkr commented on #1474
I have other error related to `LiftedRep` in other file:

[code]

Later I try to extract minimal example and write it in new issue.

[2019-04-24 23:51] rosekunkel opened #1476 "Liquid crashes with `RefType.toType cannot handle: _`"
This code causes liquid to crash with
[code]
[code]

[2019-04-24 23:54] rosekunkel commented on #1476
The issue goes away if I replace the `_`s in `EntityField`:
[code]

[2019-04-25 00:02] ranjitjhala commented on #1476
Cool, on it — this is different than the “typ” thing though right?

On Wed, Apr 24, 2019 at 4:54 PM Rose Kunkel <notifications@github.com>
wrote:

[2019-04-25 00:05] rosekunkel commented on #1476
Yes, I'm having a harder time replicating that without TH...

[2019-04-25 00:10] ranjitjhala commented on #1476
There’s a way to see the generated splice, it is stashed somewhere...

On Wed, Apr 24, 2019 at 5:05 PM Rose Kunkel <notifications@github.com>
wrote:

[2019-04-25 00:13] rosekunkel commented on #1476
I've got the generated splice, but it references a bunch of functions that are private to other modules, so I can't just copy-paste it into the code. I'm working on it d:

[2019-04-25 00:21] ranjitjhala commented on #1476
Ok thanks 😊  I recall it was a real hassle trying to pull the relevant
parts out of the splice

On Wed, Apr 24, 2019 at 5:13 PM Rose Kunkel <notifications@github.com>
wrote:

[2019-04-25 01:12] rosekunkel opened #1477 "Inconsistent types with GADTs"
This file gives an error about inconsistent types:
[code]
The error is
[code]
If you write EntityField GADT-style, the error disappears:
[code]

[2019-04-25 01:13] ranjitjhala commented on #1477
👍

On Wed, Apr 24, 2019 at 6:12 PM Rose Kunkel <notifications@github.com>
wrote:

[2019-04-25 02:20] dmalkr opened #1478 "Error `liquid: safeBkArrow on RAllTforall k##X5t4 v##X5t6`"
I have error when check my project:

[code]

Minimal source file with this error:

[code]

Some notes:

* when comment `overlayPSet`, check is passed. So I think error with lens package (I'm using `microlens` package).
* when comment `OverlayPMap` clause, error has gone also:
[code]

---

Please fix this error :)

Related to #1474

[2019-04-25 02:21] dmalkr commented on #1474
I've report similiar error in #1478

[2019-04-25 04:50] ranjitjhala commented on #1477
So the "fix" here is in fact to write

[code]

Because the TH generated splice has that funny type with the `typ ~ Int` etc.
constraint. As you noticed, this triggers #1476 but hopefully that is fixed by the
pending PR #1479.

[2019-04-25 05:34] rosekunkel commented on #1477
Does this solution work if we want to refine the types of fields? E.g. if we wanted to specify that `UserSsn` should be an `EntityField <...> User Nat`, how could we do that?

[2019-04-25 14:06] ranjitjhala commented on #1477
Yes, you’d write

{v: _ | 0 <= v}

In fact Jordan had examples like these so am a bit puzzled why they didn’t
tickle this problem.

On Wed, Apr 24, 2019 at 10:35 PM Rose Kunkel <notifications@github.com>
wrote:

[2019-04-25 16:37] fgaz commented on #1404
So did #1471 fix it?

[2019-04-25 17:06] ranjitjhala commented on #1404
Yes, I *believe* that @rosekunkel 's fixes in #1471 address this unsoundness

1.  by disabling the structural checker, and
2. adding the above as neg-tests that make sure LH rejects the above programs.

Can you confirm Rose? And if so, shall we close this issue?

[2019-04-25 17:48] rosekunkel commented on #1404
Yes, this is fixed. The structural tester was essentially disabled for
functions with mutual recursion, and the other issues were fixed. This
issue can be closed.

On Thu, Apr 25, 2019, 10:06 Ranjit Jhala <notifications@github.com> wrote:

[2019-04-25 18:05] #1476 closed, assigned to nobody

[2019-04-25 18:05] #1477 closed, assigned to nobody

[2019-04-25 18:05] #1474 closed, assigned to nobody

[2019-04-25 18:07] ranjitjhala commented on #1474
Hi @dmalkr -- I think I fixed this issue, can you check? Also if it addresses #1478? Thanks! Ranjit.

[2019-04-25 18:13] #1404 closed, assigned to nobody

[2019-04-25 18:25] rosekunkel opened #1480 "LH can't determine that calling a function with an uninhabited type is impossible"
This file is deemed unsafe:
[code]
The message is
[code]
Since `Void` is uninhabited, this call to `error` should be deemed safe.

[2019-04-25 18:34] ranjitjhala commented on #1480
You can tell LH  that `Void` is uninhabited via the `using`  (/cc @nikivazou)

http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1556217196_20867.hs

[code]

[2019-04-25 18:34] #1480 closed, assigned to nobody

[2019-04-25 19:33] rosekunkel commented on #1480
Unfortunately this doesn't work for uninhabited data families:
[code]

[2019-04-25 20:15] ranjitjhala commented on #1480
What possible reason could someone have for writing code like this? :)

On Thu, Apr 25, 2019 at 12:33 PM Rose Kunkel <notifications@github.com>
wrote:

[2019-04-25 20:21] ranjitjhala commented on #1480
The solution is to put a False precondition on foo.

Yes one shouldn’t have to, but really one shouldn’t write code like the
below ;-)

On Thu, Apr 25, 2019 at 1:14 PM Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

[2019-04-25 20:33] rosekunkel commented on #1480
Tell that to template Haskell d:

In seriousness the reasoning seems to be to allow a type class to have
optional data/methods attached in a well-typed way. In persistent the type
which is uninhabited represents additional uniqueness constraints on fields
in a table. If there are no additional constraints, the type is
uninhabited, and so the class methods which deal with those constraints
become u

[2019-04-25 20:44] ranjitjhala commented on #1480
This seems to work?

I guess the hassle is getting the preconditions in?

[code]

<https://inboxwhenready.org/?utm_campaign=signature&utm_medium=email&utm_source=signature>
I'm using Inbox When Ready
<https://inboxwhenready.org/?utm_campaign=signature&utm_medium=email&utm_source=signature>
to protect my focus.

On Thu, Apr 25, 2019 at 1:33 PM Rose Kunkel <notifications@github.com>
wrote:

[2019-04-28 16:05] kubum opened #1481 "Cannot parse refinements definition on a type class"
For example:

[code]

Results in the error

[code]

If we delete `qq`, liquidhaskell 0.8.2.4 parses it all fine.

According to the Basics.lhs example the functionality is supported [1], but it is tricky to see why the parser is unhappy.

[1] https://github.com/ucsd-progsys/liquidhaskell/blob/develop/docs/slides/HS2014/Basics.lhs#L209-L217

[2019-04-29 23:57] argiopetech opened #1482 "Floating point constraints lack precision"
With latest `develop` for liquidhaskell and liquid-fixpoint,

[code]

Unexpectedly evaluates "SAFE". Note, `f < 0.9`.

This appears to be a truncating round to integer. Is this expected behavior? If not, could this also have to do with why I can't say `f < (-1)` without error: "The sort real is not numeric"?

[2019-04-30 00:06] ranjitjhala commented on #1482
Hmm, I just tried this:

[code]

which version of Z3 do you have? i.e. do you have the below?

[code]

[2019-04-30 00:07] ranjitjhala commented on #1481
Can you remove the `Monad m => ` constraint from the _refined_ class definition?

[2019-04-30 00:08] ranjitjhala commented on #1481
no that's not it...

[2019-04-30 00:08] argiopetech commented on #1482
That could do it:

[code]

I'll try to get to 4.6 and close if that fixes the issue.

[2019-04-30 00:34] ranjitjhala commented on #1481
Hmm, not sure what's going on here - however,
note that your spec doesn't actually put any
refinements on the methods, so as such you
can omit it?

However, I did try to put some refinements in
which case it crashes LH. Thanks for posting
this, we'll take a look.

(For now, I recommend working around this by
pulling the methods out as plain functions and
putting the refinements on them...)

[2019-04-30 02:50] ranjitjhala commented on #1482
Sure, lmk if that works for you? thanks!

[2019-04-30 03:59] argiopetech commented on #1482
Now running an early 4.7, it does appear to be working. I still get "The sort real is not numeric" with negative literals, but I'll continue to troubleshoot that.

As a heads up, the newest z3 release (4.8.4) does not appear to be working with liquid as-is.

[2019-04-30 03:59] #1482 closed, assigned to nobody

[2019-04-30 13:40] ranjitjhala commented on #1482
Thanks for the heads up! Will have to take a look!

On Mon, Apr 29, 2019 at 8:59 PM Elliot Robinson <notifications@github.com>
wrote:

[2019-04-30 23:00] morteako opened #1483 "PLE - elaborate makeKnowledge error"
Hi. I have come across a weird error (at least to me).

Full code : https://gist.github.com/morteako/97c67425a191052229c57d7a54547bba#file-splittree-hs

It is this function that is the culprit:
[code]

When I try to run liquidhaskell on this , I get 800 lines of "elaborate makeKnowledge"++. Full Error: https://gist.github.com/morteako/97c67425a191052229c57d7a54547bba#file-lherror

What is weird to

[2019-05-04 09:18] kubum commented on #1481
Hi @ranjitjhala! Thank you for the response, yeah I found in some test cases there was used `;` to satisfy parser, but it didn't work in this case.

How do you see the extraction? I did it for the instances, a boring example might look as follows:

[code]

Result:

[code]

Is it expected behaviour? The context is empty, and it looks like nothing has been violated yet, but maybe I am missing someth

[2019-05-05 14:14] jprider63 commented on #680
I think I might be running into this, but it's hard to tell since the permalink is gone. Here's [an example](http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1557065436_21984.hs). Refined type aliases aren't checked unless LH type signatures are given.

[code]

[2019-05-06 07:45] nikivazou commented on #680
@jprider63 that's different... The keyword `type` of LH (i.e., used in comments) is **not** refining an existing Haskell type, but it is defining a LH type alias `Array` (that lives in different namespace as the Haskell `Array` so internally there is no connection between the two).
So, unless you give the specification that is commented out, LH has nothing to check.
I can see the confusion thought

[2019-05-06 23:23] jprider63 commented on #680
Ok. I'll open a separate issue.

I'd argue that it should refine the existing Haskell type. I think this would match most people's expectation.

[2019-05-06 23:33] ranjitjhala commented on #680
Not clear to me that’s the right default.

At any rate we should probably report a warning or error if the name is
reused like this.

On Mon, May 6, 2019 at 4:23 PM JP <notifications@github.com> wrote:

[2019-05-06 23:52] jprider63 opened #1484 "Type aliases should refine the Haskell type"
Opening a separate issue from #680.

Refined type aliases aren't checked unless LH type signatures are given.

[code]

[2019-05-07 03:20] ranjitjhala commented on #1484
Not sure how I feel about this TBH.

On the one hand I can see the appeal.

On the other hand, type aliases are a tricky thing:

1. You can have value parameters in the LH versions and not in the plain haskell ones,
2. More importantly, the type aliases don't really even _exist_ in CORE so it's not clear
    how/where we'd find them.

It seems simpler to just keep the two namespaces totally apart

[2019-05-07 13:14] nikivazou commented on #1484
I am with @jprider63 on that...
It is very confusing, since the refinement on `data` does refine the Haskell data, so one would expect the LH `type` keyword to behave accordingly. An idea would be to change the name of the LH `type` to something else clearly not related with the Haskell `type`?

[2019-05-07 13:18] ranjitjhala commented on #1484
Changing the keyword is plausible I think.

On Tue, May 7, 2019 at 6:14 AM Niki Vazou <notifications@github.com> wrote:

[2019-05-09 01:54] jprider63 commented on #1484
I don't know if this went through before...

If we can get type alias information from ghc, that’s my preferred solution. Otherwise, I think an error should be thrown if names conflict.

[2019-05-09 03:35] ranjitjhala commented on #1481
Hi @kubum  -- sorry for the delay! I meant to pull the refinement outside the instance itself. It looks like the code for that is not working, and regardless, we've come to the conclusion that it can be unsound to
have refinements on _instance_ that are different from those in the actual _class_ -- it can produce some quite counterintuitive effects! So I meant something like this, where the refine

[2019-05-09 05:26] ranjitjhala commented on #1465
@nikivazou for now, I am guarding this under a flag `--typed-holes` because `_x` etc. is a perfectly legitimate binder name, and its odd to see strange errors. c.f. PR #1481

[2019-05-09 11:48] googleson78 opened #1487 "Error on import of peekCString"
When trying to check the following file:
[code]
`liquid` errors out:
[code]

I tried playing around with flags mentioning imports, but I couldn't get it to ignore `peekCString`.
Am I doing something wrong?

[2019-05-09 14:36] ranjitjhala commented on #1487
Hoops this is terrible I will look into it and fix it this morning !

On Thu, May 9, 2019 at 4:48 AM Georgi Lyubenov <notifications@github.com>
wrote:

[2019-05-09 15:16] googleson78 commented on #1487
Upon tinkering a bit more:
This is fine:
[code]

However this is not:
[code]

Error:
[code]

In general any mention of the type `CString` causes this, I think (even as a field in a datatype).

[2019-05-09 17:50] ranjitjhala commented on #1487
:(

The bad news: this is an instance of a rather general problem -- so common we have a label for it! -- that I really should get to fixing but haven't found the time.

The good news: you can work around it by running with the `--prune-unsorted` flag, so

[code]

or if you prefer, just add that flag to the top of the file, via:

[code]

Will leave this open till I can get around to fixing this...

[2019-05-09 19:19] googleson78 commented on #1487
Thanks for the fast response! I am willing to help if it's matter of implementation (i.e. has some guidelines /documentation on what needs to be done).

[2019-05-10 15:04] googleson78 opened #1488 "Broken link for StreamInvariants example"
The following links: [pos](https://github.com/ucsd-progsys/liquidhaskell/blob/develop/tests/pos/StreamInvariants.hs) [neg](https://github.com/ucsd-progsys/liquidhaskell/blob/develop/tests/neg/StreamInvariants.hs) are broken.

They are referenced in the readme in the [invariants section](https://github.com/ucsd-progsys/liquidhaskell#invariants)

[2019-05-10 16:05] #1465 closed, assigned to nobody

[2019-05-10 16:09] #1488 closed, assigned to nobody

[2019-05-10 16:10] ranjitjhala commented on #1488
Thanks for posting! Fixed now, see: `tests/measure/{pos, neg}/Using00.hs`

[2019-05-10 21:07] googleson78 opened #1489 "Question: Disable default Specs?"
Is there any way to disable/override the usage of the default spec files that are automatically included (from the `include` folder in this repo), other than recompiling without them?

[2019-05-10 21:11] ranjitjhala commented on #1489
Do you mean for particular functions? Or do you mean for an entire module?

On Fri, May 10, 2019 at 2:07 PM Georgi Lyubenov <notifications@github.com>
wrote:

[2019-05-10 21:32] googleson78 commented on #1489
I know you can disable checks **on** a function with a `{-@ ignore @-}` pragma but I was thinking about something more like Haskell's `{-# Language NoImplicitPrelude #-}`, disabling "prelude" entirely.
Or for example overriding `include/Data/ByteString.spec` from this repo with my own `ByteString.spec`

[2019-05-10 21:45] ranjitjhala commented on #1489
Hmm no way to do that unfortunately.  Could be an easy to add feature
though...

On Fri, May 10, 2019 at 2:32 PM Georgi Lyubenov <notifications@github.com>
wrote:

[2019-05-13 18:41] googleson78 commented on #1467
I also have a very similar issue:
[code]
and I also don't have a short repro program :(.

@dmalkr did you manage to find a fix/workaround?

Don't know if any of this will help but: It happens **somewhat** randomly because after playing for a bit and trying to get a small case it disappeared and some type mismatches appeared. After fixing them it reappared again. It also happened while checking dif

[2019-05-14 06:52] googleson78 opened #1490 "Add proper support for NewTypes / "Crash SMTLIB2: Sorts are incompatible""
I managed to get a relatively small repro example for something that seems to be related to #1467.
My `liquid` is from `406dd8bc198fad9a2ff87025689b6035e60fd9be`.

Notably if I remove the B newtype and use `Bool` directly in `A` it works fine!

Here's the example:
[code]

[code]

[2019-05-14 07:00] googleson78 commented on #1490
Update:

Removing the `data A` and leaving only the `newtype B` also reproduces it! Replacing `Bool`  with `Int` makes it work fine.

[code]

[2019-05-14 13:18] ranjitjhala commented on #1490
Thank you very much for this! I will look into it and fix in a couple of
days!

On Tue, May 14, 2019 at 12:00 AM Georgi Lyubenov <notifications@github.com>
wrote:

[2019-05-14 13:28] ranjitjhala commented on #1490
Btw, the simplest workaround is to replace “new type” with “data” — as the
former doesn’t exist at the “core” level which causes LH problems.

Regardless, will fix ASAP!

On Tue, May 14, 2019 at 6:17 AM Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

[2019-05-14 16:48] googleson78 opened #1491 "Express Foreign.Marshal.Alloc.alloca property"
`alloca` has the following signature:
```alloca :: Storable a => (Ptr a -> IO b) -> IO b```

It is expected for the `p : Ptr a` that you get in the callback has `plen p == sizeOf (undefined :: a)`.
I am having difficulties expressing this. I don't know if it's okay to ask here, as I think I am just missing something, so feel free to close this if it's misplaced.

I tried to add
[code]
to `Foreign.

[2019-05-14 16:50] googleson78 commented on #1491
In fact it seems to be silently ignoring whatever I've written in the specs, as long as it's syntactically correct (it will complain if I leave out a `:` but not if I write `GHC.Types.BInt` instead of `GHC.Types.Int`) (??)

[2019-05-15 00:18] ranjitjhala commented on #1491
Hi @googleson78  -- the issue is not that LH is ignoring your spec, but that you didn't connect the spec of `alloca` with that of `peek`. Specifically, in `include/Foreign/Storable.spec` we have the spec:

[code]

That is `peek` requires a pointer such that `plen v > 0` so you can modify your spec for `alloca` to:

[code]

(or, you can add it to the spec file as:

{-@ assume alloca :: (({p:_ | 0 <

[2019-05-15 00:21] ranjitjhala commented on #1490
Even smaller minimal example (as a record for me...)

[code]

[2019-05-15 05:13] ranjitjhala commented on #1490
It looks like you can work around this right now, by adding the line:

[code]

LH will not crash then, but will complain about the call to `pokeByteOff` ...
which you can address by adding an instance signature for the  `poke`
method as described in [tests/classes/pos/Inst00.hs](tests/classes/pos/Inst00.hs).

e.g. a signature like:

[code]

Of course LH will _still_ complain because there are miss

[2019-05-15 10:04] googleson78 commented on #1491
Thanks for the answer!

Adding `0 < plen p` to the `alloca` spec works, but if I were to use `peekByteOff` I would still need to know the exact size of the `alloca` callback argument, which is why I wanted to use `sizeOf`.

Adding `sizeOf (deref p)` to all the functions that already use `plen` seems like a lot of boilerplate that can be avoided by something like what is done in `include/Data/ByteS

[2019-05-17 08:08] googleson78 opened #1493 "Scoping for return type of function arguments?"
In this function
[code]

`x : b` is not in scope at `{y : b | x == y}` (`Unbound symbol x`)

Is there a way to do this (stating that the result of `withResource` is always equal to the result of the function you give it)?

In general can/should the scope of `x : b` be extended to the entire body of the function (following it's binding)?

(An example of such a function is `withCString :: String ->

[2019-05-17 18:57] ranjitjhala commented on #1491
(Sorry for the delay!)

1. It would be great to do something similar `sizeOf (deref p) == plen p`;  if you can make a PR I would be happy to merge it in!

2. Can you clarify what you mean by "reflect `sizeOf`" to automatically check properties of peek, poke etc.? For example, can you draft a sample program of what you'd like to write and have checked?

[2019-05-17 20:03] alanz opened #1494 "release on hackage is old"
The version on hackage is 8.2.4 from Feb 2018, using GHC 8.2.2

The most recent release tag on github is [v8.4.3-final](https://github.com/ucsd-progsys/liquidhaskell/releases/tag/v8.4.3-final) which is built with GHC 8.4.3.

Current `development` branch tip builds with GHC 8.6.4.

Is there any reason not to update the version on hackage?

See also https://github.com/haskell/haskell-ide-engine/issu

[2019-05-17 20:16] ranjitjhala commented on #1494
Thanks for the ping @alanz -- Am meeting @nikivazou and we will update ASAP!

[2019-05-17 20:17] alanz commented on #1494
Thanks. Especially relevant with the co-recursive podcast just out.

[2019-05-17 20:21] googleson78 commented on #1491
(No problem, thanks for responding consistently!)

What I mean is the following:
I want to make LH evaluate `sizeOf`, the same way it evaluates `len` for lists. Since it's always constant and it only matches (ignores) it's argument, it seems like it should be possible. (But I'm not sure because of #1196)

My end goal is that this, together with `sizeOf (deref p) == plen p` would allow users to onl

[2019-05-17 20:35] ranjitjhala commented on #1493
Indeed, as written you can't refer to outputs -- as that is problematic for various reasons.

However, in these situations you can use polymorphism. For example this works:

[code]

would that work for your case?

[2019-05-17 21:23] googleson78 commented on #1489
Which files in `include` are "mandatory" for `liquid` to work? (I would be happy to read documentation on this if there is any)

Removing `include` entirely from `idirs` in `mkOpts` breaks `liquid` -
[code]

[2019-05-18 01:28] ranjitjhala commented on #1489
Good question! I think The ones that are “transitively imported” from
Prelude.spec

On Fri, May 17, 2019 at 2:23 PM Georgi Lyubenov <notifications@github.com>
wrote:

[2019-05-18 09:17] googleson78 commented on #1491
In a nutshell my question is - is there a way to make LH evaluate `sizeOf` for `Storable a`s?

The above `invariant` is actually wrong (when using `allocaBytes` for example), but it would be correct for all the functions that use `Storable`.

[2019-05-20 08:32] googleson78 opened #1495 ""SMTLIB2 crash: Sorts Int and Bool are incompatible""
The following file:
[code]
together with the following spec:
[code]
causes `liquid` to crash.
Notable things are:
* `--prune-unsorted` doesn't help.
* adding a type signature for `isValid` fixes it
* having `isValid` at top level fixes it
* using an if-then-else instead of guards fixes it
* not importing `Data.String` in the spec fixes it

Here's a log:
[code]

[2019-05-20 09:15] googleson78 commented on #1489
I can't figure out an easy way to exclude the default specs then (without hard-coding paths to specific files, which is a bad idea imo).

[2019-05-20 10:17] googleson78 opened #1496 "Specs for specialised class functions?"
Is there a way to add a spec for a typeclass function, but specialised to a concrete type?

Example:
I want to add this spec:
[code]
Currently `liquid` rejects this because it expects
[code]
and not `ByteString`s.

This really gets in the way of using the standard typeclasses in Haskell (I also encountered something similar when trying to use `any` from `Data.Foldable` on `[a]` and wanting to stat

[2019-05-20 13:35] ranjitjhala commented on #1496
Hmm, great question -- this is somewhat in flux right now.
@nikivazou and @jprider63 -- how would something like
this mesh with what you're thinking about for classes?

Is this (a) already allowed? or (b) Not desirable?

[2019-05-20 13:44] nikivazou commented on #1496
There is no clear solution right now.
What I do in these cases is define a new function with the specific type, e.g.,

[code]

[2019-05-20 13:47] ranjitjhala commented on #1496
Is the problem that it is somehow _unsound_ to have special instance
signatures?

On Mon, May 20, 2019 at 3:45 PM Niki Vazou <notifications@github.com> wrote:

[2019-05-20 13:55] nikivazou commented on #1496
No, there is nothing unsound, but you cannot prove this type signature.
If you want to drop the `assume`, you need to use a run time check, e.g.,

[code]

[2019-05-20 13:59] ranjitjhala commented on #1496
You would put that signature on the _actual_ implementation of  `appendBS`,
and then have it carry over to the `<>` instance. So:

[code]

and then you'd want do:

[code]

[2019-05-21 16:02] jprider63 commented on #1496
For supporting this with typeclasses, I think we can add this refinement to the ByteString Monoid dictionary in core. We also discussed something like extending the refinement to `<>` with `&& (Monoid s == dictByteStringMonoid => {x : ByteString | bslen l + bslen r == bslen x})`.

[2019-05-22 06:04] googleson78 opened #1498 "Refinements on class instances are ignored (+ crash???)"
The following file:
[code]
is declared as `SAFE` by `liquid`.

The following is also declared as `SAFE`:
[code]

More interestingly the following generates a crash:
[code]
Crash log:
[code]

Am I misunderstanding [this section](https://github.com/ucsd-progsys/liquidhaskell#modules-with-code-type-classes)?

[2019-05-22 06:46] ranjitjhala commented on #1498
Wow this is surprising to me!

I *think* what is happening here is that the signature for “f” is

1. Getting attached to the class method and
2. NOT getting checked at the instance.

However even if 1 is happening (counterintuitive, but possible because of
how name resolution happens) I don’t understand why 2 should happen?

On Wed, May 22, 2019 at 8:04 AM Georgi Lyubenov <notifications@github.com

[2019-05-22 07:23] googleson78 commented on #1496
I would be fine with not checking the signature, it's going to be in a `.spec` file anyway (it's for `base`/`some-other-library-whose-source-code-i-dont-have-access-to`, so I can't attach it to the instance definition).

[2019-05-22 08:04] ranjitjhala commented on #1498
Ok, here's what's happening, which is consistent with all the above.

1. When you don't write "instance" inside the `{-@ ... @-}` the spec is associated with the class,
2. When you write "instance" it is associated with the instance.

Either way, the text in [that section](https://github.com/ucsd-progsys/liquidhaskell#modules-with-code-type-classes) should be clarified to make explicit that we *ne

[2019-05-22 08:13] ranjitjhala commented on #1495
Puzzling, turns out if you remove the `import Data.String` it works fine too.

[code]

[2019-05-22 08:34] googleson78 commented on #1498
Could you give me an example of `2.`, I would do a pr with a documentation update?

Also is the crash related or is it an entirely different issue?

[2019-05-22 08:39] googleson78 commented on #1498
Uh.. `liquid` doesn't like the following either:
[code]

with:
[code]

[2019-05-23 22:11] ranjitjhala commented on #1495
The bug here is due to a qualifier:

[code]

that is getting pulled in from the spec of `Data.String.fromString`. Grr.

One fix is to restrict the sort-checking for `e1 ~ e2` to require that either:

1. _both_ have `bool` sort, or
2. _neither_ have `bool` sort?

But really, should eliminate `~` altogether from the refinement logic! (will cause problems with ADTs going forward...)

[2019-05-24 07:05] ranjitjhala commented on #1498
@nikivazou you're looking into this, right?

[2019-05-24 07:41] nikivazou commented on #1498
Yes!

El vie., 24 may. 2019 9:05, Ranjit Jhala <notifications@github.com>
escribió:

[2019-05-24 07:47] ranjitjhala commented on #1498
merci beaucoup!

<https://inboxwhenready.org/?utm_campaign=signature&utm_medium=email&utm_source=signature>
I'm using Inbox When Ready
<https://inboxwhenready.org/?utm_campaign=signature&utm_medium=email&utm_source=signature>
to protect my focus.

On Fri, May 24, 2019 at 9:41 AM Niki Vazou <notifications@github.com> wrote:

[2019-05-25 04:37] ranjitjhala commented on #1495
(got closed by github proactively! lets wait for the PR ucsd-progsys/liquidhaskell#1499 to merge!)

[2019-05-27 16:08] #1495 closed, assigned to nobody

[2019-05-27 16:09] ranjitjhala commented on #1495
Now closed! Thanks for pointing this out again ... am surprised this bug had stayed hidden so long!

[2019-05-28 22:13] CodiePP opened #1500 "The sort GHC.Natural.Natural is not numeric"
in `Control.Concurrent.STM.TBQueue`

function `newTBQueue :: Natural -> STM (TBQueue a)`
requires a "Natural" argument.

LH complains that this cannot be compared (==) to an int.

Adding `{-@ embed GHC.Natural.Natural as int @-}` solved the problem. But, could this be added to the specs in "include/GHC" ?

----

liquid: LiquidHaskell Version 0.8.6.0 (compiled from `develop`)

[2019-05-28 22:22] ranjitjhala commented on #1500
Hi @CodiePP -- yes sure, you could add this. Do you want to submit a PR?

[2019-05-28 22:22] ranjitjhala commented on #1500
And thanks!!

[2019-06-03 14:59] googleson78 opened #1503 "SMTLIB2 crash with z3 4.8.5, but not with 4.8.4"
The following file:
[code]
crashes with the following error:
[code]

with a `z3` built from its `Z3-4.8.5` tag (`e79542c`), but works fine from the `z3-4.8.4` tag (`d6df519`).

Not sure if I should be reporting this here (?)

(`--prune-unsorted` doesn't help)

My `liquid` is
[code]

[2019-06-03 15:24] nikivazou commented on #1503
Thanks!!!

It seems that as of this version Z3 comes with a pre-defined sort for `Set`.
Liquid Haskell defines it's own `Set` sort here: https://github.com/ucsd-progsys/liquid-fixpoint/blob/develop/src/Language/Fixpoint/Smt/Theories.hs#L66
Can you edit the above definition to a different name (e.g., `LSet`) and check if this solves the problem?
If it does a PR would be great!

[2019-06-03 16:02] ranjitjhala commented on #1503
What? Z3 now has a builtin `Set` -- not sure `LSet` will help then because
the name clash is in the LH prelude?

<https://inboxwhenready.org/?utm_campaign=signature&utm_medium=email&utm_source=signature>
I'm using Inbox When Ready
<https://inboxwhenready.org/?utm_campaign=signature&utm_medium=email&utm_source=signature>
to protect my focus.

On Mon, Jun 3, 2019 at 8:24 AM Niki Vazou <notifications

[2019-06-03 16:56] nikivazou commented on #1503
No, the name class comes the the SMT.Theories of fixpoint (LH prelude is qualified so we are good at that).

[2019-06-07 23:41] rosekunkel opened #1505 "Type mismatch due to extraneous `=> true`"
The following code fails to typecheck with
[code]
This code should typecheck because `selectList'` is just `selectList` with `a = User` and `r = {\row -> userFriend (entityVal row) == 1}`.
[code]

[2019-06-07 23:42] rosekunkel commented on #1505
@nikivazou Ranjit suggested you might understand what's going on.

[2019-06-07 23:59] ranjitjhala commented on #1505
@nikivazou here's a simpler version of the above -- that is failing without any bounds or any such.

[code]

[2019-06-08 01:52] ranjitjhala commented on #1505
Smaller? @nikivazou this is some clear bug in the abstract refinements code AFAICT. Can you take a look?

[code]

[2019-06-08 10:04] nikivazou commented on #1505
You are just using wrong syntax.
The following is good:

[code]

[2019-06-08 14:59] ranjitjhala commented on #1505
Thanks @nikivazou!!!

This is rather counterintuitive of course. Can you recall why we require
the <r> next to the tycon and not the applied tycon?

Also: let’s leave this open till we can add some sort of error message
instead of silently failing.

@rosekunkel can you see if this gets your original example to work?

On Sat, Jun 8, 2019 at 3:04 AM Niki Vazou <notifications@github.com> wrote:

[2019-06-08 16:37] nikivazou commented on #1505
I agree and do not remember why we have this syntax.
Actually I added the unsafe example exactly to ensure that the ART are not lost and behave as you want.

[2019-06-08 21:26] rosekunkel commented on #1505
Unfortunately changing the syntax to match @nikivazou's example doesn't parse when you add bounds:
[code]
gives
[code]

[2019-06-08 21:33] rosekunkel commented on #1505
Also, while we're on the subject of abstract refinements syntax, it would be nice if "applying an abstract refinement to a type" and "filling in an abstract refinement variable in a type's definition" looked different. It's kind of confusing that in `Tagged<p> [(Entity<r> record)]`, the `p` is part of the definition of `Tagged` and actually refines an `Entity User`, while the `r` is refining `Enti

[2019-06-08 21:36] rosekunkel commented on #1505
I don't know if there are technical reasons we can't do this, but for the "applying" case I would really like to write `{v:Entity record | r v}`.

[2019-06-08 22:22] ranjitjhala commented on #1505
Agreed.

On Sat, Jun 8, 2019 at 2:37 PM Rose Kunkel <notifications@github.com> wrote:

[2019-06-08 22:22] rosekunkel commented on #1505
I can work around the parse error by writing the bound as
[code]

[2019-06-08 22:24] ranjitjhala commented on #1505
@nikivazou Any idea why the pound syntax is not working?

On Sat, Jun 8, 2019 at 3:21 PM Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

[2019-06-08 23:23] rosekunkel opened #1507 "Abstract refinements on data families are lost"
The following code is incorrectly declared Safe:
[code]
However, the corresponding code without data families is correctly declared Unsafe:
[code]
[code]

[2019-06-08 23:31] ranjitjhala commented on #1507
Am not surprised — don’t even know how this particular language feature
works (is a “data family” even represented as a “tycon” ...?) ie what their
semantics are.

But at very least LH should complain about unknown tycon.

Why do we need this feature?

On Sat, Jun 8, 2019 at 4:23 PM Rose Kunkel <notifications@github.com> wrote:

[2019-06-08 23:38] ranjitjhala commented on #1507
As in

1. how data families are needed for Binah

2. Why would it be too tedious to do with plain data types

The above would help clarify both the use case and what it even means to
have abstract refinements on data families...

On Sat, Jun 8, 2019 at 4:31 PM Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

[2019-06-09 00:05] rosekunkel commented on #1507
Data families come from Yesod. For a model like
[code]
Yesod generates code that looks something like
[code]

Our original plan was to specify policies by adding them to the `EntityField` definition:
[code]
And then the `project` function could have the Haskell type `project :: EntityField record typ -> record -> Tagged typ`

So projecting would look like `project UserName user` and the policy of

[2019-06-09 00:07] rosekunkel commented on #1507
I'm not sure if it would be too tedious to do another way, I'll have to experiment with different ways of specifying the policy for each field.

[2019-06-09 03:38] rosekunkel opened #1508 "Can't inline function from data family"
The following code causes an error:
[code]
[code]
Without data families, the code is declared safe:
[code]
The problem seems to be another issue with type equalities being lost: `Main.R$58$EntityFieldUsertyp` should be equal to `Main.EntityField Main.User`.

[2019-06-09 03:45] rosekunkel commented on #1508
This would be another strategy to attach policies to fields, instead of abstract refinements: https://github.com/ucsd-progsys/liquidhaskell/issues/1507. (We'd also need to make `policy` a class method, though.)

[2019-06-09 09:06] nikivazou commented on #1505
@rosekunkel you solved this, correct?

I would also much prefer `{v:Entity record | r v}`.
The only technical problem is that `r` cannot appear anywhere (esp in negative positions). For example you should never write `{v:Entity record | r v => v == x}`. But this can be easily checked.

[2019-06-09 09:16] nikivazou commented on #1498
This should be fixed. @googleson78  can you pull develop and check if your initial example is ok?

[2019-06-09 09:18] nikivazou commented on #1507
Not sure exactly how data instances work, but before my last push to develop class instances were not checked at all, so maybe this also is fixed?

[2019-06-09 14:08] ranjitjhala commented on #1498
Wow Thanks @nikivazou!!!!

On Sun, Jun 9, 2019 at 2:17 AM Niki Vazou <notifications@github.com> wrote:

[2019-06-09 18:49] mmport80 opened #1509 "Installation Instructions"
On Debian + Stack, I cannot build without GHC being installed. Perhaps add to installation instructions.

[2019-06-09 19:24] rosekunkel commented on #1505
Yes, it's solved, although I had to hack around the parser a little

On Sun, Jun 9, 2019, 02:06 Niki Vazou <notifications@github.com> wrote:

[2019-06-10 00:18] rosekunkel commented on #1507
I tried updating but it's still broken.

My understanding of data families is that data instances are translated into plain data types, and then an axiom is added which says that that plain data type is equal to the data family instance type. So the translation would be something like this:

[code]
The core is not very consistent on whether functions like `upgradeBar` get the type `Foo Int ()` or

[2019-06-10 00:24] rosekunkel commented on #1507
There's some GHC documentation that describes the desugaring in more detail here: https://gitlab.haskell.org/ghc/ghc/wikis/type-functions-core#desugaring-indexed-data-types

[2019-06-10 22:15] rosekunkel commented on #1509
That's interesting - I'm on Arch and I don't need to have GHC installed globally to build; stack installs one locally as needed. What version of stack + liquid haskell + debian are you using?

[2019-06-10 22:16] rosekunkel commented on #1509
Also - have you run `stack setup`?

[2019-06-11 05:52] mmport80 commented on #1509
Hmm I cannot remember - good point - perhaps I missed that.

The error from stack though, was I was missing 'libtinfo.so'.

Not a big deal, just never saw that stack error message before - perhaps a
Stack useability issue..

On Tue, 11 Jun 2019 at 00:16, Rose Kunkel <notifications@github.com> wrote:

[2019-06-11 06:46] rosekunkel opened #1510 "Make Liquid Haskell work properly with type families"
I know this is low priority, but I thought I would go ahead and make a tracking issue for this since I keep coming across new issues. Maybe I'll try to do this at some point.

## Related issues

- #1507
- #1508
- #1266

## Resources
- Type families documentation: https://gitlab.haskell.org/ghc/ghc/wikis/type-functions
- Normalizing types: https://hackage.haskell.org/package/ghc-8.2.1/docs/FamInstE

[2019-06-11 08:16] rosekunkel commented on #1509
Oh, I've had that problem before. The issue is that stack depends on
ncurses and it must not have been installed - maybe GHC also depends on
ncurses and that's why installing GHC fixed the problem?

On Mon, Jun 10, 2019, 22:52 John Orford <notifications@github.com> wrote:

[2019-06-11 08:26] mmport80 commented on #1509
possible - i was using a fresh google cloud Debian vm..

On Tue, 11 Jun 2019 at 10:16, Rose Kunkel <notifications@github.com> wrote:

[2019-06-11 10:01] googleson78 commented on #1498
@nikivazou
Here are my results with the three original examples:

## 0.
[code]
Still declared as `SAFE`. (even though it shouldn't be?)

## 1.
[code]
Now generates a crash:
[code]

## 2. (the original crashing example)
[code]
Now generates a different crash:
[code]

[2019-06-11 10:16] googleson78 opened #1513 "Dependence on GHC with which LH was compiled"
This is my use case:
I'm compiling LH with a "generic" `ghc` (just `git clone` and `stack install` afterwards), however I would like to be able to run it on a machine where I'm using a different `ghc` variant (`integer-simple` instead of `gmp` or `ncurses` instead of `tinfo` for example) to build my project.
Yet LH depends on
`/home/user/.stack/programs/x86_64-linux/ghc-tinfo6-8.6.5/lib/ghc-8.6.5/

[2019-06-11 13:25] gridaphobe commented on #1513
LiquidHaskell heavily depends on the GHC API to parse/typecheck/desugar Haskell programs. So unfortunately, like most other users of the GHC API, it must be built for each variant of GHC that you use.

I think eventually LH should be converted to a GHC plugin rather than a standalone binary, which could avoid this confusion.

[2019-06-11 14:07] ranjitjhala commented on #1513
Btw in principle the ghc-lib library of Mitchell et al solves this problem
... but it has some restrictions I think eg no template Haskell.

On Tue, Jun 11, 2019 at 6:25 AM Eric Seidel <notifications@github.com>
wrote:

[2019-06-11 14:25] gridaphobe commented on #1513
IIRC `ghc-lib`s restrictions are much more severe, i.e. you can't interact with any external libraries. The reason for this is very simple, using external libraries requires interacting with the package database, which is tied to the specific version of GHC you built against. (This is precisely the same reason LH is tied to specific GHC versions.)

On Tue, Jun 11, 2019, at 10:07, Ranjit Jhala wrot

[2019-06-11 14:50] ranjitjhala commented on #1513
Interesting! (Also unfortunate!)

Btw why would plug-ins not have the same issue?

On Tue, Jun 11, 2019 at 7:25 AM Eric Seidel <notifications@github.com>
wrote:

[2019-06-11 14:57] gridaphobe commented on #1513
They would have the same issue, but cabal/stack would transparently handle building the correct version of LH for your GHC. So users shouldn't have to deal with it anymore.

On Tue, Jun 11, 2019, at 10:50, Ranjit Jhala wrote:

[2019-06-11 19:50] googleson78 commented on #1513
Thanks! Feel free to close if there is nothing left to discuss here.

[2019-06-12 18:51] googleson78 commented on #1503
[#403](https://github.com/ucsd-progsys/liquid-fixpoint/pull/403) fixes this. Feel free to close when the submodule here is updated.

[2019-06-13 10:35] #1503 closed, assigned to nobody

[2019-06-13 13:47] nikivazou commented on #1498
Well, none of these should get accepted, but in my PR I added proper error messages.
That is
0. gets rejected since you cannot refine class methods without the `instance` or `class` syntax.
1 and 2. are rejected because the type hole you use (`_`) is not resolved properly. Since the type hole is resolved wrt the specific instance LH cannot find it, but at least now there is an error message tellin

[2019-06-13 14:31] #1498 closed, assigned to nikivazou

[2019-06-13 15:06] ranjitjhala commented on #1498
Super, thanks Niki !

On Thu, Jun 13, 2019 at 7:31 AM Niki Vazou <notifications@github.com> wrote:

[2019-06-14 17:22] ranjitjhala commented on #1162
@zgrannan and @nikivazou we should close this then right?  thanks!!

[2019-06-15 09:11] zgrannan commented on #1162
@ranjitjhala Updated to use the most recent `liquid-fixpoint` and add parser tests in https://github.com/ucsd-progsys/liquidhaskell/pull/1518.

[2019-06-15 14:51] #1162 closed, assigned to ranjitjhala

[2019-06-16 06:37] rosekunkel opened #1519 "Refinements on data families aren't checked"
The following code proves False, but is deemed Safe:
[code]

RJ-EDIT: however, writing `{-@ absurd :: {v:(Foo Int) | False} @-}` does yield UNSAFE.

[2019-06-16 15:09] ranjitjhala commented on #1519
Not sure what's going on here! Curiously, note that if you replace the signature with:

[code]
Then LH _does_ reject the program.

[2019-06-16 15:13] ranjitjhala commented on #1519
@rosekunkel I think this issue would be a good one to get some "hooks" into how the checking works. Its likely something easy, I suggest you trace what value is assigned to the `gsTySigs` field
of `data GhcSpecSig` in `Language.Haskell.Liquid.Types.Specs`:

[code]

Specifically, the _diff_ between the two above versions.

1. Presumably in one case the signature for `absurd` is refined and in the o

[2019-06-19 11:53] morteako commented on #1483
I realized that the gist I linked was not sufficient to replicate the problem, because you needed 2 files I forgot to include. Sorry

https://github.com/morteako/liquid-haskell-error/blob/master/viewProofs.hs
Here is a self contained file.
This gives the error uploaded here : https://github.com/morteako/liquid-haskell-error/blob/master/error.txt

It still does not work.

I have tested
LiquidHaskel

[2019-06-19 13:54] ranjitjhala commented on #1483
Oops sorry I missed this the first time around will take a look!

On Wed, Jun 19, 2019 at 4:54 AM Morten Kolstad <notifications@github.com>
wrote:

[2019-06-19 20:52] ranjitjhala commented on #1483
Hi @morteako -- I think I know what the problem is -- the polymorphic recursion inside the finger-tree type is breaking some assumptions made in the `makeKnowledge` (which is creating some ill-sorted
refinements) I think we can make the latter a bit more fine-grained (to discard ill-sorted knowledge not crash) which should fix your problem. Will try to fix in a day or two!

[2019-06-20 08:19] rosekunkel opened #1521 "Adding a data constructor named `Bool` causes name resolution error"
This file errors with "Error: Unknown type constructor `Bool`":
[code]

This is a bigger problem than it seems because
1. Aeson defines a data constructor named `Bool`
2. Transitively including Aeson (even qualified) also triggers this problem

[2019-06-20 12:19] nikivazou commented on #1521
I assume somewhere in the LH codebase I have hard coded the name `Bool` (unqualified).
Can you grep the codebase to find this place?

[2019-06-20 14:36] ranjitjhala commented on #1521
It could also just be the heuristics for name resolution yielding a crash.
Shouldn’t happen because one is a tycon and the other a datacon...

On Thu, Jun 20, 2019 at 5:19 AM Niki Vazou <notifications@github.com> wrote:

[2019-06-20 16:54] ranjitjhala commented on #1521
Rose,

clearly this needs fixing but you can work around this by qualifying
the measure signature, e.g. replacing the line with:

[code]
and generally, writing `GHC.Types.Bool` whenever you're referring to the
name of the type.

Does that get you unstuck?

[2019-06-20 17:22] nikivazou commented on #1521
Or, if you give this hard coded ["Bool](https://github.com/ucsd-progsys/liquid-fixpoint/blob/develop/src/Language/Fixpoint/Types/Names.hs#L565)" a different (fixpoint-specific) name, e.g., `LFBool` I suspect you will solve the problem

[2019-06-20 19:55] ranjitjhala commented on #1483
Dear @morteako,

hmm. Unfortunately, I really don't follow this bug -- it is due to some _very_ subtle interaction of the
polymorphic recursion used by `FingerTree` and the `--ple` feature. In essence PLE does a "type level computation" but is somehow generating ill-typed terms (which is what triggers the crash.)

I am planning to rewrite the PLE code (for various reasons) and hopefully will be ab

[2019-06-20 23:12] #1521 closed, assigned to nobody

[2019-06-21 18:19] argiopetech opened #1523 "Newtype refinement causes SMT2 file size blowup"
Based on slack discussion, this test case was extracted from a [a file of unit tests](https://github.com/BayesianStellarEvolution/base/blob/11b92c029ee298ad3280bfb8f10a62fb3add12b2/base/test/InterpolateSpec.hs) which, given certain function declaration orderings in that file, causes multi-100MB .SMT2 files and fails to terminate in a reasonable amount of time. Notably, as mentioned in a comment be

[2019-06-24 08:55] #1421 closed, assigned to nobody

[2019-06-24 21:00] #999 closed

[2019-06-24 21:03] nikivazou opened #1525 "Crash on holes inside Abstract Refinement Types"
e.g.,

[code]

crashes with
[code]

[2019-06-26 08:14] jneira opened #1527 "Runtime error in windows: "fd:4: hGetLine: end of file""
Hi, i've installed liquidhaskell in windows from source using stack succesfully but when i try to execute it i get a runtime error:

[code]

The file being handled is [this one](https://github.com/haskell/haskell-ide-engine/blob/master/test/testdata/liquid/Evens.hs) but i've got the same results with test files under https://github.com/ucsd-progsys/liquidhaskell/tree/develop/tests/basic/pos

[2019-06-26 09:09] jneira commented on #1527
Forgot to mention that i've got another error before:
[code]
The directory `806` was not created with `stack install`. After copying the existing folder `710` as `806` the error went out. Note that the error `fd:4: hGetLine: end of file` already was present.

[2019-06-26 09:16] ranjitjhala commented on #1527
Do you have an SMT solver e.g. Z3 installed and on your path? I think you
can sometimes get this error if you don't...

On Wed, Jun 26, 2019 at 2:09 AM Javier Neira <notifications@github.com>
wrote:

[2019-06-26 09:44] jneira commented on #1527
@ranjitjhala yeah, i am in mingw64 and i installed z3 with pacman. Before installing z3 i had another error (reproducible simply renaming `mingw64/bin/z3.exe`):
[code]
But maybe the issue could be a defect in the z3 installation...how could i test z3?

[2019-06-26 10:01] jneira commented on #1527
Ok, trying to execute `z3` it in a dos console adding `/mingw64/bin` in path throws an error about a missing procedure in libstdc++-6.dll
Maybe it will be a windows 7 issue, i'll test it in windows 10 later

[2019-06-26 10:37] jneira commented on #1527
Installing z3 from https://github.com/Z3Prover/z3/releases/download/Z3-4.8.5/z3-4.8.5-x64-win.zip has resolved the issue, thanks for the point @ranjitjhala
As improvement the error could had been more informative, but feel free to close the issue.
In case of closing this i would open a new issue about the missing directory with the ghc numeric version.

[2019-06-26 11:16] jneira commented on #1177
I am getting the original error (`realgcc.exe: fatal error: no input files`) building the lastest hackage version (http://hackage.haskell.org/package/liquidhaskell-0.8.2.4) built with stack (`stack install --resolver=lts-11.18 liquid-fixpoint-0.7.0.7 dotgen-0.4.2 fgl-visualize-0.1.0.1 located-base-0.1.1.1 liquidhaskell-0.8.2.4`)
I have z3 installed and installing the package from source works (see

[2019-06-27 19:56] #1406 closed, assigned to nobody

[2019-06-28 05:25] mbrodersen opened #1528 "Bug in Tutorial Example"
The following tutorial example:

[code]
is expected (according to the tutorial) to be verified safe but instead liquidhaskell returns:
[code]

[2019-06-28 08:53] jneira commented on #1177
It turns out that the file that gcc doent found is `pthread.lib`
[code]
So i will have to install pthreads...

[2019-06-28 09:23] jneira commented on #1177
No need to install pthreads, in ghc >= 8.4 the mingw gcc doesnt throw an error when calling with `"-BD:\ws\haskell\liquidhaskell-0.8.2.4\.stack-work\install\e3b7bed4\share\x86_64-windows-ghc-8.2.2\liquidhaskell-0.8.2.4\include\\"`, so i changed in `/path/to/ghc-8.2.2/lib/settings` the path of gcc compiler to ghc-8.4.4 one:
[code]
Ugly, ugly hack, but `liquid` seems to work now

[2019-06-28 15:39] ranjitjhala commented on #1528
Ah right, this is because the termination checker is now “on by default”
and this is a termination error.

The fix here is to run the file with “—no-termination” ; I will update
immediately! Thanks for filing the issue!

On Thu, Jun 27, 2019 at 10:25 PM mbrodersen <notifications@github.com>
wrote:

[2019-06-29 02:15] mbrodersen commented on #1528
You are welcome ranjitjhala. And thanks for getting back with an answer so quickly!

[2019-06-29 02:15] #1528 closed, assigned to nobody

[2019-07-01 15:14] ranjitjhala opened #1529 "Termination check unsound with partial application?"
The following program is accepted though the CBV version
yields a stack overflow on on Ocaml

[code]

Technically this is not really unsound because we can't really
get a `False` -- refined "base" value (and there are no
refinements on function values).

Note that if you actually use `g 0` or `g` without a `False`
guard LH will complain... If you don't use `g` anywhere maybe
GHC just removes the b

[2019-07-02 20:15] nikivazou commented on #1529
Not sure I am following why PLE this is a bad idea.

The `if False then g 0 else 10` is indeed simplified to `10` by ghc.
Also in the Haskell-to-logic translation `let` is translated to substitution.
So, in the "PLE" logic, `foo` becomes just

[code]
which looks sound to me.

[2019-07-02 21:39] ranjitjhala commented on #1529
Good point, let me think harder.

Still, the fact that GHC removes the call seems somewhat accidental...?

On Tue, Jul 2, 2019 at 1:15 PM Niki Vazou <notifications@github.com> wrote:

[2019-07-03 09:30] nikivazou commented on #1529
Sure, but in this case PLE will also never fire the call, ie PLE will never return the then branch in `if False then ... else ...`

[2019-07-14 13:07] vyorkin opened #1531 "Datatype parsing error with `=` on a new line"
Looks like the LH parser doesn't like when `=` is placed on the next line, for example:

[code]

But it doesn't complain when `=` is on the same line

[code]

Might be related to #873

[2019-07-23 03:38] ranjitjhala opened #1532 "GHC API Panic due to `assume`"
Via @morteako

https://gist.github.com/morteako/ad35a48b022737ec55afcbedabfb62ce

[code]

which yields

[code]
[code]

[2019-07-23 03:41] ranjitjhala commented on #1532
Strange, the error is due to the `assume`; removing makes LH run normally...(!)

[2019-07-23 04:00] ranjitjhala commented on #1532
Hi @morteako -- on the plus side, if you tweak the code to the below, it works (modulo the LH error below):

[code]

But LH complains that:

[code]

which I think means you need a stronger signature for `ix` perhaps?

[2019-07-23 13:32] morteako commented on #1532
I did manage to create the same error without assume, if that is of interest :
[code]
https://gist.github.com/morteako/75f584f0c51ba1ac9ce7fc36c1c27be4

[2019-07-23 14:22] ranjitjhala commented on #1532
Interesting! Thanks! I wonder if it has to do with the class constraints
*inside* the function type (did not know that was possible.)

On Tue, Jul 23, 2019 at 6:32 AM Morten Kolstad <notifications@github.com>
wrote:

[2019-07-23 14:32] morteako commented on #1532
[code]

and also without the assume.
[code]

Is there any way to say that the length of the s and the t should be the same?

I would like to do something like this:
[code]
But it complains about src not being in scope.

[2019-07-24 03:36] ranjitjhala commented on #1532
Hmm, so in the below

- `ix` is **rejected**
- `ix2` is **accepted**

@nikivazou -- can you look at this?

1. I am a bit puzzled because it seems to me that the `t` parameter is `covariant` in the definition of `Lens` and hence `ReLens` ? However, toggling the `covariant` annotation to `contravariant` or `invariant` triggers the same error as in `ix` which makes me think my intuition is off?

2. I

[2019-07-24 03:40] ranjitjhala commented on #1532
Also @morteako the proper fix would be to simply allow you to specify something like:

[code]

and then

[code]

but thanks to the issue you've found --  it looks like we don't yet support `forall f. (Functor f) =>` inside refinements which is preventing the simple solution above :(

[2019-07-26 02:48] spacekitteh opened #1533 "LH doesn't pick up enabled language extensions from project.yaml/.cabal files"
Also, it took a good fifteen minutes to figure out that was the case (it got tripped up by a bang pattern, and just declared it to be an illegal pattern; it didn't suggest the extension). There should be some error message to inform about this.

[2019-07-26 03:19] spacekitteh opened #1534 "`import qualified` multiple modules under the same name confuses LH"
So, I have
[code]

I then try to use a `V.Vector` and I get this error:

[code]

[2019-07-26 03:43] spacekitteh opened #1535 "The specifications in the benchmarks for common libraries should be pulled out into the include directory"

[2019-07-26 04:29] ranjitjhala commented on #1533
Yikes, what was the exact error message you got? (A GHC error?)

On Thu, Jul 25, 2019 at 7:48 PM Sophie Taylor <notifications@github.com>
wrote:

[2019-07-26 04:30] ranjitjhala commented on #1534
Hmm, what was the LH spec you wrote that triggered this error? (can you
e.g. make a gist?)

thanks!

On Thu, Jul 25, 2019 at 8:19 PM Sophie Taylor <notifications@github.com>
wrote:

[2019-07-26 04:30] ranjitjhala commented on #1535
Did you mean, e.g. the ones for Text and ByteString?

On Thu, Jul 25, 2019 at 8:43 PM Sophie Taylor <notifications@github.com>
wrote:

[2019-07-26 06:03] spacekitteh commented on #1535
And hmatrix etc, yeah.

[2019-07-26 06:04] spacekitteh commented on #1534
I hadn't written anything yet, that's the thing. It was just vanilla Haskell.

[2019-07-26 06:05] spacekitteh commented on #1533
`vecOf f: invalid pattern`

The actual function definition was `vecOf f !a = ...`

[2019-07-26 06:28] ranjitjhala commented on #1534
Oh that’s nasty! It was for the spec for

 !

Thanks for pointing that out!

On Thu, Jul 25, 2019 at 11:04 PM Sophie Taylor <notifications@github.com>
wrote:

[2019-07-26 07:31] spacekitteh commented on #1534
It actually happens for every item in the spec, but it seems to parse it out of order.

[2019-07-26 14:19] ranjitjhala commented on #1534
So your code is just the imports above plus some use of !

If not can you paste a minimal reproducing snippet? Thanks!!

On Fri, Jul 26, 2019 at 12:31 AM Sophie Taylor <notifications@github.com>
wrote:

[2019-07-31 02:30] einargs commented on #1490
I've come across something that I think is related:
[code]

Running this with `liquid` built from the current `develop` HEAD (commit rev f4fe82cd03fbe906379c8ebeac5ec3efae0b4cd8) will produce the error:
[code]

(I can't easily make the conversion from `newtype` to `data` because `Embed` is in a library.)

[2019-07-31 03:38] ranjitjhala commented on #1490
Hi Einar,

thanks for pointing that out! The `newtype` is what is causing
the problem; @nikivazou we should have an error message for this -- e.g.

  "unknown newtype Embed"

If you just comment out that line, then LH works fine on this...

- Ranjit.

[2019-08-02 02:02] einargs commented on #1490
@ranjitjhala if you mean that commenting out `{-@ newtype Embed a = Embed a @-}` fixes the problem, then that doesn't exactly work for me--see the examples below, of which four is the most interesting--somehow running `liquid` first with the newtype annotation, then without, and finally with `--diff` causes it to emit "SAFE".

All of the "Commands" scripts below are executed using `sh` in [this re

[2019-08-05 16:03] ranjitjhala commented on #1490
Dear @einargs,

(sorry for the delay, am traveling!)

hmm you are right. This example shows an odd-to-me limitation in the
SMTLIB's encoding of
data types -- which I am attaching below because right now github is being
difficult
with logging me in.

Anyways, the solution is to

1. Use `--no-adt` to disable using the native SMT encoding;

This will let LH run to completion, but unfortunately our `n

[2019-08-05 16:03] ranjitjhala commented on #1490
Here's the SMT2 issue:

[code]

On Mon, Aug 5, 2019 at 9:33 PM Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

[2019-08-06 01:07] einargs commented on #1490
I can confirm that changing the `newtype` to `data` fixes the problem.

[2019-08-06 01:29] ranjitjhala commented on #1490
Also after adding the —no-adt , right?

On Tue, Aug 6, 2019 at 6:37 AM Einar Strandberg <notifications@github.com>
wrote:

[2019-08-07 00:04] jprider63 opened #1536 "Stack space overflow"
I receive the following stack space overflow when attempting to verify some applicative laws (`lawApplicativeIdentityMaybe`). I haven't tried to debug yet. Maybe it's related to #1417?

[code]

[code]

[2019-08-07 01:51] einargs commented on #1490
That doesn't seem to make a difference. If I alter `Repro2-no-newtype.hs` by changing `newtype` to `data`, resulting in:
[code]

And do `sh rep1.sh` on a modified `rep1.sh` script that has the `-v` flag added to liquidhaskell:
[code]

I get the console output in the attached file: [log.txt](https://github.com/ucsd-progsys/liquidhaskell/files/3474849/log.txt) (which ends with a `SAFE` message)

[2019-08-25 08:42] dtaskoff opened #1537 "crash: SMTLIB2 Error "Wrong number of arguments passed to function""
Hello,

This error occured, after I tried to prove that for the following functions `f` and `g`, `f . g = id`:

[code]

Full error message:
[code]

I'm providing the `.liquid` directory produced by liquid: [liquid.tar.gz](https://github.com/ucsd-progsys/liquidhaskell/files/3537946/liquid.tar.gz)

*Note*: might be related to #1164

I'm using `liquid` from branch **develop**.

[2019-08-26 09:19] dtaskoff opened #1538 "Equational reasoning and higher-order functions"
Hello, I'm struggling with proving some things with equational reasoning, which, I feel, should be done very easily.

For example, see [this gist](https://gist.github.com/dtaskoff/750821199f8720c9118ee0a1b91c5650).
The first proof seems to be accepted by `liquid`, however, the second one, which follows the same pattern, gives a `Liquid Type Mismatch`.

Is there some kind of a trick, that needs to

[2019-08-26 09:41] dtaskoff commented on #1537
*Update*: I have a "feeling", that this is caused by the expressions `dot h Left` and `dot h Right`.
Is it not possible to use partially applied functions in proofs?

[2019-08-26 17:14] ranjitjhala commented on #1538
Hi Daniel,

Unfortunately am traveling and away from my machine so can't run LH but my
guess is that
the problem here is that the composition operator `.` has not been
"reflected" -- so LH
only knows that `.` has the type (b -> c) -> (a -> b) -> a -> c and in
particular, does not
"know" that the equality

  `(f' . g') h e == f' (g' h) e`

follows from the definition. To fix, add the following to y

[2019-08-26 17:17] ranjitjhala commented on #1537
I *think* this is because the SMT solver doesn't like partially applied
constructors (e.g. Left, Right). Does the error remain if you add:

[code]

Which disables the native ADT encoding?

On Mon, Aug 26, 2019 at 2:41 AM Daniel Taskoff <notifications@github.com>
wrote:

[2019-08-27 11:46] dtaskoff commented on #1537
Thank you very much, it worked!

[2019-08-27 11:46] #1537 closed, assigned to nobody

[2019-08-27 13:36] dtaskoff commented on #1538
Hi,
Reflecting a custom `compose` didn't help me prooving the equation (I've updated the gist), although, `{-@ LIQUID "--ple" @-}` now produces the same `Liquid Type Mismatch`, instead of a cryptic error, so, at least, that's not a bug.

This concrete expansion seems to be the thing, which `liquid` doesn't like.
[code]

[2019-08-30 04:23] ranjitjhala commented on #1538
@dtaskoff  -- reposting my reply again so its searchable.

Ok, so once you use `===` ("checked equality combinator", we have the old one `==.` for historical reasons but should deprecate it...) I found that the issue was with the equalities:

[code]

which only holds with eta-expansion/function equality which is a bit tedious to spell out to LH (especially proving the equality of two lambda-terms)

[2019-08-30 07:56] dtaskoff commented on #1538
Thank you very much for the detailed proof!
I think I understand what is going on.

To generalise, every time I want to prove something with nested functions (in this case, the functions are the first and second part of a tuple: `(b -> a, c -> a)`), I'll have to deconstruct and use the extensionality axiom for the functions inside, am I correct?

*EDIT*: While making sure that I'm understanding th