[2017-08-27 03:51] ranjitjhala commented on #1078
Should be fixed by #1079

Wow, the bug was in ... the `liquidhaskell.cabal` file! For some reason, the `data-files` field was missing: `, include/Data/ByteString/*.spec` and so that was not even copied over to the relevant `dist` directory and hence was just being ignored...

I have added the above line to the .cabal file.

Once you do that, on your original source you get the error:

[code]

i.e.

[2017-08-27 03:54] ranjitjhala commented on #822
Hmm... So we would have to refine the dictionary method here?

[2017-08-27 05:08] ranjitjhala commented on #1078
It may be possible to just add `import Data.ByteString` to `include/Data/ByteString/Char8.spec`, thereby forcing the dependency, and avoiding the extra import in the client (e.g. `T1078.hs`)
That seems to work in this example.

[2017-08-27 15:09] nikivazou commented on #822
Hey @Gabriel439,
what ghc are you using? I do not see any call to `packChars` in the internal representation.

The following type checks using a "fake" class measure. Let me know if it works for you.

[code]

[2017-08-31 06:53] JeffreyBenjaminBrown commented on #407
Good to hear that it already works! So what's the best way to add Liquid Haskell to a Stack environment?

[2017-08-31 15:55] nikivazou commented on #407
You need to add the following dependencies in your `stack.yaml` and  then run `stack install liquidhaskell`.

[2017-08-31 17:59] JeffreyBenjaminBrown commented on #407
Which dependencies?

[2017-08-31 18:11] ranjitjhala commented on #407
Following @Gabriel439 [blog post](http://www.haskellforall.com/2015/12/compile-time-memory-safety-using-liquid.html) I think it should be something like:

[code]

and then

[code]

?

@nikivazou  is that right? If so we should add these instructions to the `README`.

Also relevant is @spinda 's

https://github.com/spinda/liquidhaskell-cabal

which is awesome, but needs a little updating...

[2017-08-31 18:13] Gabriel439 commented on #407
In the long run you should consider adding `liquidhaskell` to Stackage, because then you'll get automatically notified any time you don't build against the latest version of one of your dependencies

[2017-09-01 17:45] ranjitjhala commented on #1074
Hi @sdleffler thanks again for bringing this up.
I hit this myself right now in another fashion, namely, that as the function binder is not in
scope, we cannot use type aliases with function binders.

In short, the [following fails](http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1504287805_3396.hs) with a similar error `y is not in scope`...

[code]

The above bothers me especially
as a I

[2017-09-01 17:51] ranjitjhala commented on #1074
Even more confusing:

[code]

[2017-09-01 23:03] ranjitjhala commented on #1074
Here's some quirks in the parsing:

[code]

[2017-09-03 05:38] Gabriel439 commented on #1078
I'm confirming that this fixes the issue on my end

[2017-09-03 05:38] #1078 closed

[2017-09-03 15:11] ranjitjhala commented on #1078
Thanks! Btw I should have updated the comment, I rigged it so that the Char8.spec "imports" bytestring.spec so your original example should work as is i.e. Without the extra import e.g.

See https://github.com/ucsd-progsys/liquidhaskell/blob/d133c6fad7279d69d6a6f88718c3d8648583a1d8/tests/neg/T1078.hs

[2017-09-04 03:03] #822 closed

[2017-09-04 03:24] ranjitjhala commented on #822
hmm. looks like github is trying to be very clever? I didn't explicitly "close" this issue, but I merged @Gabriel439 ' PR which had the term "fixes" in the message, and so GH decided to close the issue!

[2017-09-04 04:20] Gabriel439 commented on #822
Yep!  GitHub supports automatically closing issues based on certain key words:

https://help.github.com/articles/closing-issues-using-keywords/

That's why I put "Fixes ..." in the commit description, so that it would mark this issue resolved once it was merged

[2017-09-04 05:15] ranjitjhala commented on #822
Ooh nice, thanks!

On Sun, Sep 3, 2017 at 9:20 PM Gabriel Gonzalez <notifications@github.com>
wrote:

[2017-09-06 05:21] #1049 closed

[2017-09-07 23:31] ranjitjhala commented on #1074
Fixed by #1077 [ specifically, https://github.com/ucsd-progsys/liquidhaskell/pull/1077/commits/9d1403a968ddaf6342d6c6d1c711f57a7a67a23b#diff-0cdb45ae60104f26deeb16471c90f7aaR172]

[2017-09-08 00:37] #1074 closed

[2017-09-10 07:55] Abhiroop opened #1083 "xgnmmbtcnnvnvnmmmnmmq]≈vvvvvvvvvvvvv,,,jhgkl yyy.iijllllblbb//"

[2017-09-10 07:57] #1083 closed

[2017-09-10 08:00] Abhiroop commented on #1083
Apologies for this. This was my mistake.

[2017-09-14 17:37] atondwal opened #1085 "Refining two datatypes with `--exactdc` results in "Illegal type specification...""
[code]

Results in:
[code]

[2017-09-14 18:31] ranjitjhala opened #1086 "Reflection fails with type-aliases in lambdas"
The following program

[code]

fails with

[code]

because the reflected signature binds the lambda to something of type `Val` instead of expanding the alias and treating it as `Int`...

[2017-09-14 20:30] ranjitjhala commented on #1086
nvm i think i know the fix (CoreToLogic is missing calls to `expandTypeSynonyms` ...)

[2017-09-15 05:06] #1086 closed

[2017-09-15 22:50] ranjitjhala commented on #818
Hey, we can close this right? since you can now write what @nikivazou describes above?

[2017-09-15 22:53] ranjitjhala opened #1089 "Support GADTs"
Can we get this working?

https://github.com/jbrown215/binah/blob/master/db/EvalQuery.hs

via @jbrown215

[2017-09-16 05:35] ranjitjhala commented on #1089
Associated notes from GHC

[GHC/DataCon/Wrapper etc](https://github.com/ghc/ghc/blob/master/compiler/basicTypes/DataCon.hs#L124)

See also:

- tests/pos/ExactGADT.hs
- tests/pos/ExactGADT1.hs
- tests/pos/ExactGADT2.hs
- tests/pos/ExactGADT3.hs
- tests/pos/ExactGADT4.hs

Each of which give a different error...

[2017-09-16 05:37] ranjitjhala commented on #1089
Turns out the code:

[code]

is compiled thus:

[code]

So there's this `FldX` stuff which is the worker (?)
and then we have the wrapper which is `$WFldY`.

Horrors.

@nikivazou have you ever dealt with this stuff before?

[2017-09-16 05:44] ranjitjhala commented on #1089
See also: `Liquid.Measure.makeDataConType`

[2017-09-16 15:54] atondwal opened #1090 "Sorts Main.Either and Main.Either are incompatible"
We should file the rel fixpoint bug after we find it

[code]

results in:

[code]

[2017-09-18 16:53] ranjitjhala commented on #1090
Well that's a new one. Am busy for the next few days; @atondwal can you take a look?

[2017-09-18 18:56] RyanGlScott opened #1091 "Regression: Iso datatype causes LH crash"
This file:

[code]

Is marked as Safe with LH in commit 27bc088c4f8b29fd9866e5589233e97e22e314c4. But in the latest commit (a77088978aeb0ee09ec82d1d45fd7378cbed547e), LH crashes when trying to verify it:

[code]

[2017-09-18 19:16] ranjitjhala commented on #1091
Oops this looks like a regression caused by the recent data-decl changes.
@atondwal see `Language.Fixpoint.Solver.Solution.mkSubst`
​

[2017-09-18 22:32] ranjitjhala commented on #1091
Well this is odd, I've minimized the z3 query to the file `foo.smt` which is just:

[code]

but Z3 says:

[code]

The above looks clearly correct to me ... both arguments of the `=` are of sort `Int` -- @atondwal  can you see if I'm missing something? else we can file a Z3 bug report...

[2017-09-18 22:34] ranjitjhala commented on #1091
never mind. I see the problem!

[2017-09-18 22:41] ranjitjhala commented on #1091
the problem is for some reason, we create KVAR-PARAMs for polymorphic types, here

[code]

then, when generating substitutions (in Solution) we represent `x := e` as the equality

[code]

but when `x` is a poly-type, `toInt x` is just `x`.

Yikes.

The solution is to *not* have polymorphic binders as KVAR-params!

[2017-09-18 23:51] ranjitjhala commented on #1091
Lets see if ucsd-progsys/liquid-fixpoint#4cd1b36e0746747598284cfac92029a91f421e1f does the trick.

[2017-09-19 00:04] RyanGlScott commented on #1091
That fixed it! Both the original file, and the larger example I originally encountered this bug in. Thanks, @ranjitjhala!

(It did spit out about 4,000 lines of debug output, but I assume that [you're aware of that](https://github.com/ucsd-progsys/liquid-fixpoint/commit/dc18fb19a5205e38caf160c7916aeb01f9c0f967).)

[2017-09-19 00:05] RyanGlScott commented on #1091
Er, I suppose I closed this a bit prematurely, since it technically hasn't landed in `develop` yet.

[2017-09-19 00:29] RyanGlScott opened #1092 "Regression: LH gets confused when two values of type VerifiedEq are present"
This file:

[code]

Is marked as Safe with LH in commit 27bc088. But in the latest commit (a770889), LH rejects it:

[code]

[2017-09-19 01:02] ranjitjhala commented on #1090
@atondwal the problem here is that Z3 doesn't have any type inference so it thinks that

[code]

is ill-typed when

[code]

here is a minimal Z3/.smt file that demonstrates the problem:

[code]

The solution is to put explicit annotations around the constructor applications, just with the output type:

[code]

For example, see `tests/pos/adt_list_2.fq` which generates the SMT query (in .liquid/tes

[2017-09-19 01:24] ranjitjhala commented on #1092
Hmm. The deal here is that the actual SMT embedding of the VerifiedEq class has no

[code]

because all the fields are _functions_ and we have no way to represent functions in SMT
(they are just encoded as `Int`). Consequently, Z3 thinks the datatype is monomorphic
(I'm guessing) it simply ignores the explicit `T0` that we're passing in.

Options are to either:

1. Disable the SMT-Data-Decl for pa

[2017-09-19 01:36] ranjitjhala commented on #1092
Ok, the route 3 -- namely "nasty hack" is by far the easiest way forward.

If you look at the .smt2 file generated by the above, it looks like this:

[code]

so the `T0` is "dead" and when we say variables have the type `VerifiedEq Int` then z3 throws a fit.
If instead we just add _dummy_ constructors:

[code]

then it is appeased...

So: @atondwal can you go to the place where SMT data-declaratio

[2017-09-19 11:38] atondwal commented on #1090
I added `tests/todo/1090.fq` to LF. We should move this issue to that repo.

[2017-09-19 14:59] #1091 closed

[2017-09-19 20:10] atondwal commented on #1090
Unfortunately, there's a bug-within-a-bug. Old version of z3 don't suffer from this monomorphization problem(???) so we can see that under that crash is another

[code]

[2017-09-19 21:36] ranjitjhala commented on #1090
What is this `function real Main.Trace`?

On Tue, Sep 19, 2017 at 1:11 PM, Anish Tondwalkar <notifications@github.com>
wrote:

[2017-09-19 21:38] ranjitjhala commented on #1090
Anyways, this "inner" bug seems easy to fix -- figure out where this weird
`(function real Main.Trace)` is being generated, and replace it with the
_actual_ sort which should be `func(0, [real; Main.Trace])`?

On Tue, Sep 19, 2017 at 2:36 PM, Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

[2017-09-19 22:26] atondwal commented on #1090
Yeah, it shouldn't be too bad. I'll tackle both after my talk tomorrow

On Tue, Sep 19, 2017 at 2:38 PM, Ranjit Jhala <notifications@github.com>
wrote:

--
Anish

Q: Why is this email two sentences or less?
A: http://two.sentenc.es

[2017-09-19 23:09] RyanGlScott opened #1094 "LH thinks an (otherwise safe) module is unsafe when imported"
LH rightfully thinks this module (in isolation) is safe:

[code]

But when it's imported from another module:

[code]

Then when checking `Foo`, LH now rejects `Iso`:

[code]

[2017-09-19 23:21] ranjitjhala commented on #1094
Yuck, not our module woes again.

For some reason, the names in
`ProofCombinators` are not
being resolved in the right
context. (I suspect they are
being resolved int the context
of `Foo` but that makes no sense
as in _many_ other tests should
have failed.)

Don't close this issue, but for
now you can work around this
right now by adding the line:

[code]

to `Foo.hs`.

On Tue, Sep 19, 2017 at 4:0

[2017-09-20 04:01] nikivazou opened #1095 "LH runs forever (>5min) on complicated patterns"
The following program takes too long to verify (>6 min)

[code]

The problem is that `foo` has very complicated case analysis.
In such cases, my hack was to use ` --no-case-expand` to simplify the ghc internal cases analysis, but this would break reflection of `foo`.

Note that writing `foo` as follows runs in <2 min

[code]

( @ranjitjhala since you asked for programs that take too long to verify

[2017-09-20 04:10] nikivazou opened #1096 "Unbound symbol is termination metrics"
Let `Foo.hs` and `Types.hs` be

[code]

[code]

Then

[code]

Which renders imports in realistic theorem proving impossible ...

[2017-09-20 05:12] ranjitjhala commented on #1096
That's strange, since measures are certainly exported, cf

https://github.com/ucsd-progsys/liquidhaskell/blob/develop/tests/import/client/ReflectClient1.hs

Maybe there is something funky about termination metrics?

On Tue, Sep 19, 2017 at 9:10 PM Niki Vazou <notifications@github.com> wrote:

[2017-09-20 05:16] ranjitjhala commented on #1096
Aha. You are not running it properly. As with GHC, you need to run LH on the library BEFORE you run it on the client; as running it on the library generates the .bspec file that is needed by the client.

So, if you do:

[code]

**and then** you do:

[code]

[2017-09-20 05:16] #1096 closed

[2017-09-20 05:20] ranjitjhala commented on #1095
This is a great example thanks. It's shocking that it takes >5 mins...

[2017-09-20 05:25] ranjitjhala commented on #1095
Wait, the above takes  > 5mins even _without_ PLE?!!!

[2017-09-20 05:27] ranjitjhala commented on #1095
Looks like the problem is that the "case expand"
thing blows everything up then, right?

(i.e. it has nothing to do with PLE).

Also it would be worth looking at just what the raw "core" is...

[2017-09-20 12:17] nikivazou commented on #1096
A, thanks! This makes sense.
Then, we need a `liquid --make` ghc-like flag

[2017-09-20 12:21] nikivazou commented on #1095
Case expand would fix the time. But in my case I cannot use it because I want to reflect `foo` and reflection into logic does not deal breaks with the `Default` case.

BTW, I *believe* this would be fine in the 7 version of ghc and liquid, but from 7 to 8 in ghc they changed things on case patterns and some of our "optimizations" were not ported.

[2017-09-20 12:37] nikivazou commented on #1096
It works!!! No more CPP including! Thanks a lot!!!!

[2017-09-23 22:04] Gabriel439 opened #1099 "Supporting Nix"
One neat feature of Nix is that it lets you create transient GHC environments with a corresponding package database.  For example, if I do:

[code]

... then that opens up a shell that has `ghc` set up with a package database that has `vector` installed:

[code]

However, for some reason, the `liquid` executable does not appear to use the `ghc` provided by `nix-shell` nor does it use the matching

[2017-09-25 16:53] ranjitjhala commented on #1099
Hi @Gabriel439, sorry for the delay! There was a point when we had a bunch of code to configure the databases, but with `stack` all that become redundant. Still let me dig around a bit this evening to see how this works...

[2017-09-25 17:00] ranjitjhala commented on #1099
IIRC `liquid` uses the GHC API (not the binary), so it uses whatever GHC it was built with.

I wonder if there is a way to pass in the package database
path by using the `--ghc-option` flag, which passes its
arguments in to GHC?

[code]

[2017-09-25 21:04] Gabriel439 commented on #1099
That worked for me!  The only thing I had to be careful with was ensuring that my `nix-shell` loaded the same version of GHC that was used by the `liquid` executable.  In my case my `liquid` executable was built using `ghc-8.0.2`, so I did:

[code]

The only remaining thing is figuring out what `stack exec` did so that its package database was automatically picked up by the GHC API

[2017-09-25 21:06] gridaphobe commented on #1099
Yes, `liquid` is built against the GHC API. IIRC we use the `ghc-paths` package to figure out where the packages are, which means it's linked into the binary. It looks like the nix folks have patched `ghc-paths` to use an environment variable rather than hardcoded paths to get around this issue (long discussion at [nixpkgs](https://github.com/NixOS/nixpkgs/blob/7cd5ff6376fde10e89ad70122d4841dc7128

[2017-09-25 21:26] ranjitjhala commented on #1099
Aha, `ghc-paths`! The relevant stuff appears to be here:

https://github.com/ucsd-progsys/liquidhaskell/blob/develop/src/Language/Haskell/Liquid/GHC/Interface.hs#L128

Looks like `libdir` is described here:

[code]

When I did

[code]

I get:

[code]

Also, when run from the command line, I see:

[code]

**Q:** Is the `libdir` stuff the same as the package database path? Or maybe its enough for GH

[2017-09-25 21:40] gridaphobe commented on #1099
I think this is the relevant environment variable for `stack exec`, but now I'm wondering where `ghc-paths` fits in...

[code]

[2017-09-25 21:48] ranjitjhala commented on #1099
I have the sense that GHC is hardwired to use the $GHC_PACKAGE_PATH
environment variable...?

On Mon, Sep 25, 2017 at 2:40 PM, Eric Seidel <notifications@github.com>
wrote:

[2017-09-26 18:09] Gabriel439 commented on #1099
Okay, now I understand what is going on

So, `liquid` built using Nix will respect both the `NIX_GHC_LIBDIR` and `GHC_PATHS_LIBDIR` environment variables:

`stack exec` transiently sets `GHC_PATHS_LIBDIR` which is why `stack exec liquid` works and picks up the GHC package database created by `stack`

`nix-shell` does not set either environment variable, which is why `liquid` did not pick up the pa

[2017-09-26 18:09] #1099 closed

[2017-09-26 18:16] ranjitjhala commented on #1099
Great, thanks a bunch @Gabriel439 ! So, to consolidate, is the following the recipe for now? (May as well add to the README?)

## Usage with nix-shell

1. Create shell, e.g.

[code]

2. Set environment variables

[code]

3. Run LH

[code]

[2017-09-26 18:42] Gabriel439 commented on #1099
Yes, that's correct, except you don't need the `-I nixpkgs=/Users/gabriel/proj/nixpkgs`.  That's just an unnecessary flag I left behind from me debugging this

Also, add a note explaining that the `nix-shell` needs to use the same GHC version that the `liquid` executable was built with

[2017-09-26 18:51] gridaphobe commented on #1099
Thanks for helping debug this @Gabriel439! Can you also ping us the nixpkgs issue number so we can link to it in the README?

[2017-09-26 19:22] jbrown215 opened #1100 "liquid crashing with SMTLIB2 error"
https://github.com/jbrown215/binah/blob/master/db/UpdateQuery.hs

Running `liquid UpdateQuery.hs` gives the following error message:

:1:1-1:1: Error
  crash: SMTLIB2 respSat = Error "line 141 column 56: invalid declaration, function 'Main.Update' (with the given signature) already declared"

Changing Update to UpdateASDF (to try to get rid of the already declared error?) but that did nothing.

[2017-09-26 19:22] jbrown215 commented on #1100
@ranjitjhala (I can't assign)

[2017-09-26 19:58] atondwal commented on #1100
`--exact-data-con` creates the liquidhaskell declaration for the datatype, so
`{-@ data Update record typ = Update { updateField :: EntityField record typ, updateValue :: typ } @-}`
is redundant

[2017-09-26 20:22] jbrown215 commented on #1100
Thanks-- removing that got rid of the error

[2017-09-26 20:28] ranjitjhala commented on #1100
Can you keep it open though; we should fix this so that either it doesn't
crash OR it gives a message saying you don't need the fields...

​

[2017-09-27 11:55] #901 closed

[2017-09-27 15:59] ranjitjhala commented on #901
Does this work now?

On Wed, Sep 27, 2017 at 4:55 AM Anish Tondwalkar <notifications@github.com>
wrote:

[2017-09-27 16:12] Gabriel439 commented on #1099
So after studying this more closely it seems like this is actually a hard limitation of the `--packages` flag to `nix-shell`.  There's no way to set environment variables using `--packages`

Also, the Haskell section of the `nixpkgs` manual did in fact already anticipate this issue and recommends the following approach:

https://nixos.org/nixpkgs/manual/#how-to-create-ad-hoc-environments-for-nix-s

[2017-09-27 16:19] Gabriel439 commented on #1099
Also, here is the final `shell.nix` that I came up with (which I'm using for my Liquid Haskell talk):

[code]

[2017-09-27 20:38] ranjitjhala commented on #1100
Related to #1085 (removing the refined data definition fixes the problem.)

[2017-09-27 20:43] ranjitjhala commented on #1073
Hmm. So is the issue here that the code

[code]

generates core that is easily liftable (i.e. supported by the current implementation), but

[code]

does not?

[2017-09-27 21:06] sdleffler commented on #1073
Yes, that's the gist of it. Especially, this *will* work:

[code]

It's a simple syntactic check to see if the *immediate* expression is one of a specific set of error functions, so it won't catch it if you create another function which, if substituted in, is one of this specific error functions.

[2017-09-27 21:07] sdleffler commented on #1073
Link to a demo showing this: http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1506546435_3997.hs

[2017-09-28 17:30] ranjitjhala commented on #1099
@Gabriel439 and @gridaphobe -- I added a [NIX.md](/NIX.md) -- with the above instructions.

When you get a moment can you check if I haven't made any glitches? Thanks!

[2017-09-28 17:38] Gabriel439 commented on #1099
@ranjitjhala: I think one thing that the `NIX.md` needs to stress is that there are two ways to use `liquid` with Nix:

## For a `cabal` project

If you use a `nix-shell` within the context of a Nix-enabled Cabal project then you don't need to take any special precautions to use `liquid` correctly as the right environment variables will already be set

For example, if you do:

[code]

... then `li

[2017-09-28 17:39] Gabriel439 commented on #1099
The other thing to point out is that my example only pins `nixpkgs` for extra reproducibility.  Most users won't need to do that and can get away with just:

[code]

That will let them easily upgrade to newer versions of `liquidhaskell` by upgrading their `nixpkgs` channel

[2017-09-29 03:50] nikivazou opened #1101 "Running the current liquid splits out some tracing info"
Running the current liquid splits out some tracing info, including "IMPORT-PATHS", "INCLUDE-PATHS" etc

[2017-09-29 03:59] #1101 closed

[2017-09-29 05:25] nikivazou opened #1102 "Minor issue with reflected imports"
I have three modules A, B, and ImportedReflect, as pushed [here](https://github.com/ucsd-progsys/liquidhaskell/commit/1b3f221a86921768f5cfbd45836e4ce9d82adbb7).

Module `ImportedReflect` uses the function `B.bar` and the data type `B.Bar` and the haskell code is using nothing from `A`.
[code]

But, both `B.bar` and `B.Bar` use the data `A.Foo`

[code]

with `A` just defining `Foo`

[code]

When I

[2017-09-29 12:52] ranjitjhala commented on #1102
Wonder if this is related to https://github.com/ucsd-progsys/liquidhaskell/issues/1094

[has to do with "transitive imports"]

[2017-09-29 13:06] ranjitjhala commented on #1102
Hmm, this works fine if you:

1. Use `exact-data-con` and
2. Drop the `{-@ data ... @-}` lines.

I think the problem may be because when
explicit field names are provided,
the serialized names are not qualified?

[2017-09-29 13:08] nikivazou commented on #1102
Oh, I don't need the `{-@data ...@-}` lines anymore to reflect data constructors?

[2017-09-29 13:10] ranjitjhala commented on #1102
Nope. But you need the `--exact-data-con`.

We still need `{-@ data ... @-}` if there are refinements on fields though...

[2017-09-29 13:11] ranjitjhala commented on #1102
And if you have an associated size then you just need to write:

[code]

(as before)

[2017-09-29 13:20] nikivazou commented on #1102
Oh, great.

Is it the case that

- If I have only the Haskell definition `data Foo` the you generate some "default" selectors and checkers to reflect `Foo`,
- If I also have the refined definition `{-@ data Foo @-}` then you use the refinement fields for the selectors?

If you always use the "default" ones (ignore the `{-@ data Foo @-}`) for the reflection, then this issue would be solved.

[2017-09-29 13:39] ranjitjhala commented on #1102
If you have just `{-@ data Foo @-}` then there are no refinement fields?

Did you mean `{-@ data Foo =  ... @-}` ?

What did you mean by "ignore the `{-@ data Foo @-}`" ?

Did you mean ignore the *field names* inside the data definition?

[2017-09-29 13:49] nikivazou commented on #1102
Yes! You do not need the field names inside the data definition to reflect the data.

[2017-09-29 13:56] ranjitjhala commented on #1102
Well now there is no need to write `{-@ data Foo @-}`; if you write `--exact-data-con` then all data descriptions get lifted. IIRC.

[2017-09-29 13:59] ranjitjhala commented on #1102
So the below works:

[code]

[code]

[code]

[2017-09-29 14:59] nikivazou commented on #1102
Great! By my point is that adding

[code]
to A.hs should not break things, which seems feasible.

[2017-09-29 15:11] ranjitjhala commented on #1102
Yes, I agree, it should not break things,
so keep this issue open and I'll take a
look!

On Fri, Sep 29, 2017 at 7:59 AM, Niki Vazou <notifications@github.com>
wrote:

[2017-09-29 16:06] nikivazou commented on #1102
As another alternative @jprider63 just suggested something like ` {-@ import A @-}` that will make ghc not complain.

[2017-09-29 18:01] nikivazou opened #1104 "Another reflect/measure import issue"
@jprider63 discovered another interesting import bug. See [here](https://github.com/ucsd-progsys/liquidhaskell/commit/501ecf27d4f4fc44ddac8d5c0290f2329218a76b).

If I define a measure in `isFoo` in `AA`
[code]

Then I cannot prove that the Haskell `isFoo x` satisfies the `isFoo` logical predicate in sa **different** module. That is the following fails

[code]

But the above is safe when
 - `isFoo`

[2017-09-29 18:08] nikivazou commented on #1102
Also, I suggest that the error `Unbound Symbol A.fooA` comes with a
"you might need to run liquid on module A" suggestion.

[2017-09-29 18:22] ranjitjhala commented on #1102
Really there should be no error here...

On Fri, Sep 29, 2017 at 11:09 AM Niki Vazou <notifications@github.com>
wrote:

[2017-09-29 19:17] ranjitjhala commented on #1102
When we use the `{-@ data  ... @-}` the field-name-measures being used/saved *are not* qualified, but exactly as in the definition. However, it seems that names in the reflected signatures *are* qualified. This is why when we later (in module C) try to look up the (qualified) name `A.fooA` it says ... maybe you meant `fooA`.

*Solution:* Qualify the user-defined field-name-measures.

[2017-10-03 13:17] hardliner66 commented on #920
Some additional info on allowed windows file names can be found here: https://msdn.microsoft.com/en-us/library/windows/desktop/aa365247(v=vs.85).aspx

[2017-10-03 22:42] ranjitjhala commented on #1100
should be fixed by upcoming T1089 fix

[2017-10-03 22:43] ranjitjhala commented on #1102
should be fixed by upcoming T1089 PR

[2017-10-03 23:00] ranjitjhala commented on #1072
1. `"head"` is special (i.e. see `WiredIn` - which is why the error-location is weird).

2. In general, I'd like things like measures etc. to correspond to GHC visible entities, and to generally disable stuff defined just inside `{-@ ... @-}`

Hence, not clear what the issue is here?

[2017-10-03 23:02] ranjitjhala commented on #1094
This is probably some nasty can of worms involving modules. Since its so easy to fix with an import, am letting it be for now.

[2017-10-03 23:05] ranjitjhala commented on #1057
See #1071

[2017-10-03 23:06] ranjitjhala commented on #1048
Implemented by above.

[2017-10-03 23:06] #1048 closed

[2017-10-03 23:17] ranjitjhala commented on #1060
Seems to be working now...

[2017-10-03 23:17] #1060 closed

[2017-10-03 23:31] ranjitjhala commented on #1104
Looks like the "singleton" type for the measure `isFoo` is getting lost in the import, perhaps because  saveLiftedSpec runs *before* the strengthening happens?

[2017-10-04 03:32] ranjitjhala commented on #1104
should be fixed by upcoming T1089 PR

[2017-10-04 03:35] ranjitjhala commented on #1090
why is this closed? i dont think its fixed?

[2017-10-04 04:14] ranjitjhala commented on #1090
Ah right you moved it to FP; still let's keep it open till the other one is fixed...

[2017-10-04 06:29] ranjitjhala commented on #1090
I've fixed the first bug (the Either ~~~ Either) business, which was

https://github.com/ucsd-progsys/liquid-fixpoint/issues/332

but the second issue re: `makeKnowledge` remains, so keeping open.

[2017-10-04 06:33] ranjitjhala commented on #1092
Should be fixed by https://github.com/ucsd-progsys/liquid-fixpoint/pull/333

and upcoming T1089 PR

[2017-10-04 19:08] nikivazou commented on #1104
@jprider63, can you check is this solves our problem?

(Will not have time to check it this week)

[2017-10-04 20:31] jprider63 commented on #1104
What is T1089 PR? I can test it if it's a branch I can build.

[2017-10-04 20:32] ranjitjhala commented on #1104
About to submit PR for develop, will ping you when done :)

On Wed, Oct 4, 2017 at 1:31 PM, JP <notifications@github.com> wrote:

[2017-10-04 20:33] jprider63 commented on #1104
Sounds good!

[2017-10-04 21:55] jbrown215 commented on #1089
https://github.com/jbrown215/binah/blob/master/db/UpdateQuery.hs#L40

Definitely related, but just want to make sure both use cases are hit in this fix :)

I expect that liquid should point out an error on line 40, since BlobXVal has the property that the value must be non-negative.

It's also possible that I am messing this up in other ways, though

[2017-10-05 02:46] ranjitjhala opened #1109 "Elaborate is broken"
This is a link for the fixpoint issue

https://github.com/ucsd-progsys/liquid-fixpoint/issues/335

When that matter is resolved, **please un-ignore the test**

- `benchmarks/proofautomation/pos/Unification.hs`
- `tests/todo/T

[2017-10-05 04:33] #1085 closed

[2017-10-05 04:33] #1092 closed

[2017-10-05 04:33] #1100 closed

[2017-10-05 04:33] #1102 closed

[2017-10-05 04:33] #1104 closed

[2017-10-05 04:54] ranjitjhala commented on #1104
Should be fixed in develop, let me know if thats not the case! Thanks!

On Wed, Oct 4, 2017 at 1:33 PM, JP <notifications@github.com> wrote:

[2017-10-05 05:26] vikraman opened #1111 "LH gets stuck while checking Fibonacci with PLE when run as root"
We noticed this when building the Dockerfile. It goes into a data race with the z3 process. It works fine when run as a non-root user.

[2017-10-05 05:27] ranjitjhala commented on #1095
@nikivazou two questions:

1. Does this ALSO take 2 mins with GHC 7? (2mins is absurd...)
2. Why exactly does `--no-case-expand` "break reflection of `foo`" ? Is it something fundamental? Or just something where the `CoreToLogic` has to be extended a bit?

[2017-10-05 05:28] ranjitjhala commented on #1111
!!!!!!!

[2017-10-05 07:04] jprider63 commented on #1104
Unfortunately, I'm getting an error with develop (527a5cc2adf68b080a087a838d2984c0b5f6fa99). Here is [the log](http://lpaste.net/5277827109505466368).

[2017-10-05 11:48] ranjitjhala commented on #1104
Are you sure you rebuilt first? There are things in the log that are not
printed out now e.g.
The lines that say "makeRecordSelectorSigs"

https://github.com/ucsd-progsys/liquidhaskell/commit/527a5cc2adf68b080a087a838d2984c0b5f6fa99#diff-4b81a188ab3ccd6a62c2c91080b5438dR448

On Thu, Oct 5, 2017 at 12:05 AM JP <notifications@github.com> wrote:

[2017-10-05 12:00] ranjitjhala commented on #1104
​Ignore previous comment!

I can't reproduce your error (as I don't have the code).

The code that @ni​kivazou points out definitely works on `develop` now, see

   tests/import/lib/T1104_{AA, BB}.hs

This may be something else? Just from the log, I see there is a `Pair`
constructor and a `pFst` and `pSnd` which makes me suspect this
is the same issue as the one I uncovered last night:

https://gi

[2017-10-05 12:30] ranjitjhala commented on #1104
Btw, this is going to take a while to fix I'm afraid, so it may be a
good idea for you to use an earlier version without the ADT stuff,
e.g. the `popl18` branch?

[2017-10-05 13:40] RyanGlScott commented on #1037
Renaming the records does seem to work around the issue, yes.

[2017-10-05 13:57] RyanGlScott opened #1112 "Program is rejected as unsafe depending on if an imported module is checked beforehand"
Consider these two modules, the latter of which imports the former:

[code]
[code]

To ensure you can reproduce these results, delete `.liquid` if it exists in the current directory. Now try running `liquid` on `Foo`:

[code]

All is well. Now delete `.liquid` again. This time, check `Prod` before checking `Foo` (without deleting `.liquid` in between):

[code]

This time, `Foo` is rejected!

[2017-10-05 14:26] RyanGlScott opened #1113 "LH regression: sort constructor expects parameters"
In LH commit 27bc088c4f8b29fd9866e5589233e97e22e314c4, this program is deemed safe:

[code]

But in commit 68370a4c5ae9c0dc2fa70e9373dd7da7d4a3a793, it's rejected:

[code]

[2017-10-05 14:46] ranjitjhala commented on #1112
Ok keep this open because I really ought to add an error message.

1. Running `foo` does not actually trigger any checks on `Prod` which is why its safe. When there are imports and such, you need to run liquid on the dependencies first. (Its not like `ghc --make`; running the dependencies is a "separate concern".

2. When run with `--exact-dc` we  now require EITHER that you just write the haskell

[2017-10-05 15:02] RyanGlScott commented on #1112
Keep in mind that I don't _want_ to use the records `pr1` and `pr2` in the definition of `Product`—I only put them there originally because LH demanded it. Will LH accept proofs over a Haskell data definition of `data Product f g p = Product (f p) (g p)` (with no refinement)?

Also, it's quite annoying that `liquid` _doesn't_ act like `ghc --make`. Currently, I test files by running a script which

[2017-10-05 15:30] ranjitjhala commented on #1037
By the way, the names are unqualified now so this should work even without renaming the fields. Can you try that?

[2017-10-05 15:31] RyanGlScott commented on #1037
I made this comment since I encountered this very issue (on the latest LH commit, 68370a4c5ae9c0dc2fa70e9373dd7da7d4a3a793) elsewhere. But I can try this minimized example again too.

[2017-10-05 15:37] RyanGlScott commented on #1037
I'm afraid that I experience the same error on 68370a4c5ae9c0dc2fa70e9373dd7da7d4a3a793 (after removing the `--totality` flag from `Iso` and `Bug`, of course).

[2017-10-05 16:06] nikivazou commented on #1104
He is definitely rebuilding everything (because he has a make command that rebuilds everything)

@jprider63 , I suggest you keep the older version that does not crash your code with the manually annotated hack for the imported method.

[code]

I will take a look next week to simplify your error and create another issue for @ranjitjhala to fix :)
Thanks!!!

[2017-10-05 16:22] jprider63 commented on #1104
I believe everything should be rebuilt. I pulled develop, checked out submodules, and did a stack install. Then I deleted my .liquid directory and ran make as you saw.

No problem! I'll do as Niki suggests.

[2017-10-05 16:49] ranjitjhala commented on #1112
Yes. If for some reason you _want_ the field-accessor
names `pr1` and `pr2` e.g. to refer to them in
refinements or whatever, then you need to explicitly
declare them **both** in the GHC definition and the
Liquid definition. Otherwise, you can just omit the
Liquid definition altogether. So the following works:

[code]

[2017-10-05 17:07] ranjitjhala commented on #1037
Ok, so _another_ work around is to make the imports qualified, i.e.

[code]

but really, we ought to just save the "qualified"-DataCtor (see `qualifyDataCtor`) in the lifted spec.
Unfortunately, the qualifying happens long after the lifting, so this is quite a difficult piece of surgery :(

[2017-10-05 17:10] ranjitjhala commented on #1113
Hmm, quite alarmingly, the above causes my LH to hang?

On Thu, Oct 5, 2017 at 7:26 AM, Ryan Scott <notifications@github.com> wrote:

[2017-10-05 17:27] ranjitjhala commented on #1113
Or does it take a REALLY (absurdly) long time before crashing?

[2017-10-05 17:33] RyanGlScott commented on #1113
This particular program errors rather quickly for me.

(I did have a variation on this program that caused LH to hang, though, but it's quite involved.)

[2017-10-05 17:53] ranjitjhala commented on #1113
Oh grief. That exact commit seems to hang for me ... sigh. I wonder if its this bizarre new weird z3 race issue

https://github.com/ucsd-progsys/liquidhaskell/issues/1111

[2017-10-05 17:59] ranjitjhala commented on #1111
How do you know this? Just wondering where to even _begin_ to debug this...!

[2017-10-05 18:01] RyanGlScott commented on #1112
Let me phrase my question slightly differently then. Let's suppose I have a module `ProdDef`:

[code]

This is in a package I have no control over, so I can't run `liquid` on this file. From another module, I import `ProdDef`:

[code]

If I just run `liquid` on this, LH is unhappy:

[code]

So clearly the answer here isn't "just delete the line `{-@ data ... @-}`". But what?

[2017-10-05 18:10] ranjitjhala commented on #1112
No you cannot do this, and I can't think of any way we could _possibly_ do this, because `liquid` needs access to the source to "lift" the data definition in the "exact" style.

Can you add a line:

[code]

to the `Prod` module? I wonder if that will work ...

[2017-10-05 18:55] RyanGlScott commented on #1112
I've updated `Prod` to have `{-@ data Product @-}` as you suggested:

[code]
[code]

LH still screams when checking `Prod`:

[code]

[2017-10-05 19:36] ranjitjhala commented on #1112
Got it, will fix this ASAP!

On Thu, Oct 5, 2017 at 11:55 AM, Ryan Scott <notifications@github.com>
wrote:

[2017-10-05 20:37] ranjitjhala commented on #1111
Do you or @atondwal recall the strace incantation used to determine this?

[2017-10-05 21:27] ranjitjhala commented on #1113
@atondwal can you see if you can get the above to hang on your machine? (it hangs on my mac, but NOT goto...)

[2017-10-05 22:45] ranjitjhala commented on #1113
@RyanGlScott can you see if the above works for you? Thanks!

[actually issue is in fix points handling of partially applied type constructors:
 https://github.com/ucsd-progsys/liquid-fixpoint/issues/336]

[2017-10-05 22:53] ranjitjhala commented on #1112
Am working on this, but a simple way to get the above working, as is,
is to pass the `--exact` flag at the command line. So:

[code]

[2017-10-05 23:32] RyanGlScott commented on #1112
OK, but this isn't really a viable workaround since, again, I don't have the ability to run `liquid` on the `ProdDef.hs` analog in my actual use case. (Moreover, I tried running `liquid --exact` on `Prod.hs` alone, but experienced the same error.)

[2017-10-05 23:34] ranjitjhala commented on #1112
Actually @RyanGlScott can you let me know if why
(other than the make/dependency hassle) the above
i.e. (passing in --exact as a command line param)
will not work for you?

I fear that allowing "reflecting" to happen when processing
some _other_ module (e.g. here, reflecting the definition of
`Product` -- defined in ProdDef while processing a different
module `Prod`) is likely to open weird cans o

[2017-10-05 23:35] ranjitjhala commented on #1112
Why can't you run `liquid` on `ProdDef` in your real use case again?

[2017-10-05 23:37] RyanGlScott commented on #1112
To be clear: the issue isn't `--exact`. It's the fact that you have to run `liquid` on `ProdDef.hs` _at all_. I only included here for the purposes of having an easily digestible example, but in actuality, `Product` is located in a module of some other package (`base`) that I don't have the ability to reflect in its definition site. Therefore, the ability to reflect `Product` in another location i

[2017-10-05 23:41] ranjitjhala commented on #1112
Hmm. Would you be ok with, say, having to add explicit annotations in `Prod.hs` that force lifting, e.g.

[code]

?

[2017-10-05 23:43] RyanGlScott commented on #1112
Absolutely! I'm willing to do some extra legwork to account for the fact that I'm doing reflection outside of a data type's definition site. I want to reflect this thing by hook or by crook.

[2017-10-06 03:57] #1113 closed

[2017-10-07 07:20] #1112 closed

[2017-10-07 07:21] ranjitjhala commented on #1112
@RyanGlScott this should be fixed in `develop` now, see

tests/import/lib/T1112.hs

and

tests/import/lib/T1112Lib.hs

[2017-10-07 07:22] ranjitjhala commented on #1112
Also no legwork needed: `--exact-data-cons` will just automatically reflect the relevant `TyCon`.

[2017-10-07 15:04] RyanGlScott opened #1117 "invalid datatype declaration, repeated accessor identifier"
These two files give LH a headache:

[code]
[code]

[code]

I'm using `liquidhaskell` commit a5545e942fca3b106407ec5b2b72c4596ee838ff and `liquid-fixpoint` commit https://github.com/ucsd-progsys/liquid-fixpoint/commit/1148baa43b3869bf44518879687a956490544162.

[2017-10-07 15:08] RyanGlScott opened #1118 "invalid number of parameters to sort constructor"
A slight variation on #1117 gives a different error. This time, three files are required:

[code]
[code]
[code]

[code]

I'm using `liquidhaskell` commit a5545e942fca3b106407ec5b2b72c4596ee838ff and `liquid-fixpoint` commit https://github.com/ucsd-progsys/liquid-fixpoint/commit/1148baa43b3869bf44518879687a956490544162.

[2017-10-07 22:13] ranjitjhala commented on #1117
@RyanGlScott are you sure you are rebuilding etc.? I cannot reproduce this.

Also, could be a z3 version thing. which version do you have? Run

[code]

[2017-10-07 22:13] ranjitjhala commented on #1117
Here's my log

[code]

[2017-10-07 22:17] ranjitjhala commented on #1117
Yes looks like a z3 version thing: the online version complains about the .smt2 file that is generated locally -- and works fine locally... pfft.

[2017-10-07 22:18] RyanGlScott commented on #1117
In case it's helpful:

[code]

[2017-10-08 00:14] ranjitjhala commented on #1118
Does this crash if you remove the `{-@ data Product @-}` (it should not be required.)

[2017-10-08 00:19] RyanGlScott commented on #1118
You're right, it doesn't crash if I remove `{-@ data Product @-}`.

I have to admit that I find this somewhat confusing—I was under the impression that `leqProd` would fail to axiomatize if the `Product` constructor wasn't reflected.

[2017-10-08 00:21] ranjitjhala commented on #1118
haha. this AGAIN causes my machine (mac) to hang, just like #1113.

Looks like when this error gets tickled on z3, older versions hang on the mac? god knows...

At any rate, lets see if this properly reproduces the error on Linux!

[2017-10-08 00:22] ranjitjhala commented on #1118
When you write `--exact-data-con` you don't have to write `{-@ data Product @-}` any more; it will do the lifting automatically (if needed.) I had asked if you were ok with having to write it because it would make my life easier, but it turns out it was easy enough just to do without the extra annotation...

[2017-10-08 00:24] ranjitjhala commented on #1118
c.f. https://github.com/ucsd-progsys/liquidhaskell/issues/1112#issuecomment-334916226

[2017-10-08 00:24] RyanGlScott commented on #1118
Huh, interesting. So the lifting happens even for datatypes on which I don't run `liquid`? That is, despite the fact that I don't run `liquid` on `AuxDef`, the lifting occurs when I run `liquid` on files that _import_ `AuxDef`?

A related question is: under what scenarios am I _required_ to write `{-@ data Product @-}`?

[2017-10-08 00:28] ranjitjhala commented on #1118
1. Correct, lifting occurs when you run liquid on files that import `AuxDef`.
2. You should _never_ have to write `{-@ data Product @-}`.

At best, if you want to specify some default measure you can say:

`{-@ data Product [measureName] @-}`

or of course if you have refined data constructors...

But in both those cases, you really should add the refined definition in
the "home" module (where `Pr

[2017-10-08 00:57] RyanGlScott commented on #1117
I can confirm that upgrading to `z3-4.5.0` resolves the issue for me on Linux, FWIW.

[2017-10-08 01:00] RyanGlScott commented on #1117
Sorry, please ignore the comment above. I was testing the wrong file. Testing it on the right file, I still get the same error, even with `z3-4.5.0`.

[2017-10-08 02:15] #1117 closed

[2017-10-08 02:15] #1118 closed

[2017-10-08 02:53] RyanGlScott opened #1120 "Two-for-one bug: "Sorts Int and Bug.M1 are incompatible" / "unknown constant Bug.M1""
This program:

[code]

Makes LH complain in two different ways, depending on which of `fotMyUnit` and `tofMyUnit` is commented out. If you try running LH on `Bug` as shown above, it will crash like so:

[code]

Moreover, if you comment out `fotMyUnit` and uncomment out `tofMyUnit`:

[code]

Then LH will also crash, but with a different error:

[code]

[2017-10-08 03:38] ranjitjhala commented on #1120
Hmm, there's weird stuff going on in this example with the HKT, namely:

[code]
Will have to think about how best to represent such types
in SMTLIB's logic (which doesn't support such types.)
The hack of treating them as `Int` is clearly not working
here...

The *workaround* for now is to run with `--no-adt` which
will disable the SMT-ADT generation. I've checked that it
works for this benchmark:

[2017-10-08 13:11] RyanGlScott commented on #1120
Thanks, `--noadt` is exactly what I was looking for, as it turns out.

[2017-10-09 07:25] gabriel-fallen opened #1121 "Cannot unify (Tree a_a2tK) with Tree"
I have following example: https://gist.github.com/gabriel-fallen/e1795bb43d0ac703d2ae69fd0f1e2167

When I run LH on it I get an error:
[code]

Is it a bug or am I doing it wrong?

PS. If there's a way to employ built-in lists without implementing my own (or use some predefined Liquid implementation) I'd appreciate if you point me to it. :) I couldn't find it in tutorials...

[2017-10-09 15:05] nikivazou opened #1122 "Desugarer breaks (again) with GHC 8.2.1"
https://twitter.com/LucaCiciriello/status/917299709013880837

[2017-10-09 16:37] ranjitjhala commented on #1122
Grr.

On Mon, Oct 9, 2017 at 8:08 AM Niki Vazou <notifications@github.com> wrote:

[2017-10-09 16:52] ranjitjhala commented on #385
This seems to have gotten fixed along the way... (works on develop, see `tests/pos/T385.hs`)

[2017-10-09 16:52] #385 closed

[2017-10-09 16:54] ranjitjhala commented on #374
Closing as it seems to work on `develop`?

[2017-10-09 17:15] ranjitjhala commented on #1121
Thanks for pointing this out @gabriel-fallen !

/cc @nikivazou the above is a solid stress test for reflection
that points out two current limitations.

First, with "reflection" / core-to-logic -- as currently
implemented -- *everything* has to be reflected so,
e.g. stuff like type-classes here, are problematic.
We want some way to leave those as "uninterpreted".
This should not be difficult to do

[2017-10-09 17:34] ranjitjhala commented on #1121
@gabriel-fallen -- you can use built in lists **but** you need to rewrite functions like `map` and `filter` etc. because if you want to use them in reflected code, LH needs access to the source.
However, you can bundle up the definitions and `import` them as follows:

[code]

and then you can import the above (instead of the vanilla `Prelude` to get the reflected variants)

[code]

Hmm. Maybe we s

[2017-10-09 17:35] ranjitjhala commented on #1121
(Revisit this after addressing #1109)

[2017-10-09 18:30] gabriel-fallen commented on #1121
@ranjitjhala thanks for the explanation! I'll try to simplify the code to workaround the issue.

I understand I can extract common functions into "Prelude" module, I thought maybe there's already one I don't know about. Because the "liquid list" is consistently defined in all the tutorials and alike.

[2017-10-09 19:11] ranjitjhala commented on #1121
Yes we added the "import" stuff very recently, and haven't updated the
tutorials etc. yet with this feature :)

On Mon, Oct 9, 2017 at 11:30 AM, Alexander Tchitchigin <
notifications@github.com> wrote:

[2017-10-09 19:34] ranjitjhala commented on #1089
The relevant action is in `Bare.DataType.ofBDataCtor`.

Important functions:

[code]

Rather than changing `DataConP`, may be better to hack

`meetDataConSpec`

to return two sigs, one for the

- `dataConWorkId` -- the tricky GADT signature with the coercions, and
- `dataConWrapId` -- the simple user-level signature.

https://downloads.haskell.org/~ghc/8.0.1/docs/html/libraries/ghc-8.0.1/DataCon.h

[2017-10-11 13:10] nikivazou opened #1123 "Importing infix annotations."
Here https://github.com/nikivazou/theorem-proving-template/blob/master/safe-lists/src/Theorems/List.hs#L10

`Data.List.hs` defines `(++)` as an infix reflected function: https://github.com/nikivazou/theorem-proving-template/blob/master/safe-lists/src/Data/List.hs#L25

The infix annotation is not imported when I import `Data.List` and I have to write it again, otherwise parsing fails.

[2017-10-11 13:15] nikivazou opened #1124 "When should the reflected signatures be actually imported?"
See this: https://github.com/nikivazou/theorem-proving-template/blob/master/safe-lists/src/Main.hs

I have my `Main.hs` module that is using `Data.List.map` and `Data.List.++` definitions that are reflected, because I am doing some proof in a different module.

But, `Main` is doing no proofs on that imported functions. Yet, I need to use the `higherorder` and `exact-data-con` flags in `Main`, othe

[2017-10-11 14:17] nikivazou opened #1125 "Implicit measure invariants are not imported"
When a measure is defined, its post conditions are turned into `invariant`s

[code]

Now when `length` is imported, the implicit invariants are not imported.

For example, for the [`Theorems.hs`](https://github.com/nikivazou/theorem-proving-template/blob/master/safe-lists/src/Theorems/List.hs) to be SAFE, I need to explicitly define the following invariant [here](https://github.com/nikivazou/theor

[2017-10-11 14:48] nikivazou opened #1126 "Refinements in infix instance methods are ignored"
See [tests/todo/T1126.hs](https://github.com/ucsd-progsys/liquidhaskell/blob/7ccafa82eb705fb08208f3c080042a88e22f8381/tests/todo/T1126.hs).

[code]

Where both `(==.)` and `cmp` are instance methods with exactly the same refinements that require that their arguments are equal.

The methods are defined as follows:

[code]

and
[code]

[2017-10-11 16:59] ranjitjhala commented on #1126
wow... on the positive side, probably easy to fix ... once you figure out what the problem is :)

[2017-10-11 17:03] ranjitjhala commented on #1124
We should not be using different refined types as that could lead to various unsound things happening.

1. If you really want the unrefined signatures you could use the `assume` ? or
2. If the problem is just the duplication of flags, then we could just "import" the options, so if:
`Lib.hs` uses `exact-data-con` etc. then any `Client.hs` that imports it is also automatically checked with those fla

[2017-10-11 17:14] ranjitjhala commented on #1089
Now we get sort errors like so:

[code]

Next:

1. Tweak `checkRType` in `Bare.Check` to extend the `cb` function so that when we see "the constraint"  `(a ~ TYPE)` we add a binder `a : TYPE` to the fixpoint env -- to do so, we need only extend `RefType.classBinds` appropriately.

2. Extend `liquid-fixpoint` so that we can account for equality constraints; so we should type, e.g.

[code]

[2017-10-11 17:37] nikivazou commented on #1126
Yes, I assume the infix methods get different names? Should not be very difficult to fix

[2017-10-11 17:39] nikivazou commented on #1124
Ok, lets import the flags. My main problem is that I do not want to write the flags in, for example Main, that is totally not doing theorem proving.

I suspect importing the language pragma(ta :)) is what ghc does too, so lets follow it and **import flags**

[2017-10-11 21:33] ranjitjhala commented on #1089
Next: see tests/todo/ExactGADT3.hs, tests/todo/ExactGADT4.hs in branch T1089.

[2017-10-11 22:29] ranjitjhala commented on #1089
hmm the files

* https://github.com/jbrown215/binah/blob/master/db/EvalQuery.hs
* https://github.com/jbrown215/binah/blob/master/db/UpdateQuery.hs#L41

use fancier GHC features than I know, need to first figure out what's going on...

Some notes.

[code]

So `EntityField Blob` is not a plain `TyCon` but a `data instance`  (type-family instance?)
of type `FamInst` (see `mgi_fam_inst`).

1. Neverthe

[2017-10-13 22:03] themattchan opened #1130 "Improperly scoped type annotations"
I have the following excerpt of a function:
[code]

When I run with `liquidhaskell-cabal` on my entire project, I get this mysterious failure:

[code]

But, if I run `liquid` on the offending file directly, I get the proper error, which looks wrong in its own right:

[code]

[2017-10-14 10:50] peti opened #1132 "Commenting out an unused function breaks verification"
liquidhaskell-0.5.0.1-3330-g8c6f55f5 (current git HEAD) verifies the following program just fine:

[code]

Now, when I remove the definition of `showMonthNum` -- which is not used anywhere in that code --, then the tool fails, complaining:

[code]

That doesn't seem right?

[2017-10-14 13:07] nikivazou commented on #1132
Interesting! It seems that commenting out `showMonthNum` totally ignores your `MonthNum` definition....

I am looking at it now

BTW, I suggest you use develop instead of master, there are a lot of fixes there. We work on develop instead of master and we just forget to update master...

[2017-10-14 13:47] nikivazou commented on #1130
Well, local annotations are not properly exported/checked.

As a "fix" make your go a global function for now (as I definitely will not have time soon to get into that)

[2017-10-14 16:34] ranjitjhala commented on #1130
To elaborate: ghc can modify the types of the non top level cars in various
odd ways that make this kind of name resolution brittle.

Is there a standalone file you can send us to reproduce the problem?

Another thing I often do is to use "holes" for the inner binders types and
just leave the termination expression in.

On Sat, Oct 14, 2017 at 6:47 AM Niki Vazou <notifications@github.com> wrote:

[2017-10-14 16:54] nikivazou commented on #1126
Some progress: it is not about infix, it is about the `.`. Specifically `dropModuleNames` in https://github.com/ucsd-progsys/liquidhaskell/blob/develop/src/Language/Haskell/Liquid/GHC/Misc.hs#L579

is wrong: `dropModuleNames("Main.==.") = ""`

[2017-10-14 17:00] ranjitjhala commented on #1126
Aaargh...

On Sat, Oct 14, 2017 at 9:54 AM Niki Vazou <notifications@github.com> wrote:

[2017-10-14 17:08] nikivazou commented on #1126
Oh @ranjitjhala well, I planned to "fix" dropModuleNames via conversion from Symbol to String, because the Symbol manipulation code is too complicated....  do you want to give it a try instead?

That is drop only the "ModuleName.": starting with capital character and finishing with `.`

[2017-10-14 18:39] peti opened #1137 "Report Error on Duplicate Specifications"
[code]

An attempt to check this results in:

[code]

[2017-10-14 20:00] ranjitjhala commented on #1126
Sure leave it for me.

On Sat, Oct 14, 2017 at 10:08 AM Niki Vazou <notifications@github.com>
wrote:

[2017-10-14 20:09] ranjitjhala commented on #1137
Thanks for pointing this out! The error here is you have a duplicate
specification for fromWeekdayNum .. and it's using the latter one and
ignoring the former!

Nevertheless the error message is atrocious and needs fixing!

On Sat, Oct 14, 2017 at 11:39 AM Peter Simons <notifications@github.com>
wrote:

[2017-10-15 19:00] peti commented on #1132
I switched to `develop` now, too, just in case. Is there any particular reason to prefer that branch over `master`?

[2017-10-16 21:53] themattchan commented on #1130
I wrote a function with the same type in a standalone file, and it did not have this problem. I also tried using holes, but that gave me the same error. What's strange is that when I removed the annotation for `go`, I got this failure deep inside the core set of specifications:

[code]

[2017-10-17 14:53] ranjitjhala commented on #1130
Are you "hiding prelude"? When that happens LH doesn't know what Bool is...

On Mon, Oct 16, 2017 at 11:13 PM Matt Chan <notifications@github.com> wrote:

[2017-10-17 19:55] themattchan commented on #1130
There's this line, which indicates to me that LH's import resolution needs a bit of work:

[code]

[2017-10-17 21:04] ranjitjhala commented on #1130
Hmm. That shouldn't hide the `Bool` stuff. You cannot replicate this on a
standalone file, right?

On Tue, Oct 17, 2017 at 12:55 PM, Matt Chan <notifications@github.com>
wrote:

[2017-10-17 21:41] themattchan commented on #1130
I just tried it on this, which works fine (imports and where-binders)

[code]

[2017-10-19 19:16] jprider63 opened #1139 "liquid should fail if the file doesn't exist"
liquid should fail if the file doesn't exist. The file `Label` does not exist when running the following:

[code]

I'm running version 7cba25f05c731ae29770b0760e832f34691cf551.

[2017-10-19 19:22] jprider63 opened #1140 "Liquid should fail if the refinement type does not equal the Haskell type"
Notice that the Haskell type has an extra `Proof` argument that the refinement does not have.

[code]

This should fail, but succeeds (version 7cba25f05c731ae29770b0760e832f34691cf551):

[code]

Maybe the number of arguments isn't being checked?

[2017-10-19 19:34] ranjitjhala commented on #1139
Thats odd, I get:

[code]

?

On Thu, Oct 19, 2017 at 12:16 PM, JP <notifications@github.com> wrote:

[2017-10-19 19:37] jprider63 commented on #1139
Hmmm. `Label` definitely isn't there for me:

[code]

What if you have a file `Label.hs`?

[2017-10-19 19:38] ranjitjhala commented on #1140
Wow, thats odd. Here's a minimal example.

[code]

On Thu, Oct 19, 2017 at 12:22 PM, JP <notifications@github.com> wrote:

[2017-10-19 19:41] ranjitjhala commented on #1140
Even more minimal

[code]

On Thu, Oct 19, 2017 at 12:38 PM, Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

[2017-10-19 19:43] ranjitjhala commented on #1139
Aha, ok so looks like thats what happens

[code]

On Thu, Oct 19, 2017 at 12:37 PM, JP <notifications@github.com> wrote:

[2017-10-21 15:12] nikivazou opened #1142 "Elaborate Unbound Symbol failure"
The following

[code]

Fails with

[code]

[2017-10-21 15:19] #1122 closed

[2017-10-21 16:13] ranjitjhala commented on #1142
Yes I've seen this before ... clearly has to do with abstract refinements?

On Sat, Oct 21, 2017 at 8:12 AM Niki Vazou <notifications@github.com> wrote:

[2017-10-24 20:27] jprider63 opened #1145 "Sort Error in Refinement with imports"
@nikivazou asked me to create this. I have the following signature in Program.hs:

    {-@ evalProgramStar :: Pair Index Program -> Pair Index (Program <{\v -> isValue v}>) @-}

In a separate module (Simulations.hs) that imports Program.hs, I get the following error when running liquid on Simulations.hs:

[code]

Dropping the `isValue` runs fine:

    {-@ evalProgramStar :: Pair Index Program -> P

[2017-10-24 22:10] jprider63 commented on #1145
I also forgot, `isValue` is defined in Language.hs, which is imported by Program.hs:

[code]

[2017-10-25 00:25] ranjitjhala commented on #1145
Can you paste the source? Hard to tell what's going on otherwise.

Also: are Program and Term aliases?

On Tue, Oct 24, 2017 at 3:14 PM JP <notifications@github.com> wrote:

[2017-10-25 02:49] jprider63 commented on #1145
I'll try to make a minimal example. No, they're ADTs.

[2017-10-25 12:29] nikivazou commented on #1145
I agree with James that it is not straightforward to create a small example that fires this.

The problem is that at client `Program <{\v -> isValue v}>` is an abstract refinement instantiation on `Program`

[code]
But the import things  that `isValue` refines `Programs` from the type error

[code]

I will try too to generate a minimum program that fires the bug, but not sure when.

[2017-10-25 15:16] ranjitjhala commented on #1145
Well is it even a problem with imports? Or does it happen on a single file
too?

On Wed, Oct 25, 2017 at 5:29 AM Niki Vazou <notifications@github.com> wrote:

[2017-10-25 15:39] nikivazou commented on #1145
It is related to imports. The function`evalProgramStar` with the abstract
refinements type  checks properly when checked.

But when imported its signature is parsed wrong (ad described above).

On Wed, Oct 25, 2017 at 11:16 AM, Ranjit Jhala <notifications@github.com>
wrote:

--
Niki Vazou

[2017-10-25 15:59] ranjitjhala commented on #1145
To be clear, can you show me files F1, F2,... such that

1. When checked _separately_ there is an error,
2. When checked as _single_ (concatenated) module,
   there is no error?

On Wed, Oct 25, 2017 at 8:39 AM, Niki Vazou <notifications@github.com>
wrote:

[2017-10-25 16:00] ranjitjhala commented on #1145
It's entirely possible that the import does
not properly handle abs-ref; I dont recall
any specific tests for it. However, in that
case, it should also be possible to create
a failing test (simple or otherwise...)

On Wed, Oct 25, 2017 at 8:59 AM, Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

[2017-10-26 16:56] y-taka-23 opened #1146 "Type aliases are not hygienic"
Hi, I tried the current HEAD (16307c7403ba1aeeef9205b414785d36e93a402b) and bumped an anomaly. The following is the minimal snippet to reproduce the trouble:

Input:
[code]

Output:
[code]

In fact, it goes well after I changed the `type` alias to:

[code]

So I guess, the `n` in the `type` and the function argument seem to conflict each other.

IMHO, such variable names are better to be scoped ju

[2017-10-26 17:47] ranjitjhala commented on #1146
Oops this is terrible, many thanks for pointing it out!

On Thu, Oct 26, 2017 at 9:56 AM TAKAHASHI Yuto <notifications@github.com>
wrote:

[2017-10-26 19:09] jprider63 commented on #1145
I spent some time trying to create a minimal example, but haven't had any luck. In the meantime, I've given you access to our repository. You should see the bug if you switch to the refinement on line 92 of `src/src/Programs.hs` in branch dev.jp.

[2017-10-27 16:16] #1146 closed, assigned to nobody

[2017-10-27 16:18] ranjitjhala commented on #1146
Hi @y-taka-23,

many thanks again for pointing this out! It should be fixed now in `develop`.

   https://github.com/ucsd-progsys/liquidhaskell/blob/develop/tests/pos/T1146.hs

If you get a chance, can you confirm that it works for you?

[2017-10-27 17:49] ranjitjhala opened #1148 "Support Unconstrained Values in Reflected Terms"
(Posted on behalf of @jbrown215)

I was working on modelling the world and ran into what may be a bug in liquid haskell:

https://github.com/jbrown215/binah/blob/master/db/world/World.hs

I expect this to pass, but it gives two errors: one for makeBlob and one for makeRange
(Error message here: https://gist.github.com/jbrown215/2bd60740f7681c1b6f35ab9faa23c070)

I assumed that since I put a refine

[2017-10-27 17:55] ranjitjhala commented on #1148
Hi @jbrown215 I made this an issue as its a tricky question that may show up elsewhere. Ok so here's the deal:

You are correct, that is indeed the goal of the data-constructor refinements.

The reason its *not* happening here is because the `canonicalBlob`
is defined as a `measure` and hence is not visible _during_ constraint
generation. If you instead make it a Haskell binder then the code is ch

[2017-10-29 07:14] jbrown215 commented on #1148
Hey Ranjit,

This is _mostly_ good, and definitely good enough to unblock me. My only concern is that this canonical representation leaks more specific refinements that may not be true of all blobs. Take the following example:

[code]

This passes, since upper is set to 10 in `makeRange`. However, if set to any other value it should fail. I think that it should always fail, since nothing is known

[2017-10-29 21:43] ranjitjhala commented on #1148
Yup. What we need is a way to allow `undefined` inside `reflected` functions...

[2017-10-30 01:55] y-taka-23 commented on #1146
@ranjitjhala Year it works. Thanks!

[2017-10-30 02:14] atondwal commented on #1148
Until then, here's a workaround:

[code]

[2017-10-30 19:20] nikivazou opened #1149 "Data Constructors with measures are cannot be proved to satisfy the singleton type."
See http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1509390915_5220.hs

[2017-10-30 19:27] ranjitjhala commented on #1149
Weird. Why does this FAIL with `--exact-data-con`

+ http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1509391661_5247.hs

but then WORK with `--no-adt`

+ http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1509391601_5245.hs

[2017-10-31 06:33] ranjitjhala commented on #1148
Ah yes, that would work, nice! But assuming we'd have to run with `--no-termination` ?

[2017-10-31 19:20] nikivazou commented on #1148
Isn't it dangerous to reflect the diverging undefined into the logic?

[2017-10-31 19:42] ranjitjhala commented on #1148
well, no more than any other uses of "--no-termination" :-)

but anyways, we clearly want a 'safe' way to do something
like the above; should be easy to implement as an extension
in FP.

On Tue, Oct 31, 2017 at 12:21 PM, Niki Vazou <notifications@github.com>
wrote:

[2017-10-31 19:57] nikivazou commented on #1148
I think we figured out a way.... @jbrown215 will explain the details but the idea is simply that

Undefined in the logic is just uninterpreted functions :)

@ranjitjhala, I kind of disagree:  reflecting undefined is "I intentionally reflect something diverging", while "--no-termination" is trust me I know it is terminating and I will prove it later.

[2017-10-31 20:04] ranjitjhala commented on #1148
Yup, I was also envisioning using UIFs to encode 'undefined' ...

Whats the difference between "intensionally" and "trust me" :) ?

On Tue, Oct 31, 2017 at 12:57 PM, Niki Vazou <notifications@github.com>
wrote:

[2017-10-31 20:06] nikivazou commented on #1148
It is the same difference as making a Coq proof by
- using Admitted or
- abusing a potential Coq bug that I know it exists :)

[2017-10-31 20:29] jbrown215 commented on #1148
Here's the new code sample:

[code]

We've added these "range_invariant"s and "blob_invariant"s as a way of encoding assumptions about our `canonicalRange` and `canonicalBlob` into the logic. This gives us access to the refinements in our logic while also not requiring a specific value for the `canonical` representation of a record. The code above is safe as expected, and indeed is what I was goin

[2017-11-01 09:14] edsko opened #1150 "exact-data-cons does not work with embedded functions?"
Consider

[code]

this yields

[code]

It is as if the `next` constructor somehow get skipped by `--exact-data-cons`? Not sure if this is a bug, a known property, or whether I'm doing something wrong (still very new to Liquid Haskell).

[2017-11-01 10:04] edsko commented on #1150
Ah, I just realized that this can be fixed (worked around?) by enabling `--higherorder`.

[2017-11-01 10:09] edsko commented on #1150
Hmmm but if I don't also enable `--notermination` or mark `run` as `lazy` then then I get

[code]

even though `run` of course terminations (as it is structurally recursive on the input list).

[2017-11-01 10:17] edsko commented on #1150
Interestingly, a monomorphic variation _is_ accepted:

[code]

[2017-11-01 12:38] edsko commented on #1150
This line

[code]

seems suspicious, as it seems to be missing type parameters in the result type.

[2017-11-01 16:02] ranjitjhala commented on #1150
Hmm. That _is_ suspicious indeed. Will look into this thanks for pointing it out!

In the meantime, you can disable the (clearly still experimental) SMT-ADT feature

with "--no-adt" so the following seems to be ok:

(but lets keep this open so I can see whats going on... thanks!)

[code]

[2017-11-01 16:06] ranjitjhala commented on #1150
Also, the refined data definition is not required,
unless you want to specify some invariants
between the `next` and `done` fields,
so the following suffices:

[code]

[2017-11-01 16:12] edsko commented on #1150
Ah, awesome! Thanks so much. I thought this was a problem with `--exact-data-cons` and so I traced all occurrences of `exactDC` in the codebase and stuck in a bunch of calls to `traceShow` but didn't see anything that looked suspicious. Wasn't really aware of that SMT-ADT feature at all; what does it do? Is there an explanation somewhere?

Anyway, thanks for unblocking me, that's great :) I can co

[2017-11-01 18:28] ranjitjhala commented on #1150
Hi @edsko,

The output sort that you spotted above is definitely fishy;
need to check whats going on.

The SMT-ADT stuff is rather new, and it is in service of a
very new feature, Coq/Isabelle style "Inductive Predicates":

[See this for some examples](https://github.com/ucsd-progsys/liquidhaskell/blob/develop/README.md#inductive-predicates)

For the above to work, we need data constructors to be

[2017-11-01 22:09] atondwal commented on #1090
So we're not generating any new _exprs_ in instantiate, so this is being caused by something else altogether:

[code]

[2017-11-02 03:51] ranjitjhala commented on #1126
@nikivazou is this fixed now? `tests/todo/T1126.hs` says UNSAFE?

[2017-11-02 03:58] ranjitjhala commented on #1148
hi @jbrown215 -- to clarify: are you still stuck on this or is the above a suitable workaround? Thanks!

[2017-11-02 04:00] ranjitjhala commented on #1140
Hey did someone fix this, looks like this is working again in `develop`?

@jprider63 can you confirm?

[2017-11-02 04:01] ranjitjhala commented on #1140
@nikivazou did you fix this? (if so thanks!)

[2017-11-02 04:03] jbrown215 commented on #1148
No longer blocked-- niki's workaround works!

[2017-11-02 04:05] ranjitjhala commented on #1145
@jprider63 can you tell me the exact set of steps to reproduce the bug? as in, after:

[code]

what is the exact ??? that I should run LH on?

[2017-11-02 04:15] ranjitjhala commented on #1132
Hi @peti and @nikivazou, this looks like its fixed in `develop` ? Can you confirm? Thanks!

@peti -- we happen to update `develop` faster, I think its just become the (un) official `master`! 😄

[2017-11-02 04:27] ranjitjhala commented on #1123
Oh yikes -- you implemented infix by modifying the state of the parser...

This will be awful to fix.

[2017-11-02 04:39] ranjitjhala opened #1151 "Type Synonyms Not Getting Expanded?"
(Via @vikraman)

The following crashes with a `Sort` mismatch error re: `Tuple` v. `Proof`

[code]

but the following variant, where we ignore the import, works fine?

[code]

[2017-11-02 04:40] ranjitjhala commented on #1151
@nikivazou did you change the representation of `Proof` to make it opaque?

[2017-11-02 04:41] ranjitjhala commented on #1151
Or it could also be that there is some subtle
shift in the GHC API for expanding type-synonyms
in the move to 8.2.1? i.e. we should be using
some _different_ function now?

[2017-11-02 04:51] ranjitjhala commented on #1148
Changing the title as what we ought to do is to add a thing like the below into ProofCombinators or the LH prelude:

[code]

and then allow the user to *reflect* functions that have
calls to `nonDetValue` inside their bodies.

It may be better to think of a

[2017-11-02 04:59] ranjitjhala commented on #1148
Or maybe we should just let things be.

May I close this issue then @jbrown215 ?

[2017-11-02 06:53] #1139 closed, assigned to nobody

[2017-11-02 08:07] jbrown215 commented on #1148
You may, @ranjitjhala . Thank you!

[2017-11-02 09:17] edsko opened #1153 "Use of reflect causes "Bad Data Specification""
This

[code]

yields

[code]

Browsing through the existing issues, maybe this is related to, or even the same issue as, https://github.com/ucsd-progsys/liquidhaskell/issues/885, especially given @nikivazou 's comment https://github.com/ucsd-progsys/liquidhaskell/issues/885#issuecomment-265826595 that we cannot reflect functions on imported datatypes. I don't know if that is still the case or not;

[2017-11-02 09:20] edsko commented on #1153
The name of the function does not reflect what it does.. ignore that please :flushed: :)

[2017-11-02 09:27] nikivazou commented on #1153
Hey @edsko, you can use imported data types in your reflected functions, but only when Liquid Haskell can "see" the source that your data types are defined. See this for a template setup

https://github.com/nikivazou/theorem-proving-template

It is important that you first run `liquid` on the files that define your lists and then run `liquid` on the files that use/reflect lists.

I was actually su

[2017-11-02 12:05] peti commented on #1132
Yes, the issue is fixed in liquidhaskell-0.8.2.0.

[2017-11-02 12:05] #1132 closed

[2017-11-02 12:06] peti opened #1154 "liquid --version doesn't show any version information"
These results from `liquidhaskell-0.8.2.0` don't look right:

[code]

[2017-11-02 14:44] ranjitjhala commented on #1153
Hi @edsko,

This was some recent oddity (perhaps a change in the GHC 8.2 API, you might know)
but at any rate, is fixed in the recent `develop` (just a couple of days ago :) )

[For some reason, querying GHC for `tyConTyVars listTyCon` was returning the empty list?]

- Ranjit.

[2017-11-02 14:44] ranjitjhala commented on #1153
(Just double checked that the above works in b95e481fe5a0eda7d59d6e333662bc8d310e7ad0)

[2017-11-02 14:54] edsko commented on #1153
Ah, I should have checked whether this was resolved by a more recent commit; I was only a few commits behind though :)

When using the built-in lists, how does one refer to nil and cons? Saying `[]` yields a syntax error.

[2017-11-02 14:55] edsko commented on #1153
I'm not aware of any GHC API changes but I'm not actively involved with ghc dev at the moment; I'll ask my colleague Ben.

[2017-11-02 15:11] edsko commented on #1153
I asked Ben and he wasn't aware of any recent changes in this domain; if you feel that this is a ghc bug, could you file an issue at https://ghc.haskell.org/trac/ghc ? It would be good to know this upstream.

[2017-11-02 18:45] jprider63 commented on #1145
After you `git checkout dev.jp`, uncomment line 92 and comment line 93. Then you can just run `make` (which is the same as `cd src/src && liquid ProofCombinators.hs && liquid Label.hs && liquid Language.hs && liquid Programs.hs`).

[2017-11-02 19:43] ranjitjhala commented on #1153
Hmm did you mean in the refinements themselves i.e. "1:2:3:[]" throws a
parse error right now?

Good point: We need to extend the parser!

On Thu, Nov 2, 2017 at 9:02 AM Edsko de Vries <notifications@github.com>
wrote:

[2017-11-02 19:44] ranjitjhala commented on #1153
Btw there's a workaround at the moment: you can use Haskell functions as
predicates in the refinement.

If you show me an example of what you're trying to do I can modify it
suitably...

On Thu, Nov 2, 2017 at 12:43 PM Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

[2017-11-02 20:48] ranjitjhala commented on #1153
For example, the following, instead of writing:

[code]

or

[code]

which would require parsing list literals, you can define a Haskell function for that expression

[code]

and then write:

[code]

[2017-11-03 07:14] edsko commented on #1153
Ok, perfect, that will do just fine :) Thanks so much!

[2017-11-03 07:14] #1153 closed, assigned to nobody

[2017-11-03 08:25] edsko opened #1155 "Proof combinators allow invalid equations"
(This isn't a bug really as such, but more of an unfortunate consequence of how the proof combinators are defined. Not sure it's solvable. Perhaps just consider this wishful musing of a new Liquid Haskell practitioner :slightly_smiling_face:)

@nikivazou 's [blog post about proof combinators](https://ucsd-progsys.github.io/liquidhaskell-blog/2016/09/18/refinement-reflection.lhs/) gives the followi

[2017-11-03 09:09] nikivazou commented on #1155
Yes, I know, this is confusing...
It is very high in my TODO list to fix that....

This happens because I have implemented `(==.)` to take an optional proof argument using type classes and LH just skips the checks for some reason...
If you use the operator `(==:)` from the same library [include/Language/Haskell/Liquid/ProofCombinators.hs#L122](https://github.com/ucsd-progsys/liquidhaskell/blob/dev

[2017-11-03 09:18] edsko commented on #1155
Ah! Perfect. I didn't realize this was due to some subtle interaction with the type class. I will use `==:` so :)

[2017-11-03 10:39] edsko commented on #1155
Thanks so much once again for pointing this out. I can now build up proofs gradually and catch errors. Soooo much better :)

[2017-11-03 17:44] nikivazou opened #1156 "BangPatterns & Totality Checking"
There is a not entirely expected interaction of bang patterns & totality checking.

For example, the following UNSAFE (because of totality check failing) [demo](http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1509730978_5612.hs)

[code]

Surprisingly the following two variants are SAFE:

- SAFE VARIANT 1 (no-bangs):

[code]

- SAFE VARIANT 2 (no polymorphic matching):

[code]

[2017-11-05 03:50] nikivazou opened #1157 "Do not generate warnings when reflecting refined functions"
Generally, assume annotations over refined type generate a warning that the refined function is overwritten by the assumed specification.

Reflection generates automatically assumed specs for the reflected functions.

Thus reflection of refined functions generates a warning, which is annoying for user (as the assumed is autogenerated so the user can neither fix or accept the warning).

Thanks to @

[2017-11-05 22:41] rosekunkel opened #1158 "Ambiguous names cause errors even when unused"
Importing a module that defines a measure or reflected function with a name that would be ambiguous if used causes an error even if that function is not used. For example, given:

#### Main.hs
[code]

#### Foo.hs
[code]

Running `liquid Foo.hs` passes, but running `liquid Main.hs` gives
[code]

To fix this, we have to change Main.hs to
[code]
even though we never use `length` (or `Foo`, for that m

[2017-11-06 15:59] edsko commented on #890
I think this is a duplicate of  https://github.com/ucsd-progsys/liquidhaskell/issues/941 (note that OP's code is doing a similar style match on `Int` in the third argument).

[2017-11-06 18:10] nikivazou commented on #890
Thanks @edsko. I actually recently updated this error message. Should I close the issues after the following commit?

https://github.com/ucsd-progsys/liquidhaskell/commit/b1299b54c596f4eee427ac24ef11e8ed94144186

[2017-11-06 20:35] ranjitjhala commented on #1158
Thanks for pointing this out, will get to it ASAP!

[2017-11-07 10:09] edsko opened #1159 "Mention #liquidhaskell irc channel in docs"
There is a `#liquidhaskell` IRC channel on `freenode`; admittedly it's very very quiet but might be worthwhile mentioning it in the docs.

[2017-11-07 15:06] edsko commented on #890
@nikivazou Yes, the new error message is much clearer.

[2017-11-07 15:09] edsko opened #1161 "Cannot reflect function with empty pattern match"
This is related to #890, but not the same problem:

[code]

yields

[code]

I can work around it using

[code]

(though not using `error` because that is not reflected).

[2017-11-07 15:57] edsko opened #1162 "Parser for predicates does not support tuples"
This

[code]

yields

[code]

After browsing through issues I found #819 and realize that tuples are not actually supported, but different examples with tuples parse (or rather, fail to parse) in different ways and moreover there does not seem to be an explicit ticket open about tuples so I figured I'd record this one explicitly. Also, for others stumbling across this: can work around this in the

[2017-11-08 03:35] nikivazou commented on #1161
That's a smart work-around!!!

Reflection of diverging and absurd in the logic sound scary/challenging for the metatheory, but it is not entirely clear if we should allow it or not.

BTW, I am super interested on what you are trying to prove! Feel free to pm me and let me know.

[2017-11-08 03:36] #890 closed

[2017-11-08 03:36] #941 closed

[2017-11-08 03:39] nikivazou commented on #1159
I personally do not use irc.

I generated a slack channel some time ago, quiet too, but will add this in the readme now:

https://join.slack.com/t/liquidhaskell/shared_invite/enQtMjY4MTk3NDkwODE3LTY1YzBiY2JlZjBjMTM5M2ZkMjNmZDk5ZjA2MGQyZjQ5ZjBmYjZjNGMzOTUyMTU2MDlmM2YzZDM2YjhiMWFjM2I

[2017-11-08 03:43] awstlaur commented on #890
Glad to see this got a better error message!

One nitpick, however: the message contains "Make sure **you** function is..."; the **you** should probably either be **your** or **the**

[2017-11-08 03:46] nikivazou commented on #890
Thanks! I did catch this error just after pushing so it is in the next commit.

[2017-11-08 05:35] ranjitjhala commented on #890
Thanks @nikivazou and @awstlaur !

[2017-11-08 09:01] edsko commented on #1161
I agree that reflection of `bottom` is a dubious matter, but reflection of `absurd` is perfectly sound surely? It's the Curry-Howard reflection of reductio ad absurdum -- and since the right hand side will therefore never actually matter, I figured using `bottom` there is okay. The only concern would be if the very presence of a rule like `bottom = bottom` might cause LH or Z3 to loop or (worse) p

[2017-11-08 09:07] edsko commented on #1159
Ok, perfect :) Joined.

[2017-11-08 09:07] #1159 closed, assigned to nobody

[2017-11-13 17:27] vikraman opened #1164 "SMTLIB2 crash with z3 4.4.1"
[code]
[code]
The generated `.liquid/Boolean.hs.smt2` and `.liquid/Boolean.hs.evals.smt2` files are here: https://gist.github.com/vikraman/bee891aa8f14d1a121cbe69e3444e753

It works fine on goto, which might be using an older version of z3.

[2017-11-13 17:37] nikivazou commented on #1164
This seems like a z3 issue.

Can you simpify the .smt2 files and if this turns out to be a z3 bug, then you should create an issue on z3.

[2017-11-14 16:12] #919 closed

[2017-11-14 17:24] ranjitjhala commented on #1164
I'd be shocked if its a z3 issue.

Can you paste a link to the .smt2 file?

[2017-11-15 00:31] kozross opened #1165 "Illegal data refinement for `[]` on a file with no annotations"
I used Stack to install Liquid Haskell as per the instructions on Github. I then tried ``stack exec liquid src/Test.hs``, with ``Test.hs`` containing no Liquid Haskell annotations of any kind. I got the following output:

[code]

I then tried adding the following annotation to ``Test.hs``, following the Liquid Haskell  book examples:

[code]

When I retried ``stack exec liquid src/Test.hs``, I got

[2017-11-15 00:36] ranjitjhala commented on #1165
Thats odd. Can you paste the exact source you are running LH on so we can reproduce?

[2017-11-15 00:37] ranjitjhala commented on #1165
Also: is this on `develop` ?

[2017-11-15 00:39] ranjitjhala commented on #1165
And do you by chance, do `hiding Prelude` ?

[2017-11-15 00:57] kozross commented on #1165
I've attached the entire Stack-generated project here: [test.zip](https://github.com/ucsd-progsys/liquidhaskell/files/1473034/test.zip) Notably, I do the following:

- Use a Stack nightly (otherwise, Liquid Haskell doesn't work at all)
- Have Protolude included
- Have the NoImplicitPrelude extension enabled

[2017-11-15 01:00] ranjitjhala commented on #1165
Unfortunately the prelude is kind of hard wired into the specifications
right now, and LH won't work with NoImplicitPrelude.

Still thanks for filing this, we will keep this issue open so that we can
eventually re-factor the dependency on the prelude (or at the very least
allow opting out...)

On Tue, Nov 14, 2017 at 4:57 PM Koz Ross <notifications@github.com> wrote:

[2017-11-15 01:03] kozross commented on #1165
@ranjitjhala Thank you for the information!

[2017-11-16 00:08] kozross opened #1166 "--prune-unsorted flag required on file with no annotations"
I installed Liquid Haskell as per the instructions on Github using Stack. When I try to run ``stack exec liquid src/Test.hs``, where ``Test.hs`` contains no annotations, I get the following error (many times):

[code]

Adding the ``--prune-unsorted`` flag makes this go away (and emit much more sensible suggestions). I'm a bit confused about this, and am unsure if it's a bug.

[2017-11-16 00:28] ranjitjhala commented on #1166
This is most surely a bug somewhere can you make the code triggering
available?

On Wed, Nov 15, 2017 at 4:08 PM Koz Ross <notifications@github.com> wrote:

[2017-11-16 00:33] kozross commented on #1166
Please find this here:
[test.zip](https://github.com/ucsd-progsys/liquidhaskell/files/1476869/test.zip)

The relevant command would be ``stack exec liquid src/Data/Permutation.hs``

[2017-11-16 01:12] ranjitjhala commented on #1166
Got it, thanks!

Have been able to
reproduce the bug,
will take a look
tomorrow!

On Wed, Nov 15, 2017 at 4:33 PM, Koz Ross <notifications@github.com> wrote:

[2017-11-16 01:19] ranjitjhala commented on #1166
Note to self:

To reproduce:

* Use the LH stack.yaml,
* Run `stack install`
* Run `stack exec -- liquid src/Data/Permutation.hs`

First, modify error message to get the bad constraint, by tweaking

* `Language.Fixpoint.Solver.Sanitize.cNoFreeVars`

[2017-11-17 00:59] kozross opened #1167 "Will not work with LTS Stack builds"
I have installed Liquid Haskell using Stack as per the Github instructions. If I make a new Stack project using an LTS resolver, ``stack exec liquid`` will not work, giving the following error message:

[code]

Is this a bug? This shows up as recently as ``lts-9.13``.

[2017-11-17 03:30] rosekunkel opened #1168 "Can't reflect functions that match on Maybe constructors"
Functions that deconstruct `Maybe` values can't be reflected. For example, running liquid on this file
[code]
fails with the message
[code]

[2017-11-17 03:47] ranjitjhala commented on #1168
Hmm this is unfortunate, sorry!

Can you add

{-@ LIQUID "--exact-data-cons" @-}

To the file and let me know if that works?

On Thu, Nov 16, 2017 at 7:31 PM William Kunkel <notifications@github.com>
wrote:

[2017-11-17 03:52] rosekunkel commented on #1168
Unfortunately that does not fix it; I still get the same error.

[2017-11-17 04:28] rosekunkel opened #1169 "SMTLIB2 error related to importing and --exact-data-cons"
I found a strange combination of features that triggers an SMTLIB2 error. In particular, given these two files:
#### Foo.hs
[code]
#### Bar.hs
[code]
running `liquid Foo.hs` fails with
[code]
This is a minimal example that I pared down from some real code that was triggering the same issue; doing any of the following causes the problem to disappear:

- Moving the contents of `Bar.hs` into `Foo.hs`

[2017-11-17 06:51] ranjitjhala commented on #1167
Hmm this is because the stack resolvers in the two projects are different,
and hence use different GHC versions. Can you change the stack resolver in
the new stack project to be the same as LH or at least use the same GHC as
LH? E.g. To

[code]

And let me know if that works?
On Thu, Nov 16, 2017 at 5:00 PM Koz Ross <notifications@github.com> wrote:

[2017-11-17 08:23] kozross commented on #1167
Yes, that works. I was just curious if this was a bug or a feature. Clearly, it's a feature.

[2017-11-17 15:32] vikraman commented on #1164
@ranjitjhala the smt2 file link is in my issue: https://gist.github.com/vikraman/bee891aa8f14d1a121cbe69e3444e753

[code]

It looks like `(declare-fun lam_int_arg$35$$35$1 () Int)` is being declared with no arguments, but gets called on line 197 `(smt_lambda lam_int_arg$35$$35$1 (lam_int_arg$35$$35$1 x$35$$35$aw7))` with one argument, if I'm interpreting the syntax correctly.

[2017-11-17 18:57] ranjitjhala commented on #1169
Hi @wkunkel ,

thanks for pointing this out.

It should work if you remove the `{-@ data A @-}`  annotation.

In general that annotation should either

1. List all the constructors of the given data-type (here `A`), *or*
2. Mention the default size parameter for the datatype e.g. (`{-@ data List [len] @-}`).

Of course, there is no way for a user to know that, and so let's keep
this open till I ha

[2017-11-17 19:06] ranjitjhala commented on #1168
Hmm. This is a puzzler, since (GHC's) lists work fine.

Thanks for pointing it out!

Would the below do as a temporary workaround, while I figure out whats going on?

[code]

[2017-11-17 19:07] ranjitjhala commented on #1162
Thanks for filing this @edsko !

[2017-11-17 19:32] nikivazou commented on #1168
where, this Maybe definition can be imported; e.g., you define your "LPrelude" to import Maybe (and such prelude definitions) and use LPrelude instead of Prelude until we fix this!

[2017-11-18 04:52] ranjitjhala commented on #1168
For some reason that I cannot presently recall, `wiredInTyCons` (such as `GHC.Maybe`)
are being actively filtered out:

https://github.com/ucsd-progsys/liquidhaskell/blob/develop/src/Language/Haskell/Liquid/Bare/Measure.hs#L90

removing that fixes the problem (in branch `T1089`), but need to check if it doesn't cause other hassles.

[2017-11-18 05:55] ranjitjhala commented on #1167
Yes, its a consequence of using the GHC API...

[2017-11-18 05:55] #1167 closed, assigned to nobody

[2017-11-18 06:01] ranjitjhala commented on #1164
Yes, thanks @vikraman -- that is indeed the problem, wonder why z3 was not crashing on earlier versions. But yes, the problem is there appears to be a missing "apply" ...

[2017-11-18 06:17] ranjitjhala commented on #1164
Yes, thanks @vikraman.

That is indeed the problem, a missing `apply`.

On the bright side, I think you're using an old version of LH?

I just checked that on `develop` the above doesn't happen
because it does in fact do the right thing viz `apply` etc.

Can you confirm?

[2017-11-18 21:02] vikraman commented on #1164
Got it, works fine with the latest develop (f4b3f716dc30), I was on the popl18 branch earlier.

[2017-11-18 21:02] #1164 closed, assigned to nobody

[2017-11-20 04:53] ranjitjhala opened #1170 "Use `len` instead of `vlen` for `Vector`?"
(Via slack channel, user @waddlaw)

[code]

gives the error

[code]

This is an odd consequence of the `Traversable` instance for `Vector`.

The following modification of your `vectorSum` is safe (add the following two lines)

[code]

What’s happening is without the above, the `length`
refers to the generic `length` from `Traversable` (or
whatever the class is, I forget now), and specifically,
you

[2017-11-28 19:55] ranjitjhala commented on #1089
Should be fixed by https://github.com/ucsd-progsys/liquidhaskell/pull/1171

Specifically, the following -- post-merge -- should now work:

- [ExactGADT.hs](/ucsd-progsys/liquidhaskell/blob/develop/tests/pos/ExactGADT.hs)
- [ExactGADT1.hs](/ucsd-progsys/liquidhaskell/blob/develop/tests/pos/ExactGADT1.hs)
- [ExactGADT2.hs](/ucsd-progsys/liquidhaskell/blob/develop/tests/pos/ExactGADT2.hs)
- [ExactGAD

[2017-11-28 21:00] #1089 closed

[2017-11-29 05:10] ranjitjhala opened #1173 "Reflection fails with GADTs?"
(via @jbrown215)

[code]

[2017-11-29 06:03] ranjitjhala opened #1174 "Reflection fails on GHC.Lists?"
Why does the below fail? (It works fine with `--ple` but not the regular equational proof...)

[code]

[2017-11-29 09:45] atondwal commented on #1174
We don't strengthen by the output refinements of functions that are applied only in the spec, so `assocThm` gets treated as a uninterpreted reflected function instead of being expanded (and PLE fixes this by expanding it out one step to its definition).

[2017-11-29 15:35] ranjitjhala commented on #1174
Oh silly me I thought I'd fixed that by making assicThm an inline!

On Wed, Nov 29, 2017 at 2:21 AM Anish Tondwalkar <notifications@github.com>
wrote:

[2017-11-29 16:29] #1174 closed, assigned to nobody

[2017-11-29 19:48] ranjitjhala commented on #1173
OK, the deal here is the lack of support for SMT-ADTs (i.e. the fact that we have to turn on `--no-adt`) when working with Haskell-GADTs. For example, the below *also* fails when `--no-adt` is on, but works fine when we use real ADTs. This makes sense: you need the SMT-ADT support to know that when, e.g. `q = QQ 10 => select1 q = 10`.

*In short:* lets see how to encode GADTs with SMT-ADTs too (se

[2017-11-29 19:51] atondwal commented on #1174
I believe the problem is that we don't strengthen by the output refinements of functions that are applied only in the spec, so `assocThm` gets treated as a uninterpreted reflected function instead of being expanded (and PLE fixes this by expanding it out one step to its definition).

[2017-11-29 20:40] ranjitjhala commented on #1173
The catch is this, given the original code above, what is the SMT/FIXPOINT ADT for:

[code]

The current _naive_ encoding uses the `FamInstTyCon` to produce:

[code]

which throws a sort error:

[code]

Its totally not clear how to generate a suitable encoding without real support for GADTs from SMT, in particular as constructors are not allowed to return types specialized to particular params, i.

[2017-11-29 22:13] rachel960122 opened #1175 "Unable to report type mismatch for unordered vec"
The following module was accepted:

[code]

I think the last line should be rejected given the definition of `OVec`. Also, if we delete the definition for `mylen`, the last line will be rejected correctly.

[2017-11-29 22:33] ranjitjhala commented on #1175
Aha, thanks for pointing this out! The issue is that you have
_two separate_ `data` refinements for `OVec`:

1. The `data OVec a = ONil ...` which defines the *ordering* invariant,
2. The `data OVec [mylen]` which defines the *default metric* for the type.

However, LH seems to just _ignore_ the first one and so happily checks `badVec`.

You can fix this by _merging_ the two `data` definitions as:

[2017-11-29 22:41] rachel960122 commented on #1175
Thank you so much for the explanation! It makes a lot more sense now.

[2017-11-30 04:12] vikraman opened #1176 "Using a rank2 type as refinement"
If `p :: a -> Bool` is a predicate on `a`, is it possible to write this refinement type `{ forall a. p a }`?

@atondwal tells me this was possible before, but it doesn't parse anymore on develop. I needed something like this to write some proofs using LEM for classical first order logic.

[2017-11-30 11:49] nuwus opened #1177 "Liquid + realgcc = :-((("
Greetings,
got trouble with realgcc \/ liquid. Just installed Liquid Haskell, tried to check first three exercises from book and here's what I've got:

LiquidHaskell Copyright 2013-17 Regents of the University of California. All Rights Reserved.
realgcc.exe: fatal error: no input files
compilation terminated.
liquid: `gcc.exe' failed in phase `gcc'. (Exit code: 1)

realgcc\gcc is visible in PATH:

[2017-11-30 15:49] ranjitjhala commented on #1177
Wow I'm afraid I've never seen that before! My suggestions would be:

1. Try to use 'stack' which manages the paths and may solve this problem,
and

2. Alternatively, a Linux vm? Actually maybe we can even provide a docker
image for this purpose. @atondwal can you add a link to the aec image ?

On Thu, Nov 30, 2017 at 3:49 AM nuwus <notifications@github.com> wrote:

[2017-11-30 15:52] ranjitjhala commented on #1176
Not sure exactly what you are looking for ... did you mean something like
this?

https://ucsd-progsys.github.io/liquidhaskell-blog/2013/06/03/abstracting-over-refinements.lhs/

On Wed, Nov 29, 2017 at 8:12 PM Vikraman Choudhury <notifications@github.com>
wrote:

[2017-11-30 16:53] nikivazou commented on #1176
@vikraman, we do not allow `forall` inside the refinements, but you can use our paper HOL -> Refinement types encoding to encode foralls as dependent function types. Is there a reason you do not want to use this encoding?

[2017-11-30 18:35] atondwal commented on #1176
Err, sorry, vikraman, I think I forgot to mention, the syntax is a little different. You can reflect foralls into the logic as lamdbas, as follows:

[code]

However, the problem is that I can't figure out how to convince LH of such a `reflectAll` without axiomatizing it with GADTs.

@nikivazou the reason we might not want to use that embedding is to make use of 1) LEM and 2) congruence closure, bo

[2017-11-30 20:03] nuwus commented on #1177
Thank you for your answer.
Here's what I've got.

Error: While constructing the build plan, the following exceptions were encountered:

**base-4.10.0.0 must match >=4.3 && <4.8 (latest applicable is 4.7.0.2)**
needed since deepseq-1.3.0.2 is a build target.
Plan construction failed.

Then I tried ghc-7.8.4:

Setting codepage to UTF-8 (65001) to ensure correct output from GHC
Error: While construct

[2017-11-30 22:14] ranjitjhala commented on #1177
Hmm. not sure what's going on above, but can you do this:

https://github.com/ucsd-progsys/liquidhaskell/blob/develop/INSTALL.md#build-with-stack-recommended

[2017-11-30 23:08] #1173 closed, assigned to nobody

[2017-12-01 04:09] jbrown215 opened #1179 "Reflecting infix functions causes parse error"
To repro:

[code]

Error message:
[code]

Parses with GHC, parses when not reflecting.

[2017-12-01 04:24] ranjitjhala commented on #1179
Yes you have to add

{-@ infix ==. @-}

To the top of the file ... IIRC /cc @nikivazou

On Thu, Nov 30, 2017 at 8:09 PM Jordan Brown <notifications@github.com>
wrote:

[2017-12-01 04:34] ranjitjhala commented on #1179
See this

https://github.com/ucsd-progsys/liquidhaskell/blob/develop/benchmarks/popl18/ple/pos/OverviewListInfix.hs

[2017-12-01 04:51] jbrown215 commented on #1179
Hmm ok, so it seems to only take issue with the fact that the operator ends with a '.'

New error message:
[code]

Same happens with `infix` instead of `infixr`

[2017-12-01 05:02] ranjitjhala commented on #1179
Yes, my bad. The `.` thing is a bit tedious because its
also used to separate module names etc so I'm not that
superkeen to tinker with it (but maybe its easy to fix..)

Is it possible to e.g. use something like this (which works)?

[code]

[2017-12-01 05:04] jbrown215 commented on #1179
Yep! I can just make wrapper functions around the Yesod functions that don't have '.'

[2017-12-01 05:09] ranjitjhala commented on #1179
super, but LMK if the wrapper thing doesn't work and I'll tweak LH accordingly...

[2017-12-01 05:09] #1179 closed, assigned to nobody

[2017-12-01 11:13] nuwus commented on #1177
When I tried this:

I got a weird error about RSA. So I changed to

then everything was downloaded except of fixpoint. I downloaded it manually and tried

But I had the very same error about gcc!
So I finally decide this:

and here's what stack gave me:

Although I do have Gradual.Concretize:

The content of ghci-script is:

[2017-12-01 11:21] atondwal commented on #1177
(if you're so inclined you can run LH in docker with `docker run -it parfunc/popl18-lh-prover-artifact bash`)

[2017-12-01 13:48] ranjitjhala commented on #1177
Yes, sorry @nuwus I don't know what's going on -- I'm guessing if `stack` can't build it, there is something odd with the haskell installation itself? I would suggest using `docker` VM.

[2017-12-02 18:51] nuwus commented on #1177
Ok, folks. Although _$ liquid some-file.hs_ still doesn't work (I think the problem lies somewhere in visibility of gcc, verbose mode doesn't help). The following work almost perfectly:
I reinstalled Liquid in cabal sandbox and  then

But now I have the next thing (hopefully unrelated with general issue):

[2017-12-03 16:33] ranjitjhala opened #1180 "Measure-generated Invariants not imported?"
The following fails with a termination related error:

**Library**

[code]

**Client**

[code]

fails with the error

[code]

However, restoring the `invariant` annotation in the client _or_ the library file, makes the test succeed. *Is it the case that measure-generated invariants are not being properly imported*?

[2017-12-04 23:52] ranjitjhala commented on #1125
duplicate with #1180

[2017-12-04 23:52] #1125 closed

[2017-12-04 23:52] ranjitjhala commented on #1180
Same as #1125 .

[2017-12-05 05:28] #1180 closed, assigned to nobody

[2017-12-05 21:20] ranjitjhala commented on #1038
Hey this is fixed now right? [please reopen]

[2017-12-05 21:20] #1038 closed

[2017-12-05 23:35] ranjitjhala commented on #1158
On further thought, this is very tricky to fix.

Even though `length` is not _explicitly_ used, `measure`s are effectively **global** names that are associated with the given datatype (here, `[]`) and its constructors and hence, appear _implicitly_ at all sorts of places (e.g. pattern match, and constructor sites).

Tracking those down will be rather tricky.

:(

Hence, closing for now...

[2017-12-05 23:35] #1158 closed, assigned to nobody

[2017-12-05 23:37] ranjitjhala commented on #1177
Ah, I missed this message.

can you do `cabal exec z3` ? My guess is that the `z3` process is not starting up, perhaps because it is not in your path?

[2017-12-05 23:38] ranjitjhala commented on #1176
Nope, no `forall` in refinements. never!  :)

You can use the HOL encoding? or some other machinery?

[2017-12-05 23:38] #1176 closed, assigned to nobody

[2017-12-06 00:42] ranjitjhala commented on #1175
We now produce an error message like:

[code]

[2017-12-06 06:54] ranjitjhala commented on #1169
We now give an error message:

[code]

[2017-12-06 06:54] #1175 closed, assigned to nobody

[2017-12-06 06:54] #1169 closed, assigned to ranjitjhala

[2017-12-06 07:01] ranjitjhala commented on #1155
@nikivazou we should find some prominent way to link to the examples file you just added?

- https://github.com/ucsd-progsys/liquidhaskell/blob/develop/include/Language/Haskell/Liquid/Example.hs

[2017-12-06 07:03] #1155 closed, assigned to nobody

[2017-12-06 07:11] ranjitjhala commented on #1149
This seems to work

[code]

[2017-12-06 07:25] #1154 closed, assigned to nobody

[2017-12-06 07:26] ranjitjhala commented on #1154
Now we have:

[code]

Wonder if there's some way to generate this automatically from cabal?

[2017-12-06 07:29] ranjitjhala commented on #1126
Am closing this as the tests do the right thing. LMK if we need to reopen?

* https://github.com/ucsd-progsys/liquidhaskell/blob/develop/tests/pos/T1126.hs
* https://github.com/ucsd-progsys/liquidhaskell/blob/develop/tests/neg/T1126.hs

[2017-12-06 07:29] #1126 closed

[2017-12-06 07:34] ranjitjhala commented on #1140
closing, as it looks fixed. see `tests/errors/T1140.hs`

[2017-12-06 07:34] #1140 closed, assigned to nobody

[2017-12-06 07:39] peti commented on #1154
The auto-generated `Paths_liquidhaskell` module exports `version`, which is taken from the Cabal file.

[2017-12-06 07:41] ranjitjhala commented on #1111
Is this still an issue? Btw, I've found that often the z3 hanging is actually a "sort"-error (for some reason it sometimes hangs instead...)

So if this is still a thing you can post the `.smt2` file?

[2017-12-06 07:41] #1111 closed

[2017-12-06 07:42] #1094 closed

[2017-12-06 07:51] ranjitjhala commented on #1154
Awesome, thanks! Have updated it accordingingly!

[2017-12-06 07:54] #1148 closed, assigned to nobody

[2017-12-06 07:55] #1072 closed

[2017-12-06 08:00] ranjitjhala commented on #1071
Fixed per above, thanks @nikivazou !

[2017-12-06 08:00] #1071 closed

[2017-12-06 08:00] ranjitjhala commented on #1057
Fixed by @nikivazou in #1071

[2017-12-06 08:00] #1057 closed

[2017-12-06 08:09] #1051 closed

[2017-12-06 08:12] #103 closed

[2017-12-06 08:13] #118 closed

[2017-12-06 08:13] #131 closed

[2017-12-06 08:13] #138 closed

[2017-12-06 08:15] #143 closed

[2017-12-06 08:15] #141 closed

[2017-12-06 08:16] #146 closed

[2017-12-06 08:16] #147 closed

[2017-12-06 08:16] #153 closed

[2017-12-06 08:18] ranjitjhala commented on #157
This works now:

[code]

[2017-12-06 08:18] #157 closed

[2017-12-06 08:21] ranjitjhala commented on #159
This seems related to the covariant/contravariant discussion from earlier today?

[2017-12-06 08:21] #162 closed

[2017-12-06 08:22] ranjitjhala commented on #163
wow, didn't realize this was one of our OLDEST issues... :)

[2017-12-06 08:23] #166 closed

[2017-12-06 08:27] ranjitjhala commented on #288
We give a slightly better error message now:

[code]

[2017-12-06 08:27] #288 closed

[2017-12-06 08:27] #275 closed

[2017-12-06 08:28] ranjitjhala commented on #275
The measure syntax is deprecated in favor of lifting; so just write them _as_ Haskell functions, and then just `{-@ measure containsV @-}`.

[2017-12-06 08:29] #274 closed

[2017-12-06 08:30] ranjitjhala commented on #200
looks like this got implemented at some point:

[code]

[2017-12-06 08:30] #200 closed

[2017-12-06 08:34] ranjitjhala commented on #255
Seems to have been fixed some time ago. See `tests/pos/RecordAccessors.hs`

[2017-12-06 08:34] #255 closed

[2017-12-06 08:34] #287 closed

[2017-12-06 08:35] ranjitjhala commented on #248
This would be great to do, but seems _very_ hard as GHC doesn't tell us what the original names are by the time we get to core... :(

[2017-12-06 08:35] #248 closed

[2017-12-06 08:37] ranjitjhala commented on #267
the former is done; the latter is possible now with `{-@ reflect @-}`

[2017-12-06 08:37] #267 closed

[2017-12-06 08:40] ranjitjhala commented on #241
Looks like @alanz 's rewrite fixed all the above (thanks again!)

[2017-12-06 08:40] #241 closed

[2017-12-06 08:40] #213 closed

[2017-12-06 08:42] #232 closed

[2017-12-06 08:42] #228 closed

[2017-12-06 08:43] ranjitjhala commented on #223
fixed a while back.

[2017-12-06 08:43] #223 closed

[2017-12-06 08:47] #216 closed

[2017-12-06 08:49] #243 closed

[2017-12-06 08:51] ranjitjhala commented on #218
this is all deprecated by reflection.

[2017-12-06 08:51] #218 closed

[2017-12-06 08:52] #406 closed

[2017-12-06 08:53] ranjitjhala commented on #400
By some magic, this parses now...

[2017-12-06 08:53] #400 closed

[2017-12-06 08:55] #384 closed

[2017-12-06 08:55] #381 closed

[2017-12-06 08:57] #845 closed

[2017-12-06 08:57] #844 closed

[2017-12-06 09:01] ranjitjhala commented on #829
@nikivazou your original problem seems super researchy; not clear if/whether its related to the "proper" treatment of classes? (Don't think so...)

Anyway its odd that we  need the "wrapper"; wonder why the constraint generation doesn't behave equivalently to it.

[2017-12-06 09:02] #818 closed

[2017-12-06 09:03] ranjitjhala commented on #819
looks like this was fixed awhile back. thanks @nikivazou !

[2017-12-06 09:03] #819 closed

[2017-12-06 09:04] #887 closed

[2017-12-06 09:06] ranjitjhala commented on #886
fixed with new parser.

[2017-12-06 09:06] #886 closed

[2017-12-06 09:07] ranjitjhala commented on #996
seems to be fixed!

[2017-12-06 09:07] #996 closed

[2017-12-06 09:08] ranjitjhala commented on #987
this works now as all reflected names are qualified.

[2017-12-06 09:08] #987 closed

[2017-12-06 09:08] #979 closed

[2017-12-06 09:09] #969 closed

[2017-12-06 09:12] ranjitjhala commented on #964
looks like this is all set?

[2017-12-06 09:12] #964 closed

[2017-12-06 09:12] #961 closed

[2017-12-06 09:13] #959 closed

[2017-12-06 09:14] #952 closed

[2017-12-06 09:17] #947 closed

[2017-12-06 09:20] ranjitjhala commented on #935
Grief. Where *is* `isNull` coming from. Sigh.

Anyway, this works with `--exact-data-con`.

[2017-12-06 09:20] #935 closed

[2017-12-06 17:38] atondwal commented on #1176
The bigger problem is we should actually have a function on Props without
specifying the numbers of quantifiers (ie have some way treat `a -> Bool`
the same as Bool --- otherwise our HOL encoding is broken!)  If we don't do
it by refining lambdas,  I suppose there might be some work around with
typeclasses?

On Dec 5, 2017 15:38, "Ranjit Jhala" <notifications@github.com> wrote:

Closed #1176 <http

[2017-12-06 18:06] ranjitjhala opened #1184 "Add Support for Refined Family Instances"
(via @jbrown215 )

See

- tests/pos/ExactGADT6.hs
- tests/neg/ExactGADT6.hs

[code]

[2017-12-06 18:42] ranjitjhala commented on #1176
Don't follow what

means. What's a concrete test that should pass/fail?

​

[2017-12-06 18:47] ranjitjhala commented on #1137
This now produces the error:

[code]

[2017-12-06 22:41] ranjitjhala opened #1186 "Reject Datatype with Wrong Constructor"
We should reject this file (but currently don't).

LH says SAFE because it *ignores* the refined definition,
as it thinks that `T` *does not* have a given refined definition,
and so, it automatically generates one (via `--exact-data-cons`).

[code]

[2017-12-06 23:42] #1137 closed, assigned to ranjitjhala

[2017-12-06 23:42] #1184 closed, assigned to nobody

[2017-12-07 00:03] atondwal commented on #1176
Say we want to write the LEM, `forall a :Prop . a \/ not a`. We can write this for `Bool`s (i.e. quantifier-free propositions) in LH as `lemBool :: a:Bool -> a \/ not a`, but we can't quantify over all Props. We'd want to use a postulate something like `lem :: a : b -> a \/ not a`, but this is ill-sorted; we don't know what it means to take the negation or disjunction of `b`s if `b := a -> Bool`,

[2017-12-07 04:26] #1186 closed, assigned to nobody

[2017-12-07 14:52] rachel960122 commented on #1175
Thanks for improving the error message! It's much clearer now :)

[2017-12-08 11:40] nuwus commented on #1177
@ranjitjhala, Yes! Thank you, it finally works!!

[2017-12-08 20:04] ranjitjhala opened #1189 "Confusion about type and value parameters in aliases"
The following program:

[code]

crashes, most impolitely, with

[code]

If you replace `Prop (Ev (plus n n))` with `Prop {Ev (plus n n)}` then all is well.

This must have to do with the parsing & resolving of type/value arguments, but is rather warty, and needs fixing!

[2017-12-10 03:35] ranjitjhala opened #1190 "PLE crashes due to DCEquality?"
The file

[code]

crashes with

[code]

[2017-12-10 04:33] #1190 closed, assigned to ranjitjhala

[2017-12-10 04:50] ranjitjhala opened #1192 "PLE Diverges?"
The following file appears to run forever (?)

[code]

[2017-12-10 04:53] ranjitjhala commented on #1192
Oddly, commenting out _either_ case is fine...?

[2017-12-10 06:23] ranjitjhala commented on #1192
Likely has to do with _not_ checking for an inconsistency here:

https://github.com/ucsd-progsys/liquid-fixpoint/blob/develop/src/Language/Fixpoint/Solver/Instantiate.hs#L485-L491

As evidence for the above, note that  both

[code]

and

[code]

terminate just fine.

[2017-12-11 22:24] #1192 closed, assigned to nobody

[2017-12-11 22:45] ranjitjhala opened #1194 "Wierdness with Class Measures"
LH is foxed if you flip the order of methods in refined classes. For example, the following code
in `tests/todo/ClassMeasureOK.hs` **PASSES**

[code]

but this simple variant, where we flip the order in the refined class definition, **FAILS**

[code]

[2017-12-11 22:58] ranjitjhala opened #1195 "Simplify Class Measure Syntax"
LH should accept something like (`tests/todo/ClassMeasureIdeal.hs`)

[code]

instead of the more verbose description in `tests/todo/ClassMeasureOK.hs`

[code]

[2017-12-11 23:00] ranjitjhala opened #1196 "Reflect Class Methods"
LH should support reflection of class methods, e.g. verify the following (`tests/todo/ClassReflect.hs`) [will depend on first fixing #1195]

[code]

[2017-12-12 02:17] #1189 closed, assigned to ranjitjhala

[2017-12-12 21:54] ranjitjhala commented on #1177
btw, I wonder if this issue is related to https://github.com/commercialhaskell/stack/issues/2998

[2017-12-12 21:55] #1177 closed, assigned to nobody

[2017-12-15 02:24] ranjitjhala opened #1198 "Measure Invariants"
@nikivazou why does the below program fail

[code]

**FAIL** with the odd (termination) error:

[code]

Where is the antecedent `Term.sz t1 < Term.sz ?a => ...` that guards `Term.sz t1 >= 0` coming from?

Why is it necessary?

Note that the code passes if you add:

[code]

but this is unnecessary, as it should be generated from the measure? What am I missing here?

[2017-12-17 05:59] vikraman opened #1199 "Class measure example"
Here is a minimal example of a VerifiedEq instance using class measure, which does not work:

http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1513490381_19482.hs

[code]

The error is:

[code]
Here is the full example, with a product instance that also fails to parse:

https://github.com/iu-parfunc/verified-instances/blob/0be45fc26d84fe294506e9553048a1413dae0962/src/GHC/Classes/VerifiedEq.h

[2017-12-17 06:08] vikraman commented on #1199
I realized that you're already investigating this, so #1194, #1195, #1196 are related.

[2017-12-18 19:55] ranjitjhala opened #1201 "Odd Error with GADTs"
(via @nikivazou) The code below fails with:

[code]

fails with

[code]

[2017-12-19 04:31] #1201 closed, assigned to ranjitjhala

[2017-12-19 19:11] ranjitjhala opened #1204 "PLE fails with local let binder?"
In the below, why does `propOK` work but `propBAD` fail? The only difference is the intermediate let-binder `m`?

[code]

[2017-12-19 23:16] ranjitjhala opened #1205 "Odd error with dependent pairs"
@nikivazou why does the below program fail?

Seems to be some bug in your `(x::T1, T2)` dependent pair encoding?

[code]

The failure is this:

[code]

If I change the signature to:

[code]

I get this unfortunate message:

[code]

What's going on?

[2017-12-20 10:24] nikivazou commented on #1205
Yes, the combinations of holes, ref. type aliases and pairs seems broken :(

[2017-12-21 20:35] peti commented on #1137
Very cool, this is much better. Thank you!

[2017-12-24 13:22] varosi opened #1208 "One of interactive examples lead to crash"
http://goto.ucsd.edu:8090/index.html#?demo=lenMapReduce.hs

[2017-12-24 23:57] ranjitjhala commented on #1208
Hi @varosi -- thanks for pointing this out! Looks like some of the module imports were out of date, I've fixed it. Thanks!

[2017-12-24 23:57] #1208 closed, assigned to nobody

[2017-12-25 13:33] varosi commented on #1208
There is still a crash with:
[code]

[2017-12-25 16:26] ranjitjhala commented on #1208
Is this after you edit the above link?
I just confirmed that the direct link works fine e.g. On my phone.

May be some browser cache issue where it is still loading/showing the old
code for you? (I modified the demo so it uses Data.Map and there is no
mention of HashMap)

On Mon, Dec 25, 2017 at 5:33 AM varosi <notifications@github.com> wrote:

[2017-12-26 22:09] varosi commented on #1208
After hard refresh - it's working now! Sorry and thanks for the fix!

2017-12-25 18:26 GMT+02:00 Ranjit Jhala <notifications@github.com>:

[2017-12-26 22:50] varosi opened #1210 "Strange errors with Prelude and Stack"
I'm trying this:

on Windows 10 with LiquidHaskell built from source from GitHub (GHC-8.2.1 using Stack). While running it with lts-10.0 in global-project/stack.yaml.
If I switch to nightly-2017-11-24 resolver in global-project/stack.yaml then LiquidHaskell changes error to:

[2017-12-27 00:18] ranjitjhala commented on #1210
Unfortunately we've seen this same "realgcc" issue before (on windows) and
really don't know what the problem is; it is some odd interaction of stack
& ghc 8.2.

One person was able to fix this by installing LH using the new WSL/bash
feature available on 64-bit windows 10

On Tue, Dec 26, 2017 at 2:50 PM varosi <notifications@github.com> wrote:

[2017-12-27 15:39] varosi commented on #1210
Is it possible to debug it somehow? I tried with "-v" option, but it does not show more information.

[2017-12-28 04:52] mrkgnao opened #1211 "Compilation fails on GHC 8.2.2"
It seems it's due to some minor changes in the GHC API: for example, the type of `getRuntimeRep` has changed, which causes the `DsUtils` module to break.

[2017-12-28 05:26] denisshevchenko opened #1212 "Build from source code failed: /usr/bin/ld.gold error"
I try to build from source code on Arch Linux:

[code]

I've installed additional packages:

[code]

But after:

[code]

I got this error:

[code]

[2017-12-28 05:34] ranjitjhala commented on #1212
Was this on on windows with WSL by any chance?

I hit it too and don’t know why...

On Wed, Dec 27, 2017 at 9:26 PM Denis Shevchenko <notifications@github.com>
wrote:

[2017-12-28 05:59] denisshevchenko commented on #1212
No, I have pure Arch Linux.

[2017-12-28 09:08] denisshevchenko commented on #1212
I found a hack (thanks to StackOverflow), in my case :

1. Open `~/.stack/programs/x86_64-linux/ghc-tinfo6-nopie-8.2.1/lib/ghc-8.2.1/settings`
2. Change
    ` ("C compiler flags", "-fno-PIE -fno-stack-protector"),`
    to
    `("C compiler flags", "-fPIC -fno-stack-protector"),`

So now it (at least) compiles.

[2017-12-28 09:34] #1212 closed, assigned to nobody

[2017-12-28 09:54] denisshevchenko opened #1213 "liquid doesn't see custom Prelude module"
I've installed `liquidhaskell-0.8.0.5` and now I'm trying to run it:

[code]

`Universum` is our custom Prelude. Buy why `liquid` doesn't see it? I run it via `stack exec`, so it **must** see all modules in the project, right?

[2017-12-28 10:45] denisshevchenko commented on #1213
It works now, after rebuilding of the project...

[2017-12-28 10:45] #1213 closed, assigned to nobody

[2017-12-28 12:27] varosi opened #1214 "Error message with wrong type information in it"
Trying this code at http://goto.ucsd.edu:8090/index.html#?demo=lenMapReduce.hs
[code]
give misleading error:
![image](https://user-images.githubusercontent.com/6051718/34410696-b5c14822-ebda-11e7-8625-23c96b382212.png)

Which is some kind of wrong message, because GHCi infer this type:
[code]
i.e. there are two types *p* and *a*, not a single one.

[2017-12-28 16:31] ranjitjhala commented on #1214
Hmm thanks for pointing this out! Looks like the error message pretty
printer is doing something odd...!

On Thu, Dec 28, 2017 at 4:33 AM varosi <notifications@github.com> wrote:

[2017-12-28 18:34] ranjitjhala commented on #1214
Hmm, looks like on `develop` we get a nicer error message:

[code]

will update the web-demo!

[2017-12-28 18:53] ranjitjhala commented on #1214
Fixed the web-demo too; now it looks like this:

http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1514487079_19979.hs

<img width="706" alt="screen shot 2017-12-28 at 10 52 26 am" src="https://user-images.githubusercontent.com/1650232/34420226-4c264c36-ebbd-11e7-80aa-c9065a5e27ae.png">

[2017-12-28 18:53] #1214 closed, assigned to nobody

[2017-12-28 18:59] varosi commented on #1214
Great! Thanks!

[2017-12-28 19:06] varosi opened #1215 "Shorter file path for the only file (from user's stand point) in the Web demo"
Error messages will be a bit more readable in the Web demo if file paths are replaced with "demo.hs" or something short like this. Even line numbers and positions are not needed in the hint text as they are already selected in the text.

![image](https://user-images.githubusercontent.com/6051718/34420510-a9b781a8-ec12-11e7-89a1-559a418a804d.png)

[2017-12-28 20:52] ranjitjhala commented on #1212
Excellent, thanks for finding this workaround!

[2017-12-28 21:24] #1211 closed, assigned to nobody

[2017-12-28 21:25] ranjitjhala commented on #1211
Fixed by #1216

[2017-12-28 22:16] ranjitjhala commented on #1215
Thanks for the suggestion! Its implemented on the online demo now:

<img width="331" alt="screen shot 2017-12-28 at 2 15 15 pm" src="https://user-images.githubusercontent.com/1650232/34424590-a29b799e-ebd9-11e7-9892-188e01b69e88.png">

[2017-12-28 22:16] #1215 closed, assigned to nobody

[2017-12-29 16:30] varosi commented on #1215
Thanks! Looks very nice and clean!

[2017-12-29 21:00] denisshevchenko opened #1217 "GHC Error in GHC/List.spec"
I'm trying to run `liquid` over my module:

[code]

But I see this error:

[code]

This `.spec`-module isn't mine, so how can I fix this error?

I'm using `liquidhaskell-0.8.0.5` on Arch Linux.

[2017-12-29 23:08] ranjitjhala commented on #1217
Hi @denisshevchenko  --

I believe this is happening because of the `--XNoImplicitPrelude` which
causes all sorts of glitches :(

Can you try to add the following line to your `Main.hs` (or some module imported by it):

[code]

[2017-12-30 06:57] denisshevchenko commented on #1217
Thanks, @ranjitjhala, it works now!

[2017-12-30 06:57] #1217 closed, assigned to nobody

[2018-01-02 21:13] varosi commented on #1210
Are there a pre-built Windows binaries somewhere?

[2018-01-13 01:19] autotaker opened #1219 "Failed to verify when a type parameter is instantiated"
I tried the ["Ordered Lists" Demo](http://goto.ucsd.edu:8090/index.html#?demo=Order.hs).
LiquidHaskell verified the `insert` has the refinement type `Ord a => a -> IncList a -> IncList a`,
but it FAILED to verify the property when I changed type parameter `a` to `Int`.

Here is the program I tested.
[code]

Error message is (At Line 16):
[code]
What is the reason of this strange behaviour?

[2018-01-13 01:44] ranjitjhala commented on #1219
This is actually a feature and not a bug :)

The property is in fact not true when you monomorphize the type
specification but is true with the polymorphic signature, due to
parametricity :)

I think I have an explanation written up that I will dig up and post in
this issue.

On Fri, Jan 12, 2018 at 5:19 PM autotaker <notifications@github.com> wrote:

[2018-01-13 03:07] ranjitjhala commented on #1219
LH is a _modular_ checker. That is, the type of a term `f x` is obtained from the *specification* i.e. _output type_ of `f` not by actually looking at the *implementation*. Thus, to LH the code:

[code]

is actually equivalent to:

[code]

Now, the problem is this: the type of `insertRECURSIVE` is such that the output is just an `IncrList Int`, that is, LH *doesn't know* if the elements in the out

[2018-01-13 03:55] autotaker commented on #1219
Thank you for quick and detailed explanation!
Then, are there any refinement type syntax to denote that a monomorphic function is polymorphic to refinement types?
(e.g. I'd like to write `insert :: forall (a <: Int). a -> IncList a -> IncList a` or something like that.)

[2018-01-13 04:29] autotaker commented on #1219
I just find by myself that the spec `insert :: forall <p :: Int -> Bool> . Int<p> -> IncrList (Int<p>) -> IncrList (Int<p>)` is what I wanted. Thank you!

[2018-01-13 04:59] ranjitjhala commented on #1219
Awesome! Was about send that to you when I got back to my laptop, I am
delighted that you found it out by yourself :-)

On Fri, Jan 12, 2018 at 8:33 PM autotaker <notifications@github.com> wrote:

[2018-01-18 03:08] nikivazou opened #1220 "`not (x == y)` does not behave as `x/= y` when x and y are exactDC"
In the following `unsafe` is unsafe while `safe` is safe. Both are safe without the `exactdc` flag. (bug generated by @jprider63 , thanks :) )

[code]

[2018-01-18 03:42] ranjitjhala commented on #1220
Wow, that's bizarre!

Adding the `--no-adt` also makes them both safe,

even when `--exactdc` is on, so thats a temporary

workaround if you need `--exactdc`.

On Wed, Jan 17, 2018 at 7:08 PM, Niki Vazou <notifications@github.com>
wrote:

[2018-01-18 03:45] nikivazou commented on #1220
How about this: https://github.com/ucsd-progsys/liquid-fixpoint/pull/353

Should I merge, if travis accepts?

[2018-01-18 03:49] ranjitjhala commented on #1220
Looks great to me! Please merge if Travis is ok! Thanks!!!

On Wed, Jan 17, 2018 at 7:45 PM Niki Vazou <notifications@github.com> wrote:

[2018-01-18 05:23] #1220 closed, assigned to nobody

[2018-01-19 01:49] #1219 closed, assigned to nobody

[2018-01-19 19:40] bonds opened #1224 "liquid breaks when using NoImplicitPrelude"
I'm getting an error from liquid about its own code, instead of about the code I wrote...at least, that's the way it looks:

[code]

[2018-01-19 19:44] nikivazou commented on #1224
Did you install Liquid Haskell from git source or cabal?

This error should not happen, looks like it is not using the proper fixpoint version.

[2018-01-19 19:47] bonds commented on #1224
I installed using ````stack install liquidhaskell```` and the stack solver told me to add some extra dependencies:

extra-deps:
- liquid-fixpoint-0.7.0.6 # for liquidhaskell
- located-base-0.1.1.1 # for liquidhaskell
- dotgen-0.4.2 # for liquidhaskell
- fgl-visualize-0.1.0.1 # for liquidhaskell

[2018-01-19 19:51] ranjitjhala commented on #1224
Another possibility: your `Play.hs` file is not importing (i.e. hiding)
`Prelude`?

@nikivazou the problem is that for some reason the `include/GHC/Int.spec`
is not being loaded,

and so specifically, LH is missing the fact that:

   embed GHC.Int.Int64 as int

Scott can you show us the contents of `Play.hs`?

On Fri, Jan 19, 2018 at 11:44 AM, Niki Vazou <notifications@github.com>
wrote:

[2018-01-19 19:53] ranjitjhala commented on #1224
but the `unbound symbol 'len'` makes me think you're
hiding Prelude, which, unfortunately is a big hassle
for LH.

(@niki we should make this an issue and see if there
 is some way to solve it; there are lots of odd
 dependencies on the standard prelude...)

On Fri, Jan 19, 2018 at 11:51 AM, Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

[2018-01-19 20:46] nikivazou opened #1225 "Unexpected imprecision on proving totality"
Liquid Haskell cannot prove the following function total:

[code]

But all the following cases are proved total:

[code]

[2018-01-19 21:01] ranjitjhala commented on #1225
Is the _only_ difference between `exec1` and `exec'` the use of `Stack` vs. `[Int]` ?!!

[2018-01-19 21:05] nikivazou commented on #1225
Yes! Worse, ghc seems to generate the same core for both...

Here is the demo: http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1516395901_21382.hs

[2018-01-19 21:21] ranjitjhala commented on #1225
What?! That makes no sense.

The permalink thing has stopped working for some reason...

On Fri, Jan 19, 2018 at 1:05 PM, Niki Vazou <notifications@github.com>
wrote:

[2018-01-19 21:29] ranjitjhala commented on #1225
:man_facepalming:

[2018-01-19 23:06] bonds commented on #1224
@ranjitjhala I can repro this when play.hs is cut down to just this:

[code]
If I cut out the import Protolude line, liquid works fine. If I cut out the NoImplicitPrelude line, liquid work fine. If I cut out the import Data.ByteString.Lazy, liquid works fine. But if all three are there, I get the errors mentioned at the top of this ticket.

[2018-01-19 23:16] bonds commented on #1224
Well, that's not entirely right, I get different errors when removing those lines. If I remove Data.ByteString.Lazy I get:
[code]
If I remove NoImplicitPrelude I get:
[code]
If I remove import Protolude I get:
[code]
That first one looks like something might be amiss with liquid, the second and third look like the normal, expected errors about bugs in my (example) code.

[2018-01-20 00:48] ranjitjhala commented on #1225
Are you working on this?

On Fri, Jan 19, 2018 at 1:20 PM Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

[2018-01-20 01:06] nikivazou commented on #1225
Nope

[2018-01-22 18:23] ranjitjhala commented on #1224
The issue is the `{-# LANGUAGE NoImplicitPrelude #-}` I'm afraid...

We'll have to figure out how to engineer stuff to allow it...

(The others are indeed just regular name resolution things that can be fixed by qualifying imports etc...)

[2018-01-22 18:48] bonds commented on #1224
Got it. Looks like this was discussed in #770, should I close this ticket as a dup?

[2018-01-22 18:56] ranjitjhala commented on #1224
Oh, thanks for finding that -- yes duplicate indeed, will close this one. Many thanks @bonds will keep you posted as we figure this out!

[2018-01-22 18:56] #1224 closed, assigned to nobody

[2018-01-22 19:32] bonds commented on #770
FWIW I suspect this will become a bigger problem over time--Prelude replacements seem to be picking up steam, e.g.:

* https://lobste.rs/s/kjeksj/rio_standard_library_for_haskell
* https://github.com/sdiehl/protolude

[2018-01-29 19:58] RyanGlScott opened #1228 ""Uh oh. This should never happen!" error with reflected class"
This works:

[code]

But if you change only the source definition of `VerifiedEq`:

[code]

You get:

[code]

[2018-01-30 20:14] ranjitjhala opened #1229 "Measure signature not generating invariant"
(thanks to @mmisamore)

The below FAILS, but passes if you add the `invariant`.

**Why is the invariant not generated from the spec for `getHeight`** ?

[code]

[code]

[2018-02-14 08:25] kosmikus opened #1235 "Incomplete instance measure declaration makes Liquid Haskell crash"
Tested with 0.8.2.2 as well as 3b9788322ff2e2e00dadf7c2838967005a2dc209.

The module
[code]
produces
[code]

[2018-02-16 11:49] peti opened #1238 "liquidhaskell-0.8.2.3 build fails during Haddock stage"
I get this issue building with GHC 8.2.2 on Linux:

[code]

[2018-02-16 15:38] ranjitjhala commented on #1238
My apologies will fix right away!!!

On Fri, Feb 16, 2018 at 3:50 AM Peter Simons <notifications@github.com>
wrote:

[2018-02-16 19:02] RyanGlScott opened #1239 "Axiomatizing datatype value isn't equivalent to enumerating properties of its record selectors"
LH marks this safe:

[code]

Notice that `myThing`'s refinement is essentially reflecting its definition. I thought that this would mean that axiomatizing it would be equivalent:

[code]

But LH disagrees:

[code]

[2018-02-16 19:50] ranjitjhala commented on #1239
This is not a bug, but correct for how `reflect` is _supposed_ to work :)
If you want the reflected definitions inlined in the logic
so the second example behaves like the first, then
switch on `{-@ LIQUID "--ple" @-}` and it works as expected.

[2018-02-16 19:50] #1239 closed, assigned to nobody

[2018-02-16 20:17] RyanGlScott commented on #1239
Ah, I wasn't aware of that `ple` flag—is that new? In any case, that does indeed make the original program work.

However, consider this slight variation:

[code]

This works. However, if you go back to `axiomatize`-ing `myThing`:

[code]

Then it fails:

[code]

[2018-02-16 20:24] ranjitjhala commented on #1239
This, too, is consistent with how reflect and pattern matching works.

If you remove the `--noadt` it works as is.

If you keep the `--noadt` but do this instead, it also works.

[code]

[2018-02-16 20:28] RyanGlScott commented on #1239
Oh, _duh_. In my defense, I had to turn on `--no-adt` to work around other bugs with ADT reflection, so that's why I had blindly enabled it :)

Thanks for the explanation, and apologies for the noise.

[2018-02-16 20:28] ranjitjhala commented on #1239
No worries!

[2018-02-17 22:12] ranjitjhala commented on #1238
btw, any idea why haddock is complaining about the above?

On Fri, Feb 16, 2018 at 7:38 AM, Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

[2018-02-18 04:19] ranjitjhala commented on #1238
I just pushed 0.8.2.4 to hackage. Can you let me know if that solves the problem? `haddock` seems to work fine both locally and on CI.

[2018-02-19 19:08] ranjitjhala opened #1241 "LH fails to report malformed signature"
Why does the below not fail with an `unbound symbol 'zoo'` (which is what -- properly -- happens when you fix the type alias to not be a tautology...)

[code]

[2018-02-19 20:57] ranjitjhala opened #1242 "Eschew WARNING for reflected functions with signatures"
The following code emits an ominous

[code]

LH should not emit such warnings when the `assume` is generated via reflection.

[code]

[2018-02-20 13:21] peti commented on #1238
Maybe passing `--hyperlink-source` to Haddock makes a difference? That's what we use in Nix.

Anyhow, version 0.8.2.4 compiles just fine now. Thank you for the quick fix!

[2018-02-20 13:21] #1238 closed, assigned to nobody

[2018-02-20 18:07] ranjitjhala commented on #1238
Thanks @peti !!!

[2018-02-20 18:58] nikivazou commented on #1198
I run into this again....

The guard is necessary, I believe for soundness: it says that the result refinement (that `0 <= sz t`) is valid only on `t` that is provably smaller than the argument of the function.

Should I remove it?
I believe it is required.....

In other words... I am not sure how to prove termination of the "termination metric" function.
And I suspect we need some notion of synta

[2018-02-20 19:13] ranjitjhala commented on #1198
The `<` is not useful in the above because the ordering
is undefined; i.e. the refinement logic can do nothing with
it other than conservatively assume that it does not hold.

Instead we *definitely* need to implement the standard
`inductive-datatype` definition, doing a syntactic check
e.g. where the following _is inductive_,

[code]

but where the following is _not_:

[code]

Once this is done,

[2018-02-20 19:18] nikivazou commented on #1198
We do not need to implement structural-termination **for all** measures.
Just for the measures we define as "sizes" for the ADTs. Then we can use these sizes to prove termination, semantically for anything else....

You are correct, may as well do it :) Will give it a try because it is really annoying...

[2018-02-20 19:18] ranjitjhala commented on #1198
To be clear: I think the `structural-termination` check is simply,

*if* there is recursion, then

1. The underlying datatype is `inductive`, and
2. The the parameter is a constituent of something smaller...

[2018-02-20 19:19] ranjitjhala commented on #1198
(Yes, good point re: only needing this for the `size` measures...!)

[2018-02-21 15:20] nikivazou opened #1245 "Terminating expressions fail when function lifted to measures"
e.g.,

[code]

[2018-02-21 15:25] ranjitjhala commented on #1245
Wow, thats _super_ surprising (that we didn't have a single regression test
for this case?!)

On Wed, Feb 21, 2018 at 7:20 AM, Niki Vazou <notifications@github.com>
wrote:

[2018-02-21 15:31] ranjitjhala commented on #1245
Simplified a bit:

[code]

[2018-02-21 15:34] nikivazou commented on #1245
I think I fixed it...

Not totally surprised, when I saw this comment :)

https://github.com/ucsd-progsys/liquidhaskell/blob/develop/src/Language/Haskell/Liquid/Bare.hs#L867

[2018-02-21 15:35] ranjitjhala commented on #1245
Also,

https://github.com/ucsd-progsys/liquidhaskell/blob/develop/src/Language/Haskell/Liquid/Bare.hs#L917

:)

[2018-02-21 15:36] nikivazou commented on #1245
I saw it. Incomprehensible, so ignore :)

This was preventing this bug, but now things have changed

[2018-02-21 15:36] nikivazou commented on #1245
In short, when one has to write comments, something is going to break :)

[2018-02-21 17:55] nikivazou commented on #1198
Fixed with #1244

[2018-02-21 17:55] #1198 closed, assigned to nikivazou

[2018-02-21 17:55] nikivazou commented on #1245
Fixed with #1246

[2018-02-21 17:55] #1245 closed, assigned to nikivazou

[2018-02-21 19:20] ranjitjhala commented on #1245
Yay!

On Wed, Feb 21, 2018 at 9:55 AM, Niki Vazou <notifications@github.com>
wrote:

[2018-02-22 17:18] nikivazou opened #1247 "Extend the `define` syntax and scope"
I want to define `x ==. y = x`, thus `==.` can exist in reflected functions.

1. Currently, definitions can not be in modules. All definitions should be in should be in https://github.com/ucsd-progsys/liquidhaskell/blob/develop/include/CoreToLogic.lg...

2. Parser does not let me define infix functions (like `==.`)

[2018-02-22 17:44] ranjitjhala commented on #1247
I'm not sure what the issue is over here?

Is it that you want to `reflect` the operators
in the `ProofCombinators` or something else?

Whats an example test that you want to work (that doesn't right now?)

[2018-02-22 17:47] nikivazou commented on #1247
No, I want to reflect `foo` where `foo` contains `(==.)` in its definition.

I will push an example soonish.

[2018-02-22 17:52] ranjitjhala commented on #1247
Yes, that's what I meant too. But for that, you basically
need only to reflect `==.` (because all functions appearing
inside a reflected body must transitively be reflected.)

Right?

On Thu, Feb 22, 2018 at 9:47 AM, Niki Vazou <notifications@github.com>
wrote:

[2018-02-22 18:33] nikivazou commented on #1247
Alternatively, I want to inline "==." in the logic so when reflection sees `x ==. y` is just reflects `y`.
That is exactly what `define` does. Inlines definitions in the logic!

[2018-02-23 00:56] nomeata opened #1248 "Termination checker misses a few things"
I just read through `Language.Haskell.Liquid.Termination.Structural` and I think it misses two things:

 * It does not pay attention to functions that are mutually recursive.

    I suggest to simply forbid that for now (check that `xes` is a singleton list), or for a more precise solution, pass `(fst <$> xes)` to `isInductive` and in `isRecCall` check if `g` is in this list.

 * It does not check

[2018-02-23 00:59] nikivazou commented on #1248
Correct, so (for soundness not precision) in `go` I will reject every call to `(Var f)`

Thanks!!!!

[2018-02-23 01:00] nomeata commented on #1248
I also believe that  the special handling of `isBaseCase` is not needed:

Either the data type has no non-recursive constructor (like `[]`), then the other check already ensures that `f` does not occur there, so this is a base case.

Or it does not have a non-recursive constructor (`data Stream = Stream Stream`), but such a type has no finite elements, so all functions are terminating in the LH se

[2018-02-23 01:00] ranjitjhala commented on #1248
Super thanks very much for these suggestions @nomeata!!! They sound great, @nikivazou will you have cycles to implement them soon?

[2018-02-23 01:03] nikivazou commented on #1248
I think the base case is needed.... The productive things do terminate in the Haskell sense but not in the LH sense that checks for eager-style termination.

Since the suggestions are very concrete I hope to find soon time to apply them

[2018-02-23 01:48] nomeata commented on #1248
I am not sure that this makes sense. Consider
[code]
You accept `foo`, but reject `bar`, right?

But the elements of  `Stream a` are a subtype of those of `List a`, and the behaviour of `foo` and `bar` on the intersection is identical!

Or, put differently, to make `bar` loop, I have to create a program like
[code]
but the analogous
[code]
makes `foo` loop just the same.

But the base case check d

[2018-02-23 15:58] nikivazou commented on #1248
Well, base cases are required, because refinement type checking on recursive functions is encoding induction.

For example,

This is accepted, since `bar` never returns
[code]

But the following fails, since `false` does not satisfy the base case.

[code]

[2018-02-23 16:01] nikivazou commented on #1248
Note, that refinement types are build to reason about eager languages.

So, LH's approach so far is
- use termination checks to ensure termination eager-style
- once you ensure termination, (due to lack of side effects) evaluation order is not really important
- use eager-style refinement rules to reason about lazy Haskell

[2018-02-23 16:09] nomeata commented on #1248
But in the eager subset of the language, `bar` cannot be called, because in an eager language, `Stream a` is actually the empty type… Or is there a way to prove
[code]
somehow using `bar`?

[2018-02-23 16:12] nikivazou commented on #1248
In the SAFE Liquid Haskell (where termination checks are not turned off) there is no way to prove `false`. But this relies on the fact that you cannot prove `bar` terminating, because to prove termination you need a base case :)

[2018-02-23 16:14] nomeata commented on #1248
Well, show me how to prove `false` using `bar`! I don’t see how to do it.

[2018-02-23 16:18] nikivazou commented on #1248
I see.

You prove false when you call `bar` but you are saying, to call bar I need to make an infinite stream and this is where termination check should fail (not in the definition of `bar`).

But if I cannot call `bar` without breaking termination check, why not actually give a termination error to `bar`?

[2018-02-23 16:22] nomeata commented on #1248
You can raise the error with `bar`; I am not saying it is _wrong_ to do the check; just _redundant_ (I think  we should be aware of that fact, otherwise people reading our code/papers will think we don’t know what we are talking about)

[2018-02-23 16:52] ranjitjhala commented on #1248
Niki, I think the answer to your question is because we don’t want to give
the error in the wrong place,  as that might be confusing for a user.
However, if you clearly marked missing base cases as a totality error then
that may be fine?

On Fri, Feb 23, 2018 at 8:25 AM Niki Vazou <notifications@github.com> wrote:

[2018-02-23 16:55] nikivazou commented on #1248
But, it is not a totality error, if the ADT does not have a base case :)

An error would convey the meaning of "there is nothing wrong here, but you cannot use this function without breaking termination"

[2018-02-23 17:03] ranjitjhala commented on #1248
The adt must have a base case, otherwise it’s not inductive and the error
should be reported at the definition of the data type...

On Fri, Feb 23, 2018 at 8:55 AM Niki Vazou <notifications@github.com> wrote:

[2018-02-23 17:05] nikivazou commented on #1248
But all this discussion is "assuming an non-inductive data type" :)

[2018-02-26 19:42] nikivazou opened #1251 "Check totality of auto generated record selects"
Why the auto-generated code of record selectors is SAFE, since it is not total?

Eg.

[code]

is SAFE

but the code for `fa` is

[code]

With `recSelError` having false precondition: https://github.com/ucsd-progsys/liquidhaskell/blob/develop/include/PatErr.spec#L5

[2018-02-26 20:02] ranjitjhala commented on #1251
puzzling. however note that the type in the PatErr.spec

is quite different from how it is being used above.

Perhaps for some reason the two are not getting resolved

to the same thing?

On Mon, Feb 26, 2018 at 11:43 AM, Niki Vazou <notifications@github.com>
wrote:

[2018-02-26 20:54] nikivazou commented on #1251
The types are not different.
In the internal code there are two type arguments.

[2018-02-26 20:58] jprider63 opened #1252 "Feature request: Autogenerate measures for record selectors"
This is somewhat related to #1251. It'd be nice if liquid autogenerated measures to test which constructor a value is. For example, with the following:

[code]

Maybe liquid could autogenerate:

[code]

I could write template haskell code to generate `isFA` and `isFB`, but I don't know how to make them measures.

[2018-02-26 20:59] jprider63 commented on #1252
Apparently there already is a regular [haskell package](http://hackage.haskell.org/package/derive-2.6.3/docs/Data-Derive-Is.html#v:makeIs) that will generate `isFA` and `isFB` for you.

[2018-02-27 13:06] nikivazou commented on #1252
Cool! And template Haskell still does not generate comments, correct?
If it did, we could user LH to generate the measure annotations...

[2018-02-27 15:22] jprider63 commented on #1252
I don't [see](http://hackage.haskell.org/package/template-haskell-2.12.0.0/docs/Language-Haskell-TH-Syntax.html) a way to generate comments.

[2018-03-05 13:28] farao opened #1254 "Build error in Misc: Can't install liquid haskell via cabal"
Hi, when trying to install liquidhaskell via cabal, I get:
[  9 of 106] Compiling Language.Haskell.Liquid.Misc ( src/Language/Haskell/Liquid/Misc.hs, dist/build/Language/Haskell/Liquid/Misc.o )

src/Language/Haskell/Liquid/Misc.hs:224:14: error:
    Ambiguous occurrence ‘=>>’
    It could refer to either ‘Language.Fixpoint.Misc.=>>’,
                             imported from ‘Language.Fixpoint.Mi

[2018-03-05 14:46] vrom911 opened #1255 "Liquid Haskell errors on eta-reduced function"
I'm trying to write these annotations
[code]
But I see the following error
[code]

However, if I eta-expand my `at` definition
[code]
everything works fine
[code]
I'm using `LiquidHaskell Version 0.8.2.4`.

[2018-03-05 20:14] ranjitjhala commented on #1254
Hmm. This looks like something quite stale;

can you move to the latest version `0.8.2.4` ?

Thanks!

On Mon, Mar 5, 2018 at 5:28 AM, Marius Melzer <notifications@github.com>
wrote:

[2018-03-06 13:14] farao commented on #1254
I tried cabal install liquidhaskell-0.8.2.4, but I get a dependency conflict around ghc-boot-8.2.2 (maybe it's because my ghc has version 8.0.2?):

Resolving dependencies...
cabal: Could not resolve dependencies:
trying: liquidhaskell-0.8.2.4 (user goal)
trying: template-haskell-2.11.1.0/installed-2.1... (dependency of
liquidhaskell-0.8.2.4)
next goal: ghc-boot (dependency of liquidhaskell-0.8.2.4

[2018-03-06 19:48] ranjitjhala commented on #1254
Hi, on th contrary, stack is the best way to install LH see this for
directions!

https://github.com/ucsd-progsys/liquidhaskell/blob/develop/INSTALL.md
On Tue, Mar 6, 2018 at 5:19 AM Marius Melzer <notifications@github.com>
wrote:

[2018-03-07 02:27] ranjitjhala commented on #1255
Hi @vrom911 -- thanks for pointing this odd behavior out!

While very counter-intuitive, it is a consequence of how "polymorphic instiantiation"
works with refinements. Here's a simpler example to illustrate the issue:

[code]

In the above, `fail` is rejected but `ok` is accepted. This is because the type for `apply incr` is computed as follows:

[code]

now `apply incr` is actually, `(apply @ In

[2018-03-07 21:41] farao commented on #1254
Oh, sorry somehow I didn't see that and that worked for me.
Nevertheless, this does not change that on a current Fedora, one can not use cabal to install liquid haskell with the system ghc - if it's not solvable, I guess it might make sense to add the information to the "install via cabal" section?

[2018-03-07 22:55] ranjitjhala commented on #1254
Agree, would be great to add to the “install by cabal” section! Will do!

On Wed, Mar 7, 2018 at 1:41 PM Marius Melzer <notifications@github.com>
wrote:

[2018-03-19 03:15] rosekunkel opened #1257 "Type aliases can cause a function to not be equal to its definition"
Given these definitions:
[code]
the following proof fails:
[code]
even though this proof just asserts that `f` is equal to its definition on `B` and `C`. However, if we change the type signature of `f` to
[code]
then the proof goes through.

The error given when the proof fails is
[code]
A complete file demonstrating this is available here: https://gist.github.com/wkunkel/363ccf7a08d6de84390b06838

[2018-03-19 15:05] ranjitjhala commented on #1257
whoa! that's very odd! Thanks for pointing this out!

On Sun, Mar 18, 2018 at 8:15 PM, William Kunkel <notifications@github.com>
wrote:

[2018-03-19 18:00] rosekunkel opened #1258 "Feature Request: Substitute equalities in error messages"
Liquid type error messages (especially those generated by proofs) often have refinement types where the refinement is of the form `{v | v == foo}`. It would be helpful if these equalities were substituted as much as possible. For example, in issue #1257, the error message:
[code]
would be better reported as
[code]

[2018-03-19 18:04] ranjitjhala commented on #1258
Yes, excellent idea. Thanks for submitting this -- I'd started on this on an old branch, let me try to  return to it next week! (Its really painful to have to piece together the equalities by hand...)

[2018-03-21 19:06] ranjitjhala commented on #581
For the record, is a link to the new syntax proposal

https://github.com/ucsd-progsys/liquidhaskell/blob/develop/Syntax.md#new-proposal

[2018-03-21 19:13] ranjitjhala commented on #1071
Pasting in code from above link for posterity:

[code]

[2018-03-22 11:32] nikivazou commented on #1257
Thanks @wkunkel ! This seems to be a simplified version of https://github.com/ucsd-progsys/liquidhaskell/issues/1225

[2018-03-22 11:32] nikivazou commented on #1225
Simplified to https://github.com/ucsd-progsys/liquidhaskell/issues/1257

[2018-03-22 11:32] #1225 closed, assigned to nobody

[2018-03-25 22:41] ranjitjhala commented on #1257
Digging around, I have simplified @wkunkel 's test case to:

[code]

In case *with the alias*  the reflected body is wrong. In the .fq file, we get the *incorrect* definition:

[code]

but *without the alias* we get the *correct* definition:

[code]

[2018-03-25 22:57] ranjitjhala commented on #1257
Hmm, interesting.

This is the GHC core in the two cases, **after** Transform-Rec CoreBinds (before that step they are basically identical)

[code]

versus (perhaps due to the case-expand)

[code]

My guess is that the **case-expand** code (`ANF.expandDefaultCase'`)
is failing to call *expandTypeAliases* before looking up the extra cases.

[2018-03-26 03:19] #1257 closed, assigned to nobody

[2018-03-26 03:38] ranjitjhala commented on #1257
@nikivazou can you confirm that this in fact also handles #1225 ?

[2018-03-26 12:36] nikivazou commented on #1257
Thanks for the fix Ranjit!

@wkunkel can you check if this fixes #1225? (Kind of crazy schedule these days...) The code for #1225 is a simplification of our derivations repo.

[2018-03-27 16:52] rosekunkel commented on #1257
I confirmed that this fixes #1225

[2018-03-27 16:57] rosekunkel opened #1261 "Proof combinators should be available as a separate library"
Currently if I want to use proof combinators in a project, I need to either include all of Liquid Haskell as a dependency, or I need to just copy the source of the combinators I need into my own code. Since proof combinators have no dependency on the internals of Liquid Haskell, they would ideally exist as their own library on Hackage.

[2018-03-27 17:18] rosekunkel opened #1262 "Common command-line flags should be better documented"
The documentation for most command line flags is (as far as I can find) just the description in `liquid --help`. So far I've had to use the following flags to do simple proofs:

- `--higherorder`
- `--prune-unsorted`
- `--exact-data-cons`
- `--automatic-instances=liquidinstances`
- `--ple`

For most of these I've gotten some intuition about when to use them, but it would be nice to have for each (

[2018-03-27 18:03] rosekunkel opened #1263 "Reasoning about equationally-defined functions is difficult"
Given the definitions
[code]
I would like to be able to write a proof like
[code]
But this doesn't go through. I can write
[code]
but it's not clear where to go from here. If I reflect the definition of `===`, then I can write the proof as
[code]
but this is cumbersome (I need a new step for each equality) and also brittle (it breaks whenever the proof of h is changed, even if the final "definitio

[2018-03-27 18:14] ranjitjhala commented on #1263
@wkunkel -- yes I think so far we've not had a reason to actually "reflect" the proofs; whats the use case here? Is it not possible to define `h`"directly"? i.e. why use the equations?

[2018-03-27 18:25] rosekunkel commented on #1263
@ranjitjhala The idea is that we can use the equations to define an optimized function from an inefficient but "obvious" definition. For example:
[code]
We could have written directly
[code]
but then we would have to prove separately that it respects the desired refinement.

[2018-03-27 20:48] goldfirere opened #1264 "My isJust is inferior to your isJust"
This works quite nicely:

[code]

Liquid Haskell correctly figures out that my `error` case is impossible. But when I try to conjure up my own brand of this magic, I fail:

[code]

The error message does not mention `isJust2` at all, making it look like LH is ignoring my type annotation. Indeed, I get the same error with the liquid type ascription as without.

Two questions:
1. What does `--exactd

[2018-03-27 21:22] ranjitjhala commented on #1264
Hi Richard,

If you change your “reflect isJust2” to “measure isJust2” your example
should work. Will say more once I get to my computer!

On Tue, Mar 27, 2018 at 1:48 PM Richard Eisenberg <notifications@github.com>
wrote:

[2018-03-27 21:50] ranjitjhala commented on #1264
Hi @goldfirere -- see this for example:

  http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1522186129_23872.hs

(Aside @nikivazou we need to write up some documentation about `reflect` vs `measure` vs `inline`)

Due to various historical reasons, there are *two* ways of "lifting" Haskell functions into refinements: `measure` and `reflect`.

## Measures

Have been around since day 1, see
[th

[2018-03-27 22:19] ranjitjhala commented on #1263
Hmm, well in this situation, I find it useful to use the `withProof` combinator so you just have
the standard definition of `revApp` with the relevant extra bits asserted at the output:

[code]

Of course, I'm leaning heavily on `--ple` here, to first figure out the equational proof and then its shrunk/ple version:

[code]

(We don't need the `thm xs (x:ys)` at the `withProof` site
because that fa

[2018-03-27 22:29] ranjitjhala opened #1265 "LH should complain about malformed specification here"
When run on the following file:

[code]

LH crashes with some `elaborate` error inside fixpoint, but instead, it
should just complain that the specification for `foo` is malformed as
`incr` is _not_ in scope -- which, mind you, is what it does if `incr`
not in scope.

Similarly, on the below (from #1263)

[code]

`fixpoint` crashes with

[code]

instead of just saying that `===` cannot appear insi

[2018-03-27 22:31] ranjitjhala commented on #1263
Btw, you _shouldn't_ have had to use `--prune-unsorted` here.
Is it because you were getting some mysterious error from fixpoint
telling you to use that flag? I think that may be a variant of the issue
I just saw/filed:

https://github.com/ucsd-progsys/liquidhaskell/issues/1265

The `--prune-unsorted` is an unfortunate workaround a
problem with the way we've implemented measures, and
which will re

[2018-03-27 23:21] rosekunkel commented on #1263
The main motivation for doing things this way is that it lets us systematically improve our definition from the obvious one to the optimized one without having to restructure the code. It's probably not a big deal if there isn't a nice way to do it like this, though. @nikivazou might have more thoughts.

Also, if I don't use `--prune-unsorted`, I get these errors:
[code]
instead of the error that

[2018-03-27 23:40] ranjitjhala commented on #1263
Hmm, interesting. I suppose my worry is we'd want to make sure that the `reflect`-ed definition of `reverseAppend` is just the actual "computational" part (i.e. without the extra stuff of the proof).

It seems like it _should_ be possible to modify `CoreToLogic` (i.e. the code where reflection happens) to somehow slice away the bits that have to do with proof...

[2018-03-28 13:48] nikivazou commented on #1262
- `prune-unsorted` allows you to define measures of ADTs that are of some specific type. Eg, you can always define a measure on lists `[a]` but to define a measure on, eg `[Tree a]` you need to use prune unsorted.

- `ple` is the Proof by Logic Evaluation that automatically does unfodlings for you when proving. I though it is the same as `automatic-instances=liquidinstances`.

- `exact-dc` allows

[2018-03-28 13:50] nikivazou commented on #1264
We do not have `--exactdc` on by default because it defines these selectors that are not used in "non theorem proving" mode.

[2018-03-28 13:55] nikivazou commented on #1261
Totally agree!!!!

I will do that ASAP.

[2018-03-28 14:56] ranjitjhala commented on #1262
Niki, at the least can you add the below (above) descriptions to the
README? @wkunkel can then edit it or add questions about what remains
unclear?

More generally the readme is getting long so maybe we should look into
migrating it to some proper documentation system eg the one stack uses?

On Wed, Mar 28, 2018 at 6:48 AM Niki Vazou <notifications@github.com> wrote:

[2018-03-28 14:57] ranjitjhala commented on #1264
Still the benchmarks should work regardless (or whether or not those
selectors are defined) right?

On Wed, Mar 28, 2018 at 6:50 AM Niki Vazou <notifications@github.com> wrote:

[2018-03-28 15:06] nikivazou commented on #1261
I did just upload some very basic lib: https://hackage.haskell.org/package/proof-combinators-0.1.0.0

[2018-03-28 16:22] ranjitjhala commented on #1261
May I suggest you add "NewProofCombinators" too?

I find it a lot more consistent and simpler to use.
​

[2018-03-28 16:36] goldfirere commented on #1264
This all works and makes sense. It sounds like there's an open question about defaulting `--exactdc`, but my concerns are handled and I'd be happy to close the ticket. Thanks!

[2018-03-28 16:57] goldfirere opened #1266 "Adding an index to a type"
Perhaps this is answered already somewhere, but I couldn't find it.

I would like to write use LH to refine a dynamic type. Here is what I mean:

[code]

It should be the case that, for example, `constN 2 @@ DInt 5 @@ DBool False` evaluates to `DInt 42`. Furthermore, I want LH to know this by proving that the `error` case above won't happen in this expression.

Clearly, we need to somehow track th

[2018-03-28 16:57] ranjitjhala commented on #1264
Thanks Richard!

On Wed, Mar 28, 2018 at 9:36 AM, Richard Eisenberg <notifications@github.com

[2018-03-28 17:13] ranjitjhala commented on #1266
Hi @goldfirere,

unfortunately this seems like one of those situations where
you _really_ want an index. (There's another I came across
recently, which has gotten me thinking about how to
connect indices with refinements, but that's all a pipe
dream ATM...).

At any rate, right now I think the best bet is to use GHC indices & type-families?

There is _some very experimental_ support for connecting

[2018-03-28 17:20] nikivazou commented on #1261
Not sure what you want me to keep from the `NewProofCombinators`.

I do not have the type class mechanism anymore to the "optional" argument.

I have a different implementation where `?` basically binds the proof to the second argument and passes their combination to the proof combinator: `x ==. (y ? p)`, where `x ? p = x`.
Much simpler.

[2018-03-28 17:36] nikivazou opened #1267 "Imprecisions with no-case-expand"
The following is UNSAFE. It should get safe even with the `no-case-expand` flag.

[code]

[2018-03-28 17:52] ranjitjhala commented on #1267
Interesting. Wonder what the ghc-core is for this program...

[2018-03-28 17:57] nikivazou commented on #1267
Exactly what I was looking into....

The core is this

[code]

Seems that to avoid the error, we need to inline `fail`...

[2018-03-28 19:27] ranjitjhala commented on #1261
Does this also check the equalities by default?

On Wed, Mar 28, 2018 at 10:22 AM Niki Vazou <notifications@github.com>
wrote:

[2018-03-28 20:11] ranjitjhala commented on #1267
!!! how does it come up with that bizarre code.

Regardless, @nikivazou I am not wholly persuaded
by your conclusion, because if you type that exact
code in, LH is happy to prove SAFE, even with `"--no-case-expand"`

http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1522267761_23890.hs

?

On Wed, Mar 28, 2018 at 10:57 AM, Niki Vazou <notifications@github.com>
wrote:

[2018-03-28 20:15] ranjitjhala commented on #1264
Closing per above.

[2018-03-28 20:15] #1264 closed, assigned to nobody

[2018-03-28 23:48] nikivazou commented on #1267
Apart that `ABC` should have 3 data constructors! Not two as in your example above.
When the default case expands to exactly one data constructor, LH always expands it.

[2018-03-28 23:51] ranjitjhala commented on #1267
Good point!

On Wed, Mar 28, 2018 at 4:48 PM Niki Vazou <notifications@github.com> wrote:

[2018-03-29 11:17] #1267 closed, assigned to nobody

[2018-03-29 16:24] nikivazou commented on #1261
It depends what is the type of `==.`, i.e., if it has precondition to check the equalities.

[2018-03-29 20:43] #1258 closed, assigned to ranjitjhala

[2018-03-29 21:58] ranjitjhala commented on #1261
@nikivazou it is odd to use

* `==?` to check the equality precondition, and
* `==.` to _not_ check it,

Given that you are using `?` to give the "reason".

Maybe just use or export `because` or some such, as an alias for `?`

[2018-03-29 22:01] ranjitjhala opened #1271 "Unusual parsing behavior"
LH should probably throw some sort of error on this file, instead of happily accepting it.

[code]

http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1522360370_23924.hs

[2018-03-30 04:14] jprider63 opened #1273 "Potential optimizations"
- Change `syms` and `exprSymbols` to return a `Set` instead of a `List`. There may be other opportunities to eliminate quadratic code
- profiling indicates `visitExpr` and `<$$>` seem to be taking a significant portion of time/memory
- Use a streaming library to write smt2 code to file and pass to z3. Currently, I think the whole code sits in memory
- Look into why too many adt constructors and/or

[2018-03-30 13:58] #1271 closed, assigned to nobody

[2018-03-30 14:54] ranjitjhala commented on #1273
Thanks @jprider also for bumping #1095

[2018-03-30 17:37] ranjitjhala commented on #1262
Hi @wkunkel see above PR. The only missing thing is `--prune-unsorted` which, while inscrutable, is described in the [README](https://github.com/ucsd-progsys/liquidhaskell/blob/develop/README.md#prune-unsorted-predicates) 😃

[2018-03-30 18:35] ranjitjhala commented on #1095
@nikivazou -- at [some point](https://github.com/ucsd-progsys/liquidhaskell/commit/ec7f030e74cd352e9944ff83d8202028fd4db905) I extended the `caseToLg` to handle
`DEFAULT`, so we can reflect functions with it. See:

https://github.com/ucsd-progsys/liquidhaskell/pull/1274/files#diff-161a5b61bb0e96d3ee5aa0ee9bf0412f

[2018-03-30 18:55] ranjitjhala commented on #1095
However, looks like `measure` still fails with a `DEFAULT`.

[2018-03-30 19:31] nikivazou commented on #1095
Yes, I noticed it too. measure fails with DEFAULT when the no-case-expand is on...

[2018-03-30 19:34] nikivazou commented on #1262
I cannot do it soon (another interview in EU on Monday).

Let's sync to create proper documentation when I am back.

[2018-03-30 19:40] ranjitjhala commented on #1262
:thumbs up:👍

On Fri, Mar 30, 2018 at 12:35 PM Niki Vazou <notifications@github.com>
wrote:

[2018-03-30 20:11] #1262 closed, assigned to nobody

[2018-03-30 21:40] ranjitjhala commented on #1262
For the record, this is the thing:

http://www.mkdocs.org/#getting-started

On Fri, Mar 30, 2018 at 12:40 PM, Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

[2018-03-30 23:56] ranjitjhala commented on #1095
Wow, this is what case-expand does, just to @nikivazou 's  `hasX` function:

  https://gist.github.com/ranjitjhala/936252b2a12bbb7666849167d12780b9

it takes GHC core from about 48 lines to about ... 4800 lines.

[The one thing this persuades me is that *by default* we should have `--no-case-expand`.]

[2018-03-31 02:47] rosekunkel commented on #1263
It appears that this already exists in some form, see #1247 and the `eq` operator added to https://github.com/ucsd-progsys/liquidhaskell/blob/develop/include/CoreToLogic.lg

Can we just reflect `===` instead of `eq` in the same way? We might want some sort of general mechanism for "inline this function when reflecting," though.

[2018-03-31 03:45] rosekunkel opened #1275 "Attempting to reflect a function which contains a non-reflected function gives confusing error"
This actually appeared in the example code for #1263, I just didn't realize it at the time. The code
[code]
causes Liquid Haskell to error with this message:
[code]
when the actual error it should report is that `g` uses an unreflected function `f` in its definition.

Note that we don't actually need to be trying to prove `False` for this to happen; that's only included because we actually have to

[2018-03-31 04:02] ranjitjhala commented on #1275
Hmm. I *think* this is related to #1265.

[2018-03-31 04:16] rosekunkel commented on #1275
Ah, I didn't see that issue. This is just a simplification of the second example there.

[2018-03-31 04:22] ranjitjhala commented on #1248
hey is this still open? or did you all resolve it?

[2018-03-31 04:23] ranjitjhala commented on #723
@nikivazou is this still an issue or is it fixed by your recent structural termination changes?

[2018-03-31 14:34] #1095 closed

[2018-03-31 23:39] rosekunkel opened #1277 "Consider developing a standard library of theorems"
I think Liquid Haskell would be more attractive as a theorem prover if there were a library of theorems available already, so that users didn't have to e.g. prove that list append is associative. I could build this myself, but I think it would be better if there was an officially-supported standard library.

This does have several complications, however. If we want to prove results about Prelude,

[2018-03-31 23:55] atondwal commented on #1277
Hmm, wonder if we should take more inspiration from agda (haskell-y) or Isabelle (classical) re: what to include....

Actually, LH does currently support library specs written outside the hs file (but IIRC only those that are shipped with LH?). For example, this is the spec for Data.Maybe:

https://github.com/ucsd-progsys/liquidhaskell/blob/563cccbd69dfd4b0c4bdfcad5ac73205917b99a4/include/Data/May

[2018-04-01 00:01] rosekunkel commented on #1277
@atondwal I assume those spec files can't actually use reflection, though — we'd have to print out whatever spec reflecting generates and paste it into the spec file. That might be usable if it were automated, but we'll probably end up with weird errors if the LH version, library version, and Prelude version don't all match.

[2018-04-01 00:35] ranjitjhala commented on #1277
Good point! As @wkunkell .spec approach really isn’t feasible.

I wonder if there is some way to get access to code from the prelude...

On Sat, Mar 31, 2018 at 5:29 PM Anish Tondwalkar <notifications@github.com>
wrote:

[2018-04-01 21:55] nomeata commented on #1248
I think I’ll try to write a solid termination checker now (The current code is also unsound if there is shadowing of local variables, and GHC does not guarantee no-shadowing, although it might not be possible to exploit that in practice).

[2018-04-01 22:12] nomeata commented on #1248
It will be tempting to make the termination checker smarter than just simple structural recursion, and support extra arguments (`foo (x:xs) n = foo xs (n + 1)`) or non-immediate subterms (`foo (x:y:xs) = foo xs`). Would that be a nice extra, or should the termination checker really only do the least smart thing possible?

[2018-04-01 23:40] nomeata commented on #1248
Pull request at https://github.com/ucsd-progsys/liquidhaskell/pull/1278

[2018-04-02 01:59] nomeata commented on #1198
There is still a test case for this in the `neg` folder:
[code]
It passes with https://github.com/ucsd-progsys/liquidhaskell/pull/1278 however. That’s good, right?

[2018-04-02 15:44] #1248 closed, assigned to nobody

[2018-04-03 12:22] nomeata commented on #159
Is there a plan here? Does LH currently have a concept of unsafe types that it rejects? I guess you only want to reject these types in proofs, but not in all programs, or something...

BTW, higher rank polymorphism can also lead to recursion, so a plain positivity-checker is not sufficient.

[2018-04-03 16:38] ranjitjhala commented on #1015
Seems related to @wkunkel 's #1275

[2018-04-03 16:38] #1015 closed

[2018-04-03 16:42] ranjitjhala opened #1280 "Totality errors should report a missing case"
For example, the following

[code]

LH just says:

[code]

But in larger proofs, it is helpful to know _which_ cases are not covered, so in the above something like, `missing case for 'thm A B' or 'thm B _'` or some such. This is not intractable, for example, the below is the CORE for `thm` from which the above could be gleaned, if we hung onto some information at constraint-generation time.

[cod

[2018-04-03 19:29] nikivazou commented on #1280
This does not seem really easy:
The totality checker fails since it cannot prove false. It is not trivial from this information to understand the undefined cases. Note that totality errors are also generated from guarded functions: our totality check is semantic. So, what would the error report in

[code]

[2018-04-03 19:34] nikivazou commented on #159
No current plan. I think Rustan has worked around this in Dafny, but as far as I know, has not published his technique.

An idea is to always generate termination error when you have negative or higher rank types?

[2018-04-03 21:03] nomeata commented on #159
Yeah, that’d be the conservative approach. But it is a policy decision on your (i.e. the Liquid Haskell authors) to weigh soundness-in-all-cases vs, practicality. If you document that “Liquid Haskell is not sound in the presence of negative types and higher rank types”, then there is no bug at least, and people who shoot in their foot are welcome to do so :-)

[2018-04-03 22:04] ranjitjhala commented on #159
The conservative approach sounds good to me. We can have some mechanism to
“relax” the checks for such cases if the programmer so desires?

On Tue, Apr 3, 2018 at 2:06 PM Joachim Breitner <notifications@github.com>
wrote:

[2018-04-04 04:20] rosekunkel opened #1283 "How to write a pattern match in a refinement"
This is either a feature request or a documentation request, I'm not sure which. I have the type
[code]
and I'd like to refine the type `Baz` to only allow those `Bar`s whose two `Foo`s are the same. That is, I want the inhabitants of `Baz` to be exactly
[code]
This feels like it ought to be possible, but trying to write a refinement on `D` requires a pattern match on its `Bar` parameter, and I ca

[2018-04-04 14:05] ranjitjhala commented on #1283
This is possible using data refinements, e.g. see

https://github.com/ucsd-progsys/liquidhaskell/blob/develop/README.md#modules-with-code-data

[code]

Does that work?

Btw, if instead you _always_ want the two fields of the `Bar` to have the same value regardless of whether they appear in a `D` or not, then you can do:

[code]

that is, use a data-refinement that forces the second field to be equ

[2018-04-04 14:49] nikivazou commented on #1283
@ranjitjhala it should not be due to my recent fix, since I only apply it when the exactdc flag is on: https://github.com/ucsd-progsys/liquidhaskell/blob/develop/src/Language/Haskell/Liquid/Constraint/Generate.hs#L1137

[2018-04-04 15:32] ranjitjhala opened #1284 "Generate `is$...` measures regardless of `exactDC`"
The following code fails with `Unbound symbol is$Blank.A`, and works with `--exactdc` but that is really odd. We ought to just _always_ generate the `is$Blank.A` tests regardless as they appear to be used in `CoreToLogic`.

[code]

**Note:** that we can't just make `--exactdc` default because that _also_ strengthens ctors with the type:

[code]

which can cause problems if `x` and `y` are function

[2018-04-04 15:38] nikivazou commented on #1284
Then the exact-dc flag is useless, correct? Useless meaning it would be always true.

[2018-04-04 16:06] ranjitjhala commented on #1284
No see the “note” above; exactdc does other stuff too...

[2018-04-04 16:33] rosekunkel commented on #1283
@ranjitjhala That works for this instance, but if Foo is a more complex type, it breaks down. For example, this doesn't work, because `isEqBar` is not structurally recursive in the way that measures require:
[code]
In refinements, `==` is structural equality, but as soon as I drop out of the refinements and into Haskell, there is no way to get back structural equality short of writing it myself, w

[2018-04-04 17:02] ranjitjhala commented on #1283
Not quite following your exact use case.

Is the above an example of where measures are not enough?

(else can you give an example that's insufficient?)

In general, note that you can use `reflect` instead

of `measure` and get in whatever constraint you like

(that is expressible as a Haskell function?)
​

[2018-04-04 17:45] rosekunkel commented on #1283
I can't see how to write a measure for the above that would constrain `Baz` to contain only the values
[code]

The actual use case here is that I'm trying to write a sequent-calculus proof-checker in Liquid Haskell. So the actual code looks like
[code]
I want to refine `Identity` to only accept sequents that look like `x |- x`, so all sequents of the form `Seq (Cons x Nil) (Cons x Nil)`. Ideally,

[2018-04-04 17:55] #776 closed

[2018-04-04 17:59] nikivazou opened #1285 "measure vs. reflect"
How about we merge these two into just `reflect foo` and then LH can decide if `foo` is actually a measure?

From user perspective it will be convenient because the user does not need to know the difference.
But, if the user does not know the difference then how do they know that "reasoning about measures happen automatically, while for reflected functions the user needs to do the unfoldings".

Th

[2018-04-04 18:09] ranjitjhala commented on #1283
Ah, ok how about using plain equality? (The below works)

[code]

Also, thanks to `ple`, in this case, you can use `reflection`
quite automatically (i.e. without having to write proofs,
which would, indeed be pointless!) So the below works as expected:

[code]

In general,  PLE will let you "evaluate" functions on "concrete" inputs.

[2018-04-04 18:13] rosekunkel commented on #1283
Good point about PLE, I was thinking for some reason that I would still be required to write proof terms with PLE, they'd just be trivial. Thanks!

[2018-04-04 18:13] #1283 closed, assigned to nobody

[2018-04-04 18:13] ranjitjhala commented on #1285
This would be great! @gridaphobe has been asking for this forever.

[Also, include `inline`] but somehow, I think, it will be tricky...

On Wed, Apr 4, 2018 at 10:59 AM, Niki Vazou <notifications@github.com>
wrote:

[2018-04-04 18:14] ranjitjhala commented on #1285
Perhaps we can start by trying to make precise exactly
the rules/conditions under which a function will be treated
as (1) inline (2) measure (3) reflect ?

On Wed, Apr 4, 2018 at 11:13 AM, Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

[2018-04-04 18:16] ranjitjhala commented on #776
This was addressed a long time ago, right?

[2018-04-04 18:16] nikivazou commented on #1285
We have the rules, they are syntactic. This is not the problem.

My concern is, they how do we explain to the user that

reasoning (unfolding) about `length` happens automatically but about `reverse` the user needs to do the unfolding.

[2018-04-04 18:17] nikivazou commented on #776
I hope so :)

[2018-04-04 19:49] ranjitjhala commented on #1285
I don't know the rules, can we enumerate them precisely over here?

On Wed, Apr 4, 2018 at 11:16 AM, Niki Vazou <notifications@github.com>
wrote:

[2018-04-04 20:29] ranjitjhala commented on #1285
Btw, to me the "user explanation" is this:

* `inline`s [non-recursive]
* `measure`s [recursive-but-over-single-ADT]

are **always** unfolded, but,

* `reflect`s [recursive]  are **never** unfolded (except with PLE)

?

[2018-04-05 01:26] rosekunkel commented on #1064
I just ran into this same issue when trying to define `tail` in a file after `import Prelude hiding (tail)`. At the least it would be nice to have a list of what functions are special-cased (I discovered `cons` on accident a while ago).

[2018-04-05 02:44] rosekunkel opened #1286 "Can't test equality of characters in reflected function"
The following code
[code]
causes an error:
[code]
but the equivalent code with `Int` in place of `Char` and `0` in place of `'a'` is deemed safe. In particular, this means that there is (as far as I know) no way for reflected code to test string equality.

[2018-04-05 02:53] ranjitjhala commented on #1286
Hmm interesting! What happens when you use strings eg  “a” ?

There was a pending issue about reflection and strings but regardless this
should be easy to fix...

On Wed, Apr 4, 2018 at 7:45 PM William Kunkel <notifications@github.com>
wrote:

[2018-04-05 02:58] rosekunkel commented on #1286
Oh interesting, it works with strings. I pared this down from an example where it was refusing to reflect a function which used `==` on strings, so I wrote my own string-equality tester and ran into this issue. I had just been assuming `==` on strings was unsupported.

I'll see if I can track down the other issue I was having.

[2018-04-05 03:04] rosekunkel commented on #1286
I can't seem to reproduce the issue I was having with reflecting `==` for strings.

Unfortunately,
[code]
doesn't work, so we can't use equality for strings to get equality for characters

[2018-04-05 03:22] ranjitjhala commented on #1286
Yes, this doesn't have to do with reflect, but has to do with `Char`. See this e.g.

http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1522898575_24111.hs

Probably has to do with how a `Char` literal is encoded in Core. (String literals are actually treated separately IIRC.)

[2018-04-05 04:00] ranjitjhala commented on #1286
To fix this:

1. Add a sig to `GHC/Prim.spec`

[code]

2. Add a case to `CoreToLogic.mkLit`

[code]

[2018-04-05 13:37] atondwal commented on #1285
Are we going to keep `{-@ measure f @-}` to define uninterpreted functions? It's quite useful.

[2018-04-05 19:48] #1286 closed, assigned to nobody

[2018-04-09 05:59] rosekunkel opened #1288 "Measures can't have a wildcard as their only pattern"
The following measure definition is rejected:
[code]
with the error message
[code]

However, the following equivalent definition is accepted:
[code]

Interestingly, this doesn't happen if we have at least one non-wildcard pattern, i.e., this is accepted:
[code]

[2018-04-09 06:11] rosekunkel opened #1289 "Literals can't appear in measure pattern matches"
This definition:
[code]
fails with the error
[code]

An analogous function on `Char`s also fails:
[code]
but with a different error message:
[code]

The same function for strings fails as well, but that seems to be caused at least in part by the problem that `--prune-unsorted` is trying to solve.

[2018-04-09 06:19] rosekunkel opened #1290 "Can't specify null as a measure"
The following module:
[code]
fails with the error:
[code]
This error goes away if I rename `null` to e.g. `isEmpty`, so I'm assuming `null` has been special-cased somewhere? In any case, this error message is very confusing and makes it seem as though boolean-valued measures are not allowed.

[2018-04-09 22:02] rosekunkel opened #1291 "Adding refinements to a module can break encapsulation"
Suppose I have the following modules:
##### Foo.hs
[code]

##### FooInterface.hs
[code]

##### Example.hs
[code]

The intention with these modules is that consumers of the Foo library can only create and use `Foo`s via the corresponding functions in `FooInterface`. However, I want to use Liquid Haskell to check that this code is correct. In particular, I want to make `useFoo` into a total function

[2018-04-09 22:18] ranjitjhala commented on #1291
This is related to another similar module re-export issue.

Unfortunately its totally unclear how to to address this.

The error gets thrown because we "eagerly"  try to `Resolve`
the name `isFoo` which is in the signature of `FooInterface`
but which is itself not *exported* by `FooInterface`.

If infact, we want to preserve encapsulation, we probably need
some notion of "internal" (private) vs. "

[2018-04-11 17:56] y-taka-23 opened #1292 "LH cannot type a function inside a record properly"
Hi, I found that, in `liquidhaskell-0.8.2.4`, if I have a function as a field of a record datatype, LH cannot handle refinements for the field:

[code]
LH should detect the `invalid` as a violation because the expected typing is `fld testee :: Nat -> Nat`, but actually it doesn't. Do we have any workaround?

[2018-04-11 18:10] atondwal commented on #1292
Here's a workaround that uses [Abstract Refinements](https://ucsd-progsys.github.io/liquidhaskell-blog/2013/07/29/putting-things-in-order.lhs/):

http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1523470064_24320.hs

[code]

[2018-04-11 18:13] ranjitjhala commented on #1292
Hmm, interesting -- thanks @y-taka-23  for posting this issue, and thanks @atondwal  for the workaround. This is definitely a soundness hole that needs fixing. For now, you can also do the below, where you write an accessor. But I wonder why the refinements are getting erased. @nikivazou do you know?

[code]

[2018-04-11 18:38] y-taka-23 commented on #1292
Wait @atondwal, in your code, `valid = fld testee 1` also will be rejected I guess.

[2018-04-12 11:42] y-taka-23 opened #1293 "Cannot use 'y' as a name of a record field"
If you have a record with a field named `y`, for example,

[code]

You will get the following error:

[code]

On the other hand, after you change `y` to `x`, it works.

[code]

[2018-04-12 18:24] ranjitjhala commented on #1293
Oh no! this is really gross. Many thanks for pointing it out!

[2018-04-14 21:54] superfunc commented on #1293
Could I take a stab at this issue, or is someone already working on it?

[2018-04-14 22:01] ranjitjhala commented on #1293
That would be awesome, thanks!!

On Sat, Apr 14, 2018 at 2:55 PM superfunc <notifications@github.com> wrote:

[2018-04-15 23:12] ranjitjhala opened #1295 "GADT Woes"
Another issue via @jbrown215 and @jeanneluningprak

The following

[code]

makes LH crash with

[code]

(This is a minimized version of failure generated by TH/Yesod etc.)

[2018-04-15 23:31] ranjitjhala commented on #1295
Even simpler variant by @jluningp

[code]

[2018-04-15 23:35] ranjitjhala commented on #1295
Whittled down even further to

[code]

[2018-04-16 02:21] #1295 closed, assigned to ranjitjhala

[2018-04-16 18:14] marciocornelio opened #1297 "Type inconsistency"
Hi, I am using

LiquidHaskell Version 0.8.2.4, Git revision 9f30411db5b8363e41210dc7a8dc22444474b246
Copyright 2013-18 Regents of the University of California. All Rights Reserved.

I am doing the examples of one tutorial, and I have faced a problem with the following example

[code]

When checking it with LiquidHaskell, I get the following error.

[code]
Do we have any workaround? Any hints? Than

[2018-04-16 18:18] ranjitjhala commented on #1297
Hi @marciocornelio  -- yes the issue here is that GHC thinks that the type is the (more general)

[code]

because there is no explicit type signature. The solution is simply to put in the GHC type signature,

[code]

[2018-04-16 18:41] #1297 closed, assigned to nobody

[2018-04-16 19:18] ranjitjhala commented on #1288
Hmm. Looks like this is because the core doesn't contain a `case-of`.

Now that we support `DEFAULT` (or did we always?) we can probably
treat core that looks like

[code]

simply as:

[code]

[2018-04-16 22:41] ranjitjhala commented on #1288
While technically its easy to support the above, it muddies the waters re: the definition of `measure` cf #1285, e.g. things like

[code]

can also pass the *syntactic* requirements for `measure` but they don't really make sense as measures. So best to not allow this, just to keep the "measures-are-one-equation-per-data-constructor" rule.

[2018-04-16 22:41] #1288 closed, assigned to nobody

[2018-04-17 01:41] rosekunkel commented on #1288
Why exactly _are_ measures limited to one equation per data constructor? Why can't any structurally-recursive function be a measure?

[2018-04-17 03:01] atondwal commented on #1288
Under the hood, "measures" are just the conjuncts of the output refinement of data constructors. Concretely, consider:
[code]
this just means that
[code]

[2018-04-17 07:39] y-taka-23 opened #1299 "Abstract refinements in type classes can introduce unsoundness"
Hi, I found that if you have an abstract refinement in a type class definition, the refinement (incorrectly) propagate itself to the implementations. For example, in the following snippet, `get` should be actually `0`, but satisfies any predicate `p :: Int -> Bool`.

[code]

[2018-04-17 09:52] y-taka-23 opened #1300 "Cannot parse the unit value in refinement bounds"
I'm not really sure it's by design or not, LH fails to parse bounds which include the unit literal `()`.

[code]

Literals of the types other than `()` look okay, e.g. in the case of `Int` or `Bool`, the code is compilable.

[code]

[2018-04-18 01:42] ranjitjhala commented on #1299
Oops, this is terrible, thanks for pointing it out @y-taka-23 !!

@nikivazou is this because we don't pickup/test the signatures at instances?

[2018-04-18 03:29] ranjitjhala commented on #1288
@wkunkel as @atondwal says above, measures are really a way to "strengthen" the data constructors' types, and so they really only make sense when there is one equation per
constructor. See Sec 2.6 of the [ICFP 2014 paper](http://goto.ucsd.edu/~nvazou/refinement_types_for_haskell.pdf) for more details.

That said, the PR above allows for

[code]

because its basically the same as `f () = 0` ... (se

[2018-04-18 04:38] #1289 closed, assigned to ranjitjhala

[2018-04-18 21:39] ranjitjhala opened #1302 "Reflect seems to drop certain values/binders?"
The below file

[code]

fails with

[code]

which seems to be **dropping** some of the parameters in the body, perhaps because LH thinks they are dictionaries or something?

/via @jbrown215

[2018-04-18 23:02] ranjitjhala commented on #1302
Hmm. `CoreToLogic` is merrily dropping the `CreditCardNumber` because GHC turns it into

[code]

[2018-04-19 01:48] #1302 closed, assigned to nobody

[2018-04-20 15:39] rosekunkel opened #1304 "Documentation request: How to run liquid on multiple files"
Currently, for [this project](https://github.com/wkunkel/lh-sequent-calc), I'm using a test framework (Tasty) to run liquid on each of my source files. Tests run in the root of the project by default, so I'm executing a command that looks like
[code]
for each file in my source directory. However, this doesn't work very well; I find that when I make changes I often need to run the tests multiple ti

[2018-04-20 16:41] atondwal commented on #1304
I'm not sure if we've thought out a "correct way", but the workaround is that if you nuke `src/.liquid` that should fix the problem with having to run the tests multiple times.

[2018-04-20 16:51] ranjitjhala commented on #1304
Hi @wkunkel  -- yes, this is definitely a pain point. Have you tried this:

https://hackage.haskell.org/package/liquidhaskell-cabal

and there is a demo on how to use it

https://github.com/spinda/liquidhaskell-cabal-demo

[2018-04-20 19:25] ranjitjhala commented on #1304
@wkunkel can you let us know if the cabal thing works for you?

[2018-04-20 19:56] rosekunkel commented on #1304
I'll take a look at it.

On Fri, Apr 20, 2018, 15:25 Ranjit Jhala <notifications@github.com> wrote:

[2018-04-20 20:10] ranjitjhala opened #1305 "Proposal: Using GHC Annotations"
[bit of a brain dump]

As various people have noted (e.g. @kosmikus, @wkunkel, others?) and the
old issues with `.spec` files and `vector` and `bytestring` etc. a major hassle
with LH is that we can't  save and import specifications *across* packages.

In general, of course, the import story has been problematic for a while.

## Requirements

- **REQ** Write specs inside the modules inside package

[2018-04-20 20:46] gridaphobe commented on #1305
1. You can annotate individual values and types, instead of sticking every annotation on the module. This is actually important because IIRC you can only have one ANN per type per value/module/etc. But it also makes Bare a bit easier since there's less name resolution to deal with.

2. You can't annotate local binders, but that's actually fine since the specs don't need to be exported. So we could

[2018-04-20 20:53] ranjitjhala commented on #1305
Eric,

thanks! (Also for your super blog post which I’ve been using to learn how
annotations work!!!)

It turns out you *can* have multiple annotations per module (I checked and
it works :)) so that’s an easy thing but yes we could attach them to
binders or datatypes too... but yes it could make name resolution easier.
Let me give it a whirl...

On Fri, Apr 20, 2018 at 1:46 PM Eric Seidel <notific

[2018-04-21 02:58] gridaphobe commented on #1305
I wrote a blog post about GHC annotations? I don't remember that :)

On Fri, Apr 20, 2018, at 16:53, Ranjit Jhala wrote:

[2018-04-21 03:02] rosekunkel commented on #1304
@atondwal nuking src/.liquid unfortunately doesn't always fix the problem. In this project doing so will cause the first run of the tests to fail (probably) with lots of "Unbound Symbol" errors.

[2018-04-25 18:17] mgree commented on #159
We independently ran into this (per email); posting the file here for posterity. A negative occurrence check would rule out the following program:

[code]

[2018-04-25 18:39] ranjitjhala commented on #159
High time we buttoned down and implemented this... [thanks for bumping it up @mgree !]

[2018-04-26 00:45] mgree commented on #159
Side note: that file passes as safe when I use the github version, but Ron's version from cabal breaks with a bunch of weird subtype errors.

[2018-04-27 21:54] mgree opened #1309 "Broken invariant?"
We got a message saying things that shouldn't happen have happened and we're supposed to tell you about it. Here's the message:

[code]

Here's the file that caused it:

[code]

It was adding `int_vnum` that broke it. (That said, `int_vnum` doesn't typecheck!)

[2018-04-27 22:05] nikivazou commented on #1309
Thanks! The error is bad...

If you want to write an existential in refinement types, the `Haskell` type should also be a pair.
There is no automation is reasoning about existential, you need to provide a Haskell instantiation of the existential to persuade LH.

e.g.,

[code]

[2018-04-27 22:16] mgree commented on #1309
Yes---thanks! We figured it out and then found an even better way:

[code]
If there's a bug here, it's that Liquid Haskell didn't adequately report the mismatch between the type we wanted in LiquidHaskell (a pair) and the type Haskell assigned (unit).

[2018-04-27 22:37] ranjitjhala commented on #1309
Yes, I've also hit this hassle  before. Basically with the "existential pair" one can write:

[code]

but not

[code]

or

[code]

which is a bit annoying. Will try to fix soon.

[2018-04-27 22:37] ranjitjhala commented on #1309
Thanks @mgree for posting!

[2018-04-28 01:10] ranjitjhala commented on #1309
Btw, looks like you’re doing some sort of stlc type soundness proof? Do let
me know if/when done because that’s long been on my todo list!

On Fri, Apr 27, 2018 at 3:16 PM Michael Greenberg <notifications@github.com>
wrote:

[2018-04-28 15:02] jbrown215 opened #1311 "Malformed constraint"
hi Niki + Ranjit,

I ran into a non-blocking issue while working on the Binah case studies. When running liquid on https://github.com/jbrown215/binah/blob/master/examples/Field-copy.hs, I get the error:

[code]

This is strange to me because that function is fairly harmless. Not exactly sure what to make of the error message.

[2018-04-28 15:06] jbrown215 commented on #1311
(This code uses a phantom type to encode the record over which the policy is parameterized. Thus, a Tagged a b would have a policy from a -> User -> Bool)

[2018-04-28 15:44] ranjitjhala commented on #1311
May be either a bug with absref code (most likely) or some mismatch due to
absref between

Tagged User User

and

Tagged User [User]

Do you get the crash if you remove the type annotation?

On Sat, Apr 28, 2018 at 8:14 AM Jordan Brown <notifications@github.com>
wrote:

[2018-04-28 16:41] superfunc commented on #1293
Taking a look this weekend, sorry for the delay :)

[2018-04-28 16:42] jbrown215 commented on #1311
Yes, but because it fails to unify [a] with [User]. If I explicitly annotate it return ([] :: [User]), I get the malformed constraint again

[2018-04-28 16:58] ranjitjhala commented on #1311
I mean remove the LH type annotation... that should not affect GHC
unification...

On Sat, Apr 28, 2018 at 9:42 AM Jordan Brown <notifications@github.com>
wrote:

[2018-04-28 17:54] jbrown215 commented on #1311
Oh-- still the same malformed constraint error

[2018-04-29 01:15] mgree commented on #1309
We're mostly just thinking about what it means to have a "derivation" of "rules" in LiquidHaskell, slowly working our way up to more interesting examples. Happy to chat about it some time! :)

[2018-04-29 02:25] ranjitjhala commented on #1309
Cool! Let’s chat at some point!

Also you may find this useful

https://github.com/ucsd-progsys/liquidhaskell/#inductive-predicates

On Sat, Apr 28, 2018 at 6:15 PM Michael Greenberg <notifications@github.com>
wrote:

[2018-04-29 04:15] nikivazou commented on #1309
@mgree what kind of meaning are you going for? Right now, your proofs formally satisfy the refinement soundness:

[code]

means that if you give me an `e`, so that `(typeOf e == Just TBool) ~*~> True` then
`bool_vbool e ~*~> (v, ())` and `(eval e == VBool v) ~*~> True`.

Are you looking for a different semantics of the proofs?
I have a very cool metatheory proof implemented in Liquid Haskell by a

[2018-04-30 14:43] ranjitjhala commented on #1309
Niki, is this JPs thing? Regardless please hurry up and make public;
looking forward to seeing it!

On Sat, Apr 28, 2018 at 9:15 PM Niki Vazou <notifications@github.com> wrote:

[2018-04-30 14:55] nikivazou commented on #1309
Yes, JPs thing!

[2018-05-01 15:20] CodePeters opened #1313 "Same function definition in different way, causes an error"
Defining the function below:

{-@ reflect pred @-}
pred :: Int -> Int
pred n
  | n == 0 = 0
  | otherwise = n-1

Works fine, but if we write the same function in a different way causes an error:

{-@ reflect pred @-}
pred :: Int -> Int
pred  0 = 0
pred  n = n-1

The above definition leads to the error:

 <no location info>: Error: Uh oh.
     /Users/Desktop/List.hs:38:13: Error: Cannot lift Haskel

[2018-05-01 15:42] ranjitjhala commented on #1313
Hi @CodePeters -- Can you tell us what version of LH you're using?
I recently fixed this issue in `develop`, e.g.

http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1525190202_25091.hs

Thanks!

[2018-05-01 16:08] CodePeters commented on #1313
LiquidHaskell Version 0.8.2.4, Git revision cd75b3041db4ed15973547c044904c193ee562a2
Copyright 2013-18 Regents of the University of California. All Rights Reserved.

[2018-05-01 16:39] ranjitjhala commented on #1313
Ah yes, that about a month old; if you [rebuild from `develop`](https://github.com/ucsd-progsys/liquidhaskell/blob/develop/INSTALL.md#build-with-stack-recommended) this is fixed. thanks!

[2018-05-01 16:39] #1313 closed, assigned to nobody

[2018-05-01 16:44] CodePeters commented on #1313
thanks for the replies !!!

[2018-05-06 10:37] astefano opened #1314 "cannot run LiquidHaskell Version 0.8.2.4 (installed with cabal)"
C02SY2VXH03Q:haskell_tests $ liquid filter.hs
LiquidHaskell Version 0.8.2.4
Copyright 2013-18 Regents of the University of California. All Rights Reserved.

**** DONE:  A-Normalization ****************************************************

**** DONE:  Extracted Core using GHC *******************************************

**** DONE:  Transformed Core **************************************************

[2018-05-06 21:25] ranjitjhala commented on #1314
Hi, can you check if `z3` is in your path? I suspect it is missing?

https://github.com/ucsd-progsys/liquidhaskell/blob/develop/INSTALL.md#step-1-install-smt-solver

[2018-05-07 05:40] astefano commented on #1314
Hi, thanks, yes, this did the trick. (I had only cvc4 installed as my reading was that one solver is enough. If Z3 is a requirement, maybe the documentation can be updated? I also tried liquid x --smtsolver=cvc4 and had the same error.)

[2018-05-07 05:40] #1314 closed, assigned to nobody

[2018-05-08 20:23] CodePeters opened #1315 "Problem with unfolding when trying to prove a theorem"
The current code:

{-@ measure lElems @-}
lElems :: (Ord a) => List a -> S.Set a
lElems Nil         = S.empty
lElems (Cons x xs) = S.union (S.singleton x) (lElems xs)

{-@ reflect permutation @-}
permutation :: (Ord a) => List a -> List a -> Bool
permutation xs ys = lElems xs == lElems ys

{-@ select :: (Ord a) => a -> l1: List a -> (a, l2: {List a | llen l2 == llen l1 } ) @-}
select :: (Ord a) =>

[2018-05-08 23:32] ranjitjhala commented on #1315
Hi @CodePeters -- can you paste the exact file (e.g. in a gist?) I wonder if you are missing some options e.g. did you run with `{-@ LIQUID "--reflection" @-}` ? (o.w. am traveling, will try to get back to you in a couple of days!)

[2018-05-09 01:59] nikivazou commented on #1315
@CodePeters here is your solved file: http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1525830920_25472.hs

1.  To prove `permutation xs xs` you actually need to unfold the definition of `permutation xs xs` on `xs` and `xs`, which happens by calling  this as a Haskell  function (@ranjitjhala ple does not do the job here).

2. The theorem `thm_select_perm` is proved for the `Nil` case, it is

[2018-05-09 07:28] ranjitjhala commented on #1315
Thanks @niki!  why was the original code not failing at some local `==.` ?

On Wed, May 9, 2018 at 2:59 AM, Niki Vazou <notifications@github.com> wrote:

[2018-05-09 08:36] CodePeters commented on #1315
Thanks @niki and @ranjitjhala for the replies.

Though I have some questions:

1) @nikivazou you mentioned that in order to prove `permutation xs xs` we have to write `permutation xs xs`  and this automatically unfolds. But why not do this by induction?? Induction seemed to work fine for this theorem...

2) Even if I tried to use undefined for `Cons` case this didn't seem to work, same error occur

[2018-05-10 10:10] astefano opened #1316 "[LiquidHaskell v0.8.2.4 or v0.8.2.2] compile error of example from blog"
The example of fMono from https://ucsd-progsys.github.io/liquidhaskell-blog/2016/09/18/refinement-reflection.lhs/ does not compile:

The Liquid type

     (Int -> Int) -> (Int -> _) -> Int -> Int -> _

 is inconsistent with the Haskell type

     forall a1 a2 ->
(GHC.Num.Num a1, GHC.Classes.Ord a1) =>
(a1 -> a2) -> (a1 -> ()) -> a1 -> a1 -> ()

After explicitly writing the Haskell type of fMono

`

[2018-05-10 16:17] nikivazou commented on #1316
To run this example you also need to give the Haskell type signature for `fMono`, as you figured out.
Then, to put `f` in scope you need to enable the higher order flag by writing:

[code]

Here is a demo with everything in : http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1525968879_25504.hs

I liked to hide all these details from the blog, but indeed it is confusing...

[2018-05-10 18:16] astefano commented on #1316
Thanks Niki, i've just seen that this was already addressed in a comment on the blog, i overlooked this...

[2018-05-10 18:16] #1316 closed, assigned to nobody

[2018-05-14 18:32] CodePeters opened #1317 "Error: SortChecl: lookup in Empty Env ??"
I have defined multisets below:
[code]
And permutations as:

[code]

## **_Now the error_**

First of all liquid haskell successfully proves the following theorem:

[code]
Though trying to prove:

[code]

which seems very obvious, using the previous theorem but it yields the error below:

`
:1:1-1:1: Error
  SortChecl: lookup in Empty Env
`
which seems like a bug to me...

[2018-05-14 18:50] nikivazou commented on #1317
Thanks!!! Seems like a PLE bug. This is the minimum crashing example:

[code]

The crash goes away if we
- Remove any of the flags used above or
- Switch to build-in Haskell lists.

[2018-05-14 20:13] ranjitjhala commented on #1317
Thanks for pointing out @CodePeters and thanks for the workaround @nikivazou !

Odd that the builtin list works but not the user-defined one...

[2018-05-16 18:02] nikivazou opened #1318 "Failure to prove structural termination"
The following example:

[code]

Fails with
[code]

[2018-05-16 23:05] ranjitjhala commented on #1318
So, in brief, the `structural` check needs to be extended to account for mutually recursive datatypes?

[2018-05-17 02:30] nikivazou commented on #1318
I suspect it is confused because the recursion happens inside the list that lives inside the data type, but need to check the code.

[2018-05-29 20:57] nikivazou opened #1321 "Termination is not checked on reflected functions without decreasing arguments"
E.g. the [following](http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1527627433_26017.hs) is SAFE

[code]

but gives termination error once the reflect annotation is removed.

[2018-05-29 21:03] ranjitjhala commented on #1321
! I hope you are going to fix it? :)

On Tue, May 29, 2018 at 1:57 PM Niki Vazou <notifications@github.com> wrote:

[2018-05-31 07:41] atondwal opened #1324 "Strange Behavior with implicit parameters and function bodies"
[code]

is SAFE, but
[code]
reports a failure in main.

EDIT: removed second example (completely different; it just makes True in scope for kvar soluting. see edit history)