[2019-08-31 16:37] ranjitjhala commented on #1538
Yes that is right! Let me know if it it’s too tedious — we haven’t had a
lot of use cases for improving support for function-equality so would be
great to get some!

On Fri, Aug 30, 2019 at 12:56 AM Daniel Taskoff <notifications@github.com>
wrote:

[2019-08-31 17:26] dtaskoff commented on #1538
I don't think writing that is too bothersome, especially with the existence of `--ple`.
Of course, in the ideal case, I'd like to write
[code]
instead of
[code]
but that doesn't seem to be easy to implement, at all, so maybe it won't be worth it?

[2019-09-06 22:56] mpdairy opened #1539 "What happened to the "reflection" flag?"
I'm working through the tutorial and can't get `congruence` to work, as described here:
https://www.reddit.com/r/haskell/comments/cpuha0/simple_congruence_proof_error_with_liquid_haskell/

The solution presented there, which points to https://github.com/ucsd-progsys/liquidhaskell#theorem-proving is to use the `--reflection` flag, but my version (0.8.2.4), which is the latest you can get with cabal

[2019-09-06 23:29] ranjitjhala commented on #1539
Dear Matt,

Unfortunately the version on cabal is SUPER old -- @nikivazou do you have
the cycles to update it sometime soon? --
and it predates `reflection`. You can either:

1. Use `--higher-order` which was the old name for `reflection` (IIRC), or
2. Build from github as described here:

https://github.com/ucsd-progsys/liquidhaskell/blob/develop/INSTALL.md#build-with-stack-recommended

Do let us

[2019-09-07 00:18] mpdairy commented on #1539
Ah hah, thanks! I just installed the latest from source and the reflection flag works now.

[2019-09-07 00:18] #1539 closed, assigned to nobody

[2019-09-07 00:38] ranjitjhala commented on #1539
👍

On Fri, Sep 6, 2019 at 5:18 PM Matt Parker <notifications@github.com> wrote:

[2019-09-09 19:52] mpdairy opened #1540 "vectorSum example doesn't work"
Here's the example:
[code]
I'm getting these errors:
[code]

I tried changing `length` to `V.length` (https://github.com/ucsd-progsys/liquidhaskell/issues/1170) but it's still the same error. I also tried making my own Vector type (which is just a list-like structure) and I used my own `vlen` measure function, and it still failed in the same way.

I also found an unanswered StackOverflow question

[2019-09-09 20:04] ranjitjhala commented on #1540
Hi @mpdairy -- these errors are related to "termination" i.e. proving that the recursive `go` function always terminates. Unfortunately, the tutorial _predates_ the point where termination checking was switched on by default -- and I haven't had a chance to update those chapters yet.

There are two solutions:

1. **Simple** -- _disable_ the termination checker by adding the option `{-@ LIQUID "--n

[2019-09-10 15:41] mpdairy commented on #1540
Ok thanks, I used the Simple solution and it works. I'll try the really Fun way when I'm further along in the tutorial.

[2019-09-10 15:41] #1540 closed, assigned to nobody

[2019-09-10 23:34] rosekunkel opened #1541 "Assume causes crash"
The following code causes a crash:
[code]
LH crashes with
[code]
Removing the `assume` avoids the crash.

[2019-09-10 23:44] rosekunkel commented on #1541
The crash actually still happens even without any abstract refinements, assuming exactly the Haskell type:
[code]

[2019-09-10 23:48] rosekunkel commented on #1541
I figured out that this can be worked around via
[code]

[2019-09-14 01:03] mpdairy opened #1542 "Bitvector support"
I would like to add Bitvector support to LH so that we can use bitwise operations in LH type signatures.

I made a feeble first attempt using `BV` from the `Data.BitVector` module in the `bv` library. Then I made a `Data/BitVector.spec` that had the line:

[code]

But I'm getting the error:
[code]

Then I was going to add bitvec ops to `CoreToLogic.lg`.

Of course, the problem with this, besides n

[2019-09-14 03:55] ranjitjhala commented on #1542
No it’s not hard actually; the constraint solving backend already (in fact
I wonder if we support it already...)

can you post an example of a file you’d like to have checked that uses
bitvectors?

On Fri, Sep 13, 2019 at 6:04 PM Matt Parker <notifications@github.com>
wrote:

[2019-09-14 14:39] mpdairy commented on #1542
Well, I don't have any particular file yet, but I want to specify a low level language, close to a lifted assembly language, and be able to type check for things like out of bounds array accesses.

So want to be able to do things like bitwise `&` and `|`, as well as zero extend and sign extend. Basically all the bitwise things that Z3 supports.

It looks like someone started making a LH spec for `

[2019-09-16 09:10] nikivazou commented on #1542
Since the systax of bitvector SMT-sorts is not supported, we need to hardcode the sorts in the theories supported by LH (e.g., as we did for sets: https://github.com/ucsd-progsys/liquid-fixpoint/blob/develop/src/Language/Fixpoint/Smt/Theories.hs#L68).  This is not very difficult, so if you make a concrete example, I can add this support.

Regarding the `n` parameter, Haskell's `Data.BitVector.BV`

[2019-09-16 09:17] mpdairy commented on #1542
Ok, I'll make a little concrete example. If I used something like this (http://hackage.haskell.org/package/bv-sized-0.7.0/docs/Data-BitVector-Sized.html) for my bitvectors in Haskell, would the `Nat` size parameter allow you to create BVs in Smt? If so, I'll just use those, unless you have another recommendation.

[2019-09-16 10:49] nikivazou commented on #1542
Liquid Haskell knows about type literals, so I think we can use the `Nat` parameter to pass to the SMT the proper information.

[2019-09-22 13:20] mpdairy commented on #1542
Sorry I took so long! I was on vacation. Here's a demo module that uses the `bv-sized` library:

[code]

So I'm hoping that LH will be able to tell me that my `bad` functions could result in a divide-by-zero error. These are very contrived examples, but that's the sort of thing I would like to be able to type check.

I sort of just guessed at what the LH annotations would be. There were a couple f

[2019-09-22 13:27] mpdairy commented on #1542
Let me know if you want me to make a little repo with my demo file and a working stack.yaml.

[2019-09-27 02:28] mpdairy commented on #1542
If somebody could give me a brief overview of what needs to be done to get this added, I'll take a stab at it.

[2019-09-27 05:14] nikivazou opened #1549 "incompleteness of PLE"
The following is SAFE: https://github.com/ucsd-progsys/liquidhaskell/blob/fc4c46b02b43a738e47ac1ba135be73c72f6dea0/tests/todo/T1549.hs#L9-L17

By completeness of PLE the following should also be safe:

[code]

Currently, PLE is just crashing, but even if it did not, it would not be able to prove the theorem, since `.` does not appear fully applied, so it will not unfold.

[2019-09-27 06:45] nikivazou commented on #1538
Hi @dtaskoff,
I added support for the `(.)` haskell function, so on develop you can use `.` on refinements and your proof. But extensionality, yes, is not at all easy to implement or automatically derive.

Shall we close the issue?

[2019-09-28 09:40] nikivazou commented on #1549
^^ @ranjitjhala

[2019-09-28 09:49] nikivazou opened #1551 "Function identity is not propagated"
e.g., the following is unsafe: https://github.com/ucsd-progsys/liquidhaskell/blob/b31fb8e2f949945a3d9a7b6032dd26bffcbdf384/tests/todo/T1551.hs#L6-L12

and turns safe when `(??)` is explicitely refined with the equality on the result:
https://github.com/ucsd-progsys/liquidhaskell/blob/b31fb8e2f949945a3d9a7b6032dd26bffcbdf384/tests/todo/T1551.hs#L16-L23

[2019-09-28 13:57] ranjitjhala commented on #1549
Why does it crash? (Ie what is the error?)

On Sat, Sep 28, 2019 at 2:41 AM Niki Vazou <notifications@github.com> wrote:

[2019-09-28 14:04] ranjitjhala commented on #1549
My hunch is the crash has to do with the type of “second”, specifically the
quantifier in the output probably messes up the sorts in the refinements.

On Sat, Sep 28, 2019 at 6:57 AM Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

[2019-09-29 11:28] dtaskoff commented on #1538
Thank you very much, being able to use (.) is very convenient!

[2019-09-29 11:28] #1538 closed, assigned to nobody

[2019-09-29 13:30] nikivazou commented on #1549
My hunch is the same. The crash is the following
[code]

I am not so concerned about this, we can fix it.
What is interesting is that ple will not be able to prove the theorem (see the description of the issue) which means that ple is not actually complete.

[2019-09-29 14:23] ranjitjhala commented on #1549
PLE cant prove everything that’s True N— that’s not what “complete” means
:-)

There’s a very specific notion of proofs it is complete for, and partial
applications, unfortunately, are outside that set.

I think in theory this would not be hard to fix. In practice, however, it
would require dealing with lambdas- in the refinements...

On Sun, Sep 29, 2019 at 6:30 AM Niki Vazou <notifications@githu

[2019-09-29 14:26] ranjitjhala commented on #1549
That is to say, I *think* If we managed to get proper support for
beta-reduction in PLE, this would work.

On Sun, Sep 29, 2019 at 7:23 AM Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

[2019-09-29 17:35] nikivazou commented on #1549
Makes sense, I did not realize we explicitly had partial applications out of the completeness domain, so I was surprised that such case did not appear in the completeness proof of PLE.

Still leaving the issue open to fix the crash.

[2019-09-29 22:05] Luke-Dramko opened #1552 "Installation issue for macOS via cabal"
I've run into an issue attempting to install liquidhaskell via cabal following the instructions at
https://github.com/ucsd-progsys/liquidhaskell/blob/develop/INSTALL.md.

I consistently get the following error after about a minute or so of compilation:
[code]

I'm on macOS Mojave, 10.14.6.

I have ghc installed, version 8.6.5.

The `mathsat` executable (version 5.5.4) is in `/usr/local/bin/`, whic

[2019-09-29 22:09] ranjitjhala commented on #1552
Very strange, thanks for the heads up, will look into it ASAP!

On Sun, Sep 29, 2019 at 3:06 PM Luke-Dramko <notifications@github.com>
wrote:

[2019-10-01 20:54] ranjitjhala commented on #1542
Hi Matt,

Sorry have been a bit tied up with stuff; I'll try to take a look at this
tonight!

You (probably) don't have to fiddle too much with Z3 because
`liquid-fixpoint` the
backend constraint solver we use to interface to SMT has _some_ code for
this to
support bitvector literals and bit-wise and/or, e.g. see

https://github.com/ucsd-progsys/liquid-fixpoint/blob/develop/src/Language/Fixpoint/S

[2019-10-02 23:17] rosekunkel opened #1554 "Abstract refinements inference failing"
I have a function which verifies if I split it in half and provide a refinement on an intermediate type, but which fails to verify as a single function. The point at which I need to split it is where a refinement moves from a type to an abstract refinement parameter of a data type. Here's the code:
[code]
This verifies, but combining it as
[code]
does not. The complete code can be found here: http

[2019-10-02 23:18] rosekunkel commented on #1554
@nikivazou can you help me with this? I have no idea where I would even begin to look.

[2019-10-03 07:16] nikivazou commented on #1554
Sure! Does verification of the combined function still fails if you keep the two separate functions?
That is:
1) keep the first code snippet as is and
2) remane the `home` function of the second snippet to `homeAll`. Is `homeAll` safe or unsafe?

[2019-10-03 21:12] rosekunkel commented on #1554
I'm not sure if this is what you mean exactly, but `homeAll` here does not verify:
[code]

[2019-10-04 20:09] nikivazou opened #1555 "Forall types are unrefined which can get imprecise and unsound"
Consider

[code]

since `ForAll a` does not have a top level refinement it will not propagate information, e.g., the following fails

[code]

WORSE, the top level refinements of `forall` are ignored, leading to **unsoundness**. e.g., the following is SAFE

[code]

The solution I see is to add top refinements to forall. @ranjitjhala objections?

[2019-10-04 20:11] nikivazou commented on #1555
The code is here: https://github.com/ucsd-progsys/liquidhaskell/blob/11ae5342983221a262cc92887e981afe350b87c3/tests/todo/T1555.hs

[2019-10-04 20:23] ranjitjhala commented on #1555
Go for it!

On Fri, Oct 4, 2019 at 1:12 PM Niki Vazou <notifications@github.com> wrote:

[2019-10-06 08:06] nikivazou opened #1556 "Error in type alias substitutions"
The following:
[code]

Errors with
[code]

which goes away when the alias is defined without `b` (which gets shadowed)

[code]

[2019-10-06 23:14] BillHallahan opened #1558 "Diff 0.4 breaks orphan Functor Diff instance"
The new version of the Diff package (version 0.4.0) switched Diff from a datatype with a single constructor:
[code]
to a type synonym for a type with two type variables:
[code]
This causes an error when building [Language.Haskell.Liquid.DiffCheck](https://github.com/ucsd-progsys/liquidhaskell/blob/develop/src/Language/Haskell/Liquid/UX/DiffCheck.hs#L388), which declares a Functor instance for Diff

[2019-10-07 07:05] #1558 closed, assigned to nobody

[2019-10-07 07:07] nikivazou commented on #1558
Thanks! I added the bounds `Diff >= 0.3 && < 0.4` and revised hackage as you suggested. Is it ok now?

[2019-10-07 15:55] BillHallahan commented on #1558
Thanks!  Would it be possible to also update the bounds for some of the older versions? In particular, I'm currently using back to 0.8.2.2.

[2019-10-07 16:02] ranjitjhala commented on #1558
Bill, it may be easier to use stack to build those?

On Mon, Oct 7, 2019 at 8:56 AM BillHallahan <notifications@github.com>
wrote:

[2019-10-07 17:18] BillHallahan commented on #1558
Hm, Ok.  I'll look into that.

[2019-10-08 06:57] nikivazou commented on #1554
@rosekunkel  that is what I meant, looking into it now.

BTW, to run it, you do `stack install; cd src; stack exec -- liquid Main.hs`?

Also, the abstract refinement of the type of `home` are dual to the ones on the other two types. This is on purpose, correct?

[2019-10-08 07:01] nikivazou commented on #1554
Nope, you do something else, I did  `stack install; cd src; stack exec -- liquid Main.hs` and got

[code]

Maybe you are using a different version of LH?

[2019-10-08 07:20] rosekunkel commented on #1554
I do `stack build && stack exec -- liquid -i src --prune-unsorted src/Main.hs`

[2019-10-08 07:21] rosekunkel commented on #1554
Are you on the `persistent-integration` branch?

[2019-10-31 21:57] yiyunliu opened #1560 "reflected equations are always saturated"
The following code is marked as unsafe:

[code]

In Haskell, if we write down: `f = g`, it is not always the case that f and g are the same since they may still have different type signatures. However, if they share the same type, then we should be able to conclude that `f = g` rather than the weaker statement that `forall x. f x = g x`.

Currently, the equation is saturated:
[code]
Is it possible

[2019-11-01 00:12] yiyunliu commented on #1560
Looks like it's not as simple as I imagined. I wrote a function which translates things of the form:
[code]
into
[code]
so the equation now looks like:
[code]
However, the program still won't typecheck.

[2019-11-01 02:29] spacekitteh commented on #1474
@ranjitjhala while trying to verify polysemy, I am receiving the #1478 error, with the latest source.

[2019-11-01 03:04] ranjitjhala commented on #1474
Hi @nikivazou -- any chance you can look at this sometime soon? - Ranjit.

[2019-11-01 03:05] ranjitjhala commented on #1474
I also see bang-patterns / strictness annotations in #1478 ... ? @spacekitteh -- can you paste a file or tell us how we can reproduce? Or are you getting exactly the same error as in #1478 (on that same code shown there?)

[2019-11-01 03:32] spacekitteh commented on #1474
In the `polysemy` directory:

[code]

[2019-11-01 10:00] nikivazou commented on #1474
I cannot reproduce the error.
@spacekitteh can you simplify the file? That is, generate a module that has the smallest code required to produce this error?

[2019-11-06 13:55] nikivazou opened #1561 "AppVeyor stack overflow error"
@varosi I get the following error on AppVeyor at the https://github.com/ucsd-progsys/liquidhaskell/commits/refine-forall branch. I suspect we need to upgrade `z3` but not sure how... Any ideas?

[code]

[2019-11-06 23:24] alanz opened #1562 "Suppress other output for '--json'"
Prior to version `0.8.6.2`, the `--json` flag would suppress all output except for the result, in json format.

We now have

[code]

The old version output would be

[code]

Erroneous version:

[code]

[2019-11-07 05:56] nikivazou commented on #1562
That's why I got a json error in VSCode!

This change is because Liquid is now re-checking all imported files that are changed.

[2019-11-07 14:13] ranjitjhala commented on #1562
So the extra stuff is the “checking ...” line? We can disable it in json
mode should be very easy to fix!

On Wed, Nov 6, 2019 at 9:56 PM Niki Vazou <notifications@github.com> wrote:

[2019-11-07 15:08] nikivazou commented on #1560
Here is a possible solution

[code]

The type of `g` is refined (or manually reflected) so that the equality of its definition is preserved at each argument application.

[2019-11-08 20:59] nikivazou opened #1566 "CircleCi is not fetching the last fixpoint submodule"
E.g. FP is properly updated but develop is fetched by circle in the following commit:

https://github.com/ucsd-progsys/liquidhaskell/tree/48f6f82b3bb93c09115fa3a0fe930e302add0a92

[2019-11-09 07:48] #1555 closed, assigned to nobody

[2019-11-09 07:53] nikivazou commented on #1566
Reported in stack: https://github.com/commercialhaskell/stack/issues/5080

[2019-11-09 09:21] #1561 closed, assigned to nobody

[2019-11-09 20:42] rosekunkel opened #1568 "Malformed constraint related to monad transformers"
The following file produces a malformed constraint error:
[code]

The error is
[code]

Stripping away the refinements, the malformed constraint is:
[code]
so somehow the type arguments are getting switched.

[2019-11-09 20:44] rosekunkel commented on #1568
This seems to be the same error: #1311

[2019-11-09 21:49] ranjitjhala commented on #1568
Does the core contain cast or coerce?

On Sat, Nov 9, 2019 at 12:45 PM Rose Kunkel <notifications@github.com>
wrote:

[2019-11-09 22:07] rosekunkel commented on #1568
It has cast in it in some places:
[code]

[2019-11-10 21:07] yiyunliu commented on #1560
Interesting. This approach doesn't break the invariant that the equations have to be saturated while it still keeps the information that f = g.
If you are busy I can try fixing this myself.

[2019-11-11 08:33] nikivazou commented on #1568
It is a bug, I am into it.
The above "fix" moves the error from the instance definition to its call side.

[2019-11-11 14:46] ranjitjhala commented on #1568
Thanks @nikivazou!

On Mon, Nov 11, 2019 at 12:33 AM Niki Vazou <notifications@github.com>
wrote:

[2019-11-15 13:35] #1568 closed, assigned to nobody

[2019-11-15 13:36] nikivazou commented on #1568
@rosekunkel  can you check all is good?

[2019-11-18 00:45] rosekunkel opened #1571 "Malformed constraint caused by quantification in typeclass method + constraints"
This code:
[code]
causes LH to crash with this error:
[code]
Removing the `MonadController m` constraint or specializing `a` to a concrete type in the type of `respond` makes the problem go away.

[2019-11-18 00:46] rosekunkel commented on #1568
This problem seems resolved, but now I've uncovered a new one: #1571

[2019-11-18 17:15] nikivazou commented on #1571
@rosekunkel, I will take a look at this next week.

[2019-11-20 10:14] nikivazou commented on #1560
Hi @yiyunliu, sorry for the delay but it was not clear how to address this problem.
There are two solutions: either edit the generation of reflected signatures to be more precise or saturate the refinements before they are send to PLE/SMT. I believe the second is the correct approach and will solve other limitations of reasoning about partially applied functions.

@conal also had similar concerns

[2019-11-25 22:35] #1571 closed, assigned to nobody

[2019-12-16 14:57] jprider63 opened #1576 "Detect unsound behavior"
I have a bit of time, so I plan to work on this. My plan is to:

- Generate a warning when unsafe behavior is encountered. This will happen when:
  - Functions in a black list (including `undefined`) appear in an expression
  - Refinements are declared with `lazy` or `assume`
- This warning will be enabled by default and will have the flags `-Wdetect-unsafe` and `-Wno-detect-unsafe`.
- I might add

[2019-12-16 15:00] nikivazou commented on #1576
You can also break termination checking when you have negative data type definitions, but this looks more complicated to deted

[2019-12-16 15:06] ranjitjhala commented on #1576
This would be amazing thanks James!!

On Mon, Dec 16, 2019 at 7:01 AM Niki Vazou <notifications@github.com> wrote:

[2019-12-16 22:18] jprider63 commented on #1576
I have [some code](https://github.com/jprider63/liquidhaskell/tree/unsound.jp) that works toward checking a blacklist. I'm not sure how to check whether a `Var` is in the list though. It appears that the name and unique identifier of `undefined` is being modified. For example, this code generates the following trace output. Do you have any suggestions?

[code]

[code]

[2019-12-16 22:59] ranjitjhala commented on #1576
Why don't you run with `-v` and see what the generated core is? It should
suffice to check if `undefined` is in the set of `readVars` e.g. see uses
of this function:

https://github.com/ucsd-progsys/liquidhaskell/blob/develop/src/Language/Haskell/Liquid/Types/Visitors.hs#L43-L44

On Mon, Dec 16, 2019 at 2:19 PM JP <notifications@github.com> wrote:

[2019-12-18 18:44] jprider63 commented on #1576
`undefined` is in the generated core. For some reason, its `Unique` doesn't match what is in `PrelNames.undefinedKey` though. We see `rt` instead of `02v`. For now, I've switched to a string comparison hack, but I'll keep investigating.

Besides this hack, most of the functionality is working in my branch. This is what needs to be improved:

- Don't use strings comparison for blacklist check
- Fig

[2019-12-19 20:37] jprider63 commented on #1560
This is fixed now right? Can we close this?

[2019-12-21 10:32] nikivazou opened #1579 "Check equality on domain and range on function equality."
https://github.com/ucsd-progsys/liquidhaskell/pull/1578 added reasoning for function equality, but does not take into account equality of the functions domain/range. E.g.,

[code]

LH now proves that `plus1a = plus1b` (which is wrong, since they have different domains).
Instead `plus1b = plus1c` should be the only correct equality (which now it is not, because equality is checked for each `Int` in

[2019-12-21 15:24] ranjitjhala commented on #1579
Idk this seems very non trivial; I’d advise sticking with the classical def
which is all inputs...

On Sat, Dec 21, 2019 at 2:32 AM Niki Vazou <notifications@github.com> wrote:

[2020-01-02 10:26] nikivazou opened #1581 "SMT crashes on not well-founded data types"
e.g., the following

[code]

crashes with

[code]

We should add a LH check to error non well-founded datatypes.

[2020-01-02 16:15] ranjitjhala commented on #1581
Yes we should check if the data type *can* be embedded in SMT and only do
so if possible instead of crashing. This is super important; many people
have been bitten by it :-(

On Thu, Jan 2, 2020 at 2:26 AM Niki Vazou <notifications@github.com> wrote:

[2020-01-13 14:58] adinapoli commented on #1566
Hey @nikivazou! I have been looking at this issue and I hope I can say with a certain degree of certainty I have found the culprit.  To reproduce the issue, I have created my own minified Github project which uses a submodule, to mimic what `liquidhaskell` does here with `liquid-fixpoint`:

https://github.com/adinapoli/circle-ci-git-submodules

As you can see, the idea is simple: I depend on a sep

[2020-01-13 15:17] nikivazou opened #1583 "Information lost on dependent pair syntax"
The following is SAFE:

[code]

When dependent pair syntax is introduced it gets UNSAFE:

[code]

Desugaring the above syntax to abstract refinements is again safe:

[code]

[2020-01-13 16:48] ranjitjhala commented on #1583
Yes I’ve seen strange things like this happen with the pair syntax ...
would be great to fix

On Mon, Jan 13, 2020 at 7:17 AM Niki Vazou <notifications@github.com> wrote:

[2020-01-13 20:10] nikivazou commented on #1566
Thanks a lot @adinapoli ! Makes sense.

[2020-01-13 20:10] #1566 closed, assigned to nobody

[2020-01-14 09:42] nikivazou commented on #1566
BTW, @adinapoli I run into this issue when I updated lts so I created this issue https://github.com/commercialhaskell/stack/issues/5080
Do you think it is irrelevant with lts upgrade and we should close the issue on commercialhaskell?

[2020-01-14 09:53] adinapoli commented on #1566
Hey Niki!

I think we should indeed close the issue -- I suspect the fact the problem manifested while you were upgrading snapshots was a red herring here. We can always re-open in the future in case we'll observe a stronger correlation 😉

[2020-01-14 10:35] adinapoli opened #1584 "Make tests not stack-dependent"
Currently `mkTest` [assumes](https://github.com/ucsd-progsys/liquidhaskell/blob/develop/tests/test.hs#L462) that `liquid` has been installed/provisioned via `stack`, but this might not be true for users using `cabal`.

In particular, it took me a while to realise why on my machine calling `cabal new-test` was hanging indefinitely, and only when I (accidentally) tried to run `stack test` (so that t

[2020-01-14 10:51] adinapoli commented on #1584
~~I do wonder if using `binDir` as before (cfr. commented-out code) is indeed the cleanest solution, as the user can always override the choice by doing `export liquidhaskell_bindir=/path/to/custom/liquid`.~~

~~Alternatively, we could pass some optional test option to tweak the behaviour, but that feels slightly overkill.~~

After playing a bit with the tests, perhaps the path of least resistance

[2020-01-14 15:57] ranjitjhala commented on #1584
Hi Alfredo,

this code is certainly a bit old (perhaps predating the recent advances in
cabal).
My sense is that if there is some easy way to generalize then we can do it,
otherwise
maybe it is of lower priority?

Would *certainly* accept a PR if you or someone else knows how to do it!

Thanks!

- Ranjit.

On Tue, Jan 14, 2020 at 2:51 AM Alfredo Di Napoli <notifications@github.com>
wrote:

[2020-01-14 17:53] ranjitjhala commented on #1562
Maybe @adinapoli would like to take a look? (should be quite easy...)

[2020-01-15 14:14] adinapoli opened #1586 "Remove `--c-files` from extraOptions for benchmarks"
The [extraOptions](https://github.com/ucsd-progsys/liquidhaskell/blob/develop/tests/test.hs#L499-L533) in the testsuite are used to pass extra arguments to some tests which provide "benchmarks" for some libraries like `text` or `bytestring`. Unfortunately, running the testsuite with `cabal new-exec` as a runner (see #1584) will generate failures in some tests. For example, running:

[code]

Would

[2020-01-16 15:09] adinapoli opened #1589 "Create CircleCI task to build the project using Cabal"
After #1584 and #1586 will be closed, we would be in the position to build the project with Cabal and potentially with unreleased GHC versions via something like [head.hackage](https://ghc.gitlab.haskell.org/head.hackage/).

It would be nice to capitalise on this by creating a CircleCI job (to be run alongside the stack one) so that we can at least automatically test as part of CI that we cannot i

[2020-01-21 16:09] #1586 closed, assigned to adinapoli

[2020-01-21 16:16] #1562 closed, assigned to adinapoli

[2020-01-24 19:58] michaelborkowski opened #1591 "LH runs forever on my code when totality checking is on"
While attempting to mechanize a proof of type soundness and termination for a simply typed lambda calculus, I found that the module would pass as Safe when --no-totality is enabled, but LH will run forever (getting stuck during the "Working" phase) when --no-totality is turned off.

There's only one major proof here, called main_lemma. There's a 5-way case split on the typing derivation:

[code]

[2020-01-24 20:22] michaelborkowski opened #1592 "When importing ProofCombinators for inductive propositions, using v as a binder in refinements causes error"
When we're using the inductive proposition helpers from ProofCombinators.hs:

[code]

that variable v in the refinement of Prop E above will conflict with with any binder v used in dependent refinements that mention Prop.  Here's an example:

[code]

This fails with an error on ENum and an error on EAdd. For instance, here v is both of type STLC.BStep and being bound to Int:

[code]

The code pass

[2020-01-25 01:02] ranjitjhala commented on #1591
Thanks Michael, can you put it in a separate file/gist so it’s frozen? From
the name it looks like this one may change over time?

On Fri, Jan 24, 2020 at 11:59 AM Michael Borkowski <notifications@github.com>
wrote:

[2020-01-25 06:17] yiyunliu opened #1593 "higher-kinded data type definition causes ghc error"
It seems to happen when the type parameter m appears within a function type (first two cause the error and the third one is fine):
[code]

Here's the full error message:
LiquidHaskell Version 0.8.6.0, Git revision f0958eeb3fb35406ad05f2fe25d99f08ac091b14 (dirty) [develop@f0958eeb3fb35406ad05f2fe25d99f08ac091b14 (Tue Jan 21 08:16:34 2020 -0800)]
Copyright 2013-19 Regents of the University of Califo

[2020-01-25 16:34] nikivazou commented on #1593
I have to debug the translation of `Things` to STM data declarations. Meanwhile if you run it with the `"--no-adt"` flag the error goes away.

[2020-01-25 16:50] yiyunliu commented on #1593
That is indeed the case. However, if the goal is to refine the data types, then the adt will be generated in the refinement logic regardless of "--no-adt", right?

[2020-01-25 16:54] yiyunliu commented on #1593
For example, if I add the refinement, I will end up getting the same error message even with "--no-adt" on:
[code]

[2020-01-25 17:57] nikivazou commented on #1591
Thanks!
1. Have you set the `--max-case-expand=INT` flag?
2. Can you split your proof to modules where the `main_lemma` is the only function defined in the module? It would be easier for us to understand what triggers the leak then.

[2020-01-26 02:44] michaelborkowski commented on #1591
I've tried different values of --max-case-expand= but it didn't seem to have an effect.

Here's the module-ized version:
https://github.com/michaelborkowski/liquidmeta/blob/master/snapshots/STLC_20200125/Lemma.hs

(the extra assignment statements are the workaround to [issue 1394](https://github.com/ucsd-progsys/liquidhaskell/issues/1394) )

[2020-01-26 20:16] ranjitjhala commented on #1592
This is the thing we talked about last week, right?

On Fri, Jan 24, 2020 at 12:23 PM Michael Borkowski <notifications@github.com>
wrote:

[2020-01-27 17:50] michaelborkowski commented on #1592
Yes, that's the one.

The workaround for now is to define our own `Prop` and `prop` and use a variable in place of `v` that is unlikely to be repeated. However a different name needs to be chosen for our `prop` because we can't hide `prop` when importing ProofCombinators (because `prop` is only defined in an annotation).

[2020-01-27 17:50] michaelborkowski commented on #1592
Yes, that's the one.

The workaround for now is to define our own `Prop` and `prop` and use a variable in place of `v` that is unlikely to be repeated. However a different name needs to be chosen for our `prop` because we can't hide `prop` when importing ProofCombinators (because `prop` is only defined in an annotation).

[2020-01-27 17:50] michaelborkowski commented on #1592
Yes, that's the one.

The workaround for now is to define our own `Prop` and `prop` and use a variable in place of `v` that is unlikely to be repeated. However a different name needs to be chosen for our `prop` because we can't hide `prop` when importing ProofCombinators (because `prop` is only defined in an annotation).

[2020-01-28 02:18] #1560 closed, assigned to nobody

[2020-01-28 03:52] #1593 closed, assigned to nikivazou

[2020-01-28 04:05] ranjitjhala commented on #1593
Niki I believe no-adt doesn’t fix it did you see above?

On Mon, Jan 27, 2020 at 7:52 PM Niki Vazou <notifications@github.com> wrote:

[2020-01-28 05:56] nikivazou commented on #1593
Yes, I fixed with a PR :)

[2020-01-28 14:38] ranjitjhala commented on #1593
Super 😊

On Mon, Jan 27, 2020 at 9:56 PM Niki Vazou <notifications@github.com> wrote:

[2020-01-30 17:08] nikivazou opened #1595 "Type Variable Position is miscomputed when data types are imported"
[code]

[code]

The error goes away when the [rtv_is_pol (ty_var_info α)](https://github.com/ucsd-progsys/liquidhaskell/blob/develop/src/Language/Haskell/Liquid/Constraint/Generate.hs#L817) is removed.

So we should either 1/make the positivity check optional or 2/fix the way variable positions are computed in the imported data types.

[2020-01-30 18:00] ranjitjhala commented on #1595
I'd go for (2) fix the way the positions are computed in imported types.

Why is there a difference in how the positions are computed anyway?

On Thu, Jan 30, 2020 at 9:09 AM Niki Vazou <notifications@github.com> wrote:

[2020-01-30 18:59] nikivazou commented on #1595
On Thu, Jan 30, 2020, 19:00 Ranjit Jhala <notifications@github.com> wrote:

I wonder the same thing... Need to debug

[2020-01-31 21:29] wenkokke opened #1596 "Reflection fails with negate"
There's a problem with Haskell's `negate` and unary negation being interpreted by Liquid Haskell as minus, as far as I can tell.

The following piece of code defines two versions of the (real) number `-1.0`:

[code]
The first version, `yay`, is fine. However, the second version, `boo`, fails, with the following error:
[code]
In fact, a variant using `negate` also fails, with the same error:
[code]

[2020-01-31 21:53] ranjitjhala commented on #1596
Hmm thanks for pointing this out! Don’t think it’s the space issue because
that would cause some parse error. I have a feeling it’s because we’ve not
tested the reflect code at all with double — let me check! Thanks!

On Fri, Jan 31, 2020 at 1:30 PM Wen Kokke <notifications@github.com> wrote:

[2020-01-31 22:18] ranjitjhala commented on #1596
Even more puzzling, the below works fine:

[code]

@nikivazou this is because for some reason we had a special case `ENeg` for unary negation
instead of using the `EBin Minus Zero e` -- and it looks like that doesn't work for the `FReal` sort...

[2020-01-31 22:30] wenkokke opened #1597 "Reflection fails with divison"
I don't think reflection of real number division is supported in Liquid Haskell, even though it is supported in the SMT language, e.g., as used [here](https://github.com/ucsd-progsys/liquidhaskell/blob/develop/include/GHC/Real.spec#L8).

The following piece of code defines two reflected operators, addition and negation, for real numbers:

[code]
The first version, `plus`, is fine. However, the sec

[2020-01-31 23:37] #1596 closed, assigned to nobody

[2020-02-03 08:19] nikivazou commented on #1596
Thanks @ranjitjhala !!!

[2020-02-03 10:03] nikivazou commented on #1597
@wenkokke thanks for reporting! Should be fixed now!

[2020-02-03 10:33] nikivazou commented on #1595
This cannot just be fixed, will turn the positivity check optional.

1. It is a good example that positive only variables should be able to get arbitrarily instantiated. e.g., in the empty map `empty :: Map k v` both `k` and `v` are positive. But, we would like to use the empty map as `Map {v:Int | 0 <= v} v`. (which cannot work with the positivity check on).

2. More importantly, we turned this p

[2020-02-03 14:01] nikivazou commented on #1591
@michaelborkowski I took a look at this, and with the totality check you are actually putting MANY things for LH to prove. So, it is expected to be so slow.

When you have totality check on, for, say `data AOrB = A | B`, if you write
[code]

you ask LH to prove that `foo 5` always returns `B`.
In your code, you do such a thing on all the recursive calls of `main_lemma`.

My suggestion is to rewrit

[2020-02-03 16:08] #1597 closed, assigned to nobody

[2020-02-03 16:39] wenkokke opened #1601 "Reflection captures bound name"
This is a bit of a frustrating bug report to write.

There is a problem with reflection that I've encountered several times, but it's unclear to me how to minimize my code to isolate the issue. I am writing a tool for verifying neural networks using Liquid Haskell. At the moment, [my project](https://github.com/wenkokke/leadbeater) fails to compile with the following error:
[code]
I've omitted a h

[2020-02-03 16:44] ranjitjhala commented on #1601
Ouch sorry about this! Is there some way you can point us to your repo so
we can try to replicate? Specifically I’m wondering what the definition of
the various VectorX aliases look like...

On Mon, Feb 3, 2020 at 8:39 AM Wen Kokke <notifications@github.com> wrote:

[2020-02-03 16:46] wenkokke commented on #1601
There's a bunch of links into my repository in the bug report itself. The aliases for `Vector` are defined [here](https://github.com/wenkokke/leadbeater/blob/master/src/Leadbeater/LinearAlgebra.hs#L46-L48). I've been trying to follow [this tutorial](https://ucsd-progsys.github.io/liquidhaskell-tutorial/07-measure-int.html#/dimension-safe-vector-api) fairly closely.

[2020-02-03 16:47] ranjitjhala commented on #1601
Ah just saw the “my project” link will take a look ...

Btw I’m guessing you’ve tried renaming the “xs” in both the signature and
code of norm?

On Mon, Feb 3, 2020 at 8:44 AM Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

[2020-02-03 16:53] wenkokke commented on #1601
I hadn't tried that, but I just have. It seems the variable `xs` from the _type signature_ is ending up in the reflection somehow:
[code]
[code]

[2020-02-03 16:57] wenkokke commented on #1601
If I comment out the type signature, the error message changes to:
[code]
Which looks like some Liquid Haskell internals to me?

[2020-02-03 18:24] ranjitjhala commented on #1601
Yes, I worry this is some gross PLE related bug...

[2020-02-03 22:03] ranjitjhala commented on #1601
oh yikes looking again, I see there are "lam" in the refinements? 

In general, the interaction of PLE and lambdas in refinements
is very suspect and I'd advise against using lambdas in
refinements at all... 

Even more puzzling, I thought the `lam` comes from the partially
applied `rdiv` in `norm`  but the following works fine:

[code]

Even *more mysteriously* if we use `(`add` 1)` LH grumbles..

[2020-02-04 14:31] wenkokke commented on #1601
I've tried replacing `rdiv` with `rdiv'`, both defined as above and using `(/)` directly. Unfortunately, neither solves the problem.

[2020-02-04 15:00] ranjitjhala commented on #1601
Hmm can you remind me how you’re running LH to reproduce this? Will try to
take a look today. Thanks!

On Tue, Feb 4, 2020 at 6:31 AM Wen Kokke <notifications@github.com> wrote:

[2020-02-04 15:36] wenkokke commented on #1601
I'm running `make test`, which runs:
[code]
It already fails on the first command, so my cabal setup isn't super relevant.

[2020-02-04 20:18] ranjitjhala commented on #1601
Hi @wenkokke -- when I do a fresh clone of your repo and run `make test` things seem to work out fine (see attached screenshot) -- maybe you've edited it to sidestep the issue? Could you point me to a commit that shows the problem? Thanks!

<img width="1245" alt="Screen Shot 2020-02-04 at 12 17 07 PM" src="https://user-images.githubusercontent.com/1650232/73783317-548d8680-4748-11ea-9484-535652871

[2020-02-04 23:28] wenkokke commented on #1601
Ah, darn, I'm sorry. My master branch has the offending reflect pragmas commented out, since I'm continuing work on that.

[2020-02-04 23:34] wenkokke commented on #1601
I've created [the `issue-1601` branch](https://github.com/wenkokke/leadbeater/tree/issue-1601) for you, with a version which reproduces the reported error. Thanks so much for looking into this!

[2020-02-04 23:59] ranjitjhala commented on #1601
Thanks @wenkokke !

Hmm.. @nikivazou -- I think there is something fishy going on here that may have to do with your recent changes for function equality? Specifically, given the code:

[code]

PLE generates the odd equality:

[code]

where indeed `bar` is out of scope. The above looks like some malformed version of the term:

[code]

but where you have somehow eta-contracted (is that a word?) by

[2020-02-05 00:03] ranjitjhala commented on #1601
Indeed, looking at the .fq I see:

[code]

So I'm wondering where this mysterious `Leadbeater.Network.norm == Leadbeater.LinearAlgebra.map (Leadbeater.Prelude.plus (Leadbeater.LinearAlgebra.sumPos bar))` term is coming from ...???

[2020-02-05 00:18] ranjitjhala commented on #1601
Aha. @nikivazou  -- it is _most certainly_ related to that because when I comment this line out

https://github.com/ucsd-progsys/liquid-fixpoint/blob/develop/src/Language/Fixpoint/Solver/Sanitize.hs#L52

@wenkokke's code works fine...

I am reverting your change right now, to get Wen unstuck I think you may want to use their example to debug your eta-elim?

[2020-02-05 00:23] ranjitjhala commented on #1601
Hi @wenkokke -- I made a branch

https://github.com/ucsd-progsys/liquidhaskell/tree/T1601

where your particular problem appears solved; will merge into `develop` soon pending CI and perhaps some deprecating of tests that depend on the suppressed feature...

Can you LMK if it works?

Best!

[2020-02-05 05:21] ranjitjhala commented on #1601
Hi @wenkokke -- this should be fixed in `develop` please LMK if not!

@nikivazou -- see the above bug in the `elimEta` the diff in the above PR #1602 should be pretty explanatory?

Thanks!

[2020-02-05 11:55] wenkokke commented on #1601
I've just tried, and everything works now! Thank you so much for all your effort!

[2020-02-05 15:18] nikivazou commented on #1601
Actually, elimEta on PLE is not mine ;)

@yiyunliu if you have time, can you take a look?
In short, the elimEta of fixpoint crashes the code above. It is not urgent since it is flagged now, but if you can take a look at this before me, it would be great!

Let me open the issue again, in hope of providing a proper fix to elimEta.

[2020-02-05 17:25] yiyunliu commented on #1601
I can see what's going on here. elimEta takes the function:
[code]
then naively turns it into:
[code]
I'll add a check to see if the binder is free so it won't mistakenly get rid of the binder when it's needed.

[2020-02-05 17:33] nikivazou commented on #1601
oh thanks!

[2020-02-06 01:21] yiyunliu opened #1603 "CoreToLogic: and/or embedding is broken"
I encountered this issue when trying to reuse coreToLogic to turn the elaborated core expression back to fixpoint expression.
[code]
This file gives back the following error message:
[code]

By examining [https://github.com/ucsd-progsys/liquidhaskell/blob/11cc7e31c26d7e4f644397beb9ee808114f48fc9/src/Language/Haskell/Liquid/Transforms/CoreToLogic.hs#L387](url), I figured out why things would go wro

[2020-02-06 03:27] ranjitjhala commented on #1603
Wow that’s nasty! Your fix sounds reasonable!

On Wed, Feb 5, 2020 at 5:21 PM Yiyun Liu <notifications@github.com> wrote:

[2020-02-06 13:20] wenkokke opened #1604 "Reflection causes type specifications to be interpreted as assumptions"
It seems that using reflection causes type specifications to be interpreted as assumptions. For instance, the following code is SAFE, according to Liquid Haskell:
[code]
My guess is that the type specification for `ex1` is interpreted as an assumption, instead of as something to be checked, which causes Liquid Haskell to deduce `4 == 5`, which causes the logic to become inconsistent. As you can se

[2020-02-06 15:41] ranjitjhala commented on #1604
This is most alarming! Will look at it ASAP! Thanks for letting us know!

On Thu, Feb 6, 2020 at 5:21 AM Wen Kokke <notifications@github.com> wrote:

[2020-02-06 15:44] ranjitjhala commented on #1604
Specifically, I think your hunch is right: the signature *should* be
checked before “strengthening” with the body, but somehow that’s not
happening!

On Thu, Feb 6, 2020 at 7:41 AM Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

[2020-02-07 10:18] nikivazou commented on #1604
Actually, the program is SAFE when you have `ple` on (not `reflection`).
So, @ranjitjhala I suspect the ple knowledge adds an inconsistency; are you on it?

[2020-02-07 15:54] ranjitjhala commented on #1604
It would be great if you can take a look — the bug is not in PLE it’s that,
as Wen says, afaict we don’t check the signatures of reflected functions.

On Fri, Feb 7, 2020 at 2:19 AM Niki Vazou <notifications@github.com> wrote:

[2020-02-07 16:01] ranjitjhala commented on #1604
As in, yes you are right: ple is what is adding the falls in but the real
problem is not the adding of the falls in because that’s already there in
the spec it is that the spec is wrong and should be checked...

On Fri, Feb 7, 2020 at 7:54 AM Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

[2020-02-10 19:25] yiyunliu commented on #1490
Here's a minimal example I can produce for this issue. The use case arises when defining instance functions of the form: Semigroup a => Semigroup (Dual a) where Dual is a newtype:
[code]

[2020-02-11 07:20] nikivazou commented on #1604
@wenkokke should be fixed. Can you confirm? Thanks!!!

[2020-02-11 08:07] theodoretliu opened #1609 "Unexpected ":""
Hi, I'm relatively new to Liquid Haskell, but was curious about using the type system for a project of mine. The basics of my code are below:

[code]
but when I try to run `liquid` on this file, I get the error
[code]
on the line with
[code]
Am I misunderstanding the syntax that would be allowed here? How would I properly express this type?

[2020-02-11 08:10] nikivazou commented on #1609
What version are you using? It seems you are using an old one (we have not updated hackage in a while...) Can you install from source (https://github.com/ucsd-progsys/liquidhaskell/blob/develop/INSTALL.md#step-2-install-liquid-from-source) and try again?

Edit: Sorry, it is not the version... Our parser does not support lists (I thought it was fixed...). Try the following instead:

[code]

[2020-02-11 08:49] theodoretliu commented on #1609
Yeah, that did fix it! Thank you for such an expedient response!

[2020-02-11 08:49] #1609 closed, assigned to nobody

[2020-02-11 11:09] wenkokke commented on #1604
I can confirm that my code is once again broken, as it should be! Thanks so much for fixing this!

(Specifically, my tests type a 1x2 matrix as a 2x1 matrix, and that doesn't work anymore.)

[2020-02-11 11:09] #1604 closed, assigned to nobody

[2020-02-11 20:03] ranjitjhala commented on #1604
Awesome, thanks Niki!!!

On Tue, Feb 11, 2020 at 3:09 AM Wen Kokke <notifications@github.com> wrote:

[2020-02-12 14:22] nikivazou commented on #1490
@yiyunliu I pushed a PR-fix; waiting for travis, but let me know if it fixes your original problem.

[2020-02-12 19:21] nikivazou opened #1612 "Assumed types for `(=.)` are not imported"
[code]

[code]

`foo` is UNSAFE.
In variants where the `A.(=.)` is not assumed or the `A.(=.)` type is assumed within module B `foo` is SAFE.

@rosekunkel

[2020-02-12 19:41] ranjitjhala commented on #1612
Hmm? Is it just this operator? Pretty sure imported assumes work in
general? Did you try renaming the dot to : or similar?

On Wed, Feb 12, 2020 at 11:22 AM Niki Vazou <notifications@github.com>
wrote:

[2020-02-12 19:42] ranjitjhala commented on #1612
Also, are you making sure to “run” LH on the imported module first? Though
iirc the current implementation should just run LH on the imports
automatically...

On Wed, Feb 12, 2020 at 11:40 AM Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

[2020-02-12 20:07] nikivazou commented on #1612
It is this operator. I assume it does not like the .
Renaming to assign works just fine...

On Wed, Feb 12, 2020, 20:42 Ranjit Jhala <notifications@github.com> wrote:

[2020-02-12 20:29] rosekunkel commented on #1612
Fixing this would be nice but it might be easier now to just emit an error if you try to use assume on something with a dot at the end. Currently it just silently breaks which makes it really hard to figure out what the problem is.

[2020-02-14 15:58] yiyunliu opened #1613 "crash: SMTLIB2 with desugared typeclass"
I don't know how I can reduce it further, but the following desugared type class causes SMTLIB crash with the error message:
:1:1-1:1: Error
  crash: SMTLIB2 respSat = Error "line 327 column 1992: Sorts (Subclass2.MyFunctor Int) and (Subclass2.MyFunctor (Subclass2.MyId Int)) are incompatible"

[code]

When replacing fMyFunctorMyId by its definition in fMyApplicativeMyId, the issue goes away and li

[2020-02-14 15:59] #1490 closed, assigned to nikivazou

[2020-02-14 16:05] ranjitjhala commented on #1613
This typically means that a malformed (Ill types) refinement is getting
generated somewhere.

Is this on develop?

You can look at the .smt file to see where.

I think the first thing is to add support to Fixpoint so that instead of
Crashing it points to the constraint and hence, Haskell source that tickles
the problem.

On Fri, Feb 14, 2020 at 7:58 AM Yiyun Liu <notifications@github.com> wrote:

[2020-02-14 16:24] nikivazou commented on #1613
I am on it!

[2020-02-14 18:30] #1613 closed, assigned to nobody

[2020-02-14 20:31] theodoretliu opened #1615 "Question about Dependent Sums"
Hi, I'm trying to represent a function that returns a dependent sum like below
[code]
but am running into issues with `liquid`. Am I representing this correctly? Even without generics, this still doesn't seem to work in the way I might expect.

[2020-02-14 20:31] theodoretliu commented on #1615
@namin for following

[2020-02-14 21:04] ranjitjhala commented on #1615
What’s the error you’re seeing?

On Fri, Feb 14, 2020 at 12:32 PM Theodore Liu <notifications@github.com>
wrote:

[2020-02-14 21:05] ranjitjhala commented on #1615
Can you add a Haskell type sig? LH is probably saying the hs and liquid
signatures don’t match?

On Fri, Feb 14, 2020 at 1:04 PM Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

[2020-02-14 22:59] theodoretliu commented on #1615
[code]
full error here. I ended up adding the Haskell one as well

[2020-02-14 23:17] ranjitjhala commented on #1615
When defining a measure, you just write `{-@ measure isLeft @-}` and then the code -- not the signature of the measure which is just in plain Haskell. So the below works fine:

[code]
http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1581722143_4994.hs

@nikivazou this is a really silly error, I think we can fix it just by throwing a parse error when there is a signature in a `measure` declar

[2020-02-15 14:21] nikivazou commented on #1615
@ranjitjhala there is no reason we don't.
Maybe we got stuck discussing exactly what the error should be. e.g., my opinion is that we should change the measure declaration with type signature to something else; since it is not a measure :)

[2020-02-15 19:12] theodoretliu commented on #1615
Thank you so much for the pointer! Just to clarify, we can _never_ put type signatures on measures? For example, if I wanted to define a measure that operated on "non-empty lists" via Liquid Haskell's refinement types, that would not be valid?

[2020-02-16 22:19] yiyunliu commented on #1613
@nikivazou
Not sure if it's anyhow related, but changing `data MyId` to `newtype MyId` causes the full version of the desugared example to give the following error message:
[code]
Here's the full program:
[code]

[2020-02-17 08:00] theodoretliu opened #1617 "Slack Channel"
I saw in the readme that there's a Slack channel for questions, but the link appears to be expired. Could a new one be generated? I don't want to flood the Github Issues with one-off questions.

[2020-02-17 08:20] nikivazou commented on #1613
Oh, no...  This is related to my newtype edit... I replaced newtypes with their RHS too early...

For the newtype `newtype tleft = T tright` I told LH to totally replace `tleft` with `tright` before it goes in the logic. Now, there is `x :: MyId a` (which in the logic has just `x :: a`) and wants to be applied in a position that expected an `a1 a2`.

If it is blocking you, add the below two cases

[2020-02-17 08:26] nikivazou commented on #1617
No, the link does not expire, but I invited you be email.

[2020-02-17 08:28] nikivazou commented on #1615
You can. The problem is that the `measure`  has two meanings.

`{-@ measure foo @-}` lifts the Haskell `foo` function into logic while
`{-@ measure foo :: a -> a @-}` (i.e., with a type signature) defines a new logical function `foo` that is not related with the Haskell function `foo` (if one exists).

[2020-02-17 08:33] theodoretliu commented on #1617
Okay, I got the request, thank you! I saw this when I clicked the Slack link in the README though.
![image](https://user-images.githubusercontent.com/19197539/74636557-3fe0c380-5136-11ea-8614-1a525e6086ed.png)

[2020-02-17 08:34] nikivazou commented on #1617
The link is the below, correct?

https://join.slack.com/t/liquidhaskell/shared_invite/enQtMjY4MTk3NDkwODE3LTFmZGFkNGEzYWRkNDJmZDQ0ZGU1MzBiZWZiZDhhNmY3YTJiMjUzYTRlNjMyZDk1NDU3ZGIxYzhlOTIzN2UxNWE

[2020-02-17 08:36] theodoretliu commented on #1617
They're not the same. The one on the `README` differs after a bit

[2020-02-17 08:39] nikivazou commented on #1617
updated, thanks!

[2020-02-17 08:39] #1617 closed, assigned to nobody

[2020-02-17 15:38] yiyunliu commented on #1613
No worries. We can use `data` for now and switch to `newtype` when it becomes available.

[2020-02-17 23:19] ranjitjhala commented on #1615
@theodoretliu -- Yes you can, its just that the _type_ specification has to be separate. e.g. your example would be something like:

[code]

[2020-02-18 23:26] nilehmann commented on #1469
If you do `import  Data.Int  ( Int64 )` in the file you are verifying you don't get the error, so I assume it has something to do with being unable to define `bllen` [here](https://github.com/ucsd-progsys/liquidhaskell/blob/develop/include/Data/ByteString/Lazy.spec#L6) because `GHC.Int.Int64` is not found.

[2020-02-18 23:30] nilehmann commented on #1612
If it helps, so far we have successfully defined and exported `==.`, `&&.` and `<-.`, but have problems with `||.` and `=.`

[2020-02-18 23:51] ranjitjhala commented on #1612
to be clear, all of these work with like `:` or something at the end right?
e.g. `==:`, `<-:`, `&&:` `||:` ?

On Tue, Feb 18, 2020 at 3:30 PM Nico Lehmann <notifications@github.com>
wrote:

[2020-02-19 01:20] nilehmann commented on #1612
We haven't tried all combinations but at some point, we used `||:` instead of `||.` and it started working.

[2020-02-19 07:54] #1584 closed, assigned to adinapoli

[2020-02-22 08:24] rosekunkel opened #1619 "Polymorphic instantiation seems broken with typeclasses"
Liquid deems `fmapPreservesLabel` unsafe, but its equivalent using explicit dictionary passing, `myFmapPreservesLabel`, is deemed safe. They should both be safe, since `fmap`/`myFmap` should be instantiated at `Tagged Label<label>`.
[code]

[2020-02-22 15:59] ranjitjhala commented on #1619
I don’t think it’s the type class, more likely the HKT — LH is (probably)
not doing any polymorphic instantiation when argument used in the type
application is NOT of kind * Ie it ONLY does instantiation when the type IS
of kind * (that’s my guess.)

GHC desugars the fmap into

fmap @ Tagged Label @ a @ b

And my guess is LH is not doing any instantiation for the Tagged Label.

I wonder why the ot

[2020-02-23 23:37] rosekunkel commented on #1619
I should mention that this is currently blocking my attempt to rewrite Binah in the MAC style. (Well, not blocking exactly, but it means none of the code can use do-notation or monad transformers, which is very unfortunate).

[2020-02-23 23:48] ranjitjhala commented on #1619
@niki vazou <nikivazou@gmail.com> any chance you can look at this soon?

I think it's either really easy or really hard to add this feature :-)

(btw, why should do notation come into play here? Looks like the problem is
with fmap?
or is it that the issue is just a simplification and the problem also
arises with
the type of >>= etc.?)

[2020-02-23 23:50] rosekunkel commented on #1619
It also happens with `>>=` (and I think basically every HKT typeclass).

[2020-02-24 03:20] jprider63 opened #1620 "Proofs with dictionaries fail"
I'm attempting to rewrite the following part of our LWeb proof to use dictionaries. Unfortunately, it does not go through in its rewritten form. It's also odd that LH can't tell that the `otherwise` branch in `unjoinCanFlowTo` is valid. Do you have any suggestions? One hypothesis is that it's due to nested selectors (`join` is an argument to `canFlowTo`).

[code]

[2020-02-24 03:25] jprider63 commented on #1619
I'm not sure if this is helpful, but Yiyun, Niki, and I are close to getting typeclasses working. `Functor` seems to mostly work, but there are a few issues we're still resolving. We can share the branch when it's fully working.

[2020-02-24 03:40] jprider63 commented on #1620
My understanding is that dictionary selectors are currently defined as measures. Do you think it's possible to refine and reflect the core level selectors instead? This is what I get when I dump the core for this example (`ghc -ddump-simpl Lattice.hs > core`).

[code]

Then you'd need to add something like the following:
[code]

[2020-02-24 07:37] nikivazou commented on #1619
@rosekunkel, it looks indeed like an instantiation problem. The below is SAFE. Would that unblock  you, or should I look deeper?
[code]

[2020-02-24 08:30] rosekunkel commented on #1619
That technically unblocks me, but it removes a lot of the advantage of
using the MAC encoding over the current one - since the type of `>>=` will
have to be similarly refined, we can't treat `Tagged Label` as a normal
monad. So all the monad combinators won't preserve the label automatically,
which they would by polymorphism for `Tagged l`.

On Sun, Feb 23, 2020, 23:37 Niki Vazou <notifications@gi

[2020-02-24 08:32] nikivazou commented on #1620
Exactly, currently the refined and Haskell selectors do not seem to be connected.
Your suggestion works; the below is SAFE:

[code]

That is, you need to port the refinements of the refined data definition into the actual Haskell selectors. The idea is 1/ you reflect the selectors and 2/ you port the refinements from the refined data definition. Note that since `canFlowTo` and `join` do not have r

[2020-02-24 08:41] nikivazou commented on #1619
I am not following your reasoning 100%.
The one encoding is polymorphic over the type `l` and the other over the abstract refinement `l`.
So, the encodings seem equivalent.

At any case, I will try to take a deeper look into this later today.

[2020-02-24 08:59] rosekunkel commented on #1619
For example, if we tried to use `sequence` on a list of tagged values,
sequence would get the type
`[Tagged Label a] -> Tagged Label [a]`, not `forall <label :: User ->
Bool>. [Tagged Label<label> a] -> Tagged Label<label> [a]`. If instead the
monad instance is for `Tagged l`, then sequence would get the type `[Tagged
l a] -> Tagged l [a]`, and then `l` could be instantiated with
`Label<label>`. I

[2020-02-24 09:05] nikivazou commented on #1619
Hmmm interesting.

Ok, I think I got the problem (or a problem...), are you on slack?

[2020-02-25 00:25] yiyunliu commented on #1620
I've finished implementing this in my type class branch. I'll do a pull request after I get the type class paper done.

[2020-02-25 17:32] nikivazou commented on #1619
So, #1621 has a fix for that where the Functor is added in the generic type classes.
The problem might also be solved by adding abstract refinements, which is currently not supported bu LH.

[2020-02-25 17:32] #1619 closed, assigned to nobody

[2020-02-25 18:26] ranjitjhala commented on #1619
Btw modifying the isGeneric should also address the “sequence” issue right?

On Tue, Feb 25, 2020 at 10:09 AM Niki Vazou <notifications@github.com>
wrote:

[2020-02-26 19:40] nikivazou commented on #1619
I suspect so, but you would need to say that `Monad` is generic type class.
From that, it would not suffice to add abstract refinements only to `fmap`, but to many more methods.

[2020-02-26 19:45] ranjitjhala commented on #1619
Yes, I was including Monad etc. too...

On Wed, Feb 26, 2020 at 11:41 AM Niki Vazou <notifications@github.com>
wrote:

[2020-03-02 17:50] yiyunliu opened #1622 "z3 crashes when nesting application of data selectors"
In the following example, the signature of prop causes z3 to crash with the error message:
:1:1-1:1: Error
  crash: SMTLIB2 respSat = Error "line 277 column 109: unknown function/constant Data.Semigroup.mappend"
This happens even after updating to the HEAD of develop: 2d3c4009b

[code]

[2020-03-06 14:08] zgrannan opened #1624 "Imported record function is not reflected."
Assume we have the following two files:

`ReflectSource.hs`
[code]
`ImportIssue.hs`
[code]

---
Running `liquid ReflectSource.hs` is successful
However, running `liquid ImportIssue.hs` yields the following output
[code]
---

It appears that Liquid Haskell is not aware of the function `f`. A workaround is to add the data definition in liquid-haskell style comments in `ReflectSource.hs`:
[code]

[2020-03-06 16:42] ranjitjhala commented on #1624
Unfortunately for some technical reason involving name resolution all
reflected functions have to be exported.

Though it would be nice to not have this restriction...

On Fri, Mar 6, 2020 at 6:08 AM Zack Grannan <notifications@github.com>
wrote:

[2020-03-10 17:26] wenkokke opened #1625 "Issue with integration of `inline` and `reflect`"
There is an issue with the integration of `inline` and `reflect`:

- [X] proofs with inlined functions;
- [X] proofs with reflected functions;
- [X] proofs with inlined functions which use reflected functions;
- [ ] proofs with reflected functions which use inlined functions.

For instance, take the code sample below:
[code]

The first two tests succeed. However, the third test fails with the foll

[2020-03-10 17:39] ranjitjhala commented on #1625
oops, thanks for pointing this out, will take a look!!

On Tue, Mar 10, 2020 at 10:27 AM Wen Kokke <notifications@github.com> wrote:

[2020-03-12 06:59] nikivazou commented on #1624
The reflected function `g` is actually exported. The issue here is that the record selector `f` 1/ is exported by Haskell, but 2/ is not exported in the logic.

In short, if we reflect and export a function `g` we should export in the logic all the functions `g` is using in its definition, including record selectors (otherwise, the error message makes no sense ...)

[2020-03-14 12:41] 0708andreas opened #1629 ""Uh oh". error by making [] an instance of type class with type family"
I was trying to implement naperian (representable) functors and got a strange (not-informative) error when making [] an instance of Naperian.

Here is what I've whittled it down to:

[code]

Output:
[code]

If I remove the type family `Log`, the error goes away. If I replace `[]` with `Maybe`, the error goes away. If I change the type of `index` to not mention `Log f`, the error goes away.
The err

[2020-03-14 14:30] ranjitjhala commented on #1629
Hmm, sorry about that! There's something here that's breaking some internal
invariants,
I *think* it has to do with the baked in "abstract refinements" on the list
type.

(@niki I think we should remove those as the default!)

Can you try by defining your own list type e.g.

  data List a = Nil | Cons a (List a)

and see if that also breaks? (I think it should work, in which case its
definitely
so

[2020-03-14 15:10] 0708andreas commented on #1629
Yes, defining my own datatype `List` does remove the error. In my work, I've swapped it for Vector, which also solves it. It's definitely work-around-able and I think it's unlikely to bite too many people, I just thought I should report it :)

[2020-03-14 15:13] ranjitjhala commented on #1629
thanks! We should fix this!

On Sat, Mar 14, 2020 at 8:10 AM Andreas <notifications@github.com> wrote:

[2020-03-24 13:52] jprider63 opened #1631 "Identity incorrectly marked as safe"
The following is marked as safe, even though `o` is not in scope.

[code]

[2020-03-24 15:10] ranjitjhala commented on #1631
Grr. I think the "triviality" checker has gone wild... :-)

On Tue, Mar 24, 2020 at 6:52 AM JP <notifications@github.com> wrote:

[2020-03-26 09:36] nikivazou opened #1632 "PLE does (still) not like partial applications"
e.g., the following is UNSAFE

[code]

while if the first argument of `isPartition` is removed, it is safe (as below).

[code]

Reporting credits to @zgrannan.

[2020-03-27 14:56] bolt12 opened #1633 "Refined GADTs"
Hi,

I saw #818 but I'm still having trouble refining a GADT. Here's an example:

[code]

This is what I'd like to do but when I run LH I have the following error:

[code]

Seeing this I change my code to the following:

[code]

But I get the following erro:

[code]

I tried to do as suggested in #818 but I didn't work. I tried looking in other closed issues but couldn't find a solution to my prob

[2020-03-27 17:10] ranjitjhala commented on #1633
Hmm, thanks for filing this! I think the `c` type variable in `Fork` is breaking some assumption made about what GADTs look like. Should be easy to fix by weakening that check appropriately (@nikivazou will you be able to take a look?)

Not sure what you mean by measure with 2 fields - did you mean two parameters?

If so, not really, because a measures are tied to _single_ datatypes (and their con

[2020-03-27 17:41] bolt12 commented on #1633
@ranjitjhala Thanks for your reply! I tweaked the GADT to make use of the quantified type variables but I still get the same error (might be useful to know):

[code]

My idea is to define several relational calculus combinators on my matrix inductive structure and use those to specify properties using LH. For example I can have the following snippet (taken from [my laop library](https://hackage.ha

[2020-03-31 06:21] michaelborkowski opened #1635 "Encoding Dependent Pairs"
One of the difficulties I've had recently with proving complicated theorems in LH seemed to stem from trying to write the refinements in the LH type annotation for lemmas that have to return multiple things as output (e.g. given a typing environment G, an expression e, a type t and a closing substitution th such that   G |- e : t   and   th \in [[ G ]],   then there exists a value v such that we h

[2020-03-31 12:54] nikivazou commented on #1633
@ranjitjhala  cannot promise when I will reach that, since I still do not have a good understanding of how GADTs work on LH.

[2020-03-31 14:46] bolt12 commented on #1633
Could you provide me with directions on how to learn about this? I can try
and have a look too! :)

On Tue, 31 Mar 2020, 13:54 Niki Vazou, <notifications@github.com> wrote:

[2020-04-02 19:37] joscoh opened #1638 "Error: Uh Oh from abstract refinement in type definition"
As posted on the Slack channel, the following encoding of a binomial heap

[code]

gives the following error on a trivial assertion:

[code]

As per the Slack discussion, it seems likely that this is due to an issue with the abstract refinement in the definition of `subtrees`.

[2020-04-06 14:47] bolt12 commented on #1633
@nikivazou  @ranjitjhala

[2020-04-06 15:39] ranjitjhala commented on #1633
Hi Armando,

sorry for the late reply - too little time :(

The code for GADTs is a bit scattered, I *really* should have written a
paper
or description about it!

Anyways, I'll try to look it up today and get back to you later
this evening or tomorrow!

Thanks again so much!!!

- Ranjit

On Mon, Apr 6, 2020 at 7:47 AM Armando Santos <notifications@github.com>
wrote:

[2020-04-06 16:16] bolt12 commented on #1633
@ranjitjhala No problem, I understand :) I was worried you didn't get the notification because I forgot to tag you!

Take your time! Thanks!

[2020-04-10 23:34] nikivazou commented on #1633
@bolt12 I added a partial fix for your solution in #1642.
1. The "Bad Data Specification" error should be fixed, but
2. the "safeBkArrow" is basically surpassed and will show up again if you start using reflection.

Let me explain what is happening, in case you can help.
When Liquid Haskell sees a case analysis, it is expanding all the cases to get precise checking (i.e., each alternative is check

[2020-04-11 03:04] ranjitjhala commented on #1633
Wow, that's pretty interesting! thanks Niki!

Is there a way to tell when the ADT is "fancy", and then disable the
case-expansion automatically?

On Fri, Apr 10, 2020 at 4:34 PM Niki Vazou <notifications@github.com> wrote:

[2020-04-11 07:26] nikivazou commented on #1633
No idea, I am still trying to understand GADTs :)
But the proper fix I see is to still expand and provide the proper "fancy" evidence arguments on expansion.

[2020-04-11 10:52] bolt12 commented on #1633
What do you mean with "fancy" evidences? By looking at the code is difficult to understand what's going on, is there any reference document where I can start getting a feel how the internals work?

[2020-04-11 12:28] nikivazou commented on #1633
Well, to address this problem one needs to know then internals of both Liquid Haskell and GHC.
The "fancy" evidence refers to how case splitting is generated on GADTs by ghc.
Concretely, Liquid Haskell analyses the intermediate representation of the haskell code you write, as it takes it from the GHC-API.

To derive the intermediate code that is using GADTs, GHC is introducing these "fancy evidenc

[2020-04-11 21:44] ranjitjhala commented on #1633
@bolt12 yes this probably requires familiarity with how GHC represents GADTs in its `Core Expr`.

Specifically (if I understand @nikivazou 's description) the issue is here:

https://github.com/ucsd-progsys/liquidhaskell/blob/develop/src/Language/Haskell/Liquid/Transforms/ANF.hs#L334-L346

In the above code we convert code like:

[code]

into code like

[code]

By *expanding* the `DEFAULT -> e` "a

[2020-04-12 09:45] nikivazou commented on #1633
Exactly!

[2020-04-12 10:36] bolt12 commented on #1633
@ranjitjhala What do you mean with all the missing cases, the function is total! But I understand it might be too complicated for exploring. I can provide another simpler function with more straightforward pattern matching:

[code]

So for this code:

[code]

here's the core with `-ddump-simpl`

[code]

Tell me if you need any more CORE information!

[2020-04-13 00:21] DestyNova opened #1644 "Explanation / hints for "does not refine Haskell type" error in tutorial"
Hi, I've been working through the tutorial and enjoying it. In chapter 5, I got stuck for quite a long time on the sparse vector `plus` exercise. I tried many variations, but kept getting the same error:

[code]

I tried replacing parts of the LH type signature with holes as suggested
After some searching, I found issue #1297 which looked very similar. The solution there was to add an explicit Has

[2020-04-13 02:19] zgrannan opened #1645 "Regression with extensionality + imported function defs"
Assume you have the following two modules:

`Choose.hs`
[code]

`Poc.hs`
[code]
Running `liquid Poc.hs` yields:
[code]

However, if the definition of `chooseF` is moved into `Poc.hs`, the error goes away.

I think this regression was introduced in 5286f419, as
this works in the previous commit 231b2b9d85ddd5e36bf0d8e2e52f1dfcaa086fcb

[2020-04-13 02:49] ranjitjhala commented on #1644
Very sorry about that! Thanks for the tip I will add the extra text as you
suggest!!

On Sun, Apr 12, 2020 at 5:22 PM Oisín <notifications@github.com> wrote:

[2020-04-13 04:24] ranjitjhala commented on #1644
Btw, I should have added:

signature similar to the one I inserted above?

No, this is not the case. LH's specifications are always _refinements_ of
GHC's. In the above, example,
GHC would infer and give `plus` a type like `a -> b -> c` and then LH
complains that the refined signature
is not, in fact, a refinement of `a -> b -> c`. I think in addition to your
suggestion, I will *also* update the e

[2020-04-13 15:06] DestyNova commented on #1644
Thanks for the helpful explanation :+1:

[2020-04-16 06:11] #1645 closed, assigned to nobody

[2020-04-17 06:32] #1644 closed, assigned to nobody

[2020-04-17 17:07] nikivazou commented on #1633
The example works now with the `--no-totality` flag. That is, in general LH cannot check totality when case splitting on GADTs.

[2020-04-17 17:07] #1633 closed, assigned to nobody

[2020-04-17 17:57] bolt12 commented on #1633
Thank you very much for your efforts! I'll try it!

[2020-04-17 18:12] bolt12 commented on #1633
I seem to encounter the following erro while trying to build the most recent version of `develop` branch

[code]

[2020-04-17 20:16] bolt12 commented on #1633
@nikivazou

[2020-04-18 03:11] DestyNova opened #1650 "Develop branch no longer builds: No instance for (Hashable F.Reft)"
I pulled about a week of updates from master and `stack install` now fails with:

[code]

[2020-04-18 03:20] DestyNova commented on #1650
Oops, I just noticed that it's actually the `develop` branch that isn't compiling.

[2020-04-18 03:27] DestyNova commented on #1650
Ah wait, maybe I just needed to run `git submodule update`. Will wait for it to compile and close if that works.

[2020-04-18 03:39] DestyNova commented on #1650
Confirmed, it's fine -- I just forgot to update the fixpoint submodule.

[2020-04-18 03:39] #1650 closed, assigned to nobody

[2020-04-18 05:00] ranjitjhala commented on #1650
Strange! How did CI miss this? Any idea what’s happening @niki?

On Fri, Apr 17, 2020 at 8:12 PM Oisín <notifications@github.com> wrote:

[2020-04-18 06:50] nikivazou commented on #1633
`git module update` to get the linked fixpoint?

[2020-04-18 09:32] bolt12 commented on #1633
@nikivazou  yes, seems like I forgot to do that! Thanks!

[2020-04-18 10:39] bolt12 commented on #1633
@nikivazou  @ranjitjhala

The example works fine now but I'm having trouble with this simple example:

[code]

This is giving me this errors:

[code]

I'm running liquid haskell with --no-termination flag since by some reason it cannot detect the termination of `addR`/`subR`/`mulR`. Any help figuring out this problem? What does this:

[code]

means?

[2020-04-18 11:03] nikivazou commented on #1633
It is the totality checker. Do you run it without the totality checker? i.e., using the flag `no-totality`

[2020-04-18 11:06] bolt12 commented on #1633
Yes I was missing that! Everything works fine now! Sorry for your trouble!

On Sat, Apr 18, 2020 at 12:03 PM Niki Vazou <notifications@github.com>
wrote:

[2020-04-18 15:28] DestyNova opened #1651 "Generation of possibly redundant nested cases with __DEFAULT"
In response to an [issue on the tutorial repo](https://github.com/ucsd-progsys/liquidhaskell-tutorial/issues/92), @ranjitjhala noticed some redundancy in the generated "core" output which could lead to LH failing to prove totality in some situations where it should be possible.

Here's @ranjitjhala's comment:

[2020-04-18 16:07] ranjitjhala commented on #1651
Thanks!!!

On Sat, Apr 18, 2020 at 8:28 AM Oisín <notifications@github.com> wrote:

[2020-04-19 21:43] yaitskov opened #1652 "assume getBounds"
Hi,

I noticed that LH cannot assume type for getBounds.

[code]

Meanwhile more simple functions are assumed without a problem, such as

[code]

Following error is generated:
[code]

Environment:
[code]

[2020-04-20 00:10] yaitskov opened #1653 "Reference a variable in preceding predicate"
Hi,

LH generates an error (Unbound symbol) if a predicate of second function argument uses variable introduced in third function argument.
This limit language expressiveness.

[code]

Output
[code]

Reversing 2nd and 3rd arguments solves the issue.

[code]

Having at least some sort of look ahead syntax sugar would be great.

Environment

[code]

[2020-04-23 10:30] the-dr-lazy commented on #1552
Had same problem using Nix on macOS. There was a conflict via `Diff` package (I had `0.4.0` in my nixpkgs).
Tried to jailbreak liquidhaskell! :D

[code]
Then I encountered same error message:

[code]

To fix it I should override `Diff` to `0.3.4` in my nixpkgs and there was no need for jailbreaking.
Also, the `Functor` instance for `Diff` is orphan. Maybe we should wrap it in a newtype.

[2020-04-23 10:35] nikivazou commented on #1552
Thanks! We will soon release the new version. Till then, can you install it from source?

https://github.com/ucsd-progsys/liquidhaskell/blob/develop/INSTALL.md#step-2-install-liquid-from-source

[2020-04-24 03:35] jprider63 opened #1654 "Failed to load dependencies error"
If LH marks a dependency as safe, but GHC fails to compile it, LH reports a `Failed to load dependencies` error. Here's a minimal example:

[code]

[code]

Running `ghc A.hs` gives the following error:
[code]

Running `liquid B.hs` results in A being marked as safe, and then B errors with `liquid: Failed to load dependencies of module A`.

[2020-04-25 19:19] rosekunkel commented on #1652
Does replacing
[code]
with
[code]
work for you?

[2020-04-26 04:11] yaitskov commented on #1652
Thanks @rosekunkel ,

It is working!
After all my goal was to bind measures to getBounds pair.
I had to use "assume" for myBounds ST specific function.
Though I don't know whether it is safe and the only way to go.

[code]

[2020-04-26 04:11] #1652 closed, assigned to nobody

[2020-04-27 15:38] nrioux opened #1656 "Unsoundness from Refinement Reflection"
The following code is accepted by LH even though it causes a runtime division by zero error.
[code]

The issue is that the type of `n` gets reflected to `{n : Integer | n = 3 && n = 0}`, which is a contradiction. This means that the body of `n` and any use of `n` trivially type-check.

[2020-04-27 15:46] ranjitjhala commented on #1656
Oh no! Wait I could have sworn we saw and fixed this a long time ago (but
maybe I'm wrong!)

Is this a recent LH version?

On Mon, Apr 27, 2020 at 8:38 AM Nick Rioux <notifications@github.com> wrote:

[2020-04-27 15:47] mystaroll commented on #1656
Did you install liquidhaskell from source? Your example doesn't type check on the latest version

[2020-04-27 16:04] nrioux commented on #1656
Ah my apologies, I only tested this in the online demo. Good to hear it has already been fixed!

[2020-04-27 16:36] ranjitjhala commented on #1656
No matter, I should fix the demo, thanks!

On Mon, Apr 27, 2020 at 9:04 AM Nick Rioux <notifications@github.com> wrote:

[2020-04-27 17:23] #1656 closed, assigned to nobody

[2020-04-29 12:29] timjs commented on #1165
Had the same problem today, but reading this issue made me aware it's about `NoImplicitPrelude`. Should this be closed?

[2020-04-29 12:54] nikivazou commented on #1165
Closing it! Thanks!

[2020-04-29 12:54] #1165 closed, assigned to nobody

[2020-05-01 20:54] ranjitjhala opened #1657 "Unsoundness using bounded refinements"
Why does the following report safe?

[code]

The above is a simplification of a bigger example

[code]

[2020-05-01 22:14] ranjitjhala commented on #1657
More mystery

[code]

There is no *mention* of `1984` in the generated constraints. Ok, will let @nikivazou solve this puzzle...

[2020-05-04 17:49] yiyunliu opened #1659 "SMTLIB2 crash with type families"
Here's the minimal example I produced:
[code]

`smt-min-min.hs`:
[code]
The error message:
[code]
I can also attach the .smt file if that's helpful.

[2020-05-04 17:50] yiyunliu commented on #1659
@jprider63 @nikivazou

[2020-05-04 19:25] nikivazou commented on #1659
Can you try adding `{-@ embed Main.LWW as int @-}` to see if it is suppressed until I get into it?

[2020-05-04 20:12] yiyunliu commented on #1659
It gives an even scarier error message with embedding:
[code]

[2020-05-06 09:45] nikivazou commented on #1659
The `{-@ LIQUID "--no-adt" @-}` flag will unblock you until I figure out what is going on.
This flag tells LH not to encode Haskell data types as SMT data types.

[2020-05-06 10:27] nikivazou commented on #1659
@ranjitjhala can you help here?

There is a cast in Core

[code]

The cast's type is given [here](https://github.com/ucsd-progsys/liquidhaskell/blob/develop/src/Language/Haskell/Liquid/Constraint/Generate.hs#L892-L893) as `{VV : Main.LWW | VV ~~ ds_dG4}`. But, `ds_dG4 :: Main.Operation Main.LWW` which in SMT is encoded as `int`.

I assume some missing coercion is needed? Where should the coercion

[2020-05-06 13:13] ranjitjhala commented on #1659
Is this with the embed? If so why are we even seeing terms like

    VV: LWW

Those should already become “VV:Int”?

On Wed, May 6, 2020 at 3:27 AM Niki Vazou <notifications@github.com> wrote:

[2020-05-06 13:18] nikivazou commented on #1659
No embed. The coercion inserts the untyped equality `{VV : Main.LWW | VV ~~ ds_dG4}`.
`VV :: Main.LWW`, where `Main.LWW` maps to an SMT data type and `ds_dG4 :: Main.Operation Main.LWW` maps into an SMT `int`.

[2020-05-06 14:30] ranjitjhala commented on #1659
Got it, is this in a reflected function?

On Wed, May 6, 2020 at 6:18 AM Niki Vazou <notifications@github.com> wrote:

[2020-05-06 14:46] nikivazou commented on #1659
Nope. It is generated by the below case split:

[code]

[2020-05-06 15:01] adinapoli opened #1661 "Improve robustness of negative (and positive) tests"
Currently most of the `neg` tests only check that `liquid` returns an exit code different than 0, but that is usually not enough, because the process might still exit with an error code but for reasons that are _not_ the one we want to test for.

A _possible solution_ is to extend the testsuite to always check for a particular error message. We do this for [some](https://github.com/ucsd-progsys/li

[2020-05-06 15:06] adinapoli opened #1662 "Get rid of conditional loading of some "hardcoded" specs"
Historically LH shipped with a "hardcoded" set of specs, bundled into the `include` directory. They are loaded for each module we want to check, and the workhorse for such loading is the [findAndParseSpecFiles](https://github.com/ucsd-progsys/liquidhaskell/blob/develop/src/Language/Haskell/Liquid/GHC/Interface.hs#L725).

This function (which will go away eventually in the source plugin but it's us

[2020-05-06 15:09] adinapoli opened #1663 "Decide which is the correct default refinement for GHC.Num and GHC.Real./"
According to this piece of code in [findAndParseSpecFiles](https://github.com/ucsd-progsys/liquidhaskell/blob/develop/src/Language/Haskell/Liquid/GHC/Interface.hs#L725), the `Real.spec` is loaded by default, unless the `--linear` flag is explicitly set (the default is `linear = False`, though):

[code]

@nikivazou found this surprising, as she thought the correct default was `NotReal` instead. We

[2020-05-06 17:10] ranjitjhala commented on #1659
@nikivazou -- see this

https://github.com/ucsd-progsys/liquidhaskell/blob/develop/src/Language/Haskell/Liquid/Transforms/CoreToLogic.hs#L284-L286

It shows how we generate an `ECoerc` term in the refinement logic; I think this code is _only_ used in reflection; as discussed, you need to make sure its being used wherever this pattern-match is generating refinements (maybe in the dreaded "unfold" c

[2020-05-07 09:20] nikivazou commented on #1659
Thanks @ranjitjhala
@yiyunliu can you check if the edit fixes your original problem?

[2020-05-07 13:26] #1659 closed, assigned to nobody

[2020-05-09 05:19] mystaroll opened #1665 "Prune-unsorted when using reflected function in other modules"
I have been receiving some "Constraint with free vars" errors while trying to reflect some functions and use them in proofs.
After some digging, I found out the following reproduces the issue:

[code]
[code]
Apparently, if "bar" is out of scope in FileA the error ```Constraint with free vars [FileB.bar]``` raises.

Using ```--prune-unsorted``` doesn't seem to be a workaround, because then:
[code]

[2020-05-09 14:44] ranjitjhala commented on #1665
Hi Mustafa,

Thanks for posting this - it’s a bit of a known issue, and I’m not clear
what the best fix is. The trouble is that GHC thinks the variable “bar” is
not needed in FileA (only foo is imported); but LH needs to know about it
because it’s in the definition (refinement) of foo.

One “workaround” is forcibly import “bar” in FileA. Can you see if that
works for you?

On Fri, May 8, 2020 at 1

[2020-05-09 14:52] mystaroll commented on #1665
Yes, sure, I am currently using that as a fix. Thanks

[2020-05-09 14:57] ranjitjhala commented on #1665
Thanks! Please keep this open, at the very least LH should give a proper
error message explaining the problem and this work around..

On Sat, May 9, 2020 at 7:53 AM Mustafa Hafidi <notifications@github.com>
wrote:

[2020-05-10 15:58] mystaroll opened #1666 "crash SMTLIB2 on ADTs using dollar sign"
Not sure how important is this to you, however, this:

[code]
and this:
[code]

Crash with ```crash: SMTLIB2 respSat = Error "line 381 column 11158: Wrong number of arguments (0) passed to function (declare-fun GHC.Maybe.Just (Int) (GHC.Maybe.Maybe Int))"```
Whereas, this goes well:
[code]

Currently, I avoid the `$` on ADTs (even though formally proving existing code requires slightly extra manua

[2020-05-11 09:32] nikivazou commented on #1666
Does the crash go away if you redefine and reflect the `$` or is it already reflected?

[2020-05-11 14:18] ranjitjhala commented on #1666
@nikivazou I think the trouble is that because `Just` is reflected in the SMT logic as a data constructor, it must _always_ appear "fully saturated" i.e. with all arguments supplied, but the
term `Just $ 1` is creating some refinement term where `Just` is _not_ fully saturated, which Z3 does not like.

The proper fix would be to

1. Have decent support for lambdas and
2. Saturate the terms e.g. co

[2020-05-11 16:51] mystaroll commented on #1666
Redefining `$` doesn't solve the issue.
I noticed that in some cases the issue doesn't happen, so I investigated a little bit more and this seems to reproduce it ([demo not working](http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1589215414_8735.hs) | [working](http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1589215951_8740.hs)):

[code]
Namely:

1. Without `--reflection` it works.
2

[2020-05-11 18:38] nilehmann opened #1668 "Unsoundness for global assumption"
LH reports the following code as safe:

[code]
It seems that the equallity check introduces a contradiction regardless of the value:

[code]

[2020-05-11 18:44] nilehmann commented on #1668
I get the expected behavior if I use `String` instead of a data type
[code]

[2020-05-12 04:03] yiyunliu opened #1669 "dictionary unfolding and new ple"
Here's a program which is checked as safe under old ple but unsafe under new ple (I am using peano number as an example of something that requires nontrivial proof). I suspect that `semigroupPNat` is not unfolded.
[code]

[2020-05-12 04:09] yiyunliu opened #1670 "Proofs don't go through when using type families"
In the following program, we define the type family `Operation` and its instance `Operation (LWW t a) = LWW t a`. One would expect that `Operation (LWW t a)` and `LWW t a` can be used interchangeably since they both reduce to the same type. However, it turns out that if we use the former in our signature, proofs won't go through:
[code]

If we do s/Operation (LWW t a)/LWW t a/ then the program is

[2020-05-12 05:08] mystaroll opened #1671 "Unbound symbol when using composition"
[code]
If I use `=*=` in a file other than Test2, for example:
[code]
Then LH says:
[code]
The error repeats for any function other than `==`.

The error goes away if I rewrite the composition as a lambda:
[code]

I am posting because by using bar in the same file I declared `=*=`, LH doesn't complain. So I am assuming you've already dealt with composition's typing and this is not supposed to happ

[2020-05-12 06:38] nikivazou commented on #1668
I think this definition should generate a duplicate definition of `current` error.

@ranjitjhala in the signature `{-@ assume current :: {v: String | current == v} @-}`, does the `current` in the environment refer to the Haskell `current` or to the measure `current`?

[2020-05-12 06:54] nilehmann commented on #1668
For what is worth, I'm getting the same behavior with:

[code]

[2020-05-12 11:13] #1670 closed, assigned to nobody

[2020-05-12 11:13] #1669 closed, assigned to nobody

[2020-05-14 03:45] yiyunliu opened #1673 "LH is unable to prove that two elements are equal when using type families"
LH commit: `develop@14c6367f46139ba3370b6e4dfe4133d14595cd9d (Tue May 12 13:12:44 2020 +0200)`
Here's an example that demonstrates the issue. `F Thing` is the same as `PNat`, but a theorem for the associativity of `PNat` (`natAssoc`) can't be invoked to prove the associativity of `F Thing` (`natAssoc'`). `coercEq` reveals that under the presence of coercions, LH is unable to prove the trivial fact

[2020-05-17 06:28] mystaroll commented on #1168
Unfortunately, this issue is still happening when importing modules:
[code]
Running LH on FileB gives
[code]
Repo reproducing this: https://github.com/mustafahafidi/lh-pocs/runs/682210516?check_suite_focus=true#step:8:42

The (annoying) workaround is to hide Maybe from Prelude and redefine it (rewriting its functor etc. instances)

[2020-05-17 19:03] ranjitjhala commented on #1168
Hmm does this work if you add a line

foo = Just 7

To FileB ?

On Sat, May 16, 2020 at 11:28 PM Mustafa Hafidi <notifications@github.com>
wrote:

[2020-05-17 19:57] mystaroll commented on #1168
Nope,

With the line: https://github.com/mustafahafidi/lh-pocs/blob/master/FileB.hs#L6-L11
LH complains with the same error: https://github.com/mustafahafidi/lh-pocs/runs/683299611?check_suite_focus=true#step:8:42

[2020-05-18 10:45] expipiplus1 opened #1675 "The documentation for the latest version of this package is missing on Hackage."
It's possible that Hackage wasn't able to build the package.

Is it possible for you to manually upload the package using `cabal upload --doc`, please? Note that this requires cabal-install >= 1.24

Thanks!

[2020-05-18 15:06] nikivazou commented on #1675
Thanks @expipiplus1. We are in the process of cleaning before a new hackage release!

[2020-05-18 15:57] expipiplus1 commented on #1675
cool, thanks

[2020-05-19 09:19] nikivazou commented on #1673
@ranjitjhala actually this is a good example of coercions loosing information.
I promised to make such an example a while back, but never made it :)

You do not need everything, just

[code]

[2020-05-19 21:31] ranjitjhala commented on #1673
Setting aside the issue of why we should support
an odd use case like this (?) what is the exact
problem? Does LH crash? Or does the SMT get a VC
with coercions? If so, what is the VC?

Specifically, what is the CORE generated for `coercEq` test?

[2020-05-19 21:52] ranjitjhala commented on #1673
@nikivazou and @yiyunliu -- I can't edit my LH because its in the alfredo-branch,

but I *think* if you edit this function

https://github.com/ucsd-progsys/liquid-fixpoint/blob/develop/src/Language/Fixpoint/Smt/Serialize.hs#L218-L224

to look like

[code]

basically, change the test used to **omit** the coercion to checking
that the *actual SMT* sorts are the same (not the fixpoint sorts), then
wi

[2020-05-19 21:54] ranjitjhala commented on #1673
In fact @nikivazou your minimized example already works with `--no-adt`, the `natAssoc'` test fails, and I think that too will succeed with the above (reasonable) modification.

[2020-05-20 07:51] adinapoli opened #1677 "Review the state of the QuasiQuoter"
While working on the [source plugin integration](https://github.com/ucsd-progsys/liquidhaskell/tree/adinapoli/source-plugin) I was bitten, in multiple occasion, by some QQ-related tests which were failing on my machine (but not on CI) and lately also on the latter. They are, in order:

- `QQTySyn2.hs`
- `QQTySyn1.hs`
- `QQTySig.hs`
- `elim-ex-map-3.hs`
- `elim-ex-map-2.hs`
- `elim-ex-map-1.hs`
- `

[2020-05-20 12:02] nikivazou commented on #1673
Yes, correct. With no-adt things work. But then you are loosing all the adt theory :)

[2020-05-20 12:02] nikivazou commented on #1673
Let me do your suggestion in fixpoint anyways.

[2020-05-20 12:04] nikivazou commented on #1673
Actually, there is nothing to fix: @ranjitjhala the check `t1' == t2'` is actually performed in the SMT sorts :)

[2020-05-20 13:32] ranjitjhala commented on #1673
In the fixpoint version I have the check is performed on fixpoint sorts;
are you saying on your version/develop it was on the smt sorts? If so does
the test work with no-adt?

On Wed, May 20, 2020 at 5:04 AM Niki Vazou <notifications@github.com> wrote:

[2020-05-20 14:58] nikivazou commented on #1673
Sorry, my mistake, just edited it to work with fixpoint sort and indeed the check works with no-adt.

[2020-05-20 15:06] ranjitjhala commented on #1673
Now, it’s not clear to me why it crashes with adt ... will need more
digging.

On Wed, May 20, 2020 at 7:58 AM Niki Vazou <notifications@github.com> wrote:

[2020-05-20 17:15] ranjitjhala opened #1679 "Local inference not working"
Thanks to  @hafizhmakmur

https://github.com/ucsd-progsys/liquidhaskell-tutorial/issues/94

It's also further puzzling to me that the below is SAFE

(why does the presence of the GHC sig `test :: Int -> Bool` make a difference?)

[code]

but that the following variant is UNSAFE ???

[code]

I wonder if it has to do with how GHC core gets generated for the two cases.

[2020-05-20 20:50] linen101 opened #1680 "installation issue for Arch Linux (tried cabal install and from source)"
When I tried to install liquidhaskell using
`cabal install liquidhaskell`
I got the following error during the compilation phase

`Configuring library for liquidhaskell-0.8.6.2..
Preprocessing library for liquidhaskell-0.8.6.2..
Building library for liquidhaskell-0.8.6.2..
[ 1 of 90] Compiling Gradual.GUI.Misc ( src/Gradual/GUI/Misc.hs, dist/build/Gradual/GUI/Misc.o )
[ 2 of 90] Compiling Gradual.

[2020-05-20 20:51] linen101 commented on #1680
excuse my messy output :)

[2020-05-20 20:53] mystaroll commented on #1680
What version of GHC? It will work if you use stack (recommended)

[2020-05-20 21:07] linen101 commented on #1680
The Glorious Glasgow Haskell Compilation System, version 8.8.3

Trying with stack I get
stack: error while loading shared libraries: libHSstack-2.3.1-DERj23NJZlH7HjBTNySw2W-ghc8.10.1.so: cannot open shared object file: No such file or director

but this has to do with my platform installation

[2020-05-20 21:09] ranjitjhala commented on #1680
I strongly recommend this

https://github.com/ucsd-progsys/liquidhaskell/blob/develop/INSTALL.md#build-with-stack-recommended

On Wed, May 20, 2020 at 2:07 PM linen <notifications@github.com> wrote:

[2020-05-21 11:59] linen101 commented on #1680
stack install from source was successfull but I'm still wondering why cabal didnt work

[2020-05-26 15:07] rosekunkel commented on #1680
It probably doesn't help that the version of LH on Hackage is from September 2019 :grimacing:

[2020-05-26 15:20] ranjitjhala commented on #1680
Surprisingly recent :-)

[2020-05-26 15:26] rosekunkel commented on #1680
The error building from source was because the liquidhaskell repo has a cabal.project file that turns on `-Werror` by default. You can override it with `cabal install --flags="-devel"`.

[2020-05-26 15:33] rosekunkel commented on #1680
The issue with installing from Hackage seems like a version mismatch between the ghc version you're running and the one the library was built for
Unfortunately it doesn't seem like the Hackage package documents what GHC it was built for anywhere - It would be nice to have that, and also a link to whatever commit is packaged.

[2020-05-26 16:38] rosekunkel opened #1681 "Add metadata to Hackage releases."
We should document which GHC version was used to build the current Hackage release and what commit/tag the release is created from, ideally within the release itself. This would help us diagnose GHC version incompatibilities and make the packages easier to use. See #1680.

[2020-05-26 17:44] ranjitjhala commented on #1681
Yes, this should be available from the stack.yaml of the corresponding git
commit?

On Tue, May 26, 2020 at 9:38 AM Rose Kunkel <notifications@github.com>
wrote:

[2020-05-29 23:40] mystaroll opened #1682 "crash: SMTLIB2 on ple"
Hi guys, PLE fails on this for some reason:
[code]
LH says:
[code]

[2020-05-29 23:43] mystaroll commented on #1682
Modifying `asd` to this:
[code]
takes away the crash, however it cannot prove this triviality:
[code]

Any help would be appreciated 🙏

[2020-05-30 00:17] ranjitjhala commented on #1682
Support for lambdas is super flaky; can you hoist out to a top level def and see if that helps?

[2020-05-30 01:58] mystaroll commented on #1682
It works for the example I posted above, however my real use case is something like this :disappointed: :
[code]
Which yields:
[code]
Using `--exactdc` I get the original error.
[code]
Defining `eqToList` to `= True`, doesn't solve the issue, so it has something to do with `(toList (singleton y))`

[2020-05-30 13:36] ranjitjhala commented on #1682
Hmm, after some fiddling I *think* this is because the `CList` ADT is not something that SMTLIB is directly happy with (need to double check that...) Anyways, the workaround is to _disable_ the native-smt `adt` encoding ... I really should make this automatic I think MOST of the last N issues have been about it. In short the following works:

https://liquid-demo.programming.systems/index.html#?dem

[2020-05-30 18:08] mystaroll commented on #1682
Thank you for taking a look a this. I feel like the ADT thing was necessary to me:
Originally CList is actually imported from another module where other functions are reflected, using ```--no-adt``` breaks all the reflections with something like this
```Unbound symbol Lib.CL.CircularList.CList##lqdc##$select##Lib.CL.CircularList.CList##2```

What's the right way to go with this? I guess in the wor

[2020-05-30 18:43] ranjitjhala commented on #1682
I think adding no-adt to those modules also should work?

On Sat, May 30, 2020 at 11:08 AM Mustafa Hafidi <notifications@github.com>
wrote:

[2020-05-30 18:44] ranjitjhala commented on #1682
Ie , just Use no-adt “globally” for your project?

On Sat, May 30, 2020 at 11:42 AM Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

[2020-05-30 18:51] mystaroll commented on #1682
Oh, that works! Thank you very much! should I close this issue?

[2020-05-30 20:17] ranjitjhala commented on #1682
Let’s keep it open for now till I can figure out why the CList crashes no
adt?

Thanks!

On Sat, May 30, 2020 at 11:51 AM Mustafa Hafidi <notifications@github.com>
wrote:

[2020-06-08 21:31] yiyunliu opened #1685 "termination metric for recursive functions on nested data types"
Given the following definition of a general tree:
[code]
I'd like to perform induction based on the following treeSize function:
[code]
However, it is impossible to define `treeSize` as a measure since the second recursive call: `treeSize (GTree x hs)` is not structural.

The second approach is to define two mutually recursive functions:
[code]
This fails termination check as well. In fact, it is

[2020-06-08 21:47] ranjitjhala commented on #1685
Hmm take a look here

https://github.com/pzp1997/liquid-heaps/blob/master/BinomialHeap.hs

they seem to have resolved this problem?

On Mon, Jun 8, 2020 at 2:31 PM Yiyun Liu <notifications@github.com> wrote:

[2020-06-09 02:18] yiyunliu commented on #1685
Interesting. If I make an explicit field for size with proper refinements, then it's possible to prove termination:
[code]

I wonder if there is a way to achieve the same without using an additional field? For some reason, I have to make sure the exported interface remains the same (without the extra size field). I can achieve that by using pattern synonyms (in a separate file which isn't checked

[2020-06-11 14:23] yiyunliu commented on #1685
As an update, Coq's termination checker is able to tell that the following functions terminate:
[code]

It is obvious why `f` terminates.
In order to show that `treeSize` terminates, Coq expands the higher order function `f` in `treeSize` to obtain the inlined version (per http://adam.chlipala.net/cpdt/html/InductiveTypes.html)
[code]
Coq somehow knows that the `treeSize` recursive calls are invok

[2020-06-11 14:35] ranjitjhala commented on #1685
Very interesting, thanks for digging this up Yiyun!

On Thu, Jun 11, 2020 at 7:23 AM Yiyun Liu <notifications@github.com> wrote:

[2020-06-11 23:34] michaelborkowski opened #1687 "SMT2LIB crash with non-eta-expanded Constructors"
I have the following two small files which have boiled down from research code:

https://github.com/michaelborkowski/liquidmeta/blob/master/Lambda2/SMTTest.hs
https://github.com/michaelborkowski/liquidmeta/blob/master/Lambda2/SMTTest2.hs

The first file defines the data types for exprs and types and contains the types for Small Step proof trees and its transitive closure. The first file typechecks

[2020-06-12 00:11] mystaroll commented on #1687
Hi, the links you reported aren't working (probably your repo is private)

[2020-06-12 00:35] michaelborkowski commented on #1687
sorry, I've put the files on a public repo:

https://github.com/michaelborkowski/liquidmeta_public/blob/master/SMTTest.hs
https://github.com/michaelborkowski/liquidmeta_public/blob/master/SMTTest2.hs

[2020-06-12 08:52] mystaroll commented on #1687
I have a feeling this is related to the ADT encoding in LH, could you try running liquidhaskell with `--no-adt` or add `{-@ LIQUID "--no-adt" @-}` to both of your files?
Update: I tried it, with ```--no-adt``` it works

[2020-06-12 17:49] ranjitjhala commented on #1687
@michaelborkowski -- the ADT constructors like `Step` and `EvalsTo` are appearing _without_ being "eta-expanded" / "saturated" i.e. just as `Step` and `EvalsTo` instead of `Step x y` or `EvalsTo x y` -- which is what is freaking the SMT solver out.

1. *Right now* you can work around it by replacing the line

[code]

to

[code]

2. In the *short term* the code in `CoreToLogic.hs` should do this et

[2020-06-12 18:22] ranjitjhala opened #1688 "Dummy imports needed to resolve names from imported modules"
@adinapoli and @kosmikus here is a minimized example of the "dummy imports" problem.

- `module Lib` defines a datatype `T` with constructor `C` and either _reflects_ a function foo (or makes another datatype `T2` with ctor `C2`) whose refinement uses C;

- `module Client` imports `Lib` but LH crashes when resolving the reflected definition of `foo` or `C2` because the name `C` is not in scope :-(

[2020-06-12 18:22] ranjitjhala commented on #1688
derived from but not really related to #1687

[2020-06-16 06:47] gshen42 opened #1689 "compiler plugin doesn't work due to dated Hackage package"
I followed the [tutorial](https://github.com/ucsd-progsys/liquidhaskell/blob/develop/src/Language/Haskell/Liquid/GHC/Plugin/Tutorial.hs) for compiler plugin, but failed to compile package `liquidhaskell` with the following error message:

[code]

The problem is caused by the fact that the latest `liquidhaskell` on Hackage is compiled against `ghc-8.8`, whereas the compiler plugin requires `ghc-8.1

[2020-06-16 14:06] ranjitjhala commented on #1689
Hi @gshen42,

Unfortunately yes the only workaround is to use GHC 8.10 as the plugin
requires features that were just added to that version of GHC.

The simplest way would be to follow these instructions:

https://github.com/ucsd-progsys/liquidhaskell/blob/develop/INSTALL.md#step-2-install-liquid-from-source

LMK if that works!

- Ranjit.

[2020-06-17 04:58] gshen42 commented on #1689
Thanks, @ranjitjhala. The standalone `liquid` executable works, but that's not the compiler plugin way I hope to use.

I somehow managed to get the latest `liquidhaskell` by listing the GitHub repo in the `extra-deps` field of my `stack.yaml`. It looks like this:

[code]

The `liquidhaskell` package builds successfully, however, when I try to type check this code:
[code]
, I get this error:
[code]

[2020-06-17 14:48] ranjitjhala commented on #1689
Wow that’s surprising - how are you running LH to get that error?

Did you try

$ stack exec — liquid path/to/File.hs

Or something else?

On Tue, Jun 16, 2020 at 9:59 PM Gan Shen <notifications@github.com> wrote:

[2020-06-17 17:44] gshen42 commented on #1689
Yes, running `stack exec -- liquid ...` works, so I guess it's maybe a bug in the compiler plugin or I missed something.

I just upload my project (https://github.com/gshen42/LH-playground) to the GitHub in case you want to reproduce the error. What I'm trying to do is simply run `stack build` then my code will be type checked and compiled.

[2020-06-17 17:52] ranjitjhala commented on #1689
Hi @adinapoli can you provide some insight here? Maybe there is something in the docs we can clarify?

[2020-06-17 17:52] ranjitjhala commented on #1689
(or is this the package path thing?)

[2020-06-18 06:40] adinapoli commented on #1689
@ranjitjhala It might be something ever simpler. If I understand what @gshen42 is trying to achieve by looking at his example project, he's trying to _actually_ use the plugin (which is great).

Unfortunately this made me realise we didn't clarify something that for us it's obvious, but that we totally neglected documentationwise: the use of the "mirror packages".

@gshen42 What you need to do is

[2020-06-18 07:38] gshen42 commented on #1689
Thanks @adinapoli for the clarification. Now everything works perfectly.

[2020-06-18 07:38] #1689 closed, assigned to nobody

[2020-06-18 07:39] adinapoli commented on #1689
Great, happy to have been useful, and sorry if you had to be the guinea pig for this 😉

[2020-06-18 13:29] ranjitjhala commented on #1689
Ah, got it thanks Alfredo and apologies Gary!

On Thu, Jun 18, 2020 at 12:39 AM Alfredo Di Napoli <notifications@github.com>
wrote:

[2020-06-22 06:51] adinapoli commented on #1688
Yes, this is indeed unfortunate. I have reproduced this example in a small project to have a better sense for it (I had to type alias `type Vname = Int` to make the code typecheck, tough) and I think I see what's going on.

It seems to me (based on my current knowledge of things) that LH is trying to "resolve" the reflected `StepProof` inside the `Client` module, for some reason (because compiling

[2020-06-22 07:03] adinapoli commented on #1688
Looking at the error, I find it quite interesting:

[code]

It seems like _some_ names are being resolved qualified (like `EFake`) but things like `Step` or `App` are not. Why is that? It seems like LH "thinks" these are local names. **I am starting to suspect a bug in the name resolution at this point**, which is causing `Step` to be resolved as a "local" variable. This happened in the past, and

[2020-06-24 17:47] ranjitjhala opened #1692 "Subtyping error with imported module"
(due to @nilehmann)

https://gist.github.com/nilehmann/3f9d979c1c1a5cbdd3f8956e4f8ea0ad

[2020-06-24 17:57] ranjitjhala commented on #1692
@Niki I was looking at the above; the strange thing looking at the "failing" constraints is they are of the form:

[code]

where `$HOLE`  presumably should have been converted to a `KVAR` but is not actually getting converted.

Hmm. I wonder if this is because of some *interaction of signatures with HOLEs, and module imports.*

Specifically, maybe

1. the "serialized" spec is still with HOLE (as o

[2020-06-24 17:59] ranjitjhala commented on #1692
@nilehmann -- one workaround right now is to _not_ use the hole, e.g. if I change your code in `B.hs` to:

[code]

Then LH seems fine with checking. Can you try that for now while we figure this particular issue out. (I'm pretty sure my hunch is right.)

[2020-06-24 18:31] nilehmann commented on #1692
I can confirm the workaround solves the problem in my original code.

[2020-06-25 16:16] kosmikus commented on #1688
In continuation of our discussion on Tuesday, I just tried this with manually expanding the LH type synonym, and indeed, then it works. So it seems like our speculation that something is going wrong in expanding the type synonym wrt name resolution was correct.

[2020-06-25 16:44] nilehmann opened #1693 "Using mapM on a refined monad crashes LH"
@ranjitjhala as we discussed it, using `mapM` on a refined monad causes LH to crash.

[code]

[code]

[2020-06-26 01:39] svmhdvn commented on #1494
Would you be able to push a release now? Current version in master is 0.8.10.1 and the version on hackage is at 0.8.6.2. Doing this would help unbreak the build on nixpkgs.

[2020-06-26 02:34] ranjitjhala commented on #1494
Hi Siva, yes we are gearing up to release 0.8.10.1 very soon (just a last
few wrinkles to be ironed out.) thanks for your patience!

On Thu, Jun 25, 2020 at 6:39 PM Siva Mahadevan <notifications@github.com>
wrote:

[2020-06-26 07:14] adinapoli commented on #1688
Ah, that's great, thanks Andres. I suspect a _potential_ solution might be to either expand the type synonym sooner _or_ to fully qualify the names in the type synonym so that it doesn't matter when we expand it. I have yet to look at the relevant code, so I have no sense which of the two solution is easier, and whether or not there are other solutions I am not thinking about right now 😉

[2020-06-29 12:12] adinapoli opened #1694 "Release planning"
Now that we merged our work on the [GHC Plugin](https://github.com/ucsd-progsys/liquidhaskell/pull/1683), it's time for us to think about a new LH release. In particular, there are a number of things we need to do/think about before we are ready to cut a new release. In no particular order:

- [x] **Script** the lock-step upload of LH and all associated packages on hackage.

- [x] **Speedup LH dev

[2020-06-29 13:28] kosmikus commented on #1694
#### Make a final call on the new naming scheme

I'm now in favour of reverting this and leaving the old executable under the name `liquid`, and calling the new one, perhaps, `lh` (which seems to be not taken by anything really important). I'm also in favour of moving the legacy binary back into the main `liquidhaskell` package. I find the flag logic very strange, where in `liquid-platform` we cur

[2020-06-29 13:52] gridaphobe commented on #1694
My thinking is that megarepos are useful when the underlying components are tightly coupled and have to co-evolve. In other words, if you find yourself submitting a lot of coordinated PRs between two packages, or coordinating their release schedules, you might benefit from a megarepo.

When we split liquid-fixpoint out into its own repo, I think we imagined it being a relatively stable base that c

[2020-06-29 14:12] kosmikus commented on #1694
I agree with the general assessment by @gridaphobe. I did not want to start entangling the next release with the question of possibly merging `liquid-fixpoint` back into the main repo. I would be in favour of this, but even if, let's not do it before the next release. However, I think for the new library packages, we should keep them in the main repo for now, at least until we feel that they're st

[2020-06-29 17:31] ranjitjhala commented on #1694
Hi all, yes liquid-fixpoint is in fact still used by projects unrelated to
LH
so we'll have to keep that separate. The rest I don't really have a super
strong
opinion on... Ranjit.

On Mon, Jun 29, 2020 at 7:12 AM Andres Löh <notifications@github.com> wrote:

[2020-06-30 07:37] nikivazou commented on #1694
**Decide where to host the 'liquid-*' packages**

The benefit of holding them outside of the LH repo is that a contributor can more easily modify, provide other `liquid-*` packages. E.g., is the base package in the same repo as ghc?

**Make a final call on the new naming scheme**
I also dislike `liquid-legacy`. How about `liquidhaskell` for the new name?

[2020-06-30 08:31] kosmikus commented on #1694
@nikivazou `base` (and `ghc-prim`) are in the main repo. The other libraries are submodules. I don't think having separate repos makes these libraries easier to "modify". In order to provide new libraries, everyone can make their own `liquid` wrapper in their own repository. We're not preventing that. But these would not be maintained by the LH team.

[2020-06-30 08:37] adinapoli commented on #1688
Ok, so I have discovered something quite interesting in my investigation so far. It all starts from the [qualifyExpand](https://github.com/ucsd-progsys/liquidhaskell/blob/develop/src/Language/Haskell/Liquid/Bare/Expand.hs#L265) function:

[code]

The aim of this function is to essentially resolve names and expand things like type synonyms before creating a `LiftedSpec`.
I have traced the input and

[2020-06-30 15:52] ranjitjhala commented on #1694
If anything I'd say `liquid-base` and `liquid-prim` are easier
to modify when they are _inside_, because you can easily rebuild
LH with them to make sure you didn't make some odd typo/mistake.

[2020-07-01 20:20] kosmikus commented on #1589
I'm closing this, as I think we have cabal builds on CI now.

[2020-07-01 20:20] #1589 closed, assigned to adinapoli

[2020-07-03 04:08] ranjitjhala opened #1697 "Strange behavior with monadic bind"
Via @nilehmann

https://gist.github.com/nilehmann/8ace3dd793dc78bf0af04f8ee3585b84

- `A.hs` the code is *safe* using a monad where `User` is hardwired
- `B.hs` the code is *unsafe* using a monad where `user` is a parameter
- `C.hs` the code is *safe* where we use a plain `bindT` and `returnT`

Some mysterious goings on.

1. Why is LH not failing on `A.hs`, `B.hs` demanding that `--no-pattern-inli

[2020-07-03 04:34] ranjitjhala commented on #1697
@nilehmann -- this almost surely has to do with some strange interaction of
the gnarly code that links signatures and class-instances. The only good news
here is that `C.hs` seems to be doing the right thing. Consequently, for the short
term i.e. till @nikivazou can figure this out, can you try to make progress with
`RebindableSyntax` e.g. module `D.hs` below (which works?)

(Basically means you c

[2020-07-03 04:44] nilehmann commented on #1697
@ranjitjhala, thanks for the suggestion. I think it will be enough to have a proof of concept of the library-ification. So, I should be good for now.

[2020-07-07 01:00] safinaskar commented on #1680
This bug affects me, too. I get similar error when I do "cabal install". So, yes, document dependency on ghc version

[2020-07-07 01:01] safinaskar commented on #1681
This bug affects me, too. I get similar error when I do "cabal install". So, yes, document dependency on ghc version

[2020-07-11 08:14] safinaskar commented on #1694
Hi. I am trying to get started with Liquid Haskell. I want to report some issues (mostly with docs) I found. I hope I helped you.

Currently I see documentation mess:
- http://ucsd-progsys.github.io/lh-workshop/ has this link labeled as "PDF": http://ucsd-progsys.github.io/lh-workshop/book.pdf , but this link is broken
- https://ucsd-progsys.github.io/lh-workshop/01-index.html has link http://www.

[2020-07-11 09:13] safinaskar opened #1702 "Cannot use "amPred1 a" in function "bar" if I have {-@ assume bar :: {a:String|amPred1 a} -> ... @-}"
Consider this code. This is full source. It is a bit artificial.
[code]
I get the following error:
[code]
For unknown reasons I cannot use "amPred1 a" in definition of "bar". I think this is a bug. The error goes away if I add `{-@ bar :: {a: String | amPred1 a} -> String @-}` to this source (without removing `assume bar`!). But this doesn't work across modules. Consider this:
[code]
[code]
I get

[2020-07-11 14:48] ranjitjhala commented on #1702
Hi @safinaskar,

A few things.

First, I'd suggest you simplify your code a bit as shown below;
just define the function `amPred1` and use `reflect` to turn it
into something you can use in specs. This may be easier than
having two things floating around but if your code for `amPred1`
is super complex and not in the fragment of Haskell that LH can
`reflect` then you can still use your `measure` ap

[2020-07-11 14:50] ranjitjhala commented on #1694
Wow this is *very* helpful and comprehensive thank you very much! (We're working to "collect" all these dead links and exactly fix up this kind of stuff, so its perfect to have a fresh set of eyes tell us what needs fixing)

[2020-07-11 19:19] safinaskar commented on #1702
@ranjitjhala, thanks a lot!

`reflect` doesn't work even in simple cases. For example, it fails if I use `null` in my function (even if I import `Language.Haskell.Liquid.Prelude`) with message `Unbound symbol Data.Foldable.null --- perhaps you meant: Data.Either.Left ?`. (I use Hackage Liquid Haskell version, i. e. 0.8.6.2, my ghc version is 8.6.5.) Same with `head`. Maybe there is some way to fix

[2020-07-11 20:41] safinaskar commented on #1702
I can give you good example. Consider function `sanitize`, which sanitizes some string input from untrusted user. This function establishes property `sanitized`, and I want to express this in LH. But I don't want to give definition of `sanitized`, I want LH just to threat it as opaque property. Of course, I cannot prove that `sanitize` establishes `sanitized` (because LH doesn't know what is `sani

[2020-07-11 21:39] ranjitjhala commented on #1702
Hi @safinaskar -- got it -- in that case I suggest you do as described here

http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1594503347_10803.hs

**Step 1: Define `sanitized` as a measure**

[code]

**Step 2: Assert a type for the IMPLEMENTATION of `sanitize`**

Tell LH to use check IMPLEMENTATION of `sanitize` using the below signature
whose output just says `String` so we don't *verify* t

[2020-07-11 22:52] safinaskar commented on #1702
Unfortunately, your solution doesn't work across modules. I used Blank.hs you published at http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1594503347_10803.hs as-is. And added the following Use.hs:
[code]
Then I got this error:
[code]
If I move `{-@ assume @-}` to Use.hs, then everything works. But this will mean that I have to put `{-@ assume @-}` to every module where I use `sanitize`! I

[2020-07-11 23:13] ranjitjhala commented on #1702
Ah yes, you are right -- across modules, LH will complain. You can do this instead

http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1594508959_10812.hs

## Define a `Sanitize` Module

1. Split the actual implementation into a separate (non-exported) function,
2. Only export `sanitize` with the `assume` signature
3. Tell LH to `ignore` checking the implementation of `sanitize`

[code]

## Us

[2020-07-11 23:57] safinaskar commented on #1702
Yes, it works! Thanks a lot, I'm closing bug

[2020-07-11 23:57] #1702 closed, assigned to nobody

[2020-07-12 13:45] kosmikus commented on #1702
Does this bug really deserve to be closed? What is the reason why LH should complain in the cross-module scenario, when apparently it is ok in a single-module scenario?

[2020-07-12 15:48] ranjitjhala commented on #1702
I agree; I wonder what happens in develop? Does LH complain? IMO if there
is an assume then that should be the exported signature. Alternately we can
make it complain even in the single module case (duplicate signatures)
since the right thing may be to split into two binders as discussed
above...?

On Sun, Jul 12, 2020 at 6:45 AM Andres Löh <notifications@github.com> wrote:

[2020-07-12 16:51] safinaskar commented on #1702
In single-module case I see a warning. This is output of LH on http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1594572631_10837.hs :
[code]

[2020-07-13 11:46] kosmikus commented on #1123
This is not exclusively a parser bug. I am working on changes of the parser that will make it possible for LH infix directives to appear "out of order". However, it seems LH does not write the presence of infix directives to the interface file. This has to be fixed independently.

[2020-07-13 12:15] kosmikus commented on #1373
For this one, I'm not sure what the goal is. Do we want to allow unparenthesised infix operators in prefix position, in deviation from Haskell? The code `(: x)` in Haskell would be an operator section meaning `\ y -> y : x`. I think it would be confusing if LH would successfully parse it as `\ y -> x : y` instead. We should probably allow `((:) y)` though, which currently also does not work, I thi

[2020-07-13 12:27] kosmikus commented on #1374
I think this needs further discussion.

It seems adding infix `(:)` by default would be simple enough, either built-in, or preferably by defining it in `liquid-base` and fixing #1123

We should clarify the syntax for explicit type annotations though. It seems as if currently, both `:` and `::` are allowed. I think that at least for LH, we should probably disallow `:`.

[2020-07-13 12:37] kosmikus commented on #1199
I don't see the direct relationship to the other issues mentioned. It seems that the primary parsing problem in this issue is that a pattern in a measure (`measurePatP`) is not allowed to be a plain variable, but must essentially be a constructor application. I am not sure whether this restriction is fully justified.

[2020-07-13 12:38] kosmikus commented on #856
The parser fix here is simple enough. However, I am not sure whether other phases of LH would be ok with arbitrary unicode. Presumably we need to escape before feeding to the external solver?

[2020-07-13 12:55] kosmikus commented on #338
I think without the `Prop` (which AFAICS has been removed), this is working already, right?

This seems in some way related to the name resolution issues covered by #1688, but I don't think there currently is a parsing problem at this point?

[2020-07-13 13:11] kosmikus commented on #780
It looks like this is not currently producing a parse error, but rather a sort error as well as "Illegal type specification" errors as indicated above. I think I need more background here.

[2020-07-13 13:25] kosmikus commented on #873
I'd argue this is fixed with the upcoming parser changes, and probably related to #871.

We have to look at various aspects independently:

- `Prop` has to become `Bool`. I think this is backed up by other changes made to LH in the meantime.
- The `(TypeName)` parens can indeed be removed now.
- The comment has to be introduced with `//`, because for some reason, that is the line comment syntax th

[2020-07-13 14:16] ranjitjhala commented on #873
Great, shall we close or perhaps wait till the changes are merged? Thanks!!!

[2020-07-13 14:20] ranjitjhala commented on #1373
I agree with @kosmikus -- we want to stick to Haskell syntax here.

On Mon, Jul 13, 2020 at 5:15 AM Andres Löh <notifications@github.com> wrote:

[2020-07-13 14:23] ranjitjhala commented on #1374
I agree in principle (we should disallow single colon type annotations)
but fear it will break a some tests. (OTOH, those should be easy to fix)

On Mon, Jul 13, 2020 at 5:27 AM Andres Löh <notifications@github.com> wrote:

[2020-07-13 14:23] ranjitjhala commented on #338
Correct, let me close!

[2020-07-13 14:23] #338 closed

[2020-07-13 14:23] ranjitjhala commented on #338
thanks @kosmikus !!

[2020-07-13 14:39] ranjitjhala commented on #856
The key is the `Symbol` type defined in `Language/Fixpoint/Types/Names`
fixpoint which is _super_ pervasive. Looking at it, I see it was defined
using `Text` as:

[code]

All names are already escaped before feeding to the solver (in
Language.Fixpoint.Smt.Serialize IIRC)
so I think if we modify the parser, that alone should do the trick!

On Mon, Jul 13, 2020 at 5:39 AM Andres Löh <notifications@g

[2020-07-15 18:12] #1688 closed, assigned to nobody

[2020-07-15 21:09] racherb opened #1707 "Liquid fails when use import GHC.Num"
### Liquid fails when I import GHC.Num

The detail of the error is shown below:

#### Error

[code]
#### How to reproduce it?

**$ ghc --version**
`The Glorious Glasgow Haskell Compilation System, version 8.6.3`

**$ liquid --version**
`LiquidHaskell Version 0.8.6.0, Git revision fe4062f339f11d4390f0b0803062f2a8f0d23dea [develop@fe4062f339f11d4390f0b0803062f2a8f0d23dea (Thu Apr 25 11:04:59 2019 -0

[2020-07-16 14:37] nikivazou opened #1708 "liquid-legacy and liquid plugin behave differently"
in this example: https://gist.github.com/nikivazou/6932d10899f30e34a430c3e9978eaf9c

[code]

If I change the below definitions (of https://gist.github.com/nikivazou/6932d10899f30e34a430c3e9978eaf9c#file-fixme-hs-L11-L12)

[code]

to

[code]

both agree to SAFE.

@ranjitjhala @adinapoli

[2020-07-16 16:43] ranjitjhala commented on #1708
I’m surprised the old LH handled it: I didn’t think we supported
“undefined” in reflected functions?

On Thu, Jul 16, 2020 at 7:38 AM Niki Vazou <notifications@github.com> wrote:

[2020-07-16 18:23] nikivazou commented on #1708
Yes, though it is not directly reflected.
1. It would be convenient to support that
2. I am still surprised that the two ways give different response.

[2020-07-16 18:59] ranjitjhala commented on #1708
What is the exact error you get?

On Thu, Jul 16, 2020 at 11:24 AM Niki Vazou <notifications@github.com>
wrote:

[2020-07-16 19:25] kosmikus commented on #1708
I've been looking at this briefly.

The error message with the plugin is:
[code]
That's not a very helpful error message from z3, but perhaps that is normal. (I would hope it actually tells which identifier, but it doesn't. I'm not sure exactly how the line/column calculation works here either.)

I've then been looking at the actual stuff that's being sent between LH and z3 (which unfortunately do

[2020-07-17 06:35] adinapoli commented on #1708
Indeed, this is peculiar and interesting. The only two places where divergences might occur are either in the way we provide specs (and how we provide them) as Andres was suggesting, or in the way we create a `GhcSrc` before turning it into a `LiftedSpec`. Perhaps somehow those `bool1` and `bool2` are being filtered out (or transformed) by the `GHC.Interface` but treated differently by the `GHC.Pl

[2020-07-18 17:00] plredmond opened #1710 "[plugin] Annotations in some modules ignored, possible race in parallel builds"
Sometimes annotations in modules aren't checked. I've made a repro of the issue here: https://github.com/plredmond/liquidhaskell-uscd-progsys-tut/tree/d021a33f90713dbce3f1e895b63ef9944df7c82e
* On the branch there are two modules, `A` and `B`.
* `A` uses `{-# LANGUAGE PackageImports #-}` to `import "liquid-base" Prelude`.
* `B` contains an invalid annotation (a value 3 is annotated as not being 3)

[2020-07-18 17:02] plredmond commented on #1710
Originally reported [in slack](https://liquidhaskell.slack.com/archives/C54QAL9RR/p1595059256088400?thread_ts=1595059172.088200&cid=C54QAL9RR) and copied here:

[2020-07-18 17:04] plredmond commented on #1710
I'll check to see if the order of the two modules being compiled corresponds to the presence of the bug.

[2020-07-18 17:07] srhb commented on #1710
Sorry, I meant that the build appears to correctly *fail* with --cores 1

[2020-07-18 19:43] plredmond commented on #1710
Thanks for the correction @srhb. I've confirmed that with `--cores 1` the build fails consistently, which is a good workaround.

[2020-07-18 21:00] plredmond commented on #1710
Here is an example of how the output looks when the build succeeds and reports SAFE, incorrectly (reported ACTUAL behavior).
[code]
Here is an example of how the output looks when the build finds the invalid annotation and fails, correctly (reported EXPECTED behavior).
[code]

[2020-07-18 21:17] plredmond commented on #1710
<details><summary>EXPECTED: Here is an example of how the <code>nix-build --cores 8</code> output looks when the build finds the invalid annotation and fails (correctly).</summary>

* Note that constraint checking output seems out of order with at the "Compiling B" message. (It's not clear if this ordering is expected, but I'm calling it out to contrast with below.)

[code]

</details>

<details><

[2020-07-18 21:47] ranjitjhala commented on #1710
Puzzling! I wonder if this is a known issue with GHC plugins?

however with a plain, single threaded build there is no problem, right?

Also the module A seems to not be relevant (as in there are no specs in it
that matter) — yet, does deleting it make the misbehavior go away?

On Sat, Jul 18, 2020 at 2:18 PM plredmond <notifications@github.com> wrote:

[2020-07-18 22:55] plredmond commented on #1710
@ranjitjhala

Yes, deleting `A` or removing `import "liquid-base" Prelude` from `A` fixes the issue.

Yes, as described in the (updated) github issue. (Since you're on email you probably cannot see my edits to the github issue description).

---

Update:

I upgraded from liquidhaskell@https://github.com/ucsd-progsys/liquidhaskell/commit/3bc467162ba285bf2c1529dafce21a20bb9aab8e to liquidhaskell@htt

[2020-07-20 17:05] nikivazou commented on #1697
The solution to make `B.hs` safe is this: https://github.com/ucsd-progsys/liquidhaskell/pull/1621 where both functor and monads are generic classes. i.e.,

https://github.com/ucsd-progsys/liquidhaskell/pull/1621/files#diff-69cb9308eaa64a31f444271f0cf99568R1467

should get

[code]

In other words, all the refinements are lost on the constraints `>>=`.

[2020-07-20 17:30] nilehmann commented on #1697
I don't quite understand the solution, but why is there a difference between refining `TaggedT m a` (A.hs) and `TaggedT user m a` (B.hs)?

Also, is this related to instantiating `mapM :: (a -> TaggedT<true, true> m b) -> t a -> TaggedT<true, true> (t b)` instead of `mapM :: (a -> TaggedT<p, q> m b) -> t a -> TaggedT<p q> (t b)` as we would want?

[2020-07-20 19:50] plredmond commented on #1710
I'm closing this because it was resolved by using a newer version of LH.

[2020-07-20 19:50] #1710 closed, assigned to nobody

[2020-07-20 22:25] plredmond opened #1711 "[plugin] Undeclared type-variable error not properly reported for GHC to render as a compilation error"
In this example `Bool` is typo'd to `bool`, which is an undeclared/out-of-scope type variable. LH correctly identifies this error, but doesn't report it properly when LH is used as a GHC plugin. As a result, third party tools which integrate with GHC cannot detect the error condition. [In slack](https://liquidhaskell.slack.com/archives/C54QAL9RR/p1595280783112400?thread_ts=1595280231.110000&cid=C5

[2020-07-20 22:58] plredmond commented on #1711
Here's another example of this sort of problem, though I don't know whether this generates the exact same kind of error as the first:
[code]
This shows a human-readable "does not refine Haskell type" error when you build, but third-party tools like GHCID cannot see the error.

[2020-07-21 00:54] plredmond commented on #1711
Here's a third example. This produces a "multiple specifications for .." error when you build, but third party tools like GHCID cannot see the error.

[code]

This example is actually lifted directly from [a tutorial](https://liquid.kosmikus.org/) linked from the [LiquidHaskell homepage](http://ucsd-progsys.github.io/liquidhaskell/), so it's a little strange that it causes an error.

[2020-07-21 06:47] adinapoli commented on #1711
@plredmond Thanks for taking the time to write this ticket!

@plredmond @ranjitjhala I confess I haven't look too deeply into this issue, but having spent a fair amount of time on LiquidHaskell's internals, I'll have a guess: I think the culprit is that _not all_ (parsing, or otherwise) errors are correctly routed through the error-handling mechanism we put in place for the plugin, which uses the

[2020-07-21 08:44] adinapoli commented on #1708
@nikivazou @ranjitjhala Ok, I've got to the bottom of this, and here is a somewhat succinct explanation of the problem, to serve as a _post mortem_. First of all, the offending line of that cryptic crash error can be found by looking inside the annotation file produced as part of `.liquid/Fixme.hs.smt2`, which revealed that the solver was crashing due to:

[code]

I will spare you the painful deta

[2020-07-21 09:04] adinapoli opened #1712 "Remove conditional 'buildable: False' for legacy executable"
@kosmikus rightly pointed out that it's unnecessarily difficult to build the legacy executable, as I have placed a conditional `buildable: True` only if either the version of GHC is < 8.10.1 or if a flag (`no-plugin`) is passed. I've got burned by this a few times myself and I am now convinced that indeed I was too stringent in my cabal file, and that the legacy executable should be buildable by d

[2020-07-21 09:21] adinapoli commented on #1711
I have reproduced the first example and indeed there are two things going wrong here:

1. The parser should arguably catch this as a parsing error, so that we fail preemptively;
2. In the current codebase, this misbehave due to the fact `plugHoles_old` throws an exception (from pure code).

Ditto for the second and third example, with exceptions being thrown in different parts of the codebase. I w

[2020-07-21 13:32] ranjitjhala commented on #1708
This is great @adinapoli! Lets not change `simplify` -- as I said the bug here is not that `undefined` is *failing* in one case, but that it is in fact *working* in the other case -- as discussed on slack, this is because it is somehow getting added to the refinement-wellformedness environment in `Bare.ghcSpecEnv` which is then used inside `Bare.Check` -- whereas in fact it shouldn't...

Note ther

[2020-07-21 13:38] #1712 closed, assigned to nobody

[2020-07-21 13:39] #1711 closed, assigned to nobody

[2020-07-21 15:00] ranjitjhala commented on #1711
Your plan sounds good to me @adinapoli Thanks!!

On Tue, Jul 21, 2020 at 2:21 AM Alfredo Di Napoli <notifications@github.com>
wrote:

[2020-07-23 04:30] #1708 closed, assigned to nobody

[2020-07-23 13:52] ranjitjhala opened #1719 "Elaboration fails due to `return`"
This simple code

[code]

fails with the rather horrific error

[code]

I am *surprised* that there is a refinement somewhere with `return ()` inside it.

I *believe* this has to do with the `makeSingleton` and the fact that it makes singleton types for function-applications -- clearly its (a) doing the wrong thing here? or (b) should not be used here and the `higherOrder` flag should only be appl

[2020-07-23 13:56] ranjitjhala commented on #1707
Dear @racherb -- can you try with the latest `develop` (there are lots of changes and its for GHC 8.10 but the import/resolution code is much improved.) Specifically, I tried the below code and it works fine:

[code]

Maybe there is some other modification that triggers the error?

[2020-07-23 16:12] nikivazou commented on #1719
The problem seems to be that the type parameter of `return` is not properly instantiated, no?

I do not recall exactly why we need all these stuff in `makeSingleton`. Did you try removing them and see what fails?

[2020-07-23 17:59] ranjitjhala commented on #1697
@nilehmann i don’t follow your mapM remark, aren’t you missing some m in the signature?

[2020-07-23 18:16] nilehmann commented on #1697
@ranjitjhala, yeah I missed some `m`'s. Right now I think `mapM` is instantiated with:

[code]

but we'd like it to be more like

[code]

[2020-07-23 18:20] ranjitjhala commented on #1697
Can you add this as a concrete code snippet to this issue? Eg we want X.hs
to be safe (if mapM is instantiated correctly?) as I understand it Niki’s
suggestion may/should Address this too so I can see if the edit she
suggests helps

On Thu, Jul 23, 2020 at 11:17 AM Nico Lehmann <notifications@github.com>
wrote:

[2020-07-23 18:23] ranjitjhala commented on #1697
Thinking some more the isGeneric should be necessary to get the mapM
working properly but may not be sufficient...

On Thu, Jul 23, 2020 at 11:20 AM Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

[2020-07-24 05:52] ranjitjhala commented on #1697
@nikivazou your solution doesn't  work. When I make `Monad` generic, the `tests/neg/monad4.hs` _verifies_ which is *unsound*. The test looks like this:

[code]

The reason this gets verified is that LH synthesizes the type

[code]

and hence that

[code]

after which it is all game over...

Now, I don't know why making `Monad` generic should `gpp` this odd type (with the `{m | false}`).

The code

[2020-07-24 09:53] nikivazou opened #1721 "SMT crashes on diverging Int functions"
The following

[code]

Crashes with
[code]

It is SAFE with `--no-terminantion`. SMT version `Z3 version 4.8.8 - 64 bit`

[2020-07-24 14:37] ranjitjhala commented on #1721
Wow this is without reflection/ple or similar???

On Fri, Jul 24, 2020 at 2:53 AM Niki Vazou <notifications@github.com> wrote:

[2020-07-24 15:07] nikivazou commented on #1721
It seems I had a wrong fixpoint link, which is even more confusing, because I clean build it...
Still trying to understand what I am doing wrong.

[2020-07-24 15:07] #1721 closed, assigned to nobody

[2020-07-24 16:37] ranjitjhala commented on #1697
Btw, @nikivazou here's a stripped down version that is unsoundly marked "safe" with "generic" `monad`

[code]

[2020-07-24 16:52] ranjitjhala commented on #1697
Further simplification yields this:

[code]

I think the problem is this: LH infers

[code]

but then when we do the _actual_ specialization to the `Maybe` monad it somehow converts:

[code]

So maybe it has to do with how we're dealing with application/substitution of HKT?

Also, its odd that we should attach a refinement with the `m` in `{v: m | false}` -- I mean `m` is not of kind `*`  and we s

[2020-07-26 08:42] racherb commented on #1707
Dear @ranjit, I have been using the Custom Preludes option and, so far, I have been able to exclude the import of GHC.Num.

On the other hand, I haven't been able to compile the development version yet but I'll keep an eye on its evolution.

[code]

[2020-07-26 08:42] #1707 closed, assigned to nobody

[2020-07-26 16:48] ranjitjhala commented on #1707
How are you trying to build?

On Sun, Jul 26, 2020 at 1:43 AM Raciel Hernández <notifications@github.com>
wrote:

[2020-07-27 16:37] racherb commented on #1707
I'm trying to build with "cabal". This is the error message:

[code]

[2020-07-28 13:24] nikivazou commented on #1697
@ranjitjhala it seems that all the "unsound" examples you have are soundly unsafe with the `"--no-pattern-inline"` flag.
With respect to whether or not the `Monad` is actually generic, since `return` can return ANY monad, I do not have yet a concrete answer.

Here is exactly why we need a fresh `k` var for `B.hs` to type check. We need to check

[code]

with

[code]

Currently, the only way to uni

[2020-07-29 07:25] adinapoli commented on #1694
The `0.8.10.1` release is now on Hackage, together with the ancillary packages:

* https://hackage.haskell.org/package/liquidhaskell-0.8.10.1
* https://hackage.haskell.org/package/liquid-fixpoint-0.8.10.1
* https://hackage.haskell.org/package/liquid-base-4.14.0.0
* https://hackage.haskell.org/package/liquid-ghc-prim-0.6.1
* https://hackage.haskell.org/package/liquid-bytestring-0.10.10.0
* https://

[2020-07-29 07:25] #1694 closed, assigned to nobody

[2020-07-29 13:39] adinapoli opened #1727 "Building documentation fails when the plugin is enabled"
I was trying to manually build the docs for `liquid-base` by typing:

[code]

Unfortunately, that didn't go through and instead failed with:

[code]

This is interesting, as in theory it shouldn't fail.

[2020-07-30 14:25] hafizhmakmur opened #1728 "Set union with Empty Set in measure doesn't yield expected result?"
I'm playing around trying to solve the last practices of [the LH tutorial](http://ucsd-progsys.github.io/liquidhaskell-tutorial/Tutorial_12_Case_Study_AVL.html) and I think I found some problem relating to measure and union of Sets, as I try to isolate as much as possible in [this code.](http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1596118642_11417.hs)

So it seems like in this case Liqu

[2020-07-30 22:36] ranjitjhala commented on #1728
Dear @hafizhmakmur -- the `measure` is an "uninterpreted function" which means that when LH sees `emptySet Leaf'` in a refinement, it knows nothing about the "meaning" of `emptySet`.

You can solve your problem by either:

- replace `measure` with `inline`  which tells LH to "inline" the definition of `emptySet`, but this only works for *non-recursive* functions like `emptySet`, or

- replace `emp

[2020-07-30 22:36] #1728 closed, assigned to nobody

[2020-07-31 18:27] peti opened #1729 "Please support Diff-0.4.x"
Current release versions of `liquidhaskell` cannot be built in an LTS-16.x environment because the package does not support `Diff-0.4.x`. Would that be difficult to rectify?

[2020-07-31 19:37] ranjitjhala commented on #1729
Hmm let me see if we can fiddle around with this to get LH to build on
LTS-16.x ...

On Fri, Jul 31, 2020 at 11:27 AM Peter Simons <notifications@github.com>
wrote:

[2020-08-05 17:14] nilehmann opened #1735 "LH produces duplicate specifications for measures whose type contains String"
This simple code below produces an error when checking `B.hs`

[code]

[code]

[code]

I did some digging and noticed that one of the measures has type `String` while the other has type `[GHC.Types.Char]`

[2020-08-06 04:05] ranjitjhala commented on #1729
Hi @peti -- I just made a PR that should hopefully fix this issue! Thanks, Ranjit.

[2020-08-06 14:11] zgrannan opened #1737 "Verification does not terminate when reflected function used instead of measure"
LiquidHaskell does not terminate on the following code:

[code]

However is `reflect length'` is replaced with `measure length'` (as it ought to be), verification works.

[2020-08-06 14:16] ranjitjhala commented on #1737
Wow, that's a bit of a surprise. (Has it always been the case?)

I assume its `ple` that's doing the diverging?

Can you take a look since you're working on it?

[2020-08-06 14:31] zgrannan commented on #1737
@ranjitjhala Sure I will take a look. I think it does have to do with PLE.

It seems like a regression: this code works on an arbitrary commit I chose from the past (d6ed10575062f861c62eb3afe238f7755d9dec99)

[2020-08-06 16:21] ranjitjhala commented on #1737
Interesting! probably a good idea to git bisect to find the breaking commit?

On Thu, Aug 6, 2020 at 7:31 AM Zack Grannan <notifications@github.com>
wrote:

[2020-08-14 13:14] ranjitjhala opened #1738 "Can't use imported `inline` inside a `reflected` function"
LH complains

If you create a *module* with an `inline`d function `incr`

[code]

and then *import* that `module` and try to use `incr` in a reflected function

[code]

Then LH complains that `error:  Illegal type specification for 'InlineB.bar'` because `Unbound symbol 'InlineA.incr'`

Clearly we're not suitably serializing `inline` -- I don't think this is a regression per se, I suspect this was

[2020-08-17 08:20] adinapoli commented on #1735
Hi @nilehmann !

We are in the process of transitioning to a new GHC plugin architecture, as described [here](https://hackage.haskell.org/package/liquidhaskell-0.8.10.1/docs/Language-Haskell-Liquid-GHC-Plugin-Tutorial.html), and the executable is now deprecated.

Are you in a position to test out the GHC plugin, and report if you still get the error?

[2020-08-17 15:32] ranjitjhala commented on #1735
Hi @alfredo - I will try it out! Ranjit

On Mon, Aug 17, 2020 at 1:20 AM Alfredo Di Napoli <notifications@github.com>
wrote:

[2020-08-17 18:38] ranjitjhala commented on #1735
Ok, I can confirm that the bug *does not* happen in `plugin-mode`.

Specifically, if you check this branch out:

https://github.com/ucsd-progsys/lh-plugin-demo/tree/measure-string-bug

(`Lib.hs` exports the `measure` and is imported by `Client.hs`)

Then

- *plugin-mode* via `stack build` (etc.) finishes just fine, BUT
- *executable-mode* complains:

[code]

[2020-08-17 18:44] ranjitjhala commented on #1738
@adinapoli if you want to reproduce this above -- you can use this branch:

https://github.com/ucsd-progsys/lh-plugin-demo/blob/inline-import-bug/

[2020-08-17 18:55] nilehmann commented on #1735
ok, if the fix is then to use plugin mode, may I ask if there's a recommended way to turn refinement checking on and off? The code I'm currently working on takes several seconds to check a single module. This is beyond what I'm willing to accept in my regular edit check flow. So, I'd like to get fast feedback just from ghc and only check refinements after the code is more stable.

[2020-08-17 19:25] ranjitjhala commented on #1735
The easiest is to comment out the line

https://github.com/ucsd-progsys/lh-plugin-demo/blob/main/lh-plugin-demo.cabal#L25

in the cabal file? There's probably some clever way to use stack/cabal
flags too but I don't recall
the syntax off the top of my head. Still, let me look into this, since it
is independently very important!

On Mon, Aug 17, 2020 at 11:55 AM Nico Lehmann <notifications@github.c

[2020-08-18 06:07] adinapoli commented on #1735
To complement what Ranjit said already, perhaps a middle-ground solution is to add the `--compile-spec` option as a pragma to the single module taking several seconds to refine (if that's an option)? Something like:

[code]

`--compile-spec` will skip verification for that module, and should be faster.

[2020-08-18 13:13] adinapoli opened #1739 "Release 0.8.10.2 ?"
GHC 8.10.2 is [out](https://www.haskell.org/ghc/blog/20200808-ghc-8.10.2-released.html) and that fixes a number of issues, including the infamous [18070](https://gitlab.haskell.org/ghc/ghc/-/issues/18070) which was preventing the plugin to work properly on Windows and with tools like ghcide.

Should we try and cut another release for LH, Fixpoint and all the liquid-* packages, so that users have s

[2020-08-18 15:05] zgrannan commented on #1737
I'm no longer convinced that this is an PLE issue necessarily. This works with
`--oldple` option, but I suspect that it may be due to the logic in the old ple
to prevent recursive function applications in `if` branches.

The issue here is that every time the "length" function is applied in PLE, it
takes the recursive branch.

I've created a more simple example:

[code]

I tried to figure out why t

[2020-08-18 16:12] ranjitjhala commented on #1737
🧐

I think your hypothesis is correct.

As a test, if you change the output of length to say Nat instead of Int it
should finish. (Also to test your hypothesis you could explicitly put in
the nil case?)

Also, this is consistent with the ple termination theorem, which requires
that ple be invoked on a SATisifiable (inhabited) set of constraints, which
is not the case here.

On Tue, Aug 18, 2020 at

[2020-08-19 13:10] adinapoli commented on #1738
Ok, I have started investigating this issue and here is what I have found. I have added this test case as part of the testsuite, in the classic `lib/client` split. When LH compiles the _library_, we have the following `BareSpec` and `LiftedSpec` (I have omitted the empty fields):

[code]

That gets turned into:

[code]

This looks OK to me, as we are turning the `inline` into a signature in the li

[2020-08-19 15:06] #1739 closed, assigned to nobody

[2020-08-20 08:54] zgrannan opened #1743 "makeKnowledge fails when using lambda"
The following code:

[code]

yields the error:

[code]

The issues appears to be the lambda ``(`plus` 1)``

Any of the following enable it to work:

- Disabling PLE and completing the proof manually
- Using the `--oldple` flag
- Changing ``map' (`plus` 1)`` to `map' (plus 1)`

[2020-08-20 09:48] nikivazou commented on #1743
Since lambdas create many problems anyways, I suggest we reject (with a clear error message) reflection of functions that have lambdas.

[2020-08-20 10:19] zgrannan commented on #1737
Surprisingly the code still does not terminate when the output type of `length` is `Nat`. I suspect this is because `Nat` being `>=` 0 is encoded in PLE at applications of length, and it's not encoded at the right point. : i.e `length (tail xs) >= 0` and `length (tail xs) = 99 + length (tail (tail xs))` are compatible.  And I think these assertions are being bracketed (in `push` and `pop` statemen

[2020-08-20 14:03] ranjitjhala commented on #1743
To elaborate: the lambdas are in need of TLC; maybe we should either suppress /remove entirely? Or it would be awesome if @zgrannan can turn his powers into somehow fixing them :-)

[2020-08-20 15:21] ranjitjhala commented on #1738
@adinapoli your theory sounds plausible! The LiftedSpec you show above is visible at the client right? (Just want to make sure the once shows up when imported to the client)

[2020-08-20 15:26] ranjitjhala commented on #1738
Actually the problem is not really in the SortedEnv — the inline means that incr is really a “macro” that should be expanded away in the signature. The liftedEaliases contains these macro definitions, so the problem is that this ealiases are not getting passed into the place where the expand happens.

[2020-08-20 15:29] ranjitjhala commented on #1738
Specifically see where Bare.Expand.mkRTEnv is defined and used. Does incr show up in that environment?

[2020-08-24 09:05] adinapoli commented on #1738
Yes, `incr` does show up in the final `mkRTEnv`, ~~but on why that would matter for the error at hand is not clear to me~~.

EDIT: Oh, i see, your point is that really we shouldn't even _see_ `incr` being mentioned in the error. It should be expanded away before we actually reach that `checkBind` stage.

Original comment (for posterity):
Specifically, the offending check that is triggering the err

[2020-08-24 10:56] adinapoli commented on #1681
Under the new versioning scheme, we are releasing versions of Liquid Haskell "in lockstep" with the relevant GHC version.

For example, currently we have two versions uploaded following this scheme:

* https://hackage.haskell.org/package/liquidhaskell-0.8.10.1
* https://hackage.haskell.org/package/liquidhaskell-0.8.10.2

Which are bound to `8.10.1` and `8.10.2`, respectively. I do agree that this

[2020-08-24 12:22] adinapoli commented on #1738
I think I have managed to come up with a sensible fix here: https://github.com/ucsd-progsys/liquidhaskell/pull/1745

[2020-08-24 21:08] #1738 closed, assigned to nobody

[2020-08-26 14:47] zgrannan opened #1747 "Cannot reflect GADT definition using DataKinds"
Minimal example:

[code]
yields the following error:

[code]

I suppose this code is to blame but I don't know anything about how Haskell handles GADTs:

https://github.com/ucsd-progsys/liquidhaskell/blob/0808cc61ce7a28fcab47213b03cf6449017a17b2/src/Language/Haskell/Liquid/Bare/Plugged.hs#L107-L108

[2020-08-26 15:16] zgrannan commented on #1747
Hmm, maybe this is unrelated, but a similar error also occurs without GADT:

[code]
yields:

[code]

[2020-08-26 17:20] ranjitjhala commented on #1747
hmm i feel i've seen this before? what's the minimal example with the second case? (`data Op = Foo Op Op`)

[2020-08-27 06:43] zgrannan commented on #1747
@ranjitjhala The above code is in fact a minimal example. Here's a link (not sure what version of LH is used here, but it happens locally on `develop` for me as well): http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1598510506_12922.hs

I am no longer blocked on this however, because LH is able to use the  `Foo` ADT fine without also putting it in the liquid comments.

[2020-08-27 08:13] kosmikus commented on #1747
Sorry, at the moment this is also just speculation, but I know there was a parser bug for data declarations, which should be fixed in my parser PR. So if you could try this with #1704, this would be helpful. But I could understand if that's too much work to try, and I will hopefully get around to it myself eventually.

[2020-08-27 08:18] kosmikus commented on #1747
In particular, I believe at least the second one to be caused by #871. Not sure if the first example is also an instance of the same problem.

[2020-08-27 09:11] nikivazou commented on #1747
The second one is actually strange (I did not expect the first one to work...)
It is not urgent, so @kosmikus when you eventually find the time to work on the new parser you can include it in the tests.

[2020-08-27 09:30] kosmikus commented on #1747
@nikivazou IIRC, the problem at least in the second case is that the (old/current) parser incorrectly turns this into `data Op = Foo (Op Op)`.

[2020-08-27 09:34] nikivazou commented on #1747
Then the generated error makes sense!

[2020-08-27 09:57] zgrannan commented on #1747
@kosmikus I can confirm that https://github.com/ucsd-progsys/liquidhaskell/pull/1704 fixes the second case :)

[2020-08-27 20:28] zgrannan opened #1749 "SMT Sort mismatch"
The following code:

[code]

yields the following:

[code]

[2020-08-27 20:35] zgrannan commented on #1749
Ahh I just realized the liquid flag `--no-adt` appears to fix this... so I am not blocked anymore.

[2020-08-27 20:40] ranjitjhala commented on #1749
I was about to suggest that, still don't close it, because this is a
recurring thing and
I'd like to get to the bottom of it.

On Thu, Aug 27, 2020 at 1:35 PM Zack Grannan <notifications@github.com>
wrote:

[2020-08-27 20:44] #1729 closed, assigned to nobody

[2020-08-28 07:57] nikivazou commented on #1749
Yes, that is indeed strange... I though I fixed that by switching to the new encoding of data types in SMT...

[2020-08-28 12:40] peti opened #1750 "liquidhaskell-0.8.10.2 compile error with ghc-8.8.4"
liquidhaskell-0.8.10.2's Cabal file suggests that the build would succeed with ghc-8.8.4  --- i.e. there are no constrains against using that compiler ---, but when attempting the build it will fail. Citing from https://hydra.nixos.org/build/126107710:

[code]

[2020-09-01 09:38] nikivazou commented on #1749
Apparently, the `--no-adt` flag prevents proving totality in the original file.
@zgrannan I am on trying to fix what goes wrong with the `--no-adt` flag off.

For reference, this is an example that cannot be proved total with `no-adt` flag on: https://gist.github.com/nikivazou/37d1526a0027172e3ceb0d5ceb3ef635

(@ranjitjhala if I remember correctly, we were looking in the past to find an example wh

[2020-09-01 15:01] peti opened #1751 "optparse-applicative-0.16.0.0 works just fine"
The Cabal file excludes optparse-applicative-0.16.0.0 from being used as a dependency. When I ignore that constraint, however, the build works just fine with optparse-applicative-0.16.0.0. Would it be possible to please lift that constraint in the Cabal file?

[2020-09-01 15:41] ranjitjhala commented on #1751
Sure, can you send a PR? (That will trigger the CI which will help double
check?) many thanks! Ranjit.

On Tue, Sep 1, 2020 at 8:01 AM Peter Simons <notifications@github.com>
wrote:

[2020-09-03 11:06] #1749 closed, assigned to nobody

[2020-09-08 14:37] adinapoli commented on #1751
Ah, so that constraint has a "history": we originally added it because otherwise `optparse-simple` couldn't be built, but after [I filed an issue](https://github.com/fpco/optparse-simple/issues/14) Micheal released a new version.

I think it's fine to remove the constraint on `optparse-applicative`, but perhaps it's worth adding a lower bound on `optparse-simple` to make sure things keep building?

[2020-09-16 12:52] adinapoli opened #1754 "Restore --diff option when using the Plugin"
Currently the plugin doesn't produce the `.bak` file on disk anymore, making the `--diff` option useless. This is because in the plugin we call `checkTargetInfo` rather than `liquidOne`, which is the function that produces the `.bak` file on disk.

Since calling `liquidOne` in the plugin is not correct (this function does too much, like calling `exitWithResult`) it seems like the quickest fix is t

[2020-09-17 06:32] #1754 closed, assigned to adinapoli

[2020-09-18 06:10] plredmond opened #1756 "[bug] Refined data types don't check their haskell counterparts correspond"
**Problem:**
[code]
* Haskell decl is `newtype` not `data`.
* Haskell type is `Bar` not `Foo`.
* Haskell constructor sig is `Float -> Bar` not `Integer -> Foo`.

**Expect:**
Error related to the refined data type not being a refinement of the haskell data type.
**Actual:**
LH passes.

---

More, similar examples from the [slack thread](https://liquidhaskell.slack.com/archives/C54QAL9RR/p1600404760

[2020-09-18 06:22] plredmond opened #1757 "[enhancement] QuasiQuoter could emit newtype/data for refined data types"
**Problem:**
Currently the QuasiQuoter only emits haskell definitions for type aliases and assertions (function type signatures). This leads to awkward user experience.
[code]
**Expect:**
Similarly to the `Nat` type alias, the QuasiQuoter will not only propagate the refined type of `Nat` to arguments of `Pos :: Nat -> Pos`, _but also_ emit the `newtype` declaration as haskell code.
**Actual:**
The

[2020-09-18 06:57] plredmond opened #1758 "[bug] Inconsistent checking of a refined data type's field assertion related to `Integer`"
**Problem:**
A refined data type's field assertion is not consistently checked.
[code]
This code (1) is correctly rejected by LiquidHaskell. If you `s/Int/Integer` it (2) is accepted.
[code]
**Expected:**
The version using `Integer` (2) is rejected by LiquidHaskell.

**Actual:**
LH accepts the code (2).

<details><summary><strong>Workaround:</strong>

Inlining the refinement to the refined data ty

[2020-09-18 17:10] ranjitjhala commented on #1758
AFAICT the `Integer` case doesn't actually work -- it creates a crashing malformed constraint?

However, if you change `newtype` to `data` its rejected as expected.

This is, unfortunately because of a long standing issue with `newtype` -- namely that there are no "constructors"
and instead everything happens with "casts".

In principle though we ought to be able to deal with the cast situation ..

[2020-09-18 18:11] plredmond commented on #1758
Ah, ok, if this is a known issue related to the treatment of `newtypes` in LH, is there an issue I should link to and then close this as a duplicate?

[2020-09-18 18:15] plredmond commented on #1758
Oops! My mistake. I've been using `ghci` because the issue where LH errors weren't reported (#1711) seemed to have been fixed. This bug is an instance of #1711, then? Shall I close this?

[2020-09-18 18:48] ranjitjhala commented on #1758
Yes, this is a super old issue e.g. see #708

[2020-09-18 21:27] plredmond commented on #1758
Closed as a duplicate of #708 and an instance of #1711.

[2020-09-18 21:27] #1758 closed, assigned to nobody

[2020-09-18 21:28] plredmond commented on #1711
@adinapoli FYI there's another instance of this bug in #1758, example (2).

[2020-09-20 12:41] kosmikus commented on #1531
Fixed via #1704.

[2020-09-20 12:41] #1531 closed, assigned to nobody

[2020-09-20 12:42] kosmikus commented on #1481
Fixed via #1704.

[2020-09-20 12:42] #1481 closed, assigned to nobody

[2020-09-20 12:44] kosmikus commented on #1012
Fixed via #1704.

[2020-09-20 12:44] #1012 closed

[2020-09-20 12:45] kosmikus commented on #892
Fixed via #1704.

[2020-09-20 12:45] #892 closed

[2020-09-20 12:46] kosmikus commented on #871
Fixed via #1704.

[2020-09-20 12:46] #871 closed

[2020-09-20 12:47] kosmikus commented on #873
Fixed via #1704

[2020-09-20 12:47] #873 closed

[2020-09-20 12:49] kosmikus commented on #707
Fixed via #1704.

[2020-09-20 12:49] #707 closed

[2020-09-20 12:49] kosmikus commented on #788
Fixed via #1704.

[2020-09-20 12:49] #788 closed

[2020-09-20 12:50] kosmikus commented on #924
Fixed via #1704.

[2020-09-20 12:50] #924 closed

[2020-09-20 12:51] kosmikus commented on #884
This is no longer an issue. Closing.

[2020-09-20 12:51] #884 closed

[2020-09-21 14:56] hexaglow opened #1760 "Improve error messages related to termination checking"
liquidhaskell: fc26851c3401ba797fdb8cf3a2982d990f25035a from git, used as a GHC plugin
liquid-fixpoint: [5501659](https://github.com/ucsd-progsys/liquid-fixpoint/commit/5501659ccb6dbbd53a859cdda8e4a76d62fc31df) from git
GHC: 8.10.2

`liquid-base`, `liquid-vector` and `liquidhaskell` listed as dependencies of the package.

This example [from the book](http://ucsd-progsys.github.io/liquidhaskell-tut

[2020-09-21 15:38] ranjitjhala commented on #1760
Hi,

This example requires the termination checker
be disabled `{-@ LIQUID --no-termination @-}`
somewhere in your source. Otherwise, you need
to specify the termination metric which is a
topic we have not yet covered.) The source file
has this flag already set, but you should add it
to yours. Alternately, you can specify the metric
by specifying something like:

[code]

Let me add this to the tex

[2020-09-21 19:03] #1750 closed, assigned to nobody

[2020-09-21 22:26] plredmond opened #1761 "[bug] unable to use a type alias spec of an inlined haskell function in a refined data type spec"
**Problem:**
* Define and inline a predicate over a value.
* Create an alias as shorthand to express that the predicate is satisfied in a specification.
* Use the specification in a refined data type.
[code]
**Expect:**
The refined data type has a constructor with a specification requiring the predicate to be satisfied.
**Actual:**
Unbound symbol error on `oneFunPred` for the line with the data de

[2020-09-21 22:28] plredmond commented on #1761
Tagging @adinapoli per @.ranjitjhala's comment [in slack](https://liquidhaskell.slack.com/archives/C54QAL9RR/p1600469137047800?thread_ts=1600451110.042700&cid=C54QAL9RR).

[2020-09-21 22:36] plredmond commented on #1760
@hexaglow I think you can disable termination checking for a single binding with the following annotation:

[code]
So if the problem is with `go` then you'd pop that to the top level and add this annotation, perhaps? I don't know whether it's actually necessary to push it to the top level.

[Link to specification reference "disabling termination checking"](http://ucsd-progsys.github.io/liquidhaske

[2020-09-22 01:48] waivio opened #1762 "Several Issues when trying to use LiquidHaskell: unknown constant e-14 and stack overflow"
My whole goal is to verify that some my usage of sqrt could be confirmed to be within the domain of the function like: {-@ sqrt :: {v:Double | 0 <= v} -> Double  @-} holds in my library so that I can have confidence that NaN will not happen.  I haven't gotten to that part yet and am still trying to enable LiquidHaskell and get it to build with my library.

# Issue#1

I'm getting a GHC error for th

[2020-09-22 16:54] hexaglow commented on #1760
I thought I had disabled termination checking - hence my confusion, but I had put `-fplugin-opt=LiquidHakell:--no-termination` instead of `-fplugin-opt=LiquidHaskell:--no-termination` (notice the typo!). Apparently specifying an option for a non-existent plugin doesn't cause an error.

It wasn't really clear to me from the diagnostic that it was caused by termination checking, which is why it took

[2020-09-22 19:07] ranjitjhala commented on #1760
Yes, you're right -- it would be great to mark those errors specifically, and the totality etc. errors too.

@nikivazou, I think this may not be too hard, maybe via the following strategy:

1. Extend fixpoint refinements with a constructor `data Pred = ... | Tagged Text Pred`
2. When we add refinements e.g. for totality or termination we can decorate them as `Tagged msg p` (instead of just `p`)
3.

[2020-09-23 05:51] nikivazou commented on #1760
Yes! This is a great idea! Following ghc the tag does not have to be `Text`, it can be some annotation that clearly signifies termination.

[2020-09-23 10:57] adinapoli commented on #1761
I think this is a different issue from the type-alias one I fixed as part of #1745. If we take a look at the error:

[code]

We can see how the type alias is correctly expanded, but the `oneFunPred` can't be found. I smell another name resolution problem. I'll add a bunch of traces and investigate this.

[2020-09-23 12:16] kosmikus commented on #1760
FWIW, I think it'd be good if GHC would warn about passing options to nonexisting plugins as well.

It might be somewhat easier to pass options via `{-@ LIQUID "--option-name" @-}` at the top of the file, unless of course you want to enable for a large number of files all at once.

[2020-09-23 17:09] plredmond commented on #1761
Thank you for taking a look.

[2020-09-23 17:25] plredmond opened #1764 "[bug] measure defined using quasiquoter not in scope when used to define a measure in another module"
**Problem:**
If you have defined a measure in one module (1a), and attempt to use it to define another measure in a second module (2), there may be scoping errors if the defining module (1a) used the quasiquoter.
[code]
[code]
**Expect:**
LH passes in the second module (2).
**Actual:**
LH reports that the first measure (1a), `listSize` is unbound where it is used in the second module (2).
[code]
-

[2020-09-23 17:28] ranjitjhala commented on #1764
Very interesting! thanks for pointing this out @plredmond!

On Wed, Sep 23, 2020 at 10:26 AM plredmond <notifications@github.com> wrote:

[2020-09-24 18:05] jaredgreen2 opened #1765 "LH makes an erroneous type inference"
for a function defined by conditions on the input, the inferred and required type of the input in those contexts doesnt take those conditions into account.
for example
{-@ fib :: {n:int | n >=0} -> {m:int | m>=n} @-}
fib 0 = 1
fib 1 = 1
fib n = fib(n-2) + fib(n-1)   --this line is, according to LH, type mismatched, though the type of n here should be {W:int | w>=2}

[2020-09-24 19:05] ranjitjhala commented on #1765
Hi @jaredgreen2 -- this is a subtle issue that I should try to write up properly.
The problem is that the specification for

[code]

while true, is not _inductive_  -- i.e. is not strong enough to be _provable_
using the strategy the LH and similar verifiers use for recursive functions.
In particular, in the case:

[code]

the only thing LH "knows" (from the spec of `fib`) is:

[code]

and that is

[2020-09-24 19:05] #1765 closed, assigned to nobody

[2020-09-25 21:36] plredmond opened #1766 "[documentation] trivial recursive function confuses the termination checker (not really, but, beginner's explanation)"
Question from [slack conv](https://liquidhaskell.slack.com/archives/C54QAL9RR/p1600905279008400) copied here at @.ranjitjhala's request:

---

Response from @ranjitjhala

Thoughts:

* The termination checker is adding constraints to prove termination, but I didn't realize this. Also, I focused on one constraint as important for termination and ignored the other. The other turned out to be the one

[2020-09-27 05:03] waivio commented on #1762
Changing:
[code]
to:
[code]
seemed to work around 'Issue#3'.

'z3' grew to a size of 43GB last I looked, it took a couple of days.

Are there any Options or Pragmas that would be useful in this situation?

[2020-09-28 01:12] ranjitjhala commented on #1762
Wow, not clear - I suspect SMT support for floats is quite finicky. It
would be great if you could:

1. Paste or send the /.liquid/file.smt2 file that LH generates
2. Just run z3 on it
3. Send it over so we can see if there are some options that might help?

On Sat, Sep 26, 2020 at 10:03 PM Nathan Waivio <notifications@github.com>
wrote:

[2020-09-28 08:37] NCrashed opened #1767 "liquid-ghc-prim Expressions v should have bool sort, but has GHC.Types.Bool"
Hi! I tried to compile current master (c56b7a01d3aa779e1e29e75951d1e00e9e8024cc) with ghc 8.10.2 and got the following errors in ghc-prim:
[code]

The repo https://github.com/NCrashed/liquid-test/tree/eb691cb6d6b443b1bc04f6d6fcdbf47808b7d2c3 where I played around. To reproduce with nix simply run `nix-shell` in root.

[2020-09-28 10:45] chrisdone opened #1768 "Question: Using LiquidHaskell as a library for checking a custom language"
Hi, just a quick question.

I have a typed language which is a trivial, strict subset of Haskell/ML which has basic arithmetic, lambdas, letrec (so, mutual recursion) and type-classes with an `Integer` type and a `Fixed n` type (no fixed-width number types), arrays (arbitrary-sized). It has row types, but I could probably eliminate them for the purpose of calling LH. It's possible to run on the AS

[2020-09-28 15:50] ranjitjhala commented on #1768
Hi @chrisdone, this sounds like a fun project!

I am unclear about one crucial thing -- are you using e.g. the GHC API,
and literally the same datatypes `CoreExpr` etc. or do you have your
own standalone infrastructure? If its the _same_ core then its likely
very easy to use LH. If not, I think you'd have to translate your stuff
into GHC Core to use the rest of LH.

At a high-level LH has three pa

[2020-09-28 16:18] chrisdone commented on #1768
Wow, what a helpful reply! :clap::smiley:

Right, I have my own AST. In that case, if your advise is to
translate, that's workable. GHC is a large and changing dependency
with a heavy foot-print to it. But it's not a show-stopper for our
project. I've worked with GHC's STG module before, so there's that.

Reasonble pipeline. That matches my hope of doing (2) and (3).

Great coincidence that you po

[2020-09-28 16:18] #1768 closed, assigned to nobody

[2020-09-29 13:13] #1761 closed, assigned to nobody

[2020-09-30 05:59] kosmikus commented on #1767
I've been trying to reproduce this. These errors occur while running *Haddock*, not during compilation.

I can reproduce this now also without using Nix to build by saying `cabal v2-haddock liquid-ghc-prim` in my build directory. This is something to investigate further.

The workaround for your case should be to simply disable Haddock for the `liquid-*` wrapper packages.

[2020-09-30 06:00] hafizhmakmur opened #1770 "Incomprehensible Crash"
[This code](https://liquid-demo.programming.systems/index.html#?demo=permalink%2F1601445356_15936.hs) will result in an incomprehensible crash if the last two functions are uncommented. The error log looks something like this

[code]

Weirdly my own LH can compile this code just fine.

[2020-09-30 06:03] adinapoli commented on #1770
Hey, thanks for logging an issue 😉 A couple of questions:

1. It looks like you are using version `0.8.6.0` when `0.8.10.2` is out, which includes a lot of bug fixes and the new source plugin. Any chance you can try out the code and see if it breaks with the latest and greatest as well?

2. Maybe it's asking too much, but are you able to provide us with a smaller reproduction case? I have given yo

[2020-09-30 06:10] kosmikus commented on #1767
Given these new insights, I think it's likely this is the same issue as #1727.

[2020-09-30 06:17] adinapoli opened #1771 "Explore support for GHC 9.0.1"
Now that `ghc-9.0.1-alpha1` is out is a good time starting to explore how much changed (I think a lot) and how much LH will need to be amended to support the latest and greatest GHC.

[2020-09-30 06:22] hafizhmakmur commented on #1770
@adinapoli

1. (& 3.) So I just use the compiler from browser in https://liquid-demo.programming.systems/index.html :D so I can't really upgrade the LH. So LH that's installed in my computer is already version 8.10.2 so maybe the error is already fixed in later version. I was having trouble somewhere else in the code so I was trying to see a second opinion by using a different LH but I was greeted

[2020-09-30 06:33] adinapoli commented on #1770
Ah, I see, good. @ranjitjhala perhaps it's time for us to update the version of LH that is running on the demo platform, for consistency with what we have released lately?

[2020-09-30 14:41] ranjitjhala commented on #1767
For my reference: what’s the easiest way to disable haddock here?

[2020-09-30 14:44] ranjitjhala commented on #1770
Yes updating the web demo is on my to do list!

On Tue, Sep 29, 2020 at 11:33 PM Alfredo Di Napoli <notifications@github.com>
wrote:

[2020-09-30 15:12] kosmikus commented on #1767
Disable Haddock where? In Nix?

[2020-09-30 15:37] ranjitjhala commented on #1767
In general how would we modify the NIX recipe/script/flags etc - in this
particular case - so LH ran without a problem?

On Wed, Sep 30, 2020 at 8:12 AM Andres Löh <notifications@github.com> wrote:

[2020-09-30 23:02] NCrashed commented on #1767
Thank you! I disabled haddock and added some other hacks (for usage liquid haskell from nix-shell with cabal v2 build system). Workaround can be found here https://github.com/NCrashed/liquid-test/commit/195099d53fae79e00d761b4736bbdd4253f37bf6

[2020-10-01 04:42] plredmond opened #1772 "[bug] crash related to Control.Arrow.first"
**Problem:**
The following snippet of code causes a crash in LH.
[code]
**Expected:**
LH should ignore the second argument to `const` and accept the snippet.
**Actual:**
The second argument to `const` being variations on use of the typeclass method `first` all cause a crash within LH:
* `first id`
* `first id ((),())`
* `first id (True, True)`

Crash output:
[code]
**Version:**
Crash occurs on
* b

[2020-10-01 04:44] plredmond commented on #1772
I've tried other variations (such as, eg. `length`, which is also typeclass method) but wasn't able to reproduce the crash

[2020-10-01 05:48] kosmikus commented on #1772
I cannot reproduce this with released `liquidhaskell-0.8.10.2`, `liquid-base-4.14.1.0`. I don't think `liquid-prelude` is needed here. I'll try with the specified commit.

[2020-10-01 05:59] kosmikus commented on #1767
@ranjitjhala Do we have Nix build instructions anywhere? If so, then yes, we should make sure that they work. Otherwise, it is difficult to give much more specific advice than "disable Haddock", because there are various different ways people set up Haskell builds with Nix. Nix is a programming language and allows you to define your own abstractions. There is no totally foolproof uniform way to do

[2020-10-01 06:01] kosmikus commented on #1772
I cannot reproduce this with the given commit either. The file yields `SAFE (2 constraints checked)` for me.

[2020-10-01 08:20] NCrashed commented on #1767
You also can achieve the same behavior with `pkgs.lib.haskell.dontHaddock` in override set.

[2020-10-01 08:43] NCrashed commented on #1767
The another important note that liquid haskell plugin will not find installed `z3` in PATH in naive implementation of nix shell. To fix this I found that adding `--extra-lib-dirs=${pkgs.z3.lib}/lib` to cabal configuration flags is enough.

[2020-10-01 17:40] plredmond commented on #1772
I'm building with nix, using a recent `nixos-20.03` package set with some overrides:
* built-from-source <https://github.com/plredmond/liquidhaskell/blob/nixify/default.nix>
* built-from-hackage <https://github.com/plredmond/liquidhaskell/blob/nixify-hackage/default.nix>

It's possible that the crash I've found is related to an old version of some haskell dependency in the `nixos-20.03` package se

[2020-10-01 23:30] plredmond commented on #1772
These are the build flags I'm using:
[code]

[2020-10-02 05:53] kosmikus commented on #1772
Ok, that helps. I can now reproduce the crash both with the released version and with current `develop`:
[code]

[2020-10-02 16:44] plredmond commented on #1772
I haven't kept the habit of adding these feature flags to my source-code, and instead put them all in the project config file. I'm glad you thought to ask!

[2020-10-04 02:56] waivio commented on #1762
Ok, Will do.  It might take awhile until I can get the data because I'm away from my workstation for a month or so.

[2020-10-05 21:47] ranjitjhala opened #1773 "Odd GHC panic `getFunName`"
GHC panic

When using LH in plugin mode with either `voltron` or `disco` we get this error (if we disable `--compile-spec`) on the `Auth.hs` module

https://github.com/binah-framework/voltron/tree/package

[code]

Also when checking the `Server.hs` file we get this:

[code]

unless we add the bogus imports ...

[code]

[2020-10-07 13:28] ranjitjhala opened #1775 "Measure not generating suitable invariant"
(via @plredmond) LH seems to fail on the below

[code]

Why is the `measure` definition not automatically generating the `invariant` (and only sticking to the `listLength v >= 0` ?)

/cc @nikivazou

[2020-10-07 13:43] nikivazou commented on #1775
I suspect because it turns into invariants only parts that do not contain free symbols, which actually looks the proper behaviour to me.

[2020-10-07 13:47] ranjitjhala commented on #1775
That seems too conservative? If the measure signature is:

[code]

we should get an `invariant {x:[a] | p [v := f(x)]}` ?

[2020-10-07 13:57] nikivazou commented on #1775
This is an easy edit, let me PR it.

[2020-10-07 14:18] ranjitjhala commented on #1775
Thanks, though I suspect some test will break and will remind us why we didn’t do it the above way 🤪

[2020-10-08 18:48] michaelborkowski opened #1777 "Current version of LH seems to forget some refinements of type constructors"
I'm on the latest version of LH (commit 2a68368ac86743ec5d7dda57416a78076e88223b from the develop branch) and noticed some simple lemmas failing to check. I believe LH may be ignoring some information from refinements of GADTs when the information about the type is imported into another file.

For example, consider the following two modules

https://github.com/michaelborkowski/liquidmeta_public/bl

[2020-10-09 22:47] ranjitjhala commented on #1777
@adinapoli this looks like a regression.

There is a module `Lib` and `Client` with `simple` defined in `Lib` and a copy `simple'` in `Client`.

* Both `simple` and `simple'` verify in `355eb97093db50f864644b99e7da8995d27e7b61`

* Only `simple` (in `Lib`) **but not** `simple'` (in `Client`) verify in the current `2a68368ac86743ec5d7dda57416a78076e88223b`

I'll keep digging and let you know.

[2020-10-09 23:42] ranjitjhala commented on #1777
Here's a super stripped down version.

1. Define a refined datatype in `Lib`
2. Import it in `Client`
3. The refinements on the datatype seem to get *erased* in `Client`!

**Note** the `reflection` flag is important; without it, `Client` fails (as it should!)

@nikivazou  will you have cycles to take a look at this?

**Library**

[code]

**Client**

[code]

[2020-10-10 08:57] nikivazou commented on #1777
Seems like a Parsing issue. @kosmikus can you check this again https://github.com/ucsd-progsys/liquidhaskell/blame/develop/src/Language/Haskell/Liquid/Parse.hs#L1572-L1573 :)

The below

[code]

is parsed with an empty body `Trace: [dataDeclBodyP] : data FEnv  [] =`
But if I put it in one line it is properly parsed. i.e., the below

[code]
is parsed as `Trace: [dataDeclBodyP] : data FEnv  [] =

[2020-10-10 15:23] ranjitjhala commented on #1777
Niki I am suspicious of this because the “lib” module is checked the right
way? It’s only the imported spec in client that is wrong

On Sat, Oct 10, 2020 at 1:57 AM Niki Vazou <notifications@github.com> wrote:

[2020-10-10 15:24] ranjitjhala commented on #1777
Still you are right the parsing is strange!

Does the reading of imported specs use the parser?

On Sat, Oct 10, 2020 at 8:23 AM Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

[2020-10-10 15:46] nikivazou commented on #1777
Correct... I cannot actually understand how the "lib" module is checked correctly, since by debugging the parser, I cannot understand how the `False` precondition is parsed. Let's give kosmikus some time in case he knows what is going on, otherwise, I will look deeper.

[2020-10-10 16:15] ranjitjhala commented on #1777
Also suspicious: switching off the “reflection” flag makes it work
correctly ...

On Sat, Oct 10, 2020 at 8:46 AM Niki Vazou <notifications@github.com> wrote:

[2020-10-12 06:54] kosmikus commented on #1777
Sorry, I've only just seen this.

Without having looked at the code yet, the problem with
[code]
is that it violates the layout rule, because `FCons` is not indented more than the `data`.

So this is probably being parsed in the same way as
[code]

It should be ok to say
[code]
Unfortunately, the subsequent line is probably parsing as a standalone type signature (note that multiple specs in a sing

[2020-10-12 10:01] nikivazou commented on #1777
Thanks @kosmikus ! I also checked that with proper indentation the client is safe.

@michaelborkowski can you use the indentation there the data constructor definitions appear after the `d` of the `data` keyword to check that it addresses your problem?

@kosmikus can we say that we can give type signatures only to identifiers that do not start with upper case?
There are cases where we have refined

[2020-10-12 12:18] kosmikus commented on #1777
@nikivazou That sounds like a plausible workaround to me. The rules for identifiers are somewhat complicated in LH right now, so I'm not sure if this will be without problems, but I can try.

[2020-10-12 13:25] nikivazou commented on #1777
Thanks!!!

[2020-10-12 14:39] kosmikus commented on #1777
@nikivazou We may have a similar pitfall for class declarations though ...

[2020-10-12 15:13] kosmikus commented on #1777
@nikivazou One strange interaction I had not been aware of yet is that for `data ... where`, there's currently no new layout block being introduced for the constructors, and they're instead to be separated by `|` (even though we're using GADT-like syntax!). Would it in principle be ok to remove this and replace this with layout-only?

[2020-10-12 15:39] ranjitjhala commented on #1777
Can anyone explain why the lib works as expected (the false is parsed) but
not the client?

On Mon, Oct 12, 2020 at 7:40 AM Andres Löh <notifications@github.com> wrote:

[2020-10-12 15:40] ranjitjhala commented on #1777
@kosmikus - yes this would be great; we (or was it me) added the | just due
to my ineptitude with parsing, would be great to get rid of it now!

On Mon, Oct 12, 2020 at 8:13 AM Andres Löh <notifications@github.com> wrote:

[2020-10-13 06:10] adinapoli commented on #1777
not the client?

I might be totally off track, but here is my guess: ~~the lib works because the `FEnv` is still parsed incorrectly, but it's not required to check the lib module, so LH doesn't choke. Conversely, when it times to verify the `client` , we need the refinement for `FCons`, and that's where things start to go wrong.~~. Ah, I take it back, both uses `FCons`. Maybe in one case LH has ac

[2020-10-13 06:14] kosmikus commented on #1777
More speculation from my side: I suspect LH allows providing a refinement type signature for a constructor in isolation, and uses it in the local module, but does not write it to the interface file subsequently. @adinapoli knows more about how the interfaces are constructed, though.

[2020-10-13 08:35] nikivazou commented on #1777
@kosmikus I agree both with your speculation and that we should follow ghc's syntax if possible.

[2020-10-13 12:43] kosmikus commented on #1777
For the parsing, we actually have multiple possibilities, with different trade-offs.

First, some terminology:

- A *faithful* implementation of the layout rule allows a new block to start only on a column that is strictly greater than the indentation column of the surrounding block. This corresponds to what Haskell implements in nearly all cases.

- A *relaxed* implementation of the layout rule a

[2020-10-14 05:56] michaelborkowski commented on #1777
@nikivazou My mistake, this does work now! Thanks everyone!

<del>
If I fix the indentation, and make sure that both the constructors and the `|` characters are indented further to the right than `data`, that is

[code]
<del>
then the definition will parse successfully, but the original issue still exists. The refinement on the function `simple` passes when in the same file as the constructor defi

[2020-10-14 06:39] nikivazou commented on #1777
I have a slight preference for the faithful implementation.

For the relaxed, we can enforce that only one spec goes at each `{-@ ... @-}` block, but how will we handle the `.spec` files where there is no `{-@ ... @-}` separator?

For the `class` definition, to me, it makes total sense to only refine some methods, as the rest (unrefined) ones will get the `true` type. Same for the data declaration

[2020-10-14 07:04] kosmikus commented on #1777
@nikivazou So the result of the call yesterday was a bit different, but we can still discuss it again:

- Faithful layout rule.
- Require classes and datatypes to list all constructors / class methods even if they're not supposed to be refined, with the exception of a data declaration without constructors (and without `where`!) that is only used to attach a termination measure.
- Add a post-parsin

[2020-10-14 07:25] nikivazou commented on #1777
Sounds good!

My thinking in allowing partial specs for type class methods is mostly because of methods with default implementations. E.g., if you refine Monad, do you also have to refine the default `>>`?
When I define a Monad instance I almost never define `>>`. But I can see why its refined type can be required. So, I agree with what you discussed.

[2020-10-16 21:07] hafizhmakmur opened #1779 "This inline wont detect other inline if the function name is started with a-i"
In [this code](https://liquid-demo.programming.systems/index.html#?demo=permalink%2F1602882136_18774.hs)
[code]
somehow `aaa` won't detect neither `isOdd` nor `isEven`. But if I change the function name beginning to j or m or v it all works. So far from what I test functions beginning from a to i gives the error and the rest doesn't although I haven't tested all the rest.

[2020-10-19 07:50] nikivazou commented on #1779
Thanks for reporting! Looks like our inliner uses a lexicographic ordering on what is inlined.
Will take a look soon!

[2020-10-20 14:53] adinapoli commented on #1772
Interestingly enough, using `first` from `Data.Bifunctor` works just fine using one of those "fully instantiated" examples that @plredmond posted:

[code]

At first (no pun intended!) I would have said the culprit was the fact that `first id` (without extra arguments) has type `(b, d) -> (b, d)` and somehow LH is not able to deal with it, but it's strange that the snippet I just posted would not w

[2020-10-22 09:56] zgrannan opened #1780 "Name resolution issue for measures"
Trying to verify the following code:
[code]
yields the following error

[code]

Use the fully qualified name in the measure fixes the error:
[code]

[2020-10-22 10:10] zgrannan opened #1781 "Cannot parse specification"
[code]

yields:

[code]

This is a contrived example but I've run into similar issues generating LH specifications programmatically.

In general I would expect that if the expression `{-@ thm : { x } @-}` parses, then `{-@ thm : { id' (x) } @-}` should also parse (excluding the LH builtin operators not already present in Haskell, such as `<=>`)

[2020-10-23 18:03] plredmond commented on #1773
I've experienced a similar bug a couple of times recently, though it's very hard to reproduce and seems sometimes to relate to cached compilation files. Here are the situations that I've found the error and how I worked around it.

---
**First example:**
[code]
* This error occurs (I think) in a module `A` which defines a `newtype`. Its possible that the bug is actually triggered in another module

[2020-10-26 03:10] petravonkant opened #1783 "using as-pattern in pattern matching leads to type error"
I wrote the following function for exercise 5.1 in the LiquidHaskell book. (This was in the cloned liquidhaskell-tutorial repo.) I used as-pattern `p@` in `check` to avoid reconstructing the pair.
[code]
A quick refresher in case you haven't looked at the tutorial in a while: `fromList` takes a vector dimension and a list of index-value pairs that may or may not obey the dimension. If all the pair

[2020-10-26 13:14] adinapoli commented on #1394
@ranjitjhala using the latest `HEAD` I can't reproduce this anymore. Would you be able to try the testcase again at some point in the future and let me know? The general idea of "let's improve the error messages" is still valid methinks, I guess we just need a valid reproduction case to test its effects 😉

[2020-10-26 15:26] adinapoli commented on #1727
I have done a bit of research on this issue, and conceptually, the culprit is very simple: the `SpecFinder` can't find any cached (serialised) `LiftedSpec` for `GHC.Base`, which contains the `fst` and `snd` measures used in the definition of `fst` and `snd`. If we compare the debug output for a _normal_ `v2-build`:

[code]

vs the one for `cabal v2-haddock` (or similarly `stack build --haddock`):

[2020-10-26 15:33] adinapoli commented on #1661
I think that @kosmikus did some work in this area. I'd be happy to close this one if we are decently happy with the new status quo.

[2020-10-26 15:41] adinapoli opened #1785 "Document that the `include` directory belongs to the legacy executable and should not be used/extended"
Something which has been on the back of my brain and I have failed to write down until now.

Historically LH shipped all the specifications for its "hardcoded prelude" inside the `include` directory, but this is now not in use for the plugin (which stores things inside interface files). However, having this `include` folder still lingering around is confusing as it might suggest to LH contributors

[2020-10-27 08:41] kosmikus commented on #1727
Yes, I think not using the plugin for Haddock runs is the way to go. There must be a way to detect running via Haddock.

[2020-10-27 13:03] #1771 closed, assigned to adinapoli

[2020-10-27 13:43] kosmikus commented on #1777
I've created #1788 for this. It still needs a little bit more work.

[2020-11-02 23:48] #1727 closed, assigned to nobody

[2020-11-02 23:48] #1767 closed, assigned to nobody

[2020-11-03 16:35] ranjitjhala opened #1790 "Abstract Refinements getting lost?"
Why does this work

http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1604390637_20296.hs

but this below one where `Pair a b` is polymorphic fail?

http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1604421264_20433.hs

[2020-11-03 20:46] jwiegley commented on #1790
This version fails too: https://gist.github.com/e2b1c21f85c4cd3269f5a43021f58771

It's polymorphic, but not in a detail that I'm using.

[2020-11-03 21:34] ranjitjhala commented on #1790
Ok, looks like this has to do with some parsing oddity.

Even with the first example where I defined

[code]

It turned out in the signature for `nubFst`

- Writing `IntPair<p>` *worked* but
- Writing `(IntPair)<p>` *failed* !

I was baffled by this of course, but then remembered this was due to
some strangeness with parsing, and when you want to apply the refinement
to the WHOLE constructed type,

[2020-11-03 21:34] #1790 closed, assigned to nikivazou

[2020-11-03 21:36] jwiegley commented on #1790
Is there a version of this that works for direct tuple types like `(a, b)`?

[2020-11-03 22:10] jwiegley commented on #1790
It appears that `Tuple a b` is already a type alias within LH, and allows this syntax to do what I wanted.

[2020-11-03 22:13] ranjitjhala commented on #1790
Ah, perfect, I did this:

[code]

[2020-11-04 09:22] nikivazou commented on #1790
Pairs (and tuples of any arity) indeed come by default with abstract refinements, like lists!

[2020-11-12 10:04] sertel opened #1793 "Unbound symbol is$GHC.Types.[] for pattern match on empty list"
Hi LiquidHaskellers,

I really like the idea of LH and would like to use it but I’m stuck on an error. Please excuse me if this error is only due to my minor knowledge about refinement types.

I tried the following program first in my local setup (config as described here: https://github.com/ucsd-progsys/lh-plugin-demo/blob/main/stack.yaml
 ) and then in your playground (http://goto.ucsd.edu:8090/

[2020-11-12 19:09] ranjitjhala commented on #1793
Hmm I should really fix this issue - you need to add the `--exact-data-cons` flag, so the below works.

[code]

[2020-11-13 14:08] sertel commented on #1793
Thanks a lot for your help!
I guess the take-away is that I should avoid case statements in measures?

[2020-11-13 20:19] sertel opened #1794 "GADTs broken"
Hi,

I use GADTs a lot in my project but it seems LH currently can't parse them.
Apart from my own code, I tried the test cases in `test/pos` at http://goto.ucsd.edu:8090/index.html and could not get any of them to parse.

I could not find an open issue on the topic. Is there a plan to fix this soon?

Thanks!

[2020-11-13 20:52] ranjitjhala commented on #1794
Can you paste a link to a specific file that’s not working for you? (The demo link is just to the default demo...)

[2020-11-13 22:21] sertel commented on #1794
For example, this one https://github.com/ucsd-progsys/liquidhaskell/blob/develop/tests/pos/ExactGADT2.hs

http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1605306221_21735.hs

If I copy/paste this at http://goto.ucsd.edu:8090/index.html I get the very same parse errors that I get in my code. This accounts also for all the other `tests/pos/ExactGADT*` files in the repo.

[2020-11-13 22:40] ranjitjhala commented on #1794
The browser version is a bit old, I need to update it!

The current LH "plugin" mode or built from source supports the above.

[2020-11-15 16:06] sertel commented on #1794
I just upgraded from version 0.8.10.1 (as pointed to here: https://github.com/ucsd-progsys/lh-plugin-demo/blob/main/stack.yaml and from the github website) to 0.8.10.2 (as promoted on Hackage) in my project. But I still see the above GADT use case failing with:
[code]
I will try building Liquid Haskell from the github source tomorrow and report back.

[2020-11-16 08:46] sertel commented on #1794
The following setup finally worked for me:
[code]

[2020-11-16 13:03] kosmikus commented on #1794
The GADT syntax changed in `develop` to bring it more in line with Haskell. The released LH versions as well as the web interface still require the old syntax. In the old syntax, you have to separate GADT constructors with `|`.

[2020-11-16 17:09] ranjitjhala commented on #1794
Super, thanks @sertel -- closing for now!

[2020-11-16 17:09] #1794 closed, assigned to nobody

[2020-11-16 17:11] ranjitjhala commented on #1793
Not quite, see the discussion on `measures` here:

http://ucsd-progsys.github.io/liquidhaskell/specifications/

the real issue, which _we_ need to fix, is to stop LH from yelling about the missing stuff for `[]` i.e. to switch on the `exact-data-cons` by default.

[2020-11-16 17:11] ranjitjhala commented on #1793
I think your _original_ code would probably work fine if you just added that one flag, but still, each measure should have a *single* equation/case per data-constructor of the corresponding type.

[2020-11-16 17:15] ranjitjhala opened #1795 "Don't resolve (refined) data constructors when not in scope"
Working through `bytestring` I keep hitting this irritating issue where LH insists on resolving names of things not in scope.
For a simple example see

https://github.com/ucsd-progsys/lh-plugin-demo/tree/import-constructor

where we have two files:

*Lib.hs*

[code]

*Client.hs*

[code]

and we get this pesky error

[code]

Of course, I can fix it by forcibly importing *everything* i.e. changing t

[2020-11-16 18:50] ranjitjhala opened #1796 "Diff mode ignores errors"
In https://github.com/ucsd-progsys/lh-plugin-demo/tree/diff

Running `cabal v2-build` the first time produces the error, but the second time the error goes away...

The post-plugin LH is somehow _ignoring_ the previously saved errors, which makes this mode  unusable...

[2020-11-16 19:28] sertel commented on #1793
Sadly, with my upgrade to the latest LH version (see #1794 ) the above solution that you proposed fails once more with the same type of error initially reported in this issue:
[code]

[2020-11-16 20:03] ranjitjhala commented on #1793
Did you try to add the —exact-data-cons
As suggested in the other issue?

[2020-11-16 21:16] sertel commented on #1793
You actually suggested it in _this_ issue even ;)
And yes, I did add this flag. In fact, I just copied your proposed solution into a .hs file.

I will create a small project tomorrow that contains the same setup and only this file just to isolate this. If it would help you in debugging this, I can share that with you.

[2020-11-16 21:34] ranjitjhala commented on #1793
Looking at your error it looks like you are defining a measure
with the function `GHC.Exts.toList` -- which is not allowed.

A measure can *only* refer to other measures or definitions known
to LH (not arbitrary haskell functions...)

On Mon, Nov 16, 2020 at 1:16 PM Sebastian <notifications@github.com> wrote:

[2020-11-17 09:07] sertel commented on #1793
I finally found the problem:
I had the `OverloadedLists` language extension on by default. So this shows the error also at the playground:
[code]
Maybe it is a good idea to flag an error message on this language extension as well until these functions got lifted?
(Although that would not have helped in my case because I had it in the `default-extensions` list of my stack configuration and as far a

[2020-11-18 17:04] #1785 closed, assigned to adinapoli

[2020-11-18 17:31] ranjitjhala commented on #1796
Fixed by https://github.com/ucsd-progsys/liquidhaskell/pull/1791

[2020-11-20 20:22] sertel opened #1797 "Symbol (FromJSON instance for Stats) not found"
I'm trying to debug a problem that I have with termination metrics. My plan was to extend the error message a little bit to get some more details (`RefType.makeLexReft on invalid input.`). Therefore, I forked the repository and build the sources locally.

The `liquidhaskell` code base builds successfully.
However, when I try to build my project with references to the local `liquidhaskell` code bas

[2020-11-20 20:32] ranjitjhala commented on #1797
Hmm that is possible! Did you do `--recursive` clone, so you also have the latest fixpoint?

[2020-11-20 20:33] ranjitjhala commented on #1797
also, sometimes I get these odd `Symbol not found` errors and can clear them just by doing a `stack clean` or `cabal clean`

[2020-11-22 21:29] sertel commented on #1797
I managed to make it work. Apparently, this seems to be a stack problem (https://github.com/commercialhaskell/stack/issues/3559). Currently, the only way around this problem seems to be to sweep all the stack caches.

[2020-11-22 21:29] #1797 closed, assigned to nobody

[2020-11-26 20:54] sertel opened #1803 "Refined GADTs with deriving confuse the type checker"
The following GADT type checks just fine:

[code]
If I append a deriving clause  as follows:
[code]
the type checker complains with:
[code]

[2020-11-27 01:51] ranjitjhala commented on #1803
This looks like the situation where LH’s defaults cannot prove the
termination of some code generated by GHC (I’m guessing the “derived” code).

I thought we had some flag to disable checking on compiler generated code,
but if not I think we should add one!

For now you can either not do the deriving OR put the data definition in a
separate module and put the —no-termination flag on that module?

[2020-11-27 10:31] sertel opened #1804 "LH loses type information in GADTs"
In the following code, LH loses Type Applications and then complains that the types do not match:
(Sorry for pasting the code, but I had problems retrieving a permanent link in the playground. I received the Horrors-message over and over again.)
[code]
The error is:
[code]

[2020-12-02 17:29] NCrashed opened #1807 "ByteCodeLink.lookupCE compilation error"
Current master `bc39f4bde76b58a61ecb3b2adbba3868955157cc` fails to compile in my setup (https://github.com/NCrashed/liquid-test/tree/ad3235d540187773f5f7cd35a7d2a5d82f1947fd run `nix-shell`).

Log:
[code]

[2020-12-02 19:11] NCrashed commented on #1807
The error first appeared in 7abfede6902a9b51deff627f883edca7e14112a0

[2020-12-03 02:10] NCrashed commented on #1762
Got the same issue for my playground project https://github.com/NCrashed/asteroids-arena/blob/master/haskell/asteroids/src/Game/Asteroids/World/Timer.hs#L30

I get:
[code]

smt2 file:
[code]