[2012-11-09 06:05] nikivazou opened #15 "type variable substitution"

[2013-02-02 00:10] danbst opened #25 "Finite lists"
1. [1..100] has { len xs > 0 }, maybe add { len xs <= 100 }
2. add MAX_INT constant, so I can define Int predicate (n < MAX_INT) and make "length" safe on infinite lists

[2013-02-03 22:02] #25 closed, assigned to nobody

[2013-02-23 19:20] ranjitjhala opened #38 "refsymbols?"
What is `refsymbols` used for?
Why is it in the CG State monad (global) and not in an environment (local)?

Also (in `bsplitC`) it is a _terrible_ idea to call variables `map`... (bit like redefining `+`)
Please pick a more suitable name. I would suggest one but I'm not sure what's going
on with refsymbols.

[2013-03-28 22:26] TomMD opened #45 "Tests fail with "liquid: mkTopLevEnv: not interpreted...""
I have used GHC 7.4.2 and ocaml 4.00.1 on an x86_64 Fedora 18 system to install liquid-fixedpoint (3817defc18ef6413627fe7ec897f90960060bf2b) and liquid haskell (0593c524022b43d719283f94b59960e5b86469c9).  But am unable to get the system to cleanly build any examples - perhaps this is due to my own error?

For example:

[code]

and this means the tests fail:

[code]

Let me know if I can provide an

[2013-03-29 15:25] gridaphobe opened #48 "Can we remove `scc` annotations from dumped GHC Core?"
Sometimes I want to look at the Core that GHC generates and the `scc` annotations are really noisy.

[2013-04-01 21:29] gridaphobe opened #50 "add flag to suppress `specification for unknown variable` errors"
they can be really annoying during development..

[2013-04-11 19:45] #50 closed, assigned to gridaphobe

[2013-04-19 21:28] #38 closed, assigned to nikivazou

[2013-04-22 20:50] leepike opened #58 "Parse error"
This type has bad syntax, but it appears to cause the LiquidHaskell to crash:

[code]

output:

[code]

[2013-04-24 03:57] ranjitjhala opened #60 "Please fix strange error message"
@gridaphobe if you run tests/pos/fixme0.hs you will see there is a bizarre type error:

[code]

The bizarre thing is the

[code]

shown for the Liquid. Why is the forall a a. there? Why ANY forall? Why the duplicates? At any rate, can you fix it? Thanks! RJ.

[2013-04-24 18:20] #60 closed, assigned to gridaphobe

[2013-04-24 18:47] gridaphobe opened #62 "Type variable substitution is too fragile"
`tests/pos/deepmeas0.hs` is failing with another one of these type mismatch errors where the tyvars are reversed between liquidhaskell and ghc.. We can prevent the error by providing an explicit type signature for `klookup`, but this is getting to be rather annoying.

We need a more general solution for determining the equality of GHC and liquidhaskell types.

[2013-04-24 19:08] #58 closed, assigned to nobody

[2013-04-24 21:57] gridaphobe opened #63 "Error with `exists` in refinement for `(.)`"
@nikivazou when you have time can you take a look at `Data.Text.Lazy.isInfixOf` in my text branch? It (and a few other functions) are crashing with the following type of error:

[code]

This appears to be due to the recent addition of the existential in the refinement for `(.)`. I've commented out the refinement for the time being, so I'm not blocked, but it would be nice to know why this is happe

[2013-04-25 19:00] nikivazou opened #66 "z3 crashing"
The following code

[code]

Crashes with a z3 error:

[code]

[2013-04-26 16:54] #62 closed, assigned to nobody

[2013-04-26 16:55] #45 closed, assigned to nobody

[2013-04-26 16:56] #66 closed, assigned to nobody

[2013-04-26 19:10] #15 closed, assigned to nobody

[2013-05-07 21:57] gridaphobe opened #71 "exception thrown in tests/pos/ListElem.hs"
Fixpoint is throwing the following exception on `tests/pos/ListElem.hs` using the current master of liquid-fixpoint and liquidhaskell..

[code]

This might actually belong in ucsd-progsys/liquid-fixpoint, but the failing test is in liquidhaskell...

[2013-05-07 23:51] #71 closed, assigned to nobody

[2013-05-13 23:02] nikivazou opened #72 "crash instead of type mismatch error"
The following code crashes with error

[code]

[code]

instead of giving a type mismatch error

[2013-05-27 16:27] #48 closed, assigned to nobody

[2013-05-27 16:44] #72 closed, assigned to nobody

[2013-06-08 01:05] ranjitjhala opened #79 "Unhandled case in: Bare.mapTyVars"
Hi Niki --

can you (do a pull on master) and then run

   liquid tests/pos/mapTvCrash.hs

It throws an error:

*****************************\* ERROR *****************************
Bare.mapTyVars: cannot handle lq_tmp_db0:(GHC.Ptr.FunPtr ((GHC.Ptr.Ptr a) -> (GHC.Types.IO ())))
-> a
*****************************\* ERROR *****************************

I think it is some unhandled case in mapTyVars (i

[2013-06-09 19:21] #79 closed, assigned to nikivazou

[2013-06-09 19:24] ranjitjhala opened #81 "Typecheck measure definitions BEFORE converting to DataCon"
Problem:
tests/pos/deepmeas0.hs fails because we merge all measures into a single datacons for `[]` and `:` which is malformed here due to the deep-measure definition.

Solution:
- Typecheck measure definitions BEFORE converting into DataCon.
- Typecheck raw DATACON definitions in ISOLATION

Earlier we commenting the DATACON typechecks out to enable deepmeasures but that allows glitches in the dat

[2013-06-09 19:27] ranjitjhala opened #82 "Abstract Refinements Being Dropped?"
See:
- [tests/neg/StrictPair0.hs](https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/neg/StrictPair0.hs)
- [tests/neg/StrictPair1.hs](https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/neg/StrictPair1.hs)

The first uses "built-in" tuples, the second a new "hand-rolled" Pair constructor.

BOTH are obviously unsafe, but somehow the second one is marked SAFE!

Similarly, th

[2013-06-09 20:26] #82 closed, assigned to nikivazou

[2013-06-21 23:22] gridaphobe opened #84 "Need to handle Coercions"
The following snippet makes liquidhaskell crash

[code]

The issue seems to be that we don't have a case for handling `Coercion`s in `Language.Haskell.Liquid.ANFTransform.normalize`. For this case, we can work around it by uncommenting the type or removing the INLINE annotation.

[2013-06-26 19:44] nikivazou opened #87 "malformed printing in .html"
see the type signature of empty at benchmarks / esop2013-submission / Array.hs

where

[code]

is printed as

[code]

[2013-07-03 16:09] gridaphobe opened #89 "Termination checker doesn't handle weird type created by TransformRec"
see `tests/pos/fixme.hs` for a runnable version.

[code]

 `go` is given a duplicated class constraint (`forall k a. Ord k => forall k a. Ord k => ...`) which prevents the termination checker from finding the decreasing parameter (`Map k a`).

There are two things to do here:
1. Fix the TranformRec pass so it no longer makes these strange types.
2. Fix the termination checker to be more robust aga

[2013-07-04 00:01] nikivazou opened #90 "make termination analysis code readable"
This usually takes time, so I just add it in the after deadline todo list

[2013-07-18 00:14] #81 closed, assigned to nobody

[2013-07-23 01:11] #90 closed, assigned to nikivazou

[2013-07-25 01:25] #89 closed, assigned to nobody

[2013-07-25 22:37] #87 closed, assigned to nobody

[2013-07-26 01:38] ranjitjhala opened #97 "exported binder not getting TRUE-d out signature"
see: [tests/neg/Eval.hs]

[2013-07-26 04:42] ranjitjhala opened #98 "Malformed Measure: refinement pruned silently"
See tests/todo/Eval.hs

In the definition of `measure free` the last line has a sort-error as it is not a well-formed `Prop`.

If you change the last line of the above to:

[code]

then the program is safe. Otherwise the measure is malformed, and oddness
ensues, but liquidhaskell does not crash, it silently drops the measure.
We should report any malformed measure as an error, and stop...

[code]

[2013-07-26 23:37] #97 closed, assigned to nikivazou

[2013-07-26 23:38] #84 closed, assigned to nobody

[2013-07-27 05:22] ranjitjhala opened #101 "Bug in Termination Checker"
@nikivazou why is the tests/neg/qsloop.hs proved "safe" without the --notermination?

That is, why is the function proved terminating? It patently does not terminate, e.g. if you run it with the input `[1,2,3]` ?

[2013-07-27 17:34] #101 closed, assigned to nikivazou

[2013-07-27 20:04] #63 closed, assigned to nobody

[2013-07-27 20:44] ranjitjhala opened #103 "Allow expressions as type/pred alias parameters"
see:

tests/todo/aliasConst.hs
tests/todo/err9.hs

[2013-07-27 21:00] ranjitjhala opened #104 "Proper Error Message on Malformed Alias Application"
See tests/todo/aliasError.hs

Instead of barfing:

[code]

we should produce, at the very least something like:

   malformed alias application (Rng  0 10)` on line XXX column YYY

[2013-07-28 04:08] ranjitjhala opened #106 "Qualifier not propagating in Dependent Tuple?"
@nikivazou  why is tests/pos/tup0.hs failing (the 2nd signature fails, not the first...)

any clue?

[2013-07-28 05:15] ranjitjhala opened #107 "remove all dependencies on LIQUIDHS env variable"
the relevant files should be tucked inside the cabal directory. (cf. nanojs prelude.spec)

[2013-07-30 23:22] #106 closed, assigned to nobody

[2013-08-13 07:04] #98 closed, assigned to nikivazou

[2013-09-13 16:55] nikivazou opened #116 "Bug in nested recursion termination checker"
Multiple recursive functions can be alive the same time. See

[code]

Now, the checker assumes only one recursive function

[2013-09-17 08:57] nikivazou opened #118 "Consistent naming of liquid tokens"
SUGGESTION: Capitalizing all tokens and allow the old ones to be lower case for compatibility ( @ranjitjhala , @gridaphobe what do you think? ):
- "assume"    -> "assume" | "ASSUME"
- "assert"     -> "assert" | "ASSERT"
- "measure"   -> "measure" | "MEASURE"
- "import"    -> "import" | "IMPORT"
- "data"      -> "data" | "DATA"
- "include"   -> "include" | "INCLUDE"
- "invariant" -> "invariant" | "

[2013-09-19 01:06] gridaphobe opened #121 "Make `RType` equality take aliases into account"
See `tests/todo/TypeAlias.hs`, which crashes because `Bare.tyCompat` checks for syntactic equality without expanding type synonyms, so we get

[code]

even though `Bar` is defined as `type Bar = Foo Int`

Simply adding calls to `expand[R]TypeSynonyms` in `tyCompat` only delays the crash, instead manifesting as an out-of-bounds index in `Constraint.splitCIndexed`.

@nikivazou any thoughts on what m

[2013-09-19 09:56] nikivazou opened #122 "`argExpr` crashes on functions with >1 dictionaries"
The code (_without_ user specified type signature)

[code]

crashes with

[code]

[2013-09-20 14:36] nikivazou opened #123 "allow signatures for local definitions and "weak" type signatures"
Eg,

[code]

With no need to specify the inferred properties of `xs`.

---

Subtyping in user signatures is more expensive that checking, so maybe we should let checking be the default and annotate where subtyping is expected.

[2013-09-24 23:24] #107 closed, assigned to ranjitjhala

[2013-09-24 23:40] gridaphobe opened #125 "Add support for type-indexed measures"
We're currently limited in what we can say about a method of a type-class because we don't have a way of abstracting measures, e.g. consider a type-class for computing the size of a container.

[code]

How would we annotate `size`? We don't have a generic notion of size in liquidhaskell, nor should we since not all types have a sensible definition for size. I propose to add measures to type-classe

[2013-09-24 23:52] gridaphobe opened #126 "Allow refinements in the output type of measures"
Only base types are allowed to appear in the type of a measure, but this is less accurate than it could be, e.g. when dealing with measures that denote the size of a value.

[code]

Since the type only specifies that `len` returns an `Int`, we need to additionally define an invariant on `Int`.

[code]

This is a bit tedious when what we really want to write is just

[code]

Perhaps there's a good

[2013-09-25 19:34] #116 closed, assigned to nikivazou

[2013-09-28 23:21] ranjitjhala opened #127 "Failing Test with Abstract Refinements"
http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1380410092.hs

TWO mysteries:
1. why is 'goon' not type checking? (I suppose I can download an older version to see if this is something new).
2. why is 'rev' raising a type error inside the recursive call to 'go' ?

Looks like we've introduced some bugs somewhere...?

[2013-09-29 21:11] #127 closed, assigned to nikivazou

[2013-10-01 20:43] ranjitjhala opened #129 "Generalized Termination Metrics"
Generalize the termination specifications to allow sequences of Refinement Expressions.

For example:

[code]

Note that this generalizes the current setup nicely,
because instead of specifying the NUMBER (position)
of the decreasing argument, you can just NAME it:

[code]

Furthermore, we could support the lexicographic
business by simply allowing sequences

[code]

etc.

So the deal would be tha

[2013-10-06 17:37] nikivazou opened #131 "deriving measures"
I would like to write

[code]

and get the measure definitions
- for `Len` derivation

[code]
- for `Cmp` derivation

[code]
- for `Fields` derivation

[code]

If you find more interesting "measure Classes" please add them

Some notes:
- Both `Cmp` and `Fields` depend on the names of data constructors,
  but `Len` is not

  so the user should write

[code]

  and get it translated to

[code]

 (**

[2013-10-06 21:51] nikivazou opened #132 "type check error in measure definitions"
When typechecking the measure definitions, we don't check the result type,

see `tests/todo/Measure.hs`

[2013-10-10 17:58] ranjitjhala opened #133 "Exit with proper warning with unbound spec"
See:

[code]

Should gracefully exit (with the line number etc. as with ghc/parse/etc. errors), i.e. the "CRASH" errors, as with

[code]

not the ERROR ERROR ERROR business.

[2013-10-16 15:50] nikivazou opened #134 "clean `Language.Haskell.Liquid.Prelude.hs`"
In `Language.Haskell.Liquid.Prelude.hs` there are many pointer-related functions,
eg

[code]

So, when I import `Prelude` I get the `isNullPtr` qualifier which most probably won't need.

Can I move these functions to another place, maybe `Language.Haskell.Liquid.Foreign.hs`?

[2013-10-19 17:51] #134 closed, assigned to nobody

[2013-10-23 21:03] ranjitjhala opened #136 "GHC Panic due to type family?"
If you run

[code]

from here https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/pos/tyfam0.hs

then we get a GHC panic. Perhaps has to do with this call:

https://github.com/ucsd-progsys/liquidhaskell/blob/master/Language/Haskell/Liquid/RefType.hs#L704

but I'm not sure, am building a prof version to get a backtrace. Any clues?

[2013-10-26 20:32] ranjitjhala opened #138 "More name resolution woes"
In `Data/Vector/Algorithms/Radix.hs` the class method

[code]

clashes with the _parameter_

[code]

of the function `sort` and causes a haskell-liquid type mismatch.

currently hacked to rename the parameter, but should
obviously fix, probably, by not using ALL bound variables
in a module, just the ones corresponding to function names
during name resolution.

(Having a bit of trouble generating a

[2013-10-26 21:25] ranjitjhala opened #139 "Duplicate Type Aliases Not Reported"
type alias duplications not reported, see:

[code]

[2013-10-27 15:25] #125 closed, assigned to nobody

[2013-10-27 17:29] ranjitjhala opened #140 "Allow local `assume` without resorting to `undefined`"
We should allow the user to write something like:

[code]

while then in the rest of the module just use the type `t_foo` for `foo`
_without_ checking the real-definition actually has the type.

Right now, this works if `foo` is imported from elsewhere (modular reasoning
etc. we don't check imported definitions) OR if we use `undefined` as the real
definition.

Would be nice to just allow `assume`

[2013-10-29 05:18] gridaphobe opened #141 "Sanity checks with generic measures"
Right now we let generic measures apply to any `a`, but we probably want to have some constraints, e.g. instead of

[code]

we might want to say

[code]

and then check that the instance definitions have a valid instantiation of `s`.

We'll probably also want to add some notion of constraint to fixpoint at some point to prevent a lot of pointless qualifier instantiations too.

[2013-10-29 05:27] gridaphobe opened #142 "Error spans for type class instances is wrong"
Failed constraints coming from instances of type class methods highlight have bogus associated code-spans, namely they always seem to highlight the instance declaration instead of the method (see tests/neg/Class2.hs).

I suspect that this is due to the auto-generated nature of the actual core-binds we get from GHC...

[2013-10-29 07:13] gridaphobe opened #143 "More opportunities for simplification of inferred refinements"
A couple patterns I noticed while working on `text` which are just noise and make it harder to parse out the minimal inferred type:
1. Some mathematical simplification is possible, e.g. `(v <= ((tlen x) - (tlen empty)))` could be simplified to `(v <= (tlen x))` because `empty :: {v:Text | (tlen v) = 0}`. Or perhaps you have `(v < x + y) && (v < y + x)` when we only need one of the conjuncts (this

[2013-10-31 21:48] #136 closed, assigned to nobody

[2013-11-01 18:28] gridaphobe opened #146 "Remove `import` directive"
Since we have both `.spec` and `.hs` files in `include/`, the `import` directive can give the impression that you can import a `.hs` from a `.spec`. This is not the case, `.hs` imports are all handled by GHC in the `depanal` phase. Furthermore, the only reason to put a `.hs` file into the include directory is to add new Haskell functions, which would then have to be imported by the original source

[2013-11-03 20:29] ranjitjhala opened #147 "Refactor out `CGMonad.hs` from `Constraint.hs`"
`Constraint.hs` has gotten _huge_. We should split it into the `CG` monad API, in a separate `CGMonad.hs` and the actual constraint generation code that traverses the `CoreExpr` and does the splitting.)

[2013-11-04 20:28] gridaphobe opened #148 "More precision with `LAZYVAR`"
Consider the following (in tests/todo/LazyVar.hs)

[code]

This should be deemed safe because `x` wil not be demanded unless `i < l` evaluates to `True`.

[2013-11-07 06:27] ranjitjhala opened #151 "Signatures With Holes"
btw, it occurs to me that we should allow for type signatures with "holes" meaning:

[code]

and then let liquid figure out the _ (by generating fresh K etc. etc.)

in fact, we ought to be able to write the above as:

[code]

using the _ to even elide the haskell types.

this might solve the termination expression issue too, by

[code]

and it would be generally useful anyway...

[2013-11-07 06:29] ranjitjhala opened #152 "Simpler notation for binders"
It is really tedious to write types like

[code]

Instead, we should just allow something like

[code]

Basically, just allow the user to write

[code]

and read that as

[code]

and move on. Should be trivial.

[2013-11-08 10:40] #123 closed, assigned to nobody

[2013-11-08 11:05] #129 closed, assigned to nobody

[2013-11-13 11:42] nikivazou opened #153 "adjust terminating expressions to Core Bindings"
See `tests/todo/LocalRecursiveFuns.hs`

`union` is transformed to a local recursive function, but terminating expressions are defined for the top level `Blank.union`

[2013-11-14 05:13] gridaphobe opened #154 "Local specs with tyvars"
The following program (in tests/todo/LocalSpecTyVar.hs)

[code]

crashes with a type mismatch error for `go`.

[code]

It appears that we aren't accounting for the surrounding scope when handling local specs.

[2013-11-15 22:21] nikivazou opened #155 "parenthesis issue on refinements"
In the below code (see `tests/todo/Plus.hs`) `go'` is safe but `go` is not...

[code]

[2013-11-27 12:06] Baranowski opened #157 "Equality for algebraic types"
I was wondering whether it's possible to make the following work:

[code]

Some interesting parts of the resulting *.fq file:

[code]

So it seems we have the information about `ds_d155` having been constructed with `Cons`. If we also had this information about `VV#F7`,  the code above would work.

I tried manually adding some qualifiers:

[code]

But that didn't help. I noticed that in the *.fq f

[2013-12-03 02:04] nikivazou opened #159 "recursion via data-types or references makes termination checker unsound"
It seems that we can encode the fixpoint or the Y combinator (ie, recursion) with data types[1]:

[code]

Since `y` is not a recursive function liquidHaskell will trivially assume that y always terminates.

With `y` we can define our unsound example (see tests/todo/Recursion.hs):

[code]

So, maybe in the termination checker we should reason about data types like Rec,
ie recursive types that appea

[2013-12-05 01:19] gridaphobe opened #160 "Z3 crash using SMT-LIB"
`tests/todo/empty-or.hs` triggers a z3 crash when using SMT-LIB as the intermediary. This seems to be because liquidhaskell/fixpoint generates an empty application `(or )`. It's a bit strange because if you remove the `INLINE` annotation, the crash disappears. It seems that the `INLINE` annotation results in an extra lamba-abstraction in the Core...

Regardless, the root issue seems to be that SMT

[2013-12-09 15:17] nikivazou opened #162 "properties in lists with as patterns"
LiquidHaskell cannot prove that `merge` preserves sortedness if we use `as-petterns`,
The following fails (see `tests/todo/SortedLists.lhs`):

[code]

The property that fails simplifies to

[code]

and we cannot prove it if we don't use the information that the polymorphic `:` gives us, ie., that if both head and tail satisfy a property, then all elements satisfy it.

Some failing attempts are

[c

[2013-12-17 02:18] gridaphobe opened #163 "Support instance-specific types for type-class methods?"
I was just taking a look at the state branch, specifically [tests/pos/State.hs](https://github.com/ucsd-progsys/liquidhaskell/blob/state/tests/pos/State.hs), and it occurred to me that the way we handle type classes at the moment is totally insufficient. Right now we can provide a single type which is required to hold for every instance of the type-class, but in this `ST` example we would want to

[2013-12-19 22:21] #152 closed, assigned to nobody

[2013-12-20 22:34] #133 closed, assigned to gridaphobe

[2013-12-31 13:58] #155 closed, assigned to nobody

[2013-12-31 14:14] #104 closed, assigned to nobody

[2014-01-01 20:23] ranjitjhala opened #166 "Representing Types Inside Refinements"
Right now, we have values inside refinements `{v: Int | v > 0}` but it may be convenient to also directly support types.

If so, we could verify things like [this program](https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/dyn.hs)
and really give nice support for **duck typing** inside haskell.

[2014-01-01 22:38] #139 closed, assigned to nobody

[2014-01-04 00:02] ranjitjhala opened #167 "Wierdness with multiple predicate applications"
See:

tests/pos/multi-pred-app-00.hs
tests/neg/multi-pred-app-00.hs

(thanks to @abakst)

[2014-01-07 17:12] TomMD opened #169 "Totality Checker Getting Wrong Answer"
The below code is said to be total when running `liquid --totality`

[code]

[2014-01-08 00:02] #169 closed, assigned to nikivazou

[2014-01-08 00:02] #167 closed, assigned to nikivazou

[2014-01-10 23:28] abakst opened #171 "Weird Pred app issue"
The following is safe, but it doesn't seem like it should be

[code]

It looks like the concrete predicates are never being applied.

[2014-01-14 19:31] #154 closed, assigned to nobody

[2014-01-14 20:45] #151 closed, assigned to nobody

[2014-01-15 22:04] #122 closed, assigned to nobody

[2014-01-15 22:05] #132 closed, assigned to nobody

[2014-01-19 05:38] ranjitjhala opened #176 "Why is tests/pos/fixme0.hs failing?"
does it have to do with exported functions and missing signatures?

[2014-01-19 05:56] #176 closed, assigned to nobody

[2014-01-31 20:56] #121 closed, assigned to nobody

[2014-02-21 00:55] nikivazou opened #178 "error in function subtyping"
Seems that LH can prove that

`Int -> Int <: x:a -> {v:a | v = x}` (*)

see `tests/todo/SubType.hs`

For liquidtypes (*) goes to

[code]

which goes to

[code]

If no more constraints exist for k, k solves to false and both queries hold.

Thanks Colin Stebbins Gordon for the example.

[2014-02-22 18:50] #178 closed, assigned to nobody

[2014-03-04 15:43] ranjitjhala opened #181 "bug: why is this "safe""
http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1393947740.hs

[2014-03-05 01:28] ranjitjhala opened #182 "Strengthen Invariant in subtyping"
It would be nice to strengthen using "invariants" in any position of the subtyping, not just binders. See for example:

https://github.com/ucsd-progsys/liquidhaskell/tree/master/tests/todo/invlhs.hs

which works if we do

  let z = e in z

but not if we leave it as

  e

Because in the former case, the invariant gets added when we add z into the environment.

[2014-03-05 01:44] ranjitjhala opened #183 "Scope problems in nvariants over datacons"
see:

   tests/pos/datacon-inv.hs

[2014-03-05 03:20] #183 closed, assigned to gridaphobe

[2014-03-05 18:37] #181 closed, assigned to nikivazou

[2014-04-01 23:54] nikivazou opened #185 "Refined class instances make LH crash"
instance of a refined `IO`, as in

https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/pos/fixme.hs

makes LH crash.

[2014-04-02 02:17] gridaphobe opened #186 "Unbound Variable error when importing module with local specs"
See [LocalSpec](https://github.com/ucsd-progsys/liquidhaskell/tree/master/tests/pos/LocalSpec.hs) and [LocalSpecImport](https://github.com/ucsd-progsys/liquidhaskell/tree/master/tests/pos/LocalSpecImport.hs). It appears that LH is trying to find a GHC `Var` for the locally-bound `foo`, which of course fails since `foo` is not in scope. One solution would be to ignore Unbound Variable errors in spe

[2014-04-03 21:40] gridaphobe opened #187 "Add ability to pass flags to GHC"
Lee Pike pointed out on the mailing list that it would be nice to, e.g., specify a package-db path for GHC when running LH. Really, we should just allow users to pass any flags to GHC. Hdevtools has a reasonable solution for this already: they forward any flag prefixed with `-g` to GHC. I'd suggest we do the same, hopefully GHC has a function like `[String] -> DynFlags` somewhere that we can just

[2014-04-03 22:06] #185 closed, assigned to nobody

[2014-04-04 11:05] k-c opened #188 "squaring an integer is always positive"
I'm trying to prove that squaring an integer is always positive, but the following fails:

module Square where
{-@ square :: x:Int -> {y:Int | (0 <= y) } @-}
square :: Int -> Int
square x = (*) x x

LiquidHaskell seems to deduce for (*) that:
x1:(GHC.Types.Int) -> x2:(GHC.Types.Int) -> {x7 : (GHC.Types.Int) |
(((x1 > 1) && (x2 > 1)) => ((x7 > x1) && (x7 > x2))) &&
(((x1 >= 0) && (x2 >= 0)) => ((x7

[2014-04-04 19:36] #187 closed, assigned to gridaphobe

[2014-04-08 00:38] nikivazou opened #189 "bug in name resolution: DataCons vs DataTypes"
In the following code (see [tests/todo/TokenType.hs](https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/TokenType.hs))

[code]

liquidHaskell interprets the type `Char` of `bar` as `TokenType` and crashes with

[code]

[2014-04-08 05:14] #189 closed, assigned to gridaphobe

[2014-04-08 20:01] nikivazou opened #190 "Another localSpec issue"
We are unable to type `go` as a local function in the following code (see [tests/todo/LocalSpec1.hs](https://github.com/ucsd-progsys/liquidhaskell/blob/323c6a37ac71e9638e24d9c654c55fd76d6956d8/tests/todo/LocalSpec1.hs))

[code]

[2014-04-08 22:54] nikivazou opened #191 "type for `dropWhile`"
I was wondering if there exists any type for `dropWhile` that makes the below code safe:

[code]

ie., proving that the result of `dropWhile` is not empty.

The above code appears in [hscolour/Language/Haskell/HsColour/Anchors.hs](https://github.com/nikivazou/hscolour/blob/master/Language/Haskell/HsColour/Anchors.hs#L161)

[2014-04-10 18:02] nikivazou opened #193 "deriving Read code for record syntax is really slow"
It takes ~30sec to verify the code

[code]

and ~2sec to verify

[code]

The difference is that in the second case it reads strings of the form

[code]

while in the first

[code]

which leads to complicated code for `read` functions.

The verification time for `read` functions increases exponentially wrt the number of fields. In [hscolour/Language/Haskell/HsColour/Colourise.hs](https://github.com

[2014-04-12 19:45] ranjitjhala opened #195 "Bug in qualifier generation"
See:

https://github.com/ucsd-progsys/liquidhaskell/blob/vector/tests/pos/fixme2.hs

It works if I uncomment the qualifier definition but why is that qualifier not automatically generated from the the specifications?

[2014-04-12 21:08] #195 closed, assigned to gridaphobe

[2014-04-14 17:08] ranjitjhala opened #197 "Constraint generation ignores class bodies?"
See:
  tests/neg/Class4.hs

[2014-04-14 21:53] #186 closed, assigned to nobody

[2014-04-16 20:22] nikivazou opened #200 "Check well formedness of qualifiers"
No LH has no check, see [tests/todo/QualifCheck.hs](https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/QualifCheck.hs)

[2014-04-19 23:56] ranjitjhala opened #202 "Oddness due to type application?"
(This is in the `vector` branch)

@nikivazou can you take a look at this:

[code]

I can't understand why its failing.

Run it in benchmarks/vector-0.10.0.1 with

   liquid -i . vector-0.10.0.1/Data/Vector/Generic/New0.hs

Why is the (mvLen v >=0) information getting lost? I think it has to do with the type application that unpacks the forall s.... from the definition of `New` but that shouldn't h

[2014-04-20 00:14] #188 closed, assigned to nobody

[2014-04-22 17:59] nikivazou opened #203 "Foo"
foo issue

[2014-04-22 18:00] #203 closed, assigned to nobody

[2014-04-22 19:02] #202 closed, assigned to nikivazou

[2014-04-22 19:03] #140 closed, assigned to nobody

[2014-05-06 05:31] nikivazou opened #206 "No Instance in class measures"
It would be nice if the following snippet creates a "No Instance `Foo a` `elts`" warning

[code]

[2014-05-07 09:23] deian opened #207 "Set_mem fails on simple test"
Hey guys,

I'm running into trouble using the set membership measures. I simplified the problem to the following:

[code]

and am getting the following error:

[code]

I'm running liquidhaskell with CVC4 (coudn't get it working with Z3, but I'll file a bug another time with that).

Thanks,
Deian

Here is the more detailed output:

[code]

[2014-05-07 16:14] nikivazou opened #208 "Another name resolution issue"
Importing an `assumed` type fails with no in scope:

Bar.hs fails with

[code]

where

[code]

[code]

[2014-05-07 16:57] #208 closed, assigned to gridaphobe

[2014-05-07 23:19] #207 closed, assigned to nobody

[2014-05-19 20:41] lcycon opened #210 "Support Wildcard matches in measures (via Ranjit)"
Ex: http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1400532038.hs at line 11

[2014-05-20 18:09] nikivazou opened #212 "Check Lazy/Strata"
i.e reject this program.

http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1400609323.hs

[2014-05-22 23:31] nikivazou opened #213 "Remove benchmarks from liquidhaskell repo"
A user that downloads liquidhaskell should not download bytestring, text etc.

@ranjitjhala can you create another ucsd-progsys repo for liquidhaskell-benchmarks?
I don't have permission to do that.

[2014-06-02 10:19] fhaust opened #216 "How far can you take restrictive types?"
Hi everyone,

I followed your blog posts and wondered how far you could take the compile time checks.

For example, in the post about ordered lists you are able to verify that some lists are non empty. But could you verify the (IMHO) more importent invariant that the `OrdList` actually is ordered?

Another example: Could you verify the invariant of a binary search tree that all left children are s

[2014-06-02 20:12] nikivazou opened #217 "Some demos are broken"
Like,

http://goto.ucsd.edu:8090/index.html#?demo=Order.hs
http://goto.ucsd.edu:8090/index.html#?demo=Map.hs

[2014-06-03 08:36] #217 closed, assigned to nobody

[2014-06-13 17:36] nikivazou opened #218 "error message on multi-parameter measures"
Create a user friendly message if user defined measures with many parameters, eg.

[code]

[2014-06-17 17:18] #197 closed, assigned to nikivazou

[2014-06-18 02:12] nikivazou opened #221 "Parsing issues in multi-parameter measure"
applying a multi-parameter measure gets misparsed.  multiParam x (x+1) gets parsed as (multiParam (x(x+1))) instead of ((multiParam x) (x+1)).  This only happens when the second (or third, in the case of storeOneMore's correct refinement) is parenthesized.

Due to @csgordon

[2014-06-29 03:59] csgordon opened #222 "Cannot parse type applications in measure range (e.g., List a)"
It looks like the measure parser doesn't like when the range of a measure is a type application / contains whitespace.  Example:

    module MeasureParsing where

    import GHC.Base -- IO

    data List a = Node a (List a)
    type IList = List Int

    {-@ measure val :: List a -> a
        val (Node v n) = v
    @-}
    {- measure nxt :: List a -> List a
        nxt (Node v n) = n
    -}
    {-

[2014-06-29 22:36] csgordon opened #223 "LH type aliases are not used in Measures"
[code]

I know refinements are ignored on measure types, and shorthands for types with lots of refinements are the intended use case for LH type aliases.  So this is more of a feature request than a bug, since you usually shouldn't need shorthand for refinements where refinements are ignored!  But it was certainly surprising to get a GHC error about a missing type on the line for the measure, whic

[2014-07-15 21:36] gridaphobe opened #228 "Reduce dependence on GHC"
Our dependence on GHC's API causes problems, e.g. with Template Haskell. This is a bit silly because we only need GHC for the translation to Core, i.e. we only need it in order to _verify_ the types, not to specify them or do other things (like generate tests :). I would like to propose another package split, separating `liquid-types` from the `liquid-haskell` type-checker. The goal would be for `

[2014-07-16 15:09] gridaphobe opened #229 "Language/Haskell/HsColour/Anchors.hs causes a stack overflow in fixpoint"

[2014-07-17 05:52] #229 closed, assigned to nobody

[2014-08-05 06:51] nikivazou opened #232 "clean name resolution"
- replace or delete `Bare.makeSymbols`
- clean `Bare.expand*Alias*`: currently much of name resolution happens in expandAlias functions which is confusing, as the name implies just alias expansion and no name resolution

[2014-08-19 20:08] ranjitjhala opened #233 "diff check is not working properly"
see `bad_bs1` in docs/slides/HS2014/Bytestring.hs

[2014-09-02 15:16] UnkindPartition opened #237 "liquid runs out of memory"
When I run `liquid` on this file https://gist.github.com/22ff7db5341036478a8f, it runs for about a minute and runs out of memory:

[code]

(This is the version from `master`)

[2014-09-04 16:27] #233 closed, assigned to ranjitjhala

[2014-09-04 16:32] ranjitjhala opened #238 "Crash on malformed hole use"
See:

tests/todo/hole-crash1.hs

At the very least there should be some sort of reasonable error messages (pointing to the source etc.)

[2014-09-05 12:53] ndmitchell opened #240 "Does not compile on Windows"
The package depends on unix, which means it won't work on Windows.

[2014-09-05 14:13] #238 closed, assigned to gridaphobe

[2014-09-22 23:38] gridaphobe opened #241 "Parse Errors"
Ours are terrible, but parsec has this nice `<?>` combinator to attach a more human readable error message. We should use it :)

[2014-09-23 17:44] gridaphobe opened #243 "Refinements seem to get dropped during type-level computation"
see [tests/todo/TypeFun.hs](https://github.com/ucsd-progsys/liquidhaskell/blob/50319327b169bd2a3e1dddd8dbb80143b01adb5f/tests/todo/TypeFun.hs).

The type-class resolution of the call to `proc` maps `'[Int] :-> Int` to `Int -> Body Int`, but the refinement on the input `Int` is lost in the process, not sure why/how yet.

[2014-09-23 18:02] ranjitjhala opened #244 "Error message for unbound Abstract Refinement"
We should produce a decent error message for signatures like the below

[code]

The problem is that the `p` is unbound in the signature, but LH just crashes with inscrutable output.

[2014-09-24 19:03] gridaphobe opened #245 "Support user-defined control operators"
see [tests/todo/When.hs](https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/When.hs)

We can work around this ATM by explicitly thunking the then/else expressions, but it's super-clunky..

[2014-09-27 19:33] gibiansky opened #246 "Homepage is down?"
The homepage listed on hackage and the Haskell wiki is  http://goto.ucsd.edu/liquidhaskell

which currently seems to be down (it redirects me to http://goto.ucsd.edu:8090/index.html)

is this purposeful? or is this broken?

[2014-09-27 20:12] gibiansky opened #247 "Verifying `partition` uses all elements? simple but fails"
Hello,

I cannot figure out why something is failing to verify. Please let me know if there is a better venue for communication in case you would prefer questions be routed through something other than Github :)

Here is my program:

[code]

I am trying to partition a list based on a predicate, with `fst x` containing elements for which the predicate is true and `snd x` containing elements for whi

[2014-09-27 20:31] gibiansky opened #248 "Error messages should use original binder names?"
I have the following code:

[code]

This is clearly an error, since there's nothing that says that `test` should return negative numbers. So I get the following error:

[code]

This error uses strange new names for the binders, instead of reusing `v` and `r` from the `test` type declaration. A better error would be

[code]

The changes that I think would be helpful are that `VV` has been changed t

[2014-09-29 16:05] #247 closed, assigned to nobody

[2014-10-07 19:44] ranjitjhala opened #251 "Flag missing metrics as errors, not warnings"
We should report "UNSAFE" for

https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/nodecr-err.hs

[2014-10-08 14:07] ranjitjhala opened #253 "Interaction between abs-refs causes a crash?"
@nikivazou can you take a look at:

https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/absref-crash.hs

It causes a gross "crash" -- no mention of line numbers etc. (I have cut it down to the
smallest possible -- there is no actual code, just types.) If you can look at it soon, it would
be great, am trying to use it for a talk on Friday ;-)

[2014-10-08 17:23] #253 closed, assigned to nobody

[2014-10-10 13:36] #246 closed, assigned to nobody

[2014-10-10 13:37] ranjitjhala opened #254 "Measure translation glitch"
See

https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/measbug.hs

Seems to break the translation ...

[2014-10-10 22:57] #254 closed, assigned to nikivazou

[2014-10-23 01:26] ranjitjhala opened #255 "Refined function fields behaving oddly"
See:

https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/funrec.hs

Can someone explain why this is rejected? (Perhaps its contra variance ... but perhaps its something else?)

[2014-10-23 01:28] #251 closed, assigned to nikivazou

[2014-10-26 09:51] lbodor opened #256 "Crash: fixpoint, bad constraint"
Hi,

Is this an issue, or am I doing something wrong?

[code]

`liquid crash.hs`, gives:

[code]

All is well, if I take out `g`, or if I replace `0.0` by `0`.

Regards,
Lazar

[2014-10-29 20:54] #256 closed, assigned to nobody

[2014-10-31 02:09] ranjitjhala opened #259 "How to treat `IORef` type-parameter as invariant?"
See:

https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/contra0.hs

Clearly this program is _unsafe_ but LH currently says otherwise.

Do we have a mechanism for specifying the arity of type arguments
for imported (library) data constructors for which we don't have the code?
I'm assuming the issue here is that the type parameter `a` in `IORef a` is
unsoundly treated as co-varian

[2014-11-01 16:55] ranjitjhala opened #260 "GHC does curious things with case-expressions"
See:

https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/case-lambda-join.hs

You'd think that `rbalBAD` and `rbalOK` are _equivalent_ but the presence of the extra
case causes GHC to create some odd intermediate lambdas (in the core) which then
fool LH because it needs to infer intermediate types for the lambdas which is hard
because some subset of variables is in scope for the

[2014-11-13 21:35] ranjitjhala opened #263 "Measures with `Prop` range"
See:

https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/propmeasure.hs

Unfortunately, until we support this, it feels strange to use even the `Int` measures as code.

I think it may be doable by making up a dummy `Prop` type (in `Liquid.Prelude`) and associated "operators" and then just parsing those in but translating into refinement/fixpoint terms as done with
the other measu

[2014-11-17 18:38] ranjitjhala opened #265 "Unsound result when using refined Data Definition"
See:

https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/fixme.hs

If I remove the abs-ref definition it rejects the program.

What's going on?

[2014-11-18 00:39] gridaphobe opened #266 "Termination expressions not being checked in the right environment?"
See `tests/todo/Term.hs`, which should be perfectly safe, but fails to verify. There's a suspicious

[code]

when I run LH.

[2014-11-20 21:55] gridaphobe opened #267 "A couple enhancements I was reminded of during a brief pair-programming LH session"
- auto-derive types for record selectors using the derived measures
  - ideally even without the liquid data definition, but this would almost certainly cause name-conflicts at the moment
- refer to other top-level values in type signatures, very useful for constants

[2014-11-21 02:26] #259 closed, assigned to nikivazou

[2014-11-24 04:46] #266 closed, assigned to nikivazou

[2014-11-24 22:03] #240 closed, assigned to nobody

[2014-11-25 19:06] #263 closed, assigned to nikivazou

[2014-12-07 03:04] david-christiansen opened #273 "Liquid Haskell doesn't accept Haskell names containing ' (single-quote)"
In the Idris code base, we have a datatype `Err' :: * -> *` where `Err' t` is a type of error messages containing terms of type `t`. Liquid Haskell couldn't parse the specification:

[code]

because of this. @gridaphobe and I worked around the issue by manually applying it at use sites. Additionally, the same thing happened when using the name `n'` in the name of a Liquid Haskell binder.

[2014-12-07 03:11] david-christiansen opened #274 "Feature request: allow .spec files for the file being checked"
It would be nice to be able to define some of the bulkier LH machinery (size measures, etc) in a separate file, to de-noise the main Haskell file so that only the LH specifications that serve as documentation for the functions are included.

I understand that `.spec` files are used for imports. It would be nice to use them for the module presently being checked.

[2014-12-07 03:14] david-christiansen opened #275 "Parentheses should follow the same rules as Haskell"
When LH'ing Idris, we needed to define:

[code]

It would have been nice to write

[code]

instead.

[2014-12-07 03:24] david-christiansen opened #276 "Couldn't find default measure for []"
In the partially-LH'ed Idris code, we have:

[code]

When we just used `xs` as the termination metric, it failed:

[code]

The error message was highly uninformative, along the lines of "Error: termination check".

[2014-12-07 03:37] david-christiansen opened #277 "Feature request: support default cases in measures"
I wrote:

[code]

I'd prefer to write:

[code]

[2014-12-07 05:24] david-christiansen opened #278 "Names can't start with "instance""
This specification:

[code]

gives the following parser error:

[code]

[2014-12-07 07:07] gridaphobe opened #279 "local-specs can't refer to captured function arguments"
It appears that we're not looking up free variables in the right scope, see https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/LocalTermExpr1.hs

[2014-12-09 01:10] #278 closed, assigned to nobody

[2014-12-09 05:23] #276 closed, assigned to nobody

[2014-12-09 21:26] #277 closed, assigned to nikivazou

[2014-12-10 01:28] #260 closed, assigned to nikivazou

[2014-12-10 04:55] #265 closed, assigned to nikivazou

[2014-12-11 20:09] nikivazou opened #286 "Well formed-ness and Type Constraints"
Say I have a data type `F a` defined as

[code]

I define a function `elements` that returns the elements of `F a`

[code]

Note how the `union` in the last line requires `a` to be `Ord a`.
I promote `elements` to a measure, and then I use it in `foo`, as:

[code]

Note that the type variable of `a` here is not constraint with `Ord a`.

My question is: show the refined type signature of `foo` be w

[2014-12-12 22:05] spinda opened #287 "Bad error messages in expression type parameters"
Expression type parameters can be abused in various ways to produce strange behavior.

You can use them to refer to non-existent type parameters:

http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1418421723.hs

...which causes a strange crash in plugHoles when used as a function signature:

http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1418421674.hs

You can also use them to create

[2014-12-17 20:32] nikivazou opened #288 "Refined data definitions"
Refined and Haskell record selectors should appear in the same order.
If they do not, LH crashes with a bad error message:
[This](https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/RefinedData.hs)

[code]

crashed with
`strengthen on differently shaped reftypes`

[2014-12-29 23:04] csgordon opened #291 "bad sort, and crash, using multi-parameter refinements"
Here's a type that produces a sort error for some unknown reason:

    {-@ fails :: forall <r :: Int -> Int -> Prop>. x:Int -> y:Int -> {v:Int | (r x y)} @-}
    fails :: Int -> Int -> Int
    fails x y = 0

which produces the mysterious output:

     BadSort.hs:7:5: Error: Bad Type Specification
     BadSort.fails :: forall <r :: GHC.Types.Int GHC.Types.Int -> Prop>.
                      x:Int -

[2015-01-01 05:41] ranjitjhala opened #292 "LH accepts function with malformed spec"
See https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/badspec.hs
See https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/badspec1.hs

This should be rejected...

[2015-01-02 18:44] ranjitjhala commented on #292
Another variant. The actual bugs are different of course, in the latter case I think we probably just take a prefix of the args and drop the rest which is why `badspec1.hs` is safe.

Silly but very severe bug, we shouldn't be **accepting** programs with malformed specs!

[2015-01-02 18:52] ranjitjhala opened #293 "Feature Request: Holes inside alias applications"
@gridaphobe  It would be nice (and hopefully easy?) to support things like `ok'` in

https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/hole-app.hs

[2015-01-02 20:01] ranjitjhala opened #294 "Make `len` a Haskell function?"
Otherwise we can't use it in *other* (lifted) measures ... eg.

    totLen :: [[a]] -> Int
    totLen (x:xs) = len xs + totLen xs
    totLen []        = 0

[2015-01-02 22:18] ranjitjhala opened #295 "Field measures not strengthened when exported"
Why does tests/todo/measfield.hs not work?

(Also: it works fine if I replace the line at the top to: `module Goo ()` i.e. don't export `Vec` or any constructors.

1. It shouldn't make any difference whether the type is exported or not?
2. The current set up makes using field measures useless as I have to write a separate accessor...

[2015-01-03 08:31] nikivazou commented on #295
You are right, now we do not strengthen the haskell's record selector `velems` at all.
You do not have to write a separate selector, you can refine the existing one (until liquidHaskell automatically refines it)

For your example to work you have to add

[code]

Note that `velems` is an internal haskell function (something like `velems x = case x of V _ y -> y`) and the above type *is* checked.

I

[2015-01-03 08:35] nikivazou commented on #294
Why not lift Haskell's `length` to a measure? And then you can write
[code]

I believe that the user should not know about `len`, which is a "function" introduced in LiquidHaskell,
she should only use the familiar haskell's `length`.

[2015-01-03 08:43] nikivazou commented on #292
I think @spinda (Michael) has a fix for the second variant (not merged yet.)

[2015-01-03 16:54] ranjitjhala commented on #294
But how would we do that? At some point the include/ directory had GHC.List.lhs with a bunch of code and specs but that is gone now ... ?

[2015-01-03 19:44] ranjitjhala commented on #295
Hmm. I see, the key bit is that its treated
just like a Haskell function, and really the
"automatic" strengthening is due to our intra
module inference.

This needs to be pointed out explicitly.

Can you add a line to the README.md?

[2015-01-03 21:04] gridaphobe commented on #295
I think I've pointed this out a few times (there's probably even an open issue somewhere). I'd rather just fix it than add a note to the README, shouldn't be too hard right?

[2015-01-04 07:28] csgordon opened #296 "Bad type for measure"
This is a regression: this worked fine a couple months ago.

    module BadMeasureType where

    {-@ measure fwd_extends :: IO () -> IO () -> Prop @-}
    {-@ assume fwd_extends_refl :: m:IO () -> {v:Bool | (fwd_extends m m)} @-}
    fwd_extends_refl :: IO () -> Bool
    fwd_extends_refl = undefined

prduces the error:

    LiquidHaskell Copyright 2009-14 Regents of the University of California.

[2015-01-04 08:07] csgordon opened #297 "Applying data type with wrong number of abstract refinement params could give better errors"
module Arity where

    {-@ data T a <p :: a -> Prop, q :: a -> Prop > = MkT (t_x :: a) @-}
    data T a = MkT a

    -- error spec 1
    {- f :: forall <p :: a -> Prop, q :: a -> Prop>. T <p> a -> a @-}
    -- error spec 2
    {- f :: forall <p :: a -> Prop, q :: a -> Prop>. T <p, q, {\ y -> (true)}> a -> a @-}
    f :: T a -> a
    f (MkT x) = x

The first spec, if used, produces:

    LiquidHas

[2015-01-04 16:08] ranjitjhala commented on #296
Yikes, thanks for pointing it out , will look into it ASAP!

[2015-01-05 22:13] #293 closed

[2015-01-07 05:16] ranjitjhala commented on #294
In a related vein, if we do get around to unifying this, it would be nice to use GHC's vanilla "import hiding" to actually hide certain measure definitions. e.g. `len` so that it is not global...

[2015-01-08 13:21] #291 closed

[2015-01-08 13:22] ranjitjhala commented on #287
@spinda are you working on this by any chance? (i.e. will these be addressed by your `Bare` refactoring?)

[2015-01-08 13:25] ranjitjhala opened #300 "Suppress printing Variance"
at least under Tidy/`--short-names` see:

https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/errmsg.hs

[2015-01-08 13:36] ranjitjhala opened #301 "Allow `CoreToLogic` definitions inside type specifications"
@nikivazou since you've done all the hard work with `CoreToLogic` we should be able to use it in *all* type specifications, not just measure definitions. In short, can you get this to work:

https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/errmsg.hs

I should not have to write `Set_cup` or `Set_mem` but instead I should be able to write `union` and `intersection` in the type si

[2015-01-08 16:28] ranjitjhala opened #302 "Export qualifiers from measure types"
For example, if I have:

    measure first :: x:(a, b) -> {v:a | v = first x}

then we DO currently generate the qualifier, but it is **not exported**, so if I use `first` or elsewhere,
I don't get the qualifier for it... Consequently, if I remove `Fst` and `Snd` from `include/GHC/Base.spec`
then we cannot prove, e.g.

https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/tupleplus.

[2015-01-08 16:46] gridaphobe commented on #302
@ranjitjhala we have no real notion of exported vs private qualifiers, so I'm not sure what you mean here. Looking at the current state of `include/GHC/Base.spec` I'll hazard a guess that the real issue is that given

[code]

we do **not** generate a qualifier

[code]

but we **should**.

[2015-01-09 04:34] ranjitjhala commented on #302
Sorry, was not precise.  Indeed, there is no notion of exported/private quals.

However, there is

1. a notion of **imported** functions,
2. **scraping** qualifiers from such functions.

Recall that we *disabled* this because it causes blowups without much payoff; instead we limit scraping
to functions **defined** in the current module (not imported functions.)

What I am saying is that we should

[2015-01-09 05:02] gridaphobe commented on #302
Ah yes, that would make sense. I really want to remove the scraping restriction entirely, but we get some extremely generic qualifiers from somewhere deep in the import hierarchy that tanks our performance. And I haven't yet had a chance to figure our where they're coming from.

In the meantime, I agree that we should scrape qualifiers from measures, but I think it would be easier to implement as

[2015-01-09 14:11] nikivazou commented on #300
fixed.
Sorry, variance was there for debugging, and I forgot to remove it

[2015-01-09 14:11] #300 closed

[2015-01-09 17:02] ranjitjhala commented on #300
Thanks!

[2015-01-11 19:59] ranjitjhala opened #303 "Support partial measures"
Would be nice to have the lifted measures also support partial measures
(as used to happen in "old-style" measure definitions)...

https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/partialmeasure.hs

we *do* support this for "old-style" measures...

https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/partialmeasureOld.hs

[2015-01-14 18:08] ranjitjhala opened #305 "Cleanup Liquid Type Errors"
In error messages, render

1. `GHC.Types.Int` --> `Int`
2. `fix ##63#a`    --> `?a`
3. `(5 : int)`     --> `5`

So for example, the error from `exBad` in 08-case-study-pointers.lhs becomes:

   Error: Liquid Type Mismatch
    Inferred type
      VV : {VV : GHC.Types.Int | VV == ?a && VV == (5  :  int)}

    not a subtype of Required type
      VV : {VV : GHC.Types.Int | VV <= plen p}

    In Conte

[2015-01-16 08:05] spinda commented on #287
The pull request that I just submitted doesn't address this, but I have partial work done on a future PR that will.

[2015-01-16 08:07] spinda commented on #292
I believe the cause for the second variant is the same as for #287.

[2015-01-17 00:15] spinda commented on #292
~~I believe the cause for the second variant is the same as for #287.~~

Looking at it again, that looks like a totally different issue. The problem is that it's accepting `Foo 1000` instead of `Fooz 1000`, right?

[2015-01-17 00:23] ranjitjhala commented on #292
Yes the 1000 is somehow ignored in the application...

[2015-01-19 18:06] ranjitjhala opened #312 "Inline Code Inside Measure Definitions"
It would be nice to support *inlining* inside measure definitions. For example, to allow:

https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/InlineMeasure.hs

[2015-01-19 18:09] ranjitjhala commented on #312
Btw, I tried doing the above as a tuple so `mmax :: (Int, Int) -> Int` but that fails for some reason...
Also, am pretty sure it doesn't actually *inline* the definition of `mmax` at the usage site, which is what
we'd really want.

[2015-01-19 18:22] ranjitjhala commented on #312
@nikivazou -- Btw, just noticed we can use `where` (and hence, presumably) `let` inside measure functions.  Nice!

[2015-01-19 18:31] ranjitjhala commented on #312
Hmm. Actually, `if-then-else` in lifted measures does not work, we really want it to be "inlined" which is not happening.

[2015-01-19 18:47] ranjitjhala commented on #312
Ideally, we'd want to allow you to do something like the below, where:

1. You can write & lift ordinary Haskell functions e.g. `max1`
2. You can use `max1` inside data definitions,
3. You can use `max1` inside other measure definitions,
4. All of the above works via *inlining* -- much like the bare expansion thing.

We can imagine a variant of `measure` called `inline` if that makes it easier.

[

[2015-01-19 20:08] nikivazou commented on #312
Interesting, so `max1` should not be marked as `measure` but something like `macro` or `inline`.

What do you mean `if-then-else` does not work? In your `InlineMeasures.hs` examples `foo` works fine.

[2015-01-19 20:10] gridaphobe commented on #312
I think `max1` should be marked as a measure, but inlined as @ranjitjhala suggests. (I think that would do away with the need for expression aliases, btw)

[2015-01-19 20:21] nikivazou commented on #312
But, `measures` have clear semantics (ie they behave as axioms) that `max1` will not have.

[2015-01-19 20:37] gridaphobe commented on #312
@nikivazou I'm not sure I follow, are you concerned about the use of class methods in `max1`? If so, I would assume that we would just map `+` and `>` to their logical equivalents, after which `max1` can certainly be axiomatized. I guess that would make it a bit ad-hoc, but there are only a handful of symbols we'd need to look for :/

Also, you must already be doing this, e.g. for lifting `length`

[2015-01-19 22:40] ranjitjhala opened #313 "Cannot Debug this Error (!)"
See:

https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/baffled.hs

I am TOTALLY stumped by what is going on. The cases seem symmetric.
I don't know why the left case (mickey) is fine but the right case (mouse) is not.

Anyway, doing these kinds of things seems IMPOSSIBLY hard at the moment.

Help!

[2015-01-19 23:00] ranjitjhala commented on #312
Ok, sorry. Looks like the if-then-else *IS* working properly. thanks!

[2015-01-20 04:49] spinda commented on #292
Just as an update, I'm working on fixing this right now.

[2015-01-20 20:23] ranjitjhala opened #314 "Diff check crashes with mysterious error"
See this:

https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/diff-crash.hs

(Run it twice to see the crash.)

[2015-01-20 23:17] gridaphobe commented on #314
here's an even simpler version https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/diff-crash-simple.hs

[2015-01-20 23:18] gridaphobe commented on #314
Note that adding an explicit (Haskell) type-signature (for isEven or isOdd in my example, or for insL or insR in yours) prevents the crash.

[2015-01-20 23:32] gridaphobe commented on #314
This is quite interesting.

Without the explicit type-signatures, GHC generates the following Core

[code]

and LH subsequently dies when it can't find any location info for `ds_d10E`.

With an explicit type-signature, however, GHC generates

[code]

No intermediate tuple of functions, no crash.

[2015-01-21 14:09] ranjitjhala commented on #295
Is this easy to add? If so, lets just do it because its very confusing otherwise.

[2015-01-21 19:04] gridaphobe commented on #314
fixed in 964976b

[2015-01-21 19:04] #314 closed

[2015-01-21 19:09] gridaphobe commented on #313
@ranjitjhala can we consider this fixed now?

[2015-01-21 19:12] gridaphobe commented on #286
@nikivazou I think it's fine for `foo`'s signature to be well-formed in this case (albeit a bit odd) because the lifted measure ranges over mathematical sets, not a specific implementation that depends on ordering.

[2015-01-21 19:15] ranjitjhala commented on #313
Yes. I guess. :)

On Wed, Jan 21, 2015 at 11:09 AM, Eric Seidel <notifications@github.com>
wrote:

--
Ranjit.

[2015-01-21 19:23] #313 closed

[2015-01-21 19:33] #279 closed

[2015-01-21 21:11] simonpj commented on #314
I can elaborate on why GHC does this desugaring, if it’d help.

Simon

From: Eric Seidel [mailto:notifications@github.com]
Sent: 20 January 2015 23:32
To: ucsd-progsys/liquidhaskell
Subject: Re: [liquidhaskell] Diff check crashes with mysterious error (#314)

This is quite interesting.

Without the explicit type-signatures, GHC generates the following Core

ds_d10E =

  \ (@ a_a103)

    ($dNum_a1

[2015-01-21 21:51] gridaphobe commented on #314
No need to write anything in depth, as we were able to simply ignore the additional binder GHC created. But I'd happily accept a pointer to a relevant paper or wiki page, just to satisfy my curiosity :)

[2015-01-21 22:03] ranjitjhala commented on #314
@simonpj -- alternatively, we can try to Skype at some point.
We've been doing a bunch of things here to generally improve
the user experience. One of them is @nikivazou has made great
progress in letting us write "measures" as just plain haskell
functions, which has made me want to figure out how to tie
things in more closely with GHC e.g. to avoid having
to reinvent the module/namespace wheel.

[2015-01-22 18:11] ranjitjhala opened #316 "Wishlist: multiparameter measures"
@nikivazou since you asked for a concrete use case for multi parameter measures, heres one:

https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/satsolver.hs

*Someday*, it would be nice to support things like this, and its probably quite doable given the recent
progress.

[2015-01-22 18:43] ranjitjhala commented on #312
No @nikivazou  is not worried about classes etc. but the fact that measures are things that yield strengthened data constructors (of course, not *entirely* true e.g. the measures for  `ByteString`)
but still I get the idea.

There are two things going on: INLINING functions and MEASURES and best to keep the notions apart...

[2015-01-22 18:49] ranjitjhala opened #317 "Existential Types & Inlining"
How would you prove this WITHOUT ANY QUALIFIERS?

    foo x0 = let
               x1 = if x0 > 0 then x0 + 1 else x0
               x2 = if x1 > 0 then x1 + 1 else x1
               x3 = if x2 > 0 then x2 + 1 else x2
             in
               x3

    bar = liquidAssert (foo 3 == 6) ""

1. Need to add refinements of the form:

      \ex x:t. T

   to Fixpoint, but these will ONLY appear on LHS

[2015-01-22 23:04] simonpj commented on #314
Ranjit

Skype is better than email; higher bandwidth, more fun.  I'm buried in email.

Do come around ESOP.  Edward Yang is here the week after; Richard Eisenberg may come the week before.  But my time is relative uncommitted, so I can spend time with both of you ;-).

Let me know!

Simon
________________________________
From: Ranjit Jhala [notifications@github.com]
Sent: 21 January 2015 22:03
To:

[2015-01-24 00:39] nikivazou opened #319 "Another bad error message"
When run

[code]

LH crashes with

[code]

See [tests/todo/baderror.hs](https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/baderror.hs)

[2015-01-27 00:20] gibiansky commented on #275
Seconded. These sorts of details are really important for creating a usable final product! Especially since the error messages are often difficult to read. (Just ran into this parenthesis issue myself.)

[2015-01-27 00:24] ranjitjhala commented on #275
Many thanks for pointing out! - As it happens we have solved this problem (I think) by allowing measures to be written directly AS haskell code; need to update the docs to reflect this though...

[2015-01-27 12:52] ranjitjhala commented on #275
@david-christiansen Btw, to clarify, you should (with the latest LH) be able to write
the measure as a Haskell function:

[code]

[2015-01-28 19:17] ranjitjhala opened #320 "Allow `CoreToLogic` definitions inside type specifications"
See:

https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/coretologic.hs

We can use `empty` in measure definitions but NOT in vanilla predicates and types.

[2015-01-29 22:24] nikivazou commented on #319
Here is another bad error message:

[code]

crashes with

[code]

This error message can be understood only if you know how well formedness checks are implemented,
and should be simplified!

[2015-01-30 23:35] nikivazou commented on #320
fixed with #321

[2015-01-30 23:35] #320 closed

[2015-01-30 23:40] nikivazou commented on #316
@ranjitjhala indeed this is a nice example of multi parameter measures.
It seems feasible, but if we instantiate the (say) first parameters with all "good" candidates from the environment, ie, variables in the environment with appropriate types.

I will look at it again soon.

[2015-01-31 07:20] christetreault opened #322 "Documentation issues with emacs editor integration"
While trying to install and get running with liquid haskell, I had to work through some issues with flycheck and flycheck-liquid.el

Step two of the emacs integration section of README.md states:

Unfortunately, how exactly to do this is not stated. Turns out that this isn't super-obvious. To get this going, I added to my .emacs:

    (add-hook 'flycheck-mode-hook
          (lambda ()(require 'fly

[2015-02-02 15:54] abakst opened #324 "Confusing error message"
Code here: https://gist.github.com/abakst/b46f7ef6f481cc096af2
Message:

"safeZip called on non-eq-sized lists (nxs = 1, nys = 0) : addRefSortMono"

[2015-02-06 01:51] nikivazou commented on #312
@ranjitjhala should I close this? It is address in #325

[2015-02-06 01:51] #312 closed

[2015-02-07 01:26] nikivazou commented on #324
The error now is
[code]

Still crashing, but with a better error message

[2015-02-07 01:26] #324 closed

[2015-02-07 19:59] ranjitjhala opened #327 "Cannot use inline functions in data definitions?"
@nikivazou take a look at:

https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/fixme.hs

I can't seem to use `boo` inside the data definitions, perhaps those are still created with the old "uninlined" environment? Is this easy to fix?

(related to #325)

[2015-02-08 01:45] nikivazou commented on #327
You are right the inlining was not happening in the refined data definitions, fixed.

[2015-02-08 01:45] #327 closed

[2015-02-08 02:33] ranjitjhala commented on #327
awesome!!!

On Sat, Feb 7, 2015 at 5:45 PM, Niki Vazou <notifications@github.com> wrote:

--
Ranjit.

[2015-02-08 02:40] ranjitjhala commented on #327
Btw, as @spinda pointed out, there are a couple of "trace" things left, cf:

Trace: [coreToLogic] : EIte (PAtom Gt (EVar "x#a1IN") (EVar "y#a1IO"))
(EVar "x#a1IN") (EVar "y#a1IO")

Trace: [coreToLogic] : EBin Plus (ECon (I 1)) (EApp "max" defined at
"Fixpoint.Types.dummyLoc" (line 0, column 0) [EApp "realHeight" defined at
"Fixpoint.Types.dummyLoc" (line 0, column 0) [EVar "l#a1IJ"],EApp
"realHeig

[2015-02-08 12:12] peti opened #328 "liquidhaskell-0.2.1.0 does not compile"
Citing from http://hydra.cryp.to/build/537016/nixlog/1/raw:

    src/Language/Haskell/Liquid/GhcMisc.hs:183:19:
        Ambiguous occurrence ‘L’
        It could refer to either ‘Language.Haskell.Liquid.GhcMisc.L’,
                                 defined at src/Language/Haskell/Liquid/GhcMisc.hs:180:18
                              or ‘Language.Fixpoint.Types.L’,

[2015-02-08 12:57] gridaphobe commented on #328
Oh dear, turns out we fixed this a while ago in master but I forgot to try building the current release of liquidhaskell against the new release of liquid-fixpoint :flushed:

Fixed in the newly minted `liquidhaskell-0.3.0.0`, thanks for the report!

[2015-02-08 13:23] peti commented on #328
Very nice, now it works: http://hydra.cryp.to/build/537205.

[2015-02-08 13:23] #328 closed

[2015-02-08 23:32] nikivazou commented on #327
Ok I removed these traces too.

[2015-02-08 23:36] nikivazou commented on #317
It seems that this is what they do in CATALYST. In their [paper](http://gowthamk.github.io/docs/icfp77-kaki.pdf) they say:

"The type checking algorithm performs bi-directional type checking
[18], and needs annotations only for recursive function definitions.
For all other expressions, CATALYST synthesizes a suitable
dependent type. For example, types from different branches of ML
case expressions

[2015-02-09 14:09] ranjitjhala opened #329 "Auto Scrape Qualifiers from Dataconstructors"
See tests/todo/dataConQuals.hs

(In general, if we use data cons to encode invariants heavily, then it makes sense to use the refinements from those invariants in qualifiers.)

[2015-02-09 16:26] gridaphobe opened #330 "Track provenance of qualifiers"
Since fixpoint's performance is heavily affected by the number and complexity of the qualifiers, it would be nice if the .fq files stated where each qualifier came from. Explicitly-written qualifiers are already greppable, but the scraped quals are all called `auto<n>` which is not at all helpful.

I'd like the .fq to look something like

[code]

i.e. just dump the source location in a comment nex

[2015-02-09 16:37] nikivazou commented on #329
I believe that we should just treat Refined Data Definitions as type signatures,
if we did so, neither this issue, nor #327 would exist.

[2015-02-09 16:47] gridaphobe commented on #329
I thought we already did put the refined types for datacons in the list of type-sigs, but perhaps something is going wrong earlier..

[2015-02-09 17:13] ranjitjhala commented on #329
Yes I also thought we did that and hence was especially puzzled that these two things were not working...

[2015-02-10 13:38] ranjitjhala opened #331 "Cannot Inline Booleans?"
See:

tests/todo/implies.hs

I get a sort error that I can't quite follow. Perhaps some issue with the interaction between bool and prop?

[2015-02-10 14:44] ranjitjhala opened #332 "Problem with qualification, name Resolution & Core2Logic"
See:

https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/elems.hs
https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/eqelems.hs
Why is the `S.member` NOT getting translated by core-to-logic?

[2015-02-10 18:13] #329 closed

[2015-02-10 19:17] ranjitjhala commented on #329
nice! thanks.

On Tue, Feb 10, 2015 at 10:13 AM, Eric Seidel <notifications@github.com>
wrote:

--
Ranjit.

[2015-02-10 19:43] gridaphobe opened #333 "Auto-derived measures for function fields"
are causing failures now that we scrape qualifiers from the datacons, see e.g. https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/pos/State.hs because the measure claims to take two arguments instead of one.

I think the simplest answer is to not generate field accessor measures for function fields, what do you think @nikivazou ?

[2015-02-10 20:54] nikivazou commented on #333
not generating field accessor measures for function fields should be good (I also wanted to apply this restriction).
I am not sure it is sufficient though, but you can definitely try it.

[2015-02-10 21:21] nikivazou commented on #331
Yes, The exact issue is that when a variable `x` has (haskell) type `Bool` we should "translate" it to `Prop v`.

I pushed a tmp fix for this example, but I suspect this issue will re appear soon.

Can you remind me if there was a concrete reason to distinguish between Bool and Prop?

[2015-02-10 21:23] nikivazou commented on #332
Yes, it just translates the unqualified `member`.
I will fix it soon

[2015-02-10 21:29] ranjitjhala commented on #331
The reason is that fix point (and SMT) 'bool' type are
special, the ONLY way to create it is via refinements,
and nothing else.

(This is a "sacred" invariant, we cannot break it.)

On Tue, Feb 10, 2015 at 1:21 PM, Niki Vazou <notifications@github.com>
wrote:

--
Ranjit.

[2015-02-10 21:38] gridaphobe commented on #333
Fixed in 4bb4e2f43ac0d2a404642a46be7556e890346ada

[2015-02-10 21:38] #333 closed

[2015-02-10 21:41] gridaphobe opened #335 "We need unique names for abs-ref params"
@nikivazou see https://github.com/ucsd-progsys/liquidhaskell/blob/4bb4e2f43ac0d2a404642a46be7556e890346ada/tests/todo/AbsRefNameClash.hs#L32-L38

Currently, running LH produces a fixpoint error
[code]
which occurs because the `pri` field is given a binder `p` in the type of `Node`. This causes a name-clash with the abstract refinement `p`. Changing the absref to `q` fixes the error.

[2015-02-10 21:44] ranjitjhala commented on #335
This is a *particularly* painful source of errors...

On Tue, Feb 10, 2015 at 1:41 PM, Eric Seidel <notifications@github.com>
wrote:

--
Ranjit.

[2015-02-10 22:10] nikivazou commented on #331
Isn't fixpoint 'int' also special?
Why don't we have a `toInt :: Int -> int` (like Prop:: Bool -> bool) function?

[2015-02-10 23:29] ranjitjhala commented on #331
Because by default everything is an int :) -- we need the prop to say "these are not int and you can do Boolean stuff with them". We could/should also do as you suggest except we can get away with treating everything As int by default.

[2015-02-10 23:31] gridaphobe commented on #330
Fixed in https://github.com/ucsd-progsys/liquid-fixpoint/commit/92c259592eb3f269957510d72f5ae753176b5875

[2015-02-10 23:31] #330 closed

[2015-02-10 23:53] nikivazou commented on #329
@gridaphobe this commit breaks many tests

[2015-02-10 23:55] gridaphobe commented on #329
@nikivazou I'm aware, most of the were instances of #333 with one instance of #335. All have been fixed now though :)

[2015-02-11 00:07] nikivazou commented on #329
Hmm it seems that I pulled exactly after the failing commit... ok!

[2015-02-11 01:52] nikivazou commented on #182
fixed at e32be38

[2015-02-11 01:52] #182 closed

[2015-02-11 03:39] ranjitjhala commented on #182
AWESOME!!!

[2015-02-11 04:29] nikivazou opened #337 "Grap literals from Specifications"
Currently, we just collect literals (like Nil and Cons) from the Haskell code.
We should collect them from type specifications too
See:[tests/todo/absref-crash0.hs](https://github.com/ucsd-progsys/liquidhaskell/blob/961330da228e2b091d66fe463b5bf8ac0282b117/tests/todo/absref-crash0.hs)

[2015-02-11 15:02] ranjitjhala opened #338 "Parse Propositional Variables in Refinements"
See:

https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/boolparse.hs

[2015-02-11 17:37] christetreault opened #339 "PANIC: Unexpected Error: plugHoles: unhandled case! In ex 3.2 of liquidhaskell-tutorial"
While doing exercise 3.2 of the Programming With Refinement Types tutorial, I ended up typing:

    {-@ unsafeLookup :: Int -> v:VectorN 0 vlen -> a @-}

Before I could type the argument to vlen, I got this flycheck error:

[code]

Same error occurs with:

    {-@ unsafeLookup :: Int -> v:VectorN 0 (vlen) -> a @-}

...and...

    {-@ unsafeLookup :: Int -> v:VectorN 0 (vlen v) -> a @-}

checking t

[2015-02-11 17:54] gridaphobe commented on #339
Yikes! None of these are valid as you've passed in `0` where a type variable was expected, but we certainly need to fix the error message... Thanks for the report!

[2015-02-11 18:18] christetreault commented on #339
Yeah, this one is giving me some problems. But I did notice that after submitting the bug. The choice: look like an idiot and submit the bug? Or not say anything...

[2015-02-11 18:48] ranjitjhala commented on #339
Please always submit the bug! They are very helpful indeed. Thanks! Ranjit

[2015-02-11 19:06] #339 closed

[2015-02-11 19:07] gridaphobe commented on #339
Yep, there's no such thing as a dumb bug report :smile:

[2015-02-12 15:14] ranjitjhala commented on #322
@christetreault thanks for pointing out. I have pulled out the files into a separate repo with its own instructions.

https://github.com/ucsd-progsys/liquid-types.el

Can you see if that makes sense?

[2015-02-12 16:20] gridaphobe commented on #322
@ranjitjhala why not leave the emacs stuff in `syntax` and just add (and link to) a separate README inside `syntax`? As it stands, we now have two copies of the emacs files, which is a recipe for divergence :( Furthermore, keeping the syntax files in this repo allows us to distribute them *with* LH, which we currently do.

[2015-02-12 16:30] ranjitjhala commented on #322
1 to make it easier for eventual Melpa packaging
2 I will delete the files from the LH repo
3 I found the whole cabal path copying thing to be rather tedious, the instructions now are much simpler -- "add a path" and "git clone"

[2015-02-12 16:40] gridaphobe commented on #322
Distributing the files with LH allows us to ensure they will be compatible (of course this matters much less for us than for, e.g. the major mode for a language). But my main concern is really the possible divergence :)

[2015-02-12 18:11] ranjitjhala commented on #322
I just deleted all the .el and .vim files from the repo (and put them
elsewhere) so divergence will not be a problem :-)

[2015-02-13 19:28] spinda commented on #274
I believe you can already do this.

[2015-02-13 19:41] ranjitjhala commented on #274
Good point! I guess we just haven't exercised this for a while but it is how the "prelude" is implemented...

[2015-02-13 21:31] spinda commented on #146
I have a solution to this as part of my modular verification work.

[2015-02-13 23:26] ranjitjhala opened #340 "Using Type Families for Specifications"
Thanks to @nikivazou efforts with `{-@ measure @-}` and `{-@ inline @-}`
90%of specs are now pure haskell. The last thing was `{-@ type ... @-}`.

Recall the discussion we were having earlier -- about using aliases with
Haskell type params for refinements -- we were stumped on the issue of
binders and wanted to ask @simonpj (before my back gave out...) if we
could hope for some eventual support fr

[2015-02-13 23:51] gridaphobe commented on #340
There are a couple of (syntactic) problems with this unfortunately.

1. `|` is a reserved character, so we cannot make it a type family
2. `:` already exists at the type level (as "cons")

There is of course a simple solution, use different symbols, but some people (@nikivazou?) won't be happy about this.

I'm also not a big fan of using string literals as we'd have to perform scope-checking ourse

[2015-02-13 23:59] ranjitjhala commented on #340
1. Sure, we'd have to use something other than `|`, `:`.

2. We have to do scope checking ourselves anyway, i.e.
   this is no worse than what we currently have (except
   for the extra quotations.

On Fri, Feb 13, 2015 at 3:51 PM, Eric Seidel <notifications@github.com>
wrote:

--
Ranjit.

[2015-02-14 00:01] gridaphobe commented on #340
That's why I called it a minor issue :smile:

It would just be nicer if GHC were to handle the scope-checking with our hypothetical language extension (which I'm sure Richard will need eventually for his Dependent Haskell work).

[2015-02-14 00:07] nikivazou commented on #340
The Dependent Haskell idea is to have subset (or Refinement) Types, so we should discuss the syntax that the Dependent Haskell people have in mind.

It would be nice if we both supported the same syntax and the user could switch between liquidHaskell and dependent types.

[2015-02-14 00:15] gridaphobe commented on #340
@nikivazou yes that's exactly what I've been envisioning!

[2015-02-14 00:33] spinda commented on #340
Anyone know what syntax they're planning on using? There's a Trac page [here](https://ghc.haskell.org/trac/ghc/wiki/DependentHaskell) and a repository [here](https://github.com/goldfirere/ghc/tree/nokinds), but I haven't been work that out from either.

I agree that it would be better to use a native mechanism for binders/etc., but it looks like it's going to be a long time before DependentHaskell

[2015-02-14 00:51] ranjitjhala commented on #340
I agree with @spinda -- this seems:

1 easy to do right now
2 major benefits re resolution
3 and at any rate doing this does not in any way preclude using native haskell binders as and when they get added down the line.

The only issue I have is whether we can make it look nice and not add too much noise, and I suspect we can...

[2015-02-14 01:01] gridaphobe commented on #340
The time-to-release point is compelling, if we extended GHC we probably couldn't get the work in before 7.12 (which would be about a year from now). So I'd suggest we pursue both angles :)

[2015-02-14 01:04] spinda commented on #340
@gridaphobe Agreed! The two ideas complement each other, I think. This one gets us half-way to the other.

[2015-02-14 20:34] david-christiansen commented on #275
My LH toolchain is a bit broken at the moment, but I'll give it a shot when I get things working again!

[2015-02-16 06:58] nikivazou opened #344 "Fixpoint crash reported as Liquid Type Mismatch"
See [tests/todo/BadError0.hs](https://github.com/ucsd-progsys/liquidhaskell/blob/89caa266d2a6c638105c6d93a40895c9aff70b28/tests/todo/BadError0.hs)

That gives
[code]

[2015-02-16 14:51] ranjitjhala commented on #344
Is this a minimized form if the thing we discussed on sat? Or something else? Actually must be something else because there was no crash on sat. But do you know why FP is crashing?

[2015-02-16 19:09] nikivazou commented on #344
It is the same as on Sat and we can catch it at liquidHaskell.
FP is crashing because the environment is not well formed, because `p` has type `p :: a -> Prop`
but in the environment it is used as `p :: b -> Prop`.

[2015-02-17 18:23] nikivazou commented on #319
Also,
[tests/todo/AbsRef.hs](https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/AbsRef.hs)

crashes with

[code]

[2015-02-17 20:27] ranjitjhala commented on #319
oops, sorry. that sounds like me...

On Tue, Feb 17, 2015 at 10:23 AM, Niki Vazou <notifications@github.com>
wrote:

--
Ranjit.

[2015-02-18 23:11] nikivazou opened #345 "LH crashes when types are assumed"
In [tests/todo/Crash.hs](https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/Crash.hs)
liquidHaskell crashes with

[code]

[2015-02-18 23:20] ranjitjhala commented on #345
huh. puzzling.

On Wed, Feb 18, 2015 at 3:11 PM, Niki Vazou <notifications@github.com>
wrote:

--
Ranjit.

[2015-02-19 00:08] spinda commented on #345
* foo is recursive

Enter Constraint/Generate.hs

* [consCBTop calls consCB](https://github.com/ucsd-progsys/liquidhaskell/blob/e7560445fa44de595cee1ca2fc74cc5c87330607/src/Language/Haskell/Liquid/Constraint/Generate.hs#L991)
* CoreBind is recursive and must be checked for termination; [consCBSizedTys is called from consCB](https://github.com/ucsd-progsys/liquidhaskell/blob/e7560445fa44de595cee1ca

[2015-02-19 00:09] gridaphobe commented on #345
@nikivazou hmm, so the problem is that `consCBSizedTys` expects to only receive asserted types, which sort of makes sense given that it's going to figure out the decreasing parameters. Should we allow assumed specs in recursive groups? It feels a bit odd, but perhaps there's nothing really wrong with it.

[2015-02-19 00:11] nikivazou commented on #345
I think we should allows assumed specs in recursive groups, but if we do not we need a better error message:)

[2015-02-19 00:13] gridaphobe commented on #345
The problem then is that LH flags `foo` as unsafe because it doesn't have a decreasing parameter, which is a bit silly :)

[2015-02-19 00:15] nikivazou commented on #345
But when I assume a signature I should not check termination right?

[2015-02-19 00:16] nikivazou commented on #345
@spinda _if_ you want you can try to fix it, since you traced the error.

[2015-02-19 00:19] gridaphobe commented on #345
I already have a partial fix

[2015-02-19 00:20] spinda commented on #345
I'm short on time right now anyway.

[2015-02-19 00:22] #345 closed

[2015-02-19 00:24] nikivazou commented on #345
Nice, thanks!

[2015-02-19 02:58] spinda commented on #337
Actually, it looks like we don't grab any literals at all.

In Constraint/Generate.hs, we [call literalConst to populate lconsts](https://github.com/ucsd-progsys/liquidhaskell/blob/master/src/Language/Haskell/Liquid/Constraint/Generate.hs#L648).

In Literals.hs, we use `mkLit` to convert our Literal to a Fixpoint Expr.

In CoreToLogic.hs, [mkLit](https://github.com/ucsd-progsys/liquidhaskell/blob/

[2015-02-19 03:03] gridaphobe commented on #337
@spinda niki is talking specifically about data constructors, which are scraped from the CoreBinds by [makeSymbols](https://github.com/ucsd-progsys/liquidhaskell/blob/master/src/Language/Haskell/Liquid/Bare/Misc.hs#L40). But this means we only get them **if** they appear in actual code, as opposed to our specifications :(

[2015-02-19 03:04] gridaphobe commented on #337
So what we should really do is just remove `makeSymbols` and pull the datacons directly from the data-definitions instead.

[2015-02-19 03:13] spinda commented on #337
We do something similar [in Bare](https://github.com/ucsd-progsys/liquidhaskell/blob/master/src/Language/Haskell/Liquid/Bare/GhcSpec.hs#L85) and in [Constraints/Generate.hs](https://github.com/ucsd-progsys/liquidhaskell/blob/master/src/Language/Haskell/Liquid/Constraint/Generate.hs#L125) already.

[2015-02-19 03:38] gridaphobe commented on #337
Right, so we're just missing some plumbing somewhere :smile:

[2015-02-19 05:19] spinda commented on #337
Looking at this closer, I'm pretty sure this doesn't have to do with `makeSymbols`. The test case produces

[code]

yet `Foo.N#rpw` and `Foo.C#rpv` both appear in `freeSyms`, which is where the output of `makeSymbols` goes.

[code]

[2015-02-19 05:32] spinda commented on #337
When `N` and `C` are used in a function, they get added to [`dcons` in `coreBindLits`](https://github.com/ucsd-progsys/liquidhaskell/blob/master/src/Language/Haskell/Liquid/Constraint/Generate.hs#L649), which ends up adding them to [CGInfo's lits](https://github.com/ucsd-progsys/liquidhaskell/blob/master/src/Language/Haskell/Liquid/Constraint/Generate.hs#L626).

[code]

...but when they're not use

[2015-02-19 05:53] spinda commented on #337
It looks like the actual issue can be fixed by changing [line 649 in Constraint/Generate.hs](https://github.com/ucsd-progsys/liquidhaskell/blob/master/src/Language/Haskell/Liquid/Constraint/Generate.hs#L649) to

[code]

so that it pulls datacon `Var`s from `freeSyms` instead of `impVars`. I'm not sure of the intent of the original code, though, so someone else should check over this. Here's the [c

[2015-02-19 06:16] gridaphobe commented on #337
Ah, I guess `freeSyms` must be collecting free symbols from the *specs* instead of the *code*. I think neither is correct though. IIRC there are two types of definitions that don't get a `CoreBind`: data constructors and class methods. We should just take all of these "implicit" binders and put them in the fixpoint environment (I think as `constant`s).

[2015-02-19 19:45] nikivazou opened #346 "Suggestion: Well-formedness check on type aliases"
In the code [tests/todo/Aliases.hs](https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/Aliases.hs)

[code]

I get a `Bad Type Specification` at line 5, but I should get a bad type alias at line 2

[2015-02-19 20:05] ranjitjhala commented on #346
Yes, we should totally do this.

On Thu, Feb 19, 2015 at 11:45 AM, Niki Vazou <notifications@github.com>
wrote:

--
Ranjit.

[2015-02-20 08:22] nikivazou opened #347 "Type for catMaybes"
Can we give such a type to `catMaybes` as to typecheck this ([tests/todo/CatMaybes.hs](https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/CatMaybes.hs))

[code]

[2015-02-20 13:32] ranjitjhala commented on #347
@nikivazou not sure what the issue is here. Is it that we *cannot* type
`catMaybe` right now? or we can but you want to use some new spec in
Data.List? or something else?

On Fri, Feb 20, 2015 at 12:22 AM, Niki Vazou <notifications@github.com>
wrote:

--
Ranjit.

[2015-02-20 19:01] nikivazou commented on #347
Something else. I just want the above code to be safe, which requires a
sophisticated type for `catMaybes` that is not obvious to me

On Fri, Feb 20, 2015 at 5:32 AM, Ranjit Jhala <notifications@github.com>
wrote:

--
Niki Vazou

[2015-02-20 19:53] ranjitjhala commented on #347
I think this is one of those cases where you need an "explicit assertion"

    prop_mem_subset :: xs:[a]
                    -> ys:[{v:a | mem v (elems xs)}]
                    -> {v:Bool | subset (elems y) (elems xs)}

    prop_mem_subset xs []     = True
    prop_mem_subset xs (y:ys) = prop_mem_subset xs ys

and then you have to do

    assert p z = z

and then insert a suitable call to `assert

[2015-02-25 17:42] christetreault opened #349 "CRASH: Specified Type Does Not Refine Haskell Type"
While working through Exercise 5.4 of the tutorial, I tried the following:
[code]

When running liquid on this file, I get the following

[code]

If I change the specification for `weights` and `elems` from `NEList a` to `NEList Int`, liquid doesn't crash.

liquid-fixpoint version: 0.2.2.0, liquid-haskell version: 0.3.0.0, GHC version: 7.4.1

[2015-02-25 17:49] christetreault opened #350 "liquid and fixpoint don't parse command line args correctly"
While submitting my last bug, I thought I'd try to get liquid and fixpoint to tell me their version numbers:

[code]

I'd imagine that it *should* parse `-version` as one argument, and give a usage statement if it's not valid.

`fixpoint.native` seems to do the right thing:

[code]

[2015-02-25 18:07] gridaphobe commented on #349
This is expected behavior. We require the liquid types to be strict refinements of the haskell types, i.e. we don't try to unify the two. GHC doesn't generalize inferred types inside `where` clauses, so it infers that `weights` and `elems` have type `[Int]`.

"CRASH" is perhaps a bit extreme here, we're really just reporting an error in the provided specification. Do you have any thoughts on how t

[2015-02-25 18:11] gridaphobe commented on #350
The option-parsing library we use in Haskell treats `-` as a set of short options, which is why it complains about not recognizing `-e`, but we should definitely make it print out the full usage statement when option-parsing fails. Thanks!

[2015-02-25 18:39] christetreault commented on #349
For me, the main issue with this is that it is actually preventing LH from parsing the rest of the file. I feel that this in and of itself qualifies this as a legitimate issue.

As for your question, I think the error message is reasonable; certainly a lot better than many I've seen. It should just not crash the parser.

[2015-02-25 18:46] spinda commented on #349
It's not crashing the parser. This is part of a set of sanity checks that
happen after all parsing and pre-processing and before constraints are
generated for the solver. See checkMismatch in Bare/Check.hs.

Errors generated from these checks are grouped together and thrown, and
LiquidHaskell's way of describing such fatal errors is "CRASH".
On Feb 25, 2015 10:40 AM, "Chris Tetreault" <notificatio

[2015-02-25 18:57] christetreault commented on #349
So any sort of parse error has this behavior? I just tried

[code]

...and it seems to check out. I suppose this makes sense.

As for what I think it should say: I'd think the word "CRASH" should be reserved for huge problems like liquid-haskell not being installed correctly, file IO errors, segfaults, or things like this.

Maybe it should say "PARSE FAILURE" in red, similar to how "UNSAFE" works.

[2015-02-25 19:03] gridaphobe commented on #349
That makes sense, we should more clearly delineate user errors from actual crashes.

[2015-02-25 19:08] spinda commented on #349
@christetreault That's not quite it.

    {-@ wtAverage :: NEList (Pos, Pos)} -> Int @-}

is a parse error, but your original example is not. They just appear the same to the user at the moment. Except that, like GHC, you'll only ever get one parse error at a time, but you can get multiple of these sanity checking errors at once.

[2015-02-25 19:32] spinda commented on #350
It looks like this can be done with something like (untested)

[code]

[2015-03-04 02:51] gridaphobe commented on #160
`or []` has been simplified to `False`, and `and []` to `True`, for a while now

[2015-03-04 02:51] #160 closed

[2015-03-04 22:30] spinda commented on #340
There's an example of how this might look at [`tests/todo/TypeSynonyms.hs`](https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/TypeSynonyms.hs)

[2015-03-04 22:41] #305 closed

[2015-03-04 22:43] #349 closed

[2015-03-04 23:03] #350 closed

[2015-03-04 23:58] ranjitjhala commented on #349
Awesome! Thanks for pointing out chris and thanks for fixing Eric!!!

[2015-03-07 23:29] ranjitjhala opened #354 "Name resolution problem with non-top level functions"
This is a major problem that is blocking the 230 Final :(

see `tests/todo/MM.hs` (which imports `tests/todo/LL.hs`) and fails with:

[code]

(the problem goes away if I just make `go` a top-level function.)

I'm guessing this has to do with @spinda's recent changes?

[2015-03-08 03:05] nikivazou commented on #354
Until @spinda takes a look, as a temporal fix for the final, you can make `go` global.

[2015-03-08 03:42] spinda commented on #354
Yipes, looking at this now. I don't think I've pushed anything related to this to `master`, though.

[2015-03-08 03:47] spinda commented on #354
Looks like it's a failure in `lookupGhcVar`, possibly in `varSymbols` in `Bare/Spec.hs`.

[2015-03-08 03:50] spinda commented on #354
Odd, I can't reproduce this on the latest `master`.

[2015-03-08 03:54] spinda commented on #354
Ah, it's `lookupIds` failing in `makeSpec`, which is called (as opposed to `makeLocalSpec`) for imported modules. `makeSpec` never had the local spec / `where` clause changes applied to it.

[2015-03-08 03:58] spinda commented on #354
This is fixable if `makeLocalSpec` is used in both contexts, but for that it's necessary (with the current code) to extract `Var`s from imported modules' `CoreBind`s in addition to the primary module. @nikivazou, does that sound okay?

[2015-03-08 05:06] spinda commented on #354
I have a branch with a somewhat-ugly fix [here](https://github.com/spinda/liquidhaskell/tree/where-vars) (in that it uses a 4-tuple; I will clean it up).

Tests currently running [here](https://travis-ci.org/spinda/liquidhaskell/builds/53515976).

[2015-03-08 05:14] ranjitjhala commented on #354
Nice!!! Thanks @spinda

[2015-03-08 07:44] spinda commented on #354
My first attempt failed a few tests. The latest version on that branch is now passing. I'll clean it up and submit a pull request tomorrow.

[2015-03-08 18:27] gridaphobe commented on #354
I'm a bit amazed that none of the existing tests or benchmarks triggered this issue.

[2015-03-08 21:44] spinda commented on #354
I think we're lacking in tests that deal with imports.
On Mar 8, 2015 11:27 AM, "Eric Seidel" <notifications@github.com> wrote:

[2015-03-08 22:53] ranjitjhala commented on #354
Yes, basically all the tests are single module.

On Sun, Mar 8, 2015 at 2:44 PM, Michael Smith <notifications@github.com>
wrote:

--
Ranjit.

[2015-03-08 22:55] gridaphobe commented on #354
I remember adding a few to test the cross-module resolution logic, but that was probably before the local-specs were added..

[2015-03-09 03:17] nikivazou commented on #354
I too remember having this issue before, maybe we added test in the todo.

@spinda I am a bit confused with what exactly is going on.
Can you come by my office tomorrow afternoon?

[2015-03-09 03:27] spinda commented on #354
Sure! Is 11:10am okay?
On Mar 8, 2015 8:17 PM, "Niki Vazou" <notifications@github.com> wrote:

[2015-03-09 03:56] nikivazou commented on #354
Yes. See you tomorrow!
On Mar 8, 2015 8:27 PM, "Michael Smith" <notifications@github.com> wrote:

[2015-03-10 16:19] #354 closed

[2015-03-11 16:22] gridaphobe opened #359 "Confusing behavior with replacePreds"
@nikivazou here's a fairly minimal example of the issue I'm having with predicate instantiation (https://gist.github.com/gridaphobe/b2750b53f26768e3f519).

[code]

Note that after `replacePreds` the predicate takes **two** arguments. If I understand correctly, `"lq_tmp_db2"` should not be an argument after the substitution.

[2015-03-27 18:03] ranjitjhala commented on #292
Folks, what is going on with this?

We need to fix it ASAP, because its a rather horrible and urgent bug.

I have added another version, this time in `tests/neg` to remind ourselves
that the build is broken until this is fixed.

[2015-03-27 18:05] spinda commented on #292
Ack, ack, ack. Right, this is the plugHoles issue.

On Fri, Mar 27, 2015, 11:03 Ranjit Jhala <notifications@github.com> wrote:

[2015-03-27 19:54] ranjitjhala commented on #292
Is it the case that plug holes is going to take a while to fix?

[2015-03-27 20:00] spinda commented on #292
No, I believe it can be fixed on its own. I'll work on it asap if no one
else has gotten to it before then.

On Fri, Mar 27, 2015, 12:54 Ranjit Jhala <notifications@github.com> wrote:

[2015-03-27 22:38] spinda commented on #292
Working on this right now. (Well, first I'm waiting for my system to update so that I can compile the latest `fixpoint`...)

[2015-03-27 23:37] spinda commented on #292
For `badspec.hs`, `plugHoles` turns

[code]

into

[code]

and then LiquidHaskell seems to ignore refts on `(->)`, as that passes on its own.

A separate issue pops up if I leave off `foo :: Num a => t -> t -> a`. `liquidhaskell` complains that the LiquidHaskell type `foo :: Num a => t -> t -> a` does not match the inferred Haskell type `foo :: Num a => t -> t -> a`&mdash;so the type is not equal

[2015-03-27 23:45] spinda commented on #292
`badspec{1,2}.hs` come from a different problem: GHC's `expandTypeSynonyms` doesn't raise an error if a type synonym has invalid arguments (as it's just `Type -> Type`, no monad). This why the issue only occurs for Haskell type synonyms and not LiquidHaskell type synonyms:

[code]

which is "SAFE", vs.

[code]

which produces a LiquidHaskell error.

There must be a function somewhere in the GHC AP

[2015-03-27 23:49] spinda commented on #292
The relevant GHC code for that is here: https://github.com/ghc/ghc/blob/ghc-7.8/compiler/types/TyCon.lhs#L1427

GHC silently discards (doesn't expand) type synonyms with too many arguments. Odd behavior, but I'm sure there's a reason for it within GHC.

[2015-03-27 23:53] ranjitjhala commented on #292
Sorry I don't quite understand. Does it complain now or not?

On Fri, Mar 27, 2015 at 4:37 PM, Michael Smith <notifications@github.com>
wrote:

--
Ranjit.

[2015-03-27 23:56] ranjitjhala opened #366 "Mysterious error in tests/todo/12-AV"
See:

tests/todo/12-case-study-AVL.lhs

I can't figure out what the problem is. What does

[code]

mean? Which binder or thing is supposed to be `[GHC.Types.Char]` or function?

Worse, when I copy the signature from `insL` for `insR` that ALSO complains but its fine if the binder is called `insL` -- the problem has to do with `key t` but I don't know what it is. Please take a look ASAP.

Clearly a

[2015-03-28 00:00] spinda commented on #292
Breaking it down:

 1. `badspec.hs`: LiquidHaskell ignores all predicates on `(->)`, so `this == rubbish` isn't checked or used at all as the hole gets filled with `(t -> a)`. It doesn't complain on the test case (when it should), but it does complain on
[code]
    in which case `v:_` becomes `v:a`.
 1. `badspec{1,2}.hs`: We use `expandTypeSynonyms` to handle Haskell type synonym expansion, but th

[2015-03-28 00:02] spinda commented on #292
I'm currently trying to find a GHC function to do these sanity checks on `Type`s. If anyone knows one, please let me know! If I can't find one, I'll fall back to implementing one myself...

[2015-03-28 00:12] ranjitjhala commented on #292
Can we just compare the number of params with that expected by the synonym in ghc?

[2015-03-28 00:14] spinda commented on #292
Yes, but I'd like to use existing GHC mechanisms where we can... I think `tcLHsType` will do the job, but otherwise I'll just do that.

[2015-03-28 00:17] spinda commented on #292
Ah, `tcLHsType` can only be called from within `TcM`... Alright, I'll just add the check in myself and let this get sorted out by the GSoC work.

[2015-03-28 00:26] gridaphobe commented on #292
(1) should be easy to fix, just throw an error if a function is refined with anything other than TRUE.

for (2), the issue may be that Haskell type synonyms can be eta reduced just like functions, e.g. a common pattern is

[code]

where the "result" type `a` is left out. Thus when GHC sees `MyMonad Int` it doesn't know immediately whether the type is well-formed (`State` could be another alias). T

[2015-03-28 00:30] spinda commented on #292
Ah, I see. That makes sense for (2), thanks. For (1), we don't support refinements on functions at all then, right?

[2015-03-28 00:36] gridaphobe commented on #366
Seems somehow related to the choice of `key` as the field name, changing it to `foo` fixes the issue, sigh..

[2015-03-28 00:36] ranjitjhala commented on #292
I don't buy the argument re 2 -- in this case the parameter we are passing in is a binder n and not a type variable, so we cannot blame GHc

[2015-03-28 00:37] ranjitjhala commented on #292
Yes, I agree with Michael's plan

[2015-03-28 00:38] gridaphobe commented on #292
@ranjitjhala oh I agree completely that it's our fault, I was just giving a possible explanation for why `expandTypeSynonyms` doesn't throw any errors.

[2015-03-28 00:51] spinda commented on #292
@ranjitjhala, by "2" do you mean `badspec2.hs`? I meant to refer to both `badspec{1,2}.hs` there.

For `badspec2.hs`, `Point` is applied to too many type synonyms, and since `expandTypeSynonyms` doesn't check for that we need to add our own check.

If we remove this issue, then we do actually error out due to the overlapping binder and type variable names, but in a weird way:

[code]

Do we do any

[2015-03-28 00:52] gridaphobe commented on #366
Specifically, the issue only appears when we use the *same* name as the haskell datatype for the field accessor.

Here's a minimal example
[code]
If you change `key` in the haskell or liquid definition, **or** if you remove the `Leaf` constructor, LH says SAFE.

[2015-03-28 00:56] gridaphobe commented on #292
Hrm, I'm not sure what you did to "remove" the issue, but that error is completely wrong. There shouldn't be a `forall` in the liquid type.

[2015-03-28 01:06] ranjitjhala commented on #292
The "n" has nothing to do with expand type synonym thing here, because the n is a binder NOT a haskell tyvar it should not even go to ghc...

[2015-03-28 01:06] spinda commented on #292
"remove" the too-many-arguments issue by adding a parameter to `Point`, isolating the "binder as type variable" problem.

That error message is actually because I left in the explicit signature for `foo`... If I remove it, we get:

[code]
[code]

I'm not sure what the correct way to handle this is. The current behavior (if I understand correctly) is for type variables to exist in their own namespa

[2015-03-28 01:07] spinda commented on #292
@ranjitjhala, it does in the original test case:

[code]

which combined two separate issues: allowing "Point" to be applied to too many type arguments, and using a binder as a type variable.

[2015-03-28 01:08] ranjitjhala commented on #366
Oh grief looks like more binder issues. Perhaps @nikivazou knows what's happening.

At any rate the error message is not very helpful because it should say what part of the refinement is bad, not just that SOMETHING is inconsistent...

[2015-03-28 01:10] ranjitjhala commented on #292
I have no idea what's going on :)

Bottom line : "n" is not something we can ask ghc to expand because it's a binder and that is a bug that we should catch.

[2015-03-28 01:14] ranjitjhala commented on #292
Absolutely this should be completely disallowed it makes no sense!

[2015-03-28 01:15] ranjitjhala commented on #292
This overlapping is exactly the cause of the bug yeah, we should check for it and project such programs.

[2015-03-28 01:17] spinda commented on #292
Right, okay, sorry. :) Let me make I have everything straight now:

So currently we (accidentally) treat binders and type variables like GHC treats type constructors and data constructors: they exist in different namespaces and their names can overlap. There's no ambiguous case (I think) where something can either be a binder or a type variable.

The signature

[code]

is equivalent to

[code]

is

[2015-03-28 01:18] spinda commented on #366
Is `[GHC.Types.Char]` coming from the string support that was added in recently?

[2015-03-28 01:22] gridaphobe commented on #292
It might be easiest to separate binders and tyvars immediately after parsing. Then
[code]
would treat both occurences of `n` as binders, and throw an error when we apply the Haskell alias `Point` to the binder `n`.

[2015-03-28 01:33] gridaphobe commented on #366
Good catch @spinda I had forgotten all about that PR. That's precisely the issue, if I revert that PR the issue goes away.

[2015-03-28 01:48] spinda commented on #292
Working on `badspec.hs`, is there a reason why `RFun` has an `rt_reft` field at all? Is it used anywhere, or can it be taken out?

[2015-03-28 02:11] ranjitjhala commented on #292
It's there for some very technical but important reasons -- can you keep it in? We always want to make sure it's just true ie "top"

[2015-03-28 02:13] spinda commented on #292
Sure, I can keep it in. Somewhere between `makePluggedSigs` and `checkRType`, `rt_reft` for all `RFun` is being set to TRUE. Going to track that down next.

[2015-03-28 02:38] ranjitjhala commented on #366
btw, "key" is not special, search-and-replace "key" --> "root" triggers the same problem for me.

[2015-03-28 02:39] ranjitjhala commented on #366
Which PR is that, and can we please just undo it?

(Is this the one @nikivazou put in pre-ICFP to get the string literal thing working? That was going to be tossed out anyway for a more *principled* treatment of literals, now supported by FIXPOINT.)

[2015-03-28 02:40] spinda commented on #366
Yes, that's the pre-ICFP string literals one.

[2015-03-28 02:41] spinda commented on #366
#348

[2015-03-28 02:45] ranjitjhala commented on #366
ha ha!

https://github.com/ucsd-progsys/liquidhaskell/pull/348/files#diff-25171d56fedc2b786e9a5aefc8bc6c89L9

ahem @nikivazou ... :)

[2015-03-28 03:18] ranjitjhala commented on #366
@nikivazou can you remove the thing in #348 and instead encode string-literals using this:

https://github.com/ucsd-progsys/liquid-fixpoint/blob/master/src/Language/Fixpoint/Types.hs#L422

So the string `"cat"` becomes `L (T.pack "cat") t` where `t` is the `Sort` representing Haskell `String`

[2015-03-28 07:28] spinda commented on #292
The refinements for `RFun` were being lost between translations to and from `RTypeRep`. I've fixed this by storing them in `RTypeRep` in the same way that we store binders.

[2015-03-28 23:04] nikivazou commented on #292
No need to store them. The refinements on functions are always true.
On Mar 28, 2015 12:28 AM, "Michael Smith" <notifications@github.com> wrote:

[2015-03-28 23:05] spinda commented on #292
We need to store them in order to report errors if any of them are not true.

On Sat, Mar 28, 2015, 16:04 Niki Vazou <notifications@github.com> wrote:

[2015-03-28 23:09] nikivazou commented on #366
Yes my fault. I will change it.
On Mar 27, 2015 8:19 PM, "Ranjit Jhala" <notifications@github.com> wrote:

[2015-03-28 23:10] ranjitjhala commented on #292
But remember that soundness issue involving instantiating tyvarS (with refinements) with functions (without refinements)...

[2015-03-28 23:13] nikivazou commented on #292
Yes this is why we added refinements to functions. But they are always
true, right?
On Mar 28, 2015 4:10 PM, "Ranjit Jhala" <notifications@github.com> wrote:

[2015-03-28 23:15] spinda commented on #292
Right now a user can specify a refinement on a function type, and it will
be silently discarded and replaced with true by the end of the Bare
processing. This is why badspec.hs is marked as "SAFE", which I'm fixing
with this.

On Sat, Mar 28, 2015, 16:13 Niki Vazou <notifications@github.com> wrote:

[2015-03-28 23:16] ranjitjhala commented on #292
Yup!

[2015-03-28 23:21] spinda commented on #292
They *should* always be true, but they can end up not being true, and we
need to handle that instead of ignoring bad refinements.

On Sat, Mar 28, 2015, 16:16 Ranjit Jhala <notifications@github.com> wrote:

[2015-03-28 23:26] nikivazou commented on #292
I see.
But then, the parser should reject refining function type.
On Mar 28, 2015 4:21 PM, "Michael Smith" <notifications@github.com> wrote:

[2015-03-28 23:28] spinda commented on #292
The function type have a refinement attached to it after parsing, through
type synonym expansion or through plugHoles (as in badspec.hs). Also,
reporting it as a parser means the user sees fewer possible errors per
LiquidHaskell run, vs. reporting it in checkGhcSpec.

On Sat, Mar 28, 2015, 16:26 Niki Vazou <notifications@github.com> wrote:

[2015-03-28 23:38] nikivazou commented on #292
As Ranjit says for soundness function types should have refinements.

What I am saying is that since the user cannot specify non trivial function
refinements the syntax should not allow refinements on functions.
I believe this is simpler than specifying that the syntax allows these
refinements, but they should be true.

If the syntax does not allow refinements on functions and the user writes
them

[2015-03-28 23:45] spinda commented on #292
That doesn't help with the original issue, though (badspec.hs). An invalid
refinement is assigned to a function type via plugHoles, and by discarding
the refinement instead of passing it through (to either check or Fixpoint),
we mark a malformed spec as "SAFE".

GHC actually allows some things through the parsing stage so that it can
report more errors at once, and to avoid overcomplicating the pa

[2015-03-28 23:45] gridaphobe commented on #292
@nikivazou the parser already forbids writing types like `{v:(a -> b) | p}`, the problem is that you can instead write `{v:_ | p}` and have the hole instantiated to a function type, which the parser **cannot** prevent.

[2015-03-28 23:47] spinda commented on #292
@gridaphobe actually the parser doesn't forbid that currently.

[code]

[code]

[2015-03-28 23:48] spinda commented on #292
@gridaphobe But yes, that's exactly the problem with only checking it in the parser.

[2015-03-28 23:51] gridaphobe commented on #292
Well that's what I get for trying to read the parser code instead of just running an example.. In that case, I don't see a reason to tweak the parser, better to catch it in Bare along with all the other errors we look for.

[2015-03-28 23:53] spinda commented on #292
And that's what I have implemented right now. I've modified the code to pass through refinements on function types all the way through the Bare pipeline, and then I added a check to checkGhcSpec to report errors. I should have it up in a PR soon-ish.

[2015-04-01 06:20] nikivazou commented on #344
fixed

[2015-04-01 06:20] #344 closed

[2015-04-01 06:24] #331 closed

[2015-04-01 06:25] nikivazou commented on #359
@gridaphobe , is this still open?

[2015-04-01 14:24] gridaphobe commented on #359
Yes, I reverted the commit that caused the issue, but that's not a proper fix, as we now have RPropPs floating around after Bare.

[2015-04-02 03:07] spinda commented on #366
It'd be a good idea to add a test case for this, too, if it isn't covered already.

[2015-04-02 03:13] nikivazou commented on #366
We have tests/post/AVLRJ.hs for this specific issue

On Wed, Apr 1, 2015 at 8:07 PM, Michael Smith <notifications@github.com>
wrote:

--
Niki Vazou

[2015-04-02 03:15] spinda commented on #366
Okay. Is this closeable, then?

[2015-04-02 03:17] nikivazou commented on #366
Lets see, @ranjitjhala, can you see if the tutorial examples pass now, so that we close this issue?

[2015-04-02 14:22] ranjitjhala commented on #366
seems to be ok now!

[2015-04-02 15:16] #366 closed

[2015-04-02 23:20] ranjitjhala opened #371 "Record Measures and TF"
I wanted to use LH to specify the following -- its possible but *super* tedious, and its the kind of thing
it would be valuable to fix with the GSOC.

Here are two types:

[code]

As you can see, its possible to specify the invariant, but its *really* unpleasant to have to duplicate
the type definition in a special LH definition `{-@ ... @-}`.

(Am assigning @spinda as it is an interesting case fo

[2015-04-03 00:37] nikivazou commented on #332
fixed!

[2015-04-03 00:37] #332 closed

[2015-04-03 00:50] ranjitjhala commented on #332
Nice!! Thanks!

[2015-04-03 11:38] marcinmrotek opened #372 "[ghc-7.10] Name clash between Data.Vector.Unboxed and GHC.List length"
Hello,

When running LiquidHaskell over a piece of code that uses `length` from `Data.Vector.Unboxed` (imported qualified as `V`, then using `V.length`) i get this error message:
[code]

edit: To clarify, I'm using LiquidHaskell compiled from the ghc-7.10 branch from Github.

[2015-04-03 13:04] ranjitjhala commented on #372
@marcinmrotek thanks for pointing out! Am I correct in assuming this is running `liquid` built with the `master` on github? or is it the version from `hackage` ?

cc/ @gridaphobe

[2015-04-03 14:40] gridaphobe commented on #372
This is a known issue with LiquidHaskell on ghc-7.10. It appears that some of the functions we use for name resolution have changed in subtle ways, but I haven't had a chance to investigate deeply yet.

In the meantime, you should be fine if you build LH with ghc-7.8, eg in an hsenv.

[2015-04-03 14:44] marcinmrotek commented on #372
Thanks! For what it's worth, it can also be worked around with `basicLength` from `Data.Vector.Generic` like this:
[code]

[2015-04-03 19:23] nikivazou commented on #303
fixed! See [tests/pos/partialmeasure.hs](https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/pos/partialmeasure.hs)

[2015-04-03 19:23] #303 closed

[2015-04-03 20:09] lcycon opened #373 "Output unreadable in many terminals"
Fix colors pls :(

(Per @ranjitjhala)

[2015-04-03 22:28] lcycon opened #374 "Failure from unknown source"
[code]

When run on this file:

https://github.com/UCSD-PL/tournament/blob/b0b79e878c5f308ca6f71a5d0dd6aa8c98f0d969/Tournament/Controller/Util.hs

Excuse the horribly code, it was done in a hurry to prove a point ;)

@ranjitjhala

[2015-04-04 16:58] ranjitjhala commented on #374
Any idea what's going on here?

[2015-04-04 18:20] marcinmrotek opened #375 "[7.10] LH and lenses, "No match in record selector tyConTyVars""
Hello,

I've tried to write some code using lenses and check it with LH. I managed to condense it to this code, which checks properly:
[code]

Adding this:
[code]
LH still works, but considers the code unsafe:
[code]

When trying to actually use the isomorphism somehow, like:
[code]
LH crashes just after extracting Core:
[code]
Looking at GHC API for `TyCon` (https://downloads.haskell.org/~ghc/lat

[2015-04-05 04:35] nikivazou commented on #375
Hey @marcinmrotek, I pushed a fix for your second issue, the liquid crash.

Re your first issue, I just minimized your example: the following should be safe but is not:

[code]

At first I suspected that we could blame contravariant for the imprecision (following the definition of the type `Iso` some of its arguments are variant and others contra-variant),
but the above example implies that it is

[2015-04-05 04:36] #375 closed

[2015-04-05 04:48] nikivazou commented on #374
@lcycon can you simplify the failing test? I cannot install tournament, I get

[code]

[2015-04-05 04:49] lcycon commented on #374
I'll see what I can do

L
On Apr 4, 2015 9:48 PM, "Niki Vazou" <notifications@github.com> wrote:

[2015-04-05 04:56] nikivazou commented on #374
But this error is my fault, and I cannot fix it w/o running your example.
If you want we can look at it together next week?

[2015-04-05 04:58] lcycon commented on #374
@nikivazou Here you go

[code]

Yes, I know, it's beyond ugly code heh

[2015-04-05 05:01] nikivazou commented on #374
Cool, thanks!

On Sat, Apr 4, 2015 at 9:58 PM, Luke Cycon <notifications@github.com> wrote:

--
Niki Vazou

[2015-04-05 05:10] nikivazou opened #376 "Name resolution in refinements"
Can we resolve lower case variables in refinements?

Now we can write (see `tests/pos/elems.hs`)

[code]

Where `Data.Set.member` is translated via our `include/CoreToLogic.lg` to `Set_mem`.

But in order to resolve variables in refinements (like member or elems) they should start with capital letter.
This both
[code]
and

[code]

are fine but

[code]

is not.

[2015-04-05 15:46] gridaphobe commented on #376
I'm guessing the final example isn't meant to use a qualified import?

Anyway, this sounds doable, we'll just try to resolve the free variables. One thing to watch out for is how this will interact with local specifications (which can refer to any binders in scope).

[2015-04-05 17:21] lcycon commented on #374
Yep, gimme a bit

L
On Apr 5, 2015 10:16 AM, "Niki Vazou" <notifications@github.com> wrote:

[2015-04-05 17:24] ranjitjhala commented on #374
Ah yes that was also suspicious in the log message.

On Sunday, April 5, 2015, Luke Cycon <notifications@github.com> wrote:

--
Ranjit.

[2015-04-05 18:01] nikivazou commented on #301
Fixed, see [tests/neg/errmsg.hs](https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/neg/errmsg.hs)

[2015-04-05 18:01] #301 closed

[2015-04-05 18:05] lcycon commented on #374
@nikivazou Might take me a while, liquidhaskell HEAD fails to install. I suspect GHC was upgraded when I borked my install the other day....

[code]

I'll see what I can do about a PR to fix this

[2015-04-05 18:15] lcycon commented on #374
@nikivazou Also, ignoring new GHC changes, there are missing bindings in HEAD?

I can't get it to build at any rate

[2015-04-05 18:18] nikivazou commented on #374
I don't think so, but it needs the head of [liquid-fixpoint](https://github.com/ucsd-progsys/liquid-fixpoint)

[2015-04-05 18:19] nikivazou commented on #374
An alternative to building head is to update the type of `(.)`, as in

https://github.com/ucsd-progsys/liquidhaskell/commit/f681f1c172b21a2f7c6312d64106d96fb4f27405

[2015-04-05 18:44] ranjitjhala commented on #374
What exactly is the problem with building?

(btw, wonder if we should make liquid-fixpoint a git submodule to solve
these issues...)

On Sun, Apr 5, 2015 at 11:19 AM, Niki Vazou <notifications@github.com>
wrote:

--
Ranjit.

[2015-04-05 20:10] gridaphobe commented on #374
@ranjitjhala, @lcycon appears to be building again GHC 7.10, which doesn't work at the moment. Apart from the additional warnings that he mentioned, name resolution is subtly broken, see #372 and #364

[2015-04-05 20:21] chowells79 opened #377 "Don't pretend `Int` doesn't wrap when incrementing it at `maxBound`."
The following bit of code passes liquid's check:

    {-@ ax1 :: Int -> TRUE @-}
    ax1 :: Int -> Bool
    ax1 x = x < x + 1

But when tested in ghci:

    *Main> ax1 maxBound
    False

There are a lot of cases where the wraparound behavior actually matters, either causing bugs or being necessary for correct behavior. In both cases, the model being checked needs to include that behavior.

[2015-04-05 20:55] ranjitjhala commented on #377
Yes this is a tricky one; perhaps we should have a "--bounded-int"
or strict mode for this. It's tricky because it will massively clutter type signatures for users so not sure what the usability trade off is but certainly a "strict" mode would be a first step. Thanks!

[2015-04-05 20:56] ranjitjhala commented on #377
Also would be extremely grateful for links to libraries/apps where wraparound matters as they'd give us useful starting points for thinking about how to address this issue in a tractable manner.

Thanks!

[2015-04-16 12:13] ranjitjhala opened #381 "Combine GHC and Liquid Type Aliases"
It would be nice if we could reject:

https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/alias.hs

[2015-04-17 02:59] ranjitjhala commented on #381
Btw, @spinda if we can do this, we can get *halfway* to your proposal of encoding specifications
with plain GHC types. I say "halfway" because then specifications would be split into two parts:

1. **Type definitions**, where there would still be duplication, e.g.

[code]

2. **Type Specifications** where there is no duplication, e.g.

[code]

(Where `type t1 @ t2 = t2`)

[2015-04-17 03:32] spinda commented on #381
In order to fix this we definitely need to make LiquidHaskell aliases module-scoped instead of global. Otherwise, declaring a type synonym anywhere, in-scope or not, would break same-named LiquidHaskell aliases in other modules.

I like the definitions vs. specifications approach a lot. I think aliases would work best as refinements on Haskell synonyms instead of existing only in LiquidHaskell, as

[2015-04-17 06:15] ranjitjhala commented on #381
How about `#` ? That doesn't look too bad. Now of course, the *second* half would be to figure out some crafty TF encoding for the *specifications* themselves, e.g. some way of defining the

[code]

Which would let us reuse GHC's machinery for modularizing alias names etc.

[2015-04-17 10:46] ranjitjhala commented on #381
Btw, I am a bit concerned that once we have measures, it will get clunky to specify refinements with TF.
For example, what would

[code]

look like? As I understand it (?), there is no support for type-level lambdas or such. (In general we could imagine various encodings, e.g. `len v` would become `apply "len" "v"` -- which is itself messy because
we'd want to merge type-level `Nat` and `Symbol` i

[2015-04-17 22:37] nikivazou commented on #221
This is fixed now!

[2015-04-17 22:37] #221 closed

[2015-04-17 22:37] #222 closed

[2015-04-17 22:40] nikivazou commented on #292
@spinda, you fixed this, right?

[2015-04-17 22:45] spinda commented on #292
Yes, this is fixed in #368 and #369. Forgot to close it.

[2015-04-17 22:45] #292 closed

[2015-04-17 22:45] nikivazou commented on #292
Thanks!

On Fri, Apr 17, 2015 at 3:45 PM, Michael Smith <notifications@github.com>
wrote:

--
Niki Vazou

[2015-04-18 02:02] ranjitjhala commented on #292
Thanks!!

[2015-04-23 21:40] ranjitjhala opened #384 "Refinements on function signatures?"
See:

[code]

When I run it in emacs and click on `bob` I get the refinement `v=bob` on the function type for `bob` ?

Why? We should NOT have this (as all function refinements should be TRUE) and even if we do, we should NOT be printing it.

Please fix asap! (Am assigning @spinda as I _think_ it has do do with the recent issues about functions and refinements, but otherwise @nikivazou can you tak

[2015-04-23 23:02] nikivazou commented on #384
Just deactivated the printing of refinements in functions. It should be good now.

[2015-04-23 23:15] ranjitjhala commented on #384
super, thanks!

On Thu, Apr 23, 2015 at 4:02 PM, Niki Vazou <notifications@github.com>
wrote:

--
Ranjit.

[2015-04-23 23:20] spinda commented on #384
@nikivazou This change breaks the error message when you have a refinement on `(->)`, as the bad refinement won't show up when the type gets printed out. My code was set up to not print these when the refinement was TRUE&mdash;why do we have the case where one isn't TRUE?

[2015-04-23 23:25] nikivazou commented on #384
Can you print "Functions cannot be refined" instead of printing the refinement? You can have a check if it is a function with an non-trivial refinement print "Functions cannot be refined".

The case that on is not true is when we look up variable functions from the environment.
When you do so you return the "singleton" type stating that the variable is exactly equal to itself.

[code]

Makes sense

[2015-04-23 23:29] spinda commented on #384
I see. It does say "functions cannot be refined", but without the type it can be confusing to figure out why this is happening (eg. when `plugHoles` adds a function refinement).

Maybe this could be an optional flag somewhere to print the refinements? I'm not sure how to do this without complicating PrettyPrint's interface, though.

[2015-04-24 21:16] nikivazou commented on #273
Assigned to @Kyly

[2015-04-24 21:17] nikivazou commented on #273
Assigned to @Kyly

[2015-04-28 22:34] gridaphobe opened #385 "Crash from interaction between superclasses and bounded refinements"
See https://github.com/ucsd-progsys/liquidhaskell/blob/336130c4fe4dafb4d8cf08ebcf93eaac928dba31/tests/todo/SuperClassBounds.hs, which fails with

[code]

I stumbled upon this because GHC-7.10 made Applicative a superclass of Monad, which broke `tests/pos/StateConstraints0.hs`. To be clear, it has nothing to with the 7.10, the crash also appears on master with 7.8.

@nikivazou, I _think_ this is th

[2015-05-08 04:04] ranjitjhala opened #389 "mysterious error in tests/todo/WBL0.hs"
@nikivazou this seems to have something to do with abstract predicates. Can you take a look? The error gives no clue as to what the problem is...

This test is basically `tests/pos/WBL.hs` with the measures `okRank` and `realRank` now converted to Haskell functions...

[2015-05-08 22:51] nikivazou commented on #389
Just push a fix. Though the error does not seem related to the lifting of Haskell measures.

[2015-05-08 22:51] #389 closed

[2015-05-11 18:14] hasufell opened #390 "Termination Error (no decreasing parameter) with Num type class"
Given a function like this
[code]
everything checks fine.

If I set the types to be more general
[code]
Then I get
[code]

[2015-05-11 18:18] gridaphobe commented on #390
@nikivazou I believe we embed any concrete type that implements `Num` as an smt `int`, right? If so, we should treat `Num a => a` the same.

[2015-05-11 18:31] nikivazou commented on #390
Correct, but until we do so, I believe we can use metrics. Can you try Tge
following type?

{-@ fak2 :: (Integral a, Ord a, Eq a, Num a) => y:{x: a | x >= 0} -> a /
[y]@-}

That says explicitly that the first argument y is decreasing.
On May 11, 2015 11:18 AM, "Eric Seidel" <notifications@github.com> wrote:

[2015-05-11 18:35] hasufell commented on #390
[code]
yields
[code]
Did I copy-paste it correctly?

[2015-05-11 18:47] nikivazou commented on #390
Yes you copy paste it currently, but still does not work ...
I will try to fix it ASAP
On May 11, 2015 11:36 AM, "Julian Ospald" <notifications@github.com> wrote:

[2015-05-13 02:15] nikivazou commented on #390
@hasufell your initial example should work now on master!
Thanks for the feedback, and let us know if you further break liquidHaskell:)

[2015-05-13 02:15] #390 closed

[2015-05-13 03:18] ranjitjhala commented on #390
Yes @hasufell many thanks for bringing this to our attention!

[2015-05-14 23:33] hasufell opened #393 "performance problem with deeply nested lists"
Given the following funny fizzbuzz version liquidhaskell consumes up a lot of memory (I have 16GB) and I have to kill it out of precaution.
I could nail it down to the line with ```[[[[[[[[[[[[["FizzBuzz"]]]]]]]]]]]]]```.

But I guess this is not really a common use case anyway. But it's still interesting.

[code]

[2015-05-14 23:43] ranjitjhala commented on #393
Hmm interesting! Thanks for pointing out we'll take a look!

[2015-05-15 02:24] nikivazou commented on #393
Well, this is not super surprising since `[[[[[[[[[[[[["FizzBuzz"]]]]]]]]]]]]]` is desugared to a huge expression in GHC's core. If you run liquid with the verbose flag (`liquid -v Foo.hs`) and search for CoreBinds you can see the (huge) generated internal code that liquidHaskell type checks.

For now, you can have all these constants in another file (that you will not check) and import them?

But

[2015-05-19 22:01] ranjitjhala opened #395 "URGENT: Incomprehensible error / measure bug"
@nikivazou can you look into this ASAP, seems to be some strange error with the lifting code.

See `tests/todo/fixme.hs` -- in brief:

[code]

but this is fine.

[code]

[2015-05-19 22:23] nikivazou commented on #395
@ranjitjhala was this example working in  the past?

[2015-05-19 22:25] ranjitjhala commented on #395
Don't know -- just wrote it -- but I have seen this same crash before.

[2015-05-19 22:38] ranjitjhala commented on #395
Btw even if you can't fix it now, it would be good to get a decent error message pointing to some source location that causes the problem.

[2015-05-19 22:58] ranjitjhala commented on #395
ok, less desperate now because i could work around it by using

   data Map k v = Emp | Bind k v (Map k v)

but still an error message would be nice prior to the update...

[2015-05-19 23:18] nikivazou commented on #395
I pull requested a fix, but lets wait for travis.

[2015-05-20 01:55] nikivazou commented on #395
It is fixed. The test is moved here

https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/pos/Keys.hs

@ranjitjhala  note how I redefined `myfst` (instead of using `fst`) because `fst` has a true type.

[2015-05-20 01:55] #395 closed

[2015-05-20 02:35] ranjitjhala commented on #395
Thanks @nikivazou !!!

On Tue, May 19, 2015 at 6:55 PM, Niki Vazou <notifications@github.com>
wrote:

--
Ranjit.

[2015-05-25 20:15] spinda commented on #340
Writing up some notes based on previous discussions and my own further research. Apologies up-front for the length.

_________

Encoding more complex elements of LiquidHaskell's type system (bounds, etc) in type synonyms is possible, but structuring this in a way that is nice for the user to write by hand isn't really feasible.

A quasiquoter can be used to bridge this gap. Say `lq` is a quasiquot

[2015-05-25 20:32] gridaphobe commented on #340
I've wanted to extract the core LH types from the main package for a while too, so I can inject `target` between `liquidhaskell-types` and `liquidhaskell`, thus adding a simple form of counterexample generation to LH.

Another thing that would be really nice along these lines is if the `lq` quasiquoter could add the refined type as a top-level value, e.g.

[code]

would expand to something like

[

[2015-05-25 20:59] spinda commented on #340
In the reified case, wouldn't we still have to invoke GHC to load the module and accessed the reified type?

[2015-05-25 21:17] ranjitjhala commented on #340
We have to invoke GHC (in LH) to get the core and *many* other things...

[2015-05-25 22:02] gridaphobe commented on #340
Ah yes, I guess that would only actually help for `target` since I only need the types and measure definitions.

[2015-05-25 22:46] gridaphobe commented on #340
Actually, if we were to make the specifications into annotations as I suggested, we could make LH a Core-to-Core plugin. Then GHC would call **us** once the Core has been generated.

It might be worth putting together a list of everything we extract from GHC's API to see what else we would need.

[2015-05-25 22:58] spinda commented on #340
If we don't insert the specifications as Haskell types, then we still have to do our own synonym expansion, substitution, etc, instead of having GHC take care of that for us. But I don't think we would need to use annotations exclusively to set LH up as a GHC Plugin (which seems like a good idea). If it helps with `target`, we could expose specifications as both types *and* annotations.

[2015-05-25 23:10] gridaphobe commented on #340
Why wouldn't we just have GHC do all of the expansion for us as per your proposal and stick the result in the module as a top-level value?

[2015-05-25 23:17] spinda commented on #340
I think we might be saying the same thing, actually... But it'd probably be easier to discuss this in person tomorrow.

[2015-05-25 23:32] gridaphobe commented on #340
Ok :)

[2015-05-26 18:18] ranjitjhala commented on #340
This looks quite nice IMO, lets see if we can fill out all the details...

[2015-05-26 22:30] nikivazou opened #399 "Paring Refined Data Definitions"
See

[tests/todo/Parse.hs](https://github.com/ucsd-progsys/liquidhaskell/blob/406e046c88eeb4edb5802017394154e4f97890ac/tests/todo/Parse.hs)

[2015-05-26 22:31] nikivazou commented on #399
Assigned to @Kyly

[2015-05-26 22:40] nikivazou opened #400 "Another Bad Parsing Error Message"
Provide better error message for the following

[tests/todo/Parse1.hs](https://github.com/ucsd-progsys/liquidhaskell/blob/f70aa90c7e4d8f22a4392cee738f5e3659f0e091/tests/todo/Parse1.hs)

[2015-05-27 17:53] nikivazou commented on #273
Fixed at #397

[2015-05-27 17:53] #273 closed

[2015-05-30 00:00] ranjitjhala commented on #340
@spinda -- @nikivazou and I were pondering this a bit today, and we think a
further simplification of your approach is to:

(1) LIMIT TH/Splices to type alias definitions,
(2) USE plain haskell signatures for functions.

This would let us write things like

[code]

That is, we ONLY use splices for refinements, inside type alias definitions
(since that is what gets super cumbersome in pure Haskell.

[2015-05-30 02:05] gridaphobe commented on #340
This might be a reasonable first goal, but I don't like the idea of limiting refinements to type aliases. That adds greatly to the cognitive overhead of using refinement types because now I have to come up with a name for each refinement I want to use.

My approach to developing with refinement types is quite the opposite. I start with "inline" refinements everywhere, and then try to figure out cl

[2015-05-30 02:27] ranjitjhala commented on #340
No reason why this proposal would preclude the function signatures, I think you're right we should just start with type aliases because that was already take us quite far and then we can do Michael's full proposal.

[2015-06-09 17:35] ranjitjhala opened #403 "Ghc Error due to "hidden packages""
I am trying to get `liquid` to run on itself (in general, to get it running on arbitrary serious code bases.)

However, all of the below:

    liquid src/Language/Haskell/Liquid/GhcMisc.hs
    liquid  -isrc src/Language/Haskell/Liquid/GhcMisc.hs
    liquid -g"-package-db /Users/rjhala/research/liquid/liquidhaskell/.cabal-sandbox/x86_64-osx-ghc-7.8.3-packages.conf.d/" -isrc src/Language/Haskell/Liq

[2015-06-09 17:37] ranjitjhala commented on #403
I should add that doing a `ghc-pkg expose ghc` solves the problem but that seems shady.

[2015-06-09 18:55] gridaphobe commented on #403
@ranjitjhala `ghc` is a hidden package by default (I guess because it exposes a bunch of unqualified modules). You need to either `ghc-pkg expose ghc` (which is what I do) or add `-g"-package ghc"` to the liquid options.

[2015-06-09 19:31] ranjitjhala commented on #403
presumably this is -g"-package ghc" is in our makefile or cabal?
​

[2015-06-09 19:32] ranjitjhala commented on #403
its not, so how does cabal figure out that it should be exposed?
​

[2015-06-09 19:35] gridaphobe commented on #403
because we have `ghc` in our `build-depends`, cabal adds `-package foo` for each package in the `build-depends` list

[2015-06-09 19:43] ranjitjhala commented on #403
Ok got it

[2015-06-10 01:01] #403 closed

[2015-06-16 15:51] gridaphobe opened #406 "Clean up test suite (make it run faster)"
Our unit tests take far too long to run, probably because we have a habit of dumping large files like `RBTree-Ord` into the test suite before paring them down to a minimal example.

We should do some spring cleaning on our test suite, separating the unit tests from things that really belong in benchmarks. In particular, I want the unit tests to fit in a single travis job :)

[2015-06-16 17:29] nikivazou commented on #406
I was thinking about cleaning test suite too. I am sure there is also a lot of duplication there!

[2015-06-16 17:30] gridaphobe commented on #406
Yes, that too :)

[2015-06-18 02:25] spinda opened #407 "Look into possibly supporting Stack"
Brief: https://www.reddit.com/r/haskell/comments/3a6p9h/how_stack_lowers_the_barrier_to_open_source/

[Stack](https://github.com/commercialhaskell/stack#readme) is a new build tool from the commercial-haskell project that might be worth looking into. It handles build caching, dependency management, multi-package projects (useful for our case), and so on, without the fuss of Cabal sandboxes, linkin

[2015-06-18 04:00] ranjitjhala commented on #407
Yes, I was also pondering this (having spent the better part of the last
few days
burning cycles recompiling sandboxes a billion times...)
​

[2015-06-18 05:16] gridaphobe commented on #407
Hehe, I (mostly) haven't had to deal with cabal nonsense since I switched to using the nix package manager :)

Still, `stack` seems like a useful tool, and it looks like you just need to add a `stack.yaml` file with some configuration options. But I think if we're actually going to add a `stack.yaml` file to the repo, one of us should actually be using it. Otherwise it might bitrot..

[2015-06-18 05:36] spinda commented on #407
I can try it out. I gave up on sandboxes and have just been cabal
install-ing everything, so stack would been an improvement.

On Wed, Jun 17, 2015, 22:16 Eric Seidel <notifications@github.com> wrote:

[2015-06-18 08:03] spinda commented on #407
I have a test of one method of setting up a workspace, in one repository with the other repositories as submodules:

https://github.com/spinda/liquid

After installing stack, running

[code]

to set up the repository and

[code]

to build `liquid-fixpoint` and `liquidhaskell` worked perfectly. Then

[code]

to verify that running `liquid` worked.

`stack test` built everything successfully but fai

[2015-06-18 08:24] spinda commented on #407
The "megarepository" model isn't required for using Stack, but putting a `stack.yaml` file in each repository doesn't work as nicely for development right now due to https://github.com/commercialhaskell/stack/issues/348.

[2015-06-18 14:04] ranjitjhala commented on #407
In perfectly happy to use it, once we can set it up...

[2015-06-18 16:00] gridaphobe commented on #407
@spinda where does stack put the `liquid` binary?

[2015-06-19 02:06] spinda commented on #407
@gridaphobe `stack build` puts the `liquid` binary in `.stack-work/dist/x86_64-linux/Cabal-1.22.2.0/build/liquid/liquid` (on Linux x86_64 with Cabal 1.22.2). This is added to `$PATH` when you run `stack exec` or `stack test`. `stack install` puts it in `~/.local/bin/liquid`.

[2015-06-19 02:09] gridaphobe commented on #407
Ugh, why can't they just leave a copy in `dist/build` where cabal puts it in the first place...

[2015-06-19 02:23] ranjitjhala commented on #407
Regardless, why don't we just use find executable to get the path instead of using one of the other hardwired path ?

[2015-06-19 02:41] gridaphobe commented on #407
Well then we have to worry about where `liquid` appears on the path. The testsuite wants the development binary, not some other version of `liquid` that you have installed.

[2015-06-19 02:44] ranjitjhala commented on #407
Don't think I've ever had (or wanted) two versions :)

Even if you did have a non dev version you could just nuke/move it when testing.

[2015-06-19 02:47] gridaphobe commented on #407
Really?? I find it super useful to have the current release on my path because I know it works.

We could add `dist/build/liquid` to the path and then `findExecutable`, but honestly, this seems like a bug in `stack`..

[2015-06-19 02:55] ranjitjhala commented on #407
Btw isn't this solved by using

   "stack exec liquid"

Instead of one or other hardwired path to liquid?

[2015-06-19 02:57] gridaphobe commented on #407
That presumes you have `stack` installed.

[2015-06-19 03:03] ranjitjhala commented on #407
Yes, so we can just have command line flag, so:

  make test STACK=1

(does the above) and

  make test

is for your plain cabal thing. (Just like 'THREADS').

​

[2015-06-19 23:04] spinda commented on #407
The repository-with-submodules setup is actually working pretty smoothly so far. It's useful to be able to track the state of combinations of repositories together, switching between "workspaces" all at once.

re: the test runner, I believe the following should always find the path of the `liquid` executable:

[code]

as the `test` executable is always located in `$builddir/test/test` with the `li

[2015-06-19 23:06] gridaphobe commented on #407
Ah, good call with `getExecutablePath`, that ought to do the trick.

[2015-06-23 16:53] ranjitjhala commented on #407
​btw, whats the story with hdevtools / ghc-mod etc. and stack?​ Does it
know to look in the right package database? (Is there a package database
that it should look at?)

​

[2015-06-24 17:34] notcome opened #409 ""Unknown flag: -f" from fixpoint"
I just compiled `liquidhaskell` and installed Z3 with Homebrew. I then tried to run `liquid` against an arbitrary Haskell file, but it reported this error:

[code]

I believe something went wrong with `fixpoint`. What does this error message mean? How to fix it?

I am running GHC 7.10.1 on OS X El Capitan. The tested Haskell file is just `main = return ()`.

[2015-06-24 17:42] ranjitjhala commented on #409
Oops! Sorry! Did you build from github or hackage?

[2015-06-24 17:46] ranjitjhala commented on #409
Also can you run in verbose mode:

   liquid -v file.hs

And paste that output?

[2015-06-24 17:58] notcome commented on #409
I built it from GitHub. The verbose mode doesn't tell me much more about `fixpoint`:

[code]

Couldn't find any flag named `-f`. Above those message I pasted was the core produced by GHC but I couldn't find `-f` neither by text matching. Really weird.

By the way, professor Jhala are you still on campus right now? Can I personally visit you? I am Minsheng Liu, the incoming freshman who sent you an

[2015-06-24 18:21] ranjitjhala commented on #409
Bizarre! Can you run just:

/usr/local/bin/fixpoint.native ./.liquid/b.hs.fq

and see if you get the same error?

PS: I am in town but not on campus atm, we can meet on Friday maybe? Thanks!

[2015-06-25 21:21] christetreault commented on #407
I've been spending most of today trying to get this playing nice with emacs and ghc-mod, and it seems like it could be done. However, out of the box, it tries to use it's own built-in ghc, and expects you to do `stack ghc` to get at it. Unless you have ghc installed outside of stack, you won't be able to `ghc` from the command line.

There is a command `stack setup` that seems like it's supposed t

[2015-06-26 00:49] spinda commented on #407
@christetreault

I have GHC 7.10.1 installed through my OS's package manager. stack detects
it on my $PATH and uses it automatically. stack setup should only be
necessary if (a) you want to have stack manage your GHC installation for
you or (b) you want the project to be built with a different version of GHC
than the one installed globally.

What's the output of stack --version and cat ~/.stack/gl

[2015-06-26 00:51] spinda commented on #407
@christetreault

I have GHC 7.10.1 installed through my OS's package manager. `stack` detects
it on my `$PATH` and uses it automatically. `stack setup` should only be
necessary if (a) you want to have `stack` manage your GHC installation for
you or (b) you want the project to be built with a different version of GHC
than the one installed globally.

What's the output of `stack --version` and `cat

[2015-06-26 01:18] christetreault commented on #407
I purged all traces of ghc from my machine before installing stack. I then installed stack 0.1.0.0 fresh.

I understand that your OP is in regards to using stack alongside cabal and a pre-installed GHC. My post was my findings in using pure stack, with nothing else (letting it manage GHC). I saw in the documentation that stack can play nice with GHC, however I prefer to work with the system when t

[2015-06-26 01:35] ranjitjhala commented on #407
Btw, hdevtools support for stack is imminent:

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/haskell-stack/Skfd3QGFzgk/obx7IwPsBqUJ

On Thu, Jun 25, 2015 at 5:49 PM, Michael Smith <notifications@github.com>
wrote:

--
Ranjit.

[2015-06-26 06:59] notcome commented on #409
Sorry, forget to reply...

I did have run fixpoint directly and confirmed that it's this program who reported this error.

I planned to check whether this has anything to do with the SMT solver. So I installed CVC4 but it reported the same error. Then I typed a wrong SMT solver name:

[code]

Still the same error. I guess it didn't enter into the phase of calling a SMT solver.

Anyway, I am not fa

[2015-06-26 10:37] spinda commented on #407
@christetreault

I see. My main use case for `stack` is avoiding sandbox setup, rebuilds, keeping installs in sync, etc. when working across multiple packages, so for me personally this subset of `stack`'s features is a win.

Would you mind forwarding this in some form to the `stack` [mailing list](groups.google.com/d/forum/haskell-stack)? I'm sure they'd appreciate the feedback.

[2015-06-26 11:09] spinda commented on #409
To clarify, does running this on its own produce the same error?

[code]

[2015-06-26 15:09] ranjitjhala commented on #409
Bizarre -- are you on windows by any chance?

Also I will be in my office 2-3p today you are around?

See you soon !

[2015-06-26 17:52] notcome commented on #409
@spinda Yes, a single line of "Unknown flag: -f"

@ranjitjhala see you soon! I am running El Capitan.

[2015-06-26 18:02] christetreault commented on #407
Poking around today, I found this issue opened against ghc-mod:

https://github.com/kazu-yamamoto/ghc-mod/issues/498

...which links to this issue against stack:

https://github.com/commercialhaskell/stack/issues/273

Doesn't seem that anybody is interested in supporting stack/ghc-mod interop at the moment. :(

[2015-06-26 18:13] ranjitjhala commented on #407
The bigger problem, I fear, is that `ghc-mod` is perhaps quite
complex (at least, it does a lot of things). This is partly why
I prefer `hdevtools` which gives me the key things: fast checking
and type information and,

(1) is compatible with GHC 7.10

(2) is also a lot *simpler* in that it does less, and is
    easily hackable by others, and hence, more rapidly fixable...

(But I am puzzled becau

[2015-06-26 18:18] christetreault commented on #407
According to the repo, ghc 7.10 support is fixed in master. Would be nice if they'd push it to github.

Honestly, I don't use most of the fancy features of ghc-mod. I just want the flycheck stuff to work. Maybe it's time I switched over...

[2015-06-26 18:25] spinda commented on #409
This is kind of bizarre, but I think you have `fixpoint` (the Haskell frontend) installed where `fixpoint.native` should be. In other words, your `/usr/local/bin/fixpoint.native` is the same as your `/usr/local/bin/fixpoint`, when they should be two different executables.

The single-line `Unknown flag: -s` message comes from the [`cmdargs` Haskell package](https://github.com/ndmitchell/cmdargs/bl

[2015-06-26 18:25] ranjitjhala commented on #407
I checked out the master and successfully built it with ghc710 but couldn't use it on my projects...

[2015-06-26 19:02] notcome commented on #409
@spinda I guess you are right. I checked the build directory of liquid-fixpoint's sandbox and it turns out that fixpoint and fixpoint.native have the same file size.
[code]
So something must went wrong during the compilation phase. I will do it again. Thank you!

[2015-07-02 07:21] m0davis opened #412 "Another broken test (GHC 7.10.1)"
I'm new to LH. Is this a known issue? Given the following input file, TestLiquid.hs:

I get the following error when trying to `liquid TestLiquid.hs`:

LiquidHaskell Copyright 2009-15 Regents of the University of California. All Rights Reserved.

**** DONE:  Extracted Core using GHC *******************************************

liquid:
**** ERROR ****************************************************

[2015-07-02 14:43] ranjitjhala commented on #412
Oops, no this seems to be something new thanks for pointing it out! We will try to get to it as soon as possible!

[2015-07-02 19:54] nikivazou commented on #412
Thanks for the report @m0davis! I am taking a look at it right now.

[2015-07-04 00:03] nikivazou commented on #412
Fixed! Thank for the report @m0davis, and let us know for anything else you want!

[2015-07-04 00:03] #412 closed

[2015-07-04 03:24] ranjitjhala commented on #412
thanks @nikivazou!!

On Fri, Jul 3, 2015 at 5:03 PM, Niki Vazou <notifications@github.com> wrote:

--
Ranjit.

[2015-07-04 05:25] m0davis commented on #412
Well done. Thanks!

[2015-07-07 17:54] christetreault commented on #407
I found this post on reddit today: https://www.reddit.com/r/haskell/comments/3cf5yd/stack_ghcmod_work_in_progress/

It looks like _somebody_ is working on stack/ghc-mod interop. Hopefully something comes of it.

[2015-07-07 18:45] ranjitjhala commented on #407
Yes, but the odd error messages (also listed in that thread) are exactly
the problem I was running into. Still, pretty sure they'll be fixed soon!

On Tue, Jul 7, 2015 at 10:54 AM, Chris Tetreault <notifications@github.com>
wrote:

--
Ranjit.

[2015-07-09 05:44] notcome commented on #409
I made a really stupid mistake: instead of going to the cabal sandbox for compiled binaries, I used ones inside the build directory. Problem solved, and sorry for your wasted time.

[2015-07-09 05:44] #409 closed

[2015-07-09 22:15] m0davis opened #414 "len of a literal string"
It seems that the len of a literal string is not interpreted correctly. Viz the following code:

LH calls this one safe (and that seems fine to me):

LH thinks this is unsafe (but shouldn't it be safe?):

[2015-07-09 22:20] spinda commented on #414
Might this have to do with IsString?

On Thu, Jul 9, 2015, 15:15 Martin Stone Davis <notifications@github.com>
wrote:

[2015-07-09 22:29] m0davis commented on #414
LH thinks that the length of the [Char] is >= 0, not recognizing that it's == 1.
[code]

[2015-07-09 22:33] m0davis commented on #414
@spinda, I am not using OverloadedStrings (if that answers your question).

[2015-07-09 22:37] gridaphobe commented on #414
This is a known issue, the reason is that GHC compiles a string literal

[code]

into

[code]

where `"foo"` now has type `Addr#`, i.e. a memory address. We "calculate" the length of a static list essentially by counting the number of `:`s in the list, but this intermediate code has no `:`s, so we can't know the length of the String.

The `len >= 0` is an axiom that we assume, that's where that cl

[2015-07-09 22:50] gridaphobe commented on #414
We might be able to recover the length of the string literal by treating `unpackCString#` specially during constraint generation. A rule like

[code]

should do it.

[2015-07-09 22:52] m0davis commented on #414
Fwiw, I noticed the issue when trying to get the "bonus points" at the bottom of the demo for CSV: http://goto.ucsd.edu:8090/index.html#?demo=Csv.hs

[2015-07-10 00:31] ranjitjhala commented on #414
Yes, sorry about that -- I think that particular blog was written prior to
(or using an older GHC version, which didn't use this 'unpackCString' and
where instead "cat" was ['c','a','t'] in the core...

On Thu, Jul 9, 2015 at 3:52 PM, Martin Stone Davis <notifications@github.com

--
Ranjit.

[2015-07-14 00:27] #414 closed

[2015-07-14 16:42] christetreault opened #417 ".dir-locals.el should be added to .gitignore and removed from repo"
There is a `.dir-locals.el`file in the project root. This file is evaluated by emacs every time a file is visited in the directory, and gives me the following output:

[code]

Maybe this is useful to some people, but others may not like this file changing their `default-directory`. Since this is a personal choice type thing, please add this file to the .gitignore and remove it from the repository.

[2015-07-14 17:50] ranjitjhala commented on #417
Can you go ahead and do this? (Submit a pr) thanks!

[2015-07-14 18:52] christetreault commented on #417
Done

[2015-07-14 19:55] nikivazou commented on #417
Thanks!

[2015-07-14 19:55] #417 closed

[2015-07-14 21:21] ranjitjhala opened #419 "Bogus annots with GHC 7.10"
see the mouse-over type for 'malloc' in lh-workshop/06-bytestring.lhs

[2015-07-14 21:21] ranjitjhala commented on #419
The "fix" here is to port the ANF code from ghc 7.8 versions to 7.10.

[2015-07-14 21:49] gridaphobe commented on #419
I think you mean the Desguar code :)

I filed a bug with GHC about the missing Ticks (https://ghc.haskell.org/trac/ghc/ticket/10506) a while ago.

[2015-07-14 21:50] ranjitjhala commented on #419
Ah yes.

On Tue, Jul 14, 2015 at 4:49 PM, Eric Seidel <notifications@github.com>
wrote:

--
Ranjit.

[2015-07-16 17:25] gridaphobe commented on #417
Ack, sorry I missed this issue, but there was a reason for adding the `.dir-locals.el` to the repo. Setting the `default-directory` is the only way I know of to make flycheck run `hlint` from the project root, in order to pick up the settings in `HLint.hs`.

There are other things I would like to put in `.dir-locals.el`, like disabling tabs and trimming whitespace. These things are best specified

[2015-07-16 19:40] christetreault commented on #417
I guess the real question is: How critical is it that all emacs users get the specialized HLint settings?

If the special rules are important (organization coding standards, performance, etc...) maybe the build system should require that HLint pass before it will build?

[2015-07-16 19:42] spinda commented on #417
If we really wanted, we could add it to Travis's tests...

On Thu, Jul 16, 2015, 12:40 Chris Tetreault <notifications@github.com>
wrote:

[2015-07-16 20:04] gridaphobe commented on #417
Well, ideally a vim user would provide a similar set of project settings, etc. :)

Adding HLint to travis at the moment would be a bad idea because we certainly don't follow most of the suggestions, but maybe in the future...

[2015-07-17 17:52] christetreault opened #420 "Lookup.hs build failure"
While trying to rebuild `liquid` I get the following error while compiling `src/Language/Haskell/Liquid/Bare/Lookup.hs`:

[code]

versions:
cabal: 1.22.4.0
ghc: 7.10.1.20150715
kernel: 3.19.0-21-generic x64
branch: master
commit: 8ae41baccf6bc64f24d131a8b8649c6bd9316bf8

[2015-07-19 00:43] gridaphobe commented on #420
Is ghc-7.10.1.20150715 the actual 7.10.1 release or a release candidate for 7.10.2?

LH should build without issue against the official 7.10.1 release :(

Sent from my iPhone

[2015-07-20 16:00] christetreault commented on #420
It's the 7.10.1 From the Herbert V. Riedell GHC PPA:

https://launchpad.net/~hvr/+archive/ubuntu/ghc

ghc --version lists:
[code]

but the binary is installed as 7.10.2. I'll See about getting a newer version and let you know how it goes.

[2015-07-20 16:48] christetreault commented on #420
I just downgraded to the actual 7.10.1, and it now compiles.

[2015-07-20 17:31] gridaphobe commented on #420
Thanks. I looked into it and 7.10.2 has a small API change that we'll need to account for when it comes out.

[2015-07-23 18:00] ranjitjhala commented on #419
btw I've started fiddling around with this. Looks like we really need one super tiny change, namely:

[code]

but have to do a whole bunch of crap just to fit it into the context in which the above happens.

[2015-07-23 18:58] gridaphobe commented on #419
@ranjitjhala Ack, I just started fiddling around with it too. Was about to send a PR..

[2015-07-23 19:07] gridaphobe commented on #419
(see #422)

[2015-07-23 22:54] ranjitjhala commented on #419
should be fixed by https://github.com/ucsd-progsys/liquidhaskell/pull/422/

[2015-07-23 22:54] #419 closed

[2015-07-25 20:43] llelf opened #423 "Odd lenRight constraint and types mismatch"
Here’s a small example

[code]

Notice the types in the liquid output
[code]

Whereas, the same code with commented out Data.Either import produces a reasonable output:
[code]

[2015-07-25 21:06] ranjitjhala commented on #423
Hmm, thanks for pointing this out! (Btw, it may be unclear but this is a
"termination" related error -- LH expects that that default list-valued
argument should get smaller,
hence is trying to prove that 'len VV < len xs' at the recursive call site.)

What's happening is that:

When you import Data.Either, LH eagerly imports the specifications from the
prelude:

https://github.com/ucsd-progsys/liq

[2015-07-25 21:08] gridaphobe commented on #423
The `lenRight` constraint is coming from your import of `Data.Either`, where we've defined `lenRight` as a measure that describes the number of `Right`s in a list (https://github.com/ucsd-progsys/liquidhaskell/blob/master/include/Data/Either.spec#L5-L7).

That being said, `lenRight` should *not* be appearing in the refinement in this case because it's ill-typed. @nikivazou shouldn't the sort-check

[2015-07-26 17:26] nikivazou commented on #423
You are right, sort checker should prune 'lenRight' out. I suspect there is
a bug when pruning and termination checker interact... Will look at it soon.
On Jul 25, 2015 2:08 PM, "Eric Seidel" <notifications@github.com> wrote:

[2015-07-26 17:32] nikivazou commented on #423
Also, @llelf if you want to turn the termination checker off you can run liquidHaskell with a `--no-termination` option, or use a

[code]

Pragma in your code. Alternatively,

[code]

will deactivate termination checking for only the function `foo`.

[2015-07-27 04:18] rolph-recto opened #424 "uninformative error location for termination error"
Prof. Jhala,
This is a follow up to our meeting last Tuesday. I inserted a bug in the recursive call to `perms`, like so:

    module permutation () where

    {-@ permutations :: ts:[a] -> [[a]] / [(len ts), 1, 0] @-}
    permutations            :: [a] -> [[a]]
    permutations xs0        =  xs0 : perms xs0 []

    {-@ perms :: ts:[a] -> is:[a] -> [[a]] / [((len ts)+(len is)), 0, (len ts)] @-}

[2015-07-27 21:39] nikivazou commented on #424
Is the suggestion here that the error shows up at the recursive call? I think this is feasible!

[2015-07-27 21:45] ranjitjhala commented on #424
Yes, it should go to the recursive call (where the actual "decreasing call"
happens).

​

[2015-08-06 04:52] rolph-recto opened #425 "liquid haskell outputs contradictory result information"
I modified `Liquid.hs` to print out the result of solving the constraints for a file as follows:

[code]

I then seeded a fault in a testcase in `tests/pos` (see [this gist](https://gist.github.com/rolph-recto/d097507be7ef3136dce9) -- the fault is at line 47) and passing it to `liquid` gives the following output:

[code]

So `solve` must have returned `Safe` since there are the lines "Safe! / Solu

[2015-08-06 05:16] gridaphobe commented on #425
I see your example is using the diff-checking mode (`--diff`, which snapshots the file and only checks definitions that have changed since the last run), and that LH says `Checked Binders: None` which indicates that this invocation of LH had no new/changed definitions to check. So I suspect this is what happened:

1. You ran LH once, which uncovered the three type errors and saved a snapshot of yo

[2015-08-06 05:40] ranjitjhala commented on #425
+1 for Eric's explanation. Try repeating this experiment after removing --diff ?

[2015-08-08 03:35] hannes-landeholm commented on #420
+1

I am new to Haskell and have no idea how to downgrade my GHC, been fruitlessly struggling with it for one hour. They don't bother making GHC pkgs for OS X anymore, as you're simply supposed to use the latest Haskell bundle.

[2015-08-08 04:25] ranjitjhala commented on #420
Also can you try to install "stack" and then do "stack install" ?
I think that is wired to automatically download and build with ghc 7.10.1

[2015-08-08 18:10] hannes-landeholm commented on #420
`stack install` installs ghc 7.10.2 for some reason even though that's not the ghc version specified by the `nightly-2015-06-16` snapshot. I have no idea why. Bug in stack?

It installed ghc to `/Users/user/.stack/programs/x86_64-osx/ghc-7.10.2/bin` which works but it's the wrong version.

[2015-08-08 18:43] hannes-landeholm commented on #420
I think the main problem is that stack does not recognise ghc version differences that small. "ghc-7.10" is the smallest possible resolver it accepts. It doesn't really give me a good impression that the ghc maintainers think back compatibility breaking changes only deserve a build/revision increment.

You can clearly see the change here:
https://downloads.haskell.org/~ghc/7.10.1/docs/html/librari

[2015-08-08 21:02] gridaphobe commented on #420
The GHC developers take API compatibility very seriously, generally refusing to change APIs in minor releases. In this case there was a feature (the implicit call-stacks) that multiple people asked to have back-ported to 7.10.2 that caused the API change. GHC HQ compiled all of stackage against the change before consenting to the back-port and found only a single package that was affected. So they

[2015-08-08 21:17] hannes-landeholm commented on #420
Ah, very interesting. Thanks for the insightful response.

[2015-08-09 00:37] ranjitjhala commented on #420
Thanks a ton Eric!

[2015-08-10 23:29] gridaphobe commented on #420
LH should now compile against 7.10.2 as of 949d52af15aea6b5e2f9531d10b17c5bfb0c28ec, but **not** against 7.10.1.

This is because 7.10.2 includes some changes in the desugarer and using `CPP` to work around the differences would require cabal's `MIN_VERSION_*` macros, which IME tends to break things like `gcc-mod` and `hdevtools`.

@ranjitjhala if you and/or Ben can put together a few notes about

[2015-08-10 23:29] #420 closed

[2015-08-10 23:46] spinda opened #426 "Better error message when using predicate inline as expression"
Test case:

[code]

[code]

This should say something like "Can't use predicate inline gt as expression".

[2015-08-11 01:20] nikivazou commented on #426
Just to clarify, there is a sort check error in the type alias, as `gt v X` is a Boolean and cannot be compared to 0

[2015-08-11 01:37] ranjitjhala commented on #420
Eric, the stuff Ben and I are doing is *NOT* in fixpoint master so should
not affect this release IMO?

On Tue, Aug 11, 2015 at 4:59 AM, Eric Seidel <notifications@github.com>
wrote:

--
Ranjit.

[2015-08-11 01:46] ranjitjhala commented on #426
1. Well the sort-check would be an ok error too :)

​2. Was​ the error Michael had in mind the fact that `gt'` is undefined?

For the inline we need to be extra careful about the errors because not all
HS functions
are inlines; and the error really needs to explain whats bad...

[2015-08-11 02:26] spinda commented on #426
`gt'` is unrelated, I left that in by mistake.

[2015-08-11 02:36] spinda commented on #426
`Expr` can be embedded in `Pred` via the `PBexp` data constructor, so using an expression in a predicate context is fine. But when expanding a predicate (`Bool`) measure in an inline context, there's no way fit that `Pred` inside `Expr`, so the code panics with this bad error message.

Another case for merigng `Pred` and `Expr` eventually.

[2015-08-11 03:21] gridaphobe commented on #420
The --native flag and a bunch of changes to the SmtLib2 module are in master. Is that stuff not ready to be mentioned in the Readme/Changelog?

Sent from my iPhone

[2015-08-11 03:28] ranjitjhala commented on #420
Yes not ready -- probably there by mistake...

[2015-08-11 04:01] ranjitjhala commented on #426
Sounds like a sort error and should be reported as such ?

[2015-08-11 12:31] ranjitjhala opened #427 "Bogus Error in Measure Definition"
See this:

http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1439294454_1547.hs

aka: `tests/todo/doubleError.hs`

Right now, the error you get is:

[code]

This is because the user has written `Bool` instead of `Prop` -- and how are they to know! So fine,
if I change `Bool` to `Prop` that error goes away and it says "unsafe" (at the 6.0). I was mystified, how is this super complex thing prom

[2015-08-11 13:20] nikivazou commented on #427
So, the function `myprop` cannot be promoted to a measure because of its structure and this is why when you write
[code]
you get the (expected) Error.

The `measure` keyword is used in two cases

- `{-@ measure fromHaskell @-}` promotes the Haskell function `fromHaskell` into logic.
- `{-@ measure uninterpretedMeasure :: t @-}` _defines_ an uninterpreted measure `uninterpretedMeasure`. This behavi

[2015-08-11 13:36] ranjitjhala commented on #427
Do we really need the extra keyword? Why not just:

1 omit the type when there is a concrete measure Implementation;

2 supply the type for abstract measures

If you supply the type AND have an implementation that should be an error.

?

[2015-08-11 15:15] gridaphobe commented on #427
What if I want to use an abstract measure to talk about a Haskell function that cannot be lifted? For example, in Data.Text I used

    measure ord :: Char -> Int
    ord :: c:Char -> {v:Int | v = ord c}

to treat ord as an uninterpreted function, which was crucial for memory safety.

Sent from my iPhone

[2015-08-11 16:18] ranjitjhala commented on #427
Well in this case you could have as well named the measure something else -- no need to reuse the same name as the haskell function.

[2015-08-11 16:33] gridaphobe commented on #427
Sure, but I think reusing the Haskell name is most appropriate because it signifies unambiguously what the measure is supposed to denote.

[2015-08-11 16:43] ranjitjhala commented on #427
I see your point but there's also a bit misleading or confusing because a user may think arbitrary functions are magically converted into the logic which is, of course not the case...

[2015-08-11 16:57] gridaphobe commented on #420
@ranjitjhala here are all the commits in fixpoint's master since the last release, FYI

https://github.com/ucsd-progsys/liquid-fixpoint/compare/liquid-fixpoint-0.3.0.1...master#diff-d434977ac1a410b490aedf45f2ee7598

[2015-08-11 17:08] ranjitjhala commented on #420
Ah ok thanks!

So here's the deal: all the stuff actually belongs in cut solver but we've been pulling into master periodically to make sure we don't drift too far. But none of the changes are really "user facing" hence I thought no need to put anything into changes.md

Does that make sense?

[2015-08-12 10:32] nikivazou commented on #427
I agree with Eric. Also, as Ranjit said it is confusing to change the
semantics of the keyword 'measure' according to if there is a type
signature or not.

Let's create two different one-word keywords one for measure definition and
one for lifting.

That being said my question is what exactly is a measure? Did you introduce
it at Liquid types to denote the recursive logical functions? If so, the
s

[2015-08-12 11:11] ranjitjhala commented on #427
Good point: the second case is not really a measure, so maybe we should
just call it something else (and reserve measure for concrete things like
len, etc. which actually have implementations.)

On Wed, Aug 12, 2015 at 4:02 PM, Niki Vazou <notifications@github.com>
wrote:

--
Ranjit.

[2015-08-12 11:20] nikivazou commented on #427
Maybe just call the second case `function` (as uninterpreted is a scary word) or `definition`?

[2015-08-12 15:34] gridaphobe commented on #427
Instead of adding two new keywords, why not just one: `abstract`? We would partition measures more explicitly between those that have bodies (regular measures) and those that only have a signature (abstract measures). A few examples:

[code]

[2015-08-12 15:41] ranjitjhala commented on #427
Yes, this is probably the best thing IMO.

On Wed, Aug 12, 2015 at 9:04 PM, Eric Seidel <notifications@github.com>
wrote:

--
Ranjit.

[2015-08-12 17:46] nikivazou commented on #427
But we said that "abstract measures" are not measures. They are just
uninterpreted functions

On Wed, Aug 12, 2015 at 8:41 AM, Ranjit Jhala <notifications@github.com>
wrote:

--
Niki Vazou

[2015-08-12 17:56] gridaphobe commented on #427
Measures are also "just" uninterpreted functions. We just happen to add axioms about them whenever we see a DataCon

[2015-08-12 18:01] nikivazou commented on #427
I am not sure, but I think measures are uninterpreted functions PLUS the
axioms or recursive definitions. Ie, arbitrary uninterpreted functions are
NOT measures
On Aug 12, 2015 1:57 PM, "Eric Seidel" <notifications@github.com> wrote:

[2015-08-12 18:07] gridaphobe commented on #427
In my mind, measures are just a (very) convenient syntax for axiomatizing the behavior of uninterpreted functions. What's the difference between

[code]

and

[code]

We don't support the latter syntax at the moment IIRC, but there's no reason we couldn't.

[2015-08-13 01:13] ranjitjhala commented on #427
Agree with Eric.

Niki: just mentally replace measure with "property" or "thing". Now if you say

"Abstract thing" it just means a thing without any definitions or axioms (much like an "abstract class" in Java)

[2015-08-13 05:57] nikivazou commented on #427
Well, that goes back to my initial question: who introduced the term measure and what does it mean?

I have seen somewhere, I think in Colin's work, that measures where introduced by liquid types to measure the size of structures. But I never found the definition in the liquid types paper. If that is correct, then uninterpreted functions technically are not measures, but just uninterpreted functio

[2015-08-13 07:19] ranjitjhala commented on #427
This discussion has become too abstract to conduct over email ;)
let's defer to next week when I'm back?

Ps: it's introduced in the pldi09 paper.

[2015-08-14 00:07] rolph-recto commented on #425
It returns `Unsafe` now. Thanks!

[2015-08-14 00:07] #425 closed

[2015-08-24 17:56] christetreault opened #431 "Change how Configs are merged"
Currently, the Liquid Haskell `Config` type has a `Monoid` instance and this is used to merge configurations (environment variable + command linea args = `Config`).

After [some discussion](https://github.com/ucsd-progsys/liquid-fixpoint/issues/90#issuecomment-133581372) it seems that this might not be the best way. @gridaphobe suggested a new function `mergeConfig :: Config -> Config -> Config`,

[2015-08-24 18:22] gridaphobe commented on #431
That's not quite what I meant, so let me elaborate. My suggestion is that instead of having the config-parser return a full `Config` it should return a function from `Config -> Config`, e.g.

[code]

The comments are examples of how this function should behave, not a suggested implementation :) Then we could run the parser on the three different sources of flags and combine the resulting functions

[2015-08-24 18:48] ranjitjhala commented on #431
This seems too complicated.
Can someone remind me of what the problem is with chris' monoid suggestion?

[2015-08-24 18:57] christetreault commented on #431
My proposal is to get rid of the Monoid instance and just have a function that combines Configs where one takes precedence. This way we can not have to worry about being good people and [obey the law](https://hackage.haskell.org/package/base-4.8.1.0/docs/Data-Monoid.html)

That said, now that I read the monoid laws, I guess there's no real reason we can't obey them and still do what I suggest...

[2015-08-24 23:38] spinda commented on #431
Unless you're going to add `priority` as an actual field of `Config`, I don't think it's possible to follow both of these laws and have prioritization behavior:

    mappend mempty x = x
    mappend x mempty = x

Simpler to just replace the `Monoid` instance with a pair of `defaultConfig` and `mergeConfig` functions.

[2015-08-24 23:38] gridaphobe commented on #431
The problem with merging `Config`s (whether or not we use a `Monoid` instance) is that each source of `Config`s specifies a **partial** `Config`. Suppose I have the following file `foo.hs`

[code]

and run liquid on it with

[code]

Since cmdline flags usually take precedence over all else, this invocation of liquid should turn **on** the termination checker. However, we currently merge `Config`s

[2015-08-24 23:45] christetreault commented on #431
This must be a solved problem. The command line parser library probably has some way to handle this...

[2015-08-25 00:01] gridaphobe commented on #431
Well, I suspect most programs don't have to deal with parsing flags from multiple sources. On the other hand, they certainly have to deal with sequences of flags like `--termination --no-termination` in a single source. So you're right that the library must be able to deal with this kind of scenario, we're just not giving it all the data at the same time!

A potentially really easy way to fix this

[2015-08-25 00:07] spinda commented on #431
The `Mode` passed to `cmdArgsRun` has a field `modeValue`, the starting
value that updates are applied to as flags are processed. Set that field to
the previous (lower-priority) `Config` value when calling `cmdArgsRun`.

On Mon, Aug 24, 2015, 17:01 Eric Seidel <notifications@github.com> wrote:

[2015-08-25 00:25] christetreault commented on #431
@gridaphobe I just checked, you can duplicate fields on the command line, and it will take the rightmost:

[code]

this attempts to solve on 3 cores. This strikes me as a bit of a hack though...

@spinda Your idea seems to have promise to me, however the way I read it, this wants the Config to have multiple constructors like:

[code]

... with all fields duplicated. Then we could have Command line

[2015-08-25 00:34] spinda commented on #431
Are you referring to my first or second reply? The second is how to
implement @gridaphobe's solution with `cmdargs`.

On Mon, Aug 24, 2015, 17:25 Chris Tetreault <notifications@github.com>
wrote:

[2015-08-25 00:42] spinda commented on #431
Here, this is what I mean. From `CmdLine.hs`:

[code]

Change this to:

[code]

`cmdArgsRun` takes a value of type `Mode (CmdArgs Config)`. This value contains a starting value of `Config` to make changes to. Normally, this would bee the default `Config`. By changing this starting value to the `Config` parsed from the environment variable, we have `cmdArgsRun` make its modifications to the environ

[2015-08-25 00:45] gridaphobe commented on #431
The right-to-left behavior does seem strange at first (ie shouldn't conflicting flags trigger an error?) but if you think about it in the context of shell scripts and Makefiles, it's really the only sane thing to do.

Scripts commonly have to construct large command that combine flags from different sources, but the flags are just strings from the script's point of view. It would be a horrible dup

[2015-08-25 19:06] christetreault commented on #431
@spinda I think I'm following now. I'll give your suggestion a shot.

[2015-08-25 19:15] christetreault commented on #431
@spinda OK, I'm following now. So we get a `Config` from `envConfig`, then pass it to `CmdArgs` to update, rather than letting `CmdArgs` construct a new config. This should solve the defaults overwriting the passed-in arguments issue.

Now I just have to figure out at what point liquidhaskell parses the source files and updates the config with pragmas.

[2015-08-25 20:06] gridaphobe commented on #431
@christetreault you're looking for https://github.com/ucsd-progsys/liquidhaskell/blob/master/src/Language/Haskell/Liquid/GhcInterface.hs#L79-L80

In particular, you probably want to tweak the `withPragmas` function (https://github.com/ucsd-progsys/liquidhaskell/blob/master/src/Language/Haskell/Liquid/CmdLine.hs#L250), which updates the `Config` with the file pragmas.

Interestingly, this has to ha

[2015-08-25 22:17] ranjitjhala opened #432 "Refinements containing function-sorted symbols"
@nikivazou  `liquid tests/pos/ResolvePred.hs` generates an .fq file with a binder:

[code]

basically: there is a refinement containing a function-sorted sub-expression. This seems
to work with the OCAML fixpoint (god knows why, perhaps because the reft is "pruned" away?)
but does not work with the new Haskell solver because it doesn't do any such black magic.

Q: Is it possible to **not** generat

[2015-08-26 00:44] christetreault commented on #431
@gridaphobe you mentioned a [--termination](https://github.com/ucsd-progsys/liquidhaskell/issues/431#issuecomment-134414802) flag in a previous post. Is this a real flag? I tried in while testing my fix and I just get the help message...

[2015-08-26 01:14] christetreault commented on #431
I just pushed [a change](https://github.com/ucsd-progsys/liquidhaskell/blob/merge-config/src/Language/Haskell/Liquid/CmdLine.hs) based on @spinda's suggestion that *should* fix this.

I'll test it some more tomorrow and submit a pull request if all looks well.

[2015-08-26 01:55] gridaphobe commented on #431
@christetreault looks like it isn't a real flag. I thought that cmdargs automatically recognizes `--no-foo` for every boolean flag `--foo` (which would actually make it `--no-notermination`) but it doesn't seem to.

What does work however is `--notermination={true,false}`.

[2015-08-26 16:18] christetreault opened #433 "Should test suite ignore LIQUIDHASKELL_OPTS environment variable"
While testing my fix for I had set `export LIQUIDHASKELL_OPTS=--no-termination`, and imagine my surprise when half the test suite failed.

Should the test suite ignore this environment variable?

[2015-08-26 16:29] christetreault commented on #431
Well, I thought I had a fix for this, but my fix has the priority file > cmdline > env. Since we [have to parse the file last](https://github.com/ucsd-progsys/liquidhaskell/issues/431#issuecomment-134722189), we can't use @spinda's suggestion to merge the configs. It seems we'll need some function `merge :: Config -> Config -> Config` after all...

[2015-08-26 16:29] gridaphobe commented on #433
Seems reasonable, and not too hard to accomplish (I guess just add an `unset LIQUIDHASKELL_OPTS` to https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/test.hs#L146)

[2015-08-26 16:30] christetreault commented on #433
I was thinking we could do some `withEnv` trickery before we shell out?

[2015-08-26 16:37] gridaphobe commented on #433
You can specify an environment in the `createProcess` call at https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/test.hs#L123. I suppose running the test in an empty environment (i.e. `env = Just []`) should be fine.

[2015-08-26 16:39] christetreault commented on #433
I'm running the tests for your first suggestion right now. If that doesn't work I'll give your second a shot.

[2015-08-26 17:01] christetreault commented on #433
Your first solution worked, PR submitted: #434

[2015-08-26 17:02] gridaphobe commented on #431
I might be wrong about the priorities, file > cmdline > env is probably fine.

Sent from my iPhone

[2015-08-26 17:03] christetreault commented on #431
@gridaphobe If that is the consensus, then my fix is one PR away! It would certainly be a lot easier...

[2015-08-26 17:34] gridaphobe commented on #431
If you want, you could do a quick check to see how GHC handles conflicting options from the cmdline and an `{-# OPTIONS_GHC .. #-}` pragma. But I'd be happy to just do the file > cmdline > env priority.

[2015-08-27 15:47] gridaphobe commented on #431
Closed by #436

[2015-08-27 15:47] #431 closed

[2015-08-28 21:34] nikivazou opened #438 "Check well formedness of type constructors."
There is no check of well formedness on type constructors.
See the following
[BadArguments.hs](https://github.com/ucsd-progsys/liquidhaskell/blob/9e447caf9c5403f912f0ef3170540385bf7c848d/tests/todo/BadArguments.hs)

where `List` is given 2 arguments instead of 1 without LiquidHaskell giving any error.

[2015-08-29 00:32] spinda commented on #438
This check is supposed to handle that:

https://github.com/ucsd-progsys/liquidhaskell/blob/master/src/Language/Haskell/Liquid/Bare/OfType.hs#L224

[2015-08-29 00:32] spinda commented on #438
Ah, of course, it's only checking for synonyms. Should be expanded to normal tycons as well.

[2015-08-29 00:35] nikivazou commented on #438
I see! Yes, let's expand it to normal ty cons!
On Aug 28, 2015 5:32 PM, "Michael Smith" <notifications@github.com> wrote:

[2015-09-02 18:57] nikivazou opened #441 "Allow inlines in termination metrics"
e.g., the following now returns `Bad Termination Specification`

[code]

[2015-09-03 23:37] christetreault opened #442 "Dead code in CmdLine.hs"
While trying to reduce duplication in the configs today, I found [this gem](https://github.com/ucsd-progsys/liquidhaskell/blob/master/src/Language/Haskell/Liquid/CmdLine.hs#L208-L213):

[code]

It seems to me that the `Nothing` case is dead code. Since there is a default value for `smtsolver cfg` (should be `Just Z3`) this code will always take the `Just _` branch. This is bad because there is log

[2015-09-03 23:37] christetreault commented on #433
Fix is merged, closing issue.

[2015-09-03 23:37] #433 closed

[2015-09-03 23:46] ranjitjhala commented on #442
sounds good to me!

On Thu, Sep 3, 2015 at 4:37 PM, Chris Tetreault <notifications@github.com>
wrote:

--
Ranjit.

[2015-09-04 00:11] gridaphobe commented on #442
@christetreault I don't follow your reasoning, we use `def` [1] [2] to instantiate the default `smtsolver` value. The `smtsolver` field takes a `Maybe SmtSolver` and

[code]

A simple way to definitively check whether the branch is dead code is to replace it with `undefined` and not provide a `--smtsolver` flag :)

[1]: https://github.com/ucsd-progsys/liquidhaskell/blob/master/src/Language/Haskell

[2015-09-04 00:59] christetreault commented on #442
Ah yes, right you are. However, I still don't understand why we have to carry around this maybe value for the smt solver. Why not just default to Z3, and handle the case where it's not on the system?

[code]

Having this maybe implies that we can leave this function with a `Nothing` value, but it seems we never do...

[2015-09-04 04:16] gridaphobe commented on #442
How would you then distinguish between no `--smtsolver` argument, in which case we should look for any solver, and `--smtsolver=z3`, in which case we should only look for z3?

This is one of those cases where LH itself would be very handy, the final `Config` will always have a `Just` in the solver field, and we could easily prove it.

[2015-09-04 15:34] christetreault commented on #442
The first line `solverExists <- findSmtSolver $ smtsolver cfg` ensures that what they picked is installed. If we default to Z3, and the user doesn't provide a value for `--smtsolver`, then the value will be Z3.

In any case, we check for the value of `--smtsolver` (Either the default Z3, or whatever other solver they specify), and if it is installed, we enter the just branch. If it's not installed

[2015-09-05 00:28] bmcfluff opened #443 "Function call to non-constant"
See:

https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/pos/ResolvePred.hs

In the fq file, the function ResolvePred.C#rpw is not a Constant but it is applied in refinements.

[2015-09-05 22:36] ranjitjhala commented on #443
Should be fixed by:

https://github.com/ucsd-progsys/liquidhaskell/commit/9dcaaae944611145898cf39dc89a6b5e340d69b1#diff-6409f1f998798a468b29e8bb8e2a82e3R203

in particular, [this PR](https://github.com/ucsd-progsys/liquidhaskell/pull/444).

[2015-09-08 15:48] #442 closed

[2015-09-08 19:33] bmcfluff commented on #443
The fix worked; closing. (ResolvePred still fails but for an unrelated reason now.)

[2015-09-08 19:33] #443 closed

[2015-09-09 06:04] nikivazou opened #446 "bad syntax examples"
@gridaphobe and I started the file [Syntax.md](https://raw.githubusercontent.com/ucsd-progsys/liquidhaskell/master/Syntax.md) that has examples of bad current liquidHaskell syntax and what we want to have instead.

Fill in more such examples.

[2015-09-11 23:25] #432 closed

[2015-09-11 23:34] nikivazou opened #453 "Failing tests on master"
This commit https://github.com/ucsd-progsys/liquidhaskell/commit/a74ce288b84fb0176066ea2321df6e39577a7a3a broke the following tests

- Data/Vector/Algorithms/Insertion.hs
- Data/Vector/Algorithms/Common.hs
- Data/Vector/Algorithms/Merge.hs
- Data/Vector/Algorithms/Intro.hs
- Data/Vector/Algorithms/AmericanFlag.hs
- Data/Vector/Algorithms/Radix.hs
- Data/Vector/Algorithms/Search.hs
- Data/Vector/Al

[2015-09-11 23:40] ranjitjhala commented on #453
Oddly,

[code]

says SAFE locally, on my machine. Will pull and rebuild from `master`...

On Friday, September 11, 2015, Niki Vazou <notifications@github.com> wrote:

--
Ranjit.

[2015-09-12 00:44] ranjitjhala commented on #453
hmm. I'm having trouble replicating,

stack exec -- liquid -i benchmarks/vector-algorithms-0.5.4.2/
benchmarks/vector-algorithms-0.5.4.2/Data/Vector/Algorithms/Insertion.hs

happily returns SAFE for me, on 'master'.

@nikivazou -- can you replicate this problem?

On Friday, September 11, 2015, Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

--
Ranjit.

[2015-09-12 00:48] gridaphobe commented on #453
@ranjitjhala the tests only fail on ghc-7.8.4, so you'll probably need to use 784 to reproduce it locally.

Here are the failure logs: https://travis-ci.org/ucsd-progsys/liquidhaskell/jobs/79333768#L1387-L1403

[2015-09-12 01:03] ranjitjhala commented on #453
Ah tis but a single edit with stack...

[2015-09-12 03:23] ranjitjhala commented on #453
@nikivazou the issue is this:

[code]

In the particular commit, all top-level data-constructors (including functions) are also declared as `constants` -- the important diff is

`Language/Haskell/Liquid/Bare/Measure.hs` in `isSimpleType`

but something about the `constant` sort checking in particular `checkTcArity` is complaining about the above. Why is that check failing? In particular, why does

[2015-09-12 03:24] ranjitjhala commented on #453
Or is this some corner case bug in the GHC 784 API ?

[2015-09-12 04:09] nikivazou commented on #453
Looks like at GHC 784 they changed the type of `GHC.Prim.~#` but will look
at it closer tomorrow.

On Fri, Sep 11, 2015 at 8:24 PM, Ranjit Jhala <notifications@github.com>
wrote:

--
Niki Vazou

[2015-09-14 07:27] nikivazou commented on #453
The third argument applied to `GHC.Prim.~#` is a kind variable. I pushed a fix at #454  that just ignores all kinds and waiting for Travis to see if anything breaks.

[2015-09-14 08:24] nikivazou commented on #453
Closed with #454

[2015-09-14 08:24] #453 closed

[2015-09-14 16:44] ranjitjhala commented on #453
Any idea why this works fine on 7.10 ?

On Monday, September 14, 2015, Niki Vazou <notifications@github.com> wrote:

--
Ranjit.

[2015-09-14 17:09] nikivazou commented on #453
I believe because the kind variable was not explicit at 7.10.

Now they are explicitly abstracting and instantiating over kinds.
On Sep 14, 2015 9:44 AM, "Ranjit Jhala" <notifications@github.com> wrote:

[2015-09-16 19:06] abakst opened #457 "Adding qual makes program "Unsafe""
Deleting the qualifier "ActiveEq" is sufficient to verify the file "FindRec.hs":
https://github.com/ucsd-progsys/liquidhaskell/blob/9f07542752cf7ea145e241778b4bb8a8535177dc/benchmarks/icfp15/todo/FindRec.hs#L139

[2015-09-16 19:13] ranjitjhala commented on #457
Well thats a first!

Can you generate the .fq files with and without the qual and post them
somewhere fixpoint so we can look there.

(I assume they give different results -- and hence, that this is a fixpoint
issue.)

- Ranjit.

On Wednesday, September 16, 2015, Alexander Bakst <notifications@github.com>
wrote:

--
Ranjit.

[2015-09-21 03:58] ranjitjhala opened #460 "Missing Annotations (with GHC 7.10)"
(I thought this was fixed but maybe this is a different problem.)

When I run `tests/todo/bar.hs` I _don't_ get the right annotation for the recursive call to `bar`. Is this because of the `SourceSpanTick` issues? Or something else?

For example, the `LOCBINDS` trace in `Annotate.hs` yields this in 784

[code]

but this in 710 (note it has no info for the binder at line 8:18-21

[code]

@gridaphob

[2015-09-21 04:49] gridaphobe commented on #460
That's strange, I ended up reverting to our custom desugarer for 710, so I wouldn't expect this difference.. Will investigate!

[2015-09-21 14:18] ranjitjhala commented on #460
Yes it may be something else though, not sure what...

[2015-09-21 16:58] christetreault opened #461 "Cabal file versioning needs to be maintained"
The problem:

In our `liquidhaskell.cabal` file, we don't have version number requirements on any of our dependencies. This means that for any dependency, `cabal-install` will attempt to install the latest version of it, probably resulting in breakage as you try to install older versions of Liquid Haskell.

This is especially a problem with Liquid Fixpoint, as it seems that we introduce breaking a

[2015-09-21 17:50] ranjitjhala commented on #461
Yes please go ahead with this! It will be super valuable!

[2015-09-21 17:54] christetreault commented on #461
OK, I'll make it happen. This is blocking the performance monitor anyways, so it'll help me progress to get this done.

[2015-09-21 20:01] christetreault commented on #461
Do we follow the PVP guidlines when setting version numbers for liquid and fixpoint? i.e., can I assume that fixpoint version A.B.(C + 1) doesn't break anything from A.B.C?

[2015-09-21 20:25] gridaphobe commented on #461
I try to follow them, yes.

[2015-09-21 20:46] christetreault commented on #461
@gridaphobe: We currently have breakage with fixpoint. If we install 0.4.0 from hackage, we get a compilation failure. If we install "0.4.0" from github, it works.

Should we bump the version of the github version to 0.5 now? I assume you intend to make the next version 0.5 rather than 0.4.1 since there is breakage? I'll make liquidhaskell in the repo depend on 0.5 so it won't try to install from

[2015-09-21 20:52] gridaphobe commented on #461
YES, that would be wonderful, but perhaps hard to remember when you're hacking on fixpoint in-the-moment. What I used to to (and apparently forgot this time) is pre-emptively bump the major version after tagging a release.

[2015-09-21 20:57] christetreault commented on #461
I think that would work too, except in the case where you need to do a "whoops, forgot something! better push a minor version bump to hackage". Though it'd likely be much easier to remember to do.

Shall I bump fixpoint's version number for you?

[2015-09-21 21:15] christetreault commented on #461
Do we actually support GHC 7.8.3? https://github.com/ucsd-progsys/liquidhaskell/blob/master/liquidhaskell.cabal#L104

It doesn't seem like we have travis checking it any more...

[2015-09-24 15:26] christetreault commented on #461
This is implemented in PR https://github.com/ucsd-progsys/liquidhaskell/pull/464

[2015-09-24 15:26] #461 closed

[2015-09-24 18:27] christetreault opened #467 "Failing tests on master"
I'm getting the following test suite failures in the current master build:

[code]

[2015-09-24 18:27] christetreault commented on #467
Are these lines correct? https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/test.hs#L97-L98

[2015-09-24 18:36] nikivazou commented on #467
I will rearrange the test.
The lines are corrent, but why does not Travis check these tests?

[2015-09-24 18:46] christetreault commented on #467
`testGroup "eq_neg" <$> dirTests "tests/equationalproofs/pos"` is correct? If so, this line is very confusing to me. It seems to me to be the sort of thing some maintainer 5 years from now will screw up...

[2015-09-24 18:46] gridaphobe commented on #467
@nikivazou you need to tell travis to check them in `.travis.yml`

https://github.com/ucsd-progsys/liquidhaskell/blob/master/.travis.yml#L15-L27

Unfortunately our testsuite is too large to run in a single session.

[2015-09-24 18:49] nikivazou commented on #467
Oh, yes, or I can just add them to Unit, right?

On Thu, Sep 24, 2015 at 11:46 AM, Eric Seidel <notifications@github.com>
wrote:

--
Niki Vazou

[2015-09-24 18:56] nikivazou commented on #467
@christetreault is it fixed now?

[2015-09-24 19:12] christetreault commented on #467
`eq_pos` is good. `eq_neg` is still broken:

[code]

On my machine, changing [Line 87](https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/test.hs#L87) to `testGroup "eq_neg" <$> dirTests "tests/equationalproofs/neg` makes the test pass.

[2015-09-24 19:36] nikivazou commented on #467
Of course you need this change... Sorry. Can you push it?

On Thu, Sep 24, 2015 at 12:12 PM, Chris Tetreault <notifications@github.com>
wrote:

--
Niki Vazou

[2015-09-24 22:27] ranjitjhala commented on #467
I was fiddling around with these, didn't realize they were in the regressions!
but have removed `Append-rj.hs` and nothing in the `neg/`

[2015-09-24 22:30] ranjitjhala opened #468 "Name Resolution and Type Alias Expansion"
In `tests/todo/append-bug-name.hs` the check for
`prop_app_nil_ok` works fine, but `prop_app_nil_bad` doesn't.

The only difference is the type of axiom_append_nil_{bad, ok},
in which the only difference is that one uses the {...N...} while
the other does not. For some reason this yields two **different**
refinements, one with `Append.N` and one with `N`, which
causes the problem.

In short, there

[2015-09-24 23:29] christetreault commented on #467
@nikivazou Sorry, had to go to class. I just re-tested and we're good now, thanks!

[2015-09-24 23:29] #467 closed

[2015-09-24 23:47] nikivazou commented on #468
It turns out that there is no well formed-ness check in the "assumed" types.
If you remove the `assume` from the type and have

[code]

You will get the real name resolution error, that is

[code]

[2015-09-25 16:47] #468 closed

[2015-09-27 18:37] gridaphobe opened #471 "Wrong location for failed totality check"
See http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1443377767_3765.hs, which I was going to post in response to a [reddit comment](https://www.reddit.com/r/haskell/comments/3ml608/erik_meijer_tweet_using_maybe_just_moves_the_null/cvfy09k).

The error is reported at line 10, highlighting only the `main` binder, when the "actual" problem is the `case` expression on line 11. If you look at th

[2015-09-28 23:58] nikivazou opened #473 "Cannot import bounded types"
[ImportBound](https://github.com/ucsd-progsys/liquidhaskell/blob/febc46952ce2de1085f2f4dadf936a9af8c3ae61/tests/todo/ImportBound.hs) defines the bound `Chain` that is later used in the type of `by` from [UseBound](https://github.com/ucsd-progsys/liquidhaskell/blob/febc46952ce2de1085f2f4dadf936a9af8c3ae61/tests/todo/UseBound.hs)

Verification of `UseBound` crashes with
[code]

[2015-10-05 18:36] christetreault opened #479 "Crash due to Holes in Function Types"
I'm getting the following benchmark failure on the master branch:

[code]

It seems that the hscolour benchmark suite is in a git submodule, which may or may not have anything to do with it. All other source files in this subfolder pass.

`XMonad.hs` is also in a git submodule, and if this is somehow the cause of this issue, it might fail also. However, nothing in XMonad folder got tested for what

[2015-10-05 19:24] spinda commented on #479
Can you try `git submodule update --recursive`?

I supect it's not the submodules, though, but a bug that's been allowed to creep in since the `HsColour` benchmark isn't enabled on Travis.

[2015-10-06 05:06] christetreault commented on #479
No luck, same result.

[2015-10-06 05:11] christetreault commented on #479
And while I'm looking at it, it seems that xmonad isn’t in the benchmarks suite. Is this intentional?

[2015-10-06 14:01] ranjitjhala commented on #479
These should NOT be sub modules ...  Perhaps the result of stale .git directories -- can we remove them?

[2015-10-07 01:03] nikivazou opened #483 "DsExpr crashes on Template Haskell"
If I run liquid on a file that contains some template haskell, for example in [TemplateHaskell.hs](https://github.com/ucsd-progsys/liquidhaskell/blob/e9a2d9932da1efd11d9f6c1b0f2daeb17fa87732/tests/todo/TemplateHaskell.hs)
 it will crash with `dsExpr HsBracketOut`.
Specifically, it will hit this panic: [DsExpr.lhs](https://github.com/ucsd-progsys/liquidhaskell/blob/master/src/Language/Haskell/Liqui

[2015-10-07 01:19] gridaphobe commented on #483
This is a longstanding problem for us. You can try compiling liquid with `-DGHCI` to trigger the other branch, but IIRC that causes other things to crash instead.

[2015-10-09 04:18] ranjitjhala commented on #479
It has nothing to do with submodule, but is the same problem as (the new) `tests/pos/hole-fun.hs`
assigning @gridaphobe

[2015-10-16 16:16] christetreault opened #490 "Drop support for GHC 7.8.4"
As decided in our meeting, we are dropping support for GHC 7.8.4. To this end, we need to:

* Remove it from `liquidhaskell.cabal`
* Remove CPP macros supporting 7.8.4

If anybody can think of anything else, feel free to add it to the comments.

[2015-10-16 16:28] ranjitjhala commented on #490
You mean ghc 784?

[2015-10-16 16:29] christetreault commented on #490
Lol, no, we're only supporting hugs now, remember? :P

Fixed

[2015-10-20 17:28] nikivazou opened #493 "Autosize annotation breaks automatic measure lifting"
Apparently `autosize` on data types provides strict types to data constructors and then they cannot be used for automatic measure lifting.

See [todo/LambdaDeBruijn.hs](https://github.com/ucsd-progsys/liquidhaskell/blob/fc23e9cb430c5bac59a426a54500179893bfdfad/tests/todo/LambdaDeBruijn.hs)

[2015-10-20 18:30] bmcfluff opened #494 "Unknown Constant"
Hopefully-final instance of https://github.com/ucsd-progsys/liquid-fixpoint/issues/134: tests/todo/pair0.hs crashes with --native

[2015-10-20 18:33] nikivazou commented on #494
Will look at it asap!

[2015-10-20 20:48] nikivazou opened #495 "Bug in Name Resolution in Type aliases"
The code in [todo/LambdaDeBruijn0.hs](https://github.com/ucsd-progsys/liquidhaskell/blob/d32671517e3eb859e1f5512fb3d5de4bf9eb8e31/tests/todo/LambdaDeBruijn0.hs) is UNSAFE, but turns safe I change the refinement variable [e -> v] in [line 27](https://github.com/ucsd-progsys/liquidhaskell/blob/d32671517e3eb859e1f5512fb3d5de4bf9eb8e31/tests/todo/LambdaDeBruijn0.hs#L27-L28) (i.e. replace line 27 with

[2015-10-20 20:52] gridaphobe commented on #495
What is the bug, some kind of variable capture? Is the code expected to be safe or unsafe?

[2015-10-20 20:55] nikivazou commented on #495
I expect it to be safe.

See https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/LambdaDeBruijn0.hs#L26-L30

[2015-10-20 21:20] gridaphobe commented on #479
Fixed by #492

[2015-10-20 21:20] #479 closed

[2015-10-21 18:42] bmcfluff commented on #494
DBMovies.hs seems to have the same problem

[2015-10-22 03:25] nikivazou commented on #495
@gridaphobe the issue does not seem fixed. `pos/LamdaDeBrujin0.hs` is still failing.

[2015-10-22 04:43] gridaphobe commented on #495
@nikivazou did you `git submodule update` after pulling master? The fix was in fixpoint, so a submodule bump is necessary.

[2015-10-22 04:44] nikivazou commented on #495
But, it failed in Travis

[2015-10-22 04:45] gridaphobe commented on #495
Oh wait, the fixpoint commit was changed again...

[2015-10-22 17:13] gridaphobe commented on #495
fixed for real now

[2015-10-22 17:13] #495 closed

[2015-10-22 17:53] nikivazou commented on #495
Thanks!

On Thu, Oct 22, 2015 at 10:13 AM, Eric Seidel <notifications@github.com>
wrote:

--
Niki Vazou

[2015-10-26 17:59] christetreault commented on #490
Should be closed by: https://github.com/ucsd-progsys/liquidhaskell/pull/500

[2015-11-04 03:42] nikivazou commented on #494
Fixed on https://github.com/ucsd-progsys/liquidhaskell/commit/c98647fd44653d11893734819e05a38bfcc62256

[2015-11-04 03:42] #494 closed

[2015-11-04 17:43] #490 closed

[2015-11-05 00:26] ranjitjhala opened #505 "Tidy up error messages and inferred types"
See the gross refinements inferred for `map` and the error messages mentioning the unbound `lq_karg_VV` in `tests/todo/Foo.hs` should fix `Tidy` to take care of these...

[2015-11-09 17:50] christetreault opened #508 "Diffcheck not rechecking caller of updated function"
Consider the following:

[code]

`badFn` calls `badDep` with 0, but its liquid type signature expects 3. This is not safe. Suppose calling `badDep 0` is actually the correct behavior, and we want to fix the real bug: its type signature. So we give it the liquid type `{-@ badDep :: Zero -> Bool @-}`:

[code]

If we now rerun liquid, it will check badDep, and will not check badFn. Due to this, it wi