[2015-11-09 18:07] gridaphobe commented on #508
Can you split the example into a *before-* and *after-* edit? I'm a bit confused.

[2015-11-09 18:15] christetreault commented on #508
Done.

[2015-11-11 02:03] christetreault commented on #508
I have a preliminary fix in for this issue. It still needs more extensive testing, but it passes the case that I cited above as being a failure and all others that I've tried so far. Since our test suite isn't really set up to test this sort of thing, I'd like to ask @ranjitjhala, @gridaphobe, @nikivazou and whoever else to please take a look and see if you can find any issues with the fix. Import

[2015-11-11 04:21] ranjitjhala commented on #508
Super, thanks -- will look at this ASAP! (Would probably have helped to go
over in person -- if nothing else need to page in DiffCheck -- but won't be
in tomorrow natch.) Perhaps Friday?

On Tuesday, November 10, 2015, Chris Tetreault <notifications@github.com>
wrote:

--
Ranjit.

[2015-11-11 06:41] christetreault commented on #508
I responded on the slack. I just wanted to throw the can over the fence on this one. We can talk in person. I'll clean up the code in the meantime and do some more testing to make sure nothing broke.

[2015-11-17 05:48] sorawee opened #514 "div doesn't work?"
I got the following Liquid Type Mismatch

[code]

Let's substitute:

[code]

and they are indeed equal. Yet, I got a Liquid Type Mismatch.

[2015-11-17 05:58] ranjitjhala commented on #514
In general, no -- as this is non-linear arithmetic. But In this case, the divisor is a constant `2` and I thought we'd fixed this issue, but clearly not! Can you send a link to the source (that generates the
above error?) Thanks!

[2015-11-17 06:01] sorawee commented on #514
Oh, maybe it's because I'm using 0.5.0.1, then. I will pull the latest version and try again. Thanks for a quick response!

[2015-11-17 06:19] ranjitjhala commented on #514
Nope that's unlikely to solve it ... :( I think this goes further back...

However: can you try running with "--real" which  runs the (experimental) non linear arithmetic theory?

[2015-11-17 06:20] sorawee commented on #514
Yup, `--real` works!

[2015-11-17 06:28] sorawee commented on #514
Well, no, I could replace the number with _anything_, and the result will still be SAFE. Here's the code: http://pastebin.com/0taqWLYS

[2015-11-17 13:45] ranjitjhala commented on #514
Hmm, just tried it out -- seems to be doing the right thing for me. e.g. if I change `s-1` to `s-10` or the divisor from `2` to `3`. Did you mean something else? (Could of course be some bug that has been fixed -- I'm running `github:master`)

<img width="1280" alt="screen shot 2015-11-17 at 5 41 42 am" src="https://cloud.githubusercontent.com/assets/1650232/11212994/5868b19e-8cee-11e5-87f0-7b0c96

[2015-11-17 13:50] ranjitjhala commented on #514
PS: I also get errors if I do the above i.e. `1` --> `10`  or `2` --> `3` on the other constructor on the line...

[2015-11-17 16:18] sorawee commented on #514
I just pull the latest version from the repo. It works even without `--real`. I also notice the following:

- `((s) `div` 2)` -> SAFE
- `((s - 1) `div` 2)` -> SAFE
- `((s - 2) `div` 2)` -> SAFE
- `((s - 3) `div` 2)` -> UNSAFE
- `((s - 4) `div` 2)` -> UNSAFE
- `((s - 5) `div` 2)` -> UNSAFE
- `((s - 6) `div` 2)` -> UNSAFE
- `((s - 7) `div` 2)` -> UNSAFE
- `((s - 8) `div` 2)` -> SAFE
- `((s - 9) `div

[2015-11-17 16:52] ranjitjhala commented on #514
Hmm... When I try `s - 2`, `s - 8` or  `s - 10` I still get
UNSAFE (in either of the two positions at that same line.)
However, `s div 2` is SAFE, which seems right.

<img width="1280" alt="screen shot 2015-11-17 at 8 47 07 am" src="https://cloud.githubusercontent.com/assets/1650232/11218102/5f5d8b86-8d08-11e5-8970-af7517c35235.png">

I wonder if somehow you are running a stale version? Are you bu

[2015-11-17 16:53] sorawee commented on #514
Yup, I built it with stack, literally an hour ago.

--
Sent from phone. Please pardon terseness and mistakes.
On Nov 17, 2015 11:52 AM, "Ranjit Jhala" <notifications@github.com> wrote:

[2015-11-17 16:55] nikivazou commented on #514
Same here...

I just tried the example, for me only `s div 2` and `(s-1) div 2` are SAFE and all the other `(s - *) div 2` that you have above are UNSAFE. This is quite strange.

How are you running liquid? (via terminal or interactively?)

Also, the type of `div` is
[code]
You could try give `div` a different type that captures more precisely what you want to prove.

[2015-11-17 16:56] ranjitjhala commented on #514
wonder if _my_ version is stale let me rebuild :)

On Tue, Nov 17, 2015 at 8:53 AM, sorawee <notifications@github.com> wrote:

--
Ranjit.

[2015-11-17 17:17] ranjitjhala commented on #514
@nikivazou, the first conjunct is as precise as we want. The latter ones we
should probably remove...

How recent is your build...? (I wonder if this is a recent bug, let me
rebuild...)

On Tue, Nov 17, 2015 at 8:55 AM, Niki Vazou <notifications@github.com>
wrote:

--
Ranjit.

[2015-11-17 17:51] ranjitjhala commented on #514
hmm... latest version is also working fine (i.e. reporting errors for `s-2`, `s-8`, `s-10` for me...)

[2015-11-17 17:52] nikivazou commented on #514
My build is master. What bug? The results you and me are getting seem the expected ones. I suspect a diff-check error. This is why I asked @sorawee  how he runs liquid.

[2015-11-17 17:55] ranjitjhala commented on #514
I meant *maybe* there is a recent bug, but it seems not because I get the correct results with my master build too. I don't think there is any diff-check going in (its not there in the code in the paste-bin.)

[2015-11-17 18:00] sorawee commented on #514
I run it via terminal on Mac OS X 10.11.1. I use Z3 version 4.4.2 as the SMT solver (built four days ago from the Z3 repo). Here's the full result in case you want to see it: http://pastebin.com/ftKa3jxx

[2015-11-17 18:12] ranjitjhala commented on #514
Hmm. When I copy your exact file, I get a rather different result:

http://pastebin.com/YRnacYhv

I wonder if its a z3 bug (I'm on Z3 4.3.1) -- not unlikely given
the specific issue here -- the different outcomes if we plug in
10, 8, 2 etc. (which should really just change the constants in
the VCs).

@sorawee: can you try with z3 - 4.3.1?

@nikivazou: can you try with z3 - 4.4.1?

On Tue, Nov 17,

[2015-11-17 18:13] nikivazou commented on #514
I get unsafe too.
Can you add the following line in your code (just in case)

[code]

[2015-11-17 18:14] nikivazou commented on #514
Also, can you show us the liquid error that you get when you get UNSAFE?

[2015-11-17 18:18] sorawee commented on #514
Adding a refinement for `div` doesn't help. It's still SAFE.

I don't know if I interpret your question correctly or not. I couldn't show you the liquid error for `s - 10` because the problem is that I get SAFE (and thus no error), while it shouldn't.

However, if you want to see errors in general case, here it is (with `s - 9`):

[code]

I will try different version of Z3 soon.

[2015-11-17 18:26] ranjitjhala commented on #514
Yes the signature for `div` is not relevant here IMO (as long as you leave
the `/` in).

I'm willing to put money on this being a Z3 problem...

​

[2015-11-17 18:33] nikivazou commented on #514
This is the answer to my question, but it did not help me understand what is going wrong.. You should have one more line like
[code]
right?

A next attempt to find what is going wrong: can you run liquid with `--extsolver`.
Then go to the `.liquid` directory, find an `name-of-your-haskell-file.hs.fq` file and send it to us?
Alternatively, you can just try another SMT solver.

@ranjitjhala with the

[2015-11-17 18:38] ranjitjhala commented on #514
@nikivazou -- yes, just do:

[code]

On Tue, Nov 17, 2015 at 10:33 AM, Niki Vazou <notifications@github.com>
wrote:

--
Ranjit.

[2015-11-17 18:41] nikivazou commented on #514
But there is no `.fq` file created when I run liquid

[2015-11-17 18:42] sorawee commented on #514
Yup, problem with Z3! 4.4.2 is incorrect, while 4.3.2 works correctly.

Can you file a bug report on the Z3 repo? I don't know how constraints are generated inside LH.

[code]

[2015-11-17 18:58] nikivazou commented on #514
Great!!!!! We will do! Thanks for insisting:)

[2015-11-17 18:58] #514 closed

[2015-11-17 19:05] ranjitjhala commented on #514
Great, thanks @sorawee !

Yes, will file a bug. Before that I need to extract the exact SMT queries
(so we can send them a minimal failing test...)

On Tue, Nov 17, 2015 at 10:58 AM, Niki Vazou <notifications@github.com>
wrote:

--
Ranjit.

[2015-11-17 19:08] nikivazou commented on #514
I was thinking just to send the `tests/pos/.liquid/TreesDiv.hs.smt2` file. The two versions of z3 report different result (z3-4 reports one sat, which z3-3 has only unsat)

[2015-11-17 19:16] ranjitjhala commented on #514
​Oh, ok that works!

Do you have the file @nikivazou?
​
Ideally we'd "minimize" it by repeatedly deleting queries (here, lines),
while still maintaining the divergence...

On Tue, Nov 17, 2015 at 11:08 AM, Niki Vazou <notifications@github.com>
wrote:

--
Ranjit.

[2015-11-17 19:17] ranjitjhala commented on #514
Perhaps you can use only the "last" SAT query ?

On Tue, Nov 17, 2015 at 11:16 AM, Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

--
Ranjit.

[2015-11-17 19:18] nikivazou commented on #514
Do you really think it will make difference? I will submit an issue in the z3 github repo.

[2015-11-17 19:47] ranjitjhala commented on #514
Yes it will make a difference.

Which LH issue are *you* likely to look at and fix (first): one that has a 5 line failing test or which has a 50000 line failing test?

"Do unto others as you would have them do unto you..." :)

[2015-11-17 20:19] sorawee commented on #514
@nikivazou I have this version (http://pastebin.com/xNW3zRMm) which generates .smt2 file with less than 700 lines but still demonstrates the bug.

One weird thing, though, is that both 4.4.2 and 4.3.2 generate exactly the same file (I diff .smt2 files from both version and found nothing). Yet, the result is SAFE for one but UNSAFE for the other.

[2015-11-17 20:25] nikivazou commented on #514
@NikolajBjorner got into it. (though initially I gave bad description of the bug)

https://github.com/Z3Prover/z3/issues/323#issuecomment-157488527

[2015-11-17 20:30] ranjitjhala commented on #514
@sorawee, this is because set of SMT queries are those needed to:

1. *compute* the fixpoint solution, and then
2. *check* that the solution proves the desired invariants.

While (1) depends on the actual results returned by the SMT solver,
(2) is "fixed" by the source file/specifications. Thus, from your
observation, it seems that the issue is localized to the queries made
in the second phase (wh

[2015-11-17 20:35] sorawee commented on #514
Uh huh, actually there's a comment which indicates the result from SMT solver. There is one line which is different from different version of Z3, but I look at the wrong file so I didn't see it.

[2015-11-18 01:36] christetreault opened #515 "New prover dependency has broken the performance monitor"
The addition of the new submodule prover dependency has broken the performance monitor. Cabal is failing its build because prover isn't on hacakge.

I need to think of a way to make the script only attempt to use prover if it actually needs it. Perhaps I should get over it and just use stack? Perhaps there is some mechanism, similar to stack.yaml, that will ensure the proper add-source dependencie

[2015-11-18 02:32] ranjitjhala commented on #515
You can point stack to individual GH repos IIRC.

(Yes, please use stack.)

​

[2015-11-19 00:11] christetreault commented on #508
PR #516 is merged, so this issue should be resolved.

[2015-11-19 00:11] #508 closed

[2015-11-19 00:14] #322 closed

[2015-11-19 19:40] nikivazou opened #517 "Assume type signatures can lead to unsoundness"
The [following](http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1447961903_4571.hs) is unsoundly SAFE

[code]

If I remove the `assume` keyword the code is UNSAFE.
We need to be more careful on how we put assumed types in the environment.

[2015-11-20 18:45] bmcfluff opened #518 "Precise dependencies"
On Nov 9 (e488a60) our build was passing (except for one timed out test). On Nov 16 (854eda6) it was failing. Why? Because on Nov 10, ascii-progress 0.3 got uploaded to Hackage.

Could the cabal/stack/travis gurus please comment on how best to prevent this kind of issue in the future (assuming it's worth preventing)?

[2015-11-20 19:27] nikivazou commented on #518
A solution is to explicitly provide version numbers is cabal/stack dependencies.

[2015-11-20 19:27] #518 closed

[2015-11-24 17:49] ranjitjhala opened #519 "Mysterious Crash When using GADTs"
@nikivazou -- this program seems to just _crash_ LH (with one of those unpleasant length of FOO not equal to length of BAR errors...)

http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1448327307_4618.hs

[2015-11-24 17:51] nikivazou commented on #519
Ok, will look into it. Is it urgent?

[2015-11-24 21:34] ranjitjhala commented on #519
Ok, now it became urgent, see `tests/neg/AbsApp.hs`

[2015-11-24 22:47] ranjitjhala commented on #519
Also:

https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/neg/Ast.hs

[2015-11-26 02:26] Gabriel439 opened #521 "Haskell modules do not export measures"
Here is a simple reproducing example.  Just create the following two modules:

[code]

[code]

If you run `liquid` on module `Test2`, then you will get the following error:

[code]

However, if you move the definition of `bar` to module `Test1` then that module type-checks correctly.

[2015-11-26 02:52] gridaphobe commented on #521
Yikes! It appears this is specifically related to the lifting haskell functions to logical measures functionality.

Should be a straightforward fix, but in the meantime you can work around it by defining the `size` measure as

[code]

instead.

Thanks for the report!

[2015-11-26 02:53] Gabriel439 commented on #521
Yeah, I have no problem using the workaround for now.  Thanks for figuring this out! :)

[2015-11-26 20:55] nikivazou commented on #521
Not entirely sure how to fix this, but will get into it!

Thanks @Gabriel439!

[2015-11-26 21:10] Gabriel439 commented on #521
You're welcome! :)

[2015-11-26 21:12] ranjitjhala commented on #521
@nikivazou The fix I imagine should essentially be to get the lifting method to behave identically to what Eric suggested fix -- that is behave identically to using the old measure mechanism?

[2015-11-26 21:15] nikivazou commented on #521
Then liquidHaskell should automatically rewrite the file `Test.hs`.
The main problem is that when we import `Test` we are not supposed to look into the core, but just the exported signatures.

The fix would be easy if liquidHaskell produced intermediate `.lhi` files to store all the exported information that we need.

[2015-11-26 21:20] Gabriel439 commented on #521
For the record, I think the workaround is actually a perfectly fine way of using Liquid Haskell.  Programming within a Liquid Haskell comment doesn't bother me at all since I don't reuse that code within Haskell anyway.

[2015-11-27 17:27] gridaphobe commented on #521
For a long time, programming inside the comments was the only thing we supported. But you inevitably find yourself rewriting simple Haskell functions -- that you do want want to use -- as Liquid Haskell measures.

@nikivazou making LH rewrite the Haskell file is a non-starter IMO, I think we need to just bite the bullet and produce `.lhi` files.

[2015-12-01 19:09] michaelbeaumont opened #522 "Proving tricky type with ordering on nested constructor"
Hi guys,

I'm trying to prove the ordering invariant on the AVL tree example.

[code]

I ran into trouble with the balancing functions and I've boiled down the problem to the following function which just gives back the untouched tree:

[code]

Typechecking gives:

[code]

This is for `ll` and `lr`. The 2nd argument to `f` is `Orded` so `ll` and `lr` have keys less than `lv` and thus satisfy the c

[2015-12-01 19:28] nikivazou commented on #522
Hello @michaelbeaumont,

Actually liquidHaskell cannot prove that your `ll` and `lr` trees are ordered, because there is a syntactic error in your refined definition of `Tree`. The abstract refinements go between the Type Constructor and the type variables. Replace your definition with

[code]

Totally our fault for suppressing this syntactic error. We should fix it soon...

[2015-12-01 20:01] michaelbeaumont commented on #522
Of course it's something like that, thanks :).
The thing that tripped me up then is that this doesn't match with how the type is declared on the first line...

[2015-12-01 20:12] nikivazou commented on #522
You are 100% right! We made instantiation of abstract refinements infix because it was easier to parser, but we should definitely reconsider this choice...

[2015-12-04 18:42] bmcfluff opened #525 "Free vars in qualifiers: Resolve.hs"
ResolveB.A$35$rlx is neither an argument nor a global constant in this generated qualifier:

qualif Auto(v$35$0 : ResolveB.Bar): (v$35$0 != ResolveB.A$35$rlx) // "tests/pos/Resolve.hs" (line 8, column 1)

We no longer support this, so this test is now considered broken.

[2015-12-04 18:44] bmcfluff opened #526 "Free vars in qualifiers: LocalHole.hs"
n$35$a18B is neither an argument nor a global constant in this generated qualifier:

qualif Auto(v$35$16 : int): (v$35$16 <= n$35$a18B) // "tests/pos/LocalHole.hs" (line 10, column 5)

(See #525)

[2015-12-04 19:17] nikivazou commented on #526
@gridaphobe can you look at this? It is related with local variables appearing in the type signatures and thus in qualifiers.

[2015-12-04 19:18] nikivazou commented on #525
Well `A` is a literal that appears in predicate definition rather than directly in the type signatures.
We should looks at the aliases too for literals.

[2015-12-04 19:21] ranjitjhala commented on #525
it should suffice to look at the type signature (inside which the alias is
expanded)?

On Fri, Dec 4, 2015 at 11:18 AM, Niki Vazou <notifications@github.com>
wrote:

--
Ranjit.

[2015-12-04 19:23] nikivazou commented on #525
I suspect it should. @bmcfluff can you try inlining the predicate and check it the problem is solved?

[code]

[2015-12-04 19:32] bmcfluff commented on #525
As in just add that line to the test? That does not solve the problem.

[2015-12-04 19:34] nikivazou commented on #525
No, replace

{-@ x :: {v:RB.Bar | ((v = RB.B) && (NotA v))} @-}

with

{-@ x :: {v:RB.Bar | ((v = RB.B) && ( v != RB.A))} @-}

On Fri, Dec 4, 2015 at 11:32 AM, bmcfluff <notifications@github.com> wrote:

--
Niki Vazou

[2015-12-04 19:39] bmcfluff commented on #525
Doesn't solve it.

[2015-12-04 19:40] ranjitjhala commented on #525
I think that's what Ben already did. The qualifier generation happens after alias expansion I think?

[2015-12-04 19:41] ranjitjhala commented on #526
I can look at this I'm pretty sure the bugg is in qualifiers.HS

[2015-12-04 19:51] nikivazou commented on #526
It is not exactly a bug. The code is

[code]

where `n` is a local variable that appears free in the qualifiers because it is not bound by the type signature.

[2015-12-04 19:57] ranjitjhala commented on #526
Yes I realize that. The "bug" is that n should have been made a parameter of the qualif. I think I know why it wasn't...

[2015-12-04 20:53] ranjitjhala commented on #526
My guess is that it wasn't because we only generalize the variables  that are bound insight the type specification not those that come from outside (because we don't know their sort)

[2015-12-05 17:54] Gabriel439 opened #527 "Function no longer type-checks when promoted to measure"
I'm not sure if this is an issue with Haskell or just me not understanding how measures work.

The following function type-checks when I don't promote it to a measure:

[code]

... but type-checking fails when I promote it to a measure:

[code]

... with this error message:

[code]

My understanding of the error message is that the `VV` corresponds to the `n - 1` sub-expression in the last line of

[2015-12-05 18:04] nikivazou commented on #527
In liquidHaskell we (confusingly indeed) use the token `measure` in two cases

- `measure pow2` will lift the function `pow2

[2015-12-05 18:28] nikivazou commented on #527
As an alternative, you can define `pow2` if you wrap `Int` with a data constructor:

[code]

Then, liquidHaskell will only complain that cannot prove termination on the recursive `pow2` and to solve that you can either turn termination check of

[code]

Or define a logical function that returns the size of a `P Int`

[code]

and tell liquidHaskell to use `psize` to get the size of `P Int` values

[2015-12-05 18:55] ranjitjhala commented on #527
@niki -- this is indeed a bit odd.

The following seems to work (i.e. doesn't fuss about termination errors or
promotion)

(@Gabriel -- `Nat` is a type alias `type Nat = {v:Int | 0 <= v}` thats in
the LH prelude)

[code]

but this doesn't

[code]

Perhaps because the "lifting" machinery needs access to the Haskell type
`Int -> Int`?

However, if we are going to write type signatures, then we _shou

[2015-12-05 19:33] nikivazou commented on #527
@ranjitjhala the core of the problem here is that `Int` is treated specially from GHC and from liquidHaskell and even tough it seems possible, we have never before defined measures on `Int`.
How would `pow2` be interpreted by liquidHaskell?
We could use the definition of `pow2` to refine the type of `GHC.Types.I#` but this is currently not implemented.

Your first example works, because it does no

[2015-12-05 19:40] gridaphobe opened #528 "Bogus documentation for --no-case-expand"
[code]

That's clearly wrong, what does that flag actually do?

[2015-12-05 19:42] gridaphobe commented on #528
[code]

This one is also confusing. There should be an example in the README.

[2015-12-05 19:44] nikivazou commented on #528
Would a "Do not expand all data constructors in case statement" be more explanatory?

By default if `F = A1 | A2 |  .. |  A10`, then liquidHAskell will expand  `case f of {A1 -> True; _ -> False}` to  `case f of {A1 -> True; A2 -> False; ...; A10 -> False}`

[2015-12-05 19:45] gridaphobe commented on #528
"Don't expand the default case in a case-expression" would be my suggestion.

[2015-12-05 19:46] gridaphobe commented on #528
*with your example in the README

[2015-12-05 19:46] nikivazou commented on #528
Sounds good!

On Sat, Dec 5, 2015 at 11:45 AM, Eric Seidel <notifications@github.com>
wrote:

--
Niki Vazou

[2015-12-05 22:40] Gabriel439 commented on #527
Yeah, I understand what is going on better now.  When I try the correct approach I now get a new error

[code]

... which gives:

[code]

... which I assume is saying the same thing that @nikivazou said: that Liquid Haskell doesn't allow promoting functions on `Int` to the logic level.

In this case I (almost) have a workaround since the context I wanted to use this was a more type-safe right-shif

[2015-12-05 22:45] Gabriel439 commented on #527
Actually, I was able to work around this even further by just changing the last two lines to:

[code]

... so I'm unblocked for this particular issue.  However, I'll still give a +1 for Liquid Haskell natively supporting promoting measures on `Int`s.

[2015-12-05 22:58] ranjitjhala commented on #527
Interesting! @nikivazou -- I guess your point is we need a `data
constructor` on which to associate the measure, and what is that
constructor for Int? Now technically, there _is_ such a constructor, if you
look at the core, its called I# or Int# if I recall correctly.

Can't we hook the measure (e.g. `pow2` to that constructor?)

​

[2015-12-05 23:45] nikivazou commented on #527
Glad you got unblocked @Gabriel439!

Exactly this is what I am saying @ranjitjhala: we could use `I#` as the `Int` constructors, but this would require some engineering. Seems feasible though.

[2015-12-06 00:04] Gabriel439 opened #529 "Type-checking incorrectly succeeds when using a very large upper bound"
I found that the following program succeeds when it should not:

[code]

The above program should not succeed because when `i = 0`, `o = i * 2 = 0` which is not greater than `i`.  However, if you change the program slightly to decrease the upper bound then the type checker correctly fails the program:

[code]

Another surprising result is that this program still fails:

[code]

... even though I e

[2015-12-06 00:21] ranjitjhala commented on #529
Ouch! Will look as soon as at a computer -- but can you try with
i + I instead of *2 ?

[2015-12-06 01:40] Gabriel439 commented on #529
Using `i + 1` works correctly, meaning that both versions of the program now fail to type-check.

[2015-12-06 01:49] ranjitjhala commented on #529
Oops sorry, typed from phone, I'd meant (i + i),
but I find that that passes (when it shouldn't).

(i + 1) _should_ type check right (as it is > i).

I fear this may be some overflow issue in Z3, but need to confirm!

On Sat, Dec 5, 2015 at 5:40 PM, Gabriel Gonzalez <notifications@github.com>
wrote:

--
Ranjit.

[2015-12-06 01:54] Gabriel439 commented on #529
Using `i + i` gives the same behavior as `i * 2`

[2015-12-06 17:53] #522 closed

[2015-12-06 20:49] Gabriel439 opened #530 "Liquid Haskell `EnvLookup` fails for programs that use unboxed vectors of tuples"
The smallest program that reproduces this problem is:

[code]

... which fails with this error message:

[code]

The problem disappears if you:

* Change the type from `Vector (Int, Int)` to `Vector Int`
* Use boxed vectors instead of unboxed vectors

If I had to guess what might be causing the problem it might be the `vector` library's use of data families to implement unboxed vectors, which is c

[2015-12-06 22:08] ranjitjhala commented on #530
Hmm, thanks for pointing this out Gabriel! (And for all the earlier
reports...!) Now that the quarter is winding down we hope to squash a bunch
of these!

On Sun, Dec 6, 2015 at 12:49 PM, Gabriel Gonzalez <notifications@github.com>
wrote:

--
Ranjit.

[2015-12-06 23:02] Gabriel439 commented on #530
You're welcome!  The reason for all the bug reports is that I have a fairly nasty algorithm that I'm implementing in Haskell ([Link](http://sux.di.unimi.it/paper.pdf)) and the first draft of the algorithm is done and now I want to find as many bugs in the code using Liquid Haskell.

[2015-12-07 17:34] ranjitjhala commented on #529
Hmm, the good news is that turns out that the very first of the
examples, namely,

[code]

is in fact correctly rejected by the latest LH (i.e. by the native
haskell solver, which is the default in master) but is accepted by
the ocaml solver.

@gridaphobe I think after a few of the current issues are squished,
perhaps we should do a release with the new solver?

[2015-12-07 17:45] ranjitjhala commented on #529
To be clear: @Gabriel439 this issue appears to be a(n awful!) bug
in the deprecated ocaml solver, but does not arise in `master`

https://github.com/ucsd-progsys/liquidhaskell/blob/master/INSTALL.md#build-with-stack-recommended

@gridaphobe we should put LH on `stackage` on next release too.

[2015-12-07 17:46] ranjitjhala commented on #529
Added a regression test:

tests/neg/BigNum.hs

[2015-12-07 17:46] #529 closed

[2015-12-07 18:25] Gabriel439 commented on #529
Thanks!  That's a perfectly fine resolution for me :)

[2015-12-07 19:08] gridaphobe commented on #529
@ranjitjhala yep I definitely want to make a new release (and may as well put it on stackage), was just waiting for the native solver to stabilize.

[2015-12-08 00:08] Gabriel439 opened #531 "Refined data types do not permit fields with underscore prefixes or strictness annotations"
Take this data type definition for example:

[code]

The above code will type-check, but if I add an underscore before the field name:

[code]

... or a strictness annotation to the field:

[code]

... then `liquid` will fail with the same parsing error message in both cases:

[code]

The workaround is pretty easy: don't use strictness annotations in the refined datatype definition and don't use f

[2015-12-08 00:52] gridaphobe commented on #531
Hrm, the leading underscore is definitely a bug, those are becoming increasingly common as `lens` becomes more popular.

I'm less sure about the strictness annotation. We could parse it and ignore it (since GHC handles strictness concerns), but that might lead users to believe that the strictness annotation in the refined data declaration will affect LH. On the other hand, refusing to parse it mea

[2015-12-08 00:57] Gabriel439 commented on #531
I don't have strong opinions on the strictness annotation and I'm actually fine omitting them from the refined datatype.

However, underscore prefixes have significance beyond just the `lens` library.  If you define fields without an underscore prefix, but you don't export them:

[code]

... then `ghc` will warn about the unused field names if you don't use the field names internally within the mo

[2015-12-08 01:01] nikivazou commented on #531
Yes, we should definitely fix the parser to allow `_` before field names!

[2015-12-08 04:47] #531 closed

[2015-12-08 07:56] ranjitjhala commented on #528
Is this fixed?

[2015-12-08 08:50] ranjitjhala commented on #526
Fixed by 96bfc6ea705fb00c75cda802d8cb0a330daa7515

[2015-12-08 08:50] #526 closed

[2015-12-09 04:37] ranjitjhala commented on #525
Should be fixed by 6f4eb3e11f07e5d1021a5eafd3d794380630eb65

(Could cause an increase in performance as more `constant`s are tossed into `FInfo` but optimizing
those should probably happen in FP.

[2015-12-11 20:42] ranjitjhala opened #536 "Simplify `Ref` and Abstract Predicates"
@christetreault can you do the following refactoring.

Replace this, in L.H.L.Types.hs:

[code]

with

[code]

[2015-12-21 20:52] FranklinChen opened #540 "Support GHC 7.10.3"
When I tried to install from Hackage with Stack, I ran into the problem that I'm now on GHC 7.10.3 by default but `liquidhaskell.cabal` requires `ghc == 7.10.2`.

[2015-12-21 21:50] gridaphobe commented on #540
Thanks for the report! It looks like `7.10.3` doesn't affect us, so I've updated the `build-depends` on hackage, you should just need to run `cabal update` (or the stack equivalent).

[2015-12-21 21:55] ranjitjhala commented on #540
Thanks @franklinchen!

@gridaphobe: nice, so it just builds against 7.10.3?

On Mon, Dec 21, 2015 at 1:50 PM, Eric Seidel <notifications@github.com>
wrote:

[2015-12-21 21:55] gridaphobe commented on #540
fixed in d8dca5e

[2015-12-21 21:55] #540 closed

[2015-12-21 21:56] gridaphobe commented on #540
@ranjitjhala Yep!

[2015-12-21 21:59] FranklinChen commented on #540
Hmm, not working for me.

[code]

[2015-12-21 22:23] ranjitjhala commented on #540
@franklinchen: does stack work with GHC-7.10.3? AFAICT, LTS 3.19
is still for GHC 7.10.2?

  https://www.stackage.org/lts-3.19

@gridaphobe: did you manage to get GHC 7.10.3 for the mac? The good folks
at ghcformacos don't seem to have it yet...

On Mon, Dec 21, 2015 at 1:59 PM, Franklin Chen <notifications@github.com>
wrote:

[2015-12-21 22:26] FranklinChen commented on #540
It's working for me now; index must not have been updated yet earlier.

I'm using GHC 7.10.3 on Mac through Homebrew.

Also, I have in my `~/.stack/config.yaml` the line `compiler-check: newer-minor` in order to use 7.10.3 with LTS.

[2015-12-21 22:26] gridaphobe commented on #540
According to https://github.com/commercialhaskell/stack/issues/227#issuecomment-110365360 it can take some time for `stack`'s index to update wrt hackage. It seems to be compiling for me now.

[2015-12-21 22:28] ranjitjhala commented on #540
Ah, ok, thanks! So all good right?
​

[2015-12-21 22:28] FranklinChen commented on #540
@ranjitjhala Yes, all good for me. P.S. I think ghcformacos is no longer being maintained so well.

[2015-12-22 13:52] lastland opened #541 "Incorrect inference with top-level functions"
First, I'm quite new to both Haskell and LiquidHaskell so perhaps it's just that I have misunderstood something. :smile:

To replicate the bug:

    {-@ type NEList a = {v: [a] | len v > 0} @-}
    {-@ idList :: NEList a -> NEList a @-}
    idList :: [a] -> [a]
    idList x = x

    a = idList [1, 2]
    b = 3 `div` (length a)

The log:

    Unsafe!
    resources/custom/liquidhaskell/sandbox/14507

[2015-12-22 16:10] ranjitjhala commented on #541
Hi @lastland,

this is a subtle design decision that we should perhaps make more explicit. In brief: all (top level) exported names of a module default to their unrefined haskell types if no explicit refinement signature is given. That is we do not perform inference for exported names like 'a' in your example. As you saw, making it a non top level name suffices; also hiding 'a' from the module exp

[2015-12-22 16:54] nikivazou commented on #541
@lastland, as another solution you can give an explicit refined type signature for top-level binder `a`, for example

[code]

@ranjitjhala I do not see any mention for top level unrefined binders in the documentation, I will add it

[2015-12-22 17:23] lastland commented on #541
@ranjitjhala @nikivazou Thanks for the explanation!

I see that "do not perform inference for exported names" suffices, but it's still not very clear to me why not to make inferences on them. Will that cause problems with multiple modules? Or it's for simplicity (perhaps this use case is rarely seen)?

[2015-12-22 17:49] gridaphobe commented on #541
@lastland multiple modules are indeed the problem. LiquidHaskell infers types based on how the function is used, in addition to examining the function itself. This allows us to infer very precise types, but can easily lead to a scenario where the inferred type is **overly** precise. Consider

[code]

In this example LiquidHaskell might infer

[code]

which is perfectly fine for proving the `div` s

[2015-12-22 18:07] lastland commented on #541
@gridaphobe Thanks! That's a very clear explanation!

[2015-12-22 18:15] ranjitjhala commented on #541
Nice explanation! Lets add it to the README ? :)

[2015-12-23 19:57] christetreault commented on #536
Closed by https://github.com/ucsd-progsys/liquidhaskell/pull/544

[2015-12-23 19:57] #536 closed

[2015-12-24 00:26] #541 closed

[2015-12-24 00:29] abakst opened #546 "Top-level binders should be in scope."
It would be nice if top-level binders were in scope for top-level refinements:

[code]

Running Liquid Haskell on the above program yields:

[code]

[2015-12-24 00:30] ranjitjhala opened #547 "Inscrutable Termination Error"
See

https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/todo/decr.hs

for details.

[2015-12-24 03:46] ranjitjhala commented on #530
@nikivazou btw, the missing binder issue is fixed, but now there's some oddity when splitting the constraints, in particular, we crash trying to split the two constraints, which indeed looks like it may
be because due to type families, LH doesn't realize that the two types below are the same.

[code]

But perhaps its something else entirely? My hunch is we are skipping some `cast` operations (in f

[2015-12-24 05:43] ranjitjhala commented on #515
this is fixed, right?

[2015-12-24 05:48] #525 closed

[2015-12-24 05:51] ranjitjhala commented on #407
This looks like its closed. Indeed, we're _using_ stack to run LH on itself...

[2015-12-24 05:51] #407 closed

[2015-12-24 05:55] ranjitjhala commented on #296
Seems to be fixed now, see `tests/pos/csgordon_issue_296.hs` Thanks @csgordon !

[2015-12-24 05:55] #296 closed

[2015-12-24 22:23] #515 closed

[2015-12-25 03:57] pseudonom opened #548 "`liquid` doesn't work with `stack`'s package DB"
Create a project with `stack` and add a dependency for a package not in `base`. Running `liquid src/Lib.hs` will give an error like:

[code]

This can be worked around with an incantation like
[code]
, but it would be nice to have some better support for `stack`.

At the very least, I thought I'd document the workaround by posting here.

[2015-12-25 04:28] gridaphobe commented on #548
Can you try `stack exec -- liquid src/Lib.hs`? That ought to make the right package db visible.

[2015-12-25 04:46] pseudonom commented on #548
Ah, yup. Forgot about that. That also works. I might open a PR on https://github.com/ucsd-progsys/liquid-types-spacemacs for that.

[2015-12-25 04:46] #548 closed

[2015-12-25 17:56] ranjitjhala commented on #548
Thanks @pseudonom !  A PR would be *greatly* appreciated ... have been meaning to do it, but my e-lisp has gotten rusty again :)

[2015-12-26 03:36] Gabriella439 opened #549 "Newtype field accessor cannot be promoted to measure"
The minimal reproducing example is:

[code]

... which fails with:

[code]

However, if you replace `newtype` with `data` then the promotion succeeds:

[code]

I'm guessing the reason that the former version fails is that newtype field accessors translate to casts instead of case statements, although it seems like a cast should also be promotable to the Liquid Haskell logic level.

[2015-12-26 17:15] nikivazou commented on #549
That is a great observation @Gabriel439, I will look into it.

For now, if you want to keep the `newtype` definition, you can define yourself a logical function `getFoo`

[code]

and then define that the Haskell `getFoo` returns the logical `getFoo`:
[code]
Notice that you have to use the `assume` keyword because, right now, liquidHaskell cannot verify that the above signature is safe.

The follow

[2015-12-26 20:01] Gabriel439 commented on #549
Well, in this case I would like the uninterpreted function to be able to promote the value wrapped inside `Foo` to the logic level.  For example, I would like to be able to write:

[code]

... but this only works when I use the `data` definition of `Foo` and not with the `newtype` + uninterpreted function workaround.

[2015-12-26 20:06] nikivazou commented on #549
To prove the above you would have to refine `Foo` as well,

[code]

Btw, the above is the refining LiquidHaskell automatically does for `data` definitions, but we do not have any automation for newtypes.

[2015-12-26 20:09] Gabriel439 commented on #549
Aha!  That works :)

That workaround will tide me over for now.  Thank you!

[2015-12-27 17:55] Gabriel439 opened #550 "Subtyping does not seem to work with logical multiplication"
So I was playing around with a different refinement for `GHC.Num.*`:

[code]

However, small experiments with this new refinement seem to indicate that logical multiplication does not support subtyping correctly.  Here is one example:

[code]

This fails with:

[code]

... which seems like a weird type error.  I'd expect that to type-check because Liquid Haskell knows from the context that `?a ==

[2015-12-27 18:57] Gabriel439 commented on #550
As a control, I repeated the same experiment for addition and there were no issues.  Both of the following programs type-check:

[code]

... or just:

[code]

[2015-12-27 19:06] ranjitjhala commented on #550
@Gabriel439  -- thanks!

1. Can you add `{-@ LIQUID "--real" @-}` to the top of the file, and it works for me.

2. However, in your case, if you really only want "uninterpreted" multiplication, then
    oddly, for me this works when I replace your infix `(*?)` with just `mul`, which is
    quite odd. @nikivazou any idea?

(Either way, can you confirm that the above work for you? Thanks!)

[2015-12-27 19:10] Gabriel439 commented on #550
The `{-@ LIQUID "--real" @-}` flag worked!

Could you clarify what you mean about using `mul`?  I tried using it both at the term-level and type-level and in both cases it says the symbol is not in scope

[2015-12-27 19:14] ranjitjhala commented on #550
Oh, I meant just replace the string `(*?)` with `mul` and `2 *? 3` with `mul 2 3`.

Oddly, the following file (verbatim) works for me now. (I can swear it wasn't a moment ago!)

[code]

Does it work for you? (Btw, with `--real` you should get commutativity, associativity, etc. and also be able to, e.g. replace `2 * 3` with `6`)

[2015-12-27 19:17] Gabriel439 commented on #550
That still doesn't type-check for me (even if I rename `(*?)` to `mul`).  Maybe I need to install a newer version since mine seems to be version `2009-15`

[2015-12-27 19:47] Gabriel439 commented on #550
Actually, I just built `liquid` off of `master` and the program still does not type-check (and the version is still the same: `2009-15`).

[2015-12-27 19:51] ranjitjhala commented on #550
Yes, I just checked it works with a fresh clone of master...

[2015-12-27 20:12] Gabriel439 commented on #550
I wonder if it's a difference in the `z3` version.  Mine is version `4.4.2`

[2015-12-27 22:15] ranjitjhala commented on #550
Oh! Thats possible too. I'm on 4.3.2. It shouldn't matter though, but still let me check!

[2015-12-27 22:21] ranjitjhala commented on #550
Just tried with z3-4.4.1 from here:

https://github.com/Z3Prover/z3/releases

and it seems to do the right thing.

@Gabriel439, can you do a fresh clone & build as described here:

https://github.com/ucsd-progsys/liquidhaskell/blob/master/INSTALL.md#build-with-stack-recommended

(We recently did a bunch of spring cleaning so that may have thrown various things off...)

Sorry about the hassle!

[2015-12-27 22:25] Gabriel439 commented on #550
I already followed those exact instructions (fresh checkout of SHA 13cce997d5df44e8a52d0567f8bbed9cce30c8a4) and built with `stack install` and verified that I'm using the newly created executable.

I will try to build `z3-4.4.1` to see if the minor version is responsible for the difference.

[2015-12-27 23:59] ranjitjhala commented on #550
Ok, I'll try with 4.4.2 too. Did you build that version from source? (I can't seem to find a pre-built binary on GH)

[2015-12-28 00:09] ranjitjhala commented on #550
Also, assuming you're running this in a file called `/path/to/$FILE.hs` can you post the contents of:
`path/to/.liquid/$FILE.hs.smt2` (thats the trace of SMT interactions, just want to check if there's something odd over there...)

Thanks!

[2015-12-28 16:41] christetreault commented on #515
Yes, this is no longer an issue.

[2015-12-28 17:20] nikivazou commented on #550
Both examples are safe for me (both `Int` and `Num`).

@ranjitjhala how do we encode **integer multiplication** in `z3`? I suspect there is a "bug" related to this one https://github.com/Z3Prover/z3/issues/323, i.e., they change the behavior of integer multiplication from z3-3 to z3-4.

[2015-12-28 17:41] ranjitjhala commented on #550
(In the version I am running) with `--real` we encode it as:

[code]

and _without_ it we encode it as:

[code]

i.e. as an uninterpreted function (UIF). In @Gabriel439's example, it is used just as an UIF,
so it should work in both cases (and does, for me), i.e. with or without `--real` so I am puzzled and the `.smt2` trace should help to pinpoint if it is indeed some z3 oddness.

[2015-12-28 18:13] nikivazou commented on #550
I see. Btw, the example fails in the online demo too
http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1451326243_6114.hs

Is there a way to extract the .fq file from there?

[2015-12-28 18:20] ranjitjhala commented on #550
Aha! Yes, I will get it from there, thanks!

[2015-12-28 18:40] ranjitjhala commented on #550
Oops. Unfortunately, the web demo used a rather old version of LH.

The reason that it fails on the old version is that the `2 * 3`
in the signature gets replaced with `6` prior to the SMT
query (due to some "optimizations" in the old ocaml solver.)

However, this (shouldn't and) doesn't happen with the current
solver, so I suspect the reason for failure is different.

[2015-12-29 03:00] abakst opened #552 "Maps of maps cause smtlib sort error"
Running Liquid Haskell on the file:

https://gist.github.com/abakst/a7a8608dd170fa3ba3af#file-mapmap-hs

Produces error `"select requires as many arguments as the size of the domain"`. I believe the error is due to the fact that a Haskell `Map k v` is represented as an SMTLIB `Map Elt Elt` where `Elt` is defined to be `Int.` Of course this is fine when `v` is not a `Map a b`, but causes issues whe

[2015-12-29 04:43] gridaphobe commented on #552
I don't see why there would be an issue with decidability since it's just uninterpreted functions. I bet the problem is with the `embed` annotation, which IIRC is a bit hacky.

[2015-12-29 07:03] nikivazou commented on #552
@abakst the error that I get when I run your test is
[code]
which exactly supports your belief.

So, we should fix the embedding function in the fixpoint, right?

[2015-12-29 23:14] abakst commented on #552
I would think so, but per @gridaphobe there may be some required changes to whatever processes the `{-@ embed ... @-}` annotations in Liquid Haskell in addition to the required Liquid Fixpoint changes.

[2016-01-02 04:09] Gabriel439 commented on #550
Alright, so when I run `liquid` on this file:

[code]

... then the type-checking fails as described above and I get this output in `.liquid/reproduce.hs.fqout.smt2`:

[code]

When I add the `{-@ LIQUID "--real" @-}` pragma to the top of the file then type-checking succeeds and the contents of the `.liquid/reproduce.hs.fqout.smt2` file change to:

[code]

[2016-01-02 05:34] ranjitjhala commented on #550
From the contents of the file, I'm pretty sure thats the
"old" ocaml fixpoint thats running, not the new (haskell) one.

Can you tell me if:

1. There is a file created called `.liquid/reproduce.hs.fq` ?

2. There is a binary file called `fixpoint.native` anywhere on your path?

3. If the answer to either of the above is "yes" then can you
   just _delete_ the `fixpoint.native` file and see if thi

[2016-01-02 06:23] Gabriel439 commented on #550
1.  Yes, there is a file called `.liquid/reproduce.hs.fq`
2.  Yes, there is a binary called `fixpoint.native` on my path

I followed your instructions and deleted the `fixpoint.native` on my path and reinstalled using `stack install` and now everything works.  Thanks!

[2016-01-02 06:23] #550 closed

[2016-01-05 21:47] nikivazou opened #558 "Missing binder in Error Message"
In [tests/todo/TypeError.hs](https://github.com/ucsd-progsys/liquidhaskell/blob/c85d0b2d358e39070c11781794387ed56b39e9cc/tests/todo/TypeError.hs) the type error does not print the binder `pr1`

[code]

[2016-01-06 05:28] ranjitjhala commented on #558
Looks like this is due to the various uniqify/renaming done by fixpoint.

Currently working on it in `tidy`, see `UX.Errors.tidyCtx`.

[2016-01-06 15:18] ranjitjhala commented on #519
Moved to:

https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/neg/Ast.hs
https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/neg/AbsRef.hs

as unlikely to get addressed in short term.

[2016-01-07 01:59] ranjitjhala commented on #558
See:

https://github.com/ucsd-progsys/liquidhaskell/pull/562

however, @nikivazou -- the binder `pr1` does't have a
non-trivial refinement even in the `.fq` file... hence that
is what is getting printed out? Please explain!

[2016-01-07 01:59] #558 closed

[2016-01-07 02:14] nikivazou commented on #558
Do you mean that `pr1` has a true refinement?

[2016-01-07 06:21] gibiansky opened #563 "mod 2 / multiplication by 2"
I'm not sure what I can do to make Liquid Haskell understand the following code and say it is safe:

[code]

Since `x * 2` is even, `x * 2 mod 2 == 0`, and so this should compile fine.

Where is `mod` defined? Can it be modified somehow to be able to make this work? How can this be worked around?

[2016-01-07 06:23] gibiansky commented on #563
The error message is:
[code]

[2016-01-07 06:40] gridaphobe commented on #563
`mod` is built-in, it's an operator the SMT solver understands.

But the problem is not with `mod`, rather with the type we give to `*`. Integer multiplication is undecidable, so we can't model it precisely in the logic. Instead we abstract it with a few properties that cover commonly interesting cases like multiplication by 0. These cases are exactly what LH displays in the inferred type.

Now, y

[2016-01-07 06:40] ranjitjhala commented on #563
Hi @gibiansky,

Add a `{-@ LIQUID "--real" @-}` to the top of your file. e.g.

http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1452148662_379.hs

This treats multiplication as proper multiplication.

(@nikivazou, @gridaphobe : We ought to make this default ... ?)

[2016-01-07 06:51] gibiansky commented on #563
Cool, thanks!

[2016-01-07 07:34] nikivazou commented on #563
@ranjitjhala yes lets make interpreted multiplication and division the default!

[2016-01-07 07:34] #563 closed

[2016-01-07 09:44] nikivazou commented on #519
There are many many things in this issue, most of them fixed:

- GADTs generally work, see [tests/pos/GADTs.hs](https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/pos/GADTs.hs) and [tests/neg/GADTs.hs](https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/neg/GADTs.hs)

- You can soundly use Abstract Refinements on unrefined Data Types, see [tests/neg/AbsApp.hs](https://gith

[2016-01-07 09:44] #519 closed

[2016-01-07 17:54] gridaphobe commented on #460
Ugh, `tests/todo/bar.hs` doesn't seem to exist anymore..

[2016-01-07 22:35] gridaphobe commented on #528
ping @nikivazou

[2016-01-07 22:37] gridaphobe commented on #517
I don't see the problem here. Assumed signatures are precisely that.

[2016-01-07 23:05] nikivazou commented on #517
The problem is that assume puts the false into the environment and then all your program is just SAFE.

[2016-01-07 23:08] gridaphobe commented on #517
I understand that, but you *assumed* false at the top level.

[2016-01-07 23:11] gridaphobe commented on #517
We definitely want to put top-level values in the global environment to handle e.g. constants. We could add a sanity check that no top-level value is refined with something inconsistent, but I don't really think it's necessary :/

[2016-01-07 23:14] #528 closed

[2016-01-07 23:16] nikivazou commented on #517
Fine! But I filed the issue, because I had a definition like `magic` and all my code was unexpectedly safe.
It is quite confusing it you do not expect this behavior.

[2016-01-07 23:16] #517 closed

[2016-01-08 20:53] gridaphobe opened #564 "Useless source span in smtlib crash"
[code]

The `:1:1-1:1:` bit is meaningless. We should either provide the source span that gave rise to the constraint, or elide the location entirely.

@nikivazou can you post the file that caused this error?

[2016-01-08 20:54] nikivazou commented on #564
Well, it is quite difficult to reproduce the error in master, because hacked prover/fixpoint and liquidhaskell to get this error!

[2016-01-08 20:55] gridaphobe commented on #399
@nikivazou can this be closed?

[2016-01-08 20:56] nikivazou commented on #399
Sure!

[2016-01-08 20:56] #399 closed

[2016-01-09 00:44] ranjitjhala commented on #564
You can run with "--save" and put the FQ file somewhere NOT IN THE REPO! :)

On Fri, Jan 8, 2016 at 12:54 PM, Niki Vazou <notifications@github.com>
wrote:

[2016-01-10 23:32] nikivazou opened #567 "Bounds require explicit measure properties"
See
[benchmarks/icfp15/pos/Overview.lhs](https://github.com/ucsd-progsys/liquidhaskell/blob/master/benchmarks/icfp15/pos/Overview.lhs#L95)

The `llen` information `(llen z == llen ys + 1)` can be derived by `(z == Cons y ys)`

[2016-01-11 19:27] Gabriel439 opened #569 "`assume` should fail to compile if it references unbound symbols"
First, let's begin with an example program without `assume`:

[code]

The above program correctly fails with an unbound symbol error:

[code]

However, if I add an `assume` to the type of `b` like this:

[code]

... the type-checker does not complain and instead produces an seemingly contradictory type-checking error:

[code]

The real issue is that the `a` in the type signature for `Main.b` is th

[2016-01-11 20:26] nikivazou commented on #569
Thanks @Gabriel439! As usual great bug report! assumed and specified types should be treated exactly the same! I am fixing it!

[2016-01-12 02:20] ranjitjhala commented on #569
Fixed by PR #570

[2016-01-12 02:39] Gabriel439 commented on #569
Thank you! :)

[2016-01-13 01:33] spinda opened #571 "Building via stack fails on Fixpoint dependency issue"
Building via `stack` fails when trying to build `liquid-fixpoint`:

[code]

This is because the [`nightly-2016-01-06` resolver](https://www.stackage.org/nightly-2016-01-06) that `liquidhaskell` is using in its `stack.yaml` is on `cereal-0.4.1.1`, and `liquid-fixpoint` specifies `cerea >= 0.5`.

One (bad, temporary) fix is to add `- cereal-0.5.1.0` to the `extra-deps` section of `liquidhaskell`'s `

[2016-01-13 01:36] ranjitjhala commented on #571
Can you relax it and see if its ok?

(I'm building against 2015-09-*)

On Tue, Jan 12, 2016 at 5:33 PM, Michael Smith <notifications@github.com>
wrote:

[2016-01-13 01:38] spinda commented on #571
Sure, trying it now.

[2016-01-13 01:53] spinda commented on #571
Relaxing the bound and switching `liquid-fixpoint` over to the same resolver as LH (so it tries to build with `cereal-0.4.1.1`) seems to work fine.

[2016-01-13 02:05] #571 closed

[2016-01-14 18:02] Gabriel439 commented on #569
Marking this closed since this was fixed

[2016-01-14 18:02] #569 closed

[2016-01-14 18:18] Gabriel439 opened #574 "Refinements dropped when specializing the argument of a type family"
Here is an example where I take the `Data.Vector.freeze` function and specialize the `PrimMonad m` constraint to `ST s`:

[code]

The specialization causes the refinement to be lost so the above code fails to type check:

[code]

This problem appears to be specific to type signatures that use a type family, like `PrimState` in the above example.  If I refine the type of `Data.Vector.mapM`, which d

[2016-01-14 18:30] ranjitjhala commented on #574
Yikes! This seems like a tricky one -- thanks for pointing out Gabriel!
We'll try to get to the bottom ASAP.

On Thu, Jan 14, 2016 at 10:18 AM, Gabriel Gonzalez <notifications@github.com

[2016-01-14 19:04] gridaphobe commented on #574
@ranjitjhala I bet this has something to do with `pruneUnsortedReft`..

[2016-01-14 23:50] Gabriel439 opened #575 "Ambiguous module qualifier in refined type in imported module induces GHC panic"
The following module has an ambiguous reference in the refined type for `Vector.slice`:

[code]

However, the refinement still succeeds and the above module type-checks.  `Vector.slice` is ambiguous because it could refer to either `Data.Vector.slice` or `Data.Vector.Mutable.slice`, although only one of them has the correct type to refine to the given type.  Perhaps Liquid Haskell infers which one

[2016-01-14 23:54] nikivazou commented on #575
Thanks for the report and the solution @Gabriel439!

@spinda can you add a check on Bare that rejects the first program with a nice error message?

[2016-01-14 23:56] nikivazou commented on #574
@gridaphobe why do you say that? Did you run it with the `--no-prune-unsorted` flag?

[2016-01-15 01:15] Gabriel439 opened #576 "Refinements lost when refined functions moved to another module"
This module type-checks successfully:

[code]

... but if I move everything except `example` to another module named `Test2`:

[code]

... and then change module `Test1` to import them:

[code]

... then type-checking module `Test1` fails with the following error:

[code]

Note that if I reduce `example` to just `newST` or just `freezeST` then the problem disappears, so this issue has something to

[2016-01-15 01:34] gridaphobe commented on #574
No, it's just a suspicion.

[2016-01-15 01:40] gridaphobe commented on #575
@spinda this is probably the offending line:

https://github.com/ucsd-progsys/liquidhaskell/blob/master/src/Language/Haskell/Liquid/Bare/Lookup.hs#L82

We choose the first of multiple matches, when we should in fact throw an error due to the ambiguity.

[2016-01-15 01:52] nikivazou commented on #574
I suspect something goes wrong when we check type application. Very difficult to get into it before or during POPL though...

[2016-01-15 02:04] gridaphobe commented on #576
This is an unfortunate combination of LH's inference mechanism and the desugaring of do-notation.

As you know, your `example` desguars into a call to `>>=`

[code]

LH see this and needs to infer a type for `\l0SMutable -> freezeST l0SMutable`, in particular for `l0SMutable`, so it creates a refinement variable `k` to stand for any refinements `l0SMutable` will have. At this point we know `l0SMut

[2016-01-15 04:39] ranjitjhala commented on #576
By default we don't generate fragments from *imported* functions
But perhaps, as this example illustrates, that's a bad default!

(It should be straightforward to fix -- as we *used to* generate them from all signatures.)

@gridaphobe : can you add an option for this? (The relevant code is in Qualifiers ) if you can't get to it soon I can do it next week...

[2016-01-15 04:55] gridaphobe commented on #576
@ranjitjhala yes, it's an easy thing to change, but I recall there being a substantial performance hit from it. I experimented with mining fragments from imported types a while ago, and we ended up a bunch of extra, extremely generic qualifiers that I suspect were the source of the slowdown. I'll take another look at it.

[2016-01-15 04:57] ranjitjhala commented on #574
Likely to be related to the other issue @gabriel439 files which was to do with equality casts and TF? Unfortunately looks like a tricky one -- won't be able to get to it for a week (popl) hopefully the workaround can keep you going till then (or in the worst case, an assume?)

[2016-01-15 05:02] ranjitjhala commented on #576
There were some pathologies in text with its crazy signatures... But perhaps we could expose some knobs to help find a better default?

[2016-01-15 16:55] Gabriel439 commented on #574
One update on this: it might be related to type families at all.  I just observed a case of the refinement being lost using above the `mapM` example.  So it seems like the common denominator is just specializing the type.

[2016-01-15 16:57] Gabriel439 commented on #576
I'm fine with the `qualif` approach.  However, trying out every possible qualifier in scope seems like a very inefficient approach.  If there's a harder but more efficient way to solve this then I'd prefer to wait for that than add another knob to tweak since I already have a workaround.

[2016-01-15 17:20] ranjitjhala commented on #576
Sounds good! Just to make sure I follow, were you referring to the
'qualify' approach as the workaround, or something else? (Btw, the knob is
more for us
to experiment with, to make it easy to search the space for better
defaults, definitely not something that should be exposed to the user IMO.)

On Fri, Jan 15, 2016 at 8:57 AM, Gabriel Gonzalez <notifications@github.com>
wrote:

[2016-01-15 17:21] Gabriel439 commented on #576
Yeah, the `qualif` approach is the workaround I was referring to

[2016-01-15 17:57] Gabriel439 opened #577 "Endless loop passes termination check"
The following code loops endlessly, but passes the termination checker:

[code]

This seems like an incorrect interaction between the termination checker and the `--real` flag.  The type-checker doesn't seem to realize that the precondition for the recursive call is not satisfied for the case where `hi = 1`.

[2016-01-15 20:33] ranjitjhala commented on #577
Oops -- thanks for pointing out!  Wonder if this is more Z3 weirdness, because I get the right behavior on the below file. @Gabriel439 what do you get when you do `z3 --version` ?

[code]

the result

[code]

[2016-01-15 20:42] Gabriel439 commented on #577
I appeared to have `z3-4.4.2` installed.  I downgraded to 4.4.1 but I still encounter the same issue.

[2016-01-15 20:42] ranjitjhala commented on #577
Actually I know what the issue is -- its our overloading of `Int` and `Real` in

`Language.Fixpoint.Smt.Theories.uifDef`

In the version @Gabriel439 has, rather than failing, its treating it as `Real` and
so the result is actually non-zero...

[2016-01-15 20:58] ranjitjhala commented on #577
Hold on, I have an easy fix, but someone changed the stack resolver so its now downloading GHC 7.10.3 :)

[2016-01-15 21:14] Gabriel439 commented on #577
No hurry :)

[2016-01-15 23:31] ranjitjhala opened #579 "Overloaded Operators"
Allow overloaded operators in `Expr`/`Pred`.

We *used* to treat mul/div as over `Real -> Real -> Real` in SMTLIB, but
this causes problems, e.g. #577. Switching to default `Int -> Int -> Int` which
breaks `tests/todo/RealProps*.hs` which can be moved back into `pos` after
this is resolved. (In the short term, could have ocaml-style `/.` or `*.` for operators over Reals.)

[2016-01-16 05:00] ranjitjhala commented on #577
@Gabriel439 this should be fixed in the new master, can you confirm? I'd suggest a fresh clone per:

https://github.com/ucsd-progsys/liquidhaskell/blob/master/INSTALL.md#build-with-stack-recommended

to avoid any submodule hassles...

[2016-01-16 23:27] Gabriel439 commented on #577
I can confirm that `master` now works correctly!

[2016-01-16 23:27] #577 closed

[2016-01-18 21:20] spinda opened #581 "New abstract refinements syntax"
@ranjitjhala, @gridaphobe, @nikivazou, @christetreault, and I discussed this last week. I believe I remember the new syntax but don't want to risk getting it wrong&mdash;does anyone want to write it down here?

[2016-01-18 22:54] nikivazou commented on #581
@spinda, we said that we will totally change the syntax (and the meaning) of Abstract Refinements,
Thus we could defer this edit in the future. Does it block you right now?

[2016-01-18 23:11] nikivazou opened #583 "Restore RealProp tests"
by treating integer and real number mul and div differently.
The RealProp tests were broken by #580

[2016-01-18 23:12] nikivazou commented on #583
This is the same issue as #579

[2016-01-18 23:12] #583 closed

[2016-01-19 01:10] #576 closed

[2016-01-19 05:01] spinda commented on #581
@nikivazou, no, I'm just creating this so we can track it when it happens eventually and/or get ideas in writing.

[2016-01-22 16:25] abakst opened #587 "Data refinement error messages"
Running `liquid` on the following:

[code]

Produces the error message `safeZipWith called on non-eq-sized lists (nxs = 1, nys = 2) : defRefType dc = Boo.C` which presumably is a complaint that the number of arguments given to `C` in the refinement do not match the "base" definition. This could be made more clear in the error output, e.g. along the lines of "Number of arguments given to `C` in spe

[2016-01-22 16:57] ranjitjhala commented on #587
Super, thanks! On it!

[2016-01-23 22:42] cartazio opened #588 "recommended ways of integrating LH into cabalized builds or testing?"
are there any recommended ways of doing so? or is that unexplored territory?

[2016-01-23 23:10] gridaphobe commented on #588
We don't have any integration with Cabal at the moment, though that is something we want to work on.

The easiest thing to do currently in terms of running LH as part of the build process would probably be to run it as part of the testsuite. I think most of the test frameworks support running arbitrary programs and checking the exit code or stdout, so you would add tests that run `liquid My/Module

[2016-01-25 16:10] ranjitjhala commented on #564
Is there a file hs or fq that triggers this? Hard to fix otherwise ...

[2016-01-26 16:45] nikivazou opened #592 "Cyclic Alias Definitions"
In `genEApp2` branch the predicate alias definition  from [todo/gadtEval.hs](https://github.com/ucsd-progsys/liquidhaskell/blob/f113f7d95dd5d348e8e018f416e5e0a45f06bb16/tests/todo/gadtEval.hs)

[code]

crashes as cyclic

[code]

@spinda is this expected behavior of the cyclic check or did I break it now? How do you distinguish between Data Constructors and predicate aliases?

[2016-01-26 17:40] gridaphobe commented on #592
Regardless of what the behavior was, can we just declare that having separate namespaces for datacons and predicates is a BAD THING?

In other words, I would mark

[code]
as bad, not because of a cyclic definition, but because there's already a `TInt` in scope.

[2016-01-26 17:55] ranjitjhala commented on #592
Sure, if it helps to have separate names then let's just do that and move on...

[2016-01-26 18:51] nikivazou commented on #592
Sure, this solves the problem, I just found it weird that my edits fired this test to break, because my edits seem totally irrelevant.

[2016-01-27 16:32] abakst opened #594 "Partially applied abstract refinements panic"
If I (naively) attempt to partially apply an abstract refinement à la:

[code]

I am met with the error `liquid: <no location info> Unexpected panic (!)
    1st argument of Boo.X is "p" that expects 1 arguments, but it has 2` which is quite confusing.

The solution to the above appears to be to rewrite the application of p as
[code]
so perhaps a message suggesting this transform would be helpful.

[2016-01-27 20:51] Gabriel439 commented on #588
The way I've been doing this is to run `stack exec liquid <file>` from the root of the source tree.  That at least makes sure to pick up the correct dependencies for my current project, but you'll have to wrap that in a test suite like @gridaphobe suggested if you want to make this part of your build process

[2016-01-27 20:56] Gabriel439 opened #595 "Dependent field refinements dropped when using field accessor functions"
The following program correctly type-checks:

[code]

However, if I change `example` to use field accessors instead of pattern matching on the constructor then the program fails to type-check:

[code]

[2016-01-27 21:54] gridaphobe commented on #595
Interesting example, thanks!

I suspect the problem is that in the second example you have

[code]

but `v` is not in scope, so we drop the refinement.

The fix would be for us to automatically change the type of `x0` (the field accessor) to

[code]

i.e. treat `v` as a field accessor as well.

[2016-01-27 22:04] ranjitjhala commented on #595
@gridaphobe in the second case `v` _is_ in scope, it is the other field...

[2016-01-27 22:14] gridaphobe commented on #595
In the second `example`, the `v` field is **not** in scope, there's no case analysis.

[2016-01-27 22:36] ranjitjhala commented on #595
Right, the issue is that I think the field accessors are not getting the right strengthened types, which, in this case should be:

[code]

if we use the above (i've renamed the accessors to `get_`) then it is properly verified.

@nikivazou -- I think the fix here is to strengthen the output types of the accessors as shown above.

Right?

[2016-01-27 22:37] ranjitjhala commented on #595
@Gabriel439 -- thanks again for pointing this out!

[2016-01-27 22:42] nikivazou commented on #595
Correct @ranjitjhala!

You do not even need to define new functions you just need to refine the existing accessors, see http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1453934384_993.hs

Just add two signatures that relate the logical with the Haskell functions:

[code]

PS: I believe I have implemented this to happen automatically, did anyone turn it off?

[2016-01-27 23:16] ranjitjhala commented on #595
@nikivazou

1. Can you remind me again why we need to write the two signatures
   (i.e. for  `v` and `x0`) ?
   Was there a reason they cannot be auto generated?

2. Your example is still not quite right, because, e.g. the following
breaks:

http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1453936423_997.hs

   Your version requires unpacking the `t` with `_` (which effectively
   brings bin

[2016-01-27 23:33] ranjitjhala commented on #592
Can we close this?

[2016-01-27 23:33] ranjitjhala commented on #587
Should be fixed by https://github.com/ucsd-progsys/liquidhaskell/pull/589

[2016-01-27 23:34] #587 closed

[2016-01-28 00:13] cartazio commented on #588
ok, yeah, the test suite integration is what i want :)

[2016-01-28 00:14] cartazio commented on #588
OR; is there a way to do some crazy (ab)use of the program file preprocessor stuff and do it that way?

[2016-01-28 04:24] nikivazou commented on #595
Oups, sorry, I forgot that I edited the test to bring binders in scope...

I tried your approach and it is unsafe:
http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1453954794_1018.hs

My only comment on @ranjitjhala's example is that you do not need to define the getters (get_x0, get_v).  The definitions you provide are exactly the ones auto generated internally for the field selectors. So,

[2016-01-28 04:51] gridaphobe commented on #595
As discussed on slack, the refined selector types **do** in fact work.

http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1453956403_1038.hs

The problem was with a misunderstanding of the relative precedences of `&&` and `=>` :)

[2016-01-28 07:11] ranjitjhala commented on #594
Now looks like:

[code]

[2016-01-28 15:34] Gabriel439 opened #598 "Using GHC generics causes liquid haskell to panic"
If I try to type-check this program:

[code]

... it fails with a panic at the core extraction step:

[code]

This occurs when deriving other classes, too, like `Binary`.

[2016-01-28 16:29] ranjitjhala commented on #598
Thanks Gabriel!!

Folks we should fix this right away, we need to support auto derived generics for another reason that just occurred to me yesterday too...

@nikivazou or @gridaphobe do you have some cycles? Or shall I take a look?

[2016-01-28 17:28] gridaphobe commented on #598
I can take a look. Is the other reason Target?

[2016-01-28 17:44] Gabriel439 commented on #598
Oh, I forgot to mention that the strictness/`UNPACK` annotations don't matter.  I just forgot to remove them when minimizing the example

[2016-01-29 20:44] #598 closed

[2016-01-29 21:19] nikivazou commented on #592
Sure, different name space "fixes" the issue.

[2016-01-29 21:19] #592 closed

[2016-01-31 01:57] Gabriel439 commented on #598
Thank you! :)

[2016-02-01 05:51] Gabriel439 opened #602 "Refinement dropped when specializing type class constraint"
The following program incorrectly type-checks:

[code]

If you use the commented out type signature for `example` then type-checking correctly fails.

I tested this against a freshly checked out repository following the `stack` build instructions.

[2016-02-01 05:56] gridaphobe commented on #602
Thanks for the minimal example, this is clearly bogus!

[2016-02-02 16:04] gridaphobe opened #603 "GhcSpec contains a hole-y abstract refinement"
On my `counter-examples` branch (for more verbose printing of RTypes):

[code]

Note that the types types for `List.Nil` and `List.Cons` both have holes in their abstract refinement instantiations. (Also, it's a bit odd that we have `List.Nil` in "DataCon Specifications" but `GHC.Types.False` in "Type Signatures"...)

[2016-02-02 16:39] gridaphobe commented on #603
It seems to me that instantiating the abstract refinement with `true` is just wrong, regardless of the hole issue. Shouldn't the datacons quantify over the abstract refinement, eg

[code]

This is, after all, the definition we wrote..

[2016-02-02 16:58] gridaphobe commented on #603
Ugh, the plot thickens.... After hacking the pretty-printer to pieces, it turns out the datacons **do** have the types we wrote, we just choose not to print the full thing.

[code]

So, I think the issue really is just the holes. BUT, can someone please fix the pretty-printer to not suppress this information? At the VERY least we need a config flag that just dumps everything :)

[2016-02-02 17:09] gridaphobe commented on #603
Since I'm complaining about printing, here's how I'd like to see the types printed (assuming the new syntax for abstract refinements)

[code]

[2016-02-02 20:08] gridaphobe commented on #603
@ranjitjhala here's what the BST datacons would look like

[code]

[2016-02-03 05:22] ranjitjhala commented on #602
Yikes! This is an alarming soundness bug. @nikivazou or @gridaphobe can you take a look?

(Thanks for pointing it out @Gabriel439!)

[2016-02-08 22:22] kwf opened #609 "Refinement type of where-bound function is not inferred with real solver"
The following function computes a symbolic convolution between the two halves of its (even-length) input list. That is, `convolveHalves [1,2,3,4,5,6] = [(1,6),(2,5),(3,4)]`. This algorithm is described in "There and Back Again" by Danvy & Goldberg (ICFP 2002).

[code]

While playing with this example, @nikivazou and I realized that the `--real` solver flag is required to check the refinement types

[2016-02-08 22:37] ranjitjhala commented on #609
Interesting example, thanks! The reason its not getting inferred is that the two `as` have different types,
namely `[(a, a)]` and `[t]` -- one is a list of pairs and the other is just a list. Currently the way the qualifiers are generated for inference/instantiation they are only "matched" or instantiated for variables of similar (unifiable) types. Here, we cannot "instantiate" `forall a. [(a, a)]

[2016-02-08 23:51] nikivazou commented on #609
Thanks @kwf!

I though the type of `convolve` was `convolve :: [a] -> [a] -> [(a,a)]`, it is always called with same types right?

BTW, I suggest we make the `--real` the default behavior!

[2016-02-08 23:52] ranjitjhala commented on #609
@nikivazou -- sure, can you see how that affects the regrtests? Thanks!

On Mon, Feb 8, 2016 at 3:51 PM, Niki Vazou <notifications@github.com> wrote:

[2016-02-09 04:23] kwf commented on #609
You're welcome! If I get a chance, I'll see what it takes to code up some of the even more complex patterns from that paper in LH—there are some fun ones that end up in "triangular" lists-of-lists and such.

@ranjitjhala: That makes a lot of sense. And, that generalization would totally be a neat feature—I bet it's not the only natural place where inference could benefit from that technique.

@nik

[2016-02-12 01:18] ranjitjhala commented on #609
@nikivazou this should be "easy" with the `generalize` in fixpoint. Start with a qual, give each param a fresh tyvar, then do sort-check and use the inferred types as the actual parameters.

[2016-02-12 02:19] ranjitjhala commented on #603
can you post this `ListAbsRef.hs` file. I cannot reproduce this issue..

[2016-02-12 02:26] ranjitjhala commented on #603
alternately, send link to your printer?

[2016-02-16 04:59] rpglover64 opened #612 "Weird import behavior when using stack"
Consider two simple files in a stack project:

`FileA.hs`:
[code]

`FileB.hs`:
[code]

Running `stack exec -- liquid [...]` gives the following output:
[code]
[code]

As far as I can tell, `liquid` is opening the appropriate interface files (at least according to `strace`), but not using them properly (whatever that means)

[2016-02-16 05:08] rpglover64 commented on #612
There's a relevant IRC conversation [here](http://ircbrowse.net/day/haskell/2016/02/16?id=22288739&timestamp=1455596409#t1455596409)

(copied and cleaned up version):
[code]

[2016-02-16 05:23] gridaphobe commented on #612
Very strange.. These are both GHC errors, and we just pass a few `-i` flags to GHC. Does `stack exec -- ghc FileA.hs` work?

Also, are you using the latest hackage release or master? Thanks!

[2016-02-16 05:55] gridaphobe commented on #612
Hrm, I can't reproduce this on master or 0.5.0.1.

[code]

(My error in `FileB` is just the monomorphism restriction rearing its head)

[2016-02-16 13:22] rpglover64 commented on #612
I was using the latest hackage release (0.5.0.1). It's a shame the `--version` flag doesn't provide this info. `stack exec -- ghc FileA.hs` works.

What's especially weird is that I can reproduce this in exactly one stack directory. Even copies of that directory don't have the issue.

Is there a way I can see what flags are being passed to `ghc`?

[2016-02-16 13:47] rpglover64 commented on #612
...and the problem was using a `liquid` compiled with `ghc-7.10.3` in a different stack project and `stack install`ed in a `ghc-7.10.2` project. Or at least, deleting the binary that was in my path fixed the problem.

[2016-02-16 15:01] gridaphobe commented on #612
We don't expose that with a flag, unfortunately, but the options we pass are essentially `-i` for every directory that shows up in `paths` (in verbose mode). We also have `-g` to pass flags through to GHC directly, i.e. `-g "-package foo"` would pass `-package foo` to GHC.

Interesting, we link against GHC instead of shelling out to the binary, so this could definitely cause problems if GHC change

[2016-02-16 15:03] gridaphobe opened #613 "`--version` should print out the current version"
Splitting out of #612

[code]

This is quite useless as it stands :) It would be nice to print out the cabal-version + git hash.

[2016-02-16 16:48] rpglover64 commented on #612
At least for `ghc-mod`, the answer is "You're on your own."

https://github.com/DanielG/ghc-mod/issues/605

The solution I've found (for both) is to _not_ run `stack install ghc-mod`, but to run `stack build ghc-mod --compiler=ghc-7.10.2` outside of any `stack` sandbox (and similarly for `ghc-7.10.3); then, the appropriate version gets added to a resolver-specific bin directory which gets added to

[2016-02-16 16:56] gridaphobe commented on #612
I had a feeling this might be the case. Well, at the very least we should (hopefully) be able to check for a ghc-version mismatch and produce a more informative error message.

[2016-02-16 23:35] gridaphobe commented on #612
@spinda could you investigate what it would take to produce a better error here? What I want to do is basically compare the version of GHC we compiled against to the version that produced the libraries we're loading. I *think* there's enough metadata around to do this.

[2016-02-21 04:30] rpglover64 opened #617 "Ignore commented out annotations"
[code]
and
[code]

Both cause LH to complain about `foo` being undefined.

[2016-02-22 01:05] ranjitjhala commented on #617
Thanks! This has bothered me too!
@spinda do you think you can take a quick look as you are working with the parser?

[2016-02-27 11:43] TerrorJack opened #622 "liquidhaskell executables crash in a Windows shell"
liquidhaskell executables (including liquid.exe, fixpoint.exe, fixpoint.native.exe) all crash upon execution in a regular Windows shell. The error message is as follows:

    ---------------------------
    liquid.exe - Application Error
    ---------------------------
    The application was unable to start correctly (0xc000007b). Click OK to close the application.
    ---------------------------

[2016-02-27 16:41] gridaphobe commented on #622
Hrm, I'm afraid I can't reproduce this. I have windows 10 on my desktop, and used

- 64-bit stack
- lts-5.4

to build liquidhaskell-0.5.0.1 inside powershell (also works in cmd.exe).

I'm not very familiar with developing on windows, but perhaps there's a 32/64-bit mismatch in your setup? http://docs.haskellstack.org/en/stable/install_and_upgrade/#windows suggests that might be an issue.

[2016-03-07 06:12] spinda commented on #617
The code that grabs the `{-@ @-}` comments is [here](https://github.com/ucsd-progsys/liquidhaskell/blob/master/src/Language/Haskell/Liquid/Parse.hs#L925-L939). It just skips everything until it hits a `{-@`. To skip commented-out annotations, it could:

1. Skip everything until `{-`
2. If the next character is `@`, parse a specification. Otherwise, skip the entire comment.
3. Repeat.

[2016-03-07 06:32] spinda commented on #612
Yes, this should be possible.

[code]

[2016-03-07 06:49] spinda commented on #575
All this needs is to throw an error if multiple matches are detected, right?

[2016-03-07 20:58] ranjitjhala commented on #575
yup!

On Sun, Mar 6, 2016 at 10:49 PM, Michael Smith <notifications@github.com>
wrote:

[2016-03-07 20:59] ranjitjhala commented on #617
​That sounds right...​

On Sun, Mar 6, 2016 at 10:12 PM, Michael Smith <notifications@github.com>
wrote:

[2016-03-07 23:03] nikivazou opened #631 "Refine type error when haskell measure does not satisfy singleton type"
In the following example, the  singleton type for the haskell measure `foo` cannot be verified

[tests/neg/BadHMeas.hs](https://github.com/ucsd-progsys/liquidhaskell/blob/0d19cfbde1dbf695b57d17573eb448985b1417dc/tests/neg/BadHMeas.hs)

 because the type of `fst` is not singleton `fst :: (a, b) -> a`

Currently, a type error is thrown for the body of `foo`.

Instead, we should throw the following e

[2016-03-07 23:31] rpglover64 commented on #617
What about inline comments?

[2016-03-08 00:46] spinda commented on #612
@rpglover64 I'm having some trouble reproducing your environment. You built and `stack install`'d LiquidHaskell in an environment with ghc-7.10.3, then `stack exec`'d it in a project using `ghc-7.10.2`&mdash;right?

In that case, I don't understand how LiquidHaskell could end up reading .hi files compiled with ghc-7.10.2. LiquidHaskell would be linked against ghc-7.10.3 and, since LH produces its

[2016-03-08 00:52] spinda commented on #617
Ah, true. Also it should deal with things that look like comments within quotes. So:

1. Skip everything until `"`, `--`, or `{-`.
2. If `"`, skip a Haskell string. Go to 1.
3. If `--`, skip the rest of the line comment. Go to 1.
4. If `{-` and the next character is `@`, parse a specification. Otherwise, skip the entire comment. Go to 1.

[2016-03-08 02:12] rpglover64 commented on #617
GHC-the-library is already a dependency, right? Does it not expose a parser that preserves comments? (I feel like that would be less maintenance burden; other than that, this description looks good to me)

I think quasiquotes are rare enough that they're not a worry here.

[2016-03-08 07:14] spinda commented on #617
GHC's parser is implemented in a great big Happy file and very monolithic. I don't think we'd be able to reuse parts of it here.

However, now that you mention it, there *is* the [ApiAnnotations](https://ghc.haskell.org/trac/ghc/wiki/ApiAnnotations) interface, which is designed for extracting special comments like Haddock's from Haskell source. But it doesn't retain the location of each comment, s

[2016-03-08 07:18] alanz commented on #617
The API Annotations interface does provide locations for the comments.

[2016-03-08 07:21] alanz commented on #617
And if you set `Opt_KeepRawTokenStream` in the dynflags you can access the comments as a field in `ParsedModule` when invoking GHC.

[2016-03-08 07:32] spinda commented on #617
It associates certain comments with `SrcSpan`s, but those `SrcSpan`s correspond to the location of a nearby syntax element rather than the location of the comment itself, and top-level comments don't have real `SrcSpan`s attached at all. There's an example of the output on the wiki page. Is there other location info that can be extracted through ApiAnnotations?

`ParsedModule` has `pm_annotations`

[2016-03-08 08:16] alanz commented on #617
The `ApiAnns` type is defined as

[code]
For the comments, the map is indexed by the nearest enclosing `SrcSpan`, but the `AnnotationComment` has its original location in the source file.

So `Map.elems (snd anns)` will give you a list of located comments.

[2016-03-08 09:12] spinda commented on #617
Ah ha, I should have looked at that closer. Thanks!

Then ApiAnnotations should be perfect for our use case.

[2016-03-08 12:52] rpglover64 commented on #612
Right.

It doesn't produce .hi files for system libraries like `Data.List`, does it? That's where I think the issue is.

[2016-03-08 13:01] rpglover64 commented on #612
To reproduce:

1. `stack exec -- ghc --version` outside of a stack project (this issue crops up if I use a `liquid` from a different project too, but that's unnatural) to ensure it's `ghc-7.10.3`.
2. `stack install liquidhaskell intern liquid-fixpoint`
3. `cd $THE_LIQUID_HASKELL_PROJECT`
4. `stack exec -- ghc --version` to ensure it's `ghc-7.10.2`
5. `stack exec which liquid` to ensure that the bi

[2016-03-08 16:26] ranjitjhala commented on #617
Thanks a bunch @alanz !!!

[2016-03-08 18:52] gridaphobe commented on #617
So is the idea now that instead of parsing the module ourselves and extracting the comments, we just extract these `AnnotationComment`s from GHC itself and discard the ones that don't start with `{-@`?

[2016-03-08 22:07] spinda commented on #612
I see now. Thanks! So what needs to be checked, I think, is that the GHC version associated with the package DB matches the one we're expecting.

[2016-03-08 22:08] spinda commented on #617
Exactly. Does that sound good?

[2016-03-08 22:55] gridaphobe commented on #617
Sounds great!

[2016-03-08 23:28] ranjitjhala commented on #617
+1

[2016-03-11 21:19] Gabriel439 opened #636 "GHC panic if SMT solver is missing"
For some strange reason, if there is no SMT solver on the path `liquid` fails with a GHC panic.  I got a full stack trace of the problem:

[code]

One of my colleagues at work ran into this error and the problem went away when they installed `z3`.

My rough understanding of how the problem arises is this:

* The user has no solver on their path
* Liquid Haskell tries to throw an exception saying t

[2016-03-11 22:26] ranjitjhala commented on #636
As it happens we noticed this recently and @spinda has just fixed this in develop?

[2016-03-11 22:35] spinda commented on #636
Yes, this was fixed in #634. I believe there will be a new release to Hackage sometime soon.

[2016-03-11 22:38] #636 closed

[2016-03-11 22:38] Gabriel439 commented on #636
Yay!  Thank you :smile:

[2016-03-14 21:18] Gabriel439 opened #637 "Liquid Haskell gives unusual error message for duplicate INLINE annotaitons"
If I type-check the following module with Liquid Haskell:

[code]

... then I get the following error message:

[code]

A better error message would help narrow down the problem more quickly

[2016-03-14 21:20] ranjitjhala commented on #637
Whoa! Never seen that before -- probably tickles some dark corner of the GHC API. Will look into ASAP thanks!

[2016-03-14 21:44] gridaphobe commented on #637
That is indeed a GHC error. I believe the issue is that GHC rejects your program because it contains a duplicate INLINE pragma. Usually when this happens we print out GHC's error message, but somehow in this case we're ignoring GHC and trying to add the module to our interactive context anyway.

TL;DR your module is bad, but we need to extract GHC's error message so you can have a hope of fixing i

[2016-03-16 01:02] Gabriel439 opened #638 "`false` after bind type-checks for some monads but not others"
The following code correctly fails to type-check:

[code]

... but if you replace `Maybe` in the above example with `Data.Binary.Get` then the code successfully type-checks.

I tested a variety of monads to see which ones type-checked and which ones did not.

Monads that do not type-check for the above code:

* `Maybe`
* `Either e`
* `[]`
* `Identity`
* `Proxy`
* `Monad m => m` (i.e. generalizing

[2016-03-16 01:26] ranjitjhala commented on #638
Yikes! Thanks very much for pointing this out! For my own reference, here's a single file that demonstrates the soundness bug. Will look into this right away!

[code]

[2016-03-16 01:30] ranjitjhala commented on #638
@nikivazou here's the CORE in the two cases, looks very similar:

[code]

[2016-03-16 01:31] ranjitjhala commented on #638
May have to look at the generated constraints ... something weird is going on...

[2016-03-16 02:03] gridaphobe commented on #638
Here's a diff of the constraints https://gist.github.com/gridaphobe/4a27a71253499cc30bf6.

A couple of things stand out immediately:
1. there's a whole constraint missing in the `maybe` version
2. https://gist.github.com/gridaphobe/4a27a71253499cc30bf6#file-gistfile1-diff-L140-L150 has the subtyping relation swapped between `k_96` and `k_73` (!)

[2016-03-16 02:25] ranjitjhala commented on #638
Wonder if some co / contra variant thing is going on...

[2016-03-16 02:28] gridaphobe commented on #638
That was my initial thinking too, but looking closer at the constraints, I think the swapping *may* be a red herring. The binders don't have the same allocation of kvars either

https://gist.github.com/gridaphobe/4a27a71253499cc30bf6#file-gistfile1-diff-L47-L70

Does the new fixpoint support printing a dot file? I wonder if that might be easier to look at than a textual diff?

[2016-03-16 03:06] ranjitjhala commented on #638
--savequery

[2016-03-16 03:31] Gabriel439 commented on #638
Another thing that I forgot to mention is that Liquid Haskell infers the refinement `false` for the bound value.  If you give the bound value a name then Liquid Haskell gives the following warning:

[code]

... and if you look at inferred type of the bound value it has a refined type of `{ x : () | false }`.

[2016-03-16 04:24] gridaphobe commented on #638
@ranjitjhala sorry, I meant a `.dot` file, ie for graphviz.

@Gabriel439 yep, that's why LH is able to "prove" the `error` call safe. It infers false and can then prove anything it that branch. But it shouldn't be able to prove false here!

[2016-03-16 04:34] ranjitjhala commented on #638
@gridaphobe sorry, thats `--elimstats` (to get the .dot) file. The resulting graphs look like this:

(for the MAYBE case)
[bob-maybe.pdf](https://github.com/ucsd-progsys/liquidhaskell/files/175277/bob-maybe.pdf)

(for the BINARY case)
[bob-serial.pdf](https://github.com/ucsd-progsys/liquidhaskell/files/175278/bob-serial.pdf)

digging further, I see that LH generates the same subtyping constraints,

[2016-03-16 05:03] ranjitjhala commented on #638
@nikivazou
my hunch is the bug is in `Language.Haskell.Liquid.Types.RefType.mkTyConInfo`
in particular, in https://github.com/ucsd-progsys/liquidhaskell/blob/master/src/Language/Haskell/Liquid/Types/RefType.hs#L1074-L1079
(which is in dire need of cleaning up...) In the `AppTy t1 t2` case, can odd things can happen? e.g. if you don’t “expand” the type-alias before descending?

Assuming that GHC re

[2016-03-16 08:30] nikivazou commented on #638
@ranjitjhala you are right, the variance information says that  the type variable of `Data.Binary.Get.Internal.Get` is contravariant. Looking now why this is inferred

[2016-03-16 17:11] Gabriel439 commented on #638
Some evidence in support of @ranjitjhala's hypothesis: if you look at `Get`, `Shell`, and `Cont`, all three of them have the type parameter in the double-negative position, but only the first two have the second negation hidden behind another type, which may be way `Get` and `Shell` behave incorrectly whereas `Cont` behaves correctly.

[2016-03-16 17:14] nikivazou commented on #638
Yes! @ranjitjhala 's theory is  correct: variance is not computed correct, when it depends on variance of other type constructors. Will fix it very soon!

Thanks for the reports @Gabriel439!

[2016-03-16 18:32] Gabriel439 opened #642 "Liquid Haskell does not refine `Word` literals correctly"
This program:

[code]

... fails to type-check with this error:

[code]

However, it succeeds if you replace `Word` with `Word8` or `Int`.

[2016-03-16 18:41] gridaphobe commented on #642
Here's a simpler example.

[code]

The core is

[code]

We must be missing a refinement for `W#` or `__word`.

[2016-03-16 18:53] ranjitjhala commented on #642
So is this something to add to the LH prelude?

[2016-03-16 23:21] nikivazou commented on #642
This is fixed in the develop branch by adding a singleton type signature for `W#`

@Gabriel439 you can check out the develop branch or wait some more time to merge develop into master.

[2016-03-16 23:21] #642 closed

[2016-03-16 23:22] nikivazou commented on #638
This is fixed in the develop branch!

@Gabriel439 you can check out the develop branch or wait some more time to merge develop into master.

[2016-03-16 23:22] #638 closed

[2016-03-16 23:22] nikivazou commented on #638
This is fixed in the develop branch

@Gabriel439 you can check out the develop branch or wait some more time to merge develop into master.

[2016-03-16 23:22] Gabriel439 commented on #638
Thank you!

[2016-03-16 23:23] Gabriel439 commented on #642
Thank you!

[2016-03-16 23:24] ranjitjhala commented on #638
Awesome! Thanks @nikivazou!!!

On Wed, Mar 16, 2016 at 4:22 PM, Gabriel Gonzalez <notifications@github.com>
wrote:

[2016-03-16 23:26] ranjitjhala commented on #642
You can also just add the specification:

{-@ assume GHC.Types.W# :: w:_ -> {v:GHC.Types.Word | v == w } @-}

into the source for now, and then later at some point we can gather
all the relevant things and add them to the LH prelude, right @nikivazou ?
​

[2016-03-16 23:28] nikivazou commented on #642
sure, that should work too

[2016-03-17 16:35] gridaphobe commented on #602
Sorry for the delay @Gabriel439! It looks like the problem is that the `0` in the refined class signature is not overloaded the way a Haskell literal is.

@nikivazou can you take over? I'm not very familiar with the int/real handling. I just pushed a `T602` branch that includes a few related fixes for handling classes in general. (In particular, see https://github.com/ucsd-progsys/liquidhaskell/bl

[2016-03-17 19:02] nikivazou commented on #602
That seems quite tricky....

The problem is that the precondition for `foo` is pruned out as unsorted.
The following two programs are Unsafe

[code]

and
[code]

But the combination
[code]
 makes foo's precondition unsorted and prunes it out.
Not sure what is a good solution to this, other than disabling pruning...

[2016-03-17 20:12] ranjitjhala commented on #602
Oh no. Not the pruning again...

Why are we pruning in the specification? This *must* be an error reported to the user.

[2016-03-19 04:16] UrbanLynx opened #647 "'This should never happen' error"
I have a function:

[code]

where
[code]

If I define it as
[code]

I get error at line of {-@ measure keys @-}:
[code]

But while debugging other code I chenged definition of keys to:
[code]

And LH gave the following error:
[code]

[2016-03-19 04:27] ranjitjhala commented on #647
Yikes! Thanks for pointing this out. For now, the "fix" should be to write something like:

[code]

of course, writing `undefined` is probably going to trigger a failure -- you should replace that with some suitable "body" for that case... Does this help? Thanks again!

[2016-03-21 23:56] gridaphobe opened #648 "Useless error message from upper-case binder"
[code]

The error goes away if you lower-case `VV`.

[2016-03-22 00:13] ranjitjhala commented on #648
Odd. Seem to need *both* the upper case, `VV` binder *and* its occurrence in the refinement, i.e. the following are all fine:

[code]

[2016-03-22 09:29] nikivazou commented on #647
That's weird. I am not getting any error for the `keys` definition that you described. The above code reports safe to me

[code]

And in the online demo http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1458638910_6436.hs

Am I missing something?

[2016-03-22 16:25] gridaphobe commented on #648
I wonder if, when we try to resolve the refinement, we forget to add the value-binder to the environment.

[2016-03-22 16:52] nikivazou commented on #648
But it creates a parsing error.... Parsing happens before resolving...

[2016-03-22 17:13] gridaphobe commented on #648
It's a GHC parsing error, which **does** happen during resolving :)

[2016-03-22 17:14] gridaphobe commented on #648
Still, not clear why the environment would affect parsing..

[2016-03-22 17:18] nikivazou commented on #648
Oh, so we are trying to resolve VV as a data constructor!

[2016-03-23 19:02] j6carey opened #649 "Generic measure specialization appears to remain unused"
With a file `t.hs` containing:
[code]

I see this incorrect error:
[code]

[2016-03-23 20:13] ranjitjhala commented on #649
Could this have to do with the recently fixed Word literal issue..?

[2016-03-23 20:14] gridaphobe commented on #649
I think the problem is not so much that the instance measure is unused, but that we don't support type ascriptions in refinements, ie we don't support the

[code]

expression. I'm honestly surprised that it even parses.

[2016-03-23 20:23] j6carey commented on #649
Here is a variant that does not use `Proxy :: Proxy Word32`:
[code]

The output:
[code]

[2016-03-23 20:37] j6carey commented on #649
I reproduced the issue with what seem to be the latest commits:
[code]

[2016-03-23 20:42] j6carey commented on #649
The indirection through `Proxy` can be eliminated:
[code]
[code]

[2016-03-23 20:52] gridaphobe opened #651 "Bogus error when referring to DataCon in refinement"
[code]

[code]

Somehow we're **lowercasing** `True` to `true` and then complaining about an unbound variable.

See http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1458766207_6474.hs

[2016-03-23 21:08] gridaphobe commented on #649
Thanks, the issue is actually unrelated to the type ascription. There are actually two problems here:

1. We only learn measure-related facts when we see a data constructor being applied, or a case-of expression. For example, here's a simpler version of your example that still fails to type check even though it's clearly valid.
[code]

The problem here is that we never see a `Foo` pattern in the *

[2016-03-23 21:25] j6carey commented on #649
Sorry, I'm not quite following here.  Are `Proxy a` and `Proxy b` the same types in the view of Liquid Haskell?

Also, why does the following fail?  There is only one `sizeOf` instance:
[code]
[code]

[2016-03-23 21:34] gridaphobe commented on #649
`Proxy a` is not the same as `Proxy b` assuming `a` and `b` are fixed, but the problem is that

[code]

gives us a type for `Ptr`

[code]

and nothing more.

In your examples, we never see `Ptr` (constructor), so we don't get to use the type we learned from the measure.

----

In your latest example, the problem is that we don't implicitly quantify over the type variables the way GHC does. It work

[2016-03-23 21:53] j6carey commented on #649
Thanks for the `forall` solution.  (I think I even ran into that before; sorry I forgot to avoid that pitfall.)

At the risk of dragging this out to much: I tried putting in more pattern matching, but that didn't completely fix the problem, perhaps because of what you said about inconsistent instance measures.  The following passes the type check unless we remove the instance for `Word16`, in whic

[2016-03-23 23:03] gridaphobe commented on #649
The measure is never "evaluated" at all, rather it's a convenient syntactic sugar for providing refinement types for data constructors. I think this is the source of your (understandable!) confusion.

Rather than deal with evaluation at the type level, as dependently typed languages do, we give refined types to data constructors, which gives us a surprising amount of expressiveness with much less

[2016-03-23 23:17] j6carey commented on #649
If I understand you correctly, the example of generic measures in the README avoids overlapping refinements of the same data constructors because each instance of the measure mentions different data constructors, NOT because each instance mentions different types?

If so, then I think I understand, though in that case I do not know how to refine the type `Ptr a` to mean "a pointer to a region of m

[2016-03-23 23:41] gridaphobe commented on #649
That's exactly right!

I think we should be able to express that with the `invariant` annotation, though it's a bit of a hack...

http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1458776227_6483.hs

Unfortunately, it seems that we end up with an inconsistency here too, presumably because the `invariant` generalizes `Ptr Word{16,32}` to `Ptr a`... @nikivazou is there a reason we need to do th

[2016-03-24 11:01] nikivazou commented on #649
True, invariants are used for the generalized type constructors, so in your examples BOTH invariants apply to any `Ptr a`.  We should definitely fix that!

[2016-03-25 14:46] spinda commented on #647
@nikivazou Is that on the latest Hackage release or a later version from `develop`?

[2016-03-25 19:45] NorfairKing opened #652 "Liquid haskell memory usage blows up to >12GB on my 168 file."
Specifically this file: https://github.com/NorfairKing/super-user-spark/blob/development/src/Arguments.hs

I have no idea why or how to solve it.

It gets stock after this output:

[code]

[2016-03-26 08:44] ranjitjhala commented on #652
Many thanks for sending this! Will look into it asap!

[2016-03-26 09:21] NorfairKing commented on #652
Oh, this may be helpful:

* I'm using Z3 as the SMT solver
* `$ uname -a`
[code]

[2016-03-28 15:22] gridaphobe commented on #602
This was fixed by #650 (in `develop` but not in `master` yet).

[2016-03-28 15:22] #602 closed

[2016-03-28 18:55] nikivazou commented on #647
This is both on develop and the liquidhaskell demo.

By the way the lifting of measures is implemented, I do not see why the crash is triggered.

[2016-03-28 19:18] nikivazou commented on #652
It uses 270M for me, with

[code]

What version of liquidhaskell and ghc are you using?

This file has many string literals and it used to be the case that strings lead to code explosion because they were treated as list of characters. It used to be the case, that "cat" was decoded as `'c':'a':'t':[]`. But it is not the case any more in ghc-7.10, where strings are treated as literals.

[2016-03-28 21:10] ranjitjhala commented on #647
@urbanlynx -- can you send the whole source file that triggers the problem? I wonder if it was somewhere outside the snippet you send?

[2016-03-29 00:46] NorfairKing commented on #652
I tried the master branch: `22d2ea0`
[code]

And it has this problem.

I also just tried the development branch: `260d8ec` and it has the same problem.

If this is not reproducable, I have no idea what the problem could be...

[2016-03-29 01:13] gridaphobe commented on #652
@nikivazou I can reproduce this on the same `develop` commit.

The strings are all literals, but the corebinds are still quite a bit larger than the original code

https://gist.github.com/gridaphobe/360ba7801bbb9b83943b

The module does have a few complex expressions that will get blown up by the ANF transformation, but it's hard to believe it would be this bad.. I think there must be a space leak

[2016-03-29 01:24] gridaphobe commented on #652
This is really odd, I'm still seeing a RAM blowup if I replace all of the function bodies with `undefined`...

[2016-03-29 01:35] gridaphobe commented on #652
Here's a stack trace

[code]

@nikivazou I suspect we're actually hitting an infinite loop here. Perhaps your recent change to the variance computation is related?

[2016-03-29 06:02] ranjitjhala commented on #652
Are there any mutually recursive types involved?

Sent from my iPad

[2016-03-29 09:03] nikivazou commented on #652
Still cannot reproduce it. I am running

[code]

and get SAFE!

[2016-03-29 09:23] ranjitjhala opened #655 "No source-span information when missing abs-ref param in signature"
See `tests/todo/predparams.hs` (in `develop`)

[2016-03-29 09:59] NorfairKing commented on #652
I have to admit I'm not clear on how you define mutually recursive, but these are the datatypes involved:

[code]

[code]

You can find them in `src/Types.hs` and `src/Config/Types.hs`.

[2016-03-29 14:53] nikivazou commented on #191
@ranjitjhala is closing this issue using bounded refinement types via

https://github.com/ucsd-progsys/liquidhaskell-tutorial/issues/36

[2016-03-29 14:53] #191 closed

[2016-03-29 14:57] ranjitjhala commented on #191
While this should not have been an "issue" in the first place, I dont see how it is actually solved by that trick above (which just says that the `dropWhile` returns an empty list OR a list whose head satisfies `p`)

[2016-03-29 15:06] ranjitjhala commented on #191
IMO the code above should be rewritten as

[code]

anyway, seems just as efficient!

[2016-03-29 15:55] nikivazou commented on #655
Fixed with https://github.com/ucsd-progsys/liquidhaskell/commit/39dbf967df5bcc0f78a4749524b4d33c8570da0d

[2016-03-29 15:55] #655 closed

[2016-03-29 17:06] gridaphobe commented on #652
@NorfairKing a pair of mutually recursive types would be something like

[code]

The types you mentioned are not mutually recursive, but I suspect there are more types in your project than just those two. Are there any mutually recursive types anywhere in the import hierarchy? Even if they're not used in the `Arguments` module, we could still be trying to process them as part of the import handlin

[2016-03-29 17:08] gridaphobe commented on #652
@nikivazou can you try

[code]

after building the project? Just to be sure we're running the same set of commands.

I was on linux when I ran this, so it's possible (though I'd be surprised) that's related.

[2016-03-29 18:19] j6carey commented on #649
Any idea how hard that would be?

[2016-03-29 19:16] ranjitjhala commented on #649
@gridaphobe  and @nikivazou -- this is a very worrying soundness bug that we should fix! Why is the thing getting generalized to `Ptr a` when its clearly specified to be for two different types?

@j6carey thanks for pointing this out!

[2016-03-29 20:14] NorfairKing commented on #652
I can't find any mutually recursive types, only a singly recursive type:

[code]

in `src/Language/Types.hs`

[2016-03-29 20:20] ranjitjhala commented on #652
Hi all, this is v puzzling! Let's try to systematically reproduce and fix either tomorrow or after we get back to SD!

Sent from my iPad

[2016-03-29 21:40] ranjitjhala commented on #649
Yes, but we already have such a notion, c.f. measures defined like

  measure keys :: [(k, v)] -> Set k

  measure elemss :: [[a]] -> Set a

which are only applied to lists that contain, tuples, and lists
inside them, and which subsequently yield constructors that are
suitably refined.

Could this (as is getting distressingly regular) another
problem with `pruneUnsortedRefts`? Which nicely prunes

[2016-03-29 21:48] ranjitjhala commented on #652
@gridaphobe did you

1. Clone the repo
2. branch to `development`
3. stack build
4. THEN run `stack exec -- liquid` etc.

?

On Tue, Mar 29, 2016 at 10:20 PM, <rjhala@eng.ucsd.edu> wrote:

[2016-03-29 21:48] gridaphobe commented on #649
The
[code]
measures are handled by `pruneUnsortedRefts` last I checked. That is, we strengthen `[]` and `(:)` with both measures and then prune the ill-sorted refts later.

I think you're right that measures should in theory be handled in the same manner as I'm suggesting for invariants, but it doesn't exist yet.

[2016-03-29 21:52] ranjitjhala commented on #649
Just to make sure I'm not lost: the problem here had to do
with two different *measures* getting unsoundly (and unnecessarily)
conjoined, right? (The invariant thing is a side issue ...?)

[code]

On Tue, Mar 29, 2016 at 11:48 PM, Eric Seidel <notifications@github.com>
wrote:

[2016-03-29 21:52] gridaphobe commented on #652
Yes. (I was on `master`, but they point to the same commit)

[2016-03-29 21:53] gridaphobe commented on #649
Ack, right. I forgot about the original issue and was trying to fix the secondary issue with invariants :)

[2016-03-29 22:01] ranjitjhala commented on #652
Most vexing, I find myself in @nikivazou's boat (cannot reproduce) :(

I just did the following, @NorfairKing are you running something
like this? On Mac? Linux? Windows?

[code]

On Tue, Mar 29, 2016 at 11:52 PM, Eric Seidel <notifications@github.com>
wrote:

[2016-03-29 22:53] j6carey commented on #649
I got the impression that if either invariants or measures could be made sensitive to the type information, then it might be possible to work around a lack of such sensitivity in the other feature.

My end goal is to be able to check whether a memory region is large enough based on the type of object that I expect to read from it.

[2016-03-30 06:29] NorfairKing commented on #652
I tried going through the steps you described here and I'm still having the memory problem.
I'm using `z3` as  the SMT solver on arch Linux.

[2016-03-30 07:19] ranjitjhala commented on #652
@gridaphobe can you replicate on an arch Linux or other VM? If so we could work with that?

[2016-03-30 07:28] ranjitjhala commented on #652
alternately -- what linux machine are you using? goto?

On Wed, Mar 30, 2016 at 9:19 AM, Ranjit Jhala <rjhala@eng.ucsd.edu> wrote:

[2016-03-30 17:27] gridaphobe commented on #652
@ranjitjhala I was using my desktop at home, but I just reproduced the issue on goto as well.

[2016-03-30 17:33] ranjitjhala commented on #652
Ah, ok thanks!

On Wed, Mar 30, 2016 at 7:27 PM, Eric Seidel <notifications@github.com>
wrote:

[2016-03-30 20:04] sorawee opened #658 "Weirdness in splitAt"
If I have `test1` and `test2`, LH can check that this is safe, so this is good.

[code]

Weirdly, if I have `test3` alone, it's unsafe

[code]

Now, if I put `test1`, `test2`, `test3` together, it's safe again... although `test1`, `test2`, `test3` has no relation to each other at all...

[code]

I see the annotation for `splitAt` and am a little bit confused:

[code]

But I tried:

[code]

so it s

[2016-03-30 20:20] ranjitjhala commented on #658
@sorawee this has to do with our defaults for generating qualifiers.

Whats happening is this:

To prove `test3` I think you need the qualifiers (think "refinement fragments") that appear in the output type of `splitAt`, namely `len v = len _ - _` where the `_` can be instantiated with variables in scope. (The reason you need this is to give a proper type to the tuple `(a, b)` in `test3`. Now,

1.

[2016-03-30 20:22] ranjitjhala commented on #658
As an aside, this is a great question -- @gridaphobe or @nikivazou can you think of some way we can "curate" these and add them to a README or FAQ or PITFALLS.md or such?

[2016-03-30 20:24] ranjitjhala commented on #658
@sorawee ps: the bizarre GHC error you're seeing is because its parsing it as  `(splitAt - 1) ...` if you instead use parens, you get:

[code]

[2016-03-30 20:25] sorawee commented on #658
Ah, that's why! Thanks for the explanation :)

[2016-03-30 20:26] #658 closed

[2016-04-01 16:23] gridaphobe commented on #595
This is fixed by #654

[2016-04-01 16:23] #595 closed

[2016-04-01 23:09] ranjitjhala commented on #595
Thanks @gridaphobe!

On Friday, April 1, 2016, Eric Seidel <notifications@github.com> wrote:

[2016-04-03 01:03] sorawee opened #660 "nofalse is not implemented?"
Under "Ignore False Predicates", README file, it shows a use of:

[code]

I am not totally sure what this does (I `git rev-list --all | xargs git grep nofalse` to see the usage of it, but it only exists in the README file). `tests/neg/lazy.lhs` does not exist too. However, I think that it is used to suppress a warning like:

[code]

on refinement like

[code]

Note: seems that this used to be enco

[2016-04-03 04:54] sorawee opened #661 "Cannot import Data.Vector in http://goto.ucsd.edu:8090/"
[code]

results in

[code]

[2016-04-03 05:41] sorawee commented on #661
It also doesn't support `{-@ LIQUID "--scrape-imports" @-}`

[code]

[2016-04-03 06:55] Gabriel439 commented on #595
Thank you!

[2016-04-03 07:08] gridaphobe commented on #661
I think the web demo is running a pretty old version of LH at this point, so that would explain the unknown flag.

It probably also doesn't have any libraries available outside of `base`. It would indeed be nice to make `vector` available, I think we use it in one of the blog posts.

[2016-04-03 07:55] sorawee opened #662 "implementing Bag"
Set which is an array mapping to Boolean cannot capture the quantity of elements. Would be nice to have a Bag (see http://rise4fun.com/Z3/tutorialcontent/guide#h26) which is an array mapping to Int as well.

[2016-04-03 14:25] ranjitjhala commented on #661
Oops, thanks for pointing out @sorawee !! Will fix the web demo today!

Sent from my iPad

[2016-04-03 14:27] ranjitjhala commented on #660
Hmm I thought this was a dead option -- we certainly use false eg for the reasons below. @nikivazou any idea why it's still there? Can we remove it?

Sent from my iPad

[2016-04-05 02:01] nikivazou commented on #660
It is indeed a dead option. I used it when trying to figure out the soundness under laziness. I removed it! Thanks @sorawee!

[2016-04-05 02:01] #660 closed

[2016-04-05 02:25] sorawee commented on #660
Then I guess another issue is that the following code

[code]

gives

[code]

But @ranjitjhala said that `{-@ die :: {v : _ | false } -> a @-}` is an encouraging way to indicate a "dead code". So I guess it should not be a warning?

[2016-04-05 02:42] ranjitjhala commented on #660
Indeed! @nikivazou do you see why that warning is pointless now :)

[2016-04-05 02:52] nikivazou commented on #660
But @ranjitjhala that is why it is a warning and not an error. The following code produces a non-pointless warning

[code]

[2016-04-05 03:08] ranjitjhala commented on #660
Actually

1. this example is pointless too; after all you've put in "--no-termination" ...

2. Regardless, the "false" thing is an adhoc indication of unsoundness -- ie it is neither sufficient nor necessary, and so

3. In general this "warning" is only useful to the *developers* of LH who may be "sanity checking" something or making sure something wierd is not happening and it is quite incomprehe

[2016-04-07 15:00] tswilkinson opened #667 "Make a neomake checker for liquid"
This would allow support for using liquid with Neovim.

I have tried to make one myself but I can't make head or tail of vim's error message formatting...

[2016-04-07 17:11] ranjitjhala commented on #667
Good idea. Btw, does the syntastic plugin work for neovim? [ moved away from vim because of the lack of "asynchronous" checking in syntastic, but perhaps this is addressed by neomake? ] /cc @spinda

[2016-04-08 07:27] tswilkinson commented on #667
The neomake checker has a different layout to syntastic, but it's similar I think (see the README).  Neomake works on both vim and neovim, and has very good asynchronous checking on neovim.

[2016-04-10 14:36] bonds opened #668 "doesn't find files needed for check"
I am attempting to check this project: https://github.com/bonds/winot. I am running liquid from the project root like so:

[code]
It doesn't seem to figure out which files to include on its own. Trying ````stack exec -- liquid -i src src/Wwan.hs```` yields the same result. Adding ````--cabal-dir```` with or without ````-i src```` yields the same result. Using ````--c-files=```` in reference to one

[2016-04-10 15:14] ranjitjhala commented on #668
Odd thanks for filing this! Will take a look this afternoon!

[2016-04-10 15:26] ranjitjhala commented on #668
@spinda and @gridaphobe any chance the panic is due to the missing z3 path?

[2016-04-10 15:27] ranjitjhala commented on #668
@bonds what is the result of 'which z3'?

[2016-04-10 17:20] bonds commented on #668
[code]
liquid *does* seem to be working on certain files in the project, so it at least sometimes can find z3:

[code]
There is not much in that file, as you can see, but you can at least see that liquid isn't complaining that it can't find a solver.

[2016-04-10 18:32] gridaphobe commented on #668
Ugh, the problem is that `winot.cabal` sets a few default extensions that we don't see. They need to be passed explicitly on the command-line, as for ghc-mod or hdevtools.

[code]

I try to avoid setting defaults in the .cabal file for this reason.

[2016-04-10 18:33] gridaphobe commented on #668
@ranjitjhala this is a perfect example of the pain that we could avoid if we got LH working as a GHC plugin :)

[2016-04-10 19:14] ranjitjhala commented on #668
Ah thanks! Wonder if there is some way to make this clear to users. At the very least we should make a troubleshooting /faq that explains the limitation...

[2016-04-10 19:32] gridaphobe commented on #668
I think part of the problem is that we (probably) discard the result of the `load LoadAllTargets` call, which I believe would tell us that some modules failed to compile (and why).

Also, @spinda's new cabal integration probably sidesteps this issue entirely since it has easy access to the cabal info.

[2016-04-12 03:58] Gabriel439 opened #670 "Refinements for fields brought into scope by case analysis but not by destructuring let"
The following example correctly type-checks:

[code]

... but if I change the final line to a destructing `where` or `let` then the refinement is lost and this program does not type-check:

[code]

... but if I destructure the result of `quotRem` using case analysis then the refinement is correctly preserved and this program does type-check:

[code]

[2016-04-12 04:23] ranjitjhala commented on #670
Sorry about this @Gabriel439 (and thanks for pointing it out!)

Its a tricky thing I've seen this before. If you add:

[code]

to the file then the second one *also* type checks (on develop).

The reason has to do with how GHC desugars the:

[code]

into something like:

[code]

LH needs qualifiers to compute the value of the `case-of`
(as it is the "join" or "least-upper-bound" of all the differe

[2016-04-13 18:30] ranjitjhala opened #671 "Error message in wrong location"
See `tests/neg/inc2.hs`

[2016-04-14 21:42] ranjitjhala opened #673 "Disable `assume` from .spec files"
1. Remove them from the current `include/*.spec`
2. Report an error if you see them.

This is because they _should_ be meaningless (they are obviously "assume"
types -- there is no code after all!) However, they prevent actually "assuming"
stronger or weaker types in clients...

[2016-04-14 21:48] gridaphobe commented on #673
The one downside to this approach would be that the `.spec` syntax would now be slightly different from the comment syntax.

[2016-04-14 22:04] ranjitjhala commented on #673
Not a biggie imo. (I mean already, there's no owl-comments `{-@ ... @-}` )

[2016-04-15 22:42] Gabriel439 opened #675 "Liquid Haskell approves eta-expanded function and errors on pointfree version of the same function"
In the following code, `extract` type-checks fine.  Liquid Haskell returns with no errors:

[code]

However, if we modify `extract` so that it looks like:

[code]

... it returns the following error:

[code]

[2016-04-16 00:18] ranjitjhala commented on #649
@nikivazou or @gridaphobe -- is there any update on this? Do the above things address it? Or is this still open?

[2016-04-16 00:55] ranjitjhala commented on #675
Hi @Gabriel439,

TL;DR -- this is a consequence of how inference works so, unfortunately
you either (1) need extra qualifiers *or* (2) can use `--scrape-imports`.
Fortunately we are working on it in an experimental branch, so hopefully
will not need those in (the near?) future!

Details:

This is a consequence of the current inference algorithm, here's a simpler variant:

[code]

The reason the se

[2016-04-16 04:08] Gabriel439 commented on #675
That makes sense!  No apologies necessary :)

[2016-04-18 21:13] nikivazou commented on #649
@gridaphobe are you on that or should I check it too?

[2016-04-18 21:20] gridaphobe commented on #649
@nikivazou @ranjitjhala My fix in #657 prevents the soundness issue with overlapping instance measures, but it does not let us express @j6carey's invariant. So this is still open.

[2016-04-19 15:18] nikivazou opened #680 "Type aliases checked for well-formedness"
The following code (taken from a user) should create sort error**s** in the definition and usage of type alias

http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1460116554_6808.hs

Note
- `b` is used as a value but is lower case (at definition of `UL`)
- `y` is not in scope (at usage of `UL`)

[2016-04-19 16:17] nikivazou commented on #670
@ranjitjhala you are correct, `--scrape-used-imports` will just add the required qualifier and the code just works!

[2016-04-19 16:17] #670 closed

[2016-04-19 16:24] ranjitjhala commented on #670
@nikivazou can you make a new tag "missingquals" and tag this (and others)
? Would like to keep an eye on these to find a proper solution to the
problem.

On Tuesday, April 19, 2016, Niki Vazou <notifications@github.com> wrote:

[2016-04-19 16:28] nikivazou commented on #670
Done!

[2016-04-20 19:44] sorawee opened #682 "web crashed"
Just a moment ago, suddenly the web doesn't work anymore:

[code]

results in

[code]

where the log is:

[code]

[2016-04-20 19:46] ranjitjhala commented on #682
oh dear. my fault, I was just upgrading it to the latest version. Give me a moment please!

[2016-04-20 19:49] ranjitjhala commented on #682
hope this was not in the middle of lecture?!

[2016-04-20 19:50] sorawee commented on #682
It's in a middle of the software demoing, but that's fine. I have a local version

[2016-04-20 19:51] ranjitjhala commented on #682
should be fixed now! sorry about that!

[2016-04-20 19:51] #682 closed

[2016-04-21 09:06] sorawee opened #685 "Function in refinement"
[code]

results in SAFE... I don't know if LH can reason about the above code or not. If it cannot, shouldn't it result in an error instead? Otherwise, this should obviously be UNSAFE.

[2016-04-21 13:12] ranjitjhala commented on #685
Yikes! @nikivazou can you explain (and fix) ?!

This is likely a consequence of pruned Unsorted...

[2016-04-21 15:40] nikivazou commented on #685
Correct, the refinement is pruned out. I am taking a look!

[2016-04-21 15:54] ranjitjhala commented on #685
Can we please not run prune on any user defined types? If anything gets pruned in such types it should be an error.

[2016-04-21 16:27] nikivazou commented on #685
@sorawee I will push a fix soon, until then, if you want to soundly add functional arguments (like `f`) in your refinements use `--higherorder`.

@ranjitjhala by user defined types you mean the specifications right?

[2016-04-21 16:35] ranjitjhala commented on #685
Yes

[2016-04-21 18:54] #647 closed

[2016-04-21 18:56] nikivazou commented on #647
Quite confident that measure annotation did not trigger @urbanlynx 's bug. Closing the issue until we get further input.

[2016-04-21 19:00] nikivazou commented on #530
@ranjitjhala is this still an issue? I cannot reproduce it

[2016-04-21 19:11] nikivazou commented on #651
I suspect, it is because of the following line

https://github.com/ucsd-progsys/liquid-fixpoint/blob/master/src/Language/Fixpoint/Parse.hs#L118

Not sure why this line is there, git blames @ranjitjhala.
Will remove it and see what happens

[2016-04-21 19:21] nikivazou commented on #649
@gridaphobe the soundness issue seems to still be there

http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1461266406_7375.hs

[2016-04-21 21:09] gridaphobe commented on #649
Ah right, there's a separate soundness issue with invariants, I only fixed the class measures.

[2016-04-21 23:49] nikivazou commented on #649
Ok, now we support this
 [tests/pos/MultipleInvariants.hs](https://github.com/ucsd-progsys/liquidhaskell/blob/e4bc6c6b165fbf81f6b865ca3efa8b3fc2c1860d/tests/pos/MultipleInvariants.hs)

What else do we need to close this issue?

[2016-04-21 23:59] nikivazou commented on #685
Fixed on develop:

@sorawee your code now will crash with `Unbound Symbol f`. If you use the `--higherorder` flag then the code is unsafe.

There is no documentation for the `higerorder

[2016-04-22 00:32] #685 closed

[2016-04-22 00:57] gridaphobe commented on #649
It might still be nice to support measure instances that constrain the type variables, but I think that can be a separate (feature request) issue.

[2016-04-22 18:40] nikivazou commented on #649
So, closing this with #688.

@gridaphobe can you provide a minimum example with your feature request? Thanks!

[2016-04-22 18:40] #649 closed

[2016-04-22 19:45] j6carey commented on #649
So, if I understand this correctly: rather than trying to create instances of a measure class for each type of pointer, I should define a single ordinary measure and then impose invariants on it, with each invariant being for a particular type of pointer?

[2016-04-26 23:47] sorawee opened #691 "Can't use a name starting with an upper letter"
A student in our class discovers the following bug:

[code]

is fine.

[code]

is also fine.

[code]

results in a GHC error (Not in scope: variable `FOO').

We should either disallow anyone from using a name starting with an upper letter (with descriptive error message), so that both 2) and 3) result in an error, or fix this so that it's not an error...

[2016-04-26 23:51] ranjitjhala commented on #691
Oops. I am surprised the second thing was accepted. Uppercase should not be allowed for binders!

[2016-04-27 00:09] ranjitjhala commented on #691
This line

https://github.com/ucsd-progsys/liquidhaskell/blob/develop/src/Language/Haskell/Liquid/Parse.hs#L397

should be modified so we use `lowerIdP` instead of `binderP` ... (assuming it doesn't break anything...)

[2016-04-27 18:32] ranjitjhala commented on #691
Fixed by 55e7fd6a949ef81f9757a994276fe6313c0a67c2 (oops looks like there's a conflict...)

[2016-04-27 18:32] #691 closed

[2016-04-28 00:56] spinda commented on #668
@bonds Can you give [liquidhaskell-cabal](https://github.com/spinda/liquidhaskell-cabal) a try? It should be a drop-in solution to this sort of problem.

The particular issue of not handling load failures correctly is fixed in the `api-annotations` branch.

@gridaphobe GHC plugin integration is getting closer! The pieces are starting to fall into place.

[2016-04-28 01:24] spinda commented on #588
[liquidhaskell-cabal](https://github.com/spinda/liquidhaskell-cabal) is now the recommended way to integrate LH with a Cabal or Stack-based build. Please let me know if it doesn't meet your needs!

[2016-04-28 01:24] #588 closed

[2016-04-28 01:25] spinda commented on #617
The `api-annotations` branch is pushed and will hopefully be merged soon.

[2016-04-28 17:35] frantisekfarka opened #697 "Missing source for build with cabal in INSTALL.md"
Current instructions in INSTALL.md for cabal build are incomplete
and when installing with cabal 1.22.9 the "cabal install" produces the following
error:

[code]

However, adding the following source fixes the issue:

[code]

[2016-05-03 20:37] nikivazou opened #701 "Type equalities"
Type equalities are treated as class constraints (as of recently). So the [following](https://github.com/ucsd-progsys/liquidhaskell/blob/ackermann/tests/pos/TypeEqualities.hs) test passes

[code]

Next step is to push the equality information in the logic and allow replacing `v~~x` with `v == x`. The second is not malformed.

[2016-05-03 20:40] gridaphobe commented on #701
Is there a reason to push the type equality into the logic? (Besides the ugliness of `~~`?)

[2016-05-03 20:46] nikivazou commented on #701
Yes! I want to also have `<` etc, not only `~~`

[2016-05-03 20:47] ranjitjhala commented on #701
Can you think of a way to NOT push type equality into the logic? I don't
think that's a good idea.

On Tuesday, May 3, 2016, Eric Seidel <notifications@github.com> wrote:

[2016-05-03 20:48] nikivazou commented on #701
I think we need to reason about all the type class info properly: right now we have a hack for numerics, we should generalize it with a better story

[2016-05-03 21:01] ranjitjhala commented on #701
Not seeing the connection of type classes  and equality constraints ...

On Tuesday, May 3, 2016, Niki Vazou <notifications@github.com> wrote:

[2016-05-03 21:05] nikivazou commented on #701
They are very similar
   - arguments are inferred by the compiler
   - they are printed before `=>` in the type signature
   - both are represented as type constructors applied to types

Actually, I expected `~` to be a class constraint, but it is not

[2016-05-03 21:05] gridaphobe commented on #701
Yes, class constraints are very different from equality constraints. (`<` would count as a class constraint)

[2016-05-03 21:07] gridaphobe commented on #701
Specifically, the fancier constraints, like the arithmetic operators could be useful to push into the logic, but the equality constraints seem pointless to me.

[2016-05-03 21:08] nikivazou commented on #701
@gridaphobe I want to be able to write

[code]

[2016-05-03 21:11] ranjitjhala commented on #701
@nikivazou, *why* do you want to write that? Whats wrong with:

[code]

or at any rate, for LH emitting FQ constraints that would be

equivalent to what we get from the above?

On Tue, May 3, 2016 at 2:08 PM, Niki Vazou <notifications@github.com> wrote:

[2016-05-03 21:14] nikivazou commented on #701
@ranjitjhala under an environment that does not know `a~b`, the refinement you wrote is unsorted, as it reduces to  `x:a, v:b |- v < x`

[2016-05-03 21:14] gridaphobe commented on #701
1. Why do you want to write that? In my experience writing an explicit equality constraint in the context is a bad sign.

2. Why not just apply the equality before running the sort-checker?

[2016-05-03 21:17] nikivazou commented on #701
I did not understand your 2 point.

The reason I want to do that is here
https://github.com/ucsd-progsys/liquidhaskell/pull/700/commits/44637d5eb2b961979012e9c0c78b3bb4aab07a7b

but I can see more Haskell users asking this feature.

[2016-05-03 21:22] gridaphobe commented on #701
You can treat the equality as a substitution `a := b`, to be applied before sort-checking. Then there's no need to deal with equality constraints in the logic.

[2016-05-03 21:39] nikivazou commented on #701
That is a nice solution!

[2016-05-03 21:42] ranjitjhala commented on #701
@nikivazou -- sorry I cut paste without editing, I meant just replace all
`a` with `b` or vice versa...

On Tue, May 3, 2016 at 2:39 PM, Niki Vazou <notifications@github.com> wrote:

[2016-05-03 21:42] ranjitjhala commented on #701
but to do that in *LH* not inside fixpoint.

On Tue, May 3, 2016 at 2:42 PM, Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

[2016-05-03 21:54] nikivazou commented on #701
So, more or less what Eric says. It is a solution!

[2016-05-04 04:16] ranjitjhala commented on #697
Thanks very much for pointing this out!
I have update the instructions in fa92333d5b67c928af338d58ee7fe799bd440d32

[2016-05-04 04:16] #697 closed

[2016-05-06 00:23] nikivazou opened #703 "Make prunning optional"
I switched the prune-unsorted refinements to be false by default. One can turn it on by  `--pruneunsorted`.

The following tests fail without the prunning flag:
https://circleci.com/gh/ucsd-progsys/liquidhaskell/458

Worse: the above tests just crash (w/o the flag) with a terrible error message.

[2016-05-06 02:43] ranjitjhala commented on #703
Don't want to merge till those tests pass...

On Thursday, May 5, 2016, Niki Vazou <notifications@github.com> wrote:

[2016-05-06 09:35] alanz opened #704 "Order dependence in a where clause"
I am working through the tutorial at https://ucsd-progsys.github.io/liquidhaskell-tutorial/04-poly.html using GHC 7.10.3  and z3 4.4.1

I find that the checker either fails or succeeds based on the order of definitions in a where clause

[code]

In the last two lines, switching the order of definition for `n` and `body` changes the checker from passing all, to reporting

[code]

And it does not in

[2016-05-06 15:03] ranjitjhala commented on #704
Hi @alanz,

thanks for pointing this out!

TL;DR: run with `--scrape-used-imports` or `--eliminate` to
get it to work in both cases.

This is a subtle issue that needs more attention in the tutorial.
The reason for this difference is that with the "good" order,
we can synthesize the refinement:

[code]

but with the "bad" order, `n` is not in scope at `body` and so
we cannot get the above refineme

[2016-05-06 15:03] #704 closed

[2016-05-06 16:45] nikivazou commented on #703
The tests pass after I added the ` --pruneunsorted`.

The problem is that the error message without the flag is terrible!

[2016-05-06 18:28] alanz commented on #704
Does liquidhaskell process the definitions in lexical order? I know the GHC RenamedSource re-orders them in dependency order, which might be something worth considering.

[2016-05-06 18:32] alanz commented on #704
Thinking about the tutorial, the `vectorSum'` example used the "good" order, but the one to be completed by the user (`absoluteSum'`) has the "bad" order, which is setting up the user to fail.

[2016-05-06 18:32] gridaphobe commented on #704
We process the Core, by which point I believe `n` and `body` will no longer be in the same binder group. Furthermore, neither depends on the other, so GHC is free to order them however it feels. So I suspect if we look at the Core, we'll see that `body` is defined before `n`, which sadly means that `n` will not be in scope from LH's perspective.

[2016-05-06 18:35] ranjitjhala commented on #704
Yes, LH operates at the lexical order, in particular, at
the level of the GHC core (and then processes the bindings
in that order). I'm guessing in one case, the core looks like:

[code]

(so `n` is in scope at the definition of `body`), but in
the other case its:

[code]

where `n` is not.

Note that in this case `n` doesn't actually appear in `body`
i.e. the only dependency is at the refinement

[2016-05-06 18:36] ranjitjhala commented on #704
Ugh, you're right! I should fix that ASAP! Thanks!!

On Fri, May 6, 2016 at 11:32 AM, Alan Zimmerman <notifications@github.com>
wrote:

[2016-05-06 18:44] alanz commented on #704
Btw, both the suggested fixes (`--scrape-used-options`, `--elimate`) work. Is there any reason to prefer the one over the other?

[2016-05-06 18:50] ranjitjhala commented on #704
Right now, the behavior of `--scrape-used-imports`
is far better understood & predictable.

The second option, `--eliminate` is still under
development, and I'd like the dust to settle a
bit before recommending it.

On Fri, May 6, 2016 at 11:44 AM, Alan Zimmerman <notifications@github.com>
wrote:

[2016-05-06 19:48] ranjitjhala commented on #703
Whats an example of an error?

On Fri, May 6, 2016 at 9:45 AM, Niki Vazou <notifications@github.com> wrote:

[2016-05-06 20:29] gridaphobe commented on #703
Here's an abbreviated example from `Data.Text`

[code]

[2016-05-06 20:50] ranjitjhala commented on #703
​Why does "elaborate" fail when pruning is off/on?
​

[2016-05-06 20:58] gridaphobe commented on #703
I'm guessing there's an ill-sorted refinement that would have been pruned away, and `elaborate` is simply where it is discovered.

[2016-05-10 01:13] gridaphobe opened #707 "Spec parser consumes extra tokens"
See https://github.com/ucsd-progsys/liquidhaskell/commit/31733db39f58e3bd88f7840cc2b45d907c8c2c94 and #706.

The problem is that when you have a set of specs like the following

[code]

the `BareType` parser consumes the `unsnoc` token, as

[code]

is a valid type.

Adding an extra parenthesis around the output type usually fixes these parse issues, e.g.

[code]

but why is beyond me.

The root of

[2016-05-10 06:47] gridaphobe opened #708 "Newtype issues"
See the NOTE in https://github.com/Gabriel439/slides/blob/master/liquidhaskell/slides.md#simplified-parser.

`newtype`s shouldn't affect us in theory, though there are a bunch of complications in practice due to the fact that the Core uses casts instead of data constructors.

[2016-05-14 21:52] sorawee opened #710 "annotating functions in typeclass should result in an error"
Please see http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1463259507_10885.hs

It results in SAFE, while my friends expect it to be UNSAFE.

(Though it's true that if we annotate it with

[code]

Then it's UNSAFE)

[2016-05-14 22:16] ranjitjhala commented on #710
Yikes! @nikivazou and @gridaphobe is this related to the various other type class related issues.

[2016-05-14 22:20] sorawee commented on #710
FYI: @avanhatt

Also, it seems she is trying to refine

[code]

but LH can't even parse `{-@ instance (Num k) => Add k k where ...`

[2016-05-15 01:31] gridaphobe commented on #710
I suspect what's going on here is that the isolated spec for `add` is not being attached to the `Add` class the way the class-spec would be.

I think the most user-friendly solution would be to make the two specs @sorawee mentions equivalent, ie

[code]

would effectively desugar into

[code]

[2016-05-15 02:05] nikivazou commented on #710
@avanhatt, @sorawee actually I recently extended class instances refinements to support the instance you want to refine. So, as of now in develop you can add

[code]

and your code is UNSAFE.

Though indeed we should create an error for the initial code. I though `add` is not even a variable in the internal representation, so expected the specification to fail with unknown var....

[2016-05-15 02:07] gridaphobe commented on #710
@nikivazou `add` is the dictionary selector, and is what appears at callsites, so we definitely need to give it a refined type.

[2016-05-15 21:51] avanhatt commented on #710
@nikivazou @gridaphobe @sorawee

Thank you for the advice! Now that the instance refinement is getting parsed correctly, though, the behavior seems to not be what we expect.

As a minimal example, the following gives SAFE when we expect UNSAFE:

[code]

And for reference, the same function without the use of a type class does give UNSAFE:

[code]

[2016-05-15 23:25] nikivazou commented on #710
Interesting! Seems that you hit a bug... As I said, I just added support for this feature. Taking a look now!

[2016-05-16 01:09] nikivazou commented on #710
Should be fixed in develop now! Thanks for the report @avanhatt!

[2016-05-16 01:09] #710 closed

[2016-05-16 03:35] ranjitjhala commented on #710
Just checking -- does @nikivazou's fix in `develop` work for you @avanhatt?
​

[2016-05-16 15:53] avanhatt commented on #710
@ranjitjhala
Yes, the fix is working for me so far, thanks!

[2016-05-16 17:12] avanhatt commented on #710
@ranjitjhala @nikivazou
Actually, I think I'm running into a related bug with parsing instance refinements. The following minimal example gives an LH parsing error on trying to refine instances with list types (in this case, we're trying to model adding vectors and matrices):

[code]

Produces the error:
[code]

[2016-05-16 17:20] nikivazou commented on #710
@avanhatt can you try wrapping the list types into parenthesis?

[2016-05-16 17:32] avanhatt commented on #710
@nikivazou
Hm, so that stops the parse error, but now the Liquid type doesn't seem to correspond with the refinement (it loses the context and the output type should be [[k]], not [k]).

[code]

Gives the error:
[code]

[2016-05-16 18:03] avanhatt commented on #710
@nikivazou
Oops, sorry, the last part of my refinement is wrong so nevermind! Everything else is working now with the parenthesis, thanks.

[2016-05-23 23:54] gridaphobe opened #716 "SAFE code becomes UNSAFE after inlining a let-binder"
http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1464047468_12018.hs correctly marks `grabWord16'` as SAFE, but if you inline the let-in it becomes UNSAFE.

[2016-05-24 00:10] nikivazou commented on #716
@gridaphobe your link had the isEven example

[2016-05-24 00:19] gridaphobe commented on #716
It pulls up the right example on my phone :/

[2016-05-24 00:38] ranjitjhala commented on #716
I don't follow the issue

[code]

in the `SAFE` variant, the call to `narrow*` pulls in the `64` thing, but in the `UNSAFE` variant, there is no such call (so its ... unsafe). What am I missing?

[2016-05-24 01:18] gridaphobe commented on #716
Sorry, the `grabWord16` vs `grabWord16'` was confusing. This came from a demo for someone, but the issue concerns a modification to `grabWord16'`.

Here's the issue

[code]

[2016-05-24 01:29] gridaphobe commented on #716
We can simplify it a bit more

[code]

which produces the following Core

[code]
and after ANFing
[code]

Notice that the call to `narrow16Word#` in `grabWord16_UNSAFE` is bound with a `case` instead of a `let`, even after ANFing.

[2016-05-24 14:39] ranjitjhala commented on #716
Hmm sounds like we don't strengthen the env in the default case properly...
Will take a look.

[2016-05-24 23:47] gridaphobe opened #718 "Unboxed Tuples"
Unboxed Tuples crash LH at the moment.

http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1464133143_12050.hs

[code]

This seems to be a GHC error that arises because we set `HscInterpreted` in

https://github.com/ucsd-progsys/liquidhaskell/blob/master/src/Language/Haskell/Liquid/GHC/Interface.hs#L123-L126

The FIXME says we need this in order to lookup certain unexported Names in modules.

[2016-05-24 23:50] gridaphobe commented on #718
@thoughtpolice points out that there's also a parse error when you try to give a spec to an unboxed tuple, eg

[code]

This ought to be easy to fix though.

[2016-05-26 16:24] ranjitjhala opened #719 "Allow `'` in field names"
The following fails with an incomprehensible parse error; the problem is that we don't support field names like `'` for some reason. Should be super easy to fix!

[code]

[2016-05-26 21:28] spinda commented on #718
Is there any downside to setting `-fobject-code` for now, as a temporary solution?

[2016-05-26 22:18] gridaphobe commented on #718
Yes, it doesn't work :(

If I change `HscInterpreted` to `HscAsm` I get the following

[code]

Removing the call to `setContext` (which is causing the above error) results in

[code]

So, as you can see, we really depend on the behavior of `HscInterpreted`. More specifically, I think we depend on the behavior of [`targetRetainsAllBindings`](https://downloads.haskell.org/~ghc/latest/docs/html/libra

[2016-05-26 22:48] gridaphobe commented on #718
@spinda Interestingly, setting `HscNothing` seems to work now for all of the tests except when TH is used (which is to be expected). If you can sort out how to selectively enable `HscInterpreted` for modules that use TH (I think there's an API function for this), we should be able to make the switch.

[2016-05-26 23:12] spinda commented on #718
There's `mi_used_th` and `mg_used_th`, but both of those only work after a module is compiled. We could just scan the `ParsedModule` for the presence of any splices, and then switch on `HscInterpreted` if TH is detected. Does that sound okay @gridaphobe?

[2016-05-26 23:28] gridaphobe commented on #718
Here's the function I was thinking of.

https://downloads.haskell.org/~ghc/latest/docs/html/libraries/ghc-8.0.1/GHC.html#v:needsTemplateHaskell

[2016-06-02 00:26] spinda commented on #718
@gridaphobe Implemented in #722. What about the case a module uses both TH and unboxed tuples?

[2016-06-03 00:14] nikivazou opened #723 "Invariants and Termination"
I run into the following _interesting logical problem_ when attempting to simultaneously prove invariants and termination in recursive data types:

(In short, automatically proving invariants is sound but not accurate on Data Types that recursively refer to themselves >1 times prer constructor)

See https://github.com/ucsd-progsys/liquidhaskell/blob/71d96f25e7b66f40c0dd23fbe96970503b9578c7/tests/t

[2016-06-03 01:02] ranjitjhala commented on #723
There is something fishy going on. You should be able to prove either
neither case or both (as the reasoning needed is the same).

On Thursday, June 2, 2016, Niki Vazou <notifications@github.com> wrote:

[2016-06-03 01:05] nikivazou commented on #723
In the second call there is the info that `isize i1 >= 0` from type type of `isize` that is assumed

[2016-06-03 01:42] ranjitjhala commented on #723
I get it. I think you need an ordering on structure for this case.

On Thursday, June 2, 2016, Niki Vazou <notifications@github.com> wrote:

[2016-06-03 01:48] nikivazou commented on #723
This is not only about ordering.
We turn to invariants *any* measure post conditions. So they could be unrelated to termination/ordering

[2016-06-03 01:52] ranjitjhala commented on #723
It's about ordering in the sense that you cannot use the measure to prove
that at measure is terminating.

On Thursday, June 2, 2016, Niki Vazou <notifications@github.com> wrote:

[2016-06-03 02:37] nikivazou commented on #723
One sound solution is

for every size measure (ie measures that are use to capture size in the def on data cons), instead of termination we should check that
1.  there is a base case
2. For every inductive case `f(D  e1 ... en)`  the body only calls `f` on `ei`'s.

[2016-06-03 03:13] ranjitjhala commented on #723
Sounds good!

On Thursday, June 2, 2016, Niki Vazou <notifications@github.com> wrote:

[2016-06-03 03:34] ranjitjhala opened #724 "Duplicate / Redundant Binders in Generated Constraints"
Why do we end up generating constraints with duplicate binders for constants? e.g. `tests/pos/RBTree.hs` generates an .fq file with:

[code]

all the binders are saying the same thing in _slightly_ different ways.

Not a problem right now (as they are all actually saying the same thing), but I *really* want the no-duplicate-binders invariant to hold which gets messed up with multiple binders for a

[2016-06-04 01:01] #483 closed

[2016-06-06 00:56] wyager opened #726 "GHC 8.0.1 support"
It looks like the current constraints for LiquidHaskell are `ghc>=7.10.2 && <7.11`.

Given that 8.0.1 is bundled with the current platform, it would probably be good to add support for this.

[2016-06-06 16:14] gridaphobe commented on #726
Indeed!

We rely heavily on GHC's API (which often changes) so it may take some time to sort out though.

[2016-06-07 03:52] wyager opened #727 "Liquid Haskell doesn't ignore commented out specs"
If I have

[code]

`liquid` doesn't ignore this, but it probably should.

[2016-06-07 04:26] nikivazou commented on #727
Thanks for the report @wyager! This is fixed in the develop branch! We will merge it soon!

[2016-06-07 04:26] #727 closed

[2016-06-07 16:02] jswrenn opened #728 "Spec File Ignored"
Let's say I have some library file, Library.hs, that I do not want to verify:
[code]

A spec for that library file, Library.spec, with a time-bomb refinement:
[code]

And a client which I would like to verify using LiquidHaskell:
[code]

All of these files are in a folder called `toyprogram`. Running `liquid -i toyprogram  toyprogram/Client.hs` reports `SAFE`, but I expect it to report `UNSAFE` (a

[2016-06-07 16:50] sorawee commented on #728
When I run these, I get an error, saying that the first line of `Library.spec` should be `module spec Library where`. However, after fixing that, it reports SAFE. At least, we know that the spec file is examined, but it doesn't give the expected result somehow...

[2016-06-10 12:09] Michaelt293 commented on #708
[code]
Gives the following error-
[code]
Replacing `newtype` with `data` works fine.

[2016-06-10 16:21] ranjitjhala commented on #724
Not really a bug per se.

[2016-06-10 17:16] ranjitjhala commented on #728
@spinda -- the above is happening because of this line:

https://github.com/ucsd-progsys/liquidhaskell/blob/develop/src/Language/Haskell/Liquid/GHC/Interface.hs#L460

Why do we do it? What would break if we removed such filtering?

[2016-06-10 17:48] ranjitjhala commented on #728
Hmm. This is tricky. In short, the `.spec` files are really meant for modules _without_ code:

https://github.com/ucsd-progsys/liquidhaskell/blob/master/README.md#modules-without-code

Allowing them for modules with code (esp. "home modules", which are roughly, those in the package
currently being checked), opens the door to conflicting specifications. e.g. when checking `text` we get
duplicate sp

[2016-06-10 18:03] ranjitjhala commented on #728
@jswrenn instead for your use case, does the following work:

`Lib.hs`

[code]

(instead of a .spec file, just use a haskell module -- `LibSpec.hs`)

[code]

and then here's `Client.hs`

[code]

[2016-06-10 18:07] ranjitjhala commented on #728
I should add that if you do the above then LH properly reports the warning.

Folks, can we just use the above to "simulate" the separate specs (for home modules?)

[2016-06-10 19:56] ranjitjhala commented on #728
Closing as feature-not-bug (unless prodded otherwise).

[2016-06-10 19:56] #728 closed

[2016-06-10 20:02] sorawee commented on #728
Ah, I think I misunderstood the meaning of "module WITHOUT code" -- it doesn't mean that the spec file doesn't have code. Rather, it means the whole module doesn't have code...

[2016-06-10 20:11] ranjitjhala commented on #728
Yes, e.g. `Prelude` or some random external module that you might import
(e.g. Vector, or Control.Applicative etc.)

Will clarify in README!

On Fri, Jun 10, 2016 at 1:02 PM, sorawee <notifications@github.com> wrote:

[2016-06-10 22:35] ranjitjhala commented on #719
Fixed by b5d3ecc

[2016-06-10 22:35] #719 closed

[2016-06-10 23:01] ranjitjhala commented on #708
Hmm, thanks for pointing out @Michaelt293  -- while we add support for refined `newtype` you can work around this (and keep using a `newtype` _instead of_ a `data` by using an explicit constructor), e.g.

{-@
newtype MolecularFormula = MolecularFormula {
    getMolecularFormula :: Map ElementSymbol Pos }
@-}
newtype MolecularFormula = MolecularFormula {
    getMolecularFormula :: Map ElementSymbol

[2016-06-10 23:34] ranjitjhala commented on #718
Fixed in develop by PR #722

[2016-06-10 23:34] #718 closed

[2016-06-10 23:41] ranjitjhala commented on #675
Both versions (expanded and non-expanded) now work in `develop` (as the "bleeding edge" `--eliminate` has been promoted to the default.) Thanks for the nice example!

[2016-06-10 23:41] #675 closed

[2016-06-10 23:42] ranjitjhala commented on #662
@sorawee did you have a particular example program in mind (that I can use to drive this?)
Thanks!

[2016-06-11 01:00] ranjitjhala commented on #716
Fixed by 93f8e1f

(TL;DR needed qualifier OR eliminate)

Consider:

[code]

**UNSAFE CORE**

the call `(byteSwap16# w#)` lives inside a `case-of` i.e. the CORE is something like:

[code]

so you needed the relevant "qualifier" on `tmp2` (for the output type of `byteSwap` that was NOT getting
generated as its in an `assume`)

vs.

**SAFE CORE**

Looks like:

[code]

so no qualifiers needed.

Fortun

[2016-06-11 21:16] ranjitjhala commented on #716
long story short, I jumped the gun, we need a qualifier like `undefinedOffset {>=, =} 64`

Any idea why it is NOT generated from the data definition? (I thought those were used
to auto-generate qualifiers? (`--scrape-internals` doesn't do it either.)

[code]

[2016-06-11 21:17] ranjitjhala commented on #716
Looks like Non-Linear vars are special

[2016-06-14 03:54] #617 closed

[2016-06-14 21:15] themattchan opened #734 "Random constraint generation error"
I get a failure with the following `Category` instance, when we hit the `id` component (with type `Accum a a`).

[code]

[code]

However this should be fine because the definition of  `Category` is

[code]

Thoughts?

[AccumError.txt](https://github.com/ucsd-progsys/liquidhaskell/files/314924/AccumError.txt)

[2016-06-14 21:23] ranjitjhala commented on #734
@nikivazou is this some weird "strata" related thing? The types seem the same if you set aside the strata...

[2016-06-16 01:13] nikivazou commented on #734
Into it. It should be that the type variables are different (even though are printed the same).

[2016-06-16 08:33] spinda commented on #728
@ranjitjhala Sorry, was sucked into finals and traveling earlier. Are you sure that line is the cause? That only filters out specifications from *quasiquoters* that aren't in the current module.

I believe it's this line that's actually filtering out .spec files for which we have .hs files: https://github.com/ucsd-progsys/liquidhaskell/blob/develop/src/Language/Haskell/Liquid/GHC/Interface.hs#L494

[2016-06-16 15:31] nikivazou commented on #734
The bug has to do with Haskell type being different [here](https://github.com/ucsd-progsys/liquidhaskell/blob/master/src/Language/Haskell/Liquid/Constraint/Monad.hs#L67) because one of them is abstracted over `(a :: *)` and the other over `(a :: k)` (different kinds).

I am removing the above check, as we already check type equivalence of constraints [here](https://github.com/ucsd-progsys/liquidha

[2016-06-16 17:02] nikivazou commented on #734
Fixed, so temporally closing until we find a proper way to apply kinds.

[2016-06-16 17:02] #734 closed

[2016-06-16 17:48] goldfirere commented on #734
I think GHC is unhelpfully suppressing some output. Have you tried with `-fprint-explicit-kinds -fprint-explicit-foralls`? That might show you what you need.

[2016-06-16 17:51] ranjitjhala commented on #728
No this is a subtler issue -- see discussion above...

[2016-06-17 01:23] nikivazou commented on #734
Thanks @goldfirere but my problem is not in the printing, but in the CoreSyn representation. There is no kind abstraction in the representation. _For example_, the type `forall (a:k). a` is represented with one Pi for the type variable. I would expect another Pi for the kind too.

[2016-06-17 01:27] nikivazou opened #737 "SMT diverges on non-linear arithmetic"
The [following code](https://github.com/ucsd-progsys/liquidhaskell/blob/d297fada19224186e2275101f77a443fe39cc259/tests/todo/SMTDiverge.hs)

[code]

makes Z3 diverge.
A solution is to use the `--linear` flag and give the appropriate spec for `div`
[code]

[2016-06-17 01:27] #737 closed

[2016-06-17 01:30] goldfirere commented on #734
Then something is very funny. If you just had `forall (a:k). a`, without a binding for `k`, then you'd have an error with `-dcore-lint`. (Actually, that's an error even with the `forall k`, because the body of a `forall` must be `TYPE r` for some `r`.) Try `-fprint-explicit-runtime-reps`. If that's the flag that does it, then we have a bug in the implementation of the flag.

Alternatively, you say

[2016-06-17 01:46] nikivazou commented on #734
There should be a liquid Haskell possessing that removes the kinds! Sounds
like a hack I implemented when we didn't deal with code with kinds. Thanks
Richard!
On Jun 16, 2016 6:30 PM, "Richard Eisenberg" <notifications@github.com>
wrote:

[2016-06-21 16:34] nikivazou opened #743 "Deriving Read instance causes unsoundness"
The [following example](https://github.com/ucsd-progsys/liquidhaskell/blob/8fe9dfb0f1e194f51809ee428113816dd9b83101/tests/todo/DerivingRead.hs) is SAFE while should be unsafe.

[code]
Current workarounds
 -  add `--trust-internals` flag to ignore the deriving instances
 -  delete the `deriving (Read)` instance

[2016-06-21 17:29] nikivazou opened #744 "Elaboration fails to unify int with numeric data types."
Data Types with defined numeric instances should be treated as Numeric: [see](https://raw.githubusercontent.com/ucsd-progsys/liquidhaskell/4d71624351a9a12beb04e5b94c2103f491f8d150/tests/todo/ImportedNumericInstances.hs).

`Fd` has an imported Num instance, still elaboration fails with `Cannot unify System.Posix.Types.Fd with int`.

#739 provides a fix for "user specified instances". The fix should

[2016-06-21 22:10] nikivazou opened #745 "Differential Checking ignores the "No decreasing parameter" Error"
If I ran

[code]

I get
[code]

But if I reran it with `--diff` I get `SAFE`

[2016-06-23 00:22] nikivazou opened #746 "Distinct top level binds can lead to unsoundness"
All top level binders are treated as literals in the logic.
The logic assumes that literals are distinct [https://github.com/ucsd-progsys/liquid-fixpoint/blob/master/src/Language/Fixpoint/Solver/Monad.hs#L18](https://github.com/ucsd-progsys/liquid-fixpoint/blob/master/src/Language/Fixpoint/Solver/Monad.hs#L180).

Thus if top level binders are (provably) equal, we get unsound. [Eg](http://goto.ucsd

[2016-06-23 00:35] ranjitjhala commented on #746
Wow, this is surprising. Why/since when are top-level binders treated as
literals in the logic?

On Wed, Jun 22, 2016 at 5:22 PM, Niki Vazou <notifications@github.com>
wrote:

[2016-06-23 20:48] ranjitjhala commented on #743
This is a long standing problem, do you have any idea what the cause is? Does the read instance create some top-level literals?

[2016-06-23 22:34] ranjitjhala commented on #745
Should be fixed by c15bcae

[2016-06-24 00:16] #745 closed

[2016-06-24 05:35] ranjitjhala commented on #746
Think I have a fix, running tests now.

[2016-06-24 06:35] ranjitjhala commented on #746
Fixed by 55bbec93a9205a1c0bd5b7490aa74bd362045a97

Was actually causing `AmericanFlag` to be unsoundly reported SAFE, now fixed.

[2016-06-24 17:02] ranjitjhala commented on #743
@nikivazou why don't we just make `--trust-internals` the default behavior and *not* an option ?

[2016-06-24 17:07] nikivazou commented on #746
Cool! So the bug was there forever!

What is the fix? Wondering if it applies to top level functions too.

[2016-06-24 17:25] nikivazou commented on #743
I did not look more into it. Just minimized the code and filed the issue. It should be a top level binder.
Yes lets make trust internals default!

Also, suggesting to make the totality default!

[2016-06-24 17:26] ranjitjhala commented on #743
I looked at the output core, and basically there are *many* little top-level binders added which are not "called" and so probably get the type "False" (as they are not explicitly exported...)

[2016-06-24 17:26] ranjitjhala commented on #743
totality default...? hmm...seems brave... :)

[2016-06-24 17:31] ranjitjhala commented on #746
The *BUG* was that we just treat ALL top-level values (i.e. the "top-level"
fixpoint environment) as constants, which includes the `foo` and `bar` in
your example AND every import and ...

The *FIX* was to have a separate `litEnv` (literal-environment), and
populate it with

  + Literals in the source `coreBindLits` e.g. random strings etc.,
  + Data constructors.,
  + Measures.

Thus, far fewer t

[2016-06-24 17:31] nikivazou commented on #743
I am exporting everything, so even if they are not called they should be refined to true!

I think totality is more common and easier to prove than termination. And totality and termination are nice default checks: if your code passes LiquidHaskell then it is total!

[2016-06-24 17:32] ranjitjhala commented on #743
ok, will do.

On Fri, Jun 24, 2016 at 10:25 AM, Niki Vazou <notifications@github.com>
wrote:

[2016-06-24 17:32] nikivazou commented on #743
Or we can do it after the deadline:)

[2016-06-24 17:50] ranjitjhala commented on #743
Hopefully fixed by https://github.com/ucsd-progsys/liquidhaskell/pull/749

[2016-06-24 19:31] ranjitjhala commented on #743
Unfortunately, the above doesn't work, as it breaks all our class measure stuff (all those *also* generate binders that look like "GHC internals" or are "derived" names...)

In the case of `Read` there are some odd recursive definitions, namely

`Bob.$fReadTestBS` depends on `$creadListPrec` which itself depends on `Bob.$fReadTestBS`,
yielding the `False` . I'm guessing _something_ here needs to b

[2016-06-24 19:42] ranjitjhala commented on #743
Ok, so looking at the definitions (links below) I see that:

[code]

Does that mean the `a` is contra-variant? (Some fancy recursion going on in there :-))

[ReadPrec](http://hackage.haskell.org/package/base-4.9.0.0/docs/src/Text.ParserCombinators.ReadPrec.html#ReadPrec)

[ReadP](http://hackage.haskell.org/package/base-4.9.0.0/docs/src/Text.ParserCombinators.ReadP.html#ReadP)

[2016-06-24 20:06] ranjitjhala commented on #743
The problem is not contra variance IMO, but the odd recursion. Here's a simplified version of the generated code -- it is **rejected** by the termination checker.

**Question** do you somehow disable the termination checker for DERIVED functions? (Otherwise, why isn't complaining about this weird mutual recursion?)

[code]

[2016-06-25 06:32] ranjitjhala commented on #743
Reading the code, the termination checker *is* in-fact disabled for derived methods. I suppose it has to be because there is no easy way to attach annotations like "lazy" or termination-metrics etc. to them. Instead the fix in the PR is to ensure that the top-level refinements are `True` so they don't "pollute" the environment with an absurdity.

[2016-06-25 15:40] ranjitjhala commented on #743
Fixed by PR #749

[2016-06-25 15:40] #743 closed

[2016-06-28 18:15] Gabriel439 opened #755 "Liquid Haskell doesn't correctly refine variables beginning with the prefix "fail""
Here's the minimal reproducing example:

[code]

This fails to type-check with:

[code]

If you rename `fail` to `failure` or any other variable name beginning with the prefix `fail` the problem persists.  If you change it to `fai` or any variable that does not begin with the prefix `fail` then the program typechecks.

[2016-06-28 18:26] ranjitjhala commented on #755
Yikes!!!! @nikivazou this seems relevant:

[code]

[2016-06-28 18:39] ranjitjhala commented on #755
Looks like that was some random hack put in a long time ago. Just took it out, re-running tests to see if anything breaks.

[2016-06-28 19:51] ranjitjhala commented on #755
Should be fixed by https://github.com/ucsd-progsys/liquidhaskell/pull/756

Tests pass locally, will merge once CI okays it...

[2016-06-28 22:42] #755 closed

[2016-06-28 22:59] ranjitjhala commented on #746
Oops, the above "fix" causes the following to be "proved" as `Z` and `zero` are both "constants", the former as a data-con, the latter as a measure...

[code]

[2016-06-30 08:05] bonds commented on #667
I started using this with neomake...it's not great, but its a start, and it at least tells when when there's a LH error in my code:

[code]

I'm scratching my head over what would be a good one-line format for LH error messages, for use in Vim...

[2016-06-30 08:06] bonds commented on #667
And on the error format in vim, try ````:help errorformat```` from within vim. After you're done crying, read this: https://flukus.github.io/2015/07/03/2015_07_03-Vim-errorformat-Demystified/

[2016-07-08 16:47] abakst opened #765 "Strongest Types"
Although this program is `Safe`, the "inferred types" indicate that the refinement for `p` in `foo` is `true`, though it would _appear_ that the refinement `v = msgPid x` should hold. The core (`liquid -uv ...`) does not appear to have dropped the binder for `p` etc.

It would be handy if there were a mode to output this information (although extraneous in that it is not necessary for the verifica

[2016-07-08 17:07] nikivazou commented on #765
@abakst, I suspect the information you want exists in the environment of the case expressions, ie once you unfold `x`, but they are not exactly bind in the type of `p`. That is LiquidHaskell knows what you want, but not by the type of `p`. If that makes any sense.

Also, you do not need to give `msgPid` the exact type, it takes it automatically by the definition/"semantics" of  `measure`.

[2016-07-08 17:47] ranjitjhala commented on #765
`tests/todo/T765.hs` has a much simpler test case.

+  nothing for 'gunk'
+  `{v = 1}` for `z`

[code]

[2016-07-12 00:23] nikivazou opened #768 "Unbound variables are not always checked in user specified signatures"
The following used to be safe (not crashes).

[code]

http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1468258362_14141.hs

See #766 for a failed attempt to fix this issue.

[2016-07-12 01:04] ranjitjhala commented on #746
looks like this is fixed.

[2016-07-12 01:04] #746 closed

[2016-07-12 17:55] ranjitjhala opened #770 "Hidden Prelude Imports break LH Prelude"
See `tests/todo/Wrenn0.hs`

[2016-07-12 18:09] ranjitjhala opened #771 "Should reject binders on class constraints"
See `tests/todo/T771.hs`

Given

[code]

LH reports:

[code]

which is **correct but misleading**.

The **real** problem is you can't have binders on type class constraints, so should be rejected during parsing...

[2016-07-12 18:52] ranjitjhala opened #772 "Panic due to hole in class instance"
The below file `tests/todo/T772.hs`

[code]

crashes with

[code]

note that the signature above is wrong, and that the following works:

[code]

[2016-07-12 22:23] ranjitjhala opened #773 "Localize sub-expressions in malformed refinements"
Right now this gives a rather mysterious error,
cannot unify `int` with `(a b)` it would be nice
to actually point out the offending sub-expression,
namely `goober x`.

[code]

[2016-07-12 22:24] ranjitjhala opened #774 "Malformed sort is not rejected?"
Why on earth does the below **not** fail? Clearly there is a sort error?!

[code]

[2016-07-13 03:40] ranjitjhala commented on #774
fixed by #775

[2016-07-13 03:40] #774 closed

[2016-07-13 03:40] ranjitjhala commented on #773
fixed by #775

[2016-07-13 03:40] #773 closed

[2016-07-13 13:55] ranjitjhala commented on #771
Fixed by #775

[2016-07-13 13:55] #771 closed

[2016-07-13 18:21] ranjitjhala opened #776 "Support imported `axiomatized` functions"
in short, make the following test work.

https://github.com/ucsd-progsys/liquidhaskell/blob/develop/tests/todo/ReflImp.hs

Note that the "flattened" version

https://github.com/ucsd-progsys/liquidhaskell/blob/develop/tests/todo/Refl.hs

works. The `axiomatize` stuff is pretty useless until we fix this.

[2016-07-13 20:08] nikivazou commented on #768
@ranjitjhala is this fixed to by your recent fixes?

[2016-07-13 20:10] nikivazou commented on #776
@spinda was looking into that. It is tricky though, since the `ReflImp` does not have access to the code for incr.
One solution is to get access of `incr` code, the cleaner one is to create these `.lhi` intermediate files at which `incr` exposes its reflected type.

The same applies for lifted Haskell measures.

[2016-07-13 20:26] ranjitjhala commented on #768
No I have not looked at this

On Wednesday, July 13, 2016, Niki Vazou <notifications@github.com> wrote:

[2016-07-13 20:27] ranjitjhala commented on #776
Why do we need the code? Why can't we just save the type in an Lhi file?

On Wednesday, July 13, 2016, Niki Vazou <notifications@github.com> wrote:

[2016-07-14 20:44] ranjitjhala commented on #703
Here's a really simple example `tests/todo/T776.hs`.

1. Why is the `prod` measure being used in the generic `size` function where it doesn't fit?

2. Why can't we put in a simple check in Bare for now:

[code]

[code]

[2016-07-14 21:10] ranjitjhala opened #780 "Cannot parse instance measure"
See `tests/todo/Class3.hs`

[code]

[2016-07-14 21:12] ranjitjhala commented on #780
Every permutation I have tried fails.

[2016-07-14 21:19] ranjitjhala opened #781 "Bad error message with malformed instance measure"
The file `tests/todo/T781.hs`  which has:

[code]

produces the bad error message even though it has source information. (Probably need to replace a `panic Nothing ...` call with `panic (Just l) ...`

[code]

[2016-07-14 21:34] ranjitjhala commented on #780
I suspect the `instance measure` parser rejects most boolean measures... I can't even get

[code]

[2016-07-14 21:36] ranjitjhala opened #782 "Mysterious incompatibility in class measures"
Can anyone explain why `tests/todo/Class4.hs` which is:

[code]

fails with the mysterious error:

[code]

[2016-07-20 13:59] andrewthad opened #786 "More vector stuff"
I just started using liquid haskell, and a lot of what I'm trying to do deals with both the mutable and immutable variants of both boxed and unboxed vectors. So, I use a lot of functions from these four modules:

- Data.Vector
- Data.Vector.Unboxed
- Data.Vector.Mutable
- Data.Vector.Unboxed.Mutable

Of the four of those modules, liquid haskell currently only comes with out-of-the-box support for

[2016-07-20 14:49] mckeankylej commented on #786
+1 The length of a mutable vector is immutable which makes liquid haskell perfect for bounds checking when building or mutating mutable vectors!

[2016-07-20 15:29] ranjitjhala commented on #786
Hi @andrewthad and @mckeankylej -- yes, this sounds like a good plan! Do you have any examples of refined type signatures from those modules that adhere to the above protocol?

See:

+ `include/Data/Vector.spec` which has the signatures from `Data.Vector`

Ideally we'd just add the analogous specifications (using the above protocol) to:

+ `include/Data/Vector/Unboxed.spec`
+ `include/Data/Vector/

[2016-07-20 15:38] andrewthad commented on #786
I'll put together a PR very soon.

[2016-07-20 16:27] andrewthad commented on #786
https://github.com/ucsd-progsys/liquidhaskell/pull/787

[2016-07-20 22:46] nikivazou opened #788 "Parenthesis needed in result type in spec files"
See https://github.com/ucsd-progsys/liquidhaskell/commit/2de2aa86a7a0058981c89e73722003a6a2dc438e#commitcomment-18328491

[2016-07-21 14:21] mckeankylej opened #791 "Liquid haskell is unable to find equality in eta reduction"
When liquid type checking the following program
[code]
I get the following error
[code]
But if I eta reduce the program to look like this
[code]
The code liquid type checks!

[2016-07-21 15:18] ranjitjhala commented on #791
Hmm, thanks for pointing this out @mckeankylej!

1. Can you add the `import`s to the above so I can try to reproduce?
2. Are you running this on `master` or `develop` ?

Off the top of my head, I wonder if the reason is
similar to whats going on here

https://github.com/ucsd-progsys/liquidhaskell/issues/675

But I'd like to run it to be sure!

Thanks!

[2016-07-21 15:19] ranjitjhala commented on #791
Also: as in #675 -- can you run with `--scrape-imports` to see if that makes a difference? Thanks!

[2016-07-21 16:36] mckeankylej commented on #791
I am running whatever is the latest version on hackage I can't seem to build from source due to a nixos specific bug. I think I am going to open an issue for that too but I want to see if I can solve that first.
Here are the relevant imports
[code]
Running with scrape-imports errored out with the above error.

[2016-07-21 18:01] nikivazou opened #792 "Naïve case analysis can get really slow"
The following function takes ~4min to check. Addition one one more case would lead to duplication of the code size.

Code expansion is due to naïve implementation of `Transforms.Rec.transformRecExpr`

[code]

Currently the transformed code looks like

[code]

[2016-07-22 01:47] ranjitjhala commented on #792
What does the untranaformed code look like? (I.e. Core?)

On Thursday, July 21, 2016, Niki Vazou <notifications@github.com> wrote:

[2016-07-22 02:52] nikivazou commented on #792
The core does not have ANY code duplication.

On Thu, Jul 21, 2016 at 6:47 PM, Ranjit Jhala <notifications@github.com>
wrote:

--
Niki Vazou

[2016-07-22 03:39] ranjitjhala commented on #791
Ok, I can reproduce this now, thanks!

There are *two* separate bugs here (tests/todo/T791.hs) and (tests/todo/T791a.hs)

1. Why does the verification fail in the eta-expanded version? Am puzzled by where the refinement is getting lost,

2. More importantly, the verification *should fail but doesn't* in the unexpanded version, in fact in T791a.hs, I have further simplified it to the below which is

[2016-07-22 03:41] ranjitjhala commented on #791
@nikivazou  in the above (unsound) case there is no subtyping constraint even created of the form `G |- ... <: false` so it must be a constraint generation bug.

[2016-07-22 10:01] ranjitjhala commented on #791
I think the problem here -- in *both cases* -- is our limited support for `Cast` expressions. Looking at the core for the above, now further simplified to:

[code]

I see that the `e >>= go` term is converted to the `CoreExpr`

[code]

The strange thing there is the function cast, which in `castTy`
used in `Generate.hs` will essentially strip out the refinements (it just preserves the
thereby stri

[2016-07-22 10:30] ranjitjhala commented on #791
@mckeankylej for the moment, one workaround is to not use the `PrimState` and `PrimMonad` constraints, but just use `ST` so, the following version of your code -- where I have specialized all the `m (MVector (PrimState m) a)` to `ST s (MVector s a)` is accepted as SAFE by LH both with
and without eta-expanding the `go` ...

[code]

[2016-07-22 12:49] mckeankylej commented on #791
The above workaround works! Its sad that you have to make a new version of `new` with a less specific type though.

[2016-07-22 13:35] ranjitjhala commented on #791
Yes it's unfortunate indeed -- but we should be able to handle it once we
figure out what the semantics of the casts...

On Friday, July 22, 2016, Kyle McKean <notifications@github.com> wrote:

[2016-07-26 14:21] proaralyst commented on #726
:+1: I'd love this to happen.

[2016-07-26 16:16] nikivazou commented on #726
We are working on that!

[2016-07-26 20:09] mckeankylej opened #797 "Documentation on how to make abstract refined data types"
I am trying to make an abstractly refined list seen here:
[code]
The problem is this code liquid type checks when it shouldn't (what a weird world we live in where 5 < 4).

On top of this your blog post "putting things in order" has liquid haskell code that your parser cant read such as:
[code]
and
[code]
I don't know how to define refined data types that take abstract refinements like above witho

[2016-07-27 07:19] ranjitjhala commented on #797
Hi @mckeankylej,

Sorry about that, I keep deferring writing documentation/tutorials on abstract refinements because we want to re-implement them in a cleaner fashion (c.f. #581).

This is probably the best example of the abstract refinement syntax:

https://github.com/ucsd-progsys/liquidhaskell/blob/master/tests/pos/Map.hs

In your particular example, you want something like:

http://goto.ucsd.ed

[2016-07-27 07:19] #797 closed

[2016-07-27 16:31] bonds commented on #667
Ok, I made one. Here's the PR:

https://github.com/neomake/neomake/pull/522

[2016-07-27 16:42] ranjitjhala commented on #667
Awesome!!! Thanks @bonds !!!

On Wednesday, July 27, 2016, Scott Bonds <notifications@github.com
<javascript:_e(%7B%7D,'cvml','notifications@github.com');>> wrote:

[2016-07-27 19:42] tswilkinson commented on #667
@bonds Brilliant!  Thanks so much.

[2016-07-27 19:42] #667 closed

[2016-08-06 07:57] alclub opened #806 "Unable to build on Windows due to 'unix' package dependency"
I get a different but similar message on Cygwin. Is there any way to get liquidhaskell running on Windows, or is Windows no longer supported?

[2016-08-06 14:19] gridaphobe commented on #806
Are you building from github? If so, can you try commenting out the `lhi` stanza in the cabal file?

https://github.com/ucsd-progsys/liquidhaskell/blob/master/liquidhaskell.cabal#L79-L104

The main `liquid` binary *should* build on windows, if it doesn't that's a bug!

[2016-08-06 14:20] gridaphobe commented on #806
@ranjitjhala do you absolutely need `unix` for `lhi`? I would think there's a way to do the daemonized server on windows too.

[2016-08-06 14:30] ranjitjhala commented on #806
Let's comment it out for now since its super dormant and will remain so for
several weeks at least...
On 6 Aug 2016 7:50 pm, "Eric Seidel" <notifications@github.com> wrote:

[2016-08-06 14:32] ranjitjhala commented on #806
Eric can you do it? Am rather laptop challenged atm -- my ssd crashed :(

We should ensure develop builds on windows always...
On 6 Aug 2016 8:00 pm, "Ranjit Jhala" <jhala@cs.ucsd.edu> wrote:

[2016-08-06 20:28] alclub commented on #806
Thanks for your assistance. Yes, I am building from github (using stack). I removed the 'lhi' block, now it quits with the error:

`<command line>: can't load .so/.DLL for: stdc++.dll (addDLL: could not load DLL)
    ghc.exe: stdc++: The specified module could not be found.`

There doesn't appear to be much information online about this issue except that references to "double-conversion" are causi

[2016-08-07 01:30] gridaphobe commented on #806
@alclub I've fixed the initial issue with the `unix` package.

The second issue you linked seems to suggest the problem might be due to the use of Template Haskell. If that's the case, it's easy to remove the Template Haskell. I've done so in #807, can you try building that patch? I'm afraid I don't have access to a windows machine at the moment to test it myself.

[2016-08-07 15:24] alclub commented on #806
Sorry for the late response, thanks for your help.

**It solved that issue**, but there are other references to Template Haskell which are causing errors:

` Configuring liquidhaskell-0.6.0.0...
    Preprocessing library liquidhaskell-0.6.0.0...
    [ 95 of 105] Compiling Test.Target.Monad ( src\Test\Target\Monad.hs, .stack-work\dist\2672c1f3\build\Test\Target\Monad.o )
    ghc.exe: unable to load

[2016-08-07 17:26] gridaphobe commented on #806
@alclub I've reduced our dependence on TH as much as I can. We don't run any TH code any more, but we do require the `'name` syntax for looking up names in the TH splices that we provide.

I hope this is enough!

[2016-08-07 17:42] alclub commented on #806
**It worked!** Thanks so much!

[2016-08-08 03:58] ranjitjhala commented on #806
Super thanks Eric!

On Sunday, August 7, 2016, alclub <notifications@github.com> wrote:

[2016-08-08 18:20] VitorCBSB opened #808 "Repository fails to be cloned / have a working tree on Windows."
Hello, I've been trying to clone LiquidHaskell's repo into my machine, but it doesn't seem to be working.

Git version:

[code]

Full output is as follows:

[code]

EDIT: As discussed [here](https://github.com/git-for-windows/git/issues/843), this repository has files with invalid names on Windows. Maybe they ought to be renamed?

[2016-08-08 18:20] VitorCBSB commented on #808
My bad, I posted on the wrong repository.

[2016-08-09 17:30] #806 closed

[2016-08-10 00:18] VitorCBSB commented on #808
Good point, I'm reopening this.

[2016-08-11 14:13] gridaphobe opened #813 "LH crashes on non-ascii string literals"
see http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1470924649_14708.hs

[2016-08-12 18:58] rrnewton opened #815 "Why not an unlifted kind like Int# for Proof?"
We found that when using liquid prover we can put an "undefined" for all our proofs.

Ideally, it would be nice to couple liquid Haskell to SafeHaskell for enforcing some (un)trusted code boundaries.  I.e. it would be fine to have a "trustme" proof value for use in development, but it would be imported from an Unsafe module, and then we could ensure -XSafe files that also pass `liquid` really prov

[2016-08-12 19:07] rrnewton commented on #815
Actually, unlifted types aren't a solution either.  Error and undefined are poly-kinded, so GHC lets this through:

[code]

If that were our Proof type we would still need to run it at runtime to find out if it has a non-bottom WHNF....

[2016-08-12 19:19] nikivazou commented on #815
That is a very interesting point!

But yet even Coq has a `todo` tactic.
I believe there are very few values that serve as "trust me" (error and undefined) which you can hide from `import Predule hiding (undefined)`.

BTW, all proof files should have the totality flag on `{-@ LIQUID "--totality" @-}` otherwise it is again easy to construct bad proofs.

It would be sweet to soundly exclude `undefin

[2016-08-13 01:27] rrnewton commented on #815
For cases where I don't trust the code (e.g. code/proof given to my server over the internet), it would be good to have some kind of compile-time distinction enforceable by the server, but it doesn't have to be `-XSafe` vs `-XTrustworthy`.  It could also be a flag to liquid.  Like `liquid --strict` or something to disallow holes.

Is there a way in a `.spec` file to give undefined a "bad" refineme

[2016-08-13 05:52] ranjitjhala commented on #815
​Either of these two methods:

​and ​

@nikivazou would adding something like this to Prelude.spec

`lazy undefined :: {v:a | False}` ensure that:

(1) it *is not* added to the environment (thereby polluting it with FALSE)
(2) it ​*is* treated as the above type during checking, thereby rejecting
any uses?

—

[2016-08-13 22:36] nikivazou commented on #815
@ranjitjhala the _only_ semantics of `lazy` in the _implementation_ are that we do not check termination. So, I cannot see a way to enforce your suggestions.

The easiest way I see right now is to make sure that every proof file includes

[code]

and in the near future create a flag `--LSafe` than enforces the above.

[2016-08-14 14:22] gridaphobe opened #816 "LH should throw an error for non-function measures"
In http://stackoverflow.com/questions/38938431/using-liquid-haskell-to-check-for-valid-tokens/38943118 the Q uses a "measure"

[code]

which is not a function. What does this mean to LH? I have no idea (possibly nothing?), but it's certainly not what you would expect (which IMO would be to create a logical value equal to currTime).

This should be a friendly error instead :)

[2016-08-14 16:09] ranjitjhala commented on #816
Indeed, what _does_ happen? Am surprised we don't get an error message?
(Does it just crash with some panic?)

[2016-08-14 22:33] nikivazou commented on #816
Surprised too it doesn't crash. Did you solve the stack overflow issue
though? O am traveling so kind of difficult to debug soon...

On Aug 14, 2016 6:09 PM, "Ranjit Jhala" <notifications@github.com> wrote:

[2016-08-15 18:11] rrnewton opened #817 "How can liquid haskell turn Vector.! into unsafeIndex?"
This was a question that came up in our meeting today.

Typed Racket, for example, is an optional type system that can actually affect program performance by substituting specialized versions of functions.  Liquid Haskell, as I understand, is different -- it's a "linter" whose output is a boolean (pass or fail) rather than a new, preprocessed program.

We're embarking on a struggle to make more of

[2016-08-16 00:09] gridaphobe commented on #817
I think the answer lies in closer integration between LiquidHaskell and GHC. We have an item in our backlog of engineering work to re-imagine LH as a GHC Core-to-Core plugin, primarily because it would relieve us of a lot of fidgeting in terms of setting the right package versions, language extensions, etc. But it could also open the door to using LH results to optimize the Core in ways GHC can't,

[2016-08-16 00:36] gridaphobe commented on #815
Checking that `false` doesn't get into the environment is tricky because we actually want it in **local** environments, when we need to show a contradiction. Take `head` for example.

[code]

We effectively want to prove that the `[]` branch is unreachable. We do this by combining the top-level refinement `xs :: {v:[a] | len v > 0}` with the branch-condition `xs = []`, where `[] :: {v:[a] | len v

[2016-08-16 02:36] ranjitjhala commented on #815
@gridaphobe, the trouble is in the `a` which gets
instantiated with anything, and since the `a` is
unconstrained, it can be inferred as false.

e.g. you can prove:

[code]

Note that in the above the "false" refines the `Int` to
which the `undefined` is instantiated.

@rrnewton: one super easy fix (?) could be the one Eric
suggests, namely in `--strict` mode (with `--totality`
and `--termination`)

[2016-08-16 02:47] ranjitjhala commented on #817
Yes, I think so far by design we've aimed at not
changing the dynamic behavior of code at all.

Even with the closer integration, it seems tricky.

As I understand it, you need almost a "gradual"/"soft"
refinement type system, in that a call:

[code]

is treated as / rewritten to

[code]

ONLY if LH is used and able to verify the access as safe?

Seems possible in theory but will definitely need
s

[2016-08-16 08:17] vikraman opened #818 "Refined GADTs"
I'm trying to add refinements to a GADT, but LiquidHaskell doesn't understand GADTs.

[code]

results in a parse error.

[code]

[2016-08-16 09:55] ranjitjhala commented on #818
Yes, unfortunately LH doesn't support the GADT syntax yet. It _should_ be easy to add, but we haven't gotten around to it yet. Thanks for pointing this out!

[2016-08-16 13:40] rrnewton commented on #818
In our upcoming ICFP paper one thing we found was in the ~17M lines of code on Hackage there are, surprisingly, thousands of datatypes that are not actually GADTs but are defined in GADT syntax.

[2016-08-16 13:45] rrnewton commented on #817
I like (2').  Maybe this is a scenario to one day have LH-guarded rewrite rules.  Where a simple one would just be `(!) = unsafeIndex`.

[2016-08-16 15:52] ranjitjhala commented on #817
Thats an cool idea!!

On Tue, Aug 16, 2016 at 6:45 AM, Ryan Newton <notifications@github.com>
wrote:

[2016-08-16 23:17] nikivazou commented on #815
@ranjitjhala it seems to me that this strategy will break the path-sensitive stuff, since unconstraint refinements in the cases are solved to false to prove dead code.

[2016-08-16 23:19] nikivazou commented on #818
Actually I am at a point that I do need to refine an actual GADT in my current work. So, soon I would need to add this feature (seems trivial/syntactic).

[2016-08-17 01:22] ranjitjhala commented on #815
@nikivazou -- no the "dead code" proofs are _not_ from unconstrained kvars but from proper contradictions. Thus I don't think this approach will break those proofs.

Btw this reminds me: the old fixpoint had an option --true-unconstrained perhaps we can add it to the new fixpoint and see what happens? (It may already be implemented...)

[2016-08-17 02:42] vikraman opened #819 "Infix operators in type signatures"
While it is possible to axiomatize an infix function, using it in a type signature results in a parse error.

[code]

[code]

[2016-08-17 10:25] nikivazou commented on #815
These contradictions _may_ appear while solving k vars. But I agree that in
most cases it will be proper contradictions. We shall try it and see if
anything breaks

On Aug 17, 2016 4:22 AM, "Ranjit Jhala" <notifications@github.com> wrote:

[2016-08-17 18:03] vikraman opened #820 "Unable to refine a datatype"
When trying to refine a simple record type like this,
[code]
[code]
Tested with liquidhaskell at commit 349997bec22d4e16e06d6abf17745c0fcd19a073.

[2016-08-17 18:17] ranjitjhala commented on #820
Yikes, this looks *bad* -- changing the `Int -> Int` to a type alias
doesn't seem to solve it either. @nikivazou can you take a look?

On Wed, Aug 17, 2016 at 11:03 AM, Vikraman Choudhury <
notifications@github.com> wrote:

[2016-08-17 18:19] ranjitjhala commented on #820
Btw, if you're super blocked, the below works (but its gross...)

[code]

On Wed, Aug 17, 2016 at 11:17 AM, Ranjit Jhala <jhala@cs.ucsd.edu> wrote:

[2016-08-20 13:54] nikivazou commented on #820
Oups, another work around is to refine the data constructors instead of refining the data definition, eg:
[code]

Note that the refinement of the data definition directly translates to refinements of data constructors. Though, this specification is not preferred because then you would need to annotate the above specification of `Foo` with all the defined measures.

You can use either this or @ranj

[2016-08-20 14:01] nikivazou commented on #819
Parsing with infix operators is tricky and we currently do not support it.

I acknowledge that this issue is annoying, but currently now high in my TODO list, sorry.
@spinda was willing to fix it, but @vikraman if you are willing to give it a try here is the refinement parser

https://github.com/ucsd-progsys/liquid-fixpoint/blob/develop/src/Language/Fixpoint/Parse.hs#L276

[2016-08-29 20:45] gridaphobe commented on #780
@ranjitjhala the problem is the definition of `tyBodyP`

[code]

which only allows predicate expressions if the measure returns a `Prop`. (This also affects regular measures)

We can remove this restriction easily enough, but there will still be a (sort) error at the use of `allPos`. Do you want to treat Bool-valued measures the same as Prop-valued measures?

[2016-08-29 20:45] gridaphobe commented on #782
Hrm, I can't reproduce this on the current `develop`, LH says SAFE.

[2016-08-29 20:45] #782 closed

[2016-08-30 02:53] ranjitjhala commented on #780
I thought we had retired Prop and were using Bool everywhere (at least for
the lifted measures?) is the issue that for non lifted (old school
measures) we still use Prop?

On Tuesday, August 30, 2016, Eric Seidel <notifications@github.com> wrote:

[2016-08-30 04:45] gridaphobe commented on #780
That appears to be correct.

It makes sense for lifted measures to use Bool since Prop is outside of Haskell, but I believe the lifting process produces a Prop-valued measure. I wouldn't be opposed to applying the same translation to Bool-valued, non-lifted measures, but then there's the question of Bool **values**, e.g. do we really need the Prop in

[code]

I know there's a technical reason for

[2016-08-30 18:58] nikivazou opened #822 "Reasoning about length of concrete bytestrings"
For example the [following](http://goto.ucsd.edu:8090/index.html#?demo=permalink%2F1472583424_14895.hs) fails

[code]

With intermediate code

[code]

[2016-08-30 20:24] nikivazou opened #823 "Sizing data with continuations"
How do we size dat with continuations? What is a size for `C`

[code]

that proves `go` terminates

[code]

[2016-09-01 04:04] nikivazou opened #824 "New types encode to impressive coercions"
The following is SAFE

[code]

But direct application of `First` fails
[code]
As it translates to the following coercion
[code]

[2016-09-01 15:02] nikivazou opened #825 "Sizing New Types"
New Types are encoded as casts breaking termination checker. For example,

[code]

returns with `No decreasing parameter`, while lifting `sizeNT` as a measure fails, as casts are not encoded into logic.

[2016-09-01 15:12] gridaphobe commented on #825
Can we just use unsorted equality to encode the various `Cast`s in Core?

[2016-09-01 15:33] nikivazou commented on #825
Not clear how. `NT` does not exists in the Core at all, it is just a cast.

[2016-09-01 15:55] ranjitjhala commented on #825
So what core is generated for:

[code]

On Thu, Sep 1, 2016 at 8:33 AM, Niki Vazou <notifications@github.com> wrote:

[2016-09-01 16:29] gridaphobe commented on #825
[code]

It's actually really clever here, and just casts the `:` operator itself instead of casting the `List` to a `[]` and back.

[2016-09-01 16:34] gridaphobe commented on #825
For reference, here's `sizeNT`

[code]

@nikivazou why does it matter whether the `NT` constructor appears in the Core? A newtype should have the same size metric as its representation, we just need to explain that to LH.

[2016-09-01 16:37] gridaphobe commented on #825
The more interesting problem (IMO) occurs when you want the newtype to have certain properties, e.g. a newtype for non-empty lists. Then we can't just ignore the `Cast`s, we have to realize that **certain** `Cast`s are the same as constructing or destructing data. This already happens to some extent with refined type classes, but the solution is a total hack (I just replace the `Cast` with an appl

[2016-09-01 16:44] nikivazou commented on #825
@gridaphobe I added invariants on new types (beta), see: https://github.com/ucsd-progsys/liquidhaskell/blob/b9a99c20c4164a4ccc8661cd509ef4ec344ed0ff/tests/pos/NewType.hs

I am not following your solution for termination check. Can you give me an example?

[2016-09-01 16:58] gridaphobe commented on #825
Take your `sizeNT` function.

1. Let's assume the termination metric for `NT` is the same `len` we use for `[]`.
2. Encode `cast` with an unsorted equality.
3. Let's ANF the 1st `cast` to `let ys = ds `cast` ... in case ys of ...`
4. By 2, we know that `ys ~~ ds`
5. In the `: x xs` case we learn that `len ys = 1 + len xs`
6. Let's ANF the 2nd `cast` to `let zs = xs `cast` ... in sizeNT zs`
7. By 2

[2016-09-01 17:03] nikivazou commented on #825
I see, sorry my problem is more basic, I did not reach it for far. My problem is the following:

What is the (logical function) termination metric that is decreasing and how does the user encode it.

We cannot have a logical function of `NT`s because it does not exists in the core.

[2016-09-01 17:15] ranjitjhala commented on #825
@nikivazou I don't follow what you mean

It definitely exists in the core -- see the type signature for sizeNT or
the type ascribed to ds in the core pasted above?

Is the issue that there is no data constructor NT? (It having been replaced
by casts?)

[2016-09-01 17:41] nikivazou commented on #825
Yes, the issue is that there is no data constructor, so it is not clear how to define a (logical) function  that measures the size of an `NT`. We cannot definitely define a measure.

[2016-09-01 17:49] nikivazou commented on #813
I run into this too. Is there any progress or should I take a look?

[2016-09-01 19:36] #813 closed

[2016-09-01 20:02] rrnewton opened #827 "Refinement logic pretends Int is infinite"
I know this is a known limitation, but I thought there should be a place to discuss/comment on it and share any solutions you all might have planned.

Here's a concrete example.  Liquid haskell (as of 4a489c9f3798), marks this as safe:

[code]

But, naturally this is false, as `incr maxBound` is `-9223372036854775808`.

I don't know much about this, but [this document](http://citeseerx.ist.psu.edu

[2016-09-01 20:32] gridaphobe commented on #825
@nikivazou why should the size of `NT` be any different from the size of `[]`, they have the same structure?

Perhaps there are other measures that one might want to define differently for newtypes, but for the purpose of termination I don't see why we wouldn't just use the underlying structure.

[2016-09-01 20:50] nikivazou commented on #825
I was going to say: because `sizeNT  :: xs:NT a -> Int \ [len xs] ` is not well formed.

But, actually the above goes through our well formedness checker...

[2016-09-01 22:26] nikivazou opened #829 "Monoid.mappend does not preserve refinements of its elements"
Consider two list of `Nat`

[code]

Liquid Haskell cannot prove that mappending `xs` and `ys` returns a list of `Nat`s. Ie. the following fails

[code]
As the type of `mappend :: Monoid m => m -> m -> m` has a type class constrain.

To fix this we can instantiate the `mappend` type before application. The following is decided SAFE:

[code]

The above code is [here](http://goto.ucsd.edu:8090/index.

[2016-09-02 05:19] nikivazou commented on #827
One clear disadvantage of bounding `Int`s is that you would need to guard all integer operations with overflow checks. For example, Haskell's `(+)` will not be mapped directly to the logical `(+)` but you will have to check for overflows.

Now we have

[code]

With overflow reasoning, the type of `(+)` will look like

[code]

This gets quickly "imprecise" as to extract the result of `n + m` in the

[2016-09-02 16:06] nikivazou commented on #818
I am on this, but since we are not supporting indentation supporting exactly Haskell's syntax seems impossible. To start with, you can now write

[code]

Another alternative (apart from indentation support) would be to require the types in parenthesis. That is
[code]

I am going to pull request my partial solution, and lets discuss what is a good alternative.

[2016-09-02 16:38] nikivazou commented on #825
Since `sizeNT :: xs:NT a -> Int / [len xs]` is SAFE signature I am closing the issue. Still I am concerned because
- `len xs` does not Haskell type check, but is well sorted in the logic
- is the first argument was `xs:[a]` then LH would automatically guess the correct termination metric, not with `xs:NT a` it does not guess any termination metric.

[2016-09-02 18:05] gridaphobe commented on #825
It seems like a fluke that the explicit termination metric works, so let's keep this open.

[2016-09-08 19:23] rrnewton opened #832 "Untrusted-code checking: needs `--termination-check` command line argument"
We're thinking about untrusted code execution a bit.  Currently, if we, the server, get a single file from the untrusted user, it may contain `{-@ LIQUID @-}` pragmas, including `--no-termination-check`.

We could try to *strip* these ourselves before compiling the file.  But a more straightforward approach is to just make sure that command line arguments override in-file pragmas.  We already have

[2016-09-08 19:28] rrnewton commented on #832
Also, note that this is only for preventing nontermination-cheats within the submitted code.  To block cheats from base itself depends on #815.

At the same time, we also depend on Safe Haskell plus a suitable trust list to block other problems.

[2016-09-08 20:41] nikivazou commented on #832
So, how about adding a `--safeLiquidHaskell` argument that for now just enforces termination check?

[2016-09-17 17:01] rrnewton commented on #832
That would be great.  Would that be an alias for multiple flags?  If not, how about just calling it `--termination-check` for symmetry with `--no-termination-check`?

[2016-09-23 04:52] jeanqasaur opened #834 "Problem building prover submodule"
Hi, I'm getting the following issue building the prover submodule (with head at 94912a7, though I also had this problem with head at 9be047). Is there some dependency I'm missing? Thanks!

~/code/liquidhaskell/prover$ cabal install
Resolving dependencies...
Configuring prover-0.1.0.0...
Building prover-0.1.0.0...
Failed to install prover-0.1.0.0
Build log ( /home/jeanyang/.cabal/logs/prover-0.1.0.

[2016-09-23 05:41] ranjitjhala commented on #834
Hi @jeanqasaur!,

are you by any chance trying to build _only_ the prover? (Or LH in general, and you get this with prover?)

If the former -- we'll look into it (though I don't know if we've ever built prover outside of LH... @nikivazou?)

If the former -- can you try using `stack` (i've found it to be a real godsend in these matters...)

https://github.com/ucsd-progsys/liquidhaskell/blob/develop

[2016-09-23 14:20] jeanqasaur commented on #834
Hi, I ran into a problem with the prover dependency when running "make
test" so then I tried to build prover by itself. I'm running into the same
problem with both cabal and stack, which is that there is some variable
"defConfig" that is not defined. Is "make test" supposed to still work?
Thanks!

--
Jean Yang
website <http://jeanyang.com/> | twitter <http://twitter.com/jeanqasaur>

On Fri, Sep 23

[2016-09-23 14:25] ranjitjhala commented on #834
Hmm.

1. Does "stack install" work in the top level directory?
2. Can you then do "stack exec -- liquid tests/pos/Abs.hs"

?

On Friday, September 23, 2016, Jean Yang <notifications@github.com> wrote:

[2016-09-23 14:27] jeanqasaur commented on #834
Yes, both work and Abs.lhs is safe.

--
Jean Yang
website <http://jeanyang.com/> | twitter <http://twitter.com/jeanqasaur>

On Fri, Sep 23, 2016 at 10:25 AM, Ranjit Jhala <notifications@github.com>
wrote:

[2016-09-23 14:29] jeanqasaur commented on #834
I'm also able to run the tutorial examples, which makes it confusing that
"make test" should fail...

--
Jean Yang
website <http://jeanyang.com/> | twitter <http://twitter.com/jeanqasaur>

On Fri, Sep 23, 2016 at 10:27 AM, Jean Yang <jean.yang.writeme@gmail.com>
wrote:

[2016-09-23 14:48] ranjitjhala commented on #834
Great! Can you also check if the following work:

1. `stack test liquidhaskell` ... to run the full suite (may take a while..)

2. `liquid tests/pos/Abs.hs` ... as `stack install` should have put the
executable `liquid` in your path (assuming you added `~/.local/bin/` to
your $PATH

That should be it.

There's something fishy about the `test` rule in the  Makefile/cabal that
we'll have to fix (per

[2016-09-23 14:57] jeanqasaur commented on #834
Thanks! Yes, liquid seemed to install properly, but I get this error with
"stack test liquidhaskell:"

--  While building package prover-0.1.0.0 using:

/home/jeanyang/.stack/setup-exe-cache/x86_64-linux/setup-Simple-Cabal-1.22.5.0-ghc-7.10.3
--builddir=.stack-work/dist/x86_64-linux/Cabal-1.22.5.0 build lib:prover
exe:prover --ghc-options " -ddump-hi -ddump-to-file"
    Process exited with code: E

[2016-09-23 15:14] ranjitjhala commented on #834
Yikes...! Ok I'll look into that ASAP!

On Friday, September 23, 2016, Jean Yang <notifications@github.com> wrote:

[2016-09-23 18:14] ranjitjhala commented on #834
Grr. Can't reproduce this; a fresh clone seems to do

[code]

@jeanqasaur can you try a fresh sequence? Could the earlier use of cabal have caused some wierdness?

[2016-09-23 21:40] jeanqasaur commented on #834
Yes, that works--thanks! What is lh-test?

--
Jean Yang
website <http://jeanyang.com/> | twitter <http://twitter.com/jeanqasaur>

On Fri, Sep 23, 2016 at 2:14 PM, Ranjit Jhala <notifications@github.com>
wrote:

[2016-09-23 22:59] ranjitjhala commented on #834
Oh LH-test was just a random directory name I made up for the fresh clone...

On Friday, September 23, 2016, Jean Yang <notifications@github.com> wrote: